﻿@using ImageCombo.Controls
@using ImageCombo.Models

@model IEnumerable<Category>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @Styles.Render("~/Content/SyntaxHighlighter/codeHighlight")
}

@section Scripts{
    <script src="~/Scripts/app.js"></script>
    @Scripts.Render("~/bundles/SyntaxHighlighter/codeHighlight")
}
<link href="~/Content/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<div>
    <div class="col-md-10">
        <div>
            <ul id="navList" class="nav nav-tabs" role="tablist">
                <li><a class="semi-bold" role="tab" href="#sample" data-toggle="tab">サンプル</a></li>
                <li><a class="semi-bold" role="tab" href="#source" data-toggle="tab">ソース</a></li>
            </ul>
            <div id="panelList" class="tab-content">
                <div class="tab-pane pane-content active collapse-panel" id="sample">
                    <div class="demo-control">
                        <div>
                            <label>ImageCombo</label>
                            @(Html.Custom().ImageCombo().Bind(Model)
                                .DisplayMemberPath("CategoryName")
                                .ImageMemberPath("Picture")
                                .ImageType(ImageType.Bmp))
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="demo-description">
                        <h3 class="semi-bold">説明</h3>
                        <div>
                            このサンプルは、ComponentOne MVC Controlを継承する方法を示しています。
                            <ul>
                                <li><b>ImageCombo</b>はComboBoxから継承されています。</li>
                                <li>2つの新しいプロパティが追加されています。
                                    <ul style="list-style-type:square">
                                        <li><b>ImageMemberPath</b>は、基底のデータソースのImage列のフィールド名にバインドされています。</li>
                                        <li><b>ImageType</b>は画像のタイプです。</li>
                                    </ul>
                                </li>
                                <li>ImageComboは、ComboBoxの<b>Register</b>メソッドをオーバーライドします。</li>
                                <li><i>ImageMemberPath</i>が設定されている場合、カスタマイズされたテンプレートは<b>ItemTemplateContent</b>に設定されます。</li>
                                <li><b>ImageComboBuilder</b>および<b>ImageComboBuilderFactory</b>クラスは拡張プロパティをサポートするように定義されています。</li>
                                <li>カスタムHtmlHelper拡張メソッドが追加されています。</li>
                                <li><b>Base64StringConverter</b>はJsonConverterから継承され、画像を表示するために、バイト配列からBase64文字列への変換をサポートしています。</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane pane-content collapse-panel mob-hide-1" id="source">
                    <div>
                        @Html.Partial("_DemoSource", ControlPages.GetPageSources())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>