﻿@ModelType Boolean
@Code
    Dim screenCss = If(Model, "narrow-screen", "wide-screen")
End Code
<ul Class="site-nav @screenCss">
    <li>
        <a href="@Url.Action("Index", "Home")">@Html.Raw(Resources.Resource.SiteNav_Home)</a>
    </li>
    <li>
        <a href="@(Resources.Resource.SiteNav_AboutUrl)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_About)</a>
    </li>
    <li>
        <a href="@(Resources.Resource.SiteNav_SupportUrl)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_Support)</a>
    </li>
    <li>
        <a href="@(Resources.Resource.SiteNav_PricingUrl)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_Pricing)</a>
    </li>
    <li class="bold">
        <a href="@(Resources.Resource.SiteNav_FreeTrialUrl)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_FreeTrial)</a>
    </li>
@If (ViewBag.Email IsNot Nothing) Then
    @<li class="signout-btn">
        <a href="javascript:void(0)" onclick="logout()" title="@ViewBag.Email (@ViewBag.Role)">@Html.Raw(Resources.Resource.SiteNav_SignOut)</a>
    </li>
End If
</ul>
