﻿@ModelType ManageUserViewModel

<p class="text-info">
    このサイトのローカル ユーザー名/パスワードがありません。ローカル
    アカウントを追加し、外部ログインなしでログインできるようにしてください。
</p>

@Using Html.BeginForm("Manage", "Account", FormMethod.Post, New With {.class = "form-horizontal", .role = "form"})
    @Html.AntiForgeryToken()

    @<text>
    <h4>ローカル ログインの作成</h4>
        <hr />
         @Html.ValidationSummary("", New With {.class = "text-danger"})
         <div class="form-group">
            @Html.LabelFor(Function(m) m.NewPassword, New With {.class = "col-md-2 control-label"})
            <div class="controls">
                @Html.PasswordFor(Function(m) m.NewPassword, New With {.class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Function(m) m.ConfirmPassword, New With {.class = "col-md-2 control-label"})
            <div class="controls">
                @Html.PasswordFor(Function(m) m.ConfirmPassword, New With {.class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="パスワードの設定" class="btn btn-default" />
            </div>
        </div>
    </text>
End Using
