
<h1>
    @Html.Raw(Resources.C1Input.Architecture_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.Architecture_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.Architecture_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Input.Architecture_Text3)
</p>
<ul>
    <li>@Html.Raw(Resources.C1Input.Architecture_Text4)</li>
    <li>@Html.Raw(Resources.C1Input.Architecture_Text5)</li>
</ul>
<p>
    @Html.Raw(Resources.C1Input.Architecture_Text6)
</p>

<p>
    @Html.Raw(Resources.C1Input.Architecture_Text7)
</p>
<ul>
    <li>@Html.Raw(Resources.C1Input.Architecture_Text8)</li>
    <li>@Html.Raw(Resources.C1Input.Architecture_Text9)</li>
    <li>@Html.Raw(Resources.C1Input.Architecture_Text10)</li>
    <li>@Html.Raw(Resources.C1Input.Architecture_Text11)</li>
    <li>@Html.Raw(Resources.C1Input.Architecture_Text12)</li>
</ul>

<p>
    @Html.Raw(Resources.C1Input.Architecture_Text13)
</p>
<ul>
    <li>@Html.Raw(Resources.C1Input.Architecture_Text14)</li>
    <li>@Html.Raw(Resources.C1Input.Architecture_Text15)</li>
    <li>@Html.Raw(Resources.C1Input.Architecture_Text16)</li>
</ul>