<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Getting Started with Wijmo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=960">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Wijmo CSS and script -->
    <link href="http://cdn.wijmo.com/themes/metro/jquery-wijmo.css" rel="stylesheet" title="metro-jqueryui" type="text/css" />
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.css" rel="stylesheet" type="text/css" />

    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.js" type="text/javascript"></script>

    <!-- KnockoutJS for MVVM-->
    <script src="http://cdn.wijmo.com/wijmo/external/knockout-2.2.0.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/interop/knockout.wijmo.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <style type="text/css">
        body
        {
            font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
            font-size: 14px;
            background: #000;
        }

        h1
        {
            font-size: 2.4em;
            font-weight: normal;
            color: #fff;
            padding: 20px 0 0 6px;
            margin: 0;
        }

        h2
        {
            font-weight: normal;
        }

        .container
        {
            margin: 0 auto;
            width: 960px;
        }

        .app
        {
            overflow: hidden;
            background: #fff;
            padding: 20px;
            box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
        }

        .toolbar
        {
            text-align: right;
        }

        #dataGrid
        {
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        // when document loads, create ViewModel, and apply bindings
        //Create ViewModel
        var viewModel = function () {
            var self = this;
            self.val = ko.observable(50);
            self.min = 0;
            self.max = 100;
        };

        //Bind ViewModel
        $(document).ready(function () {
            var vm = new viewModel();
            ko.applyBindings(vm);
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Getting Started with Wijmo</h1>
        <div class="app">
            <div>
                <h2>Textbox</h2>
                <input data-bind="value: val" style="width: 200px;" />
                <span data-bind="text: val"></span>
                <h2>Slider</h2>
                <div data-bind="wijslider: { value: val, min: min, max: max }" style="width: 200px;">
                </div>
                <h2>Gauge</h2>
                <div data-bind="wijlineargauge: { value: val, min: min, max: max }">
                </div>
            </div>
            <p>
                Made with <a href="http://knockoutjs.com">KnockoutJS</a> and <a href="https://www.grapecity.com/en/controls/wijmo/wijmo-3/">Wijmo</a>
            </p>
        </div>
    </div>
</body>
</html>
