@{
    ClientSettingsModel optionsModel = ViewBag.DemoSettingsModel;
}

@(Html.C1().PivotEngine().Id("cubeEngine")
    .ShowRowTotals(ShowTotals.Subtotals)
    .ShowColumnTotals(ShowTotals.Subtotals)
    .BindCubeService("https://ssrs.componentone.com/OLAP/msmdpump.dll", "Adventure Works")
    .RowFields(pfcb => pfcb.Items("[Customer].[Country]"))
    .ColumnFields(cfcb => cfcb.Items("[Customer].[Occupation]"))
    .ValueFields(vfcb => vfcb.Items("[Measures].[Customer Count]"))
)

<div class="row">
    <div class="col-sm-4 col-md-4">
        @Html.C1().PivotPanel().Id(optionsModel.ControlId).ItemsSourceId("cubeEngine")
    </div>
    <div class="col-sm-8 col-md-8">
        @Html.C1().PivotGrid().Id("indexGrid").ItemsSourceId("cubeEngine")
    </div>
</div>

@section Description{
<p>@Html.Raw(Resources.Olap.Cube_Text0)</p>

<p>@Html.Raw(Resources.Olap.Cube_Text1)</p>

}
@section Summary{
<p>@Html.Raw(Resources.Olap.Cube_Text2)</p>

}
