﻿<div class="header visible-xs visible-sm">
    <div class="container">
        <h1>FlexSheet</h1>
    </div>
</div>
<div class="header hidden-xs hidden-sm">
    <div class="container">
        <img src="@Url.Content("~/Content/images/c1logo.png")" alt="Component One ASP.Net MVC" />
        <h1>FlexSheet</h1>
    </div>
</div>
<div class="container">
    <br /><br />
    <div class="row">
        <div class="col-md-6">
            <h2><a href="@Url.Action("ExcelLike")">Excel形式のアプリケーション</a></h2>
            <p>Excel形式のシートを表示します。リボン、FlexSheetコントロール、およびステータスバーが含まれます。</p>
            <p><a href="@Url.Action("ExcelLike")" class="sampleButton">Excel形式のアプリケーションを表示</a></p>
        </div>
        <div class="col-md-6">
            <h2><a href="@Url.Action("StandAlone")">スタンドアロンシート</a></h2>
            <p>スタンドアロンのFlexSheetコントロールを示します。</p>
            <p><a href="@Url.Action("StandAlone")" class="sampleButton">スタンドアロンシートを表示</a></p>
        </div>
    </div>
    <footer>
        <a href="https://www.grapecity.co.jp/developer" class="c1logo">
            <img src="~/Content/images/grapecityLogo.png" />
        </a>
        <p>
            © @DateTime.Now.Year GrapeCity, Inc. All Rights Reserved.<br />
            All product and company names here in may be trademarks of their respective owners.
        </p>
        <a href="https://www.facebook.com/GrapeCity.dev.JP">
            <img src="~/Content/images/icons/32/picons36.png" alt="facebook" />
        </a>
        <a href="https://twitter.com/GrapeCity_dev" target="_blank">
            <img src="~/Content/images/icons/32/picons33.png" alt="Twitter" />
        </a>
    </footer>
    <br /><br /><br />
</div>