﻿@{
    ViewBag.DemoSettings = true;
    ClientSettingsModel settings = ViewBag.DemoSettingsModel;
}
@section Styles{
    <style>
        .btn {
            height: auto;
        }

        .popover {
            display: block;
        }

        .tab-content > .tab-pane {
            display: block;
        }
    </style>
}
<label>@Html.Raw(PopupRes.Index_Text2)</label>
<!-- The popup owners. -->
<button id="btn1" type="button" class="btn btn-default">
    @Html.Raw(PopupRes.Index_ClickToShowPopupForm)
    <br>
    <small>@Html.Raw(PopupRes.Index_Description1)</small>
</button>

<button id="btn2" type="button" class="btn btn-default">
    @Html.Raw(PopupRes.Index_ClickToShowPopupForm)
    <br>
    <small>@Html.Raw(PopupRes.Index_Description2)</small>
</button>

<button id="btn3" type="button" class="btn btn-default">
    @Html.Raw(PopupRes.Index_ClickToShowPopupForm)
    <br>
    <small>(@Html.Raw(PopupRes.Index_Description3)</small>
</button>
<br />
<br />

<strong style="color:red">@Html.Raw(PopupRes.Index_Title4)</strong>
<br />
<p style="color:red">@Html.Raw(PopupRes.Index_Description5)</p>

<button id="btn4" type="button" class="btn btn-default">
    <small>(@Html.Raw(PopupRes.Index_Description4)</small>
</button>
<br />
<br />
<br />

<c1-popup class="popover" style="display:none;" id="popup1" owner="#btn1" hide-trigger="Click" is-resizable="true">
    <h3 class="popover-title">
        @Html.Raw(PopupRes.Index_Title)
    </h3>
    <div class="popover-content">
        @Html.Raw(PopupRes.Index_Text0)
    </div>
</c1-popup>

<c1-popup class="popover" style="display:none;" id="popup2" owner="#btn2" hide-trigger="Blur">
    <h3 class="popover-title">
        @Html.Raw(PopupRes.Index_Title)
    </h3>
    <div class="popover-content">
        @Html.Raw(PopupRes.Index_Text0)
    </div>
</c1-popup>

<c1-popup class="popover" style="display:none;" id="popup3" owner="#btn3" hide-trigger="None">
    <h3 class="popover-title">
        @Html.Raw(PopupRes.Index_Title)
    </h3>
    <div class="popover-content ">
        <form name="popoverForm">
            <p>@Html.Raw(PopupRes.Index_Text0)</p>
            <pre>2 + 3 = <span class="">5</span></pre>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">@@</div>
                    <input class="form-control" type="email" placeholder="@PopupRes.Index_EnterEmail">
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-danger wj-hide">@Html.Raw(PopupRes.Index_Close)</button>
                <button type="button" class="btn btn-primary wj-hide">@Html.Raw(PopupRes.Index_SaveChanges)</button>
            </div>
        </form>
    </div>
</c1-popup>

<c1-popup class="popover" style="display:none;" id="popup4" owner="#btn4" show-trigger="None" hide-trigger="None">
    <h3 class="popover-title">
        @Html.Raw(PopupRes.Index_Title)
    </h3>
    <div class="popover-content">
        @Html.Raw(PopupRes.Index_Text0)
    </div>
</c1-popup>

@section Scripts{
    <script>
        function setProperty(property, value) {
            var control = wijmo.Control.getControl('#popup4');
            if (control) {
                control[property] = value;
            }
        }

        function customChangeShowTrigger(popup, value) {
            setProperty('showTrigger', value);
        }

        function customChangeHideTrigger(popup, value) {
            setProperty('hideTrigger', value);
        }
    </script>
}

@section Description{
    @Html.Raw(PopupRes.Index_Text1)
    <br />
    @Html.Raw(PopupRes.Index_Text3)
}
