﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - $safeprojectname$</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="~/css/cellStyles.css" />
    <link rel="stylesheet" href="~/css/ribbon.css" />
    <c1-styles $if$ ($customthemeisset$ == True)theme="$customtheme$" $endif$/>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/app/app.js"></script>
$if$ ($enabledeferredscripts$ != True)
    <c1-scripts>
        <c1-basic-scripts></c1-basic-scripts>
        <c1-flex-sheet-scripts></c1-flex-sheet-scripts>
    </c1-scripts>$endif$
</head>
<body>
    @RenderBody()

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>$if$ ($enabledeferredscripts$ == True)
    <c1-scripts>
        <c1-basic-scripts></c1-basic-scripts>
        <c1-flex-sheet-scripts></c1-flex-sheet-scripts>
    </c1-scripts>$endif$
    @RenderSection("scripts", required: false)$if$ ($enabledeferredscripts$ == True)
    <c1-deferred-scripts />$endif$
</body>
</html>
