﻿/* Button */
.wj-fm-btn {
    padding: 6px 12px !important;
    /*background: none !important;*/
    cursor: pointer;
    display: inline-block;
    border-style: none;
    padding: 0 10px;
    text-align: center;
    min-width: 30px;
    white-space: nowrap;
}

.fm-dialog-footer>button{
    margin:0 5px 0 0;
    border-radius:3px;
}

.wj-fm-btn:active,
.wj-fm-btn:hover {
    background: rgba(0, 0, 0, 0.05) !important;
    transition-duration: 0s !important;
}

ul#options>li{
    margin-left:4px;
    }

    .pb-filemng-template {
	    margin-top: 40px;
	    font-family: 'Sansita', sans-serif;
    }

    .pb-filemng-navbar {
	    margin-bottom: 0 !important;
        border-color: #ddd !important;
        border-bottom: none !important;
    }

    .treeview-toggle-btn {
	    margin-left: 15px;
    }

    .pb-filemng-template-btn {
	    background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        outline:none;
        color: gray;
        padding: 0px 13px 0px 13px;
    }

    .pb-filemng-active {
	    border-bottom: 2px solid #6d97db;
	    color: #5f6977;
    }

    .pb-filemng-template-btn:hover {
	    color: blue;
    }

    .pb-filemng-body-folders > img:hover {
	    cursor: pointer;
    }

    .btn-align {
	    margin-top: 7px;
    }

    .pb-filemng-template-treeview {
	    border-right: 1px solid #ddd;
    }

    .pb-filemng-folder {
	    color: orange;
	    padding-bottom: 3px;
    }

    .pb-filemng-paragraphs {
	    margin-top: -20px;
	    text-align: center;
    }

    .img-responsive {
	    margin: 0 auto;
    }

	.btn-file {
	height: 34px;
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.modal-body {
  min-width: 300px;
}

input:invalid {
  border-color: red;
}


/* CSS animations for fading in and out */

.custom-animation {
  opacity: 0;
  transform: rotate3d(1, .5, .5, 180deg) scale(0.1);
  transition: all ease-in .4s;
}

.custom-animation-visible {
  opacity: 1;
  transform: none;
}

.modal-body {
  min-width: 300px;
}

input:invalid {
  border-color: red;
}


/* CSS animations for fading in and out */
.border{
    border-bottom:1px solid #ddd;
}
.border-left{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;    
}

.custom-animation {
  opacity: 0;
  transform: rotate3d(1, .5, .5, 180deg) scale(0.1);
  transition: all ease-in .4s;
}

.custom-animation-visible {
  opacity: 1;
  transform: none;
}

body {
  margin-bottom: 24pt;
}

.container-nav{
    padding-left:15px;
}

.fm-nav-link{
    background-color:white;
    border: 1px solid thin;
    height:30px;
}

.cloud-link>small>a{
    /*color:#575757!important;*/
    cursor: default;
}
.li-nav>a{
    color:none;
}

.wj-listbox .wj-glyph {
  display: inline-block;
  width: 2em;
  text-align: center;
}
.wj-listbox .wj-listbox-item:not(.wj-state-selected) .wj-glyph {
  color: navy;
}

.wj-listbox-item {
  padding: 4px 6px 3px 6px;
}

.li-nav{
    padding:0px!important;
}

div.wj-file-manager .btn,
div.wj-file-manager div,
div.wj-file-manager input,
div.wj-file-manager nav {
    border-radius: 0 !important;
}

.fm-search-input {
    border-left: none !important;
    padding-left: 0px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #ccc !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.fm-search-input:focus,
.fm-search-input:active,
.fm-search-input *:focus {
    border-color: #ccc !important;
    outline: 0px !important;
    -webkit-appearance:none;
}

* {box-sizing: border-box;}


.wrapper > div {
    padding: 1px;
}

.wrapper {
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /*-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;*/
}

.thumb-item{
    height:80px;
    text-align:center;
    overflow:hidden;
}
.thumb-item > svg
{   
    width:100%!important;
    height:50px!important;
}

.opa1{
    opacity:1;
}

.opa5{
    opacity:0.5;
}

.fm-container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 768px) {
        .fm-list-box{
        overflow:hidden;
    }
    .fm-navbar-nav>li {
        float: left;
    }

    .fm-navbar-collapse
    .collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .fm-navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
      }

    .fm-navbar-left {
        float: left!important;
    }

    .fm-navbar-nav {
        float: left;
        margin: 0;
    }

    .fm-navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .fm-navbar-collapse {
        max-height: 340px;
        padding-right: 15px!important;
        padding-left: 15px!important;
        overflow-x: visible;
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    }

    .fm-col-sm-1,
    .fm-col-sm-2,
    .fm-col-sm-3,
    .fm-col-sm-4,
    .fm-col-sm-5,
    .fm-col-sm-6,
    .fm-col-sm-7,
    .fm-col-sm-8,
    .fm-col-sm-9,
    .fm-col-sm-10,
    .fm-col-sm-11,
    .fm-col-sm-12 {
        float: left;
    }

    .fm-col-sm-9,
    .fm-col-md-9
    {
        width: 75%;
        float:left;
    }
    .fm-col-sm-8,
    .fm-col-md-8
    {
        width: 66.66666666%;
        float:left;
    }
    .fm-col-sm-4,
    .fm-col-md-4 {
        width: 33.33333333%;
    }
    .fm-col-sm-3,
    .fm-col-md-3
    {
        width: 25%;
        float:left;
    }

    .fm-col-sm-2,
    .fm-col-md-2
    {
        width: 16.66666666%;
        float:left;
    }
        
    .fm-col-sm-1, 
    .fm-col-md-1, 
    .fm-col-sm-2, 
    .fm-col-md-2, 
    .fm-col-sm-3, 
    .fm-col-md-3, 
    .fm-col-sm-4, 
    .fm-col-md-4, 
    .fm-col-sm-5, 
    .fm-col-md-5, 
    .fm-col-sm-6, 
    .fm-col-md-6, 
    .fm-col-sm-7, 
    .fm-col-md-7, 
    .fm-col-sm-8, 
    .fm-col-md-8, 
    .fm-col-sm-9, 
    .fm-col-md-9,  
    .fm-col-sm-10, 
    .fm-col-md-10, 
    .fm-col-sm-11, 
    .fm-col-md-11, 
    .fm-col-sm-12, 
    .fm-col-md-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;  
    }
}

@media (min-width: 992px) {
    .fm-list-box{
        overflow:hidden;
    }

    .fm-col-sm-1,
    .fm-col-sm-2,
    .fm-col-sm-3,
    .fm-col-sm-4,
    .fm-col-sm-5,
    .fm-col-sm-6,
    .fm-col-sm-7,
    .fm-col-sm-8,
    .fm-col-sm-9,
    .fm-col-sm-10,
    .fm-col-sm-11,
    .fm-col-sm-12 {
        float: left;
    }

    .fm-col-sm-9,
    .fm-col-md-9
    {
        width: 75%;
        float:left;
    }
    .fm-col-sm-8,
    .fm-col-md-8
    {
        width: 66.66666666%;
        float:left;
    }
    .fm-col-sm-4,
    .fm-col-md-4 {
        width: 33.33333333%;
    }
    .fm-col-sm-3,
    .fm-col-md-3
    {
        width: 25%;
        float:left;
    }

    .fm-col-sm-2,
    .fm-col-md-2
    {
        width: 16.66666666%;
        float:left;
    }

    .fm-col-sm-1, 
    .fm-col-md-1, 
    .fm-col-sm-2, 
    .fm-col-md-2, 
    .fm-col-sm-3, 
    .fm-col-md-3, 
    .fm-col-sm-4, 
    .fm-col-md-4, 
    .fm-col-sm-5, 
    .fm-col-md-5, 
    .fm-col-sm-6, 
    .fm-col-md-6, 
    .fm-col-sm-7, 
    .fm-col-md-7,  
    .fm-col-sm-8, 
    .fm-col-md-8,  
    .fm-col-sm-9, 
    .fm-col-md-9,  
    .fm-col-sm-10, 
    .fm-col-md-10,  
    .fm-col-sm-11, 
    .fm-col-md-11, 
    .fm-col-sm-12, 
    .fm-col-md-12{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;      
    }
}

@media (max-width: 767px) {
    .fm-list-box{
    overflow:scroll;
}
    .fm-navbar-nav>li {
        float: left;
    }

    .fm-navbar-collapse
    .collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .fm-navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
      }

        .fm-navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .fm-navbar-collapse {
        max-height: 340px;
        padding-right: 15px!important;
        padding-left: 15px!important;
        overflow-x: visible;
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    }

    .fm-col-xs-1,
    .fm-col-xs-2,
    .fm-col-xs-3,
    .fm-col-xs-4,
    .fm-col-xs-5,
    .fm-col-xs-6,
    .fm-col-xs-7,
    .fm-col-xs-8,
    .fm-col-xs-9,
    .fm-col-xs-10,
    .fm-col-xs-11,
    .fm-col-xs-12 {
        float: left;
    }
    .fm-col-xs-12
    {
        width: 100%;
    }

    .fm-col-xs-9
    {
        width: 75%;
    }
    .fm-col-xs-8
    {
        width: 66.66666666%;
    }
    .fm-col-xs-6
    {
        width: 50%;
    }
    .fm-col-xs-4{
        width: 33.33333333%;
    }
    .fm-col-xs-3
    {
        width: 25%;
    }

    .fm-col-xs-2
    {
        width: 16.66666666%;
    }

    .fm-col-xs-1, 
    .fm-col-xs-2, 
    .fm-col-xs-3, 
    .fm-col-xs-4, 
    .fm-col-xs-5,  
    .fm-col-xs-6, 
    .fm-col-xs-7,  
    .fm-col-xs-8,  
    .fm-col-xs-9,  
    .fm-col-xs-10,  
    .fm-col-xs-11, 
    .fm-col-xs-12{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;      
    }
}

.clearfix:before, 
.fm-container-fluid:before, 
.fm-container-fluid:after, 
.fm-row:before, .row:after, 
.fm-nav:before, 
.fm-nav:after, 
.fm-navbar:before, 
.fm-navbar:after, 
.fm-navbar-header:before, 
.fm-navbar-header:after, 
.fm-navbar-collapse:before, 
.fm-navbar-collapse:after
{
    display: table;
    content: " ";
}

.clearfix:after, 
.fm-container-fluid:after, 
.fm-row:after, 
.fm-nav:after, 
.fm-navbar:after, 
.fm-navbar-header:after, 
.fm-navbar-collapse:after {
    clear: both;
}

.fm-input-group
{
    position: relative;
    display: table;
    border-collapse: separate;
}

.fm-input-group-addon:first-child {
    border-right: 0;
}


.fm-input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.fm-input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.fm-input-group-addon, .fm-input-group-btn, .fm-input-group .fm-form-control {
    display: table-cell!important;
}

.fm-input-group .fm-form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.fm-form-control {
    display: block;
    width: 100%;
    height: 33px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.fm-navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
          transition: height .35s ease;
}

.fm-panel-default
{
    border-color: #ddd;
}

.fm-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.fm-btn {
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
}
.fm-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.fm-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.fm-search-btn
{
    background-color: #fff;
    border-radius: 0;
}

.fm-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.thumb-item-maxH
{
    max-height:80px;
}

.fm-header-max
{
    max-height:21px;    
}