﻿
.wj-formulabar{
    padding: 15px 0 15px 15px;
}
    .wj-formulabar .wj-selection,
    .wj-formulabar .wj-tips{
        width: 16.66666667%;
    }
    .wj-formulabar .wj-inputContainer{
        width: 66.66666667%;
    }
    @media (min-width: 768px){
      .wj-formulabar .wj-selection,
      .wj-formulabar .wj-tips{
        width: 8.33333333%;
      }
    .wj-formulabar .wj-inputContainer{
        width: 83.33333333%;
      }
    }

    .wj-formulabar .wj-content{
        cursor: default;
        overflow: hidden;
        height: 100%;
        width: 100%;
        min-height: 1em;
        margin: 0px;
        padding: 0px;
    }

    .wj-formulabar .wj-selection{
        float: left;
        font-weight: bold;
        padding-left: 15px;
    }

    .wj-formulabar .wj-tips{
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-left: 1px solid rgba(0,0,0,0.2);
        border-right: 1px solid rgba(0,0,0,0.2);
        margin-left: -15px;
        text-align: right;
        float: left;
        padding-right: 15px;
        font-weight: normal;
    }

    .wj-formulabar .wj-inputContainer{
        border-width: 0px;
        height:100%;
        margin: 0px;
        padding: 0px;
        float: left;
    }

        .wj-formulabar .wj-inputContainer .wj-txtinput{
            padding: 0px 12px;
            width: 100%;
            height:100%;
            display: block;
            border-width: 0px;
        }
