﻿body {
	background-color: #f8f8f8;
	font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    padding: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
	font-weight: 300;
}

.header {
    background-color: #ff000a;
    margin-bottom: 14px;
    padding: 12px 0;
}

    .header h1 {
        font-size: 40px;
        line-height: 1;
        margin-top: 0;
    }


	.header img {
		float: left;
		margin: 0 10px 5px 0;
	}

h2 {
	margin: 15px 0 30px -12px;
}

.pane-content {
	background-color: white;
	padding: 0px 8px;
	border: 1px solid #dddddd;
	border-top: none;
	white-space: pre;
	overflow: auto;
	font-size: 13px;
	font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* set default grid height and some shadow */
.wj-flexgrid {
	height: 450px;
	background-color: white;
	box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
	margin-bottom: 12px;
}

/* make grid selection lighter so links are easy to read */
.wj-flexgrid .wj-state-selected {
	background-color: #c9edff;
	color: #000;
}
.wj-flexgrid .wj-state-multi-selected {
	background-color: #e1f5ff;
	color: #000;
}

/* remove gridlines */
.wj-flexgrid .wj-cell {
	border-right-width: 0px;
	border-bottom-width: 0px;
}
.wj-flexgrid .wj-colheaders .wj-cell {
	border-right-width: 1px;
	border-bottom-width: 1px;
}