@{
    Layout = null;
    this.C1EnableDeferredScripts(false);
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ComponentOne MVC PdfViewer</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    @Html.C1().Styles()
    @Html.C1().Scripts().FlexViewer()

</head>
<body>

@(Html.C1().PdfViewer()$if$ ($currentprojectasservice$ == False).ServiceUrl(@"$serverurl$")$endif$.FilePath(@"$documentpath$"))

</body>
</html>