﻿<%@ Page Title="About Us" Language="vb" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="About.vb" Inherits="ControlExplorer_2012.About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        About
    </h2>
    <p>
        Put content here.
    </p>
</asp:Content>
