﻿@{
    var controllerName = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
    var actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    var isHome = string.IsNullOrEmpty(controllerName) || string.Equals(controllerName, "home", StringComparison.OrdinalIgnoreCase);
    var pageText = ControlsClass.GetPageText(controllerName, actionName);
}
<ul class="breadcrumb wide-screen">
    <li class="odd"><a class="glyphicon glyphicon-home" href="@Url.Action("Index", "Home")"></a></li>@if (!isHome)
    {
        <li class="separator1 right-icon"></li>
        <li class="even">@Html.ActionLink(@controllerName, "Index", @controllerName)</li>
        <li class="separator2 right-icon"></li>
        <li class="odd"><span>@pageText</span></li>}
    <li class="separator right-icon"></li>
</ul>