
/* ------------------- css selectors for design time ----------------------------*/


.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .ui-tabs-nav
{
	height:2.5em;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .ui-tabs-panel
{
	height:75px;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .ui-button-icon-only .ui-button-text
{
	width: 16px;
	height: 16px;
	padding:4px 0px;
	margin-left: 4px;
	margin-top: 6px;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .ui-button-text-icon-primary .ui-button-icon-primary
{
	position:static;
	float:left;
	margin-top:0.7em;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .ui-button-text-icon-primary .ui-button-text
{
	padding-left:1.5em;
	padding-right:0px;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .wijmo-wijribbon-review .ui-button-text-icon-primary
{
	width: 5em;
	margin-left: 5px;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .wijmo-wijribbon-review .ui-button-text
{
	text-align: left;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .wijmo-wijribbon-review .wijmo-wijribbon-bigbutton
{
	width: 3.5em;
	margin-left: 0px;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .wijmo-wijribbon-review .wijmo-wijribbon-bigbutton .ui-button-text
{
	text-align: center;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .wijmo-wijribbon-bigbutton
{
	height:4.5em;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .wijmo-wijribbon-bigbutton .ui-icon
{
	position:static;
	margin-top:0.6em;
	margin-left:0.3em;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .wijmo-wijribbon-bigbutton .ui-button-text
{
	width: 100%;
	padding:0px;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .wijmo-wijribbon-dropdownbutton .ui-button
{
	padding: 4px;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon-dropdownbutton .ui-button .ui-button-text
{
	padding-top: 6px;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .wijmo-wijribbon-font {
	width:25em;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon .wijmo-wijribbon-review {
	width:12em;
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijeditor-footer
{
	bottom: 0px;
	position: absolute;
	width: 100%;
}

.wijmo-designtime .ui-icon-designtime
{
	background-image: url('<%= WebResource("C1.Web.Wijmo.Controls.Resources.themes.wijmo.images.wijeditor.wijmo-ui-icons_000000_240x112.png")%>');
}

.wijmo-designtime .wijmo-wijeditor-container .wijmo-wijribbon
{
    font-size: 11px;
    padding: 0;
    border: none;
}

.wijmo-designtime .wijmo-wijribbon .ui-button
{
    border: none;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color: #333;
}

.wijmo-designtime .wijmo-wijribbon-simple .ui-button
{
    float: left;
}

.wijmo-designtime .wijmo-wijribbon .ui-icon
{
    background-image: url('<%= WebResource("C1.Web.Wijmo.Controls.Resources.themes.wijmo.images.wijeditor.wijmo-ui-icons_000000_240x112.png")%>');
}
/* ----------------- end css selectors for design time --------------------------*/