﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.wj-control.wj-state-disabled * {
    background: #eee !important;
}
.grid {
    margin-top: 30px;
    height: 500px;
    border: 2px solid #e0e0e0;
}