﻿@{
    var allGroups = new List<ControlGroup>();
    allGroups.Add(ControlPages.NewGroup);
    allGroups.Add(ControlPages.PopularGroup);
    allGroups.AddRange(ControlPages.ControlGroups);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>@ViewBag.Title@(Resources.Resource.Layout_TitleSuffix)</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/Content/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#503b75">



    @{
        Theme.CurrentTheme = Request.QueryString["theme"];
        MvcExplorer.Models.Culture.CurrentCulture = Request.QueryString["culture"];
    }

    @Styles.Render("~/BootStrapCss")
    <!-- C1-Styles must be position below for not being overrided by boostrap.css, and not override explorer.css -->
    @Html.C1().Styles().Theme(Theme.CurrentTheme)
    @Styles.Render("~/Content/css/explorer")
    @Styles.Render("~/Content/appcss")
    @RenderSection("Styles", false)

    <script src="~/Scripts/jquery.js"></script>
    @Html.C1().Scripts().Basic().Culture(MvcExplorer.Models.Culture.CurrentCulture)
    @Scripts.Render("~/bundles/explorer")
    @RenderSection("Scripts", false)
</head>
<body>


    <div class="hide">
        @Html.Partial("_SiteNav", true)
        <ul class="narrow-screen task-bar-nav">
            @foreach (var group in allGroups)
            {
                @Html.Partial("_ControlGroup", group)
            }
        </ul>
    </div>
    <header>
        <div class="hamburger-nav-btn narrow-screen"><span class="icon-bars"></span></div>
        <a class="logo-container" href="@(Resources.Resource.Layout_ProductUrl)" target="_blank">
            <i class="gcicon-product-c1"></i>@Html.Raw(Resources.Resource.Layout_ComponentOne)
        </a>
        @Html.Partial("_ThemeSelector")
        <div class="task-bar">
            <span class="semi-bold narrow-screen">@Html.Raw(Resources.Resource.Layout_ShortTitle) <span class="wj-glyph-down"></span></span>
            <span class="semi-bold wide-screen">@Html.Raw(Resources.Resource.Layout_LongTitle)</span>
            @Html.Partial("_SiteNav", false)
        </div>
        @Html.Partial("_BreadcrumbNav")
    </header><div class="main-content">
        @RenderBody()
    </div>
    <footer>
        <a href="@(Resources.Resource.Layout_GrapeCityUrl)">
            <i class="gcicon-logo-gc-horiz"></i>
        </a>
        <p>
            © @DateTime.Now.Year @Html.Raw(Resources.Resource.Layout_License1)<br />
            @Html.Raw(Resources.Resource.Layout_License2)
        </p>
        @{
            var url = Request.Url;
            var urlStr = url.OriginalString.Substring(0, url.OriginalString.Length - (url.Query == null ? 0 : url.Query.Length));
        }
        <a href="http://www.facebook.com/sharer.php?u=@urlStr" target="_blank">
            <img src="~/Content/css/images/icons/32/picons36.png" alt="facebook" />
        </a>
        <a href="http://twitter.com/share?text=@(Resources.Resource.Layout_TwitterText)&url=@urlStr" target="_blank">
            <img src="~/Content/css/images/icons/32/picons33.png" alt="Twitter" />
        </a>
    </footer>
</body>
</html>
