﻿<!--0-->
<c1-input-number min="23.0" max="456.0" placeholder="@InputNumberRes.Index_EnterANumber" is-required="false"
                 id="s455"></c1-input-number>
<!--1-->
<c1-input-number for="@Model.Count"></c1-input-number>
<!--2-->
<c1-input-number value="0" format="n0" />
<!--3-->
<c1-input-time id="iditInputTime" value="@DateTime.Now" min="@minTime" max="@maxTime"></c1-input-time>
<!--4-->
<c1-input-time value="dt" format="hh:mm">
    <c1-items-source source-collection="timeList"></c1-items-source>
</c1-input-time>
<!--5-->
<c1-input-color value="White" value-changed="changeColor"></c1-input-color>

<!--6-->
<c1-input-date id="idcInputDate" value="@today" min="@minDate" max="@maxDate" value-changed="changeDate">
</c1-input-date>
<!--7-->
<c1-input-date-time value="@today">
</c1-input-date-time>
<!--8-->
<c1-input-mask mask="(999) 000-0000" title="Mask: (999) 000-0000"></c1-input-mask>
<!--9-->
<c1-input-mask id="imCustomInput" placeholder="@InputMaskRes.Index_EnterAnInputMask" value-changed="valueChanged"></c1-input-mask>
<!--10-->
<c1-input-number for="@model.Id" id="imCustomInput" class="inputnumber" width="100px" height="40px"></c1-input-number>