﻿<!--0-->
<c1-multi-select display-member-path="ProductName" selected-value-path="ProductID" checked-member-path="Discontinued">
    <c1-items-source source-collection="Model.Products" />
</c1-multi-select>
<!--1-->
<c1-multi-select for="@Model.Products" placeholder="@MultiSelectRes.Form_Placeholder" header-format="@MultiSelectRes.Form_HeaderFormat">
    <c1-items-source source-collection="products" />
</c1-multi-select>
<!--2-->
<c1-multi-select id="multiselect" placeholder="@MultiSelectRes.Index_Placeholder" header-format="@MultiSelectRes.Index_HeaderFormat" 
                 checked-items-changed="checkedItemsChanged">
    <c1-items-source source-collection="countries" />
</c1-multi-select>
