﻿@model EditableAnnotationLayer.Models.FlexChartModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/Content/c1logo.png")" alt="Component One ASP.Net MVC" />
        <h1>
            編集可能な注釈
        </h1>
        <p>
            FlexChartで注釈を表示および編集します。
        </p>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>
                このサンプルには、以下の機能が含まれます。
            </p>
            <ul>
                <li>
                    チャートの左上にあるボタンをクリックして、定義済みの注釈タイプ/スタイルから1つを選択できます。
                    次にチャートのプロット領域をクリックして、注釈を追加し、サイズ変更できます。
                </li>
                <li>［データ座標］ボタン（左端のボタン）をクリックして、追加する注釈を添付する位置をAbsolute（絶対座標）とDataCoordinate（データ座標）から選択できます。</li>
                <li>新しいボタンを追加して、コードで新しい注釈タイプ/スタイルを作成できます。 黄色の三角形ボタンはカスタムボタンで、手作業で追加されています。</li>
                <li>チャート上で注釈をドラッグできます。</li>
                <li>注釈をダブルクリックして、テキストを編集できます。</li>
                <li>［x］ボタンを使用して注釈を削除できます。</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <label id="labelIsEditable" for="checkboxIsEditable">編集を可能にする:</label>
            <input type="checkbox" id="checkboxIsEditable" onchange="checkboxIsEditable_OnChanged()" checked="checked" />
        </div>

    </div>
    @(Html.C1().FlexChart().Id("anChart").Bind(Model.CountrySalesData).Tooltip(t => t.Content("x={x}<br/>y={y}"))
        .Tooltip(t => t.Content("")).ChartType(C1.Web.Mvc.Chart.ChartType.Scatter)
        .BindingX("x").Legend(C1.Web.Mvc.Chart.Position.None)
        .Series(sers =>
        {
            sers.Add().Binding("y");
        })
    )
</div>

<script type="text/javascript">
    c1.documentReady(function () {
        if (window["initialControls"]) {
            window["initialControls"]();
        }
    });
</script>

