@section Scripts{<script type="text/javascript" src="~/Scripts/flexSheet/frozenCells.js"></script>}
<div>
    <div class="copy">
        <h3>
            @Html.Raw(FlexSheetRes.FrozenCells_Text2)
        </h3>
<p>@Html.Raw(FlexSheetRes.FrozenCells_Text0)</p>

    </div>
    <button type="button" class="btn btn-default" onclick="freezeCells()" id="frozenBtn">@Html.Raw(FlexSheetRes.FrozenCells_Text3)</button>
    <div>
        <c1-flex-sheet id="frozenSheet" class="flexSheet" selected-sheet-changed="updateFrozenState">
            <c1-unbound-sheet column-count="8" row-count="20"></c1-unbound-sheet>
        </c1-flex-sheet>
    </div>
</div>
@section Summary{
<p>@Html.Raw(FlexSheetRes.FrozenCells_Text1)</p>

}
