<div>
    <div class="copy">
        <h3>
            @Html.Raw(FlexSheetRes.Intro_Text4)
        </h3>
<p>@Html.Raw(FlexSheetRes.Intro_Text0)</p>

        <div class="collapsed-content collapse">
<p>@Html.Raw(FlexSheetRes.Intro_Text1)</p>

            <dl class="dl-horizontal">
                <dt>@Html.Raw(FlexSheetRes.Intro_Text5)</dt>
                <dd>@Html.Raw(FlexSheetRes.Intro_Text6)</dd>
                <dt>@Html.Raw(FlexSheetRes.Intro_Text7)</dt>
                <dd>
                    @Html.Raw(FlexSheetRes.Intro_Text8)
                </dd>
                <dt>@Html.Raw(FlexSheetRes.Intro_Text9)</dt>
                <dd>@Html.Raw(FlexSheetRes.Intro_Text10)</dd>
                <dt>@Html.Raw(FlexSheetRes.Intro_Text11)</dt>
                <dd>@Html.Raw(FlexSheetRes.Intro_Text12)</dd>
                <dt>@Html.Raw(FlexSheetRes.Intro_Text13)</dt>
                <dd>
                    @Html.Raw(FlexSheetRes.Intro_Text14)
                </dd>
                <dt>@Html.Raw(FlexSheetRes.Intro_Text15)</dt>
                <dd>@Html.Raw(FlexSheetRes.Intro_Text16)</dd>
                <dt>@Html.Raw(FlexSheetRes.Intro_Text17)</dt>
                <dd>@Html.Raw(FlexSheetRes.Intro_Text18)</dd>
            </dl>
        </div>
        <p>
            <button type="button"
                    data-toggle="collapse"
                    data-target=".collapsed-content, .btn.btn-default.btn-xs.collapse"
                    class="btn btn-default btn-xs collapse in">
                @Html.Raw(FlexSheetRes.Intro_Text2)
            </button>
        </p>
    </div>
    <div>
        <c1-flex-sheet class="flexSheet">
            <c1-unbound-sheet column-count="12" row-count="25"></c1-unbound-sheet>
            <c1-unbound-sheet column-count="12" row-count="25"></c1-unbound-sheet>
        </c1-flex-sheet>
    </div>
</div>
@section Summary{
<p>@Html.Raw(FlexSheetRes.Intro_Text3)</p>

}
