﻿@using MvcExplorer.Models
@model IEnumerable<Sale>

@{
    var columnLayout = ViewBag.ColumnLayout as string;
    ViewBag.Title = "列レイアウトの保存";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <div class="container">
        <img src="@Url.Content("~/Content/c1logo.png")" alt="Component One ASP.Net MVC" />
        <h1>
            列レイアウトの保存
        </h1>
        <p>
            このページでは、FlexGridの列レイアウトをサーバー側で保存/ロードする方法を示します。
        </p>
    </div>
</div>
<div class="container">
    <div>
        <h2>はじめに</h2>
        <p>
            このサンプルでは、FlexGridの列レイアウトを「ColumnLayout.json」ファイルに保存し、列レイアウトをjsonファイルからロードする方法を示します。
        </p>
        <p>
            これがどう動作するかを確認するには、次の手順に従います。
        </p>
        <ol>
            <li>
                いくつかの列をサイズ変更し、新しい位置にドラッグします。
            </li>
            <li>
                ［列レイアウトの保存］ボタンをクリックし、変更をサーバーの「ColumnLayout.json」ファイルに保存します。
            </li>
            <li>
                ［ページの再読み込み］ボタンをクリックすると、ページがリフレッシュされて元のレイアウトが復元されます。
            </li>
            <li>
                列がレイアウトを維持していることがわかります。
            </li>
        </ol>
        <input type="button" value="列レイアウトをサーバーに保存" class="btn" onclick="saveColumnLayout()" />
        <input type="button" value="ページをリロード" class="btn" onclick="location.reload()" />
        @(Html.C1().FlexGrid<Sale>()
            .Id("flexgrid")
            .AutoGenerateColumns(true)
            .IsReadOnly(true)
            .AllowSorting(false)
            .CssClass("grid")
            .Bind(Model)
            .ColumnLayout(columnLayout)
        )
    </div>
</div>
<script>
    function saveColumnLayout() {
        var columnLayout = wijmo.Control.getControl("#flexgrid").columnLayout;
        wijmo.httpRequest('@Url.Action("SaveColumLayout","Home")', {
            method: "POST",
            data: { columnLayout: columnLayout },
            success: function (xhr) {
                var data = JSON.parse(xhr.response);
                if (data.Result) {
                    alert("列レイアウトを保存しました。")
                } else {
                    alert("列レイアウトを保存できませんでした。" + data.Exception);
                }
            }
        });
    }
</script>
