﻿@using Benchmark.Models
@using Infragistics.Web.Mvc
@model IQueryable<Sale>
@{
    bool paging = Benchmark.Controllers.HomeController.Paging;
}
<h4>Infragistics Grid</h4>
<p>
    The igGrid is the jQuery grid on the market and provides line of business features, touch support, and responsive web design features.
</p>
<script>
    startTiming("infragisticsgrid");
</script>

@(Html.Infragistics()
    .Grid<Sale>(Model)
    .ID("grid")
    .Width("100%")
    .Height("400px")
    .PrimaryKey("ID")
    .AutoGenerateColumns(false)
    .AutoGenerateLayouts(false)
    .Columns(column =>
    {
        column.For(x => x.ID).HeaderText("ID");
        column.For(x => x.Start).HeaderText("Start");
        column.For(x => x.End).HeaderText("End");
        column.For(x => x.Country).HeaderText("Country");
        column.For(x => x.Product).HeaderText("Product");
        column.For(x => x.Color).HeaderText("Color");
        column.For(x => x.Amount).HeaderText("Amount");
        column.For(x => x.Amount2).HeaderText("Amount2");
        column.For(x => x.Discount).HeaderText("Discount");
        column.For(x => x.Active).HeaderText("Active");
    })
    .Features(features =>
        {
            if (paging)
            {
                features.Paging().PageSize(20).Type(OpType.Local);
            }
        })
    .DataBind()
    .Render()
)