﻿@using Benchmark.Models
@model IEnumerable<Sale>
@{
    bool paging = Benchmark.Controllers.HomeController.Paging;
}
<h4>Telerik Grid</h4>
<p>
    The Grid HtmlHelper extension is a server-side wrapper for the Kendo UI Grid widget. It allows you to configure the Kendo UI grid from server-side code, helps with data binding and editing.
</p>
<script>
    startTiming("telerikgrid");
</script>
<div id="clientsDb">
@(Html.Kendo().Grid<Sale>(Model)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.ID).Width(100);
            columns.Bound(c => c.Start).Format("{0:MM/yyyy}").Width(100);
            columns.Bound(c => c.End).Format("{0:HH:mm}").Width(100);
            columns.Bound(c => c.Country).Width(100);
            columns.Bound(c => c.Product).Width(100);
            columns.Bound(c => c.Color).Width(100);
            columns.Bound(c => c.Amount).Width(100);
            columns.Bound(c => c.Amount2).Width(100);
            columns.Bound(c => c.Discount).Width(100);
            columns.Bound(c => c.Active).Width(100);
        })
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .Enabled(paging)
            .ButtonCount(5))
        .HtmlAttributes(new { style = "height: 400px;" })
        .Scrollable()
    )
</div>