﻿@{
    var today = DateTime.Now.Date;
    var minDate = new DateTime(today.Year, 1, 1);
    var maxDate = new DateTime(today.Year, 12, 31);
}

@section Scripts{
<script>
    function itemValidator(date) {
        var weekday = date.getDay();
        return weekday != 0 && weekday != 6;
    }
</script>
}

<div>
    <P>@Html.Raw(InputDateRes.Validation_Text0)</P>
    <c1-input-date value="@today" min="@minDate" max="@maxDate" item-validator="itemValidator">
    </c1-input-date>
</div>

@section Description{
    @Html.Raw(InputDateRes.Validation_Text1)
}