﻿@If Request.IsAuthenticated Then
    @<text>ようこそ <b>@Context.User.Identity.Name</b> さん!
    [ @Html.ActionLink("Log Off", "LogOff", "Account") ]</text>
Else
    @:[ @Html.ActionLink("ログオン", "LogOn", "Account") ]
End If
