﻿@model MultiSelection.Models.FlexChartModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/Content/c1logo.png")" alt="Component One ASP.Net MVC" />
        <h1>
            複数選択
        </h1>
        <p>
            1つのFlexChart内の複数のポイントを選択します。
        </p>
    </div>
</div>
<main id="content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p>
                    このサンプルでは、FlexChartコントロールに複数ポイントの選択を実装する方法を具体的に示します。
                    チャート上をドラッグすると、現在選択されているポイントがクリアされ、ドラッグ領域内に存在する新しいポイントのセットが選択されます。 ポイントをCtrl+クリックするとそのポイントの選択状態が切り替わり、グラフの空白部分をCtrl+クリックすると現在の選択がクリアされます。
                </p>
                <div>
                    <div id="plotSelection"></div>
                    @(Html.C1().FlexChart().Id("flexChart").Bind(Model.CountrySalesData).OnClientRendered("flexChart_rendered")
                    .Tooltip(t=>t.Content("")).ChartType(C1.Web.Mvc.Chart.ChartType.Column)
                    .Series(sers =>
                    {
                        sers.Add().Binding("Sales").Name("Sales");
                        sers.Add().Binding("Expenses").Name("Expenses");
                        sers.Add().Binding("Downloads").Name("Downloads");
                    })
                    .Legend(C1.Web.Mvc.Chart.Position.Top)
                    )
                    次の値以下のポイントを選択:   
                    @(Html.C1().ComboBox().Id("cmbSelect").Bind(Model.Settings["SelectList"]).Placeholder("None")
                        .OnClientSelectedIndexChanged("cmbSelect_SelectedIndexChanged")
                    )
                    チャート種別: 
                    @(Html.C1().ComboBox().Id("cmbChartType").Bind(Model.Settings["ChartType"]).Placeholder("Select Chart Type")
                        .OnClientSelectedIndexChanged("cmbChartType_SelectedIndexChanged")
                    )
                    <div>
                        <label>選択された項目</label>
                        <div id="selItems">                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    c1.documentReady(function () {
        if (window["initialControls"]) {
            window["initialControls"]();
        }
    });
</script>

