@using LearnMvcClient.Models
@model IEnumerable<FlexChartData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexChart.SeriesStyles_Title)
</h1>

<p>
    @Html.Raw(Resources.C1FlexChart.SeriesStyles_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexChart.SeriesStyles_Text2)
</p>
<p>
    @Html.Raw(Resources.C1FlexChart.SeriesStyles_Text3)
</p>
<p>
    @Html.Raw(Resources.C1FlexChart.SeriesStyles_Text4)
</p>

@(Html.C1().FlexChart<FlexChartData.Sale>().Id("theChart")
    .Bind("Country", Model)
    .Series(sb =>
    {
        sb.Add().Binding("Sales").Name("Sales");
        sb.Add().Binding("Expenses").Name("Expenses");
        sb.Add().Binding("Downloads").Name("Downloads").ChartType(C1.Web.Mvc.Chart.ChartType.LineSymbols);
    })
)