﻿@ModelType System.Web.Mvc.HandleErrorInfo

@Code
    ViewData("Title") = "エラー"
End Code

<hgroup class="title">
    <h1 class="error">エラー。</h1>
    <h2 class="error">要求の処理中にエラーが発生しました。</h2>
</hgroup>
