﻿@{
    ViewBag.Title = "Export Excel with large data";
}
<div class="export-panel">
    <label>
        <span>Format: </span>
        @Html.C1().ComboBox().Id("format").IsEditable(false).Bind(new[] { "Xlsx", "Csv" }).SelectedIndex(0).Width(100)
    </label>
    <button class="btn btn-primary" onclick="exportExcel()">Export Excel</button>
</div>
@(Html.C1().FlexGrid().Bind(b=>b.Bind(Url.Action("OrdersData")).InitialItemsCount(100)).Height(450).IsReadOnly(true))
@section Scripts
{
<script>
    function exportExcel() {
        var url = '@Url.Content("~/api/excel")?FileName=data&TemplateFileName=files%5COrdersTemplate.xlsx&dataname=orders';
        var combo = wijmo.Control.getControl('#format');
        url += '&type=' + combo.text;
        window.open(url, '_blank');
    }
</script>
}