﻿
header, footer, nav, section {
    display: block;
}

@font-face {
    font-family: 'controls';
    src: url("../fonts/controls.woff");
    font-weight: normal;
    font-style: normal;
}

.icon-c1text {
    color: #3d3d3d;
    font-size: 33px;
    display: inline-block;
    vertical-align: middle;
}

    .icon-c1text:before {
        /* content: "\e616"; */
    }

[class^="icon-"], [class*=" icon-"] {
    font-family: 'controls';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo-container {
    display: inline-block;
    height: 46px;
    margin-left: 5px;
    margin-top: 5px;
}

    .logo-container img {
        width: 299px;
        height: 46px;
        vertical-align: middle;
    }

.theme {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

a.theme-selector-link {
    width: 100%;
    display: inline-block;
    color: inherit;
}

.task-bar {
    background-color: #727272;
    color: #ffffff;
    height: 46px;
    margin-top: 5px;
}

    .task-bar > span {
        font-size: 16pt;
        padding-left: 10px;
        display: inline-block;
        float: left;
        line-height: 46px;
    }

.bold {
    font-weight: bold;
}

.semi-bold {
    font-weight: 600;
}

.main-content {
    margin-top: 30px;
    margin-left: 10px;
    clear: left;
}

.description {
    font-size: 12pt;
    color: #717171;
    margin: 10px;
}

.main-content li {
    list-style: none;
}

.control-group {
    color: #717171;
    font-size: 12pt;
}

    .control-group li a {
        color: #717171;
    }

        .control-group li a:hover {
            color: #085fbd;
        }

.first h3 {
    text-transform: uppercase;
}

h3.semi-bold {
    font-size: 14pt;
}

h4.semi-bold {
    font-size: 12pt;
}

.right-icon {
    border-left: 10px solid #000000;
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid #ffffff;
    height: 0px;
}

.side {
    clear: left;
}

.page-nav {
    border: none;
    border-radius: 0px;
}

    .page-nav.wj-content {
        background-color: #ffffff;
        background-image: none;
    }

    .page-nav a {
        color: #373737;
        width: 100%;
        display: inline-block;
    }

    .page-nav .right-icon {
        border-left-color: #a2a2a2;
        border-left-width: 12px;
        border-top-width: 12px;
        border-bottom-width: 12px;
        float: right;
        margin-top: -3px;
        visibility: hidden;
        
    }

    .page-nav .wj-listbox-item {
        padding-right: 0px;
        padding-bottom: 0px;
        
    }

        .page-nav .wj-listbox-item.wj-state-selected {
            background-color: #a2a2a2;
            font-weight: bolder;
        }

            .page-nav .wj-listbox-item.wj-state-selected .right-icon {
                visibility: visible;
            }

.page-content .main-content {
    width: 700px;
    float: right;
}

.page-content .control-page .main-content {
    width: 79%;
}

    .page-content .control-page .main-content .sample-title {
        color: #333333;
    }

.nav-tabs > li {
    cursor: pointer;
}

    .nav-tabs > li.active {
        border-bottom: 2px solid #428bca;
    }

    .nav-tabs > li > a {
        color: #555;
        margin-right: 2px;
        line-height: 1.42857143;
        border-radius: 0px;
    }

        .nav-tabs > li > a:hover {
            border-color: #eee #eee #ddd;
        }

    .nav-tabs > li > span {
        padding: 11px 15px 10px 15px;
        display: inline-block;
    }

        .nav-tabs > li > span:hover {
            background-color: #eee;
        }

.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li.active > a:hover,
.nav.nav-tabs > li.active > a:focus {
    cursor: default;
    border-width: 0px;
}

.tab-content > .tab-pane {
    height: 0;
}

.tab-content > .active {
    height: auto;
}

.pane-content.active {
    padding: 10px 8px 18px 8px;
}

.pane-content {
    padding: 10px 8px 18px 8px;
    background-color: #fff;
    font-size: 15px;
    overflow: auto;
    padding: 0;
}

    .pane-content pre {
        font-family: "Segoe UI";
    }

.demo-settings {
    margin-bottom: 13px;
}

    .demo-settings > .wj-dropdown {
        margin: 10px;
    }

.demo-description {
    margin-top: 13px;
}

    .demo-description p {
        color: #333333;
    }

    .demo-description ol,
    .demo-description ul {
        padding: 6px 20px;
    }

footer {
    margin-top: 20px;
    float: right;
    font-size: 7pt;
    max-width: 300px;
    clear: left;
}


.btn {
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
}

.icon-bars:before {
    content: "\f0c9";
}


@media only screen and (max-width: 991px) {
    .main-content {
        margin: 0px;
    }

    .features-bar {
        background-color: #a2a3a2;
        color: #ffffff;
        height: 34px;
        margin-top: 2px;
        font-size: 12pt;
    }

        .features-bar > span {
            width: 100%;
            display: inline-block;
            padding-top: 3px;
            padding-left: 10px;
        }

    .features-nav li {
        height: 30px;
        font-size: 11pt;
        padding-top: 3px;
    }

    .hamburger-nav-btn {
        float: left;
        font-size: 15pt;
        height: 51px;
        width: 23%;
        padding: 15px;
        display: inline-block;
    }

    .task-bar > span, .logo-container {
        text-align: center;
        white-space: nowrap;
    }

    .task-bar > span {
        width: 100%;
        text-align: left;
    }

    .logo-container {
        width: 54%;
    }

    .wide-screen {
        display: none !important;
    }

    .task-bar .site-nav {
        display: none;
    }

    /*body > ul {
        display: inline-block;
        float: right;
        margin-right: 10px;
        width: 100%;
        background-color: white;
        border-bottom: 1px solid #717171;
        border-left: 1px solid #717171;
        border-right: 1px solid #717171;
    }

        body > ul li {
            height: 50px;
            padding-left: 30px;
            border-top: 1px solid #717171;
            padding-top: 12px;
            font-size: 14pt;
            cursor: pointer;
        }

            body > ul li a {
                display: inline-block;
                width: 100%;
                color: inherit;
            }*/

    .controls-nav {
        border-left: 1px solid #717171;
        border-right: 1px solid #717171;
        border-top: 1px solid #717171;
        margin: 10px;
    }

        .controls-nav h3.semi-bold {
            border-bottom: 1px solid #717171;
            margin: 0px;
            padding: 5px;
            font-weight: normal;
            font-size: 12pt;
            background-color: #eee;
        }

        .controls-nav ul li {
            border-bottom: 1px solid #717171;
            padding-left: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
        }


    .features-nav a:hover {
        color: #ffffff;
    }

    .features-nav li {
        border-color: #ffffff;
    }
    
    .features-nav{
        border-color: #ffffff;
    }

    footer {
        float: left;
        font-size: 7pt;
        max-width: 500px;
        clear: right;
        margin-left: 5px;
    }

    .task-bar .wj-glyph-down, .features-bar .wj-glyph-down {
        opacity: 1;
    }
}

@media only screen and (min-width: 992px) {
    .narrow-screen {
        display: none !important;
    }

    .task-bar .site-nav {
        display: inline-block;
        float: right;
        margin-right: 10px;
    }

        .task-bar .site-nav li {
            list-style: none;
            display: inline-block;
            padding-right: 20px;
            padding-left: 20px;
            font-size: 14pt;
            height: 46px;
            vertical-align: middle;
        }

            .task-bar .site-nav li:hover {
                background-color: #cbcccb;
            }

            .task-bar .site-nav li a {
                color: #ffffff;
                display: inline-block;
                padding: 8px;
            }

            .task-bar .site-nav li.bold {
                background-color: #faab18;
            }

                .task-bar .site-nav li.bold:hover {
                    background-color: #fddca0;
                }
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for tabs
-----------------------------------------------------------*/
#sample{
    overflow-x:hidden;
}


/**/
div.settings-panel-content{
    border: solid #e4e4e4 1px;
    width:98%;
    padding: 10px 20px;
    float:left;
}

div.content-panel-result {
    float:left;
    padding: 10px 20px;
    border: solid #e4e4e4 1px;
    width:auto;
    display:none;
    margin-top: 10px;
    width:98%;
}

div.content-panel-result .content-json-data {
    display:none;
}

div.content-panel-result .content-json-xml {
    display:none;
}

div.content-panel-result-url {
    width:100%
}

.settings-panel {
    float: left;
    margin-right: 30px;
    width: 100%;
}

.settings-panel-detail {
    display: none;
}

div.settings-panel div.settings-panel-title {
    font-weight: 700;
    padding: 3px 0px 3px 0px;
    background-color: #dfdfdf;
    margin-bottom: 5px;
}

.params
{
    list-style: none;
    margin: 0px;
}

.param-font
{
    list-style: none;
    margin: 0px;
}

.params .param-item
{
    height: 30px;
}

.param-item {
    float:left;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    padding: 5px 0;
}

.param-item label.param-lable {
    width: 120px;
    display: inline-block;
    font-weight: 400;
    margin: 0px;
    padding: 5px 0;
    float:left;
}

    .param-item label.param-lable.parameter {
        width: 20%;
    }
    .param-item label.param-lable.description {
        width: 60%;
        padding-left: 20px;
    }
    .param-item label.param-lable.value {
        width: 20%;
    }

.param-item input[type=file] {
    display:inline;
}

.param-item input[type=checkbox] {
    margin-top: 9px;
}

.param-item .param-value
{
    float:left;
    width: 20%;
    box-sizing: border-box;
    margin-top: 3px;
}

.param-value-group{
    float:left;
    width: 20%;
    box-sizing: border-box;
    margin-top: 3px;
}

.controls-group .heading {
    background-color:#e8e8e8;
    height:40px;
    margin: 0 10px 10px 10px;
    cursor:pointer;float: left;
    width: 98%;
}

.controls-group .heading .method {
    color:white;
    height:40px;
    float:left;
    padding-top: 10px;
    width:60px;
    text-align: center;
}
    .controls-group .heading .method.GET {
        background-color:#0f6ab4;
    }
    .controls-group .heading .method.POST {
        background-color:green;
    }
    .controls-group .heading .method.PUT {
        background-color:#f6b94d;
    }
    .controls-group .heading .method.PATCH {
        background-color:#D38042;
    }
    .controls-group .heading .method.DELETE {
        background-color:#a41e22;
    }

.controls-group .heading .path {
    padding:6px 0px 10px 20px;
    float:left;
    height:40px;
    font-size:15pt;
}

.controls-group .heading .usage {
    padding:10px 0px 10px 20px;
    float:left;
    height:40px;
    font-size:12pt;
}

.panel-content {
    float:left;
    width:100%
}

.collapsed-icon {
    background: transparent url(images/Icon-Plus.png) no-repeat top left;
    float:left;
    width:16px;
    height:16px;
    margin-top:9px;
    margin-right:20px;
    border:0px none transparent;
}
.expand-icon {
    background: transparent url(images/Icon-Minus.png) no-repeat top left;
    float:left;
    width:16px;
    height:16px;
    margin-top:10px;
    margin-right:20px;
    border:0px none transparent;
}

.function-group-container {
    display:block;
    margin-bottom: 12px;
    padding-top: 12px;
}

.function-group .panel-group {
margin-bottom: 0px;
}

div.status-panel-content{
    border: solid #e4e4e4 1px;
    width:98%;
    padding: 10px 20px;
    float:left;
}

.status-item {
    float:left;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    padding: 5px 0;
}

    .status-item label.status-label {
        width: 120px;
        display: inline-block;
        font-weight: 400;
        margin: 0px;
        padding: 5px 0;
        float:left;
    }

        .status-item label.status-label.name {
            width:20%;
        }

        .status-item label.status-label.description {
            width:80%;
        }

.param-item textarea {
    width:314px;
    height:160px;
    resize:none;
}



    .panel-content-main {
        width:100%;
        float: left;
        padding: 0px 10px 10px 20px;
    }
@media (max-width: 600px) {
    .panel-content-main {
        width:501px;
        float: left;
        padding: 10px 10px 20px 20px;
    }
}