﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- styles -->
    <!-- Bootstrap and font Awesome-->    
    <link href="~/Styles/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />    

    <!-- App CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Styles/Main.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Styles/OthersBody.css")" />
    
        
    <!-- jQuery and Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        window.HostPath='@Url.Content("~/")';
    </script>

    <!-- App scripts -->
    <script src="@Url.Content("~/Scripts/app.js")" type="text/javascript"></script>

    @Html.C1().Styles()
    @Html.C1().Scripts().Basic()
</head>
<body>
    <div id="ProcessSpinner">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div class="maincontainer">
        <div class="topbar">
            <a href="~/Home/Index">
                <img src="~/images/logo.PNG" />
            </a>
            <div class="topmenu">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        <span id="LblUserName"></span>&nbsp;&nbsp;
                        <span class="caret"></span>                        
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="~/Home/Index">Book A Flight</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="~/MyBookings/Index">My Bookings</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="~/MyTravelers/Index">My Travellers</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="~/MyProfile/Index">My Profile</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><button id="BtnLoginLogout" type="button" class="btn btn-primary btn-sm" onclick="CallLoginLogout();" style="width:80%">Logout</button></a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="pagecontainer">
            <div id="PageTitle">BOOK MY FLIGHT</div>
            <hr />
            <div class="pagetext">
                @RenderBody()
            </div>
        </div>        
        <div class="footer">
            © @System.DateTime.Today.Year.ToString() GrapeCity, Inc. All Rights Reserved.
        </div>
    </div>    
   
</body>
</html>
