﻿<!doctype html>
<html lang="en">
<head>
    <title>Wijmo | Twitter Bootstrap</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="%description%" />
    <meta name="keywords" content="" />
    <meta name="author" content="ComponentOne" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Wijmo CSS -->
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.css" rel="stylesheet" type="text/css" />

    <!-- Wijmo Bootstrap CSS -->
    <link href="http://cdn.wijmo.com/interop/bootstrap-wijmo.css" rel="stylesheet" type="text/css" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>

    <!-- Bootstrap JS -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            var btn = $.fn.button.noConflict() // reverts $.fn.button to jqueryui btn
            $.fn.btn = btn // assigns bootstrap button functionality to $.fn.btn
        });
    </script>

    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.js" type="text/javascript"></script>

    <!-- Wijmo Bootstrap JS -->
    <script src="http://cdn.wijmo.com/interop/bootstrap.wijmo.<%= pkg.version %>.min.js" type="text/javascript"></script>

    <script src="init.js" type="text/javascript"></script>



</head>

<body class="demo-single">
    <div class="jumbotron">
        <div class="container" data-role="header">
            <h1>Wijmo</h1>
            <p>Twitter Bootstrap</p>
        </div>
    </div>
    <div class="container" data-role="page">



        <div data-role="content">
            <!-- begin demo markup -->
            <h2 class="page-header">Accordion</h2>
            <div id="accordion" data-role="wijaccordion" style="width: 750px;">
                <h3><a href="#">First</a></h3>
                <div>
                    <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie 						   vel, gravida in, condimentum sit amet, nunc. Nam anibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. 						   Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                    </p>
                </div>
                <h3><a href="#">Second</a></h3>
                <div>
                    <p>
                        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus.
                        Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus
                        interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.
                    </p>
                </div>
                <h3>
                    <a href="#">Third</a>
                </h3>
                <div>
                    <p>
                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus
                        pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque
                        semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam
                        nisi, eu iaculis leo purus venenatis dui.
                    </p>
                </div>
                <h3>
                    <a href="#">Fourth</a>
                </h3>
                <div>
                    <p>
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque.
                        Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a
                        nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada.
                        Vestibulum a velit eu ante scelerisque vulputate.
                    </p>
                </div>
                <h3>
                    <a href="#">Fifth</a>
                </h3>
                <div>
                    <p>
                        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus
                        hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum
                        tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.
                    </p>
                </div>
                <h3>
                    <a href="#">Sixth</a>
                </h3>
                <div>
                    <p>
                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus
                        pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque
                        semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam
                        nisi, eu iaculis leo purus venenatis dui.
                    </p>
                </div>
            </div>
            <!-- /accordian markup -->


            <h2 class="page-header">Calendar</h2>
            <div id="calendar">
            </div>
            <!-- /calendar markup -->

            <h2 class="page-header">Carousel</h2>
            <div>
                <div id="wijcarousel" style="width: 750px; height: 300px;">
                    <ul>
                        <li>
                            <img src="http://lorempixel.com/750/300/sports/1" alt="Sports 1" />
                            <span>
                                <h3>Word Caption 1</h3>
                                Word Caption 1
                            </span>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/750/300/sports/2" alt="Sports 2" />
                            <span>Word Caption 2</span>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/750/300/sports/3" alt="Sports 3" />
                            <span>Word Caption 3</span>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/750/300/sports/4" alt="Sports 4" />
                            <span>Word Caption 4</span>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/750/300/sports/5" alt="Sports 5" />
                            <span>Word Caption 5</span>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/750/300/sports/6" alt="Sports 6" />
                            <span>Word Caption 6</span>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/750/300/sports/7" alt="Sports 7" />
                            <span>Word Caption 7</span>
                        </li>
                        <li>
                            <img src="http://lorempixel.com/750/300/sports/8" alt="Sports 8" />
                            <span>Word Caption 8</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/carousel markup -->

            <h2 class="page-header">Combobox</h2>
            <div id="combobox">
                <select id="tags">
                    <option value="c++1">c++</option>
                    <option value="java">java</option>
                    <option value="php">php</option>
                    <option value="coldfusion">coldfusion</option>
                    <option value="javascript">javascript</option>
                    <option value="asp">asp</option>
                    <option value="ruby">ruby</option>
                    <option value="python">python</option>
                    <option value="c">c</option>
                    <option value="scala">scala</option>
                    <option value="groovy">groovy</option>
                    <option value="haskell">haskell</option>
                    <option value="perl">perl</option>
                </select>
            </div>
            <!-- /combobox markup -->


            <h2 class="page-header">DatePager</h2>
            <div id="datepager" style="margin-top: 20px; width: 750px;">
            </div>
            <!-- /datepager markup -->

            <h2 class="page-header">Dialog</h2>
            <div id="dialog-container">
                <input type="button" value="Hide Dialog" onclick="$('#dialog').wijdialog('close')" class="btn" />
                <input type="button" value="Show Dialog" onclick="$('#dialog').wijdialog('open')" class="btn" />
                <div id="dialog" title="Basic dialog">
                    <p>
                        This is the default dialog which is useful for displaying information. The dialog
                        window can be moved, resized and closed with the 'x' icon.
                    </p>
                </div>
            </div>
            <!-- /dialog markup -->

            <h2 class="page-header">Editor</h2>
            <div id="editor">
                <textarea id="wijeditor" style="width: 750px; height: 475px;">
                    <h1>JavaScript</h1>
                    <p>
                        <img src="http://cdn.wijmo.com/images/200px-JavaScript-logo.png" alt="JavaScript-logo.png" height="200" width="200" style="float: left; margin: 10px">
                        JavaScript is a prototype-based scripting language that is dynamic, weakly typed and has first-class functions. It is a multi-paradigm language, supporting object-oriented, imperative, and functional programming styles. JavaScript was formalized in the ECMAScript language standard and is primarily used in the form of client-side JavaScript, implemented as part of a Web browser in order to provide enhanced user interfaces and dynamic websites. This enables programmatic access to computational objects within a host environment. JavaScript's use in applications outside Web pages - for example in PDF documents, site-specific browsers, and desktop widgets - is also significant. Newer and faster JavaScript VMs and frameworks built upon them (notably Node.js) have also increased the popularity of JavaScript for server-side web applications. JavaScript uses syntax influenced by that of C. JavaScript copies many names and naming conventions from Java, but the two languages are otherwise unrelated and have very different semantics. The key design principles within JavaScript are taken from the Self and Scheme programming languages.
                    </p>
                    <h2>History</h2>
                    <p>
                        JavaScript was originally developed by Brendan Eich of Netscape under the name Mocha, which was later renamed to LiveScript, and finally to JavaScript. LiveScript was the official name for the language when it first shipped in beta releases of Netscape Navigator 2.0 in September 1995, but it was renamed JavaScript in a joint announcement with Sun Microsystems on December 4, 1995, when it was deployed in the Netscape browser version 2.0B3.
                    </p>
                    <p>
                        The change of name from LiveScript to JavaScript roughly coincided with Netscape adding support for Java technology in its Netscape Navigator web browser. The final choice of name caused confusion, giving the impression that the language was a spin-off of the Java programming language, and the choice has been characterized by many as a marketing ploy by Netscape to give JavaScript the cachet of what was then the hot new web-programming language. It has also been claimed that the language's name is the result of a co-marketing deal between Netscape and Sun, in exchange for Netscape bundling Sun's Java runtime with its then-dominant browser.
                    </p>
                    <p>
                        JavaScript very quickly gained widespread success as a client-side scripting language for web pages. As a consequence, Microsoft named its implementation JScript to avoid trademark issues. JScript added new date methods to fix the Y2K-problematic methods in JavaScript, which were based on Java's java.util.Date class. JScript was included in Internet Explorer 3.0, released in August 1996.
                    </p>
                    <p>
                        In November 1996, Netscape announced that it had submitted JavaScript to Ecma International for consideration as an industry standard, and subsequent work resulted in the standardized version named ECMAScript.
                    </p>
                    <p>
                        JavaScript has become one of the most popular programming languages on the web. Initially, however, many professional programmers denigrated the language because its target audience was web authors and other such "amateurs", among other reasons. The advent of Ajax returned JavaScript to the spotlight and brought more professional programming attention. The result was a proliferation of comprehensive frameworks and libraries, improved JavaScript programming practices, and increased usage of JavaScript outside of web browsers, as seen by the proliferation of server-side JavaScript platforms.
                    </p>
                    <p>
                        In January 2009, the CommonJS project was founded with the goal of specifying a common standard library mainly for JavaScript development outside the browser.
                    </p>
                    <h2>Versions</h2>
                    <table style="text-align: center;">
                        <tbody>
                            <tr>
                                <th>
                                    Version
                                </th>
                                <th>
                                    Release date
                                </th>
                                <th>
                                    Equivalent to
                                </th>
                                <th>
                                    Netscape Navigator
                                </th>
                                <th>
                                    Mozilla Firefox
                                </th>
                                <th>
                                    Internet Explorer
                                </th>
                                <th>
                                    Opera
                                </th>
                                <th>
                                    Safari
                                </th>
                                <th>
                                    Google Chrome
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    1.0
                                </td>
                                <td>
                                    March 1996
                                </td>
                                <td></td>
                                <td>
                                    2.0
                                </td>
                                <td></td>
                                <td>
                                    3.0
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1.1
                                </td>
                                <td>
                                    August 1996
                                </td>
                                <td></td>
                                <td>
                                    3.0
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1.2
                                </td>
                                <td>
                                    June 1997
                                </td>
                                <td></td>
                                <td>
                                    4.0-4.05
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1.3
                                </td>
                                <td>
                                    October 1998
                                </td>
                                <td>
                                    ECMA-262 1st edition / ECMA-262 2nd edition
                                </td>
                                <td>
                                    4.06-4.7x
                                </td>
                                <td></td>
                                <td>
                                    4.0
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1.4
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    Netscape Server
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1.5
                                </td>
                                <td>
                                    November 2000
                                </td>
                                <td>
                                    ECMA-262 3rd edition
                                </td>
                                <td>
                                    6.0
                                </td>
                                <td>
                                    1.0
                                </td>
                                <td>
                                    5.5 (JScript 5.5), 6 (JScript 5.6), 7 (JScript 5.7), 8 (JScript 5.8)
                                </td>
                                <td>
                                    6.0
                                </td>
                                <td>
                                    3.0-5
                                </td>
                                <td>
                                    1.0-10.0.666
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1.6
                                </td>
                                <td>
                                    November 2005
                                </td>
                                <td>
                                    1.5 + Array extras + Array and String generics + <a class="mw-redirect" title="E4X" href="/wiki/E4X">E4X</a>
                                </td>
                                <td></td>
                                <td>
                                    1.5
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1.7
                                </td>
                                <td>
                                    October 2006
                                </td>
                                <td>
                                    1.6 + Pythonic generators + Iterators + let
                                </td>
                                <td></td>
                                <td>
                                    2.0
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1.8
                                </td>
                                <td>
                                    June 2008
                                </td>
                                <td>
                                    1.7 + <a class="mw-redirect" title="Generator (computer science)" href="/wiki/Generator_%28computer_science%29">Generator expressions</a> + <a title="Closure (computer science)" href="/wiki/Closure_%28computer_science%29">Expression closures</a>
                                </td>
                                <td></td>
                                <td>
                                    3.0
                                </td>
                                <td></td>
                                <td>
                                    11.50
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1.8.1
                                </td>
                                <td></td>
                                <td>
                                    1.8 + <a title="JSON" href="/wiki/JSON#Native_encoding_and_decoding_in_browsers">Native JSON</a> support + Minor Updates
                                </td>
                                <td></td>
                                <td>
                                    3.5
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1.8.2
                                </td>
                                <td>
                                    June 22, 2009
                                </td>
                                <td>
                                    1.8.1 + Minor updates
                                </td>
                                <td></td>
                                <td>
                                    3.6
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    1.8.5
                                </td>
                                <td>
                                    July 27, 2010
                                </td>
                                <td>
                                    1.8.2 + <a title="ECMAScript" href="/wiki/ECMAScript">ECMAScript</a> 5 Compliance
                                </td>
                                <td></td>
                                <td>
                                    4
                                </td>
                                <td>
                                    9
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </textarea><!-- /editor markup -->
            </div>

            <h2 class="page-header">Events Calendar</h2>
            <div id="eventscalendar" style="width: 750px;"></div>
            <!-- /events calendar markup -->

            <h2 class="page-header">Expander</h2>
            <div id="expander" style="width: 750px;">
                <h3>Header</h3>
                <div>
                    Vestibulum ut eros non enim commodo hendrerit. Donec porttitor tellus non magna. Nam ligula elit, pretium et, rutrum non, hendrerit id, ante. Nunc mauris sapien, cursus in.
                </div>
            </div>
            <!-- /expander markup -->

            <h2 class="page-header">Gallery</h2>
            <div id="wijgallery" style="width: 750px;">
                <ul class="">
                    <li class="">
                        <a href="http://lorempixel.com/750/300/sports/1">
                            <img alt="1" src="http://lorempixel.com/200/150/sports/1" title="Word Caption 1" />
                        </a>
                    </li>
                    <li class="">
                        <a href="http://lorempixel.com/750/300/sports/2">
                            <img alt="2" src="http://lorempixel.com/200/150/sports/2" title="Word Caption 2" />
                        </a>
                    </li>
                    <li class="">
                        <a href="http://lorempixel.com/750/300/sports/3">
                            <img alt="3" src="http://lorempixel.com/200/150/sports/3" title="Word Caption 3" />
                        </a>
                    </li>
                    <li class="">
                        <a href="http://lorempixel.com/750/300/sports/4">
                            <img alt="4" src="http://lorempixel.com/200/150/sports/4" title="Word Caption 4" />
                        </a>
                    </li>
                    <li class="">
                        <a href="http://lorempixel.com/750/300/sports/5">
                            <img alt="5" src="http://lorempixel.com/200/150/sports/5" title="Word Caption 5" />
                        </a>
                    </li>
                    <li class="">
                        <a href="http://lorempixel.com/750/300/sports/6">
                            <img alt="6" src="http://lorempixel.com/200/150/sports/6" title="Word Caption 6" />
                        </a>
                    </li>
                    <li class="">
                        <a href="http://lorempixel.com/750/300/sports/7">
                            <img alt="7" src="http://lorempixel.com/200/150/sports/7" title="Word Caption 7" />
                        </a>
                    </li>
                    <li class="">
                        <a href="http://lorempixel.com/750/300/sports/8">
                            <img alt="8" src="http://lorempixel.com/200/150/sports/8" title="Word Caption 8" />
                        </a>
                    </li>
                    <li class="">
                        <a href="http://lorempixel.com/750/300/sports/9">
                            <img alt="9" src="http://lorempixel.com/200/150/sports/9" title="Word Caption 9" />
                        </a>
                    </li>
                    <li class="">
                        <a href="http://lorempixel.com/750/300/sports/10">
                            <img alt="10" src="http://lorempixel.com/200/150/sports/10" title="Word Caption 10" />
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /gallery markup -->

            <h2 class="page-header">Grid</h2>
            <table id="grid" style="width: 750px;"></table>
            <!-- /grid markup -->

            <h2 class="page-header">Input Date</h2>
            <ul class="ui-helper-reset">
                <li>
                    <label>
                        dateFormat='T' (Long date pattern)
                    </label>
                    <input type="text" id="textbox1" />
                </li>
                <li>
                    <label>
                        dateFormat='d' (Short date pattern)
                    </label>
                    <input type="text" id="textbox2" />
                </li>
                <li>
                    <label>
                        dateFormat='g' (General Date & Short Time)
                    </label>
                    <input type="text" id="textbox3" />
                </li>
                <li>
                    <label>
                        dateFormat='U' (Universal Date & Long Time)
                    </label>
                    <input type="text" id="textbox4" style="width: 300px" />
                </li>
            </ul>
            <!-- /input date markup -->

            <h2 class="page-header">Input Mask</h2>
            <input type="text" id="textboxm" value="(412) 867-5309" />
            <h6>Mask:</h6>
            <p>(999) 000-0000</p>
            <!-- /input mask markup -->

            <h2 class="page-header">Input Number</h2>
            <input type="text" id="textboxn" value="2.324" />

            <h6>Options</h6>
            <p>min=-100; max=1000; DecimalPlaces=3;</p>
            <!-- /input number markup -->

            <h2 class="page-header">LightBox</h2>
            <div id="lightbox">
                <a href="http://lorempixel.com/600/400/sports/1" rel="wijlightbox[stock];player=img">
                    <img src="http://lorempixel.com/150/125/sports/1" title="Sports 1" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
                </a>
                <a href="http://lorempixel.com/600/400/sports/2" rel="wijlightbox[stock];player=img">
                    <img src="http://lorempixel.com/150/125/sports/2" title="Sports 2" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
                </a>
                <a href="http://lorempixel.com/600/400/sports/3" rel="wijlightbox[stock];player=img">
                    <img src="http://lorempixel.com/150/125/sports/3" title="Sports 3" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
                </a>
                <a href="http://lorempixel.com/600/400/sports/4" rel="wijlightbox[stock];player=img">
                    <img src="http://lorempixel.com/150/125/sports/4" title="Sports 4" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. " />
                </a>
            </div>

            <h2 class="page-header">List</h2>
            <div class="ui-widget">
                <input readonly="readonly" id="testinput" type="text" />
                <div id="list">
                </div>
            </div>

            <h2 class="page-header">Menu</h2>
            <ul id="flyoutmenu" class="ui-helper-hidden-accessible">
                <li>
                    <a href="#">Breaking News</a>
                    <ul>
                        <li>
                            <h3>header</h3>
                        </li>
                        <li><a href="#">Entertainment</a></li>
                        <li><a href="http://www.w3schools.com/tags/html5.asp">Politics</a></li>
                        <li><a href="#">A&amp;E</a></li>
                        <li>
                            <a href="#">Sports</a>
                            <ul>
                                <li><a href="#">Baseball</a></li>
                                <li><a href="#">Basketball</a></li>
                                <li><a href="#">A really long label would wrap nicely as you can see</a></li>
                                <li>
                                    <a href="#">Swimming</a>
                                    <ul>
                                        <li><a href="#">High School</a></li>
                                        <li><a href="#">College</a></li>
                                        <li>
                                            <a href="#">Professional</a>
                                            <ul>
                                                <li>
                                                    <a href="#">Mens Swimming</a>
                                                    <ul>
                                                        <li><a href="#">News</a></li>
                                                        <li><a href="#">Events</a></li>
                                                        <li><a href="#">Awards</a></li>
                                                        <li><a href="#">Schedule</a></li>
                                                        <li><a href="#">Team Members</a></li>
                                                        <li><a href="#">Fan Site</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Womens Swimming</a>
                                                    <ul>
                                                        <li><a href="#">News</a></li>
                                                        <li><a href="#">Events</a></li>
                                                        <li><a href="#">Awards</a></li>
                                                        <li><a href="#">Schedule</a></li>
                                                        <li><a href="#">Team Members</a></li>
                                                        <li><a href="#">Fan Site</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Adult Recreational</a></li>
                                        <li><a href="#">Youth Recreational</a></li>
                                        <li><a href="#">Senior Recreational</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Tennis</a></li>
                                <li><a href="#">Ice Skating</a></li>
                                <li><a href="#">Javascript Programming</a></li>
                                <li><a href="#">Running</a></li>
                                <li><a href="#">Walking</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Local</a></li>
                        <li><a href="#">Health</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Entertainment</a>
                    <ul>
                        <li><a href="#">Celebrity news</a></li>
                        <li><a href="#">Gossip</a></li>
                        <li><a href="#">Movies</a></li>
                        <li>
                            <a href="#">Music</a>
                            <ul>
                                <li><a href="#">Alternative</a></li>
                                <li><a href="#">Country</a></li>
                                <li><a href="#">Dance</a></li>
                                <li><a href="#">Electronica</a></li>
                                <li><a href="#">Metal</a></li>
                                <li><a href="#">Pop</a></li>
                                <li>
                                    <a href="#">Rock</a>
                                    <ul>
                                        <li>
                                            <a href="#">Bands</a>
                                            <ul>
                                                <li><a href="#">Dokken</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Fan Clubs</a></li>
                                        <li><a href="#">Songs</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Slide shows</a></li>
                        <li><a href="#">Red carpet</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Finance</a>
                    <ul>
                        <li>
                            <a href="#">Personal</a>
                            <ul>
                                <li><a href="#">Loans</a></li>
                                <li><a href="#">Savings</a></li>
                                <li><a href="#">Mortgage</a></li>
                                <li><a href="#">Debt</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Business</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Food &#38; Cooking</a>
                    <ul>
                        <li><a href="#">Breakfast</a></li>
                        <li><a href="#">Lunch</a></li>
                        <li><a href="#">Dinner</a></li>
                        <li>
                            <a href="#">Dessert</a>
                            <ul>
                                <li><a href="#">Dump Cake</a></li>
                                <li><a href="#">Doritos</a></li>
                                <li><a href="#">Both please.</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Politics</a></li>
                <li>
                    <a href="#">Sports</a>
                    <ul>
                        <li><a href="#">Baseball</a></li>
                        <li><a href="#">Basketball</a></li>
                        <li>
                            <a href="#">Swimming</a>
                            <ul>
                                <li><a href="#">High School</a></li>
                                <li><a href="#">College</a></li>
                                <li>
                                    <a href="#">Professional</a>
                                    <ul>
                                        <li>
                                            <a href="#">Mens Swimming</a>
                                            <ul>
                                                <li><a href="#">News</a></li>
                                                <li><a href="#">Events</a></li>
                                                <li><a href="#">Awards</a></li>
                                                <li><a href="#">Schedule</a></li>
                                                <li><a href="#">Team Members</a></li>
                                                <li><a href="#">Fan Site</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Womens Swimming</a>
                                            <ul>
                                                <li><a href="#">News</a></li>
                                                <li><a href="#">Events</a></li>
                                                <li><a href="#">Awards</a></li>
                                                <li><a href="#">Schedule</a></li>
                                                <li><a href="#">Team Members</a></li>
                                                <li><a href="#">Fan Site</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Adult Recreational</a></li>
                                <li><a href="#">Youth Recreational</a></li>
                                <li><a href="#">Senior Recreational</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Tennis</a></li>
                        <li><a href="#">Ice Skating</a></li>
                        <li><a href="#">Javascript Programming</a></li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Walking</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /menu markup -->

            <h2 class="page-header">Pager</h2>
            <div id="pager">
            </div>
            <!-- /end pager markup -->

            <h2 class="page-header">ProgressBar</h2>
            <div id="progressbar"></div>

            <h2 class="page-header">Rating</h2>
            <select id="ratingSelect">
                <option value="1">Below Average</option>
                <option value="2">Average</option>
                <option selected="selected" value="3">Above Average</option>
                <option value="4">Awesome</option>
                <option value="5">Epic</option>
            </select>

            <h2 class="page-header">Slider</h2>
            <div id="slider"></div>

            <h2 class="page-header">Splitter</h2>

            <div id="vsplitter1">
                <div>
                    panel1
                </div>
                <div>
                    panel2
                </div>
            </div>


            <h2 class="page-header">SuperPanel</h2>
            <div id="superPanel" style="width: 754px; height: 300px;">
                <div class="elements">
                    <ul>
                        <li style="background: none repeat scroll 0% 0% activeborder;">
                            <span>ActiveBorder</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% activecaption;">
                            <span>ActiveCaption</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% captiontext;">
                            <span>ActiveCaptionText</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% appworkspace;">
                            <span>AppWorkspace</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% buttonface;">
                            <span>Control</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% buttonshadow;">
                            <span>ControlDark</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% threeddarkshadow;">
                            <span>ControlDarkDark</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% buttonface;">
                            <span>ControlLight</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% buttonhighlight;">
                            <span>ControlLightLight</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% buttontext;">
                            <span>ControlText</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% background;">
                            <span>Desktop</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% graytext;">
                            <span>GrayText</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% highlight;">
                            <span>Highlight</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% highlighttext;">
                            <span>HighlightText</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% highlight;">
                            <span>HotTrack</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% inactiveborder;">
                            <span>InactiveBorder</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% inactivecaption;">
                            <span>InactiveCaption</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% inactivecaptiontext;">
                            <span>InactiveCaptionText</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% infobackground;">
                            <span>Info</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% infotext;">
                            <span>InfoText</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% menu;"><span>Menu</span> </li>
                        <li style="background: none repeat scroll 0% 0% menutext;">
                            <span>MenuText</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% scrollbar;">
                            <span>ScrollBar</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% window;"><span>Window</span> </li>
                        <li style="background: none repeat scroll 0% 0% windowframe;">
                            <span>WindowFrame</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% windowtext;">
                            <span>WindowText</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Transparent;">
                            <span>Transparent</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% AliceBlue;">
                            <span>AliceBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% AntiqueWhite;">
                            <span>AntiqueWhite</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Aqua;"><span>Aqua</span> </li>
                        <li style="background: none repeat scroll 0% 0% Aquamarine;">
                            <span>Aquamarine</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Azure;"><span>Azure</span> </li>
                        <li style="background: none repeat scroll 0% 0% Beige;"><span>Beige</span> </li>
                        <li style="background: none repeat scroll 0% 0% Bisque;"><span>Bisque</span> </li>
                        <li style="background: none repeat scroll 0% 0% Black;"><span>Black</span> </li>
                        <li style="background: none repeat scroll 0% 0% BlanchedAlmond;">
                            <span>BlanchedAlmond</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Blue;"><span>Blue</span> </li>
                        <li style="background: none repeat scroll 0% 0% BlueViolet;">
                            <span>BlueViolet</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Brown;"><span>Brown</span> </li>
                        <li style="background: none repeat scroll 0% 0% BurlyWood;">
                            <span>BurlyWood</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% CadetBlue;">
                            <span>CadetBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Chartreuse;">
                            <span>Chartreuse</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Chocolate;">
                            <span>Chocolate</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Coral;"><span>Coral</span> </li>
                        <li style="background: none repeat scroll 0% 0% CornflowerBlue;">
                            <span>CornflowerBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Cornsilk;">
                            <span>Cornsilk</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Crimson;"><span>Crimson</span> </li>
                        <li style="background: none repeat scroll 0% 0% Cyan;"><span>Cyan</span> </li>
                        <li style="background: none repeat scroll 0% 0% DarkBlue;">
                            <span>DarkBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkCyan;">
                            <span>DarkCyan</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkGoldenrod;">
                            <span>DarkGoldenrod</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkGray;">
                            <span>DarkGray</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkGreen;">
                            <span>DarkGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkKhaki;">
                            <span>DarkKhaki</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkMagenta;">
                            <span>DarkMagenta</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkOliveGreen;">
                            <span>DarkOliveGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkOrange;">
                            <span>DarkOrange</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkOrchid;">
                            <span>DarkOrchid</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkRed;"><span>DarkRed</span> </li>
                        <li style="background: none repeat scroll 0% 0% DarkSalmon;">
                            <span>DarkSalmon</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkSeaGreen;">
                            <span>DarkSeaGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkSlateBlue;">
                            <span>DarkSlateBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkSlateGray;">
                            <span>DarkSlateGray</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkTurquoise;">
                            <span>DarkTurquoise</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DarkViolet;">
                            <span>DarkViolet</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DeepPink;">
                            <span>DeepPink</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DeepSkyBlue;">
                            <span>DeepSkyBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% DimGray;"><span>DimGray</span> </li>
                        <li style="background: none repeat scroll 0% 0% DodgerBlue;">
                            <span>DodgerBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Firebrick;">
                            <span>Firebrick</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% FloralWhite;">
                            <span>FloralWhite</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% ForestGreen;">
                            <span>ForestGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Fuchsia;"><span>Fuchsia</span> </li>
                        <li style="background: none repeat scroll 0% 0% Gainsboro;">
                            <span>Gainsboro</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% GhostWhite;">
                            <span>GhostWhite</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Gold;"><span>Gold</span> </li>
                        <li style="background: none repeat scroll 0% 0% Goldenrod;">
                            <span>Goldenrod</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Gray;"><span>Gray</span> </li>
                        <li style="background: none repeat scroll 0% 0% Green;"><span>Green</span> </li>
                        <li style="background: none repeat scroll 0% 0% GreenYellow;">
                            <span>GreenYellow</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Honeydew;">
                            <span>Honeydew</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% HotPink;"><span>HotPink</span> </li>
                        <li style="background: none repeat scroll 0% 0% IndianRed;">
                            <span>IndianRed</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Indigo;"><span>Indigo</span> </li>
                        <li style="background: none repeat scroll 0% 0% Ivory;"><span>Ivory</span> </li>
                        <li style="background: none repeat scroll 0% 0% Khaki;"><span>Khaki</span> </li>
                        <li style="background: none repeat scroll 0% 0% Lavender;">
                            <span>Lavender</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LavenderBlush;">
                            <span>LavenderBlush</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LawnGreen;">
                            <span>LawnGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LemonChiffon;">
                            <span>LemonChiffon</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightBlue;">
                            <span>LightBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightCoral;">
                            <span>LightCoral</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightCyan;">
                            <span>LightCyan</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightGoldenrodYellow;">
                            <span>LightGoldenrodYellow</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightGrey;">
                            <span>LightGray</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightGreen;">
                            <span>LightGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightPink;">
                            <span>LightPink</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightSalmon;">
                            <span>LightSalmon</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightSeaGreen;">
                            <span>LightSeaGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightSkyBlue;">
                            <span>LightSkyBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightSlateGray;">
                            <span>LightSlateGray</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightSteelBlue;">
                            <span>LightSteelBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% LightYellow;">
                            <span>LightYellow</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Lime;"><span>Lime</span> </li>
                        <li style="background: none repeat scroll 0% 0% LimeGreen;">
                            <span>LimeGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Linen;"><span>Linen</span> </li>
                        <li style="background: none repeat scroll 0% 0% Magenta;"><span>Magenta</span> </li>
                        <li style="background: none repeat scroll 0% 0% Maroon;"><span>Maroon</span> </li>
                        <li style="background: none repeat scroll 0% 0% MediumAquamarine;">
                            <span>MediumAquamarine</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% MediumBlue;">
                            <span>MediumBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% MediumOrchid;">
                            <span>MediumOrchid</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% MediumPurple;">
                            <span>MediumPurple</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% MediumSeaGreen;">
                            <span>MediumSeaGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% MediumSlateBlue;">
                            <span>MediumSlateBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% MediumSpringGreen;">
                            <span>MediumSpringGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% MediumTurquoise;">
                            <span>MediumTurquoise</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% MediumVioletRed;">
                            <span>MediumVioletRed</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% MidnightBlue;">
                            <span>MidnightBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% MintCream;">
                            <span>MintCream</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% MistyRose;">
                            <span>MistyRose</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Moccasin;">
                            <span>Moccasin</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% NavajoWhite;">
                            <span>NavajoWhite</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Navy;"><span>Navy</span> </li>
                        <li style="background: none repeat scroll 0% 0% OldLace;"><span>OldLace</span> </li>
                        <li style="background: none repeat scroll 0% 0% Olive;"><span>Olive</span> </li>
                        <li style="background: none repeat scroll 0% 0% OliveDrab;">
                            <span>OliveDrab</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Orange;"><span>Orange</span> </li>
                        <li style="background: none repeat scroll 0% 0% OrangeRed;">
                            <span>OrangeRed</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Orchid;"><span>Orchid</span> </li>
                        <li style="background: none repeat scroll 0% 0% PaleGoldenrod;">
                            <span>PaleGoldenrod</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% PaleGreen;">
                            <span>PaleGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% PaleTurquoise;">
                            <span>PaleTurquoise</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% PaleVioletRed;">
                            <span>PaleVioletRed</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% PapayaWhip;">
                            <span>PapayaWhip</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% PeachPuff;">
                            <span>PeachPuff</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Peru;"><span>Peru</span> </li>
                        <li style="background: none repeat scroll 0% 0% Pink;"><span>Pink</span> </li>
                        <li style="background: none repeat scroll 0% 0% Plum;"><span>Plum</span> </li>
                        <li style="background: none repeat scroll 0% 0% PowderBlue;">
                            <span>PowderBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Purple;"><span>Purple</span> </li>
                        <li style="background: none repeat scroll 0% 0% Red;"><span>Red</span> </li>
                        <li style="background: none repeat scroll 0% 0% RosyBrown;">
                            <span>RosyBrown</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% RoyalBlue;">
                            <span>RoyalBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% SaddleBrown;">
                            <span>SaddleBrown</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Salmon;"><span>Salmon</span> </li>
                        <li style="background: none repeat scroll 0% 0% SandyBrown;">
                            <span>SandyBrown</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% SeaGreen;">
                            <span>SeaGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% SeaShell;">
                            <span>SeaShell</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Sienna;"><span>Sienna</span> </li>
                        <li style="background: none repeat scroll 0% 0% Silver;"><span>Silver</span> </li>
                        <li style="background: none repeat scroll 0% 0% SkyBlue;"><span>SkyBlue</span> </li>
                        <li style="background: none repeat scroll 0% 0% SlateBlue;">
                            <span>SlateBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% SlateGray;">
                            <span>SlateGray</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Snow;"><span>Snow</span> </li>
                        <li style="background: none repeat scroll 0% 0% SpringGreen;">
                            <span>SpringGreen</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% SteelBlue;">
                            <span>SteelBlue</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Tan;"><span>Tan</span> </li>
                        <li style="background: none repeat scroll 0% 0% Teal;"><span>Teal</span> </li>
                        <li style="background: none repeat scroll 0% 0% Thistle;"><span>Thistle</span> </li>
                        <li style="background: none repeat scroll 0% 0% Tomato;"><span>Tomato</span> </li>
                        <li style="background: none repeat scroll 0% 0% Turquoise;">
                            <span>Turquoise</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Violet;"><span>Violet</span> </li>
                        <li style="background: none repeat scroll 0% 0% Wheat;"><span>Wheat</span> </li>
                        <li style="background: none repeat scroll 0% 0% White;"><span>White</span> </li>
                        <li style="background: none repeat scroll 0% 0% WhiteSmoke;">
                            <span>WhiteSmoke</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% Yellow;"><span>Yellow</span> </li>
                        <li style="background: none repeat scroll 0% 0% YellowGreen;">
                            <span>YellowGreen</span>
                        </li>
                        <li style=""><span>ButtonFace</span> </li>
                        <li style=""><span>ButtonHighlight</span> </li>
                        <li style=""><span>ButtonShadow</span> </li>
                        <li style="background: none repeat scroll 0% 0% activecaption;">
                            <span>GradientActiveCaption</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% inactivecaption;">
                            <span>GradientInactiveCaption</span>
                        </li>
                        <li style="background: none repeat scroll 0% 0% menu;"><span>MenuBar</span> </li>
                        <li style="background: none repeat scroll 0% 0% highlighttext;">
                            <span>MenuHighlight</span>
                        </li>
                    </ul>
                </div>
            </div>
            <h2 class="page-header">Tabs</h2>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Nunc tincidunt</a></li>
                    <li><a href="#tabs-2">Proin dolor</a></li>
                    <li><a href="#tabs-3">Aenean lacinia</a></li>
                </ul>
                <div id="tabs-1">
                    <p>
                        Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec
                        arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante.
                        Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper
                        leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales
                        tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel
                        pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum.
                        Nunc tristique tempus lectus.
                    </p>
                </div>
                <div id="tabs-2">
                    <p>
                        Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra
                        massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget
                        luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean
                        aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent
                        in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat
                        nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque
                        convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod
                        felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
                    </p>
                </div>
                <div id="tabs-3">
                    <p>
                        Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
                        pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
                        Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
                        pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
                        enim, pretium nec, feugiat nec, luctus a, lacus.
                    </p>
                    <p>
                        Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam
                        ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
                        velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula
                        faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero
                        sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor
                        ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas
                        commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit
                        hendrerit.
                    </p>
                </div>
            </div>

            <h2 class="page-header">Tooltip</h2>
            <div id="targetContainer">
                <img src="http://www.fillmurray.com/257/109" style="left: 0; top: 0;" title="Lorem ipsum dolor sit amet"
                     alt="" />
            </div>
            <h2 class="page-header">Tree</h2>
            <ul id="tree">
                <li class="folder">
                    <a><span>Folder 1</span></a>
                    <ul>
                        <li class="folder">
                            <a><span>Folder 1.1</span></a>
                            <ul>
                                <li class="file"><a><span>File 1.1</span></a></li>
                                <li class="file"><a><span>File 1.2</span></a></li>
                                <li class="file"><a><span>File 1.3</span></a></li>
                                <li class="file"><a><span>File 1.4</span></a></li>
                                <li class="file"><a><span>File 1.5</span></a></li>
                            </ul>
                        </li>
                        <li class="file"><a><span>File 1.2</span></a></li>
                        <li class="file"><a><span>File 1.3</span></a></li>
                        <li class="file"><a><span>File 1.4</span></a></li>
                        <li class="file"><a><span>File 1.5</span></a></li>
                    </ul>
                </li>
                <li class="folder">
                    <a><span>Folder 2</span></a>
                    <ul>
                        <li class="file"><a><span>File 2.1</span></a></li>
                        <li class="file"><a><span>File 2.2</span></a></li>
                        <li class="file"><a><span>File 2.3</span></a></li>
                        <li class="file"><a><span>File 2.4</span></a></li>
                        <li class="file"><a><span>File 2.5</span></a></li>
                    </ul>
                </li>
                <li class="folder">
                    <a><span>Folder 3</span></a>
                    <ul>
                        <li class="file"><a><span>File 3.1</span></a></li>
                        <li class="file"><a><span>File 3.2</span></a></li>
                        <li class="file"><a><span>File 3.3</span></a></li>
                        <li class="file"><a><span>File 3.4</span></a></li>
                        <li class="file"><a><span>File 3.5</span></a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="page-header">Video</h2>
            <video controls="controls" id="vid1" width="720" height="486">
                <source src="http://cdn.wijmo.com/movies/wijmo.theora.ogv" type='video/ogg; codecs="theora, vorbis"'>
                <source src="http://cdn.wijmo.com/movies/wijmo.mp4video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
            <h2 class="page-header">Wizard</h2>
            <div id="pages">
                <ul>
                    <li>
                        <h1>Step 1</h1>
                        This is the first step
                    </li>
                    <li>
                        <h1>Step 2</h1>
                        This is the second step
                    </li>
                    <li>
                        <h1>Step 3</h1>
                        This is the third step
                    </li>
                    <li>
                        <h1>Step 4</h1>
                        This is the fourth step
                    </li>
                    <li>
                        <h1>Step 5</h1>
                        This is the fifth step
                    </li>
                    <li>
                        <h1>Step 6</h1>
                        This is the sixth step
                    </li>
                    <li>
                        <h1>Step 7</h1>
                        This is the seventh step
                    </li>
                    <li>
                        <h1>Step 8</h1>
                        This is the eighth step
                    </li>
                    <li>
                        <h1>Step 9</h1>
                        This is the nineth step
                    </li>
                </ul>
                <div>
                    <p>
                        Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec
                        arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante.
                        Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper
                        leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales
                        tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel
                        pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum.
                        Nunc tristique tempus lectus.
                    </p>
                </div>
                <div>
                    <p>
                        Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra
                        massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget
                        luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean
                        aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent
                        in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat
                        nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque
                        convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod
                        felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
                    </p>
                </div>
                <div>
                    <p>
                        Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
                        pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
                        Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
                        pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
                        enim, pretium nec, feugiat nec, luctus a, lacus.
                    </p>
                    <p>
                        Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam
                        ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
                        velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula
                        faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero
                        sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor
                        ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas
                        commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit
                        hendrerit.
                    </p>
                </div>
                <div>
                    <h4>Studio Enterprise</h4>
                    <p>
                        Seven platforms, hundreds of controls, one studio. Build awesome desktop, Web, and
                        mobile apps with our tools for WinForms, WPF, ASP.NET, Silverlight, iPhone, Mobile,
                        and ActiveX.
                    </p>
                </div>
                <div>
                    <h4>Studio for WinForms</h4>
                    <p>
                        Over 65 .NET controls, including the ones you can't get anywhere else. Studio for
                        WinForms can handle anything, from a grid with a million rows to a chart with unlimited
                        points.
                    </p>
                </div>
                <div>
                    <h4>Studio for WPF</h4>
                    <p>
                        Studio for WPF offers everything from advanced data binding to rich data visualizations
                        included in grids, schedulers, charts, reports, and more.
                    </p>
                </div>
                <div>
                    <h4>Studio for ASP.NET AJAX</h4>
                    <p>
                        Do more with less code. Over 45 styled, supercharged, and easy-to-use controls built
                        on Web standards including AJAX, CSS, and XHTML.
                    </p>
                </div>
                <div>
                    <h4>Studio for Silverlight</h4>
                    <p>
                        Industrial strength Silverlight controls you cannot find anywhere else. Download
                        ComponentOne Studio? for Silverlight, play, and watch the Web shine.
                    </p>
                </div>
                <div>
                    <h4>Studio for iPhone</h4>
                    <p>
                        Use your existing ASP.NET skill set and take your Web apps to the iPhone. ComponentOne
                        Studio? for iPhone gives you the iPhone UX.
                    </p>
                </div>
            </div>




        </div>
        <!-- /content -->



    </div>

    <!-- /page -->
</body>
</html>
