﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASP.NET FlexChart MultiSelect</title>
    <link rel="icon" href="~/Content/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    @Html.C1().Styles()
    <link href="@Url.Content("~/Content/app.css")" rel="stylesheet" />

    <!-- jQuery/Angular/Bootstrap -->
    <script src="https://code.jquery.com/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- app scripts/styles -->
    @Html.C1().Scripts().Basic(b => b.Chart().Input())
    <script src="@Url.Content("~/Scripts/app.js")" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
