﻿@if(Request.IsAuthenticated) {
    <text>ようこそ <strong>@Context.User.Identity.Name</strong> さん!
    [ @Html.ActionLink("Log Off", "LogOff", "Account") ]</text>
}
else {
    @:[ @Html.ActionLink("ログオン", "LogOn", "Account") ]
}
