﻿@model MVCFlexChartAxisScrollbar.Models.FlexChartModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/Content/c1logo.png")" alt="Component One ASP.Net MVC" />
        <h1>
            軸のスクロールバー
        </h1>
        <p>
            チャート軸にスクロールバーを追加します。
        </p>
        <p>
            コンパクトなユーザーインタフェースでは、大きなチャートの表示が難しい場合があります。 そのため、AxisScrollbarにより、チャートの軸にスクロールバーを追加するオプションを提供しています。
        </p>
    </div>
</div>
<div class="container">
    <!-- chart -->
    <div class="panel panel-default chartcontainer">
    @(Html.C1().FlexChart().Id("flexChart").Bind(Model.CountrySalesData).CssClass("stchart")
        .Tooltip(t => t.Content("")).ChartType(C1.Web.Mvc.Chart.ChartType.Line)
        .BindingX("Date").Legend(C1.Web.Mvc.Chart.Position.None).AxisX(x => x.AxisLine(false))
        .Series(sers =>
        {
            sers.Add().Binding("YVal").Name("Sales");
        })
    )
    </div>
</div>

<script type="text/javascript">
    c1.documentReady(function () {
        if (window["initialControls"]) {
            window["initialControls"]();
        }
    });
</script>

