﻿@{
    List<string> countries = ViewBag.Countries;
    List<string> cities = ViewBag.Cities;
}

<div>
    <label>@Html.Raw(ComboBoxRes.Index_NonEditable)</label>
    <c1-combo-box selected-index="0" is-editable="false" max-drop-down-width="55">
        <c1-items-source source-collection="@countries"></c1-items-source>
    </c1-combo-box>
</div>
<div>
    <label>@Html.Raw(ComboBoxRes.Index_Editable)</label>
    <c1-combo-box selected-index="0" is-editable="true">
        <c1-items-source source-collection="@cities"></c1-items-source>
    </c1-combo-box>
</div>

@section Description{
    @Html.Raw(ComboBoxRes.Index_Text0)
}