<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="~/WijmoSite.Master" CodeBehind="Wijmo.master.cs" Inherits="ControlExplorer.Wijmo" %>

<%@ Register Assembly="C1.Web.Wijmo.Controls.45" Namespace="C1.Web.Wijmo.Controls.C1Tabs" TagPrefix="Wijmo" %>
<%@ Register Assembly="C1.Web.Wijmo.Controls.45" Namespace="C1.Web.Wijmo.Controls.C1TreeView" TagPrefix="Wijmo" %>
<%@ Register Assembly="C1.Web.Wijmo.Controls.45" Namespace="C1.Web.Wijmo.Controls.C1Accordion" TagPrefix="Wijmo" %>
<%@ Register Assembly="Wilco.SyntaxHighlighter" Namespace="Wilco.Web.SyntaxHighlighting" TagPrefix="cc1" %>
<asp:Content ID="headContent" runat="server" ContentPlaceHolderID="head">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="HeaderButtons">
    <a runat="server" href="~/"><%= Resources.Resources.Wijmo_Home %></a>
    <span> > </span>
    <a runat="server" href="~/Controls.aspx"><%= Resources.Resources.Wijmo_Controls %></a>
    <span> > </span>
    <a id="ControlName" runat="server" class="description"></a>
    <span id="switcherContainer" runat="server">
        <select id="themeswitcher">
            <optgroup label="Wijmo">
                <option value="https://cdn.grapecity.com/wijmo/3/themes/aristo/jquery-wijmo.css">Aristo</option>
                <option value="https://cdn.grapecity.com/wijmo/3/themes/midnight/jquery-wijmo.css">Midnight</option>
                <option value="https://cdn.grapecity.com/wijmo/3/themes/rocket/jquery-wijmo.css">Rocket</option>
                <option value="https://cdn.grapecity.com/wijmo/3/themes/cobalt/jquery-wijmo.css" selected="selected">Cobalt</option>
                <option value="https://cdn.grapecity.com/wijmo/3/themes/sterling/jquery-wijmo.css">Sterling</option>
                <option value="https://cdn.grapecity.com/wijmo/3/themes/metro/jquery-wijmo.css">Metro</option>
                <option value="https://cdn.grapecity.com/wijmo/3/themes/metro-dark/jquery-wijmo.css">Metro Dark</option>
            </optgroup>
            <optgroup label="jQuery UI">
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/black-tie/jquery-ui.css">Black Tie</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/blitzer/jquery-ui.css">Blitzer</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/cupertino/jquery-ui.css">Cupertino</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/dark-hive/jquery-ui.css">Dark Hive</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/dot-luv/jquery-ui.css">Dot Luv</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/eggplant/jquery-ui.css">Eggplant</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/excite-bike/jquery-ui.css">Excite Bike</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/flick/jquery-ui.css">Flick</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/hot-sneaks/jquery-ui.css">Hot Sneaks</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/humanity/jquery-ui.css">Humanity</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/le-frog/jquery-ui.css">Le Frog</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/mint-choc/jquery-ui.css">Mint Chocolate</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/overcast/jquery-ui.css">overcast</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/pepper-grinder/jquery-ui.css">Pepper Grinder</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/redmond/jquery-ui.css">Redmond</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/smoothness/jquery-ui.css">Smoothness</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/south-street/jquery-ui.css">South Street</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/start/jquery-ui.css">Start</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/sunny/jquery-ui.css">Sunny</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/swanky-purse/jquery-ui.css">Swanky Purse</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/trontastic/jquery-ui.css">Trontastic</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/ui-darkness/jquery-ui.css">UI Darkness</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/ui-lightness/jquery-ui.css">UI Lightness</option>
                <option value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/vader/jquery-ui.css">Vader</option>
            </optgroup>
        </select>
    </span>
</asp:Content>
<asp:Content ID="Content3" runat="server" ContentPlaceHolderID="MainContent">
    <script type="text/ecmascript">
        function onClientNodeClick(e, obj)
        {
            var nodes = obj.options.nodes;

            if (nodes.length > 0)
            {
                var expanded = obj.options.expanded;

                if (expanded) {
                    obj.collapse();
                } else {
                    obj.expand();
                }
            }
        }
    </script>
    <div class="control-page">
        <article class="ui-helper-clearfix">
	        <aside>
                <div class="padder">
                    <h4 class="sample-title">
                        <%= Resources.Resources.Wijmo_Samples %></h4>
                    <Wijmo:C1TreeView runat="server" ID ="NavTreeView" CssClass="navigation wrapper" OnClientNodeClick="onClientNodeClick"></Wijmo:C1TreeView>
                </div>
            </aside>
            <div class="main-content" id="sampleContainer">
                <div class="padder">
                    <h4 class="sample-title">
                        <asp:Label ID="ControlSampleLabel" runat="server" Text="Label"></asp:Label></h4>
                    <Wijmo:C1Tabs runat="server" ID="WidgetTabs">
                        <Pages>
                            <Wijmo:C1TabPage Text="<%$ Resources:Resources, Wijmo_Sample %>" CssClass="wrapper">
                                <div class="widget-wrapper">
                                    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
                                    <Wijmo:C1Accordion runat="server" ID ="C1Accordion1" RequireOpenedPane="false" CssClass="sample-hits">
                                        <Panes>
                                            <Wijmo:C1AccordionPane runat="server" Expanded ="true">
                                                <Header><%= Resources.Resources.Wijmo_Settings %></Header>
                                                <Content>
                                                    <div class="ui-corner-all" style="margin-top: 5px; clear: both; float: none; border: none">
                                                        <asp:ContentPlaceHolder ID="ControlOptions" runat="server">
                                                        </asp:ContentPlaceHolder>
                                                    </div>
                                                </Content>
                                            </Wijmo:C1AccordionPane>
                                            <Wijmo:C1AccordionPane runat="server" Expanded ="true">
                                                <Header><%= Resources.Resources.Wijmo_Description %></Header>
                                                <Content>
                                                    <div class="widget-description">
                                                        <asp:ContentPlaceHolder ID="Description" runat="server">
                                                        </asp:ContentPlaceHolder>
                                                    </div>
                                                </Content>
                                            </Wijmo:C1AccordionPane>
                                        </Panes>                                    
                                    </Wijmo:C1Accordion>
                                </div>
                            </Wijmo:C1TabPage>
                        </Pages>
                    </Wijmo:C1Tabs>
                    <a id="docs" class="ui-helper-hidden-accessible" runat="server" href="http://our.componentone.com/wiki/index.php?title=Studio_for_ASP.NET_Wijmo" target="_blank"><%= Resources.Resources.Wijmo_Documentation %></a>
                    <script type="text/javascript">
						$(document).ready(function () {
							var zIndex = $(".wijmo-wijtooltip").css("z-index");
                            //move documentation link inside tabs
                            $("#ctl00_ctl00_MainContent_WidgetTabs").c1tabs({ load: function () {
                                    $("#sourceTab").wijtabs();
                                },
                                show: function (e, ui) {
                                    var tab = $(ui.tab).parent("li"),
									    tabs = tab.parent(),
									    selectedClass = 'ui-explore-tabs-selected';
                                    $("." + selectedClass, tabs).removeClass(selectedClass);
                                    tab.addClass(selectedClass);
                                    if (typeof zIndex !== 'undefined') {
                                        $(".wijmo-wijtooltip").css("z-index", ui.index ? -1 : zIndex);
                                    }
                                },
                                spinner: "<%= Resources.Resources.Wijmo_Source %>"
                            });
                            $("#ctl00_ctl00_MainContent_WidgetTabs").prepend($(".main-content .sample-title"));
                            $("#ctl00_ctl00_MainContent_WidgetTabs").c1tabs("add", "../GetSourceCode.aspx?t=" + Math.random(), "<%= Resources.Resources.Wijmo_Source %>", 2);
                            $("#ctl00_ctl00_MainContent_docs").appendTo("<li></li>").parent().appendTo("#ctl00_ctl00_MainContent_WidgetTabs > ul").find("#ctl00_ctl00_MainContent_docs").removeClass("ui-helper-hidden-accessible");
                            //$("#ui-tabs-2").addClass("ui-tabs-hide");
                            $("#ctl00_ctl00_MainContent_WidgetTabs").find("ul").first().find("li:first-child").prepend($("<span class='wrapper'>[</span >")).append($("<span class='wrapper'>|</span >"));
                            $("#ctl00_ctl00_MainContent_WidgetTabs").find("ul").first().find("li:last-child").prepend($("<span class='wrapper'>|</span >")).append($("<span class='wrapper'>]</span >"));
                        });
                    </script>
                    <script type="text/javascript" src="<%= Page.ResolveUrl("~/explore/js/jquery.wijmo.wijdropdown.min.js") %>"></script>
                </div>
            </div>
        </article>
    </div>
</asp:Content>
