﻿@model Gauge101.Models.GaugeModel

@{
    ViewBag.Title = "Gauge入門";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/Content/c1logo.png")" alt="Component One ASP.NET MVC" />
        <h1>
            Gauge入門
        </h1>
        <p>
            このページでは、ASP.NET MVCのGaugeコントロールの使用を開始する方法を説明します。
        </p>
    </div>
</div>

<div class="container">
    <div class="sample-page download-link">
        <a href="https://www.grapecity.co.jp/developer/download#net">トライアル版</a>
    </div>
    <!-- はじめに -->
    <div>
        <h2>はじめに</h2>
        <p>
            MVCアプリケーションでGaugeコントロールの使用を開始する際の手順。            
        </p>
        <ol>
            <li>ComponentOne ASP.NET MVCアプリケーションテンプレートを使用して、新しいMVCプロジェクトを作成します。</li>
            <li>プロジェクトに、コントローラおよび対応するビューを追加します。</li>
            <li>razor構文を使用して、ビューのGaugeコントロールを初期化します。</li>
            <li>（オプション）CSSを追加して、Gaugeコントロールの外観をカスタマイズします。</li>
        </ol>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#gsHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#gsJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#gsCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="gsHtml">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
                            
&lt;/head&gt;
&lt;body&gt;

&lt;!-- LinearGauge --&gt;
    @@(Html.C1().LinearGauge().Id("gsLinearGauge").Value(Model.value)
        .Min(Model.min).Max(Model.max).Direction(GaugeDirection.Right)
        .Format(Model.format).CssClass("linear-gauge")
    )
&lt;!-- RadialGauge --&gt;
    @@(Html.C1().RadialGauge().Id("gsRadialGauge").Value(Model.value)
        .Min(Model.min).Max(Model.max).Format(Model.format).CssClass("radial-gauge")
    )

&lt;!-- InputNumber --&gt;
&lt;div&gt;
    &lt;label&gt;ゲージ値&lt;/label&gt;
    @@(Html.C1().InputNumber().Id("gsValue").Value(Model.value)
        .Min(Model.min).Max(Model.max).Format(Model.format)
        .Step(Model.step).OnClientValueChanged("gsValue_valueChanged")
    )
&lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;
                        </div>
                        <div class="tab-pane pane-content" id="gsJs">

// InputNumber valueChanged event
function gsValue_valueChanged(sender) {
    if (sender.value < sender.min || sender.value > sender.max) {
        return;
    }
    var linearGauge = wijmo.Control.getControl("#gsLinearGauge");    
    var radialGauge = wijmo.Control.getControl("#gsRadialGauge");
    linearGauge.value = sender.value;
    radialGauge.value = sender.value;
};
                        </div>
                        <div class="tab-pane pane-content" id="gsCS">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using Gauge101.Models;

namespace Gauge101.Controllers
{
    public class HomeController : Controller
    {

        public ActionResult Index()
        {
            return View(new GaugeModel());
        }

    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().LinearGauge().Id("gsLinearGauge").Value(Model.value)
                    .Min(Model.min).Max(Model.max).Direction(GaugeDirection.Right)
                    .Format(Model.format).CssClass("linear-gauge")
                    )
                <br />
                @(Html.C1().RadialGauge().Id("gsRadialGauge").Value(Model.value)
                    .Min(Model.min).Max(Model.max).Format(Model.format).CssClass("radial-gauge")
                    )
                <div class="app-input-group">
                    <label>ゲージ値</label>
                    @(Html.C1().InputNumber().Id("gsValue").Value(Model.value)
                        .Min(Model.min).Max(Model.max).Format(Model.format)
                        .Step(Model.step).OnClientValueChanged("gsValue_valueChanged")
                    )
                </div>
            </div>
        </div>
    </div>






    <!-- 値の表示 -->
    <div>
        <h2>値の表示</h2>
        <p>
            ゲージコントロールには、ゲージがどの値をテキストとして表示するかを決定する<b>ShowText</b>プロパティが用意されています。  <b>ShowText</b>プロパティの有効な値は次の４つです。
        </p>
        <ul>
            <li>
                <b>Value</b>:  ゲージの現在の値を表示します。
            </li>
            <li>
                <b>MinMax</b>:  ゲージの現在の最小値と現在の最大値を表示します。
            </li>
            <li>
                <b>All</b>:  ゲージの現在の最小値、現在の最大値、および現在値を表示します。  このオプションは、<b>Value</b>オプションと<b>MinMax</b>オプションの組み合わせです。
            </li>
            <li>
                <b>None</b>:  Gaugeコントロールにテキストを表示しません。
            </li>
        </ul>
        <p>
            次の例は、<b>ShowText</b>プロパティが変更されるとどうなるかを示します。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#dvHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#dvJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#dvCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="dvHtml">
@@(Html.C1().LinearGauge().Id("dvLinearGauge").Min(Model.min).Max(Model.max)
    .Value(Model.value).Format(Model.format)
    .ShowText(ShowText.All).CssClass("linear-gauge")
)

@@(Html.C1().RadialGauge().Id("dvRadialGauge").Min(Model.min).Max(Model.max)
    .Value(Model.value).Format(Model.format)
    .ShowText(ShowText.All).CssClass("radial-gauge")
)

&lt;!-- "ゲージ値" input omitted --&gt;

@@(Html.C1().Menu().Header("テキストの表示").Id("dvShowTextMenu").SelectedValue("All")
    .Command(cmd =&gt; cmd.ExecuteCommand("dvShowTextMenu_execute"))
    .MenuItems(items =&gt;
    {
        items.Add().Header("Value").CommandParameter(ShowText.Value);
        items.Add().Header("Min/Max").CommandParameter(ShowText.MinMax);
        items.Add().Header("All").CommandParameter(ShowText.All);
        items.Add().Header("None").CommandParameter(ShowText.None);
    })
)
                        </div>
                        <div class="tab-pane pane-content" id="dvJs">

function dvShowTextMenu_execute(arg) {
    var linearGauge = wijmo.Control.getControl("#dvLinearGauge");
    var radialGauge = wijmo.Control.getControl("#dvRadialGauge");
    linearGauge.showText = arg;
    radialGauge.showText = arg;
};

                        </div>
                        <div class="tab-pane pane-content" id="dvCS">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using Gauge101.Models;

namespace Gauge101.Controllers
{
    public class HomeController : Controller
    {

        public ActionResult Index()
        {
            return View(new GaugeModel());
        }

    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().LinearGauge().Id("dvLinearGauge").Min(Model.min).Max(Model.max)
                    .Value(Model.value).Format(Model.format)
                    .ShowText(ShowText.None).CssClass("linear-gauge")
                    )
                @(Html.C1().RadialGauge().Id("dvRadialGauge").Min(Model.min).Max(Model.max)
                    .Value(Model.value).Format(Model.format)
                    .ShowText(ShowText.None).CssClass("radial-gauge")
                    )
                <div class="app-input-group">
                    <label>ゲージ値</label>
                    @(Html.C1().InputNumber().Id("dvValue").Value(Model.value)
                        .Min(Model.min).Max(Model.max)
                        .Format(Model.format).Step(Model.step).OnClientValueChanged("dvValue_valueChanged")
                        )
                </div>
                @(Html.C1().Menu().Header("テキストの表示").Id("dvShowTextMenu").SelectedValue("All")
                    .Command(cmd => cmd.ExecuteCommand("dvShowTextMenu_execute"))
                    .MenuItems(items =>
                    {
                        items.Add().Header("Value").CommandParameter(ShowText.Value);
                        items.Add().Header("Min/Max").CommandParameter(ShowText.MinMax);
                        items.Add().Header("All").CommandParameter(ShowText.All);
                        items.Add().Header("None").CommandParameter(ShowText.None);
                    })
                )
            </div>
        </div>
    </div>







    <!-- 範囲の使用 -->
    <div>
        <h2>範囲の使用</h2>
        <p>
            ASP.NET MVCゲージには、<b>Range</b>オブジェクトのリストを含む<b>Ranges</b>プロパティがあります。  デフォルトでは、この範囲はゲージ面に表示され、注目するゾーンを示しますが、<b>ShowRanges</b>プロパティを使用して範囲を非表示にできます。  代わりにゲージは、ゲージの現在値を含む範囲を判断し、その範囲の色をゲージポインタに適用します。
        </p>
        <p>
            Rangeオブジェクト自体に、各ゾーンをカスタマイズするための<b>Min</b>、<b>Max</b>、<b>Color</b>などのプロパティが用意されています。
        </p>
        <p>
            次の例は、LinearGauge、RadialGauge、およびBulletGraphで範囲を使用する方法を示します。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#urHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#urJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#urCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="urHtml">

@@(Html.C1().LinearGauge().Id("urLinearGauge").Value(Model.value)
    .Min(Model.min).Max(Model.max).Direction(GaugeDirection.Right).Format(Model.format)
    .CssClass("linear-gauge").ShowRanges(Model.showRanges).Pointer(p =&gt; p.Thickness(Model.pointerThickness))
    .Ranges(r =&gt; r
        .Add(item =&gt; item.Min(Model.lowerRangemin).Max(Model.lowerRangemax).Color(Model.lowerRangecolor))
        .Add(item =&gt; item.Min(Model.middleRangemin).Max(Model.middleRangemax).Color(Model.middleRangecolor))
        .Add(item =&gt; item.Min(Model.upperRangemin).Max(Model.upperRangemax).Color(Model.upperRangecolor))
    )
)

@@(Html.C1().BulletGraph().Id("urBulletGraph").Value(Model.value)
    .Min(Model.min).Max(Model.max).Direction(GaugeDirection.Right).Format(Model.format)
    .CssClass("linear-gauge").ShowRanges(Model.showRanges).Pointer(p =&gt; p.Thickness(Model.pointerThickness))
    .Target(Model.rangesTarget).Good(Model.middleRangemax).Bad(Model.middleRangemin)
)

@@(Html.C1().RadialGauge().Id("urRadialGauge").Value(Model.value)
    .Min(Model.min).Max(Model.max)
    .Format(Model.format).CssClass("radial-gauge").ShowRanges(Model.showRanges)
    .Pointer(p =&gt; p.Thickness(Model.pointerThickness))
    .Ranges(r =&gt; r
        .Add(item =&gt; item.Min(Model.lowerRangemin).Max(Model.lowerRangemax).Color(Model.lowerRangecolor))
        .Add(item =&gt; item.Min(Model.middleRangemin).Max(Model.middleRangemax).Color(Model.middleRangecolor))
        .Add(item =&gt; item.Min(Model.upperRangemin).Max(Model.upperRangemax).Color(Model.upperRangecolor))
    )
)

&lt;!-- "ゲージ値" input omitted --&gt;

&lt;label&gt;
範囲を表示する&amp;nbsp;
    @@(Html.C1().InputNumber().Id("urValue").Value(Model.value).Min(Model.min).Max(Model.max)
    .Format(Model.format).Step(Model.step).OnClientValueChanged("urValue_valueChanged")
    )
&lt;/label&gt;

                        </div>
                        <div class="tab-pane pane-content" id="urJs">

// InputNumber valueChanged event-to update value of Radial Gauge, Bullet Graph and Linear Gauge
function urValue_valueChanged(sender) {
    if (sender.value < sender.min || sender.value > sender.max) {
        return;
    }
    var linearGauge = wijmo.Control.getControl("#urLinearGauge");
    var bulletGraph = wijmo.Control.getControl("#urBulletGraph");
    var radialGauge = wijmo.Control.getControl("#urRadialGauge");
    linearGauge.value = sender.value;
    bulletGraph.value = sender.value;
    radialGauge.value = sender.value;
};

                        </div>
                        <div class="tab-pane pane-content" id="urCS">

using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using Gauge101.Models;

namespace Gauge101.Controllers
{
    public class HomeController : Controller
    {

        public ActionResult Index()
        {
            return View(new GaugeModel());
        }

    }
}


                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().LinearGauge().Id("urLinearGauge").Value(Model.value)
                    .Min(Model.min).Max(Model.max).Direction(GaugeDirection.Right).Format(Model.format)
                    .CssClass("linear-gauge").ShowRanges(Model.showRanges).Pointer(p=>p.Thickness(Model.pointerThickness))
                    .Ranges(
                        r=>r
                            .Add(item=>item.Min(Model.lowerRangemin).Max(Model.lowerRangemax).Color(Model.lowerRangecolor))
                            .Add(item => item.Min(Model.middleRangemin).Max(Model.middleRangemax).Color(Model.middleRangecolor))
                            .Add(item => item.Min(Model.upperRangemin).Max(Model.upperRangemax).Color(Model.upperRangecolor))
                        )
                    )
                @(Html.C1().BulletGraph().Id("urBulletGraph").Value(Model.value)
                    .Min(Model.min).Max(Model.max).Direction(GaugeDirection.Right).Format(Model.format)
                    .CssClass("linear-gauge").ShowRanges(Model.showRanges).Pointer(p => p.Thickness(Model.pointerThickness))
                    .Target(Model.rangesTarget).Good(Model.middleRangemax).Bad(Model.middleRangemin)
                 )
                @(Html.C1().RadialGauge().Id("urRadialGauge").Value(Model.value)
                    .Min(Model.min).Max(Model.max)
                    .Format(Model.format).CssClass("radial-gauge").ShowRanges(Model.showRanges)
                    .Pointer(p=>p.Thickness(Model.pointerThickness))
                    .Ranges(
                        r => r
                            .Add(item => item.Min(Model.lowerRangemin).Max(Model.lowerRangemax).Color(Model.lowerRangecolor))
                            .Add(item => item.Min(Model.middleRangemin).Max(Model.middleRangemax).Color(Model.middleRangecolor))
                            .Add(item => item.Min(Model.upperRangemin).Max(Model.upperRangemax).Color(Model.upperRangecolor))
                        )                    
                )
                <div class="app-input-group">
                    <label>ゲージ値</label>
                    @(Html.C1().InputNumber().Id("urValue").Value(Model.value).Min(Model.min).Max(Model.max)
                        .Format(Model.format).Step(Model.step).OnClientValueChanged("urValue_valueChanged")
                    )
                </div>

                <label>
                    範囲を表示する&nbsp;                    
                    <input id="urShowRanges" type="checkbox" />
                </label>
            </div>
        </div>
    </div>







    <!-- 自動スケーリング -->
    <div>
        <h2>自動スケーリング</h2>
        <p>
            RadialGaugeには、レイアウトを構成するための２つのプロパティが用意されています。<b>StartAngle</b>と<b>SweepAngle</b>です。 <b>StartAngle</b>プロパティはRadialGaugeの開始角度または回転角度を指定します。  <b>SweepAngle</b>プロパティは、RadialGaugeの弧の長さを表す角度を指定します。  ２つのプロパティの角度は、９時の位置から時計回りに測定されます。
        </p>
        <p>
            RadialGaugeには<b>AutoScale</b>プロパティも用意されています。  <b>AutoScale</b>がtrueに設定されている場合、RadialGaugeは、そこに含まれる要素に合わせて自動的に拡大縮小されます。
        </p>
        <p>
            次の例では、<b>StartAngle</b>、<b>SweepAngle</b>、<b>AutoScale</b>プロパティをリアルタイムで調整できます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#asHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#asJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#asCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="asHtml">
                            
@@(Html.C1().RadialGauge().Id("asRadialGauge")
    .Value(Model.value).Min(Model.min).Max(Model.max)
    .AutoScale(Model.autoScale)
    .Format(Model.format).CssClass("radial-gauge")
)                            

&lt;div&gt;
    &lt;label&gt;ゲージ値&lt;/label&gt;
    @@(Html.C1().InputNumber().Id("asValue").Value(Model.value)
        .Min(Model.min).Max(Model.max).Format(Model.format)
        .Step(Model.step).OnClientValueChanged("asValue_valueChanged")
    )
&lt;/div&gt;


&lt;div&gt;
    &lt;label&gt;開始角度&lt;/label&gt;
    @@(Html.C1().InputNumber().Id("asStartAngle").Value(Model.startAngle)
        .Min(-360).Max(360).Step(45).OnClientValueChanged("asStartAngle_valueChanged")
    )
&lt;/div&gt;

&lt;div&gt;
    &lt;label&gt;移動角度&lt;/label&gt;
    @@(Html.C1().InputNumber().Id("asSweepAngle").Value(Model.sweepAngle)
        .Min(0).Max(360).Step(45).OnClientValueChanged("asSweepAngle_valueChanged")
    )
&lt;/div&gt;

&lt;label&gt;
    自動スケール&amp;nbsp;
    &lt;input id="asAutoScale" type="checkbox" /&gt;
&lt;/label&gt;

                        </div>
                        <div class="tab-pane pane-content" id="asJs">

$(document).ready(function () {

    var autoscaleInput = document.getElementById('asAutoScale');
    autoscaleInput.checked = true;
    autoscaleInput.addEventListener('change', function () {

        // determine autoScale by checkbox's checked state
        var radialGauge = wijmo.Control.getControl("#asRadialGauge");        
        radialGauge.autoScale = this.checked;
    });
   
});

// InputNumber valueChanged event-to update value of Radial Gauge
function asValue_valueChanged(sender) {
    if (sender.value < sender.min || sender.value > sender.max) {
        return;
    }
    var radialGauge = wijmo.Control.getControl("#asRadialGauge");
    radialGauge.value = sender.value;
};

// InputNumber valueChanged event-to update startAngle of Radial Gauge
function asStartAngle_valueChanged(sender) {
    if (sender.value < sender.min || sender.value > sender.max) {
        return;
    }
    var radialGauge = wijmo.Control.getControl("#asRadialGauge");
    radialGauge.startAngle = sender.value;
};

// InputNumber valueChanged event-to update sweepAngle of Radial Gauge
function asSweepAngle_valueChanged(sender) {
    if (sender.value < sender.min || sender.value > sender.max) {
        return;
    }
    var radialGauge = wijmo.Control.getControl("#asRadialGauge");
    radialGauge.sweepAngle = sender.value;
};

                        </div>
                        <div class="tab-pane pane-content" id="asCS">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using Gauge101.Models;

namespace Gauge101.Controllers
{
    public class HomeController : Controller
    {

        public ActionResult Index()
        {
            return View(new GaugeModel());
        }

    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                
                @(Html.C1().RadialGauge().Id("asRadialGauge")
                    .Value(Model.value).Min(Model.min).Max(Model.max)
                    .AutoScale(Model.autoScale)
                    .Format(Model.format).CssClass("radial-gauge")
                )
                <div class="app-input-group">
                    <label>ゲージ値</label>                
                    @(Html.C1().InputNumber().Id("asValue").Value(Model.value)
                        .Min(Model.min).Max(Model.max).Format(Model.format)
                        .Step(Model.step).OnClientValueChanged("asValue_valueChanged")
                    )
                </div>

                <div class="app-input-group">
                    <label>開始角度</label>                
                    @(Html.C1().InputNumber().Id("asStartAngle").Value(Model.startAngle)
                        .Min(-360).Max(360).Step(45).OnClientValueChanged("asStartAngle_valueChanged")
                    )
                </div>

                <div class="app-input-group">
                    <label>移動角度</label>                    
                    @(Html.C1().InputNumber().Id("asSweepAngle").Value(Model.sweepAngle)
                        .Min(0).Max(360).Step(45).OnClientValueChanged("asSweepAngle_valueChanged")
                    )
                </div>

                <label>
                    自動スケール&nbsp;
                    <input id="asAutoScale" type="checkbox" />
                </label>
            </div>
        </div>
    </div>





    <!-- Direction -->
    <div>
        <h2>方向</h2>
        <p>
            RadialGaugeの<b>StartAngle</b>プロパティと<b>SweepAngle</b>プロパティは、LinearGaugeやBulletGraphには適用されません。  代わりに、LinearGaugeとBulletGraphには<b>Direction</b>プロパティが用意され、表示方法を決定します。  <b>Direction</b>プロパティには４つのオプションがあります。
        </p>
        <ul>
            <li>
                <b>Up</b>:  ゲージは垂直方向にレンダリングされ、値は下から上に増加します。
            </li>
            <li>
                <b>Right</b>:  ゲージは水平方向にレンダリングされ、値は右から左に増加します。  これがデフォルト値です。
            </li>
            <li>
                <b>Down</b>:  ゲージは垂直方向にレンダリングされ、値は上から下に増加します。
            </li>
            <li>
                <b>Left</b>:  ゲージは水平方向にレンダリングされ、値は左から右に増加します。
            </li>
        </ul>
        <p>
            次の例は、<b>Direction</b>プロパティが変更されるとどうなるかを示します。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#dHtml" role="tab" data-toggle="tab">index.cshtml</a></li>
                        <li><a href="#dJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#dCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#dCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="dHtml">
                            
&lt;div class="row"&gt;
    &lt;div class="direction-col"&gt;
    @@(Html.C1().LinearGauge().Id("dLinearGauge").Value(Model.value)
        .Min(Model.min).Max(Model.max).Direction(GaugeDirection.Right).Format(Model.format)
        .CssClass("linear-gauge").ShowRanges(Model.showRanges).Pointer(p =&gt; p.Thickness(Model.pointerThickness))
        .Ranges(r =&gt; r
            .Add(item =&gt; item.Min(Model.lowerRangemin).Max(Model.lowerRangemax).Color(Model.lowerRangecolor))
            .Add(item =&gt; item.Min(Model.middleRangemin).Max(Model.middleRangemax).Color(Model.middleRangecolor))
            .Add(item =&gt; item.Min(Model.upperRangemin).Max(Model.upperRangemax).Color(Model.upperRangecolor))
        )
    )
&lt;/div&gt;
    &lt;div class="direction-col"&gt;
    @@(Html.C1().BulletGraph().Id("dBulletGraph").Value(Model.value)
        .Min(Model.min).Max(Model.max).Direction(GaugeDirection.Right).Format(Model.format)
        .CssClass("linear-gauge").ShowRanges(Model.showRanges).Pointer(p =&gt; p.Thickness(Model.pointerThickness))
        .Target(Model.rangesTarget).Good(Model.middleRangemax).Bad(Model.middleRangemin)
    )
&lt;/div&gt;
&lt;/div&gt;
                            
&lt;div class="app-input-group"&gt;
    &lt;label&gt;ゲージ値&lt;/label&gt;
    @@(Html.C1().InputNumber().Id("dValue").Value(Model.value)
        .Min(Model.min).Max(Model.max).Format(Model.format)
        .Step(Model.step).OnClientValueChanged("dValue_valueChanged")
    )
&lt;/div&gt;
@@(Html.C1().Menu().Header("方向").Id("dDirection").SelectedValue("Right")
    .Command(cmd =&gt; cmd.ExecuteCommand("dDirection_execute"))
    .MenuItems(items =&gt;
    {
        items.Add().Header("Up").CommandParameter(GaugeDirection.Up);
        items.Add().Header("Right").CommandParameter(GaugeDirection.Right);
        items.Add().Header("Down").CommandParameter(GaugeDirection.Down);
        items.Add().Header("Left").CommandParameter(GaugeDirection.Left);
    })
)
                            </div>
                        <div class="tab-pane pane-content" id="dJs" >

// InputNumber valueChanged event-to update value of Linear Gauge and Bullet Graph
function dValue_valueChanged(sender) {
    if (sender.value < sender.min || sender.value > sender.max) {
        return;
    }
    var linearGauge = wijmo.Control.getControl("#dLinearGauge");
    var bulletGraph = wijmo.Control.getControl("#dBulletGraph");
    linearGauge.value = sender.value;
    bulletGraph.value = sender.value;
};

function dDirection_execute(arg) {
    var linearGauge = wijmo.Control.getControl("#dLinearGauge");
    var bulletGraph = wijmo.Control.getControl("#dBulletGraph");
    var direction = arg;
        dirCols = Array.prototype.slice.call(document.querySelectorAll('.direction-col'));

    // split or stack columns
    dirCols.forEach(function (el) {
        if (direction == 2 || direction == 3) {//if (direction == 'Up' || direction == 'Down') {
            el.className += ' col-md-6';
        }
        else {
            el.className = el.className.replace('col-md-6', '');
        }
    });

    // set Gauge.direction
    linearGauge.direction = direction;
    bulletGraph.direction = direction;

    // update gauge's CSS Class
    if (direction == 2 || direction == 3) {//if (direction == 'Up' || direction == 'Down') {
        linearGauge.hostElement.className = linearGauge.hostElement.className.replace('linear-gauge', 'vertical-gauge');
        bulletGraph.hostElement.className = bulletGraph.hostElement.className.replace('linear-gauge', 'vertical-gauge');
    }
    else {
        linearGauge.hostElement.className = linearGauge.hostElement.className.replace('vertical-gauge', 'linear-gauge');
        bulletGraph.hostElement.className = bulletGraph.hostElement.className.replace('vertical-gauge', 'linear-gauge');
    }
};


                        </div>
                        <div class="tab-pane pane-content" id="dCss">
.vertical-gauge {
    height: 300px;
    width: 1.2em;
}
                        </div>
                        <div class="tab-pane pane-content" id="dCS">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using Gauge101.Models;

namespace Gauge101.Controllers
{
    public class HomeController : Controller
    {

        public ActionResult Index()
        {
            return View(new GaugeModel());
        }

    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <div class="row">
                    <div class="direction-col">
                        
                        @(Html.C1().LinearGauge().Id("dLinearGauge").Value(Model.value)
                    .Min(Model.min).Max(Model.max).Direction(GaugeDirection.Right).Format(Model.format)
                    .CssClass("linear-gauge")
                    .ShowRanges(Model.showRanges).Pointer(p => p.Thickness(Model.pointerThickness))
                    .Ranges(r => r
                            .Add(item => item.Min(Model.lowerRangemin).Max(Model.lowerRangemax).Color(Model.lowerRangecolor))
                            .Add(item => item.Min(Model.middleRangemin).Max(Model.middleRangemax).Color(Model.middleRangecolor))
                            .Add(item => item.Min(Model.upperRangemin).Max(Model.upperRangemax).Color(Model.upperRangecolor))
                        )
                        )
                    </div>
                    <div class="direction-col">
                        
                        @(Html.C1().BulletGraph().Id("dBulletGraph").Value(Model.value)
                    .Min(Model.min).Max(Model.max).Direction(GaugeDirection.Right).Format(Model.format)
                    .CssClass("linear-gauge")
                    .ShowRanges(Model.showRanges).Pointer(p => p.Thickness(Model.pointerThickness))
                    .Target(Model.rangesTarget).Good(Model.middleRangemax).Bad(Model.middleRangemin)
                        )
                    </div>
                </div>

                <div class="app-input-group">
                    <label>ゲージ値</label>
                    @(Html.C1().InputNumber().Id("dValue").Value(Model.value)
                        .Min(Model.min).Max(Model.max).Format(Model.format)
                        .Step(Model.step).OnClientValueChanged("dValue_valueChanged")
                    )
                </div>
                @(Html.C1().Menu().Header("方向").Id("dDirection").SelectedValue("Right")
                    .Command(cmd => cmd.ExecuteCommand("dDirection_execute"))
                    .MenuItems(items =>
                    {
                        items.Add().Header("Up").CommandParameter(GaugeDirection.Up);
                        items.Add().Header("Right").CommandParameter(GaugeDirection.Right);
                        items.Add().Header("Down").CommandParameter(GaugeDirection.Down);
                        items.Add().Header("Left").CommandParameter(GaugeDirection.Left);
                    })
                )
            </div>
        </div>
    </div>









    <!-- スタイル -->
    <div>
        <h2>スタイル</h2>
        <p>
            gaugeコントロールの外観の大部分はCSSで定義されます。  デフォルトのテーマに加えて、プロのデザインによるテーマが組み込まれており、すべてのASP.NET MVCコントロールの外観を統一感のある魅力的な見た目にカスタマイズできます。
        </p>
          <p>
            この例では、LinearGaugeとRadialGaugeに「カスタムゲージ」のCSSクラスを追加し、CSSルールを定義して両方にオレンジ色のポインタを作成しました。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#sHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#sJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#sCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#sCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="sHtml">
                            
@@(Html.C1().LinearGauge().Id("sLinearGauge").Value(Model.value)
    .Min(Model.min).Max(Model.max).Direction(GaugeDirection.Right)
    .Format(Model.format).ShowText(ShowText.Value)
    .CssClass("custom-gauge")
)

@@(Html.C1().RadialGauge().Id("sRadialGauge").Value(Model.value)
    .Min(Model.min).Max(Model.max).Format(Model.format).ShowText(ShowText.Value)
    .CssClass("custom-gauge")
)

&lt;div class="app-input-group"&gt;
    &lt;label&gt;ゲージ値&lt;/label&gt;
    @@(Html.C1().InputNumber().Id("sValue").Value(Model.value)
        .Min(Model.min).Max(Model.max).Format(Model.format)
        .Step(Model.step).OnClientValueChanged("sValue_valueChanged")
    )
&lt;/div&gt;
                        
                        </div>
                        <div class="tab-pane pane-content" id="sJs">

function sValue_valueChanged(sender) {
    if (sender.value < sender.min || sender.value > sender.max) {
        return;
    }
    var linearGauge = wijmo.Control.getControl("#sLinearGauge");
    var radialGauge = wijmo.Control.getControl("#sRadialGauge");
    linearGauge.value = sender.value;
    radialGauge.value = sender.value;
};

                        </div>
                        <div class="tab-pane pane-content" id="sCss">

.custom-gauge .wj-pointer path{
  fill: #ffa500;
  stroke: #cd853f;
}



                        </div>
                        <div class="tab-pane pane-content" id="sCS">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using Gauge101.Models;

namespace Gauge101.Controllers
{
    public class HomeController : Controller
    {

        public ActionResult Index()
        {
            return View(new GaugeModel());
        }

    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().LinearGauge().Id("sLinearGauge").Value(Model.value)
                    .Min(Model.min).Max(Model.max).Direction(GaugeDirection.Right)
                    .Format(Model.format).ShowText(ShowText.Value)
                    .CssClass("custom-gauge")
                    )
                @(Html.C1().RadialGauge().Id("sRadialGauge").Value(Model.value)
                    .Min(Model.min).Max(Model.max).Format(Model.format).ShowText(ShowText.Value)
                    .CssClass("custom-gauge")
                    )
                    <div class="app-input-group">
                        <label>ゲージ値</label>
                        @(Html.C1().InputNumber().Id("sValue").Value(Model.value)
                            .Min(Model.min).Max(Model.max).Format(Model.format)
                            .Step(Model.step).OnClientValueChanged("sValue_valueChanged")
                        )
                    </div>
                </div>
        </div>
    </div>









    <!-- 値の編集 -->
    <div>
        <h2>値の編集</h2>
        <p>
            <b>IsReadOnly</b>プロパティがfalseに設定されている場合、ゲージコントロールは単純なインジケータや入力コントロールとして使用できます。  また、ゲージには<b>Step</b>プロパティが用意され、入力として使用される場合に現在値からどれだけ加算または減算するかを決定します。
        </p>
        <p>
            次の例は、LinearGaugeコントロールとRadialGaugeコントロールで<b>IsReadOnly</b>プロパティと<b>Step</b>プロパティを使用する方法を示します。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#evHtml" role="tab" data-toggle="tab">HTML</a></li>
                        <li><a href="#evJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#evCS" role="tab" data-toggle="tab">CS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="evHtml">
                            
@@(Html.C1().LinearGauge().Id("evLinearGauge").Value(25).ShowText(ShowText.All)
    .Min(0).Max(100).Direction(GaugeDirection.Right).Step(10).IsReadOnly(false)
    .CssClass("linear-gauge")
)

@@(Html.C1().RadialGauge().Id("evRadialGauge").Value(20).Min(0).Max(100)
    .Format(Model.format).Step(15).IsReadOnly(false)
    .CssClass("radial-gauge")
)

&lt;label&gt;
    読み取り専用&amp;nbsp;
    &lt;input id="evReadOnly" type="checkbox" /&gt;
&lt;/label&gt;

                        </div>
                        <div class="tab-pane pane-content" id="evJs">

$(document).ready(function () {

    var readOnlyInput = document.getElementById('evReadOnly');    
    readOnlyInput.addEventListener('change', function () {

        // determine readOnly by checkbox's checked state
        var linearGauge = wijmo.Control.getControl("#evLinearGauge");
        var radialGauge = wijmo.Control.getControl("#evRadialGauge");
        linearGauge.isReadOnly = this.checked;
        radialGauge.isReadOnly = this.checked;
    });
    
});

                        </div>
                        <div class="tab-pane pane-content" id="evCS">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using Gauge101.Models;

namespace Gauge101.Controllers
{
    public class HomeController : Controller
    {

        public ActionResult Index()
        {
            return View(new GaugeModel());
        }

    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().LinearGauge().Id("evLinearGauge").Value(25).ShowText(ShowText.All)
                    .Min(0).Max(100).Direction(GaugeDirection.Right).Step(10).IsReadOnly(false)
                    .CssClass("linear-gauge")
                    )
                @(Html.C1().RadialGauge().Id("evRadialGauge").Value(0.2).Min(0).Max(1)
                            .Format(Model.format).Step(0.15).IsReadOnly(false)
                            .CssClass("radial-gauge")
                            )
                <label>
                    読み取り専用&nbsp;
                    <input id="evReadOnly" type="checkbox" />
                </label>
            </div>
        </div>
    </div>





























</div>