﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PageLoader.ascx.cs" Inherits="Grapecity.Samples.HospitalOne.H1ASPNet.UserControls.PageLoader" %>
<asp:UpdateProgress ID="UpdateProgress1" runat="server">
    <ProgressTemplate>
                <div style="text-align:center;vertical-align:central;position:absolute;width:300px;height:200px;top:50%;left:50%;margin:-100px 0 0 -150px;z-index:999">
                <br />
                <br />
                <br />
                <br />
                <img src="images/process_3.gif" width="50"/>   
                 <br />
                    <br />
                 </div>

    </ProgressTemplate>
</asp:UpdateProgress>

