﻿blockquote
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 16px;
}

body
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: white;
    font-size: 80%;
}

input#txtSearch
{
    width: 100%;
    border: solid 1px #bbbbbb;
    padding: 0px;
    height: 28px;
    clear: both;
}

div#indexbody a
{
    margin-top: 8px;
    margin-bottom: 8px;
    text-decoration: initial;
}

#header
{
    overflow: hidden;
    padding: 5px;
}

#header, #indexbody
{
    position: absolute;
    left: 0;
    right: 0;
}

#header
{
    height: 40px;
    top: 0;
}

#indexbody
{
    border: none;
    margin-left: 1px;
    padding: 5px;
    top: 40px;
    bottom: 0px;
    overflow-y: auto;
}
