/* BASE */
* {
	margin: 0;
	padding: 0;
}
html, body {
	background: #fff;
	margin: 0;
	padding: 0;
	font-size: 18px;
	-webkit-text-size-adjust: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #404040;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 0.4em;
	font-weight: normal;
}
h1 {
	font-size: 2.25em;
}
h2 {
	font-size: 1.875em;
}
h3, legend {
	font-size: 1.5em;
}
legend {
	margin-bottom: 0.4em;
}
article p, article ul, article ol, article table, article pre {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	margin-bottom:1em;
	font-weight: normal;
	font-size: 0.95em;
}
article p, article blockquote {
	margin-bottom: 1em;
	line-height: 1.5em;
}
article blockquote {
	background: #e5eff2;
	padding: 0.4em 1em;
	font-style: italic;
	color: #60767b;
	border-bottom: solid 3px #c1d4d9;
	border-radius: 8px;
}
article blockquote p {
	margin: 0;
	color: #60767b;
}
span {
	color: inherit;
	font-family: inherit;
}
form label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #333;
	font-size: 0.95em;
}
table {
	width: 100%;
	border-collapse: collapse;
}
thead {
}
tfoot {
	display: none;
}
th {
	font-weight: bold;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding: 0.4em;
	border-top: solid 5px #000;
}
td {
	border-bottom: 1px dotted #CFCFCF;
	padding: 0.4em;
}
a, a:link {
	text-decoration: none;
	color: #029ed1;
	border-bottom: solid 1px transparent;
	-webkit-transition: all 0.10s ease-out;
	-moz-transition: all 0.10s ease-out;
	-o-transition: all 0.10s ease-out;
	-ms-transition: all 0.10s ease-out;
}
a:hover {
	text-decoration: none;
	border-bottom: dotted 1px #007da6;
	color: #007da6;
	-webkit-transition: all 0.10s ease-in;
	-moz-transition: all 0.10s ease-in;
	-o-transition: all 0.10s ease-in;
	-ms-transition: all 0.10s ease-in;
}
input[type="text"] {
	background: #f3f7f8;
	border: none;
	color: #333;
	padding: 0.4em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	border: solid 1px #CFCFCF;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.05);
	-webkit-transition: all 0.10s ease-out;
	-moz-transition: all 0.10s ease-out;
	-o-transition: all 0.10s ease-out;
	-ms-transition: all 0.10s ease-out;
}
input[type="text"]:hover {
	border-color: #a09f9f;
	-webkit-transition: all 0.10s ease-in;
	-moz-transition: all 0.10s ease-in;
	-o-transition: all 0.10s ease-in;
	-ms-transition: all 0.10s ease-in;
}
input[type="submit"], button, input[type="button"] {
	background: rgb(0,164,219); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,164,219,1)), color-stop(100%, rgba(1,144,191,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a4db', endColorstr='#0190bf', GradientType=0 ); /* IE6-9 */
	border: solid 1px #00749b;
	display: inline-block;
	border-bottom-width: 3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #e8eaed;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	padding: 0.4em 1em;
	cursor: pointer;
	font-size: 1em;
}
input[type="submit"]:hover, button:hover, input[type="button"]:hover {
	background: rgb(2,148,197); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(2,148,197,1)), color-stop(100%, rgba(1,128,169,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0294c5', endColorstr='#0180a9', GradientType=0 ); /* IE6-9 */
}
/* BASE */
/* TREE MENU */
.menu-container .wijmo-wijtree {
	width: 264px;
}
/* MENU */
.menu-container {
	padding: 0;
	position: relative;
	top: 62px;
}
.menu-container .wijmo-wijmenu-ipod {
	background: none;
	border: none;
	border-radius: 0 0 0 0;
	box-shadow: none;
	margin: 0;
	padding: 0;
	width: 264px;
}
.menu-container .wijmo-wijmenu-ipod .ui-state-default a, .menu-container .wijmo-wijmenu-ipod .wijmo-wijmenu-list .ui-state-default .wijmo-wijmenu-text {
	color: #029ED1;
}
.menu-container ul.wijmo-wijmenu-breadcrumb {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	border-radius: 0 0 0 0;
	box-shadow: none;
	color: #404040;
	font-size: 12px;
	padding: 0.4em 0;
}
.menu-container .wijmo-wijmenu-breadcrumb li, .menu-container .wijmo-wijmenu-breadcrumb .wijmo-wijmenu-current-crumb {
	border: none;
	float: left;
	clear:  none;
	padding: 0.4em;
	border: solid 1px #ddd;
	background: #eeeeee; /* Old browsers */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 ); /* IE6-9 */
	margin-right: -1px;
	margin-bottom: -1px;
	font-size: 100%;
	display: inline-block;
	text-align: center;
}
.menu-container .wijmo-wijmenu .wijmo-wijmenu-breadcrumb a {
	width: auto;
}
.menu-container .wijmo-wijmenu .wijmo-wijmenu-breadcrumb a span {
	float: none;
}
.menu-container .wijmo-wijmenu-all-lists a {
	font-style: normal;
}
.menu-container .wijmo-wijmenu-breadcrumb .wijmo-wijmenu-current-crumb {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.menu-container ul.wijmo-wijmenu-breadcrumb a, .menu-container ul.wijmo-wijmenu-breadcrumb .wijmo-wijmenu-current-crumb a {
	color: #029ED1;
	display: inline-block;
	font-size: 1em;
	opacity: 0.75;
	padding: 0;
	text-shadow: -1px -1px 0 #FFFFFF;
	vertical-align: middle;
}
.menu-container ul.wijmo-wijmenu-breadcrumb .wijmo-wijmenu-current-crumb a {
	color: #404040;
	font-style: normal;
	opacity: 1;
}
.menu-container ul.wijmo-wijmenu-breadcrumb .ui-icon {
	display: none;
	float: none;
	vertical-align: middle;
}
.menu-container .wijmo-wijmenu-child {
}
.menu-container .wijmo-wijmenu .wijmo-wijmenu-list .wijmo-wijmenu-item {
	border-bottom: 1px dotted #DDDDDD;
	border-radius: 0 0 0 0;
	padding: 0.4em 0;
}
.menu-container .wijmo-wijmenu .wijmo-wijmenu-link {
	padding: 0;
}
.menu-container .wijmo-wijmenu-ipod .ui-state-default a:hover, .menu-container .wijmo-wijmenu-ipod .wijmo-wijmenu-list .ui-state-default .wijmo-wijmenu-text:hover, .menu-container .wijmo-wijmenu-ipod .wijmo-wijmenu-list .ui-state-focus {
	background: none repeat scroll 0 0 transparent;
	color: #007DA6;
}
.menu-container .wijmo-wijmenu-link .ui-icon {
	background-image: url("http://cdn.wijmo.com/themes/rocket/images/ui-icons_00a6dd_256x240.png") !important;
}
.menu-container .main-sample-title {
	color: #333333;
	display: inline-block;
	font-family: "Museo300", Georgia, "Times New Roman", Times, serif;
	font-size: 1.75em;
	position: absolute;
}
.menu-container .ui-widget-content {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
}
.menu-container .wijmo-wijmenu .wijmo-wijsuperpanel-vbar-buttontop, .menu-container .wijmo-wijsuperpanel-vbar-buttonbottom {
	display: none;
}
.menu-container .wijmo-wijmenu .wijmo-wijsuperpanel-vbarcontainer {
	background: none repeat scroll 0 0 #DCDCDC;
	border-radius: 10px 10px 10px 10px;
	margin-right: 3px;
	width: 8px;
}
.menu-container .wijmo-wijmenu .wijmo-wijsuperpanel-handle {
	background: #592d7a; /* Old browsers */
	background: -moz-linear-gradient(left, #592d7a 0%, #421e5c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #592d7a), color-stop(100%, #421e5c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #592d7a 0%, #421e5c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #592d7a 0%, #421e5c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #592d7a 0%, #421e5c 100%); /* IE10+ */
	background: linear-gradient(left, #592d7a 0%, #421e5c 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#592d7a', endColorstr='#421e5c', GradientType=1 ); /* IE6-9 */
	left: -2px;
	border-radius: 24px;
	border: 0;
	box-shadow: none;
	width: 13px;
}
.menu-container .wijmo-wijmenu .wijmo-wijsuperpanel-handle .ui-icon {
	display: none;
}
/* MENU */


#divResults .searchtitle {
	margin: 0 0 1em 0;
}
#divResults tr td {
	padding: 0.4em 0;
	border-color: #666;
}
.search-container {
}
#divSearch {
}
#divResults {
	position: absolute;
	z-index: 99;
	width: 100%;
	background: #444;
	background: rgba(51,51,51,0.95);
	color: #fff;
	border-bottom: solid 3px #333;
	top: 62px;
}
#divResults h3, #divResults p {
	color: #fff;
}
#divResults a {
	color: #ccc;
	border: none;
	text-decoration: none;
}
#divResults a:hover {
	color: #fff;
}
#divResults .padder {
	padding: 1em;
}
#divResults .searchtitle {
	display: inline-block;
}
.search-container .close-icon-container {
	float: right;
	padding: 0.4em;
	cursor: pointer;
	background: #fff;
	box-shadow: 0 3px 5px rgba(0,0,0,0.50);
	border-radius: 24px;
}
.search-container .close-icon-container:hover {
	background: #ddd;
}
#divSearch {
	background: #333;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
#searchwhatcontainer {
	padding: 0.6em 1em;
}
#searchwhatcontainer #search {
	display: none;
}
#txtSearch {
	background: #f3f7f8 url(images/magnifying_glass_alt_16x16.png) no-repeat 8px center;
	width: 225px;
	border-radius: 4px;
	border-bottom-width: 3px;
	padding-left: 30px;
	outline: none;
}
.innerrow {
}
.searchresults {
	margin-bottom: 0.4em;
}
.wijmo-wijtree-inner a {
	border: none;
	text-decoration: none;
}
.menu-container .ui-widget {
	font-family: Arial, Helvetica, sans-serif;
}
.menu-container .wijmo-wijtree .wijmo-wijtree-list .ui-icon {
	float: left;
	height: 22px;
	width: 15px;
	cursor: pointer;
	position: relative;
	top: 3px;
	left: 4px;
}
.wijmo-wijtree .wijmo-wijtree-inner:hover {
	background: #E6EDEF
}
.wijmo-wijtree .wijmo-wijtree-list .wijmo-wijtree-node .wijmo-wijtree-inner a, .wijmo-wijtree .wijmo-wijtree-list .wijmo-wijtree-node .wijmo-wijtree-inner .wijmo-wijtree-template
{
	font-size: 0.95em;
}
