﻿/* BASE */
html, body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	-webkit-text-size-adjust: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #404040;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 0.4em;
	font-weight: normal;
}
h1 {
	font-size: 2.25em;
}
h2 {
	font-size: 1.875em;
}
h3, legend {
	font-size: 1.5em;
}
legend {
	margin-bottom: 0.4em;
}
article p, article ul, article ol, article table, article pre {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	margin-bottom:1em;
	font-weight: normal;
	font-size: 0.95em;
}
article p, article blockquote {
	margin-bottom: 1em;
	line-height: 1.5em;
}
article blockquote {
	background: #e5eff2;
	padding: 0.4em 1em;
	font-style: italic;
	color: #60767b;
	border-bottom: solid 3px #c1d4d9;
	border-radius: 8px;
}
article blockquote p {
	margin: 0;
	color: #60767b;
}
span {
	color: inherit;
	font-family: inherit;
}
form label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #333;
	font-size: 0.95em;
}
table {
	width: 100%;
	border-collapse: collapse;
}
thead {
}
tfoot {
	display: none;
}
th {
	font-weight: bold;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding: 0.4em;
	border-top: solid 5px #000;
}
td {
	border-bottom: 1px dotted #CFCFCF;
	padding: 0.4em;
}
a, a:link {
	text-decoration: none;
	color: #029ed1;
	border-bottom: solid 1px transparent;
	-webkit-transition: all 0.10s ease-out;
	-moz-transition: all 0.10s ease-out;
	-o-transition: all 0.10s ease-out;
	-ms-transition: all 0.10s ease-out;
}
a:hover {
	text-decoration: none;
	border-bottom: dotted 1px #007da6;
	color: #007da6;
	-webkit-transition: all 0.10s ease-in;
	-moz-transition: all 0.10s ease-in;
	-o-transition: all 0.10s ease-in;
	-ms-transition: all 0.10s ease-in;
}
input[type="text"] {
	background: #f3f7f8;
	border: none;
	color: #333;
	padding: 0.4em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	border: solid 1px #CFCFCF;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.05);
	-webkit-transition: all 0.10s ease-out;
	-moz-transition: all 0.10s ease-out;
	-o-transition: all 0.10s ease-out;
	-ms-transition: all 0.10s ease-out;
}
input[type="text"]:hover {
	border-color: #a09f9f;
	-webkit-transition: all 0.10s ease-in;
	-moz-transition: all 0.10s ease-in;
	-o-transition: all 0.10s ease-in;
	-ms-transition: all 0.10s ease-in;
}
input[type="submit"], button, input[type="button"] {
	background: rgb(0,164,219); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,164,219,1)), color-stop(100%, rgba(1,144,191,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a4db', endColorstr='#0190bf', GradientType=0 ); /* IE6-9 */
	border: solid 1px #00749b;
	display: inline-block;
	border-bottom-width: 3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #e8eaed;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
	padding: 0.4em 1em;
	cursor: pointer;
	font-size: 1em;
}
input[type="submit"]:hover, button:hover, input[type="button"]:hover {
	background: rgb(2,148,197); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(2,148,197,1)), color-stop(100%, rgba(1,128,169,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0294c5', endColorstr='#0180a9', GradientType=0 ); /* IE6-9 */
}
/* BASE */

