﻿@{
    ClientSettingsModel demoSettingsModel = ViewBag.DemoSettingsModel;
    bool isReadOnly = ViewBag.IsReadOnly;
}
@if (isReadOnly)
{
    <c1-flex-grid is-read-only="true"
                  auto-generate-columns="false" id="@demoSettingsModel.ControlId"
                  allow-add-new="false" allow-delete="false" style="height:300px">
        <c1-flex-grid-column binding="ProductID" width="*"></c1-flex-grid-column>
        <c1-flex-grid-column binding="ProductName" width="*"></c1-flex-grid-column>
        <c1-flex-grid-column binding="QuantityPerUnit" width="*"></c1-flex-grid-column>
        <c1-flex-grid-column binding="UnitsInStock" width="*"></c1-flex-grid-column>
        <c1-odata-source service-url="https://services.odata.org/Northwind/Northwind.svc" table-name="Products" keys="ProductID"></c1-odata-source>
        <c1-flex-grid-filter default-filter-type="Both"></c1-flex-grid-filter>
    </c1-flex-grid>
}
else
{
    <c1-flex-grid auto-generate-columns="false" id="@demoSettingsModel.ControlId"
                  allow-add-new="true" allow-delete="true" style="height:400px">
        <c1-flex-grid-column binding="CategoryID" is-read-only="true" format="d" width="*"></c1-flex-grid-column>
        <c1-flex-grid-column binding="CategoryName" width="*"></c1-flex-grid-column>
        <c1-flex-grid-column binding="Description" width="*"></c1-flex-grid-column>
        <c1-odata-source service-url="~/MyNorthWind" table-name="Categories" keys="CategoryID"></c1-odata-source>
        <c1-flex-grid-filter default-filter-type="Both"></c1-flex-grid-filter>
    </c1-flex-grid>
}
@section Scripts{
    <script type="text/javascript">
        function customChangeSortOnServer(grid, value) {
            if (grid && grid.collectionView) {
                grid.collectionView.sortOnServer = value;
            }
        }
        function customChangeFilterOnServer(grid, value) {
            if (grid && grid.collectionView) {
                grid.collectionView.filterOnServer = value;
            }
        }
    </script>
}

@section Description{
    @Html.Raw(FlexGridRes.ODataBind_Text0)
}