﻿@using C1.Web.Mvc.Grid
@{
    IEnumerable<Sale> groupedFlexGridData = ViewBag.GroupedFlexGridData;
    IEnumerable<Sale> mergedFlexGridData = ViewBag.MergedFlexGridData;
    IList<ITreeItem> treeViewData = ViewBag.TreeViewData;
    ViewBag.DemoDescription = false;
}

@section Styles{
<style>
    .fixed-top {
        z-index: 999;
        position: fixed;
        top: 0px;
    }
</style>
}

@section Scripts{
<script>
    var hasAddFixedStyle, groupedGrid, mergedGrid, treeViewGrid, exportSettings, settingsDiv, settingsDivDfScroll;

    c1.documentReady(function () {
        hasAddFixedStyle = false;
        groupedGrid = wijmo.Control.getControl("#groupingFlexGrid");
        mergedGrid = wijmo.Control.getControl("#mergingFlexGrid");
        treeViewGrid = wijmo.Control.getControl("#treeFlexGrid");
        settingsDiv = document.getElementById("exportSettingsDiv");
        defaultScrollTop = getScrollingTop(settingsDiv);
        exportSettings = {
            exportMode: wijmo.grid.pdf.ExportMode.All,
            orientation: wijmo.pdf.PdfPageOrientation.Portrait,
            scaleMode: wijmo.grid.pdf.ScaleMode.ActualSize
        };

        window.onscroll = function () {
            var documentScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            if (documentScrollTop <= defaultScrollTop && hasAddFixedStyle) {
                clearFixedStyles(settingsDiv);
                hasAddFixedStyle = false;
            } else if (documentScrollTop > defaultScrollTop && !hasAddFixedStyle) {
                addFixedStyles(settingsDiv);
                hasAddFixedStyle = true;
            }
        };

        window.onresize = function () {
            if (hasAddFixedStyle) {
                clearFixedStyles(settingsDiv);
                addFixedStyles(settingsDiv);
            }
        };

        updateHeaders();
    });

    function updateHeaders() {
        var flex = wijmo.Control.getControl("#mergingFlexGrid");
        if (flex) {
            // insert new row if not yet
            if (flex.columnHeaders.rows.length === 1) {
                flex.columnHeaders.rows.insert(0, new wijmo.grid.Row());
            }
            flex.columnHeaders.rows[0].allowMerging = true;

            // set headings so the cells merge
            for (var i = 0; i < flex.columns.length; i++) {
                var hdr = 'String';
                switch (flex.columns[i].binding) {
                    case 'ID':
                    case 'Amount':
                    case 'Discount':
                        hdr = 'Number';
                        break;
                    case 'Active':
                        hdr = 'Boolean';
                        break;
                }
                flex.columnHeaders.setCellData(0, i, hdr);
            }
        }
    }

    function clearFixedStyles(obj) {
        obj.style.height = "";
        obj.style.width = "";
        var classes = obj.className.split(/\s+/g);
        classes.splice(classes.indexOf("fixed-top"), 1);
        obj.className = classes.join(" ");
    }

    function addFixedStyles(obj) {
        obj.style.height = settingsDiv.offsetHeight + "px";
        obj.style.width = settingsDiv.offsetWidth + "px";
        obj.className = obj.className + " fixed-top";
    }

    function getScrollingTop(obj) {
        var scrollTop = obj.offsetTop;
        if (obj.offsetParent != null) {
            scrollTop += getScrollingTop(obj.offsetParent);
        }
        return scrollTop;
    }

    function onAllowMergingChanged(menu) {
        var mergingHeader = menu.selectedItem.Header;
        menu.header = "@Html.Raw(FlexGridRes.PDFExport_AllowMerging) <b>" + mergingHeader + "</b>";
        mergedGrid.allowMerging = menu.selectedItem.CommandParameter;
    }

    function exportGroupedGrid() {
                var fontFile = { source: 'https://demo.grapecity.com/wijmo/sample/fonts/ipaexg.ttf', name: 'ipaexg' },
                font = new wijmo.pdf.PdfFont('ipaexg');
        wijmo.grid.pdf.FlexGridPdfConverter.export(groupedGrid, 'FlexGrid.pdf', {
            maxPages: 10,
            exportMode: exportSettings.exportMode,
            scaleMode: exportSettings.scaleMode,
            documentOptions: {
                pageSettings: {
                    layout: exportSettings.orientation
                },
                header: {
                    declarative: {
                        text: '&[Page]\\&[Pages]\theader\t&[Page]\\&[Pages]'
                    }
                },
                footer: {
                    declarative: {
                        text: '&[Page]\\&[Pages]\tfooter\t&[Page]\\&[Pages]'
                    }
                },
                info: {
                    author: 'C1',
                    title: 'PdfDocument sample',
                    keywords: 'PDF, C1, sample',
                    subject: 'PdfDocument'
                }
            },
                embeddedFonts: [fontFile],
            styles: {
                cellStyle: {
                    backgroundColor: '#ffffff',
                        borderColor: '#c6c6c6',
                        font: font
                },
                altCellStyle: {
                    backgroundColor: '#f9f9f9'
                },
                groupCellStyle: {
                    backgroundColor: '#dddddd'
                },
                headerCellStyle: {
                    backgroundColor: '#eaeaea'
                }
            }
        });
    }

    function exportMergedGrid() {
            var fontFile = { source: 'https://demo.grapecity.com/wijmo/sample/fonts/ipaexg.ttf', name: 'ipaexg' },
                font = new wijmo.pdf.PdfFont('ipaexg');
        wijmo.grid.pdf.FlexGridPdfConverter.export(mergedGrid, 'FlexGrid.pdf', {
            maxPages: 10,
            exportMode: exportSettings.exportMode,
            scaleMode: exportSettings.scaleMode,
            documentOptions: {
                pageSettings: {
                    layout: exportSettings.orientation
                },
                header: {
                    declarative: {
                        text: '&[Page]\\&[Pages]\theader\t&[Page]\\&[Pages]'
                    }
                },
                footer: {
                    declarative: {
                        text: '&[Page]\\&[Pages]\tfooter\t&[Page]\\&[Pages]'
                    }
                },
                info: {
                    author: 'C1',
                    title: 'PdfDocument sample',
                    keywords: 'PDF, C1, sample',
                    subject: 'PdfDocument'
                }
            },
                embeddedFonts: [fontFile],
            styles: {
                cellStyle: {
                    backgroundColor: '#ffffff',
                        borderColor: '#c6c6c6',
                        font: font
                },
                altCellStyle: {
                    backgroundColor: '#f9f9f9'
                },
                groupCellStyle: {
                    backgroundColor: '#dddddd'
                },
                headerCellStyle: {
                    backgroundColor: '#eaeaea'
                }
            }
        });
    }

    function exportTreeViewGrid() {
        wijmo.grid.pdf.FlexGridPdfConverter.export(treeViewGrid, 'FlexGrid.pdf', {
            maxPages: 10,
            exportMode: exportSettings.exportMode,
            scaleMode: exportSettings.scaleMode,
            embeddedFonts: [{
                source: '@(Url.Content("~/Content/fonts/fira/FiraSans-Regular.ttf"))',
                name: 'fira',
                style: 'normal',
                weight: 'normal',
                sansSerif: true
            }, {
                source: '@(Url.Content("~/Content/fonts/fira/FiraSans-Bold.ttf"))',
                name: 'fira',
                style: 'normal',
                weight: 'bold',
                sansSerif: true
            }],
            documentOptions: {
                pageSettings: {
                    layout: exportSettings.orientation
                },
                header: {
                    declarative: {
                        text: '&[Page]\\&[Pages]\theader\t&[Page]\\&[Pages]'
                    }
                },
                footer: {
                    declarative: {
                        text: '&[Page]\\&[Pages]\tfooter\t&[Page]\\&[Pages]'
                    }
                },
                info: {
                    author: 'C1',
                    title: 'PdfDocument sample',
                    keywords: 'PDF, C1, sample',
                    subject: 'PdfDocument'
                }
            },
            styles: {
                cellStyle: {
                    backgroundColor: '#ffffff',
                    borderColor: '#c6c6c6',
                    font: {
                        family: 'fira'
                    }
                },
                altCellStyle: {
                    backgroundColor: '#f9f9f9'
                },
                groupCellStyle: {
                    backgroundColor: '#dddddd'
                },
                headerCellStyle: {
                    backgroundColor: '#eaeaea'
                }
            }
        });
    }

    function setScaleMode(menu) {
        menu.header = "@(FlexGridRes.PDFExport_ScaleMode) <b>" + menu.selectedItem.Header + "</b>";
        exportSettings.scaleMode = wijmo.grid.pdf.ScaleMode[menu.selectedItem.Header];
    }

    function setOrientation(menu) {
        menu.header = "@(FlexGridRes.PDFExport_Orientation) <b>" + menu.selectedItem.Header + "</b>";
        exportSettings.orientation = wijmo.pdf.PdfPageOrientation[menu.selectedItem.Header];
    }

    function setExportMode(menu) {
        menu.header = "@(FlexGridRes.PDFExport_ExportMode) <b>" + menu.selectedItem.Header + "</b>";
        exportSettings.exportMode = wijmo.grid.pdf.ExportMode[menu.selectedItem.Header];
    }
</script>
}

<div class="copy well">
    <p>@Html.Raw(FlexGridRes.PDFExport_Text0)</p>
    <p>@Html.Raw(FlexGridRes.PDFExport_Text1)</p>
    <ul>
        <li>@Html.Raw(FlexGridRes.PDFExport_Li1)</li>
        <li>@Html.Raw(FlexGridRes.PDFExport_Li2)</li>
        <li>@Html.Raw(FlexGridRes.PDFExport_Li3)</li>
    </ul>
    <p>@Html.Raw(FlexGridRes.PDFExport_Text2)</p>
    <ul>
        <li>@Html.Raw(FlexGridRes.PDFExport_Li4)</li>
        <li>@Html.Raw(FlexGridRes.PDFExport_Li5)</li>
        <li>@Html.Raw(FlexGridRes.PDFExport_Li6)</li>
    </ul>
</div>

<div class="copy well" id="exportSettingsDiv">
    <b>@Html.Raw(FlexGridRes.PDFExport_ExportSettings)</b>
    <c1-menu header="@(FlexGridRes.PDFExport_ScaleMode + " <b>ActualSize</b>")" item-clicked="setScaleMode">
        <c1-menu-item header="ActualSize"></c1-menu-item>
        <c1-menu-item header="PageWidth"></c1-menu-item>
        <c1-menu-item header="SinglePage"></c1-menu-item>
    </c1-menu>

    <c1-menu header="@(FlexGridRes.PDFExport_Orientation + " <b>Portrait</b>")" item-clicked="setOrientation">
        <c1-menu-item header="Portrait"></c1-menu-item>
        <c1-menu-item header="Landscape"></c1-menu-item>
    </c1-menu>

    <c1-menu header="@(FlexGridRes.PDFExport_ExportMode + " <b>All</b>")" item-clicked="setExportMode">
        <c1-menu-item header="All"></c1-menu-item>
        <c1-menu-item header="Selection"></c1-menu-item>
    </c1-menu>
</div>

<h3>@Html.Raw(FlexGridRes.PDFExport_GroupingSupport)</h3>
<p>@Html.Raw(FlexGridRes.PDFExport_Text3)</p>
<button class="btn btn-default" onclick="exportGroupedGrid()">@Html.Raw(FlexGridRes.PDFExport_Export)</button>
<br /><br />
<c1-flex-grid id="groupingFlexGrid" selection-mode="ListBox" headers-visibility="All"
              show-groups="true" group-by="Product,Country,Amount" class="grid"
              allow-merging="All" auto-generate-columns="false">
    <c1-flex-grid-column binding="ID"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Start" header="Start Date" format="d"></c1-flex-grid-column>
    <c1-flex-grid-column binding="End" header="End Date" format="d"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Country"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Product"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Amount" header="Amount22" format="c" aggregate="Sum"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Color"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Amount2" header="Pending" format="c2"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Discount" format="p1"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Active"></c1-flex-grid-column>
    <c1-items-source source-collection="groupedFlexGridData"></c1-items-source>
</c1-flex-grid>
<br />
<br />

<div>
    <h3>@Html.Raw(FlexGridRes.PDFExport_MergingSupport)</h3>
    <p>@Html.Raw(FlexGridRes.PDFExport_Text4)</p>
    <c1-menu header="@(FlexGridRes.PDFExport_AllowMerging + " <b>All</b>")" display-member-path="Header"
             command-parameter-path="CommandParameter" item-clicked="onAllowMergingChanged">
        <c1-menu-item header="All" command-parameter="AllowMerging.All"></c1-menu-item>
        <c1-menu-item header="None" command-parameter="AllowMerging.None"></c1-menu-item>
        <c1-menu-item header="AllHeaders" command-parameter="AllowMerging.AllHeaders"></c1-menu-item>
        <c1-menu-item header="Cells" command-parameter="AllowMerging.Cells"></c1-menu-item>
        <c1-menu-item header="ColumnHeaders" command-parameter="AllowMerging.ColumnHeaders"></c1-menu-item>
        <c1-menu-item header="RowHeaders" command-parameter="AllowMerging.RowHeaders"></c1-menu-item>
    </c1-menu>

    <button class="btn btn-default" onclick="exportMergedGrid()">@Html.Raw(FlexGridRes.PDFExport_Export)</button>
    <br /><br />
    <c1-flex-grid id="mergingFlexGrid" allow-dragging="None" allow-merging="All"
                  class="grid" auto-generate-columns="false">
        <c1-flex-grid-column binding="ID" align="right"></c1-flex-grid-column>
        <c1-flex-grid-column binding="Country" allow-merging="true"></c1-flex-grid-column>
        <c1-flex-grid-column binding="Product" allow-merging="true"></c1-flex-grid-column>
        <c1-flex-grid-column binding="Color" allow-merging="true"></c1-flex-grid-column>
        <c1-flex-grid-column binding="Amount" header="Amount22" format="n0" aggregate="Sum" c1-data-type="DataType.Number" align="right"></c1-flex-grid-column>
        <c1-flex-grid-column binding="Discount" format="p0" aggregate="Avg" c1-data-type="DataType.Number" align="right"></c1-flex-grid-column>
        <c1-flex-grid-column binding="Active" allow-merging="true" c1-data-type="DataType.Boolean" align="center"></c1-flex-grid-column>
        <c1-items-source source-collection="mergedFlexGridData"></c1-items-source>
    </c1-flex-grid>
    <br />
    <br />

    <div>
        <h3>@Html.Raw(FlexGridRes.PDFExport_TreeViewSupportAndFontEmbedding)</h3>
        <p>@Html.Raw(FlexGridRes.PDFExport_Text5)</p>
        <p>@Html.Raw(FlexGridRes.PDFExport_Text6)</p>
        <p>@Html.Raw(FlexGridRes.PDFExport_Text7)</p>
        <ul>
            <li>@Html.Raw(FlexGridRes.PDFExport_Li7)</li>
            <li>@Html.Raw(FlexGridRes.PDFExport_Li8)</li>
        </ul>
        <button class="btn btn-default" onclick="exportTreeViewGrid()">@Html.Raw(FlexGridRes.PDFExport_Export)</button>
        <br /><br />
        <c1-flex-grid id="treeFlexGrid" class="grid custom-flex-grid"
                      child-items-path="Children" auto-generate-columns="false"
                      allow-resizing="None" headers-visibility="Column" selection-mode="ListBox">
            <c1-items-source source-collection="treeViewData"></c1-items-source>
            <c1-flex-grid-column binding="Header" width="*"></c1-flex-grid-column>
            <c1-flex-grid-column binding="Size" width="80"></c1-flex-grid-column>
        </c1-flex-grid>
    </div>
</div>