﻿<%@ Page Title="" Language="vb" MasterPageFile="~/Wijmo.Master" AutoEventWireup="true" CodeBehind="ClientSideEditing.aspx.vb" Inherits="ControlExplorer.C1GridView.Editing1" %>

<%@ Register Assembly="C1.Web.Wijmo.Controls.45" Namespace="C1.Web.Wijmo.Controls.C1GridView" TagPrefix="wijmo" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Head" runat="server">
	<style type="text/css">
		legend
		{
			background-color: transparent;
		}
		
		.wijmo-wijgrid .wijmo-wijinput .wijmo-wijinput-trigger .ui-icon
		{
			margin-top: 0px;
		}
	</style>

	<script type="text/javascript">
		function beforeCellEdit(e, args) {
			if (args.cell.column().dataField === "ShippedDate") {
				$("<input />")
					.width("100%")
					.appendTo(args.cell.container().empty())
					.wijinputdate({
						date: args.cell.value(),
						showTrigger: true,
                        culture: "ja-jp"
					});

				args.handled = true;
			}
		}

		function beforeCellUpdate(e, args) {
			if (args.cell.column().dataField === "ShippedDate") {
				args.value = args.cell.container()
					.find("input")
					.wijinputdate("option", "date");
			}
		}

		function afterCellEdit(e, args) {
			if (args.cell.column().dataField === "ShippedDate") {
				args.cell.container()
					.find("input")
					.wijinputdate("destroy");
			}
		}
	</script>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
	<asp:ScriptManager ID="ScriptManager1" runat="server">
	</asp:ScriptManager>

	<wijmo:C1GridView ID="C1GridView1" runat="server"
		AutoGenerateDeleteButton="true" AllowClientEditing="true" DataKeyNames="OrderID" HighlightCurrentCell="true" ShowRowHeader="true"
		OnRowUpdating="C1GridView1_RowUpdating" OnEndRowUpdated="C1GridView1_EndRowUpdated" OnRowDeleting="C1GridView1_RowDeleting" AllowKeyboardNavigation="true"
		
		OnClientBeforeCellEdit="beforeCellEdit" OnClientBeforeCellUpdate="beforeCellUpdate" OnClientAfterCellEdit="afterCellEdit">
		<CallbackSettings Action="Editing" />
	</wijmo:C1GridView>
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="ControlOptions" runat="server">
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="Description" runat="server">
	<p>
		<strong>C1GridView</strong> は、クライアント側の編集をサポートしています。
        このサンプルでは、クライアント側の編集が使用される際にセッションオブジェクトに格納されているデータセットを更新する方法と、クライアント側のカスタムエディタを提供する方法を示します。
	</p>

	<p>このサンプルは、次のプロパティを使用しています。</p>
	<ul>
		<li><strong>AllowClientEditing</strong> - エンドユーザーによるカレントセル値の編集を許可します。</li>
		<li><strong>AllowKeyboardNavigation</strong> - エンドユーザーによるキーボードを使用したカレントセル位置の変更を許可します。</li>
		<li><strong>HighlightCurrentCell</strong> - カレントセルを強調表示します。</li>
	</ul>

	<p>
		このサンプルは、次のクライアント側イベントハンドラを使用し、<strong>ShippedDate</strong> 列にカスタムエディタを作成します。
	</p>
	<ul>
		<li><strong>OnClientBeforeCellEdit</strong> - 編集の前にカスタムエディタを作成します。</li>
		<li><strong>OnClientBeforeCellUpdate</strong> - 編集が終了する前に、編集値をグリッドに渡します。</li>
		<li><strong>OnClientAfterCellEdit</strong> - 編集が終了した後に、カスタムエディタを破棄します。</li>
	</ul>

	<p>このサンプルは、次のサーバー側イベントハンドラを使用しています。</p>
	<ul>
		<li><strong>RowUpdating</strong> - クライアントから取得した値を用いてデータソースを更新します。</li>
		<li><strong>EndRowUpdating</strong> - 変更をコミットします。</li>
	</ul>

	<p>カレントセルは、下記の操作で編集モードに入ります。</p>
	<ul>
		<li>マウスの左ボタンでダブルクリックした場合</li>
		<li>キーボードにて <strong>F2</strong> キーが押された場合（カーソルはエディタ領域の終わりに配置されます）</li>
		<li>任意の英数字キーが押された場合（元の値が入力されたキーの値で置き換えられます）</li>
	</ul>

	<p>カレントセルの編集は次の動作でコミットされます。</p>
	<ul>
		<li>カレントセルの位置が変更された場合</li>
		<li><strong>F2</strong> または <strong>Enter</strong> キーが押された場合 (既定エディタの場合のみ)</li>
	</ul>

	<p><strong>Esc</strong> キーを押すと元の値を復元し、カレントセルの編集をキャンセルします。</p>

	<p>現在の行の位置が変更されたとき、すべてのコミットされていない変更がサーバーに送信されます。</p>
</asp:Content>