﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="description" content="Explore the vast array of themes that Wijmo supports including our own premium themes as well as the 24 jQuery UI themes from Themeroller." />
    <link href="http://cdn.wijmo.com/themes/rocket/jquery-wijmo.css" rel="stylesheet" type="text/css" title="rocket-jqueryui" />
         <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Wijmo CSS and script -->
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.css" rel="stylesheet" type="text/css" />

    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.js" type="text/javascript"></script>

    <link href="theme-explore/style.css" rel="stylesheet" type="text/css" />
    <script src="theme-explore/init.js" type="text/javascript"></script>
    <title>Wijmo - Theme Sample Explorer</title>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-208280-14']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <div id="content">
        <div id="header">
            <div class="content-inner">
                <h1 class="theme-explorer">
                    Wijmo Theme Explorer</h1>
                <a href="http://themeroller.com" class="jqueryui-link">
                    <img src="theme-explore/images/jqueryui-button.png" alt="jQuery UI" /></a>
            </div>
        </div>
        <div id="theme-selector" class="ui-helper-clearfix">
            <div class="content-inner">
                <h3 class="section-title">
                    Themes</h3>
                <ul class="premium-themes ui-helper-reset ui-helper-clearfix">
                    <li><a href="http://cdn.wijmo.com/themes/arctic/jquery-wijmo.css" title="Arctic"
                        rel="Arctic">
                        <img src="theme-explore/images/themes/arctic.png" alt="Arctic" /> <span
                            class="theme-smalltitle">Arctic</span> </a></li>
                    <li><a href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" title="Aristo"
                        rel="Aristo">
                        <img src="theme-explore/images/themes/aristo.png" alt="Aristo" /> <span
                            class="theme-smalltitle">Aristo</span> </a></li>
                    <li><a href="http://cdn.wijmo.com/themes/rocket/jquery-wijmo.css" title="Rocket"
                        rel="Rocket">
                        <img src="theme-explore/images/themes/rocket.png" alt="Rocket" /> <span
                            class="theme-smalltitle">Rocket</span> </a></li>
                    <li><a href="http://cdn.wijmo.com/themes/midnight/jquery-wijmo.css" title="Midnight"
                        rel="Midnight">
                        <img src="theme-explore/images/themes/midnight.png" alt="Midnight" />
                        <span class="theme-smalltitle">Midnight</span></a> </li>
                    <li><a href="http://cdn.wijmo.com/themes/sterling/jquery-wijmo.css" title="Sterling"
                        rel="Sterling">
                        <img src="theme-explore/images/themes/sterling.png" alt="Sterling" />
                        <span class="theme-smalltitle">Sterling</span> </a></li>
                    <li><a href="http://cdn.wijmo.com/themes/cobalt/jquery-wijmo.css" title="Cobalt"
                        rel="Cobalt">
                        <img src="theme-explore/images/themes/cobalt.png" alt="Cobalt" /> <span
                            class="theme-smalltitle">Cobalt</span></a> </li>
                </ul>
                <ul class="jqueryui-themes ui-helper-reset ui-helper-clearfix">
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/black-tie/jquery-ui.css"
                        title="Black Tie" rel="Black Tie">
                        <img src="theme-explore/images/themes/blacktie.png" alt="Black Tie" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/blitzer/jquery-ui.css"
                        title="Blitzer" rel="Blitzer">
                        <img src="theme-explore/images/themes/blitzer.png" alt="Blitzer" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/cupertino/jquery-ui.css"
                        title="Cupertino" rel="Cupertino">
                        <img src="theme-explore/images/themes/cupertino.png" alt="Cupertino" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/dark-hive/jquery-ui.css"
                        title="Dark Hive" rel="Dark Hive">
                        <img src="theme-explore/images/themes/darkhive.png" alt="Dark Hive" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/dot-luv/jquery-ui.css"
                        title="Dot Luv" rel="Dot Luv">
                        <img src="theme-explore/images/themes/dotluv.png" alt="Dot Luv" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/eggplant/jquery-ui.css"
                        title="Eggplant" rel="Eggplant">
                        <img src="theme-explore/images/themes/eggplant.png" alt="Eggplant" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/excite-bike/jquery-ui.css"
                        title="Excite Bike" rel="Excite Bike">
                        <img src="theme-explore/images/themes/excitebike.png" alt="Excite Bike" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/flick/jquery-ui.css"
                        title="Flick" rel="Flick">
                        <img src="theme-explore/images/themes/flick.png" alt="Flick" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/hot-sneaks/jquery-ui.css"
                        title="Hot Sneaks" rel="Hot Sneaks">
                        <img src="theme-explore/images/themes/hotsneaks.png" alt="Hot Sneaks" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/humanity/jquery-ui.css"
                        title="Humanity" rel="Humanity">
                        <img src="theme-explore/images/themes/humanity.png" alt="Humanity" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/le-frog/jquery-ui.css"
                        title="Le Frog" rel="Le Frog">
                        <img src="theme-explore/images/themes/lefrog.png" alt="Le Frog" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/mint-choc/jquery-ui.css"
                        title="Mint Chocolate" rel="Mint Chocolate">
                        <img src="theme-explore/images/themes/mintchoc.png" alt="Mint Chocolate" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/overcast/jquery-ui.css"
                        title="Overcast" rel="Overcast">
                        <img src="theme-explore/images/themes/overcast.png" alt="Overcast" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/pepper-grinder/jquery-ui.css"
                        title="Pepper Grinder" rel="Pepper Grinder">
                        <img src="theme-explore/images/themes/peppergrinder.png" alt="Pepper Grinder" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/redmond/jquery-ui.css"
                        title="Redmond" rel="Redmond">
                        <img src="theme-explore/images/themes/redmond.png" alt="Redmond" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/smoothness/jquery-ui.css"
                        title="Smoothness" rel="Smoothness">
                        <img src="theme-explore/images/themes/smoothness.png" alt="Smoothness" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/south-street/jquery-ui.css"
                        title="South Street" rel="South Street">
                        <img src="theme-explore/images/themes/southstreet.png" alt="South Street" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/start/jquery-ui.css"
                        title="Start" rel="Start">
                        <img src="theme-explore/images/themes/start.png" alt="Start" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/sunny/jquery-ui.css"
                        title="Sunny" rel="Sunny">
                        <img src="theme-explore/images/themes/sunny.png" alt="Sunny" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/swanky-purse/jquery-ui.css"
                        title="Swanky Purse" rel="Swanky Purse">
                        <img src="theme-explore/images/themes/swankypurse.png" alt="Swanky Purse" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/trontastic/jquery-ui.css"
                        title="Trontasic" rel="Trontasic">
                        <img src="theme-explore/images/themes/trontastic.png" alt="Trontasic" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/ui-darkness/jquery-ui.css"
                        title="UI Darkness" rel="UI Darkness">
                        <img src="theme-explore/images/themes/uidarkness.png" alt="UI Darkness" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/ui-lightness/jquery-ui.css"
                        title="UI Lightness" rel="UI Lightness">
                        <img src="theme-explore/images/themes/uilightness.png" alt="UI Lightness" /></a></li>
                    <li><a href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/vader/jquery-ui.css"
                        title="Vader" rel="Vader">
                        <img src="theme-explore/images/themes/vader.png" alt="Vader" /></a></li>
                </ul>
            </div>
            <div class="clear">
            </div>
        </div>
        <div id="widget-container" class="ui-helper-clearfix">
            <div class="content-inner">
                <h3 class="section-title">
                    Widgets</h3>
                <div class="theme-header">
                    <h4 class="theme-name">
                        Rocket</h4>
                    <a class="theme-link" href="http://cdn.wijmo.com/themes/rocket/jquery-wijmo.css">http://cdn.wijmo.com/themes/rocket/jquery-wijmo.css</a>
                </div>
                <ul class="widgets ui-helper-reset">
                    <li class="widget-list">
                        <div class="widget-inner ui-widget-overlay">
                            <div id="wijcalendar">
                            </div>
                        </div>
                    </li>
                    <li class="widget-list">
                        <div class="widget-inner ui-widget-overlay">
                            <table id="wijgrid">
                            </table>
                        </div>
                    </li>
                    <li class="widget-list">
                        <div class="widget-inner ui-widget-overlay">
                            <div id="wijaccordion">
                                <div>
                                    <h3>
                                        <a href="#">First</a></h3>
                                    <div>
                                        <p>
                                            Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque.
                                            Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a
                                            nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada.
                                            Vestibulum a velit eu ante scelerisque vulputate.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <h3>
                                        <a href="#">Second</a></h3>
                                    <div>
                                        <p>
                                            Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus
                                            hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum
                                            tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <h3>
                                        <a href="#">Third</a></h3>
                                    <div>
                                        <p>
                                            Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus
                                            pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque
                                            semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam
                                            nisi, eu iaculis leo purus venenatis dui.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <h3>
                                        <a href="#">Fourth</a></h3>
                                    <div>
                                        <p>
                                            Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque.
                                            Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a
                                            nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada.
                                            Vestibulum a velit eu ante scelerisque vulputate.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <h3>
                                        <a href="#">Fifth</a></h3>
                                    <div>
                                        <p>
                                            Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus
                                            hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum
                                            tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <h3>
                                        <a href="#">Sixth</a></h3>
                                    <div>
                                        <p>
                                            Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus
                                            pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque
                                            semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam
                                            nisi, eu iaculis leo purus venenatis dui.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="widget-list">
                        <div class="widget-inner ui-widget-overlay">
                            <ul id="ipodmenu">
                                <li>
                                    <h3>
                                        News Category</h3>
                                </li>
                                <li></li>
                                <li><a href="#">Breaking News</a>
                                    <ul>
                                        <li><a href="#">Entertainment</a></li>
                                        <li><a href="#">Politics</a></li>
                                        <li><a href="#">A&amp;E</a></li>
                                        <li><a href="#">Sports</a>
                                            <ul>
                                                <li><a href="#">Baseball</a></li>
                                                <li><a href="#">Basketball</a></li>
                                                <li><a href="#">A really long label would wrap nicely as you can see</a></li>
                                                <li><a href="#">Swimming</a>
                                                    <ul>
                                                        <li><a href="#">High School</a></li>
                                                        <li><a href="#">College</a></li>
                                                        <li><a href="#">Professional</a>
                                                            <ul>
                                                                <li><a href="#">Mens Swimming</a>
                                                                    <ul>
                                                                        <li><a href="#">News</a></li>
                                                                        <li><a href="#">Events</a></li>
                                                                        <li><a href="#">Awards</a></li>
                                                                        <li><a href="#">Schedule</a></li>
                                                                        <li><a href="#">Team Members</a></li>
                                                                        <li><a href="#">Fan Site</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li><a href="#">Womens Swimming</a>
                                                                    <ul>
                                                                        <li><a href="#">News</a></li>
                                                                        <li><a href="#">Events</a></li>
                                                                        <li><a href="#">Awards</a></li>
                                                                        <li><a href="#">Schedule</a></li>
                                                                        <li><a href="#">Team Members</a></li>
                                                                        <li><a href="#">Fan Site</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Adult Recreational</a></li>
                                                        <li><a href="#">Youth Recreational</a></li>
                                                        <li><a href="#">Senior Recreational</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Tennis</a></li>
                                                <li><a href="#">Ice Skating</a></li>
                                                <li><a href="#">Javascript Programming</a></li>
                                                <li><a href="#">Running</a></li>
                                                <li><a href="#">Walking</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Local</a></li>
                                        <li><a href="#">Health</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Entertainment</a>
                                    <ul>
                                        <li><a href="#">Celebrity news</a></li>
                                        <li><a href="#">Gossip</a></li>
                                        <li><a href="#">Movies</a></li>
                                        <li><a href="#">Music</a>
                                            <ul>
                                                <li><a href="#">Alternative</a></li>
                                                <li><a href="#">Country</a></li>
                                                <li><a href="#">Dance</a></li>
                                                <li><a href="#">Electronica</a></li>
                                                <li><a href="#">Metal</a></li>
                                                <li><a href="#">Pop</a></li>
                                                <li><a href="#">Rock</a>
                                                    <ul>
                                                        <li><a href="#">Bands</a>
                                                            <ul>
                                                                <li><a href="#">Dokken</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Fan Clubs</a></li>
                                                        <li><a href="#">Songs</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Slide shows</a></li>
                                        <li><a href="#">Red carpet</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Finance</a>
                                    <ul>
                                        <li><a href="#">Personal</a>
                                            <ul>
                                                <li><a href="#">Loans</a></li>
                                                <li><a href="#">Savings</a></li>
                                                <li><a href="#">Mortgage</a></li>
                                                <li><a href="#">Debt</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Business</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Food &#38; Cooking</a>
                                    <ul>
                                        <li><a href="#">Breakfast</a></li>
                                        <li><a href="#">Lunch</a></li>
                                        <li><a href="#">Dinner</a></li>
                                        <li><a href="#">Dessert</a>
                                            <ul>
                                                <li><a href="#">Dump Cake</a></li>
                                                <li><a href="#">Doritos</a></li>
                                                <li><a href="#">Both please.</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Politics</a></li>
                                <li><a href="#">Sports</a>
                                    <ul>
                                        <li><a href="#">Baseball</a></li>
                                        <li><a href="#">Basketball</a></li>
                                        <li><a href="#">Swimming</a>
                                            <ul>
                                                <li><a href="#">High School</a></li>
                                                <li><a href="#">College</a></li>
                                                <li><a href="#">Professional</a>
                                                    <ul>
                                                        <li><a href="#">Mens Swimming</a>
                                                            <ul>
                                                                <li><a href="#">News</a></li>
                                                                <li><a href="#">Events</a></li>
                                                                <li><a href="#">Awards</a></li>
                                                                <li><a href="#">Schedule</a></li>
                                                                <li><a href="#">Team Members</a></li>
                                                                <li><a href="#">Fan Site</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Womens Swimming</a>
                                                            <ul>
                                                                <li><a href="#">News</a></li>
                                                                <li><a href="#">Events</a></li>
                                                                <li><a href="#">Awards</a></li>
                                                                <li><a href="#">Schedule</a></li>
                                                                <li><a href="#">Team Members</a></li>
                                                                <li><a href="#">Fan Site</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Adult Recreational</a></li>
                                                <li><a href="#">Youth Recreational</a></li>
                                                <li><a href="#">Senior Recreational</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Tennis</a></li>
                                        <li><a href="#">Ice Skating</a></li>
                                        <li><a href="#">Javascript Programming</a></li>
                                        <li><a href="#">Running</a></li>
                                        <li><a href="#">Walking</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="widget-list">
                        <div class="widget-inner ui-widget-overlay">
                            <div id="wijtabs">
                                <ul>
                                    <li><a href="#tabs-1">Nunc tincidunt</a></li>
                                    <li><a href="#tabs-2">Proin dolor</a></li>
                                    <li><a href="#tabs-3">Aenean lacinia</a></li>
                                </ul>
                                <div id="tabs-1">
                                    <p>
                                        Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec
                                        arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante.
                                        Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper
                                        leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales
                                        tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel
                                        pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum.
                                        Nunc tristique tempus lectus.</p>
                                </div>
                                <div id="tabs-2">
                                    <p>
                                        Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra
                                        massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget
                                        luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean
                                        aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent
                                        in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat
                                        nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque
                                        convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod
                                        felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
                                </div>
                                <div id="tabs-3">
                                    <p>
                                        Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
                                        pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
                                        Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
                                        nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
                                        pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
                                        enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                                    <p>
                                        Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam
                                        ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
                                        velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula
                                        faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero
                                        sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor
                                        ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas
                                        commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit
                                        hendrerit.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="widget-list">
                        <div class="widget-inner ui-widget-overlay">
                            <ul id="wijtree">
                                <li class="folder"><a><span>Folder 1</span></a>
                                    <ul>
                                        <li class="folder"><a><span>Folder 1.1</span></a>
                                            <ul>
                                                <li class="file"><a><span>File 1.1</span></a></li>
                                                <li class="file"><a><span>File 1.2</span></a></li>
                                                <li class="file"><a><span>File 1.3</span></a></li>
                                                <li class="file"><a><span>File 1.4</span></a></li>
                                                <li class="file"><a><span>File 1.5</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="file"><a><span>File 1.2</span></a></li>
                                        <li class="file"><a><span>File 1.3</span></a></li>
                                        <li class="file"><a><span>File 1.4</span></a></li>
                                        <li class="file"><a><span>File 1.5</span></a></li>
                                    </ul>
                                </li>
                                <li class="folder"><a><span>Folder 2</span></a>
                                    <ul>
                                        <li class="file"><a><span>File 2.1</span></a></li>
                                        <li class="file"><a><span>File 2.2</span></a></li>
                                        <li class="file"><a><span>File 2.3</span></a></li>
                                        <li class="file"><a><span>File 2.4</span></a></li>
                                        <li class="file"><a><span>File 2.5</span></a></li>
                                    </ul>
                                </li>
                                <li class="folder"><a><span>Folder 3</span></a>
                                    <ul>
                                        <li class="file"><a><span>File 3.1</span></a></li>
                                        <li class="file"><a><span>File 3.2</span></a></li>
                                        <li class="file"><a><span>File 3.3</span></a></li>
                                        <li class="file"><a><span>File 3.4</span></a></li>
                                        <li class="file"><a><span>File 3.5</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="widget-list">
                        <div class="widget-inner ui-widget-overlay">
                            <div id="list">
                            </div>
                        </div>
                    </li>
                    <li class="widget-list">
                        <div class="widget-inner ui-widget-overlay">
                            <ul class="formdecorator ui-widget-content ui-corner-all ui-helper-clearfix">
                                <li class="wijinput-container">
                                    <input id="textbox" type="text" />
                                </li>
                                <li class="wijcheck-container">
                                    <input id="checkbox1" type="checkbox" /><label for="checkbox1">Lorem</label>
                                    <input id="checkbox2" type="checkbox" /><label for="checkbox2">Ipsum</label>
                                </li>
                                <li class="wijradio-container">
                                    <input type="radio" name="radiobutton1" id="radio1" /><label for="radio1">Dolor</label>
                                    <input type="radio" name="radiobutton1" id="radio2" /><label for="radio2">Amet</label>
                                </li>
                    </li>
                    <li class="wijbutton-container">
                        <button id="wijmo-button">
                            Submit</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</body>
</html>
