﻿@model $safeprojectname$.Models.LogOnModel

@{
    ViewBag.Title = "ログオン";
}

<h2>ログオン</h2>
<p>
    ユーザー名とパスワードを入力してください。アカウントをお持ちでない場合は、@Html.ActionLink("登録", "Register") してください。
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "ログインに失敗しました。エラーを修正し、再試行してください。")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>アカウント情報</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="ログオン" />
            </p>
        </fieldset>
    </div>
}
