﻿#dashboard {
  padding: 12px;
  background: rgba(0, 0, 0, .02);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
}
.heading {
  font-weight: bold;
  text-align: right;
}
.sub {
  font-size: 70%;
  text-align: right;
}
.max {
  font-size: 70%;
}
.warning {
  color: darkred;
  padding-left: 12px;
}
.wj-gauge {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 6px;
}