﻿.gauge-holder {
  width: 80%;
  padding: 12px;
  background: rgba(0, 0, 0, .02);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
}
.wj-gauge {
  width: 100%;
  height: 100%;
}
.wj-radialgauge {
  height: 200px;
}
.wj-inputnumber {
  width: 120px;
}