$if$($israzorpages$ == True)@page
$endif$@{
    Layout = null;
    this.C1EnableDeferredScripts(false);
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ComponentOne MVC ReportViewer</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <c1-styles />

    <c1-scripts>
        <c1-flex-viewer-scripts />
    </c1-scripts>
</head>
<body>
    <c1-report-viewer file-path="$documentpath$"$if$($hasreportname$ == True) report-name="$reportname$"$endif$$if$($currentprojectasservice$ == False) service-url="$serverurl$"$endif$></c1-report-viewer>
</body>
</html>