﻿@model IEnumerable<Dot>

<div id="flexChart" style="height: 300px"></div>
@(Html.C1().FlexChart("#flexChart").ChartType(C1.Web.Mvc.Chart.ChartType.Bubble).Bind("X", Model).Series(sers =>
    {
        sers.Add().Binding("Y,Size");
    }))

@section Description{
    <h3>
        @Html.Raw(Resources.FlexChart.Bubble_Bubble)
    </h3>
    <p>@Html.Raw(Resources.FlexChart.Bubble_Text0)</p>
    <p>@Html.Raw(Resources.FlexChart.Bubble_Text1)</p>
    <p>@Html.Raw(Resources.FlexChart.Bubble_Text2)</p>
}