﻿@model IEnumerable<Fruit>

@{
    ViewBag.DemoSettings = true;
    ClientSettingsModel demoSettingsModel = ViewBag.DemoSettingsModel;
}

@functions{
    public C1.Web.Mvc.Chart.Stacking GetStacking(ClientSettingsModel settings)
    {
        return settings.GetEnum("Stacking", C1.Web.Mvc.Chart.Stacking.None, (stacking) =>
        {
            return string.Equals(stacking, "Stacked 100%", StringComparison.OrdinalIgnoreCase)
                ? "Stacked100pc"
                : stacking;
        });
    }
}

<div id="flexChart"></div>
@(Html.C1().FlexChart().Id(demoSettingsModel.ControlId)
    .ChartType(demoSettingsModel.GetEnum("ChartType", C1.Web.Mvc.Chart.ChartType.Column))
    .Stacking(GetStacking(demoSettingsModel))
    .Rotated(demoSettingsModel.GetBool("Rotated", false))
    .Bind(Model).BindingX("Name").Series(sers =>
    {
        sers.Add().Binding("MarPrice").Name("March");
        sers.Add().Binding("AprPrice").Name("April");
        sers.Add().Binding("MayPrice").Name("May");
    })
)

@section Scripts{
<script type="text/javascript">
    convertStacking = function (value) {
        return value === "Stacked 100%" ? "Stacked100pc" : value;
    };
    convertPalette = function (value) {
        return wijmo.chart.Palettes[value];
    };
    updateGroupWidth = function (control, value) {
        control.options = { groupWidth: value === "50 pixels" ? 50 : value };

    };
</script>
}

@section Description{
    
    <p>@Html.Raw(Resources.FlexChart.Index_Text0)</p>
    <p>@Html.Raw(Resources.FlexChart.Index_Text1)</p>
    <p>@Html.Raw(Resources.FlexChart.Index_Text2)</p>
    <ol>
        <li>@Html.Raw(Resources.FlexChart.Index_Li1)</li>
        <li>@Html.Raw(Resources.FlexChart.Index_Li2)</li>
        <li>@Html.Raw(Resources.FlexChart.Index_Li3)</li>
    </ol>
}