﻿@model FlexGridModel
@{
    ViewBag.Title = "FlexGrid入門";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = Folder.Create(Startup.Environment.ContentRootPath).Children;
}
 
<div class="header">
    <div class="container">
        <img src="@Url.Content("~/images/c1logo.png")" alt="Component One ASP.NET MVC" />        
        <h1>
            FlexGrid入門
        </h1>
        <p>
            このページでは、FlexGridコントロールの使用を開始する方法を説明します。
        </p>
    </div>
</div>

<div class="container">
    <div class="sample-page download-link">
        <a href="https://www.grapecity.co.jp/developer/download#net">トライアル版</a>
    </div>
    <!-- Getting Started -->
    <div>
        <h2>はじめに</h2>
        <p>
            MVCアプリケーションでFlexGridコントロールの使用を開始する際の手順。
        </p>
        <ol>
            <li>ComponentOne ASP.NET Core MVC Webアプリケーションテンプレートを使用して、新しいASP.NET Core MVCプロジェクトを作成します。</li>
            <li>プロジェクトに、コントローラおよび対応するビューを追加します。</li>
            <li>&lt;c1-flex-grid&gt;&lt;/c1-flex-grid&gt;タグを使用して、ビューのFlexGridコントロールを初期化します。</li>
            <li>（オプション）CSSを追加して、FlexGridコントロールの外観をカスタマイズします。</li>
        </ol>
        <p>
            これによって作成されるFlexGridは、デフォルトの動作を行います。たとえば、列の自動生成、列のソートと並べ替え、編集、クリップボードのサポートです。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#gsHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#gsCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#gsCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
<div class="tab-pane active pane-content" id="gsHtml">

&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;!-- this is the grid --&gt;
        &lt;c1-flex-grid id="gsFlexGrid"
                        is-read-only="true"
                        auto-generate-columns="true"
                        sorting-type="SingleColumn"&gt;
            &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
        &lt;/c1-flex-grid&gt;
    &lt;/body&gt;
&lt;/html&gt;

</div>
                        <div class="tab-pane pane-content" id="gsCss">

/* set default grid style */
.wj-flexgrid {
    height: 300px;
    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 12px;
}

                        </div>
<div class="tab-pane pane-content" id="gsCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }
    }
}

</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4> 
                <c1-flex-grid id="gsFlexGrid" 
                              is-read-only="true"
                              auto-generate-columns="true" 
                              sorting-type="SingleColumn">
                    <c1-items-source source-collection="@Model.CountryData" ></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>



    <!-- column definitions -->
    <div>
        <h2>列定義</h2>
        <p>
            「はじめに」の例では列を定義しなかったため、FlexGridが自動的に生成しました。
        </p>
        <p>
            この例は、FlexGridの<b>&lt;c1-flex-grid-column&gt;&lt;/c1-flex-grid-column&gt;</b>タグを使用して列を定義する方法を示します。
        </p>
        <p>
            columnsを指定すると、どの列を選択してどのような順序で表示するかを決めることができます。
            これにより、各列のWidth、Heading、Formatting、Alignmentなどのプロパティを制御することもできます。
        </p>
        <p>
            この場合、スターサイズ設定を使用して「Country」列の幅を設定します。これにより、グリッドの有効幅を埋めるように列を伸ばして空きスペースがないようにします。 「Amount」列は、formatプロパティを「n0」に設定した結果、桁区切りありで小数点以下の桁数がない数字になります。 「Discount」列は、formatプロパティを「p0」に設定した結果、パーセンテージ表記で小数点以下の桁数がない数値になります。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#cdHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#cdCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="cdHtml">

&lt;c1-flex-grid id="cdInitMethod"
    is-read-only="true"
    auto-generate-columns="false"
    sorting-type="SingleColumn"&gt;
    &lt;c1-flex-grid-column binding="ID"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="Start" format="MMM d yy"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="End" format="HH:mm"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="Country" width="*"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="Amount" format="n0"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="Amount2"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="Discount" format="p0"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="Active"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;

</div>
                        <div class="tab-pane pane-content" id="cdCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-grid id="cdInitMethod"
                              is-read-only="true"
                              auto-generate-columns="false"
                              sorting-type="SingleColumn">
                    <c1-flex-grid-column binding="ID"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="Start" format="MMM d yy"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="End" format="HH:mm"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="Country" width="*"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="Amount" format="n0"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="Amount2"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="Discount" format="p0"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="Active"></c1-flex-grid-column> 
                    <c1-items-source source-collection="@Model.CountryData"></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>


    <!-- selection modes -->
    <div>
        <h2>選択モード</h2>
        <p>
            Excelと同様に、FlexGridではデフォルトでマウスまたはキーボードを使ってセルの範囲を選択できます。 <b>selection-mode</b>プロパティを使用すると、これを変更して、Row、Range of Rows、Non-Contiguous Rows（リストボックス内など）、Single Cell、Range of Cellsを選択するか、または選択を完全に無効にできます。
        </p>
        <p>
            この例では、ComboBoxコントロールから<b>selection-mode</b>を選択できます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#smHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#smJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#smCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="smHtml">

&lt;c1-flex-grid id="smFlexGrid"
    is-read-only="true"
    auto-generate-columns="false"
    sorting-type="SingleColumn"&gt;
    &lt;c1-flex-grid-column binding="ID"&gt;&lt;/c1-flex-grid-column&gt;                    
    &lt;c1-flex-grid-column binding="Country" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Amount" format="n0" width="*"&gt;&lt;/c1-flex-grid-column&gt;                    
    &lt;c1-flex-grid-column binding="Discount" format="p0" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Active" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;
&lt;br /&gt;選択モード
&lt;c1-combo-box id="smMenu" selected-index="0" selected-index-changed="smMenu_SelectedIndexChanged"&gt;
    &lt;c1-items-source source-collection="@@Model.Settings["SelectionMode"]"&gt;&lt;/c1-items-source&gt;
&lt;/c1-combo-box&gt;

                        </div>
                        <div class="tab-pane pane-content" id="smJs">

var smFlexGrid = smMenu = null;

$(document).ready(function () {
//選択モード Modules
    smFlexGrid = wijmo.Control.getControl("#smFlexGrid");
});

//選択モード Modules
function smMenu_SelectedIndexChanged(sender){
    if(sender.selectedValue!=null && smFlexGrid!=null){
        smFlexGrid.selectionMode = sender.selectedValue;
    }
}

                        </div>
                        <div class="tab-pane pane-content" id="smCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.Settings = CreateSettings();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }

        private IDictionary<string, object[]> CreateSettings()
        {
            var settings = new Dictionary<string, object[]>
            {
                {"SelectionMode",new object[]{SelectionMode.None.ToString(),SelectionMode.Cell.ToString(),SelectionMode.CellRange.ToString(),SelectionMode.Row.ToString(),SelectionMode.RowRange.ToString(),SelectionMode.ListBox.ToString(),SelectionMode.MultiRange.ToString()}}
            };
            return settings;
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-grid id="smFlexGrid"
                              is-read-only="true"
                              auto-generate-columns="false"
                              sorting-type="SingleColumn" selection-mode="None">
                    <c1-flex-grid-column binding="ID"></c1-flex-grid-column>                    
                    <c1-flex-grid-column binding="Country" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Amount" format="n0" width="*"></c1-flex-grid-column>                    
                    <c1-flex-grid-column binding="Discount" format="p0" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Active" width="*"></c1-flex-grid-column>
                    <c1-items-source source-collection="@Model.CountryData"></c1-items-source>
                </c1-flex-grid>
                <br />選択モード
                <c1-combo-box id="smMenu" selected-index="0" selected-index-changed="smMenu_SelectedIndexChanged">
                    <c1-items-source source-collection="@Model.Settings["SelectionMode"]"></c1-items-source>
                </c1-combo-box>
            </div>
        </div>
    </div>



    <!-- editing -->
    <div>
        <h2>編集</h2>
        <p>
            FlexGridでは、Excelにあるような高速なセル内編集が組み込みでサポートされています。 余分な列を追加して、そこに表示モードと編集モードを切り替えるための編集ボタンを置く必要はありません。
        </p>
        <p>
            ユーザーは、任意のセルでキー入力することで編集を開始できます。 これで、そのセルはクイック編集モードになります。
            このモードでは、カーソルキーを押すと編集が終了し、選択範囲が別のセルに移動します。
        </p>
        <p>
            編集を開始する別の方法としては、F2を押すかセルをダブルクリックします。 これで、そのセルは完全編集モードになります。 このモードでは、カーソルキーを押すと、セルテキスト内のカレットが移動します。
            編集を終了し、別のセルに移動するには、［Enter］、［Tab］、または［Esc］キーを押す必要があります。
        </p>
        <p>
            編集が終了すると、データは自動的に適切なタイプに変換されます。 ユーザーが無効なデータを入力した場合、編集はキャンセルされ、元のデータが保持されます。
        </p>
        <p>
            Grid、Column、Rowオブジェクトの<b>is-read-only</b>プロパティを使用して、Grid、Column、またはRowレベルで編集を無効にすることができます。 この例では、ID列とCountry列を読み取り専用にします。
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#eHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#eCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="eHtml">

&lt;c1-flex-grid id="eFlexGrid"                              
    auto-generate-columns="false"
    sorting-type="SingleColumn"&gt;
    &lt;c1-flex-grid-column binding="ID" is-read-only="true"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Country" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Amount" format="n0" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Discount" format="p0" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Active" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source read-action-url="@@Url.Action("GridRead")" update-action-url="@@Url.Action("EGridUpdate")"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;

                        </div>
                        <div class="tab-pane pane-content" id="eCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            return View();
        }

        public ActionResult GridRead([C1JsonRequest] CollectionViewRequest&lt;Sale&gt; requestData)
        {
            return this.C1Json(CollectionViewHelper.Read(requestData, FlexGridModel.Source));
        }

        public ActionResult EGridUpdate([C1JsonRequest]CollectionViewEditRequest&lt;Sale&gt; requestData)
        {
            return this.C1Json(CollectionViewHelper.Edit(requestData, sale =&gt;
            {
                string error = string.Empty;
                bool success = true;
                var fSale = FlexGridModel.Source.Find(item =&gt; item.ID == sale.ID);
                fSale.Amount = sale.Amount;
                fSale.Discount = sale.Discount;
                fSale.Active = sale.Active;
                return new CollectionViewItemResult&lt;Sale&gt;
                {
                    Error = error,
                    Success = success,
                    Data = fSale
                };
            }, () =&gt; FlexGridModel.Source));
        }
    }
}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-grid id="eFlexGrid"                              
                              auto-generate-columns="false"
                              sorting-type="SingleColumn">
                    <c1-flex-grid-column binding="ID" is-read-only="true"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Country" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Amount" format="n0" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Discount" format="p0" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Active" width="*"></c1-flex-grid-column>
                    <c1-items-source read-action-url="@Url.Action("GridRead")" update-action-url="@Url.Action("EGridUpdate")"></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>


    <!-- grouping -->
    <div>
        <h2>
            グループ化
        </h2>
        <p>
            FlexGridは、.NETと同様の<b>ICollectionView</b>インターフェースを使用したグループ化をサポートします。 グループ化するためには、1つ以上の<b>GroupDescription</b>オブジェクトを<b>CollectionView.groupDescriptions</b>プロパティに追加して、グリッドの<b>show-groups</b>プロパティをtrue（既定値）に設定します。
        </p>
        <p>
            <b>GroupDescription</b>オブジェクトは柔軟であり、値またはグループ化関数に基づいてデータをグループ化できます。 次の例では、日付は年単位でグループ化し、金額は４つの範囲（5,000超、1,000から5,000、500から1,000、および500未満）にグループ化して、その他はすべて値でグループ化します。 メニューを使用して各グループ化の効果を確認してください。
        </p>
        <p>
            「Amount」列のグループ行に合計が表示されることに注意してください。 これは、列の<b>aggregate</b>プロパティを「C1.Web.Mvc.Grid.Aggregate.Sum」に設定することで行われます。 列内の値を編集すると、集計は自動的に更新されます。
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#gHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#gJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#gCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="gHtml">

&lt;c1-flex-grid id="gFlexGrid"
    auto-generate-columns="false"
    sorting-type="SingleColumn" group-by="Country"&gt;
    &lt;c1-flex-grid-column binding="Country" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Product" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Color" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Start" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Amount" format="n0" aggregate="Sum" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Active" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;
&lt;br /&gt;グループ化
&lt;c1-combo-box id="gMenu" selected-index="0" selected-index-changed="gMenu_SelectedIndexChanged"&gt;
    &lt;c1-items-source source-collection="@@Model.Settings["GroupBy"]"&gt;&lt;/c1-items-source&gt;
&lt;/c1-combo-box&gt;

                        </div>
                        <div class="tab-pane pane-content" id="gJs">

//Group By Modules
function gMenu_SelectedIndexChanged(sender) {
    var grid = wijmo.Control.getControl("#gFlexGrid");
    if (sender.selectedValue && grid) {
        var name = sender.selectedValue;
        var groupDescriptions = grid.collectionView.groupDescriptions;
        grid.beginUpdate();
        groupDescriptions.clear();

        if (name.indexOf("Country") > -1) {
            groupDescriptions.push(new wijmo.collections.PropertyGroupDescription("Country"));
        }

        if (name.indexOf("Product") > -1) {
            groupDescriptions.push(new wijmo.collections.PropertyGroupDescription("Product"));
        }

        if (name.indexOf("Color") > -1) {
            groupDescriptions.push(new wijmo.collections.PropertyGroupDescription("Color"));
        }

        if (name.indexOf("Start") > -1) {
            groupDescriptions.push(new wijmo.collections.PropertyGroupDescription("Start", function (item, prop) {
                var value = item[prop];
                return value.getFullYear() + "/" + value.getMonth();
            }));
        }

        if (name.indexOf("Amount") > -1) {
            groupDescriptions.push(new wijmo.collections.PropertyGroupDescription("Amount", function (item, prop) {
                var value = item[prop];
                if (value <= 500) {
                    return "<500";
                }

                if (value > 500 && value <= 1000) {
                    return "500 to 1000";
                }

                if (value > 1000 && value <= 5000) {
                    return "1000 to 5000";
                }

                return "More than 5000";
            }));
        }
        grid.endUpdate();
    }
}

</div>
                        <div class="tab-pane pane-content" id="gCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.Settings = CreateSettings();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }

        private IDictionary<string, object[]> CreateSettings()
        {
            var settings = new Dictionary<string, object[]>
            {                
                {"GroupBy", new object[]{"Country", "Product", "Color","Start","Amount","Country and Product","Product and Color", "None"}}
            };
            return settings;
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-grid id="gFlexGrid" 
                              auto-generate-columns="false"
                              sorting-type="SingleColumn" group-by="Country">                    
                    <c1-flex-grid-column binding="Country" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Product" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Color" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Start" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Amount" format="n0" aggregate="Sum" width="*"></c1-flex-grid-column>
                    <c1-items-source source-collection="@Model.CountryData"></c1-items-source>
                </c1-flex-grid>
                <br />グループ化
                <c1-combo-box id="gMenu" selected-index="0" selected-index-changed="gMenu_SelectedIndexChanged">
                    <c1-items-source source-collection="@Model.Settings["GroupBy"]"></c1-items-source>
                </c1-combo-box>
            </div>
        </div>
    </div>


    <!-- filtering -->
    <div>
        <h2>フィルタ処理</h2>
        <p>
            FlexGridは、<b>&lt;c1-flex-grid-filter&gt;&lt;/c1-flex-grid-filter&gt;</b>タグを使用したフィルタ処理をサポートします。 フィルタ処理を有効にするには、&lt;c1-flex-grid&gt;&lt;/c1-flex-grid&gt;タグに<b>&lt;c1-flex-grid-filter default-filter-type="C1.Web.Mvc.FilterType.Both"&gt;&lt;/c1-flex-grid-filter&gt;</b>タグを追加します。
        </p>
        <p>
            この例では、ID、Country、Product、Color、Startに対するフィルタを作成し、入力コントロールからフィルタ値を取得します。
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#fHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#fCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="fHtml">

&lt;c1-flex-grid id="fFlexGrid"
    auto-generate-columns="false"
    is-read-only="true"
    sorting-type="SingleColumn"&gt;
    &lt;c1-flex-grid-column binding="ID"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Country"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Product"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Color"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Start" format="MMM d yy"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Discount" format="p0"&gt;&lt;/c1-flex-grid-column&gt;                    
    &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
    &lt;c1-flex-grid-filter default-filter-type="Both"&gt;
        &lt;c1-flex-grid-column-filter column="ID" filter-type="FilterType.Condition"&gt;&lt;/c1-flex-grid-column-filter&gt;
        &lt;c1-flex-grid-column-filter column="Country" filter-type="FilterType.Value"&gt;&lt;/c1-flex-grid-column-filter&gt;
        &lt;c1-flex-grid-column-filter column="Product" filter-type="FilterType.None"&gt;&lt;/c1-flex-grid-column-filter&gt;
        &lt;c1-flex-grid-column-filter column="Color" filter-type="FilterType.Both"&gt;&lt;/c1-flex-grid-column-filter&gt;
        &lt;c1-flex-grid-column-filter column="Start" filter-type="FilterType.Both"&gt;&lt;/c1-flex-grid-column-filter&gt;
    &lt;/c1-flex-grid-filter&gt; 
&lt;/c1-flex-grid&gt;

                        </div>
                        <div class="tab-pane pane-content" id="fCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }
    }
}


                        
</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-grid id="fFlexGrid"
                              auto-generate-columns="false"
                              is-read-only="true"
                              sorting-type="SingleColumn">
                    <c1-flex-grid-column binding="ID"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Country"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Product"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Color"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Start" format="MMM d yy"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Discount" format="p0"></c1-flex-grid-column>
                    <c1-items-source source-collection="@Model.CountryData"></c1-items-source>
                    <c1-flex-grid-filter default-filter-type="Both">
                        <c1-flex-grid-column-filter column="ID" filter-type="FilterType.Condition"></c1-flex-grid-column-filter>
                        <c1-flex-grid-column-filter column="Country" filter-type="FilterType.Value"></c1-flex-grid-column-filter>
                        <c1-flex-grid-column-filter column="Product" filter-type="FilterType.None"></c1-flex-grid-column-filter>
                        <c1-flex-grid-column-filter column="Color" filter-type="FilterType.Both"></c1-flex-grid-column-filter>
                        <c1-flex-grid-column-filter column="Start" filter-type="FilterType.Both"></c1-flex-grid-column-filter>
                    </c1-flex-grid-filter> 
                </c1-flex-grid>
            </div>
        </div>
    </div>



    <!-- paging -->
    <div>
        <h2>ページング</h2>
        <p>
            FlexGridは、<b>&lt;c1-pager owner="pFlexGrid"&gt;&lt;/c1-pager&gt;</b>タグを使用したページングをサポートします。 
            ページングを有効にするには、&lt;c1-items-source&gt;の<b>page-size</b>属性にページに表示する項目数を設定して、PagerコントロールをFlexGridにバインドします。
        </p>
        <p>
            この例では、<b>PageSize</b>を設定して1ページに10項目を表示します。 Pagerコントロールを追加して、<b>owner</b>プロパティにFlexGridのIDを設定すると、ページ切り替えすることができます。
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#pHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#pCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="pHtml">

&lt;c1-flex-grid id="pFlexGrid"
    auto-generate-columns="false"
    is-read-only="true"
    sorting-type="SingleColumn"
    height="100%"&gt;
    &lt;c1-flex-grid-column binding="ID"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Country"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Product"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Color"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Start" format="MMM d yy"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Discount" format="p0"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source source-collection="@@Model.CountryData" page-size="10"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;
&lt;c1-pager owner="pFlexGrid"&gt;&lt;/c1-pager&gt;

                        </div>
                        <div class="tab-pane pane-content" id="pCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }
    }
}


                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-grid id="pFlexGrid"
                              auto-generate-columns="false"
                              is-read-only="true"
                              sorting-type="SingleColumn"
                              height="100%">
                    <c1-flex-grid-column binding="ID"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Country"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Product"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Color"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Start" format="MMM d yy"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Discount" format="p0"></c1-flex-grid-column>
                    <c1-items-source source-collection="@Model.CountryData" page-size="10"></c1-items-source>
                </c1-flex-grid>
                <c1-pager owner="pFlexGrid"></c1-pager>
            </div>
        </div>
    </div>

    <!-- conditional styling -->
    <div>
        <h2>条件付きスタイル設定</h2>
        <p>
            FlexGridには、セルのコンテンツを全面的に制御できる<b>item-formatter</b>プロパティがあります。
        </p>
        <p>
            この例では、JavaScript関数を使用して、名前付きの色を返す値の範囲を作成します。 次に、この関数をFlexGridの<b>item-formatter</b>で呼び出し、セルの前景色を条件に基づいて設定するためにセルのデータを渡します。
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#csHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#csJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#csCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="csHtml">

&lt;c1-flex-grid id="csFlexGrid"
    auto-generate-columns="false"
    is-read-only="true"
    sorting-type="SingleColumn"
    item-formatter="csFlexGrid_ItemFormatter"&gt;
    &lt;c1-flex-grid-column binding="Country"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Product"&gt;&lt;/c1-flex-grid-column&gt;                    
    &lt;c1-flex-grid-column binding="Discount" format="p0"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Amount" format="n0"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;

                        </div>
                        <div class="tab-pane pane-content" id="csJs">

//Conditional styling Modules
function csFlexGrid_ItemFormatter(panel, r, c, cell) {
    if (wijmo.grid.CellType.Cell == panel.cellType && panel.columns[c].binding == '_Color') {
        var cellData = panel.getCellData(r, c);
        cell.style.color = cellData < 0 ? 'red' : cellData < 500 ? 'black' : 'green';
    }
    if (wijmo.grid.CellType.Cell == panel.cellType && panel.columns[c].binding == 'Amount') {
        var cellData = panel.getCellData(r, c);
        cell.style.color = cellData < 0 ? 'red' : cellData < 500 ? 'black' : 'green';
    }
    if (wijmo.grid.CellType.Cell == panel.cellType && panel.columns[c].binding == 'Discount') {
        var cellData = panel.getCellData(r, c);
        cell.style.color = cellData < .1 ? 'red' : cellData < .2 ? 'black' : 'green';
    }
}


                        </div>
                        <div class="tab-pane pane-content" id="csCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }
    }
}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-grid id="csFlexGrid"
                              auto-generate-columns="false"
                              is-read-only="true"
                              sorting-type="SingleColumn"
                              item-formatter="csFlexGrid_ItemFormatter">
                    <c1-flex-grid-column binding="Country"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Product"></c1-flex-grid-column>                    
                    <c1-flex-grid-column binding="Discount" format="p0"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Amount" format="n0"></c1-flex-grid-column>
                    <c1-items-source source-collection="@Model.CountryData"></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>


    <!-- themes -->
    <div>
        <h2>テーマ</h2>
        <p>
            FlexGridの外観はCSSで定義されます。 デフォルトのテーマに加えて、プロのデザインによる12種類ほどのテーマが組み込まれており、すべてのComponentOne ASP.NET MVCコントロールの外観を統一感のある魅力的な見た目にカスタマイズできます。
        </p>
        <p>
            CSSを使用してグリッドの外観をカスタマイズすることもできます。 そのためには、既定のテーマから新しいCSSファイルにCSSルールをコピーして、スタイルの属性を変更します。
        </p>
        <p>
            この例では、グリッド要素に「custom-flex-grid」クラスを追加し、CSSルールを定義して、「custom-flex-grid」を持つすべてのグリッドに対して単純な「白黒、境界線なし」のテーマを作成します。
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#tCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#tCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="tHtml">

&lt;c1-flex-grid id="tFlexGrid"
    auto-generate-columns="false"
    is-read-only="true"
    sorting-type="SingleColumn"
    class="custom-flex-grid"&gt;
    &lt;c1-flex-grid-column binding="Country"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Product"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Discount" format="p0"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Amount" format="n0"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;

                        </div>
                        <div class="tab-pane pane-content" id="tCss">

/* create a 'custom-flex-grid' theme for the FlexGrid */
.custom-flex-grid .wj-header.wj-cell {
	color: #fff;
	background-color: #000;
	border-bottom: solid 1px #404040;
	border-right: solid 1px #404040;
	font-weight: bold;
}

.custom-flex-grid .wj-cell {
	background-color: #fff;
	border: none;
}

.custom-flex-grid .wj-alt:not(.wj-state-selected):not(.wj-state-multi-selected) {
	background-color: #fff;
}

.custom-flex-grid .wj-state-selected {
	background: #000;
	color: #fff;
}

.custom-flex-grid .wj-state-multi-selected {
	background: #222;
	color: #fff;
}

                        </div>
                        <div class="tab-pane pane-content" id="tCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;

namespace ASPNetMVCFlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }
    }
}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-grid id="tFlexGrid"
                              auto-generate-columns="false"
                              is-read-only="true"
                              sorting-type="SingleColumn"
                              class="custom-flex-grid">
                    <c1-flex-grid-column binding="Country"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Product"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Discount" format="p0"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Amount" format="n0"></c1-flex-grid-column>
                    <c1-items-source source-collection="@Model.CountryData"></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>

    <!-- trees/hierarchical data -->
    <div>
        <h2>ツリーと階層化データ</h2>
        <p>
            グループ化に加えて、FlexGridは階層化データをサポートします。これは、サブ項目のリストを持つ項目があるデータのことです。 このタイプの階層構造はごく一般的なもので、通常はツリービューコントロールで表示されます。
        </p>
        <p>
            階層化データソースでFlexGridを使用するには、<b>child-items-path</b>プロパティを子要素が入っているデータ要素の名前に設定します。 グリッドは自動的にデータをスキャンし、ツリーを構築します。
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tvHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#tvCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#tvCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="tvHtml">

@@inject IApplicationEnvironment appEnvironment
@@{
    var list = Folder.Create(appEnvironment.ApplicationBasePath).Children;
}
&lt;c1-flex-grid id="tvFlexGrid"
    auto-generate-columns="false"
    is-read-only="true"
    sorting-type="SingleColumn"
    class="custom-flex-grid"
    child-items-path="Children"&gt;
    &lt;c1-flex-grid-column binding="Header" header="Folder/File Name" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Size" header="Size" width="80" align="center"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source source-collection="@@list"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;

                        </div>
                        <div class="tab-pane pane-content" id="tvCss">

/* create a 'custom-flex-grid' theme for the FlexGrid */
.custom-flex-grid .wj-header.wj-cell {
	color: #fff;
	background-color: #000;
	border-bottom: solid 1px #404040;
	border-right: solid 1px #404040;
	font-weight: bold;
}

.custom-flex-grid .wj-cell {
	background-color: #fff;
	border: none;
}

.custom-flex-grid .wj-alt:not(.wj-state-selected):not(.wj-state-multi-selected) {
	background-color: #fff;
}

.custom-flex-grid .wj-state-selected {
	background: #000;
	color: #fff;
}

.custom-flex-grid .wj-state-multi-selected {
	background: #222;
	color: #fff;
}

</div>
                        <div class="tab-pane pane-content" id="tvCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            return View();
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-grid id="tvFlexGrid"
                              auto-generate-columns="false"
                              is-read-only="true"
                              sorting-type="SingleColumn"
                              class="custom-flex-grid"
                              child-items-path="Children">
                    <c1-flex-grid-column binding="Header" header="Folder/File Name" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Size" header="Size" width="80" align="center"></c1-flex-grid-column>
                    <c1-items-source source-collection="@list"></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>


    <!-- handling null values -->
    <div>
        <h2>null値の処理</h2>
        <p>
            デフォルトで、FlexGridではstringタイプの列内には空の値を入力でき、その他のタイプの列には空、すなわちnull値は入力できません。
        </p>
        <p>
            この動作は、グリッド列の<b>is-required</b>プロパティを使用して変更できます。
            <b>is-required</b>プロパティをfalseに設定すると、その列のタイプにかかわらず、空の値をグリッドで入力できるようになります。 反対に、<b>is-required</b>プロパティをtrueに設定すると、グリッドはstring列であっても空の値を許可しません。
        </p>
        <p>
            <b>is-required</b>をnullに設定すると、デフォルトの動作（nullはstring列でのみ許可）に戻ります。
        </p>
        <p>
            次のグリッドでは、デフォルトの動作に戻しています。 最初の列では<b>is-required</b>をfalseに設定し、その他すべてではtrueに設定します。 不要なコンテンツを削除するには、空の文字列を入力するか、または単に［Delete］キーを押します。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#nvHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#nvCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="nvHtml">

&lt;c1-flex-grid id="nvGrid"
    auto-generate-columns="false"
    sorting-type="SingleColumn"&gt;
    &lt;c1-flex-grid-column binding="ID" is-read-only="true" is-required="false"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Country" is-required="false"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Product" is-required="true"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Discount" format="p0" is-required="true"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Amount" format="n0" is-required="true"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source read-action-url="@@Url.Action("GridRead")" update-action-url="@@Url.Action("NVGridUpdate")"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;

                        </div>
                        <div class="tab-pane pane-content" id="nvCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            return View();
        }
    }

    public ActionResult GridRead([C1JsonRequest] CollectionViewRequest&lt;Sale&gt; requestData)
    {
        return this.C1Json(CollectionViewHelper.Read(requestData, FlexGridModel.Source));
    }

    public ActionResult NVGridUpdate([C1JsonRequest]CollectionViewEditRequest&lt;Sale&gt; requestData)
    {
        return this.C1Json(CollectionViewHelper.Edit(requestData, sale =&gt;
        {
            string error = string.Empty;
            bool success = true;
            var fSale = FlexGridModel.Source.Find(item =&gt; item.ID == sale.ID);
            fSale.Country = sale.Country;
            fSale.Product = sale.Product;
            fSale.Amount = sale.Amount;
            fSale.Discount = sale.Discount;
            return new CollectionViewItemResult&lt;Sale&gt;
            {
                Error = error,
                Success = success,
                Data = fSale
            };
        }, () =&gt; FlexGridModel.Source));
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-grid id="nvGrid"
                              auto-generate-columns="false"                              
                              sorting-type="SingleColumn">
                    <c1-flex-grid-column binding="ID" is-read-only="true" is-required="false"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Country" is-required="false"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Product" is-required="true"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Discount" format="p0" is-required="true"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Amount" format="n0" is-required="true"></c1-flex-grid-column>
                    <c1-items-source read-action-url="@Url.Action("GridRead")" update-action-url="@Url.Action("NVGridUpdate")"></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>

</div>