﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!--jQuery References-->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js" type="text/javascript"></script>

    <!--Theme-->
    <link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />

    <!--Wijmo Widgets CSS-->
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20141.34.min.css" rel="stylesheet" type="text/css" />

    <!--Wijmo Widgets JavaScript-->
    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20141.34.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20141.34.min.js" type="text/javascript"></script>

    <!--Angular JS Library-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js" type="text/javascript"></script>
    <!--Wijmo Angular Integration Library-->
    <!--<script src="http://cdn.wijmo.com/interop/angular.wijmo.3.20141.34.js" type="text/javascript"></script>-->

    <!--    <script src="Interop/angular.wijmo.js"></script>-->

    <script src="Interop/angular.wijmo.2014/angular.wijmo.contracts.js"></script>
    <script src="Interop/angular.wijmo.2014/angular.wijmo.utils.js"></script>
    <script src="Interop/angular.wijmo.2014/angular.wijmo.markup.js"></script>
    <script src="Interop/angular.wijmo.2014/angular.wijmo.directiveBase.js"></script>
    <script src="Interop/angular.wijmo.2014/angular.wijmo.containers.js"></script>
    <script src="Interop/angular.wijmo.2014/angular.wijmo.data.js"></script>
    <script src="Interop/angular.wijmo.2014/angular.wijmo.dataviz.js"></script>
    <script src="Interop/angular.wijmo.2014/angular.wijmo.input.js"></script>
    <script src="Interop/angular.wijmo.2014/angular.wijmo.media.js"></script>
    <script src="Interop/angular.wijmo.2014/angular.wijmo.js"></script>


    <script>
        var testModule = angular.module("testModule", ["wijmo"]);

        testModule.controller("testCtrl", function ($scope) {
            $scope.airports = [{ name: "TAS", location: "Tashkent" }, { name: "JFK", location: "New York" }, { name: "HAV", location: "Habana" }];

            $scope.min = -12;
            $scope.max = 45;
            $scope.value = 23;

            $scope.availableTags = ["ActionScript",
                                      "AppleScript",
                                      "Asp",
                                      "BASIC",
                                      "C",
                                      "C++",
                                      "Clojure",
                                      "COBOL",
                                      "ColdFusion",
                                      "Erlang",
                                      "Fortran",
                                      "Groovy",
                                      "Haskell",
                                      "Java",
                                      "JavaScript",
                                      "Lisp",
                                      "Perl",
                                      "PHP",
                                      "Python",
                                      "Ruby",
                                      "Scala",
                                      "Scheme"];
        });
    </script>
</head>
<body ng-app="testModule">
    <div ng-controller="testCtrl">

        <jq-autocomplete source="availableTags" />
        <!--        <div>
            <wij-inputnumber showspinner="true" />
        </div>

        <div>
            <wij-inputdate />
        </div>-->
        <!--        <wij-slider min="-50" max="50" value="value" />
        <span>{{value}}</span>-->
        <!--        <div>
            <wij-upload />
        </div>-->
        <div>
            <wij-calendar showweeknumbers="true" showweekdays="true" showothermonthdays="false" />
        </div>
        <!--        <div>
            <wij-evcal />
        </div>
        <div>
            <wij-editor />
        </div>
        <div>
            <wij-radio />
        </div>
        <div>
            <wij-checkbox />
        </div>
        <div>
            <wij-pager />
        </div>
        <div>
            <wij-datepager />
        </div>
        <div>
            <wij-textbox />
        </div>-->
        <div>
            <wij-grid allow-sorting="true" data="airports">
                <columns>
                <column data-key="name" header-text="Code"></column>
                <column data-key="location" header-text="City" width="180"></column>
                    </columns>
            </wij-grid>
        </div>
    </div>
</body>
</html>
