﻿body {
	background-color: #f8f8f8;
	font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
}

body a,
body a:focus,
body a:hover{
	text-decoration: none;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
	font-weight: 300;
}

.container {
	min-width:248px;
}

.container p {
	min-width:358px;
}

.header {
	background-color: #ff000a;
	margin-bottom: 14px;
	padding: 12px 0;
}

	.header h1 {
		font-size: 40px;
		line-height: 1;
		margin: 8px 0 5px 0;
	}

	.header img {
		float: left;
		margin: 0 10px 5px 0;
	}

h2 {
	margin: 15px 0 30px -12px;
}

.pane-content {
	background-color: white;
	padding: 0 8px;
	border: 1px solid #dddddd;
	border-top: none;
	white-space: pre;
	overflow: auto;
	font-size: 13px;
	font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

/* set default chart style */
.wj-flexchart {
	height: 400px;
	background-color: white;
	box-shadow: 4px 4px 10px 0 rgba(50, 50, 50, 0.75);
	padding: 8px;
	margin-bottom: 12px;
}
	.wj-flexchart .wj-title {
		font-weight: bold;
	}
	.wj-flexchart .wj-header .wj-title {
		font-size: 18pt;
		fill: #80044d;
	}
	.wj-flexchart .wj-footer .wj-title {
		fill: #80044d;
	}
	.wj-flexchart .wj-axis-x .wj-title,
	.wj-flexchart .wj-axis-y .wj-title {
		font-style: italic;
	}

/* custom chart theme */
.custom-flex-chart.wj-flexchart .wj-axis-x .wj-label,
.custom-flex-chart.wj-flexchart .wj-legend .wj-label {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
.custom-flex-chart.wj-flexchart .wj-legend > rect,
.custom-flex-chart.wj-flexchart .wj-plot-area > rect {
	fill: #f8f8f8;
	stroke: #c0c0c0;
}

/* some extra spacing between the items */
.row {
	margin-top: 40px;
	margin-bottom: 25px;
}

.download-link {
	background: #00C9C6 url(images/download.png) no-repeat 16px 10px;
	position: absolute;
	right: 20%;
	width: 250px;
	height: 45px;
	border-radius: 4px;
	top: 148px;
}
.download-link a {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 15pt;
	line-height: 10px;
	padding-left: 50px;
	height: 40px;
	font-family: Calibri;
}

/* responsive layout */
@media (min-width: 992px) {
	.collapse.app-lg-visible {
		display: block;
	}

	.btn.collapse {
		display: none !important;
	}
}

@media (max-width: 991px) {
	.header h1 {
		font-size: 22px;
		line-height: 1;
		margin-top: 7px;
		color: #fff;
	}

	h2 {
		font-size: 22px;
		margin: 10px 0 25px 0;
	}

	h4 {
		display: none;
	}

	.wj-flexchart {
		box-shadow: 2px 2px 8px 0 rgba(50, 50, 50, 0.5);
		margin-bottom: 15px;
	}

	.tabbable {
		margin-bottom: 20px;
	}

	.wj-dropdown {
		width: 100%;
		margin-bottom: 10px;
	}

	.dl-horizontal, .btn-group, .input-group {
		margin-bottom: 10px;
	}

	.btn[data-target] {
		width: 100%;
		margin-bottom: 20px;
	}

	.row {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.download-link {
		right: 0;
		float: none;
		background: #00C9C6 url(images/download.png) no-repeat 6px 3px;
		right: 10%;
		position: relative;
		width: 180px;
		top:134px;
		height: auto;
		margin-left: -120px;
		z-index: 100;
	}

	.sample-page.download-link {
		position: absolute;
		left:auto;
	}

	.download-link a {
		display: inline-block;
		font-size: 11pt;
		font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
		padding-left: 35px;
		padding-right: 5px;
		line-height: 30px;
		height: 30px;
	}
}

@media (max-width: 767px) {
	code {
		white-space: normal;
	}

	.download-link {
		width: 120px;
	}

	.download-link a {
		font-size: 10pt;
		line-height: 14px;
		height: auto;
	}
}

@media (max-width: 392px) {
	.sample-page.download-link {
		width: 38px;
		top:150px;
	}

	.sample-page.download-link a{
		padding-left: 0;
		padding-right: 0;
		width: 38px;
		height: 30px;
		color: transparent;
	}
}

.tab-pane {
	max-height:620px;
}