﻿<!--index to test 0-->
<c1-flex-chart id="gettingStartedChart" binding-x="Country">
    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>
    <c1-flex-chart-series binding="Sales" name="Sales"></c1-flex-chart-series>
    <c1-flex-chart-series binding="Expenses" name="Expenses"></c1-flex-chart-series>
    <c1-flex-chart-series binding="Downloads" name="Downloads"></c1-flex-chart-series>
</c1-flex-chart>
<!--1-->
<c1-flex-chart id="chartLegendAndTitles" binding-x="Country" header="Sample Chart" footer="Copyright (c) ComponentOne" legend-position="Right">
    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>
    <c1-flex-chart-axis c1-property="AxisX" title="Country"></c1-flex-chart-axis>
    <c1-flex-chart-axis c1-property="AxisY" title="Amount"></c1-flex-chart-axis>
    <c1-flex-chart-series binding="Sales" name="Sales"></c1-flex-chart-series>
    <c1-flex-chart-series binding="Expenses" name="Expenses"></c1-flex-chart-series>
    <c1-flex-chart-series binding="Downloads" name="Downloads"></c1-flex-chart-series>
</c1-flex-chart>
<!--2-->
<c1-flex-chart id="chartSeriesStyle" binding-x="Country">
    <c1-flex-chart-tooltip is-content-html="true" content="@tooTipContent"></c1-flex-chart-tooltip>
    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>
    <c1-flex-chart-axis c1-property="AxisX" title="Country"></c1-flex-chart-axis>
    <c1-flex-chart-axis c1-property="AxisY" title="Amount"></c1-flex-chart-axis>
    <c1-flex-chart-series binding="Sales" name="Sales" style="s1"></c1-flex-chart-series>
    <c1-flex-chart-series binding="Expenses" name="Expenses" style="s2"></c1-flex-chart-series>
    <c1-flex-chart-series binding="Downloads" name="Downloads" chart-type="LineSymbols" style="s3"></c1-flex-chart-series>
</c1-flex-chart>
<!--3-->
<c1-flex-chart height="300px" id="flexchart1">
    <c1-chart-options>
        <c1-funnel-options neck-width="0.3F" neck-height="2.0F" type="Rectangle"></c1-funnel-options>
    </c1-chart-options>
    <c1-flex-chart-datalabel border="true" connecting-line="true"></c1-flex-chart-datalabel>
</c1-flex-chart>
