﻿<!--index of control :0-->
@(Html.C1().FlexChart()
    .ChartType(C1.Web.Mvc.Chart.ChartType.Area).Height("300px").Id("flexchart3"))


<!--1-->
@(Html.C1().FinancialChart()
.Id(demoSettingsModel.ControlId)
.Bind(Model)
.BindingX("X")
.ChartType(C1.Web.Mvc.Finance.ChartType.Line)
.Series(sers =>
    {
        sers.Add().Binding("Close").Name("BOX");
        sers.AddTrendLine().Binding("Close").FitType(C1.Web.Mvc.Chart.TrendLineFitType.Linear).Name("Trend Line");
    })
.Tooltip(t => t.Content("tooltip")))


<!--2-->
@(Html.C1().FlexChart()
    .ChartType(C1.Web.Mvc.Chart.ChartType.Bar)
    .AddAnnotationLayer(alb =>
    {
        alb.AddCircle(cb => cb.Radius(100.0F));
    })
    .LegendToggle(true).Height("300px").Id("flexchart5"))


<!--3-->
@(Html.C1().FlexChart().Id("gettingStartedChart")
                    .Bind(Model.CountrySalesData).BindingX("Country").Series(sers =>
                    {
                        sers.Add().Binding("Sales").Name("Sales");
                        sers.Add().Binding("Expenses").Name("Expenses");
                        sers.Add().Binding("Downloads").Name("Downloads");
                    })
)


<!--4-->
@(Html.C1().FlexChart().Id("chartTooltip").Header("Sample Chart").Footer("Copyright (c) ComponentOne")
                    .Tooltip(tt => tt.Content("<img src='" + @Url.Content("~/Content/images/{x}.png") + "' /> <b>{seriesName}</b><br />{y}"))
                    .Bind(Model.CountrySalesData).BindingX("Country").AxisX(x => x.Title("Country")).AxisY(y => y.Title("Amount"))
                    .Series(sers =>
                    {
                        sers.Add().Binding("Sales").Name("Sales");
                        sers.Add().Binding("Expenses").Name("Expenses");
                        sers.Add().Binding("Downloads").Name("Downloads");
                    })
)