﻿@using SignalR.Models
@{
    IEnumerable<FontName> fontList = ViewBag.FontList;
    IEnumerable<FontSize> fontSizeList = ViewBag.FontSizeList;
}
<script src='~/signalr/hubs'></script>
<script src="~/Scripts/app/formatCells.js"></script>
<script src="~/Scripts/app/app.js"></script>
<div class="container">
    <p>
        このサンプルでは、ASP.NET SignalRのリアルタイム通信機能を利用して、Googleスプレッドシートのように、1つのスプレッドシートを複数ユーザーで同時編集する方法を示します。<br />
        複数のデバイスや複数のブラウザでこのサンプルを開いて、スプレッドシートを編集してください。
        変更した内容は、他のデバイスやブラウザに即座に適用されます。
    </p>
    <label>同期される変更内容:</label>
    <ul>
        <li>セル値の変更</li>
        <li>セルの書式/スタイルの変更</li>
        <li>新しいシートの追加</li>
        
        <li>他のユーザーが変更した内容はステータスバーに表示されます。</li>
    </ul>
    <div class="row well well-lg">
        <div class="row">
            ユーザーID: <input class="form-control input-control" id="userId" type="text" maxlength="20" />
            　書式:
            @(Html.C1().Menu().Header("Format").Id("menuFormat")
                .OnClientSelectedIndexChanged("formatChanged")
                .CssStyle("height", "34px")
                .MenuItems(items =>
                {
                    items.Add("整数", "d1");
                    items.Add("小数", "n2");
                    items.Add("パーセント", "p2");
                    items.Add("通貨", "c2");
                    items.AddSeparator();
                    items.Add("短い形式の日付", "yyyy/M/d");
                    items.Add("長い形式の日付", "yyyy年M月d日(ddd)");
                    items.Add("日付と短い形式の時刻", "yyyy年M月d日(ddd) tt h:mm");
                    items.Add("日付と長い形式の時刻", "yyyy年M月d日(ddd) tt h:mm:ss");
                }))
        </div>
        <br />
        <div class="row">
            フォント:
            @(Html.C1().ComboBox<FontName>().Bind(fontList).SelectedIndex(10)
            .DisplayMemberPath("Name").SelectedValuePath("Value")
            .IsEditable(false).CssStyle("width", "120px").CssStyle("height", "34px")
            .OnClientSelectedIndexChanged("fontChanged")
            .Id("cboFontName")
            )
            @(Html.C1().ComboBox<FontSize>().Bind(fontSizeList).SelectedIndex(5)
            .DisplayMemberPath("Name").SelectedValuePath("Value")
            .IsEditable(false).CssStyle("width", "80px").CssStyle("height", "34px")
            .OnClientSelectedIndexChanged("fontSizeChanged")
            .Id("cboFontSize")
            )
            <div class="btn-group">
                <button type="button" id="boldBtn" class="btn btn-default" onclick="applyBoldStyle()">太字</button>
                <button type="button" id="italicBtn" class="btn btn-default" onclick="applyItalicStyle()">斜体</button>
                <button type="button" id="underlineBtn" class="btn btn-default" onclick="applyUnderlineStyle()">下線</button>
            </div>
            　配置:
            <div class="btn-group">
                <button type="button" id="leftBtn" class="btn btn-default active" onclick="applyCellTextAlign('left')">左</button>
                <button type="button" id="centerBtn" class="btn btn-default" onclick="applyCellTextAlign('center')">中央</button>
                <button type="button" id="rightBtn" class="btn btn-default" onclick="applyCellTextAlign('right')">右</button>
            </div>
            　色:
            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="showColorPicker(event, false)">フォントの色</button>
                <button type="button" class="btn btn-default" onclick="showColorPicker(event, true)">塗りつぶしの色</button>
            </div>
        </div>
    </div>
    <div class="row">
        @(Html.C1().FlexSheet().Id("signalRSheet")
        .AllowResizing(C1.Web.Mvc.Grid.AllowResizing.None).Load(Model)
        .CssClass("flexSheet").OnClientCellEditEnded("cellEditEnded")
        .OnClientSelectedSheetChanged("sheetChanged")
        .OnClientBeginningEdit("beginningEdit"))

        @(Html.C1().ColorPicker().Id("colorPicker").CssStyles(new Dictionary<string, string> {
                {"display","none"},{"position","fixed"},{"z-index","100" }
            }))
    </div>
</div>
<div class="stateBar" id="stateBar"></div>
