﻿.farbtastic {
	border-radius: 4px !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: rgb(85, 85, 85);
	border: 1px solid rgb(170, 170, 170);
	left: 0px;
	top: 1px;
	z-index: 99999999;
}

.farbtastic .wheel {
	background-image: url("images/wheel.png");
}

.farbtastic .overlay {
	background-image: url("images/mask.png");
}

.farbtastic .marker {
	background-image: url("images/marker.png");
}