﻿.texture-picker
{
	width: 16px;
	height: 16px;
	margin: 0px 4px;
	border: 1px solid rgb(102, 102, 102);
	float: left;
	outline-style: none !important; 
}

.texture-picker,
.texture-picker ul li
{
	background-attachment: scroll !important;
	background-clip: border-box !important;
	background-color: rgb(85, 85, 85);
	background-origin: padding-box;
	background-position-x: 50%;
	background-position-y: 50%;
	background-repeat: repeat;
}

.texture-picker ul li {
	margin: 0px;
	padding: 0px;
	width: 20px;
	float: left;
}

.texture-picker ul {
	background: rgb(34, 34, 34);
	border-width: 0px 1px 1px; 
	border-style: none solid solid;
	border-color: currentColor rgb(68, 68, 68) rgb(68, 68, 68);
	list-style: none;
	margin: 0px;
	padding: 0.5em 5px;
	width: 80px;
	position: absolute;
	z-index: 999999;
	display: block;
}

.texture-picker ul li a {
	border: 1px solid rgb(34, 34, 34);
	height: 1.5em;
	color: rgb(238, 238, 238);
	text-indent: -99999px;
	text-decoration: none;
	display: block;
}

.texture-picker ul li a:hover {
	border: 1px solid rgb(204, 204, 204);
}

.texture-picker ul li a:active {
	outline: 0px !important;
	border: 1px solid rgb(238, 238, 238);
}
