﻿.themeEditor *
{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.themeEditor
{
	margin: 0px;
	padding: 20px 2px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.7em !important;
	font-weight: normal;
	font-style: normal; 
	line-height: 22.5px; 
	border: 0px currentColor !important;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	display: block !important;
	width: 215px;
}

.themeEditor .apply-area
{
	margin-bottom: 20px;
}

.themeEditor .state-preview
{
	margin: -2px 3px 0px 0px;
	padding: 1px 2px 2px;
	height: 12px;
	line-height: 12px;
	font-size: 9px !important;
	font-weight: normal !important;
	float: right;
}

.tab
{
	width: 100%;
	margin: 1px 0px 1px 0px;
}

.themeEditor .tab-header {
	padding: 0.4em 0px;
	height: 12px;
	line-height: 12px;
	cursor: pointer;
}

.themeEditor .tab-header a {
	text-decoration: none;
	color: rgb(170, 170, 170) !important;
	outline-style: none;
}

.themeEditor .tab-header.state-default {
	background: url("images/bg_tr_group_headers.png") repeat-x 0px 50% rgb(17, 17, 17);
	border: 1px solid rgb(34, 34, 34);
	color: rgb(170, 170, 170) !important;
	font-weight: normal;
}

.themeEditor .tab-header.state-active {
	background: rgb(51, 51, 51);
	color: rgb(255, 255, 255) !important; 

	border-top: 1px solid rgb(68, 68, 68);
	border-right: 1px solid rgb(68, 68, 68);
	border-left: 1px solid rgb(68, 68, 68);

	border-bottom-color: currentColor !important;
	border-bottom-width: 0px !important;
	border-bottom-style: none !important;

	font-weight: normal;
}

.themeEditor .tab-header.state-active a {
	color: rgb(255, 255, 255) !important;
	text-decoration: none;
}

.themeEditor .tab-header.state-hover {
	background: url("images/bg_tr_group_headers_hover.png") repeat-x 0px 50% rgb(26, 26, 26);
	border: 1px solid rgb(68, 68, 68);
	color: rgb(204, 204, 204) !important;
	font-weight: normal;
}

.themeEditor .tab-header.state-hover a
{
	color: rgb(204, 204, 204);
	text-decoration: none;
}

.themeEditor .ui-icon {
	overflow: hidden;
	text-indent: -99999px;
	display: block;
}

.themeEditor .tab-header .arrow-icon {
	background-image: url("images/tr_icons_white.png");
	margin: -2px 3px 0px 0px;
	float: left; 
	width: 16px;
	height: 16px;
	text-indent: -999999px;
	overflow: hidden; display: block;
}

.themeEditor .tab-content
{
	background-color: rgb(51, 51, 51);
	
	border: 1px solid rgb(68, 68, 68);
	border-top-color: currentColor !important;
	border-top-width: 0px !important;
	border-top-style: none !important;

	color: rgb(255, 255, 255);
	padding: 10px 5px 10px 23px;
	display: block;
}

.themeEditor .tab-content .field-group {
	font-size: 0.9em;
	width: auto;
}

.themeEditor .tab-content .float-left
{
	float: left;
}

.themeEditor .tab-content .field-group label {
	font-size: 1em;
	display: block;
	margin-right: 4px;
}

.themeEditor .tab-content .field-group .color-container {
	margin: -2px 2px 2px -2px;
	padding: 1px;
	border: 1px solid rgb(51, 51, 51);
	width: 52px; 
	float: left;
}

.themeEditor .tab-content .field-group .texture-container {
	/*border-radius: 4px !important; -webkit-border-radius: 4px; -moz-border-radius: 4px;*/
	/*border: 1px solid rgb(102, 102, 102);*/
	margin: 0px 8px 0px 0px;
	float: left;
	width: 60px;
}

.themeEditor .tab-content .field-group .color {
}

.themeEditor .tab-content .field-group .opacity-per {
	padding: 0px 0.2em;
	float: left;
}

.themeEditor .tab-content .field-group select,
.themeEditor .tab-content .field-group input
{
	font-size: 1em;
	border-radius: 4px !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: rgb(51, 51, 51);
	border: 1px solid rgb(102, 102, 102);
	color: rgb(255, 255, 255);
	vertical-align: top;
}

.themeEditor .tab-content .field-group select
{
	padding: 1px;
}

.themeEditor .tab-content .field-group input {
	padding: 2px;
}

.themeEditor .tab-content .field-group .texture-container select
{
	width: 100%;
}

.themeEditor select.font-weight
{
	width: 120px;
}

.themeEditor input.font-family
{
	width: 120px;
}

.themeEditor input.font-size
{
	width: 35px;
}


.themeEditor input.opacity,
.themeEditor input.offset 
{
	width:25px;
	float: left;
}

.themeEditor input.texture {
	width: 50px;
	float:left;
} 

.themeEditor input.color {
	outline: 0px;
	width: 46px;
}

.themeEditor input.cornerRadius {
	width: 25px;
}

.themeEditor .tab-content .field-group.field-group-background {
	float: none;
	width: auto;
	clear: both;
	margin: 4px 0 0 0;
}

.themeEditor .tab-content .field-group.field-group-border
{
	clear: left;
}

.themeEditor .tab-font .field-group label,
.themeEditor .tab-corner-radius .field-group label
{
	float: left;
}

.themeEditor .tab-header-toolbar .field-group {
	margin: 10px 4px 0 0;
	width: 53px;
}

.themeEditor .tab-header-toolbar .field-group label {
	font-size: 1em;
	margin: 6px 0 5px 0;
	display: block;
}

.themeEditor .tab-content .dropshadows-additional-props label {
	float: left;
	width: 100px;
	text-align: right;
}

.themeEditor .tab-font .tab-content label {
	width: 35px;
}


.themeEditor .icon-triangle-1-e {
	background-position: -32px -16px;
}
.themeEditor .icon-triangle-1-s {
	background-position: -64px -16px;
}

.clearfix:after {
	height: 0px;
	clear: both;
	display: block;
	visibility: hidden;
	content: ".";
}

.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}