﻿@using FilterPanel.Models
@using C1.Web.Mvc.Grid

@model IEnumerable<Sale>
@{
    ViewBag.Title = "フィルターパネル";
}

<div class="container">
    <h1>
        フィルターパネル
    </h1>
    <p>
        このサンプルは、現在アクティブなフィルタを表示する<b>FilterPanel</b>を定義し、ユーザーがクリックしてフィルタを削除できるようにします。
    </p>
</div>
<p>
    フィルタを追加または変更して、グリッドの上にある<b>FilterPanel</b>にフィルタを追加する方法を確認します。
</p>
<p>
   1つまたはすべてのフィルタを削除するには、フィルタマーカーの「x」アイコンをクリックします。
</p>
<div id="filterPanel"></div>

@(Html.C1().FlexGrid<Sale>()
    .Id("grid")
    .AutoGenerateColumns(false)
    .Bind(Model)
    .IsReadOnly(true)
    .Columns(columns =>
    {
        columns.Add(column => column.Binding("ID").Width("0.3*"));
        columns.Add(column => column.Binding("Active").Width("0.3*"));
        columns.Add(column => column.Binding("Country").Width("*"));
        columns.Add(column => column.Binding("Product").Width("*"));
        columns.Add(column => column.Binding("Start").Width("*"));
    })
    .SelectionMode(SelectionMode.Row)
    .SortingType(AllowSorting.SingleColumn)
    .Filterable(f => f.DefaultFilterType(FilterType.Both).Id("gridFilter"))
)