﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- jQuery/Bootstrap -->
    <script src="https://code.jquery.com/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    @Html.C1().Styles()
    @Html.C1().Scripts().Basic()
    <!-- app scripts and styles -->
    <script src="@Url.Content("~/scripts/finance.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/styles/app.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()
    <!-- Footer -->
    <div class="container">
        <a href="https://www.grapecity.co.jp/developer" class="c1logo">
            <img src="@Url.Content("~/resources/footerLogo.png")" />
        </a>
        <p>
            © @DateTime.Now.Year GrapeCity, Inc. All Rights Reserved.<br />
            All product and company names here in may be trademarks of their respective owners.
        </p>
        <a href="https://www.facebook.com/GrapeCity.dev.JP">
            <img src="@Url.Content("~/resources/icons/32/picons36.png")" alt="facebook" />
        </a>
        <a href="https://twitter.com/GrapeCity_dev" target="_blank">
            <img src="@Url.Content("~/resources/icons/32/picons33.png")" alt="Twitter" />
        </a>
        <br /><br />
    </div>
</body>
</html>
