﻿<%@ Page Title="" Language="vb" MasterPageFile="~/Wijmo.master" AutoEventWireup="true" CodeBehind="SpinnerAlign.aspx.vb" Inherits=".SpinnerAlign" %>

<%@ Register Assembly="C1.Web.Wijmo.Controls.45" Namespace="C1.Web.Wijmo.Controls.C1Input" TagPrefix="wijmo" %>
<%@ Register Assembly="C1.Web.Wijmo.Controls.45" Namespace="C1.Web.Wijmo.Controls.C1ComboBox" TagPrefix="wijmo" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <span>SpinnerAlign="VerticalLeft"</span>
       <wijmo:C1InputDate ID="C1InputDate1" runat="server" ShowSpinner="True" SpinnerAlign="VerticalLeft">
    </wijmo:C1InputDate>
    <br/>
    <span>SpinnerAlign="VerticalRight"</span>
    <wijmo:C1InputDate ID="C1InputDate2" runat="server"  ShowSpinner="True" SpinnerAlign="VerticalRight">
    </wijmo:C1InputDate>
     <br/>
    <span>SpinnerAlign="HorizontalDownLeft"</span>
    <wijmo:C1InputDate ID="C1InputDate3" runat="server" ShowSpinner="True"  SpinnerAlign="HorizontalDownLeft">
    </wijmo:C1InputDate>
     <br/>
    <span>SpinnerAlign="HorizontalDownLeft"</span>
    <wijmo:C1InputDate ID="C1InputDate4" runat="server" ShowSpinner="True"  SpinnerAlign="HorizontalUpLeft">
    </wijmo:C1InputDate>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ControlOptions" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="Description" runat="server">
    <p>
        このサンプルでは <b>SpinnerAlign</b> プロパティでスピナーボタンの位置を変更しています。
    </p>
</asp:Content>

