@model bool
@{
var screenCss = Model ? "narrow-screen" : "wide-screen";
}
<ul class="site-nav @screenCss">
    <li>
        <a href="@Html.Raw(Resources.Resource.SiteNav_LinkAbout)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_About)</a>
    </li>
    <li>
        <a href="@Html.Raw(Resources.Resource.SiteNav_LinkSupport)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_Support)</a>
    </li>
    <li>
        <a href="@Html.Raw(Resources.Resource.SiteNav_LinkPricing)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_Pricing)</a>
    </li>
    <li class="bold">
        <a href="@Html.Raw(Resources.Resource.SiteNav_LinkFreeTrial)" target="_blank">@Html.Raw(Resources.Resource.SiteNav_FreeTrial)</a>
    </li>
</ul>
