﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - @Html.Raw(MultiRowRes._Layout_Text10)</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/Content/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#503b75">



    @{
        Theme.SetCurrentTheme(Context, Context.Request.Query["theme"]);
    }
    <c1-styles theme="@Theme.GetCurrentTheme(Context)" />
    <link href="~/Content/css/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/explorer.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <link href="~/Content/css/app.css" rel="stylesheet" />
    <link href="@Url.Content(MultiRowRes.GcIconsCssPath)" rel="stylesheet" />
    @RenderSection("Styles", false)

    <script src="~/Scripts/jquery.js"></script>
    <c1-scripts>
        <c1-basic-scripts />
        <c1-multi-row-scripts />
    </c1-scripts>
    <script src="~/Scripts/MultiLevelMenu.js"></script>
    <script src="~/Scripts/Layout.js"></script>
    @RenderSection("Scripts", false)
</head>
<body>


    <div class="hide">
        @Html.Partial("_SiteNav", true)
    </div>
    <header>
        <div class="hamburger-nav-btn narrow-screen"><span class="icon-bars"></span></div>
        <a class="logo-container" href="@Html.Raw(MultiRowRes._Layout_Text9)" target="_blank">
            <i class="gcicon-product-c1"></i>@Html.Raw(MultiRowRes._Layout_Text0)
        </a>
        @Html.Partial("_ThemeSelector")
        <div class="task-bar">
            <span class="semi-bold narrow-screen">@Html.Raw(MultiRowRes._Layout_Text1)</span>
            <span class="semi-bold wide-screen">@Html.Raw(MultiRowRes._Layout_Text2)</span>
            @Html.Partial("_SiteNav", false)
        </div>
    </header><div class="main-content">
        @RenderBody()
    </div>
    <footer>
        <a href="http://www.grapecity.com/">
            <i class="gcicon-logo-gc-horiz"></i>
        </a>
        <p>
            © @DateTime.Now.Year @Html.Raw(MultiRowRes._Layout_Text4)
        </p>
        @{
            var urlStr = string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path);
        }
        <a href="http://www.facebook.com/sharer.php?u=@urlStr" target="_blank">
            <img src="~/Content/css/images/icons/32/picons36.png" alt="facebook" />
        </a>
        <a href="http://twitter.com/share?text=Have you seen this? C1Studio MVC Edition Controls&url=@urlStr" target="_blank">
            <img src="~/Content/css/images/icons/32/picons33.png" alt="Twitter" />
        </a>
    </footer>
</body>
</html>

