﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title@(Resource.Layout_TitleSuffix)</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/favicon/safari-pinned-tab.svg")" color="#503b75">

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@Url.Content(Resource.GcIconsCssPath)" />
    <link rel="stylesheet" href="@Url.Content("~/css/app.css")" />
    <c1-styles />

    <c1-scripts>
        <c1-basic-scripts bundles="Grid">
        </c1-basic-scripts>
    </c1-scripts>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/MultiLevelMenu.js"></script>
    <script src="~/js/AccessibilityExtender.js"></script>
    <script src="~/js/app.js"></script>
</head>
<body>

    <div class="hide">
        @Html.Partial("_SiteNav", true)
    </div>
    <header>
        <div class="hamburger-nav-btn narrow-screen"><span class="icon-bars"></span></div>
        <a class="logo-container" href="@(Resource.Layout_ProductUrl)" target="_blank">
            <i class="gcicon-product-c1"></i>@Resource.Layout_ComponentOne
        </a>
        <div class="task-bar">
            <span class="semi-bold narrow-screen">@Resource.Layout_ShortTitle</span>
            <span class="semi-bold wide-screen">@Resource.Layout_LongTitle</span>
            @Html.Partial("_SiteNav", false)
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <a href="@(Resource.Layout_GrapeCityUrl)">
            <i class="gcicon-logo-gc-horiz"></i>
        </a>
        <p>
            © @DateTime.Now.Year @Html.Raw(Resource.Layout_License1)<br />
            @Html.Raw(Resource.Layout_License2)
        </p>
        @{
            var urlStr = string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path);
        }
        <a href="http://www.facebook.com/sharer.php?u=@urlStr" target="_blank">
            <img src="@Url.Content("~/css/images/icons/32/picons36.png")" alt="facebook" />
        </a>
        <a href="http://twitter.com/share?text=@(Resource.Layout_TwitterText)&url=@urlStr" target="_blank">
            <img src="@Url.Content("~/css/images/icons/32/picons33.png")" alt="Twitter" />
        </a>
    </footer>
</body>
</html>
