﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignalR - ComponentOne ASP.NET MVC FlexSheet</title>
    @Html.C1().Styles().Theme(Themes.Office)
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

    @Html.C1().Scripts().Basic(b => b.Input()).FlexSheet()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalr")
    @RenderSection("scripts", required: false)
</head>
<body>
    <!-- page header -->
    <div class="header">
        <div class="container">
            <h1>
                <img src="@Url.Content("~/Content/images/c1logo.png")" alt="Component One ASP.NET MVC" />
                FlexSheet SignalR
            </h1>
            <p>
                SignalRとFlexSheet for ASP.NET MVCを使用したサンプルです。
            </p>
            <p style="text-align: right; margin-top:-2em;"><a href="https://www.grapecity.co.jp/developer/componentone-studio" target="_blank" style="color: white !important;">ComponentOneトップへ戻る &gt;</a></p>
        </div>
    </div>
    @RenderBody()
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-20295802-2', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
