@{
    ClientSettingsModel optionsModel = ViewBag.DemoSettingsModel;
}
@(Html.C1().PivotEngine().Id("dataSourceEngine")
		.ShowRowTotals(ShowTotals.Subtotals)
		.ShowColumnTotals(ShowTotals.Subtotals)
		.BindService("~/api/dataengine/dataset10")
		.RowFields(pfcb => pfcb.Items("Country"))
		.ColumnFields(cfcb => cfcb.Items("Product"))
		.ValueFields(vfcb => vfcb.Items("Sales")))

<div class="row">
    <div class="col-sm-4 col-md-4">
        @Html.C1().PivotPanel().Id(optionsModel.ControlId).ItemsSourceId("dataSourceEngine")
    </div>
    <div class="col-sm-8 col-md-8">
        @Html.C1().PivotGrid().Id("indexGrid").ItemsSourceId("dataSourceEngine")
    </div>
</div>

@section Description{
<p>@Html.Raw(Resources.Olap.DataSource_Text0)</p>

<p>@Html.Raw(Resources.Olap.DataSource_Text1)</p>

<p>@Html.Raw(Resources.Olap.DataSource_Text2)</p>

}
@section Summary{
<p>@Html.Raw(Resources.Olap.DataSource_Text3)</p>

}
