﻿@model ICollection<$safeprojectname$.Models.ExternalLogin>

@if (Model.Count > 0)
{
    <h3>登録されている外部ログイン</h3>
    <table>
        <tbody>
        @foreach ($safeprojectname$.Models.ExternalLogin externalLogin in Model)
        {
            <tr>
                <td>@externalLogin.ProviderDisplayName</td>
                <td>
                    @if (ViewBag.ShowRemoveButton)
                    {
                        using (Html.BeginForm("Disassociate", "Account"))
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <input type="submit" value="削除" title="この @externalLogin.ProviderDisplayName 資格情報をアカウントから削除" />
                            </div>
                        }
                    }
                    else
                    {
                        @: &nbsp;
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
