﻿@model $safeprojectname$.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "登録";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.ProviderDisplayName アカウントを関連付けます。</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>関連付けフォーム</legend>
        <p>
            <strong> アカウント@ViewBag.ProviderDisplayName</strong> によって正常に認証されました。
下にこのサイトのユーザー名を入力し、[確認] ボタンを押して、
ログインを完了してください。
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="登録" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
