﻿@model IEnumerable<CustomerOrder>
@{
    ViewBag.DemoSettings = true;
    ClientSettingsModel demoSettingsModel = ViewBag.DemoSettingsModel;
}

@(Html.C1().FlexPie<CustomerOrder>().Id(demoSettingsModel.ControlId)
        .InnerRadius(demoSettingsModel.GetFloat("InnerRadius", 0f))
        .Header("Sales").Bind("Country", "Count", Model).DataLabel(dl=>dl.Content("{value}"))
        .InnerText("")
        .InnerTextStyle(svgb => svgb.FontSize(28).FontWeight("400").Fill("#2244ff").Stroke("#0099ff").StrokeWidth(1).StrokeOpacity(0.6)))
@section Scripts{
<script>
    function convertPalette(value) {
        return wijmo.chart.Palettes[value];
    }
    function customChangeInnerRadius(control, value) {
        control.innerRadius = (typeof convertInnerRadius === 'undefined' ? value : convertInnerRadius(value));
        if (value > 0) {
            if (control.header != "") {
                control.innerText = control.header;
                control.header = "";
            }
        } else {
            control.header = control.innerText;
            control.innerText = "";            
        }
    }
</script>
}
@section Description{
    <p>@Html.Raw(Resources.FlexPie.Index_Text0)</p>
    <p>@Html.Raw(Resources.FlexPie.Index_Text1)</p>
    <p>@Html.Raw(Resources.FlexPie.Index_Text2)</p>
}