﻿@model IEnumerable<ProductSales>

@(Html.C1().FlexPie<ProductSales>()
    .Id("multipleChart")
    .Header("Product")
    .Binding("Downloads,Sales")
    .Bind(Model)
    .BindingName("Country")
    .DataLabel(dl => dl.Content("{value}")))

@section Description{
    <p>@Html.Raw(Resources.FlexPie.Multiple_Text0)</p>
}