﻿@model $safeprojectname$.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "登録";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.LoginProvider アカウントを関連付けます。</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>関連付けフォーム</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        この <strong>@ViewBag.LoginProvider</strong> によって正常に認証されました。
            ログインを完了するには、このサイト用のユーザー名を下で入力し、
            [登録] ボタンをクリックしてください。
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="登録" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
