﻿
<div>
    <label>@Html.Raw(Resources.InputNumber.Index_Text0)</label>
    @Html.C1().InputNumber().Value(0).Format("n0")
</div>
<div>
    <label>@Html.Raw(Resources.InputNumber.Index_Text1)</label>
    @Html.C1().InputNumber().Value(Math.PI).Format("n")
</div>
<div>
    <label>@Html.Raw(Resources.InputNumber.Index_Text2)</label>
    @(Html.C1().InputNumber()
        .Value(3.5).Format("c2")
        .Step(0.5).Min(0).Max(10)
    )
</div>
<div>
    <label>@Html.Raw(Resources.InputNumber.Index_Text3)</label>
    @(Html.C1().InputNumber()
        .Placeholder(Resources.InputNumber.Index_Placeholder1)
        .IsRequired(false).Value(null)
    )
</div>
<div>
    <label>@Html.Raw(Resources.InputNumber.Index_Text5)</label>
    @(Html.C1().InputNumber()
        .Placeholder(Resources.InputNumber.Index_Placeholder1)
        .IsRequired(false).Value(null)
        .Format("g5")
        .InputType("number")
        .HtmlAttributes(new { title = "InputType: number" })
    )
</div>

@section Description{
    <p>@Html.Raw(Resources.InputNumber.Index_Text4)</p>
    <p>@Html.Raw(Resources.InputNumber.Index_Text6)</p>
}