﻿@section Styles{
<style>
    .btn {
        height: auto;
    }

    .popover {
        display: block;
    }

    .tab-content > .tab-pane {
        display: block;
    }
</style>
}
<label>@Html.Raw(PopupRes.Index_Text2)</label><br />
<!-- The popup owners. -->
<button id="btn1" type="button" class="btn btn-default">
    @Html.Raw(PopupRes.Index_ClickToShowPopupForm)
    <br>
    <small>@Html.Raw(PopupRes.Index_Description1)</small>
</button>

<button id="btn2" type="button" class="btn btn-default">
    @Html.Raw(PopupRes.Index_ClickToShowPopupForm)
    <br>
    <small>@Html.Raw(PopupRes.Index_Description2)</small>
</button>

<button id="btn3" type="button" class="btn btn-default">
    @Html.Raw(PopupRes.Index_ClickToShowPopupForm)
    <br>
    <small>(@Html.Raw(PopupRes.Index_Description3)</small>
</button>

<c1-popup class="popover" style="display:none;" id="popup1" owner="#btn1" hide-trigger="Click">
    <h3 class="popover-title">
        @Html.Raw(PopupRes.Index_Title)
    </h3>
    <div class="popover-content">
        @Html.Raw(PopupRes.Index_Text0)
    </div>
</c1-popup>

<c1-popup class="popover" style="display:none;" id="popup2" owner="#btn2" hide-trigger="Blur">
    <h3 class="popover-title">
        @Html.Raw(PopupRes.Index_Title)
    </h3>
    <div class="popover-content">
        @Html.Raw(PopupRes.Index_Text0)
    </div>
</c1-popup>

<c1-popup class="popover" style="display:none;" id="popup3" owner="#btn3" hide-trigger="None">
    <h3 class="popover-title">
        @Html.Raw(PopupRes.Index_Title)
    </h3>
    <div class="popover-content ">
        <form name="popoverForm">
            <p>@Html.Raw(PopupRes.Index_Text0)</p>
            <pre>2 + 3 = <span class="">5</span></pre>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">@@</div>
                    <input class="form-control" type="email" placeholder="@PopupRes.Index_EnterEmail">
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-danger wj-hide">@Html.Raw(PopupRes.Index_Close)</button>
                <button type="button" class="btn btn-primary wj-hide">@Html.Raw(PopupRes.Index_SaveChanges)</button>
            </div>
        </form>
    </div>
</c1-popup>

@section Description{
    @Html.Raw(PopupRes.Index_Text1)
}
