﻿.wj-listbox {
  max-height: 150px;
}
.wj-listbox .wj-glyph {
  display: inline-block;
  width: 2em;
  text-align: center;
}
.wj-listbox .wj-listbox-item:not(.wj-state-selected) .wj-glyph {
  color: navy;
}