<!DOCTYPE HTML>
<HTML ng-app="MyApp">
    <head>
<!-- #Region "references" -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>

<!--Theme-->
<link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets CSS-->
<link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20183.140.min.css" rel="stylesheet" type="text/css" />

<!-- Wijmo Scripts -->
<script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20183.140.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20183.140.min.js" type="text/javascript"></script>

<!-- Angular -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="http://cdn.wijmo.com/interop/angular.wijmo.3.20183.140.min.js"></script>

<!-- #End Region -->

<!-- #Region "js" -->
    <script type="text/javascript">
        var app = angular.module("MyApp", ["wijmo"]);
        function MyController($scope) {
			$scope.showHotel = false;
			$scope.showCar = false;
			$scope.showInsurance = false;
			$scope.tripClass = "";
			
			$scope.setTripClass = function (tripClass) {
				$scope.tripClass = tripClass;
			};
			$scope.toggleTripExtra = function (extra) {
				$scope[extra] = !$scope[extra];
			};
		}
    </script>
<!-- #End Region -->
    </head>
    <body ng-controller="MyController">
<!-- #Region "markup" -->
<!-- radio buttons for flight class and checkboxes for extras -->
<table>
    <tr>
        <td><b>Class</b></td>
        <td><b>Extras</b></td>
    </tr>
    <tr>
        <td>
            <label><input type="radio" wij-radio name="class" ng-click="setTripClass('economy')"/> Economy</label>
            <label><input type="radio" wij-radio name="class" ng-click="setTripClass('business')"/> Business</label>
            <label><input type="radio" wij-radio name="class" ng-click="setTripClass('first')"/> First</label>
        </td>
        <td>
            <label><input id1="flag1" type="checkbox" wij-checkbox ng-click="toggleTripExtra('showHotel')"/> Hotel</label>
            <label><input id1="flag2" type="checkbox" wij-checkbox ng-click="toggleTripExtra('showCar')"/> Car</label>
            <label><input id1="flag4" type="checkbox" wij-checkbox ng-click="toggleTripExtra('showInsurance')"/> Insurance</label>
        </td>
    </tr>
</table>
<p>
	<b>Class</b>: <span class="bound">{{tripClass}}</span>
	<br />
	<b>Extras</b>: <span class="bound">
		<span ng-show="showHotel">hotel</span>
		<span ng-show="showCar">car</span>
		<span ng-show="showInsurance">insurance</span>
		<span ng-show="!showHotel && !showCar && !showInsurance">** no extras selected **</span>
	</span></p>
<p>
<!-- #End Region -->
    </body>
</HTML>