<!DOCTYPE HTML>
<HTML ng-app="MyApp">
    <head>
<!-- #Region "references" -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>

<!--Theme-->
<link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets CSS-->
<link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20173.128.min.css" rel="stylesheet" type="text/css" />

<!-- Wijmo Scripts -->
<script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20173.128.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20173.128.min.js" type="text/javascript"></script>

<!-- Angular -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="http://cdn.wijmo.com/interop/angular.wijmo.3.20173.128.min.js"></script>
<!-- #End Region -->

<!-- #Region "js" -->
<script type="text/javascript">
    var app = angular.module("MyApp", ["wijmo"]);
    function MyController($scope) {
        $scope.popupbelow = function () {
            $("#unicorn").wijpopup('show', { 
                of: $('#showbtn')
            });
        }
    }
</script>
<!-- #End Region -->
    </head>
    <body ng-controller="MyController">
<!-- #Region "markup" -->
<!-- Image that displays with wijpopup -->
<wij-popup id="unicorn" show-effect="blind" auto-hide="true"> 
    <img src="http://cdn.wijmo.com/images/unicorn.jpg" alt="Popup Unicorn!" /> 
</wij-popup>
<!-- Button to show the image and set its relative location -->
<div> 
    <input type="button" id="showbtn" ng-click="popupbelow();" value="Show Popup" /> 
</div>
<!-- #End Region -->
    </body>
</HTML>