<!DOCTYPE html>
<html ng-app="wijmo">
<head>
    <meta charset="utf-8">
    <title>Getting Started with Wijmo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=960">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Wijmo CSS and script -->
    <link href="http://cdn.wijmo.com/themes/metro/jquery-wijmo.css" rel="stylesheet" title="metro-jqueryui" type="text/css" />
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20183.140.min.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20183.140.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20183.140.min.js" type="text/javascript"></script>
    
    <!-- #Region "links" -->
    
    <!-- Angular. This must come after jQuery. -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/interop/angular.wijmo.3.20183.140.min.js"></script>
    <!-- #End Region -->

    <!-- #Region "js" -->
    <script type="text/javascript">
        // AngularJS controller used for this sample

        function MyController($scope) {
            $scope.val = 50;
            $scope.min = 0;
            $scope.max = 100;
        }
    </script>
    <!-- #End Region -->
</head>
<body ng-controller="MyController">
    <!-- #Region "markup" -->
    <h2>Textbox</h2>
    <input ng-model="val" style="width: 200px;" />
    <span>{{val}}</span>

    <h2>Slider</h2>

    <!-- Create a wijslider widget using declarative markup -->
    <wij-slider value="val" min="{{min}}" max="{{max}}" style="width: 200px;"></wij-slider>

    <h2>Gauge</h2>
    <!-- Create a wijlineargauge widget using declarative markup -->
    <wij-lineargauge value="{{val}}" min="{{min}}" max="{{max}}"></wij-lineargauge>
    <!-- #End Region --></body>
</html>
