﻿.c1-grid-mask
{
    background-color: grey;
    color:white;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    z-index: 1001 !important;
    position: absolute;
    opacity: 0.3;
}

.wj-flexgrid .wj-cells .wj-cell.input-validation-error
{
    border: 1px solid red;
}
