﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASP.NET FlexChart Editable Annotations</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/favicon/safari-pinned-tab.svg")" color="#503b75">



    <!-- app scripts/styles -->
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    @Html.C1().Styles()
    <link href="@Url.Content("~/Content/app.css")" rel="stylesheet" />

    @Html.C1().Scripts().Basic(b=>b.Chart(c=>c.Annotation()))
    <script src="@Url.Content("~/Scripts/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/AxisScrollbar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EditableAnnotationLayer.js")" type="text/javascript"></script>
</head>
<body>


    @RenderBody()
</body>
</html>
