﻿@{
    var minTime = DateTime.Parse("07:00");
    var maxTime = DateTime.Parse("19:00");
}

<div>
    <label>@Html.Raw(Resources.InputTime.Index_Text0)</label>
    @(Html.C1().InputTime().Id("iditInputTime")
        .Value(DateTime.Now).Min(minTime).Max(maxTime)
    )
</div>

@section Description{
    @Html.Raw(Resources.InputTime.Index_Text1)
}