﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Embedded Pages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--jQuery References-->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js" type="text/javascript"></script>

    <!--Theme-->
    <link href="http://cdn.wijmo.com/themes/1.4.0/moonlight-mobile/jquery-wijmo.css" rel="stylesheet" type="text/css" title="rocket-jqueryui" />

    <!--Wijmo Widgets CSS-->
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.css" rel="stylesheet" type="text/css" />

    <!--Wijmo Widgets JavaScript-->
    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
</head>
<body>
    <div data-role="page" data-theme="b">
        <div data-role="wijappview">

            <div data-role="appviewpage">
                <div data-role="header">
                    <h2>Appview</h2>
                </div>
                <div data-role="content">
                    Default content, not displayed on  a small screen.
                </div>
            </div>

            <div id="nuncTincidunt" data-role="appviewpage" data-title="Nunc tincidunt">
                <div data-role="content">
                    <p>
                        Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec
		                arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante.
		                Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper
		                leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales
		                tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel
		                pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum.
		                Nunc tristique tempus lectus.
                    </p>
                </div>
            </div>

            <div id="proinDolor" data-role="appviewpage" data-title="Proin dolor">
                <div data-role="content">
                    <p>
                        Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra
			            massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget
			            luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean
			            aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent
			            in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat
			            nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque
			            convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod
			            felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
                    </p>
                </div>
            </div>

            <div id="aeneanLacinia" data-role="appviewpage" data-title="Aenean lacinia">
                <div data-role="content">
                    <p>
                        Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
			            pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
			            Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
			            nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
			            pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
			            enim, pretium nec, feugiat nec, luctus a, lacus.
                    </p>
                    <p>
                        Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam
			            ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing
			            velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula
			            faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero
			            sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor
			            ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas
			            commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit
			            hendrerit.
                    </p>
                </div>
            </div>

            <div data-role="menu" class="ui-body-a">
                <ul data-role="listview" data-theme="a">
                    <li><a href="#nuncTincidunt">Nunc tincidunt</a></li>
                    <li><a href="#proinDolor">Proin dolor</a></li>
                    <li><a href="#aeneanLacinia">Aenean lacinia</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
