@using FinancialChartExplorer.Models

@model List<FinanceData>
@{
    ViewBag.DemoSettings = false;
    C1.Web.Mvc.Finance.ChartType chartType = ViewBag.ChartType;
    ClientSettingsModel demoSettingsModel = ViewBag.DemoSettingsModel;
}

<script type="text/javascript">
    c1.documentReady(function () {
        c1.getExtender(wijmo.Control.getControl("#rs"), "RangeSelector").min = 69.5;
    });
</script>


@(Html.C1().FinancialChart()
.Id(demoSettingsModel.ControlId)
.Bind(Model)
.BindingX("X")
.ChartType(chartType)
.Series(sers =>
    {
        sers.Add().Binding("High,Low,Open,Close").Name("BOX");
    })
.Tooltip(t => t.Content("financialTooltip")))

@Html.Partial("_RangeSelector")

@section Description{
    <p>@Html.Raw(Resources.Home.HeikinAshi_Text0)</p>
    <p>@Html.Raw(Resources.Home.HeikinAshi_Text1)</p>
}
@section Summary{
    <p>@Html.Raw(Resources.Home.HeikinAshi_Text2)</p>
}