﻿@ModelType InputModel

@Code
    ViewBag.Title = "Input入門"
    Layout = "~/Views/Shared/_Layout.vbhtml"
End Code

<div Class="header">
    <div Class="container">
        <img src = "@Url.Content("~/Content/c1logo.png")" alt="MVC " />
        <h1> Input入門</h1>
        <p>
                このページでは、Inputコントロールの使用を開始する方法を説明します。
        </p>
    </div>
</div>

<div Class="container">
    <div Class="sample-page download-link">
        <a href = "https://www.grapecity.co.jp/developer/download#net" > トライアル版</a>
    </div>
    <!-- はじめに -->
    <div>
                        <h2> はじめに</h2>
        <p>
                        ASP.NET MVCアプリケーションでInputコントロールの使用を開始する際の手順。
        </p>
        <ol>
                        <li> ComponentOne ASP.NET MVCアプリケーションテンプレートを使用して、新しいMVCプロジェクトを作成します。</li>
            <li> プロジェクトに、コントローラおよび対応するビューを追加します。</li>
            <li> razor構文を使用して、ビューのinputコントロールを初期化します。</li>
            <li>（オプション）CSSを追加して、inputコントロールの外観をカスタマイズします。</li>
        </ol>
        <div Class="row">
            <div Class="col-md-7">
                <div>
                                <ul Class="nav nav-tabs" role="tablist">
                        <li Class="active"><a href="#gsHtml" role="tab" data-toggle="tab">Index.vbhtml</a></li>
                        <li> <a href = "#gsCS" role="tab" data-toggle="tab">HomeController.vb</a></li>
                    </ul>
                    <div Class="tab-content">
                        <div Class="tab-pane active pane-content" id="gsHtml">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;body&gt;

        @@(Html.C1().InputNumber().Value(3.5).Step(.5).Format("n"))

    &lt;/body&gt;
&lt;/html&gt;
                        </div>
                        <div Class="tab-pane pane-content" id="gsCS">
                            
Public Class HomeController
    Inherits System.Web.Mvc.Controller
    Function Index() As ActionResult
        Return View(New InputModel())
    End Function
End Class


                        </div>
                    </div>
                </div>
            </div>
            <div Class="col-md-5">
                <h4> 結果（ライブ） :  </h4>
                @(Html.C1().InputNumber().Value(3.5).Step(0.5).Format("n"))
            </div>
        </div>
    </div>






    <!-- AutoComplete -->
    <div>
        <h2>AutoComplete</h2>
        <p>
            AutoCompleteコントロールはオートコンプリートコントロールです。キー入力時に項目リストをフィルタ処理し、ドロップダウンリストから値を直接選択することができます。
        </p>
        <p>
            AutoCompleteコントロールを使用するには、項目リストを作成するために、最小限のプロパティとして<b>Bind</b>プロパティをデータの配列に設定する必要があります。 AutoCompleteコントロールには、動作を変更するためのプロパティも複数用意されています。たとえば、<b>CssMatch</b>プロパティです。 <b>CssMatch</b>プロパティを使用して、検索語に一致するコンテンツ部分の強調表示に使用されるCSSクラスを指定できます。
        </p>
        <p>
            次の例では、文字列のリストを使用することにより、<b>Bind</b>プロパティを使ってAutoCompleteコントロールの項目リストを作成します。候補のリストを表示するには、次のAutoCompleteコントロールに<b>「ab」</b>や<b>「za」</b>とキー入力してください。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#acHtml" role="tab" data-toggle="tab">Index.vbhtml</a></li>
                        <li><a href="#acCS" role="tab" data-toggle="tab">HomeController.vb</a></li>
                        <li><a href="#acCss" role="tab" data-toggle="tab">CSS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="acHtml">
&lt;div&gt;
    &lt;label&gt;Bindのみ&lt;/label&gt;
    @@(Html.C1().AutoComplete().Bind(Model.CountryList))
&lt;/div&gt;
&lt;div&gt;
    &lt;label&gt;Bind &amp;amp; CssMatch&lt;/label&gt;
    @@(Html.C1().AutoComplete().Bind(Model.CountryList).CssMatch("highlight"))
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="acCS">
Public Class HomeController
    Inherits System.Web.Mvc.Controller
    Function Index() As ActionResult
        Return View(New InputModel())
    End Function
End Class
                        </div>
                        <div class="tab-pane pane-content" id="acCss">
.highlight {
    background-color: #ff0;
    color: #000;
}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>Bindのみ</label>
                    @(Html.C1().AutoComplete().Bind(Model.CountryList).Text(""))
                </div>
                <div class="app-input-group">
                    <label>BindとcssMatch</label>
                    @(Html.C1().AutoComplete().Bind(Model.CountryList).CssMatch("highlight").Text(""))
                </div>
            </div>
        </div>
    </div>






    <!-- ComboBox -->
    <div>
        <h2>ComboBox</h2>
        <p>
            ComboBoxコントロールはAutoCompleteコントロールによく似ていますが、キー入力時に候補のリストを表示するのではなく、キー入力に伴って自動的にエントリを補完し、選択します。
        </p>
        <p>
            AutoCompleteコントロールと同様に、項目リストを作成するためには、最小限のプロパティとしてComboBoxの<b>Bind</b>プロパティをデータの配列に設定する必要があります。 また、ComboBoxを編集可能にするかどうかを<b>IsEditable</b>プロパティによって指定できます。 <b>IsEditable</b>プロパティは、ComboBoxの項目リストにない値をユーザーが入力できるかどうかを決定します。
        </p>
        <p>
            次の例では、上記のAutoCompleteコントロールと同じデータソースに連結された２つのComboBoxを使用します。 最初のComboBoxの<b>isEditable</b>プロパティをfalseに、２つ目のComboBoxの<b>IsEditable</b>をtrueに設定します。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#cbHtml" role="tab" data-toggle="tab">Index.vbhtml</a></li>
                        <li><a href="#cbCS" role="tab" data-toggle="tab">HomeController.vb</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="cbHtml">
&lt;div&gt;
    &lt;label&gt;編集不可&lt;/label&gt;
    @@(Html.C1().ComboBox().Bind(Model.CountryList).IsEditable(false))
&lt;/div&gt;
&lt;div&gt;
    &lt;label&gt;Editable&lt;/label&gt;
    @@(Html.C1().ComboBox().Bind(Model.CountryList).IsEditable(true))
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="cbCS">
Public Class HomeController
    Inherits System.Web.Mvc.Controller
    Function Index() As ActionResult
        Return View(New InputModel())
    End Function
End Class
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>編集不可</label>
                    @(Html.C1().ComboBox().Bind(Model.CountryList).IsEditable(False))
                </div>
                <div class="app-input-group">
                    <label>編集可</label>
                    @(Html.C1().ComboBox().Bind(Model.CountryList).IsEditable(True))
                </div>
            </div>
        </div>
    </div>



    <!-- InputDate and Calendar -->
    <div>
        <h2>InputDateとCalendar</h2>
        <p>
            InputDateコントロールを使用すると、ドロップダウンカレンダーを介して日付を編集および選択でき、不正な値の入力を防止できます。 InputDateのドロップダウンカレンダーは個別のコントロールとして開発されたもので、InputDateコントロールから独立して使用できます。
        </p>
        <p>
            InputDateとCalendarは両方とも、複数のプロパティを指定してコントロールの動作を変更します。
            最もよく使用されるプロパティは次のとおりです。
        </p>
        <ul>
            <li>
                <b>Value</b>: コントロールの日付値を指定します。
            </li>
            <li>
                <b>Min</b>: コントロールに入力可能な最小の日付値を指定します。
            </li>
            <li>
                <b>Max</b>: コントロールに入力可能な最大の日付値を指定します。
            </li>
        </ul>
        <p>
            次の例は、これらの各プロパティの使用方法を示します。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#idcHtml" role="tab" data-toggle="tab">Index.vbhtml</a></li>
                        <li><a href="#idcCS" role="tab" data-toggle="tab">HomeController.vb</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="idcHtml">
@@Code
    var today = DateTime.Today.Date
    var minDate = new DateTime(today.Year, 1, 1)
    var maxDate = new DateTime(today.Year, 12, 31)
End Code
&lt;div&gt;
    &lt;label&gt;Bound InputDate with min &amp;amp; max&lt;/label&gt;
    @@(Html.C1().InputDate().Id("idcInputDate").Value(today).Min(minDate).Max(maxDate))
&lt;/div&gt;
&lt;div&gt;
    &lt;label&gt;Bound Calendar with min &amp;amp; max&lt;/label&gt;
    @@(Html.C1().Calendar().Id("idcCalendar").Value(today).Min(minDate).Max(maxDate).Width("300px"))
&lt;/div&gt;
&lt;p&gt;
    &lt;b&gt;有効な範囲： &lt;span id="idcMinDate"&gt;@@minDate&lt;/span&gt; to &lt;span id="idcMaxDate"&gt;&lt;/span&gt;@@maxDate&lt;/b&gt;
&lt;/p&gt;

                        </div>
                        <div class="tab-pane pane-content" id="idcCS">
Public Class HomeController
    Inherits System.Web.Mvc.Controller
    Function Index() As ActionResult
        Return View(New InputModel())
    End Function
End Class
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                @Code
                    Dim today = DateTime.Today.Date
                    Dim minDate = New DateTime(today.Year, 1, 1)
                    Dim maxDate = New DateTime(today.Year, 12, 31)
                    Dim minTime = New DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 7, 0, 0)
                    Dim maxTime = New DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 19, 0, 0)
                    Dim format = "MMM dd, yyyy"
                End Code
                <h4>結果（ライブ） :    </h4>
                <div Class="app-input-group">
                    <label> MinおよびMaxを連結したInputDate</label>
                    @(Html.C1().InputDate().Id("idcInputDate").Value(Today).Min(minDate).Max(maxDate))
                </div>
                <div class="app-input-group">
                    <label>MinおよびMaxを連結したCalendar</label>
                    @(Html.C1().Calendar().Id("idcCalendar").Value(Today).Min(minDate).Max(maxDate).Width("300px"))
                </div>
                <p>
                    <b>有効な範囲： <span id="idcMinDate">@minDate</span>～<span id="idcMaxDate">@maxDate</span></b>
                </p>
            </div>
        </div>
    </div>





    <!-- InputDate、InputTime、InputDateTime -->
    <div>
        <h2>InputDate、InputTime、InputDateTime</h2>
        <p>
            InputDateコントロールと同様に、InputTimeコントロールを使用してTypeScriptの日付の時間部分を変更できます。 InputTimeコントロールは、<b>Format</b>、<b>Min</b>、<b>Max</b>、<b>Value</b>など、多くのプロパティをInputDateコントロールと共有しています。 InputTimeコントロールには、ドロップダウンリストのエントリ間の分数を指定できる<b>Step</b>プロパティも用意されています。
        </p>
        <p>
            InputDateTimeコントロールはInputDateとInputTimeコントロールを組み合わせて、日付と時刻を設定できます。InputDateTimeコントロールは2つのドロップダウンを持ち、日付をカレンダーで、時刻をリストで選択します。
        </p>
        <p>
            次の例では、InputTimeコントロールとInputDateコントロールを組み合わせた使用方法を示します。 これらのコントロールは協調して機能することにより、同じTypeScriptのDateTimeオブジェクトを編集しますが、DateTimeのそれぞれの担当部分のみを更新することに注意してください。
        </p>
        <p>
            また、以下の例は、InputDateTimeコントロールが日付と時刻の両方を編集することを示します。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#iditHtml" role="tab" data-toggle="tab">Index.vbhtml</a></li>
                        <li><a href="#iditJs" role="tab" data-toggle="tab">TS</a></li>
                        <li><a href="#iditCS" role="tab" data-toggle="tab">HomeController.vb</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="iditHtml">
@@Code
    var today = DateTime.Today.Date
    var minDate = new DateTime(today.Year, 1, 1)
    var maxDate = new DateTime(today.Year, 12, 31)
    var minTime = new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 7, 0, 0)
    var maxTime = new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 19, 0, 0)
    var format = "MMM dd, yyyy"
End Code
&lt;div&gt;
    &lt;label&gt;Bound InputDate with Min, Max, &amp;amp; Format&lt;/label&gt;
    @@(Html.C1().InputDate().Id("iditInputDate").Value(today).Min(minDate).Max(maxDate).Format(format).OnClientValueChanged("inputDate_ValueChanged"))
&lt;/div&gt;
&lt;div&gt;
    &lt;label&gt;Bound InputTime with Min, Max, &amp;amp; Step&lt;/label&gt;
    @@(Html.C1().InputTime().Id("iditInputTime").Value(today).Min(minTime).Max(maxTime).Step(15).OnClientValueChanged("inputTime_ValueChanged"))
&lt;/div&gt;
&lt;div&gt;
    &lt;label&gt;Bound InputDateTime with Min, Max, TimeMin, TimeMax, Format, &amp;amp; TimeStep&lt;/label&gt;
    @@(Html.C1().InputDateTime().Id("iditInputDateTime").Value(today).Min(minDate).Max(maxDate).TimeMin(minTime).TimeMax(maxTime).TimeStep(15).OnClientValueChanged("inputDateTime_ValueChanged"))
&lt;/div&gt;
&lt;p&gt;
    &lt;b&gt;選択された日付と時刻： &lt;span id="iditSelectedValue"&gt;&lt;/span&gt;&lt;/b&gt;
&lt;/p&gt;
                        </div>
                        <div class="tab-pane pane-content" id="iditJs">
function inputTime_ValueChanged(sender) {
    var inputDateTime = &lt;wijmo.input.InputDateTime&gt;wijmo.Control.getControl("#iditInputDateTime");
    inputDateTime.value = wijmo.DateTime.fromDateTime(inputDateTime.value, sender.value);
}

function inputDate_ValueChanged(sender) {
    var inputDateTime = &lt;wijmo.input.InputDateTime&gt;wijmo.Control.getControl("#iditInputDateTime");
    inputDateTime.value = wijmo.DateTime.fromDateTime(sender.value, inputDateTime.value);
}

function inputDateTime_ValueChanged(sender) {
    var inputDate = &lt;wijmo.input.InputDate&gt;wijmo.Control.getControl("#iditInputDate");
    var inputTime = &lt;wijmo.input.InputTime&gt;wijmo.Control.getControl("#iditInputTime");
    inputDate.value = wijmo.DateTime.fromDateTime(sender.value, inputDate.value);
    inputTime.value = wijmo.DateTime.fromDateTime(inputTime.value, sender.value);
    document.getElementById('iditSelectedValue').innerHTML = wijmo.Globalize.format(sender.value, 'MMM dd, yyyy h:mm:ss tt');
}
                        </div>
                        <div class="tab-pane pane-content" id="iditCS">
Public Class HomeController
    Inherits System.Web.Mvc.Controller
    Function Index() As ActionResult
        Return View(New InputModel())
    End Function
End Class
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>Min, Max,およびFormatを連結したInputDate</label>
                    @(Html.C1().InputDate().Id("iditInputDate").Value(Today).Min(minDate).Max(maxDate).Format(Format).OnClientValueChanged("inputDate_ValueChanged"))
                </div>
                <div class="app-input-group">
                    <label>Min, Max,およびStepを連結したInputTime</label>
                    @(Html.C1().InputTime().Id("iditInputTime").Value(Today).Min(minTime).Max(maxTime).Step(15).OnClientValueChanged("inputTime_ValueChanged"))
                </div>
                <div class="app-input-group">
                    <label>Min, Max, TimeMin, TimeMax, Format,およびTimeStepを連結したInputDateTime</label>
                    @(Html.C1().InputDateTime().Id("iditInputDateTime").Value(Today).Min(minDate).Max(maxDate).TimeStep(15).Format("MMM dd, yyyy hh:mm tt").TimeMin(minTime).TimeMax(maxTime).OnClientValueChanged("inputDateTime_ValueChanged"))
                </div>
                <p>
                    <b>選択された日付と時刻： <span id="iditSelectedValue"></span></b>
                </p>
            </div>
        </div>
    </div>




    <!-- ListBox -->
    <div>
        <h2>ListBox</h2>
        <p>
            ListBoxコントロールには項目のリストが表示され、マウスとキーボードを使って項目を選択できます。 ListBoxコントロールを使用するためには、AutoCompleteコントロールやComboBoxコントロールと同様に、<b>Bind</b>プロパティを指定する必要があります。
        </p>
        <p>
            次の例では、ListBoxコントロール内の項目を選択でき、コントロールの<b>SelectedIndex</b>プロパティと<b>SelectedValue</b>プロパティも表示できます。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#lbHtml" role="tab" data-toggle="tab">Index.vbhtml</a></li>
                        <li><a href="#lbJs" role="tab" data-toggle="tab">TS</a></li>
                        <li><a href="#lbCS" role="tab" data-toggle="tab">HomeController.vb</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="lbHtml">
&lt;div&gt;
    @@(Html.C1().ListBox().Id("lbListBox").Height("150px").Width("250px").Bind(Model.CitiesList).OnClientSelectedIndexChanged("selectedIndexChanged"))
&lt;/div&gt;
&lt;p&gt;
    &lt;b&gt;選択されたインデックス： &lt;span id="lbSelIdx"&gt;&lt;/span&gt;&lt;/b&gt;
&lt;/p&gt;
&lt;p&gt;
    &lt;b&gt;選択された値： &lt;span id="lbSelVal"&gt;&lt;/span&gt;&lt;/b&gt;
&lt;/p&gt;
                        </div>
                        <div class="tab-pane pane-content" id="lbJs">
function InitialControls() {
    var ListBox = &lt;wijmo.input.ListBox&gt;wijmo.Control.getControl("#lbListBox");
    selectedIndexChanged(ListBox);
}

//selectedIndexChanged event handler
function selectedIndexChanged(sender) {
    //set selectedIndex and selectedValue text
    if (document.getElementById("lbListBox") && document.getElementById("lbSelIdx") && document.getElementById("lbSelVal")) {//if (document.readyState === "complete") {
        document.getElementById('lbSelIdx').innerHTML = sender.selectedIndex;
        document.getElementById('lbSelVal').innerHTML = sender.selectedValue;
    }
}
                        </div>
                        <div class="tab-pane pane-content" id="lbCS">
Public Class HomeController
    Inherits System.Web.Mvc.Controller
    Function Index() As ActionResult
        Return View(New InputModel())
    End Function
End Class
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    @(Html.C1().ListBox().Id("lbListBox").Height("150px").Width("250px") _
                    .Bind(Model.CitiesList).OnClientSelectedIndexChanged("selectedIndexChanged"))
                </div>
                <p>
                    <b>選択されたインデックス： <span id="lbSelIdx"></span></b>
                </p>
                <p>
                    <b>選択された値： <span id="lbSelVal"></span></b>
                </p>
            </div>
        </div>
    </div>




    <!-- InputNumber -->
    <div>
        <h2>InputNumber</h2>
        <p>
            InputNumberコントロールを使用して数字を編集できます。その際、無効なデータの入力を防止でき、また、オプションで入力と同時に数値の書式を設定できます。InputNumberはプロパティを何も指定しなくても使用できますが、通常は、<b>Value</b>プロパティを使ってデータに連結します。
        </p>
        <p>
            <b>value</b>プロパティに加えて、InputNumberコントロールはいくつかのプロパティを備えており、動作を変更するために使用できます。たとえば、次のとおりです。
        </p>
        <ul>
            <li>
                <b>Min</b>: 入力可能な最小数値を指定します。
            </li>
            <li>
                <b>Max</b>: 入力可能な最大数値を指定します。
            </li>
            <li>
                <b>Step</b>: スピナーボタンがクリックされたときに現在の値に加算または減算する量を指定します。
            </li>
            <li>
                <b>Format</b>: 編集中の数値を表示するために使用される数値書式を指定します。formatプロパティには、.NET形式の<a href="http://msdn.microsoft.com/ja-jp/library/dwhawy9k(v=vs.110).aspx" target="_blank">数値書式文字列</a>を使用します。
            </li>
        </ul>
        <p>
            次の例は、これらすべてのプロパティの使用方法を示します。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#inHtml" role="tab" data-toggle="tab">Index.vbhtml</a></li>
                        <li><a href="#inCS" role="tab" data-toggle="tab">HomeController.vb</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="inHtml">
&lt;div&gt;
    &lt;label&gt;「n0」形式での非連結&lt;/label&gt;
    @@(Html.C1().InputNumber().Id("inInputNumber1").Value(0).Format("n0"))
&lt;/div&gt;
&lt;div&gt;
    &lt;label&gt;「n」形式での連結&lt;/label&gt;
    @@(Html.C1().InputNumber().Id("inInputNumber2").Value(Math.PI).Format("n"))
&lt;/div&gt;
&lt;div&gt;
    &lt;label&gt;min (0)、max (10)、step、および「c2」形式での連結&lt;/label&gt;
    @@(Html.C1().InputNumber().Id("inInputNumber3").Value(3.5).Format("C2").Step(.5).Min(0).Max(10))
&lt;/div&gt;
&lt;div&gt;
    &lt;label&gt;プレースホルダでの非連結、requiredは"false"&lt;/label&gt;
    @@(Html.C1().InputNumber().Id("inInputNumber4").Placeholder("数値を入力").Required(false).Value(Nothing))
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="inCS">
Public Class HomeController
    Inherits System.Web.Mvc.Controller
    Function Index() As ActionResult
        Return View(New InputModel())
    End Function
End Class
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>「n0」形式での非連結</label>
                    @(Html.C1().InputNumber().Id("inInputNumber1").Value(0).Format("n0"))
                </div>
                <div class="app-input-group">
                    <label>「n」形式での連結</label>
                    @(Html.C1().InputNumber().Id("inInputNumber2").Value(Math.PI).Format("n"))
                </div>
                <div class="app-input-group">
                    <label>min (0)、max (10)、step、および「c2」形式での連結</label>
                    @(Html.C1().InputNumber().Id("inInputNumber3").Value(3.5).Format("C2").Step(0.5).Min(0).Max(10))
                </div>
                <div class="app-input-group">
                    <label>プレースホルダでの非連結、requiredは"false"</label>
                    @(Html.C1().InputNumber().Id("inInputNumber4").Placeholder("数値を入力").Required(False).Value(Nothing))
                </div>
            </div>
        </div>
    </div>





    <!-- InputMask -->
    <div>
        <h2>InputMask</h2>
        <p>
            InputMaskコントロールを使用すると、キー入力と同時にユーザー入力を検証および書式設定でき、不正なデータを防止できます。  InputMaskコントロールはプロパティを何も指定しなくても使用できますが、通常は<b>Value</b>プロパティと<b>Mask</b>プロパティを設定します。他のMVC入力コントロールと同様に、<b>Value</b>プロパティはInputMaskコントロールの値を指定します。  <b>Mask</b>プロパティはコントロールのマスクを指定し、以下の文字の組み合わせをサポートします。
        </p>
        <dl class="dl-horizontal">
            <dt>0</dt>
            <dd>数字。</dd>
            <dt>9</dt>
            <dd>数字またはスペース。</dd>
            <dt>#</dt>
            <dd>数字、符号、またはスペース。</dd>
            <dt>L</dt>
            <dd>英字。</dd>
            <dt>l</dt>
            <dd>英字またはスペース。</dd>
            <dt>A</dt>
            <dd>英数字。</dd>
            <dt>a</dt>
            <dd>英数字またはスペース。</dd>
            <dt>.</dt>
            <dd>ローカライズされた小数点。</dd>
            <dt>,</dt>
            <dd>ローカライズされた桁区切り。</dd>
            <dt>:</dt>
            <dd>ローカライズされた時刻区切り。</dd>
            <dt>/</dt>
            <dd>ローカライズされた日付の区切り文字。</dd>
            <dt>$</dt>
            <dd>ローカライズされた通貨記号。</dd>
            <dt>&lt;</dt>
            <dd>後続の文字を小文字に変換します。</dd>
            <dt>&gt;</dt>
            <dd>後続の文字を大文字に変換します。</dd>
            <dt>|</dt>
            <dd>大文字小文字の変換を無効にします。</dd>
            <dt>\</dt>
            <dd>任意の文字をエスケープしてリテラルに変えます。</dd>
            <dd>DBCS数字。</dd>
            <dt>Ｊ</dt>
            <dd>DBCSひらがな。</dd>
            <dt>Ｇ</dt>
            <dd>DBCS大文字ひらがな。</dd>
            <dt>Ｋ</dt>
            <dd>DBCSカタカナ。</dd>
            <dt>Ｎ</dt>
            <dd>DBCS大文字カタカナ。</dd>
            <dt>K</dt>
            <dd>SBCSカタカナ。</dd>
            <dt>N</dt>
            <dd>SBCS大文字カタカナ。</dd>
            <dt>Ｚ</dt>
            <dd>任意のDBCS文字。</dd>
            <dt>H</dt>
            <dd>任意のSBCS文字。</dd>
            <dt>その他すべて</dt>
            <dd>リテラル。</dd>
        </dl>
        <p>
            次の例は、InputMaskコントロール、InputDateコントロール、およびInputTimeコントロールで<b>Value</b>プロパティと<b>Mask</b>プロパティを使用する方法を示します。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#imHtml" role="tab" data-toggle="tab">Index.vbhtml</a></li>
                        <li><a href="#imJs" role="tab" data-toggle="tab">TS</a></li>
                        <li><a href="#imCS" role="tab" data-toggle="tab">HomeController.vb</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="imHtml">
&lt;div&gt;
    &lt;label&gt;社会保障番号&lt;/label&gt;
    @@(Html.C1().InputMask().Id("imSocial").Mask("000-00-0000"))
&lt;/div&gt;
&lt;div&gt;
    &lt;label&gt;電話番号&lt;/label&gt;
    @@(Html.C1().InputMask().Id("imPhone").Mask("(999) 000-0000"))
&lt;/div&gt;
&lt;div&gt;
    &lt;label&gt;試してみる&lt;/label&gt;
    @@(Html.C1().InputMask().Id("imCustomInput") _
        .Placeholder("マスク文字を入力") _
        .OnClientValueChanged("MaskvalueChanged")
    )
    @@(Html.C1().InputMask().Id("imCustomTrial") _
        .Placeholder("マスクの動作を試す")
    )
&lt;/div&gt;
&lt;div&gt;
    &lt;label&gt;Maskを設定したInputDate&lt;/label&gt;
    @@(Html.C1().InputDate().Value(DateTime.Now) _
        .Format("d").Mask("99/99/9999"))
&lt;/div&gt;
&lt;div&gt;
    &lt;label&gt;Maskを設定したInputTime&lt;/label&gt;
    @@(Html.C1().InputTime().Value(DateTime.Now) _
        .Format("t").Mask("00:00 &gt;LL"))
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="imJs">
// InputMask valueChanged event handler
function MaskvalueChanged(sender) {
    var customMaskTrial = &lt;wijmo.input.InputMask&gt; wijmo.Control.getControl("#imCustomTrial");
    customMaskTrial.mask = sender.value;
    customMaskTrial.hostElement.title = 'Mask: ' + (sender.value || 'N/A');
}

                        </div>
                        <div class="tab-pane pane-content" id="imCS">
Public Class HomeController
    Inherits System.Web.Mvc.Controller
    Function Index() As ActionResult
        Return View(New InputModel())
    End Function
End Class
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>社会保障番号</label>
                    @(Html.C1().InputMask().Id("imSocial").Mask("000-00-0000"))
                </div>
                <div class="app-input-group">
                    <label>電話番号</label>
                    @(Html.C1().InputMask().Id("imPhone").Mask("(999) 000-0000"))
                </div>
                <div class="app-input-group">
                    <label>試してみる</label>
                    @(Html.C1().InputMask().Id("imCustomInput").Placeholder("マスク文字を入力") _
                        .OnClientValueChanged("MaskvalueChanged")
                    )
                    @(Html.C1().InputMask().Id("imCustomTrial") _
                .Placeholder("マスクの動作を試す")
                    )
                </div>
                <div class="app-input-group">
                    <label>Maskを設定したInputDate</label>
                    @(Html.C1().InputDate().Value(DateTime.Now).Format("d").Mask("99/99/9999"))        
                </div>
                <div class="app-input-group">
                    <label>Maskを設定したInputTime</label>
                    @(Html.C1().InputTime().Value(DateTime.Now).Format("t").Mask("00:00 >LL"))
                </div>
            </div>
        </div>
    </div>


    <!-- Menu -->
    <div>
        <h2>Menu</h2>
        <p>
            Menuコントロールを使用して、クリック可能な項目を含む単純なドロップダウンリストを作成できます。 Menuの項目は、直接定義するか、ComboBoxと同様に<b>Bind</b>プロパティを使用して定義します。
            Menuに表示されるテキストを指定するには、<b>Header</b>プロパティを設定します。
        </p>
        <p>
            Menuコントロールには、ユーザーの選択内容を処理するための方法が２つ用意されています。各メニュー項目のコマンドを指定する方法と、<b>ItemClicked</b>イベントです。 <b>ItemClicked</b>イベントとは異なり、コマンドは２つのメソッドを実装するオブジェクトです。
        </p>
        <ul>
            <li>
                <b>executeCommand(param)</b>: コマンドを実行するメソッド。
            </li>
            <li>
                <b>canExecuteCommand(param)</b>: コマンドが実行できるかどうかを指定するBoolean値を返すメソッド。 戻り値がfalseの場合、メニュー項目は自動的に無効になります。
            </li>
        </ul>
        <p>
            次の例は、両方のアプローチの使用方法を示します。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#mHtml" role="tab" data-toggle="tab">Index.vbhtml</a></li>
                        <li><a href="#mJs" role="tab" data-toggle="tab">TS</a></li>
                        <li><a href="#mCS" role="tab" data-toggle="tab">HomeController.vb</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="mHtml">
&lt;div&gt;
&lt;label&gt;ItemClickedイベント&lt;/label&gt;

    @@(Html.C1().Menu().Id("mFileMenu").Header("File").OnClientItemClicked("itemClicked") _
        .MenuItems(Sub(items)
                        items.Add(Sub(item) item.Header("New: create a new document"))
                        items.Add(Sub(item) item.Header("Open: load an existing document from a file"))
                        items.Add(Sub(item) item.Header("Save: save the current document to a file"))
                        items.Add(Sub(item) item.IsSeparator(True))
                        items.Add(Sub(item) item.Header("Exit: save changes and exit the application"))
                    End Sub))
    @@(Html.C1().Menu().Id("mEditMenu").Header("Edit").OnClientItemClicked("itemClicked") _
        .MenuItems(Sub(items)
                        items.Add().Header("Cut: move the current selection to the clipboard")
                        items.Add().Header("Copy: copy the current selection to the clipboard")
                        items.Add().Header("Paste: insert the clipboard content at the cursor position")
                        items.Add().IsSeparator(True)
                        items.Add().Header("Find: search the current document for some text")
                        items.Add().Header("Replace: replace occurrences of a string in the current document")
                    End Sub))

&lt;/div&gt;
&lt;div class="app-input-group"&gt;
    &lt;label&gt;Commands&lt;/label&gt;
    @@(Html.C1().Menu().Header("Change Tax") _
        .Command(Sub(cmd) cmd.ExecuteCommand("execute").CanExecuteCommand("canExecute")) _
        .MenuItems(Sub(items)
            items.Add().Header("+ 25%").CommandParameter(0.25)
            items.Add().Header("+ 10%").CommandParameter(0.1)
            items.Add().Header("+ 5%").CommandParameter(0.05)
            items.Add().Header("+ 1%").CommandParameter(0.01)
            items.Add().IsSeparator(True)
            items.Add().Header("- 1%").CommandParameter(-0.01)
            items.Add().Header("- 5%").CommandParameter(-0.05)
            items.Add().Header("- 10%").CommandParameter(-0.1)
            items.Add().Header("- 25%").CommandParameter(-0.25)
        End Sub)
    )
@@(Html.C1().InputNumber().Id("mInputNumber") _
    .Value(0.07).Step(0.05).Format("p0").Min(0).Max(1)
)
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="mJs">
function itemClicked(sender) {
    alert('You\'ve selected option ' + sender.selectedIndex + ' from the ' + sender.header + ' menu!');
}

function execute(arg) {
    var inputNumber = &lt;wijmo.input.InputNumber&gt;wijmo.Control.getControl("#mInputNumber");

    // convert argument to Number
    arg = wijmo.changeType(arg, wijmo.DataType.Number,'');

    // check if the conversion was successful
    if (wijmo.isNumber(arg)) {

        // update the value
        inputNumber.value += arg;
    }
}

function canExecute(arg) {
    var inputNumber = &lt;wijmo.input.InputNumber&gt;wijmo.Control.getControl("#mInputNumber");

    // convert argument to Number
    arg = wijmo.changeType(arg, wijmo.DataType.Number,'');

    // check if the conversion was successful
    if (wijmo.isNumber(arg)) {
        var val = inputNumber.value + arg;

        // check if the value is valid
        return val >= 0 && val <= 1;
    }

    return false;
}
                        </div>
                        <div class="tab-pane pane-content" id="mCS">
Public Class HomeController
    Inherits System.Web.Mvc.Controller
    Function Index() As ActionResult
        Return View(New InputModel())
    End Function
End Class
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>ItemClickedイベント</label>
                    @(Html.C1().Menu().Id("mFileMenu").Header("File").OnClientItemClicked("itemClicked") _
                        .MenuItems(Sub(items)
                                       items.Add(Sub(item) item.Header("New: create a new document"))
                                       items.Add(Sub(item) item.Header("Open: load an existing document from a file"))
                                       items.Add(Sub(item) item.Header("Save: save the current document to a file"))
                                       items.Add(Sub(item) item.IsSeparator(True))
                                       items.Add(Sub(item) item.Header("Exit: save changes and exit the application"))
                                   End Sub))
                    @(Html.C1().Menu().Id("mEditMenu").Header("Edit").OnClientItemClicked("itemClicked") _
                    .MenuItems(Sub(items)
                                   items.Add().Header("Cut: move the current selection to the clipboard")
                                   items.Add().Header("Copy: copy the current selection to the clipboard")
                                   items.Add().Header("Paste: insert the clipboard content at the cursor position")
                                   items.Add().IsSeparator(True)
                                   items.Add().Header("Find: search the current document for some text")
                                   items.Add().Header("Replace: replace occurrences of a string in the current document")
                               End Sub)
                    )
                </div>
                <div class="app-input-group">
                    <label>コマンド</label>
                    @(Html.C1().Menu().Header("Change Tax") _
                    .Command(Sub(cmd) cmd.ExecuteCommand("execute").CanExecuteCommand("canExecute")) _
                    .MenuItems(Sub(items)
                                   items.Add().Header("+ 25%").CommandParameter(0.25)
                                   items.Add().Header("+ 10%").CommandParameter(0.1)
                                   items.Add().Header("+ 5%").CommandParameter(0.05)
                                   items.Add().Header("+ 1%").CommandParameter(0.01)
                                   items.Add().IsSeparator(True)
                                   items.Add().Header("- 1%").CommandParameter(-0.01)
                                   items.Add().Header("- 5%").CommandParameter(-0.05)
                                   items.Add().Header("- 10%").CommandParameter(-0.1)
                                   items.Add().Header("- 25%").CommandParameter(-0.25)
                               End Sub)
                    )
                    @(Html.C1().InputNumber().Id("mInputNumber") _
                       .Value(0.07).Step(0.05).Format("p0").Min(0).Max(1)
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    c1.documentReady(function () {
        if (window["InitialControls"]) {
            window["InitialControls"]();
        }
    });
</script>