﻿@model ChartOptions

@{
    ViewBag.DemoSettings = true;
    IEnumerable<Fruit> fruits = Fruit.GetFruitsSales();
}

@(Html.C1().FlexChart().Bind("Name", fruits).ChartType(Model.CType).Stacking(Model.CStack).SelectionMode(Model.CSelectionMode).Series(sers =>
{
    sers.Add().Binding("MarPrice").Name("March");
    sers.Add().Binding("AprPrice").Name("April");
    sers.Add().Binding("MayPrice").Name("May");
}))

@section Scripts{
    <script type="text/javascript">
        var indexes = [@ViewBag.typeIndex, @ViewBag.stackIndex, @ViewBag.selectionIndex],
            isDocumentReady = false;

        submit = function (combo, comboIndex) {
            if (!isDocumentReady) {
                return;
            }

            var form = document.forms ? document.forms[0] : null;
            if (form && combo.selectedIndex != indexes[comboIndex]) {
                form.submit();
            }
        }

        postMethod0 = function(combo) {
            submit(combo, 0);
        }
        postMethod1 = function(combo) {
            submit(combo, 1);
        }
        postMethod2 = function(combo) {
            submit(combo, 2);
        }
        c1.documentReady(function() {
            wijmo.Control.getControl("#chartType").selectedIndex = indexes[0];
            wijmo.Control.getControl("#stacking").selectedIndex = indexes[1];
            wijmo.Control.getControl("#selection").selectedIndex = indexes[2];
            isDocumentReady = true;
        });
</script>
}

@section Settings{
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <span>@Html.Raw(Resources.FlexChart.Selection_ChartType)</span>
        @(Html.C1().ComboBox().Id("chartType").Name("type").Width(130)
            .Bind(ChartOptions.ChartTypes).OnClientSelectedIndexChanged("postMethod0"))
        <span>@Html.Raw(Resources.FlexChart.Selection_Stacking)</span>
        @(Html.C1().ComboBox().Id("stacking").Name("stack").Width(130)
            .Bind(ChartOptions.Stackings).OnClientSelectedIndexChanged("postMethod1"))
        <span>@Html.Raw(Resources.FlexChart.Selection_SelectionMode)</span>
        @(Html.C1().ComboBox().Id("selection").Name("selectionmode").Width(130)
            .Bind(ChartOptions.SelectionModes).OnClientSelectedIndexChanged("postMethod2"))
    }
}
@section Description{
    <p>@Html.Raw(Resources.FlexChart.Selection_Text0)</p>
    <p>@Html.Raw(Resources.FlexChart.Selection_Text1)</p>
    <p>@Html.Raw(Resources.FlexChart.Selection_Text2)</p>
}