﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/Content/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#503b75">



    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href="~/Content/css/app.css" rel="stylesheet" />
    <link href="~/Content/css/explorer.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
    <c1-styles />

    <script src="~/js/jquery.js"></script>
    <c1-scripts>
        <c1-basic-scripts bundles="Input,Grid">
            <c1-grid-extension-scripts bundles="Filter"></c1-grid-extension-scripts>
        </c1-basic-scripts>
    </c1-scripts>
    <script src="~/js/MultiLevelMenu.js"></script>
    <script src="~/js/FilterPanel.js"></script>
    <script src="~/js/app.js"></script>
</head>
<body>


    <div class="hide">
        @Html.Partial("_SiteNav", true)
    </div>
    <header>
        <div class="hamburger-nav-btn narrow-screen"><span class="icon-bars"></span></div>
        <a class="logo-container" href="https://www.grapecity.com/en/aspnet-mvc" target="_blank">
            <i class="gcicon-product-c1"></i>ComponentOne
        </a>

        <div class="task-bar">
            <span class="semi-bold narrow-screen">MVC FilterPanel</span>
            <span class="semi-bold wide-screen">ASP.NET MVC Edition FilterPanel</span>
            @Html.Partial("_SiteNav", false)
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <a href="http://www.grapecity.com/">
            <i class="gcicon-logo-gc-horiz"></i>
        </a>
        <p>
            © @DateTime.Now.Year GrapeCity, Inc. All Rights Reserved.<br />
            All product and company names here in may be trademarks of their respective owners.
        </p>
        @{
            var urlStr = string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path);
        }
        <a href="http://www.facebook.com/sharer.php?u=@urlStr" target="_blank">
            <img src="~/Content/css/images/icons/32/picons36.png" alt="facebook" />
        </a>
        <a href="http://twitter.com/share?text=Have you seen this? C1Studio MVC Edition Controls&url=@urlStr" target="_blank">
            <img src="~/Content/css/images/icons/32/picons33.png" alt="Twitter" />
        </a>
    </footer>
</body>
</html>