﻿<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/External/BootStrap/css")
    @Html.C1().Styles()
    @Styles.Render("~/Content/Styles")

    @Scripts.Render("~/Content/External/Jquery")
    @Scripts.Render("~/Content/External/BootStrap")
    @Html.C1().Scripts().Basic(b=>b.Chart(c=>c.LineMarker()).Input())
    <!-- App scripts -->
    <script src="@Url.Content("~/Content/Scripts/app.js")" type="text/javascript"></script>
</head>
<body>
    @RenderBody()

    <script type="text/javascript">
        c1.documentReady(function () {
            if (window["InitialControls"]) {
                window["InitialControls"]();
            }
        });
    </script>
</body>
</html>
