﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Appview overview</title>
    <meta name="viewport" content="width=device-widt, initial-scale=1h" />

    <!--jQuery References-->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js" type="text/javascript"></script>

    <!--Theme-->
    <link href="http://cdn.wijmo.com/themes/1.4.0/moonlight-mobile/jquery-wijmo.css" rel="stylesheet" type="text/css" title="rocket-jqueryui" />

    <!--Wijmo Widgets CSS-->
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.css" rel="stylesheet" type="text/css" />

    <!--Wijmo Widgets JavaScript-->
    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
</head>
<body>
    <div data-role="page" data-theme="b">
        <div data-role="wijappview">
            <div data-role="appviewpage">
                <div data-role="header">
                    <h2>Appview</h2>
                </div>
                <div data-role="content">
                    Default content, not displayed on  a small screen.
                </div>
            </div>
            <div data-role="menu" class="ui-body-a">
                <ul data-role="listview" data-theme="a">
                    <li><a href="nuncTincidunt.html">Nunc tincidunt</a></li>
                    <li><a href="proinDolor.html">Proin dolor</a></li>
                    <li><a href="aeneanLacinia.html">Aenean lacinia</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
