﻿
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/Content/c1logo.png")" alt="Component One ASP.Net MVC" />
        <h1>
            カスタムセル結合
        </h1>
        <p>
            複数の行および列を1つのグリッドに結合します。
        </p>
    </div>
</div>

<div class="container">
    <p>
        この例では、カスタム<b>MergeManager</b>クラスを定義して、そのクラスのインスタンスをグリッドの<b>mergeManager</b>プロパティに割り当てることにより、カスタム結合を<b>FlexGrid</b>に適用します。
    </p>
    <p>
        カスタム結合マネージャーは、行と列に渡って結合範囲を作成します。これは、デフォルトの結合マネージャーには実行できないことです（行または列を結合できますが、両方は結合できません）。
    </p>

    @Html.C1().FlexGrid().Id("flexGrid")
</div>

<script type="text/javascript">
    c1.documentReady(function () {
        if (window["initialControls"]) {
            window["initialControls"]();
        }
    });
</script>

