﻿.gauge-holder {
  width: 80%;
  height: 200px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  padding: 12px;
}
.wj-gauge {
  width: 100%;
  height: 100%;
  margin: auto auto;
}
.wj-combobox, .wj-inputnumber {
  width: 120px;
}