﻿.wijmo-wijfileexplorer-designtime {
    overflow: hidden;
}

.wijmo-wijfileexplorer-designtime .ui-icon
{
    background-image: url('<%= WebResource("C1.Web.Wijmo.Controls.Resources.themes.extensions.images.fileexplorer.png")%>') !important;
}

.wijmo-wijfileexplorer-designtime .wijmo-wijfileexplorer-addressbar
{
    height: 30px;
}

.wijmo-wijfileexplorer-designtime .wijmo-wijfileexplorer-addresspanel
{
    width: 75% !important;
}

.wijmo-wijfileexplorer-designtime .wijmo-wijfileexplorer-filterpanel
{
    width: 25% !important;
}

.wijmo-wijfileexplorer-designtime .wijmo-wijsplitter-vertical .wijmo-wijsplitter-v-panel2-content
{
    border-style: none !important;
}

.wijmo-wijfileexplorer-designtime .wijmo-wijsplitter-v-bar
{
    border-style: none !important;
    width: 0px !important;
    height: 0px !important;
    background: none !important;
}

.wijmo-wijfileexplorer-designtime .wijmo-wijsplitter-v-expander
{
    background: none !important;
    border-style: none !important;
    margin-left: -27px !important;
}