﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ASP.NET MVC FlexGrid-Custom Editors with Full Row Edit Sample</title>
        <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
        <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-32x32.png")" sizes="32x32">
        <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-16x16.png")" sizes="16x16">
        <link rel="manifest" href="@Url.Content("~/Content/favicon/manifest.json")">
        <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#503b75">

        <meta name="viewport" content="width=device-width" />

        <!-- styles -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="@Url.Content("~/Content/app.css")" />
        @Html.C1().Styles()

        <!-- jQuery and Bootstrap scripts -->
        <script src="https://code.jquery.com/jquery-2.0.0.min.js" type="text/javascript"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>       
        @Html.C1().Scripts().Basic(b => b.Grid())
    </head>
    <body>
        @RenderBody()
    </body>
</html>
