﻿@{
    ViewBag.DemoSettings = true;
    ClientSettingsModel demoSettingsModel = ViewBag.DemoSettingsModel;
    var innerRadius = demoSettingsModel.GetFloat("InnerRadius", 0f);
}

<c1-flex-pie id="@demoSettingsModel.ControlId" header="Sales" inner-radius="@innerRadius"
             binding-name="Country" binding="Count">
    <c1-items-source source-collection="Model"></c1-items-source>
    <c1-flex-pie-datalabel content="{value}"></c1-flex-pie-datalabel>
</c1-flex-pie>

@section Scripts{
    <script>
    function convertPalette(value) {
        return wijmo.chart.Palettes[value];
    }
    </script>
}
@section Description{
    <p>@Html.Raw(FlexPieRes.Index_Text0)</p>
    <p>@Html.Raw(FlexPieRes.Index_Text1)</p>
}