﻿<div>
    <label>@Html.Raw(InputNumberRes.Index_Text0)</label>
    <c1-input-number value="0" format="n0"></c1-input-number>
</div>
<div>
    <label>@Html.Raw(InputNumberRes.Index_Text1)</label>
    <c1-input-number value="@Math.PI" format="n"></c1-input-number>
</div>
<div>
    <label>@Html.Raw(InputNumberRes.Index_Text2)</label>
    <c1-input-number value="3.5" format="c2" step="0.5" min="0" max="10"></c1-input-number>
</div>
<div>
    <label>@Html.Raw(InputNumberRes.Index_Text3)</label>
    <c1-input-number value="null" placeholder="@InputNumberRes.Index_EnterANumber" is-required="false"></c1-input-number>
</div>

<div>
    <label>@Html.Raw(InputNumberRes.Index_Text5)</label>
    <c1-input-number value="null" placeholder="@InputNumberRes.Index_EnterANumber" is-required="false" format="g5" input-type="number"></c1-input-number>
</div>

@section Description{
    <p>@Html.Raw(InputNumberRes.Index_Text4)</p>
    <p>@Html.Raw(InputNumberRes.Index_Text6)</p>
}