﻿.wj-flexgrid {
  max-height: 250px;
}
.wj-cell .v-center {
  position: relative;
  top: 50%;
	transform: translateY(-50%);
  white-space: pre-wrap;
}
.wj-cell input[type=checkbox] {
  position: relative;
  margin: 0;
  top: 50%;
	transform: translateY(-50%);
}