﻿<%@ Page Title="Stocks" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true"
    CodeBehind="Index.aspx.cs" Inherits="WijMarket.Index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div id="stockHistoryContainer" class="ui-helper-clearfix">
        <div id="stockHistory">
        </div>
        <div id="quoteSummaryWrapper">
            <div class="title ui-helper-clearfix">
                <h2 id="corpName">
                </h2>
                <span class="highlight">NasdaqGS: <span id="symbolName"></span></span>
                <div id="quote_summary_date_range">
                    <div id="showDateRange" class="ui-corner-left">
                        <span></span>
                    </div>
                    <button id="showDateDialog">
                        show Date Dialog</button>
                    <div id="dateRangeDialog" class="ui-corner-all">
                        <div id="calendar1">
                        </div>
                        <div class="dateinput">
                            <h4>
                                Data Range</h4>
                            <input id="startDateInput" /><span>-</span><input id="endDateInput" />
                            <button id="dateApplyBtn">
                                <span>Apply</span></button>
                            <button id="dateCancelBtn">
                                <span>Cancel</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="quote_summary_data" class="ui-helper-clearfix">
                <table id="table1">
                    <tbody>
                        <tr>
                            <th width="48%" scope="row">
                                Last Trade:
                            </th>
                            <td>
                                <span id="summaryLastTrade"></span>
                            </td>
                        </tr>
                        <tr>
                            <th width="48%" scope="row">
                                Trade Time:
                            </th>
                            <td>
                                <span id="summaryTradeTime"></span>
                            </td>
                        </tr>
                        <tr>
                            <th width="48%" scope="row">
                                Change:
                            </th>
                            <td>
                                <span id="summaryChange">
                                    <img src="" border="0" alt="Up" /><span></span> </span>
                            </td>
                        </tr>
                        <tr>
                            <th width="48%" scope="row">
                                Prev Close:
                            </th>
                            <td>
                                <span id="summaryPrevClose"></span>
                            </td>
                        </tr>
                        <tr>
                            <th width="48%" scope="row">
                                Open:
                            </th>
                            <td>
                                <span id="summaryOpen"></span>
                            </td>
                        </tr>
                        <tr>
                            <th width="48%" scope="row">
                                Bid:
                            </th>
                            <td>
                                <span id="summaryBid"></span>
                            </td>
                        </tr>
                        <tr>
                            <th width="48%" scope="row">
                                Ask:
                            </th>
                            <td>
                                <span id="summaryAsk"></span>
                            </td>
                        </tr>
                        <tr class="end">
                            <th width="48%" scope="row">
                                1y Target Est:
                            </th>
                            <td>
                                <span id="summary1y"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="table2">
                    <tbody>
                        <tr>
                            <th width="48%" scope="row">
                                Day's Range:
                            </th>
                            <td>
                                <span><span id="summaryDayLow"></span></span>- <span><span id="summaryDayHigh"></span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th width="48%" scope="row">
                                52wk-Range:
                            </th>
                            <td>
                                <span id="summaryYearLow"></span>- <span id="summaryYearHight"></span>
                            </td>
                        </tr>
                        <tr>
                            <th width="48%" scope="row">
                                Volume:
                            </th>
                            <td>
                                <span id="summaryVolume"></span>
                            </td>
                        </tr>
                        <tr>
                            <th width="48%" scope="row">
                                Avg Vol
                            </th>
                            <td>
                                <span id="summaryAvgVol"></span>
                            </td>
                        </tr>
                        <tr>
                            <th width="48%" scope="row">
                                Market Cap:
                            </th>
                            <td>
                                <span id="summaryMarketCap"></span>
                            </td>
                        </tr>
                        <tr>
                            <th width="48%" scope="row">
                                P/E <span class="small">(ttm)</span>:
                            </th>
                            <td>
                                <span id="summaryPE"></span>
                            </td>
                        </tr>
                        <tr>
                            <th width="48%" scope="row">
                                EPS <span class="small">(ttm)</span>:
                            </th>
                            <td>
                                <span id="summaryEPS"></span>
                            </td>
                        </tr>
                        <tr class="end">
                            <th width="48%" scope="row">
                                Div &amp; Yield:
                            </th>
                            <td>
                                <span id="summaryDivYield"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="stockHistoryCallout">
        </div>
    </div>
    <div id="dateRangeContainer" class="ui-helper-clearfix">
        <div id="stockFullHistory">
        </div>
        <div id="dateRange">
        </div>
    </div>
    <div id="addStockContainer">
        <div id="addStockInner">
            <input id="autocomplete" />
            <button id="addStock">
                <span>Add Stock</span></button>
            <table id="stockList">
            </table>
        </div>
    </div>
    <script src="../Scripts/StockApp.js" type="text/javascript"></script>
    <script type="text/javascript">       

        $(document).ready(function () {
            stockApp.init();
        });

    </script>
</asp:Content>
