﻿@model InputModel

@{
    ViewBag.Title = "Input入門";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/images/c1logo.png")" alt="Component One ASP.NET MVC" />
        <h1>
            Input入門
        </h1>
        <p>
            このページでは、Inputコントロールの使用を開始する方法を説明します。
        </p>
    </div>
</div>

<div class="container">
    <div class="sample-page download-link">
        <a href="https://www.grapecity.co.jp/developer/download#net">トライアル版</a>
    </div>
    <!-- はじめに -->
    <div>
        <h2>はじめに</h2>
        <p>
            ASP.NET MVCアプリケーションでInputコントロールの使用を開始する際の手順。
        </p>
        <ol>
            <li>ComponentOne ASP.NET Core MVC Webアプリケーションテンプレートを使用して、新しいASP.NET Core MVCプロジェクトを作成します。</li>
            <li>プロジェクトに、コントローラおよび対応するビューを追加します。</li>
            <li>&lt;c1-input-number&gt;&lt;/c1-input-number&gt;、&lt;c1-auto-complete&gt;&lt;/c1-auto-complete&gt;、&lt;c1-input-date&gt;&lt;/c1-input-date&gt;、&lt;c1-input-time&gt;&lt;/c1-input-time&gt;、&lt;c1-combo-box&gt;&lt;/c1-combo-box&gt;などのタグを使用して、ビューのInputコントロールを初期化します。 </li>
            <li>（オプション）CSSを追加して、inputコントロールの外観をカスタマイズします。</li>
        </ol>
        
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#gsHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#gsCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="gsHtml">

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;!-- this is the input number --&gt;
    &lt;c1-input-number value="3.5"
        step=".5"
        format="n"&gt;
    &lt;/c1-input-number&gt;
&lt;/body&gt;
&lt;/html&gt;

                        </div>
                        
                        <div class="tab-pane pane-content" id="gsCS">

using Microsoft.AspNetCore.Mvc;
using Input101.Models;

namespace Input101.Controllers
{
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            return View(new InputModel());
        }
    }
}
                            

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>                
                <c1-input-number 
                                 value="3.5" 
                                 step=".5" 
                                 format="n">
                </c1-input-number>
            </div>
        </div>
    </div>

    <!-- AutoComplete -->
    <div>
        <h2>AutoComplete</h2>
        <p>
            AutoCompleteコントロールはオートコンプリートコントロールです。キー入力時に項目リストをフィルタ処理し、ドロップダウンリストから値を直接選択することができます。
        </p>
        <p>
            AutoCompleteコントロールを使用するには、項目リストを作成するために、少なくとも<b>&lt;c1-items-source&gt;&lt;/c1-items-source&gt;</b>タグを使用して<b>source-collection</b>プロパティをデータの配列に設定する必要があります。AutoCompleteコントロールには、動作を変更するためのプロパティも複数用意されています。たとえば、<b>css-match</b>プロパティです。 <b>css-match</b>プロパティを使用して、検索語に一致するコンテンツ部分の強調表示に使用されるCSSクラスを指定できます。
        </p>
        <p>
            次の例では、文字列のリストを使用することにより、<b>c1-item-source</b>タグを使ってAutoCompleteコントロールの項目リストを作成します。候補のリストを表示するには、次のAutoCompleteコントロールに<b>「ab」</b>や<b>「za」</b>とキー入力してください。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#acHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#acCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                        <li><a href="#acCss" role="tab" data-toggle="tab">CSS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="acHtml">

&lt;div&gt;
&lt;label&gt;Bindのみ&lt;/label&gt;
&lt;c1-auto-complete>
    &lt;c1-items-source source-collection="@@Model.CountryList"&gt;&lt;/c1-items-source&gt;
&lt;/c1-auto-complete&gt;
&lt;/div&gt;
&lt;div&gt;
&lt;label&gt;Bind &amp;amp; CssMatch&lt;/label&gt;
&lt;c1-auto-complete css-match="highlight"&gt;
    &lt;c1-items-source source-collection="@@Model.CountryList"&gt;&lt;/c1-items-source&gt;
&lt;/c1-auto-complete&gt;
&lt;/div&gt;
                        
                        </div>
<div class="tab-pane pane-content" id="acCS">

using Microsoft.AspNetCore.Mvc;
using Input101.Models;

namespace Input101.Controllers
{
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            return View(new InputModel());
        }
    }
}

</div>
                        <div class="tab-pane pane-content" id="acCss">
.highlight {
    background-color: #ff0;
    color: #000;
}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>Bindのみ</label>                    
                    <c1-auto-complete>
                        <c1-items-source source-collection="@Model.CountryList"></c1-items-source>
                    </c1-auto-complete>
                </div>
                <div class="app-input-group">
                    <label>BindとcssMatch</label>                    
                    <c1-auto-complete css-match="highlight">
                        <c1-items-source source-collection="@Model.CountryList"></c1-items-source>
                    </c1-auto-complete>
                </div>
            </div>
        </div>
    </div>

    
    <!-- ComboBox -->
    <div>
        <h2>ComboBox</h2>
        <p>
            ComboBoxコントロールはAutoCompleteコントロールによく似ていますが、キー入力時に候補のリストを表示するのではなく、キー入力に伴って自動的にエントリを補完し、選択します。
        </p>
        <p>
            AutoCompleteコントロールと同様に、項目リストを作成するためには、少なくとも<b>&lt;c1-items-source&gt;&lt;/c1-items-source&gt;</b>タグを使用して<b>source-collection</b>プロパティをデータの配列に設定する必要があります。 また、ComboBoxを編集可能にするかどうかを<b>is-editable</b>プロパティによって指定できます。 <b>is-editable</b>プロパティは、ComboBoxの項目リストにない値をユーザーが入力できるかどうかを決定します。
        </p>
        <p>
            次の例では、上記のAutoCompleteコントロールと同じデータソースに連結された２つのComboBoxを使用します。 最初のComboBoxの<b>is-editable</b>プロパティをfalseに、２つ目のComboBoxの<b>is-editable</b>をtrueに設定します。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#cbHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#cbCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="cbHtml">
                            
&lt;div&gt;
&lt;label&gt;編集不可&lt;/label&gt;
&lt;c1-combo-box is-editable="false"&gt;
    &lt;c1-items-source source-collection="@@Model.CountryList"&gt;&lt;/c1-items-source&gt;
&lt;/c1-combo-box&gt;
&lt;/div&gt;
&lt;div&gt;
&lt;label&gt;Editable&lt;/label&gt;
&lt;c1-combo-box is-editable="true"&gt;
    &lt;c1-items-source source-collection="@@Model.CountryList"&gt;&lt;/c1-items-source&gt;
&lt;/c1-combo-box&gt;
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="cbCS">

using Microsoft.AspNetCore.Mvc;
using Input101.Models;

namespace Input101.Controllers
{
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            return View(new InputModel());
        }
    }
}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>編集不可</label>                    
                    <c1-combo-box is-editable="false">
                        <c1-items-source source-collection="@Model.CountryList"></c1-items-source>
                    </c1-combo-box>
                </div>
                <div class="app-input-group">
                    <label>編集可</label>                    
                    <c1-combo-box is-editable="true">
                        <c1-items-source source-collection="@Model.CountryList"></c1-items-source>
                    </c1-combo-box>
                </div>
            </div>
        </div>
    </div>



    <!-- InputDate and Calendar -->
    <div>
        <h2>InputDateとCalendar</h2>
        <p>
            InputDateコントロールを使用すると、ドロップダウンカレンダーを介して日付を編集および選択でき、不正な値の入力を防止できます。 InputDateのドロップダウンカレンダーは個別のコントロールとして開発されたもので、InputDateコントロールから独立して使用できます。
        </p>
        <p>
            InputDateとCalendarは両方とも、複数のプロパティを指定してコントロールの動作を変更します。
            最もよく使用されるプロパティは次のとおりです。
        </p>
        <ul>
            <li>
                <b>value</b>: コントロールの日付値を指定します。
            </li>
            <li>
                <b>min</b>: コントロールに入力可能な最小の日付値を指定します。
            </li>
            <li>
                <b>max</b>: コントロールに入力可能な最大の日付値を指定します。
            </li>
        </ul>
        <p>
            次の例は、これらの各プロパティの使用方法を示します。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#idcHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#idcCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="idcHtml">

@@{
    var today = DateTime.Today.Date;
    var minDate = new DateTime(today.Year, 1, 1);
    var maxDate = new DateTime(today.Year, 12, 31);
}
&lt;div&gt;
&lt;label&gt;Bound InputDate with min &amp;amp; max&lt;/label&gt;
    &lt;c1-input-date id="idcInputDate" value="@@today" min="@@minDate" max="@@maxDate"&gt;
    &lt;/c1-input-date&gt;
&lt;/div&gt;
&lt;div&gt;
&lt;label&gt;Bound Calendar with min &amp;amp; max&lt;/label&gt;
    &lt;c1-calendar id="idcCalendar" value="@@today" min="@@minDate" max="@@maxDate" width="300"&gt;
    &lt;/c1-calendar&gt;
&lt;/div&gt;
&lt;p&gt;
&lt;b&gt;有効な範囲： &lt;span id="idcMinDate"&gt;@@minDate&lt;/span&gt; to &lt;span id="idcMaxDate"&gt;&lt;/span&gt;@@maxDate&lt;/b&gt;
&lt;/p&gt;

                        </div>
                        <div class="tab-pane pane-content" id="idcCS">

using Microsoft.AspNetCore.Mvc;
using Input101.Models;

namespace Input101.Controllers
{
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            return View();
        }
    }
}                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                @{
                    var today = DateTime.Today.Date;
                    var minDate = new DateTime(today.Year, 1, 1);
                    var maxDate = new DateTime(today.Year, 12, 31);
                    var minTime = new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 7, 0, 0);
                    var maxTime = new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 19, 0, 0);                    
                }
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>MinおよびMaxを連結したInputDate</label>
                    <c1-input-date id="idcInputDate" value="@today" min="@minDate" max="@maxDate">
                    </c1-input-date>
                </div>
                <div class="app-input-group">
                    <label>MinおよびMaxを連結したCalendar</label>
                    <c1-calendar id="idcCalendar" value="@today" min="@minDate" max="@maxDate" width="300">
                    </c1-calendar>
                </div>
                <p>
                    <b>有効な範囲： <span id="idcMinDate">@minDate</span>～<span id="idcMaxDate">@maxDate</span></b>
                </p>
            </div>
        </div>
    </div>


    <!-- InputDate、InputTime、InputDateTime -->
    <div>
        <h2>InputDate、InputTime、InputDateTime</h2>
        <p>
            InputDateコントロールと同様に、InputTimeコントロールを使用してJavaScriptの日付の時間部分を変更できます。 InputTimeコントロールは、<b>format</b>、<b>min</b>、<b>max</b>、<b>value</b>など、多くのプロパティをInputDateコントロールと共有しています。 InputTimeコントロールには、ドロップダウンリストのエントリ間の分数を指定できる<b>step</b>プロパティも用意されています。
        </p>
        <p>
            InputDateTimeコントロールはInputDateとInputTimeコントロールを組み合わせて、日付と時刻を設定できます。InputDateTimeコントロールは2つのドロップダウンを持ち、日付をカレンダーで、時刻をリストで選択します。
        </p>

        <p>
            次の例では、InputTimeコントロールとInputDateコントロールを組み合わせた使用方法を示します。 これらのコントロールは協調して機能することにより、同じJavaScriptのDateTimeオブジェクトを編集しますが、DateTimeのそれぞれの担当部分のみを更新することに注意してください。
        </p>
        <p>
            また、以下の例は、InputDateTimeコントロールが日付と時刻の両方を編集することを示します。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#iditHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#iditJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#iditCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="iditHtml">
@@{
    var today = DateTime.Today.Date;
    var minDate = new DateTime(today.Year, 1, 1);
    var maxDate = new DateTime(today.Year, 12, 31);
    var minTime = new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 7, 0, 0);
    var maxTime = new DateTime(DateTime.Today.Year, DateTime.Today.Month, DateTime.Today.Day, 19, 0, 0);
}
&lt;div&gt;
&lt;label&gt;Bound InputDate with min, max, &amp;amp; format&lt;/label&gt;
    &lt;c1-input-date id="iditInputDate" 
                   value="@@today" 
                   min="@@minTime"
                   max="@@maxDate" 
                   format="MMM dd, yyyy" 
                   value-changed="inputDate_ValueChanged"&gt;
    &lt;/c1-input-date&gt;
&lt;/div&gt;
&lt;div&gt;
&lt;label&gt;Bound InputTime with min, max, &amp;amp; step&lt;/label&gt;
    &lt;c1-input-time 
                   id="iditInputTime"
                   value="@@minTime"
                   min="@@minTime"
                   max="@@maxTime"
                   step="15"
                   value-changed="inputTime_ValueChanged"&gt;
    &lt;/c1-input-time&gt;
&lt;/div&gt;
&lt;div&gt;
&lt;label&gt;Bound InputDateTime with min, max, time-min, time-max, format, &amp;amp; time-step&lt;/label&gt;
    &lt;c1-input-date-time id="iditInputDateTime"
                        value="today"
                        min="minDate"
                        max="maxDate"
                        time-step="15"
                        format="MMM dd, yyyy hh:mm tt"
                        time-min="minTime"
                        time-max="maxTime"
                        value-changed="inputDateTime_ValueChanged"&gt;
    &lt;/c1-input-date-time&gt;
&lt;/div&gt;
&lt;p&gt;
&lt;b&gt;選択された日付と時刻： &lt;span id="iditSelectedValue"&gt;&lt;/span&gt;&lt;/b&gt;
&lt;/p&gt;
                        </div>
                        <div class="tab-pane pane-content" id="iditJs">
function inputTime_ValueChanged(sender) {
    var inputDateTime = wijmo.Control.getControl("#iditInputDateTime");
    inputDateTime.value = wijmo.DateTime.fromDateTime(inputDateTime.value, sender.value);
};

function inputDate_ValueChanged(sender) {
    var inputDateTime = wijmo.Control.getControl("#iditInputDateTime");
    inputDateTime.value = wijmo.DateTime.fromDateTime(sender.value, inputDateTime.value);
};

function inputDateTime_ValueChanged(sender) {
    var inputDate = wijmo.Control.getControl("#iditInputDate");
    var inputTime = wijmo.Control.getControl("#iditInputTime");
    inputDate.value = wijmo.DateTime.fromDateTime(sender.value, inputDate.value);
    inputTime.value = wijmo.DateTime.fromDateTime(inputTime.value, sender.value);
    document.getElementById('iditSelectedValue').innerHTML = wijmo.Globalize.format(sender.value, 'MMM dd, yyyy h:mm:ss tt');
};
                        </div>
                        <div class="tab-pane pane-content" id="iditCS">
using Microsoft.AspNetCore.Mvc;
using Input101.Models;

namespace Input101.Controllers
{
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            return View();
        }
    }
}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>min, max,およびformatを連結したInputDate</label>
                    <c1-input-date id="iditInputDate" 
                                   value="@today" 
                                   min="@minDate" 
                                   max="@maxDate" 
                                   format="MMM dd, yyyy" 
                                   value-changed="inputDate_ValueChanged">
                    </c1-input-date>
                </div>
                <div class="app-input-group">
                    <label>min, max,およびstepを連結したInputTime</label>
                    <c1-input-time id="iditInputTime"
                                   value="@minTime"
                                   min="@minTime"
                                   max="@maxTime"
                                   step="15"
                                   value-changed="inputTime_ValueChanged">
                    </c1-input-time>
                </div>
                <div class="app-input-group">
                    <label>min, max, time-min, time-max, format,およびtime-stepを連結したInputDateTime</label>
                    <c1-input-date-time id="iditInputDateTime"
                                        value="today"
                                        min="minDate"
                                        max="maxDate"
                                        time-step="15"
                                        format="MMM dd, yyyy hh:mm tt"
                                        time-min="minTime"
                                        time-max="maxTime"
                                        value-changed="inputDateTime_ValueChanged">
                    </c1-input-date-time>
                </div>
                <p>
                    <b>選択された日付と時刻： <span id="iditSelectedValue"></span></b>
                </p>
            </div>
        </div>
    </div>




    <!-- ListBox -->
    <div>
        <h2>ListBox</h2>
        <p>
            ListBoxコントロールには項目のリストが表示され、マウスとキーボードを使って項目を選択できます。 ListBoxコントロールを使用するためには、AutoCompleteコントロールやComboBoxコントロールと同様に、<b>&lt;c1-items-source&gt;&lt;/c1-items-source&gt;</b>タグを使用して<b>source-collection</b>プロパティを連結する必要があります。
</p>
        <p>
            次の例では、ListBoxコントロール内の項目を選択でき、コントロールの<b>selected-index</b>プロパティと<b>selected-value</b>プロパティも表示できます。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#lbHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#lbJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#lbCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="lbHtml">
&lt;div&gt;
&lt;c1-list-box id="lbListBox"
    style="width:250px;height:150px"
    selected-index-changed="selectedIndexChanged"&gt;
    &lt;c1-items-source source-collection="@@Model.CitiesList"&gt;&lt;/c1-items-source&gt;
&lt;/c1-list-box&gt;
&lt;/div&gt;
&lt;p&gt;
&lt;b&gt;選択されたインデックス： &lt;span id="lbSelIdx"&gt;&lt;/span&gt;&lt;/b&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;b&gt;選択された値： &lt;span id="lbSelVal"&gt;&lt;/span&gt;&lt;/b&gt;
&lt;/p&gt;
                        </div>
                        <div class="tab-pane pane-content" id="lbJs">
$(document).ready(function () {
    var ListBox = wijmo.Control.getControl("#lbListBox");
    selectedIndexChanged(ListBox);
});

//selectedIndexChanged event handler
function selectedIndexChanged(sender) {
    //set selectedIndex and selectedValue text
    if (document.getElementById("lbListBox") && document.getElementById("lbSelIdx")
        && document.getElementById("lbSelVal")) {
        document.getElementById('lbSelIdx').innerHTML = sender.selectedIndex;
        document.getElementById('lbSelVal').innerHTML = sender.selectedValue;
    }
};
                        </div>
                        <div class="tab-pane pane-content" id="lbCS">

using Microsoft.AspNetCore.Mvc;
using Input101.Models;

namespace Input101.Controllers
{
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            return View(new InputModel());
        }
    }
}

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <c1-list-box id="lbListBox"
                                 style="width:250px;height:150px"
                                 selected-index-changed="selectedIndexChanged">
                        <c1-items-source source-collection="@Model.CitiesList"></c1-items-source>
                    </c1-list-box>
                </div>
                <p>
                    <b>選択されたインデックス： <span id="lbSelIdx"></span></b>
                </p>
                <p>
                    <b>選択された値： <span id="lbSelVal"></span></b>
                </p>                
            </div>
        </div>
    </div>




    <!-- InputNumber -->
    <div>
        <h2>InputNumber</h2>
        <p>
            InputNumberコントロールを使用して数字を編集できます。その際、無効なデータの入力を防止でき、また、オプションで入力と同時に数値の書式を設定できます。InputNumberはプロパティを何も指定しなくても使用できますが、通常は、<b>value</b>プロパティを使ってデータに連結します。
        </p>
        <p>
            <b>value</b>プロパティに加えて、InputNumberコントロールはいくつかのプロパティを備えており、動作を変更するために使用できます。たとえば、次のとおりです。
        </p>
        <ul>
            <li>
                <b>min</b>: 入力可能な最小数値を指定します。
            </li>
            <li>
                <b>max</b>: 入力可能な最大数値を指定します。
            </li>
            <li>
                <b>step</b>: スピナーボタンがクリックされたときに現在の値に加算または減算する量を指定します。
            </li>
            <li>
                <b>format</b>: 編集中の数値を表示するために使用される数値書式を指定します。formatプロパティには、.NET形式の<a href="http://msdn.microsoft.com/ja-jp/library/dwhawy9k(v=vs.110).aspx" target="_blank">数値書式文字列</a>を使用します。
            </li>
        </ul>
        <p>
            次の例は、これらすべてのプロパティの使用方法を示します。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#inHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#inCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="inHtml">

&lt;div class="app-input-group"&gt;
    &lt;label&gt;「n0」形式での非連結&lt;/label&gt;
    &lt;c1-input-number 
                        id="inInputNumber1"
                        value="0"
                        format="n0"&gt;
    &lt;/c1-input-number&gt;
&lt;/div&gt;
&lt;div class="app-input-group"&gt;
    &lt;label&gt;「n」形式での連結&lt;/label&gt;
    &lt;c1-input-number id="inInputNumber2"
                        value="@@Math.PI"
                        format="n"&gt;
    &lt;/c1-input-number&gt;
&lt;/div&gt;
&lt;div class="app-input-group"&gt;
    &lt;label&gt;min (0)、max (10)、step、および「c2」形式での連結&lt;/label&gt;
    &lt;c1-input-number id="inInputNumber3"
                        value="3.5"
                        format="c2"
                        step=".5"
                        min="0"
                        max="10"&gt;
    &lt;/c1-input-number&gt;
&lt;/div&gt;
&lt;div class="app-input-group"&gt;
    &lt;label&gt;プレースホルダでの非連結、is-requiredは"false"&lt;/label&gt;
    &lt;c1-input-number id="inInputNumber4"
                        placeholder="数値を入力"
                        is-required="false"
                        value="null"&gt;
    &lt;/c1-input-number&gt;
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="inCS">
using Microsoft.AspNetCore.Mvc;
using Input101.Models;

namespace Input101.Controllers
{
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            return View();
        }
    }
}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>「n0」形式での非連結</label>
                    <c1-input-number id="inInputNumber1"
                                     value="0"
                                     format="n0">
                    </c1-input-number>
                </div>
                <div class="app-input-group">
                    <label>「n」形式での連結</label>
                    <c1-input-number id="inInputNumber2"
                                     value="@Math.PI"
                                     format="n">
                    </c1-input-number>
                </div>
                <div class="app-input-group">
                    <label>min (0)、max (10)、step、および「c2」形式での連結</label>
                    <c1-input-number id="inInputNumber3"
                                     value="3.5"
                                     format="c2"
                                     step=".5"
                                     min="0"
                                     max="10">
                    </c1-input-number>
                </div>
                <div class="app-input-group">
                    <label>プレースホルダでの非連結、is-requiredは"false"</label>
                    <c1-input-number id="inInputNumber4"
                                     placeholder="数値を入力"
                                     is-required="false"
                                     value="null">
                    </c1-input-number>
                </div>
            </div>
        </div>
    </div>





    <!-- InputMask -->
    <div>
        <h2>InputMask</h2>
        <p>
            InputMaskコントロールを使用すると、キー入力と同時にユーザー入力を検証および書式設定でき、不正なデータを防止できます。  InputMaskコントロールはプロパティを何も指定しなくても使用できますが、通常は<b>value</b>プロパティと<b>mask</b>プロパティを設定します。他のMVC入力コントロールと同様に、<b>value</b>プロパティはInputMaskコントロールの値を指定します。  <b>mask</b>プロパティはコントロールのマスクを指定し、以下の文字の組み合わせをサポートします。
        </p>
        <dl class="dl-horizontal">
            <dt>0</dt>
            <dd>数字。</dd>
            <dt>9</dt>
            <dd>数字またはスペース。</dd>
            <dt>#</dt>
            <dd>数字、符号、またはスペース。</dd>
            <dt>L</dt>
            <dd>英字。</dd>
            <dt>l</dt>
            <dd>英字またはスペース。</dd>
            <dt>A</dt>
            <dd>英数字。</dd>
            <dt>a</dt>
            <dd>英数字またはスペース。</dd>
            <dt>.</dt>
            <dd>ローカライズされた小数点。</dd>
            <dt>,</dt>
            <dd>ローカライズされた桁区切り。</dd>
            <dt>:</dt>
            <dd>ローカライズされた時刻区切り。</dd>
            <dt>/</dt>
            <dd>ローカライズされた日付の区切り文字。</dd>
            <dt>$</dt>
            <dd>ローカライズされた通貨記号。</dd>
            <dt>&lt;</dt>
            <dd>後続の文字を小文字に変換します。</dd>
            <dt>&gt;</dt>
            <dd>後続の文字を大文字に変換します。</dd>
            <dt>|</dt>
            <dd>大文字小文字の変換を無効にします。</dd>
            <dt>\</dt>
            <dd>任意の文字をエスケープしてリテラルに変えます。</dd>
            <dd>DBCS数字。</dd>
            <dt>Ｊ</dt>
            <dd>DBCSひらがな。</dd>
            <dt>Ｇ</dt>
            <dd>DBCS大文字ひらがな。</dd>
            <dt>Ｋ</dt>
            <dd>DBCSカタカナ。</dd>
            <dt>Ｎ</dt>
            <dd>DBCS大文字カタカナ。</dd>
            <dt>K</dt>
            <dd>SBCSカタカナ。</dd>
            <dt>N</dt>
            <dd>SBCS大文字カタカナ。</dd>
            <dt>Ｚ</dt>
            <dd>任意のDBCS文字。</dd>
            <dt>H</dt>
            <dd>任意のSBCS文字。</dd>
            <dt>その他すべて</dt>
            <dd>リテラル。</dd>
        </dl>
        <p>
            次の例は、InputMaskコントロール、InputDateコントロール、およびInputTimeコントロールで<b>value</b>プロパティと<b>mask</b>プロパティを使用する方法を示します。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#imHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#imJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#imCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="imHtml">
&lt;div class="app-input-group"&gt;
    &lt;label&gt;社会保障番号&lt;/label&gt;
    &lt;c1-input-mask
                id="imSocial"
                mask="000-00-0000"&gt;
    &lt;/c1-input-mask&gt;
&lt;/div&gt;
&lt;div class="app-input-group"&gt;
&lt;label&gt;電話番号&lt;/label&gt;
&lt;c1-input-mask id="imPhone"
                mask="(999) 000-0000"&gt;
&lt;/c1-input-mask&gt;
&lt;/div&gt;
&lt;div class="app-input-group"&gt;
&lt;label&gt;試してみる&lt;/label&gt;
&lt;c1-input-mask id="imCustomInput"
                placeholder="マスク文字を入力"
                value-changed="MaskvalueChanged"&gt;
&lt;/c1-input-mask&gt;
&lt;c1-input-mask id="imCustomTrial"
                placeholder="マスクの動作を試す"&gt;
&lt;/c1-input-mask&gt;
&lt;/div&gt;
&lt;div class="app-input-group"&gt;
&lt;label&gt;Maskを設定したInputDate&lt;/label&gt;
&lt;c1-input-date
                value="@@DateTime.Now"
                format="d"
                mask="99/99/9999"&gt;
&lt;/c1-input-date&gt;
&lt;/div&gt;
&lt;div class="app-input-group"&gt;
&lt;label&gt;Maskを設定したInputTime&lt;/label&gt;
&lt;c1-input-time value="@@DateTime.Now"
                format="t"
                mask="00:00 &gt;LL"
                step="15"&gt;
&lt;/c1-input-time&gt;
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="imJs">
// InputMask valueChanged event handler
function MaskvalueChanged(sender) {
    var customMaskTrial = wijmo.Control.getControl("#imCustomTrial");
    customMaskTrial.mask = sender.value;
    customMaskTrial.hostElement.title = 'Mask: ' + (sender.value || 'N/A');
};
                        </div>
                        <div class="tab-pane pane-content" id="imCS">
using Microsoft.AspNetCore.Mvc;
using Input101.Models;

namespace Input101.Controllers
{
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            return View();
        }
    }
}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>社会保障番号</label>
                    <c1-input-mask id="imSocial"
                                   mask="000-00-0000">
                    </c1-input-mask>
                </div>
                <div class="app-input-group">
                    <label>電話番号</label>
                    <c1-input-mask id="imPhone"
                                   mask="(999) 000-0000">
                    </c1-input-mask>
                </div>
                <div class="app-input-group">
                    <label>試してみる</label>
                    <c1-input-mask id="imCustomInput"
                                   placeholder="マスク文字を入力"
                                   value-changed="MaskvalueChanged">
                    </c1-input-mask>
                    <c1-input-mask id="imCustomTrial"
                                   placeholder="マスクの動作を試す">
                    </c1-input-mask>
                </div>
                <div class="app-input-group">
                    <label>Maskを設定したInputDate</label>
                    <c1-input-date value="@DateTime.Now"
                                   format="d"
                                   mask="99/99/9999">
                    </c1-input-date>
                </div>
                <div class="app-input-group">
                    <label>Maskを設定したInputTime</label>
                    <c1-input-time value="@DateTime.Now"
                                   format="t"
                                   mask="00:00 >LL"
                                   step="15">
                    </c1-input-time>
                </div>
            </div>
        </div>
    </div>


    <!-- Menu -->
    <div>
        <h2>Menu</h2>
        <p>
            Menuコントロールを使用して、クリック可能な項目を含む単純なドロップダウンリストを作成できます。 Menuの項目は、直接定義するか、ComboBoxと同様に<b>&lt;c1-items-source&gt;&lt;/c1-items-source&gt;</b>タグを使用して定義します。
            Menuに表示されるテキストを指定するには、<b>header</b>プロパティを設定します。
        </p>
        <p>
            Menuコントロールには、ユーザーの選択内容を処理するための方法が２つ用意されています。各メニュー項目のコマンドを指定する方法と、<b>item-clicked</b>イベントです。 <b>item-clicked</b>イベントとは異なり、コマンドは２つのメソッドを実装するオブジェクトです。
        </p>
        <ul>
            <li>
                <b>executeCommand(param)</b>: コマンドを実行するメソッド。
            </li>
            <li>
                <b>canExecuteCommand(param)</b>: コマンドが実行できるかどうかを指定するBoolean値を返すメソッド。 戻り値がfalseの場合、メニュー項目は自動的に無効になります。
            </li>
        </ul>
        <p>
            次の例は、両方のアプローチの使用方法を示します。
        </p>
        <div class="row">
            <div class="col-md-7">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#mHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#mJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#mCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="mHtml">
&lt;div class="app-input-group"&gt;
    &lt;label&gt;ItemClickedイベント&lt;/label&gt;
    &lt;c1-menu id="mFileMenu"
                header="File"
                item-clicked="itemClicked"&gt;
        &lt;c1-menu-item header="New: create a new document"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="Open: load an existing document from a file"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="Save: save the current document to a file"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item is-separator="true"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="Exit: save changes and exit the application"&gt;&lt;/c1-menu-item&gt;
    &lt;/c1-menu&gt;
    &lt;c1-menu id="mEditMenu"
                header="Edit"
                item-clicked="itemClicked"&gt;
        &lt;c1-menu-item header="Cut: move the current selection to the clipboard"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="Copy: copy the current selection to the clipboard"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="Paste: insert the clipboard content at the cursor position"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item is-separator="true"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="Find: search the current document for some text"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="Exit: save changes and exit the application"&gt;&lt;/c1-menu-item&gt;
    &lt;/c1-menu&gt;
&lt;/div&gt;
&lt;div class="app-input-group"&gt;
    &lt;label&gt;Commands&lt;/label&gt;
    &lt;c1-menu id="mCmdMenu"
                header="Change Tax"
                can-execute-command="canExecute"
                execute-command="execute"&gt;
        &lt;c1-menu-item header="+ 25%" command-parameter="0.25"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="+ 10%" command-parameter="0.10"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="+ 5%" command-parameter="0.05"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="+ 1%" command-parameter="0.01"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item is-separator="true"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="- 1%" command-parameter="-0.01"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="- 5%" command-parameter="-0.05"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="- 10%" command-parameter="-0.10"&gt;&lt;/c1-menu-item&gt;
        &lt;c1-menu-item header="- 25%" command-parameter="-0.25"&gt;&lt;/c1-menu-item&gt;
    &lt;/c1-menu&gt;
    &lt;c1-input-number id="mInputNumber"
                        value="0.07"
                        step="0.05"
                        format="p0"
                        min="0"
                        max="1"&gt;
    &lt;/c1-input-number&gt;
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="mJs">
function itemClicked(sender) {
    alert('You\'ve selected option ' + sender.selectedIndex + ' from the ' + sender.header + ' menu!');
};

function execute(arg) {
    var inputNumber = wijmo.Control.getControl("#mInputNumber");

    // convert argument to Number
    arg = wijmo.changeType(arg, wijmo.DataType.Number);

    // check if the conversion was successful
    if (wijmo.isNumber(arg)) {

        // update the value
        inputNumber.value += arg;
    }
};

function canExecute(arg) {
    var inputNumber = wijmo.Control.getControl("#mInputNumber");

    // convert argument to Number
    arg = wijmo.changeType(arg, wijmo.DataType.Number);

    // check if the conversion was successful
    if (wijmo.isNumber(arg)) {
        var val = inputNumber.value + arg;

    // check if the value is valid
    return val &gt;= 0 && val &lt;= 1;
};

return false;
};
                        </div>
                        <div class="tab-pane pane-content" id="mCS">
using Microsoft.AspNetCore.Mvc;
using Input101.Models;

namespace Input101.Controllers
{
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            return View();
        }
    }
}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h4>結果（ライブ）:</h4>
                <div class="app-input-group">
                    <label>ItemClickedイベント</label>
                    <c1-menu id="mFileMenu"
                             header="File"
                             item-clicked="itemClicked">
                        <c1-menu-item header="New: create a new document"></c1-menu-item>
                        <c1-menu-item header="Open: load an existing document from a file"></c1-menu-item>
                        <c1-menu-item header="Save: save the current document to a file"></c1-menu-item>
                        <c1-menu-item is-separator="true"></c1-menu-item>
                        <c1-menu-item header="Exit: save changes and exit the application"></c1-menu-item>
                    </c1-menu>
                    <c1-menu id="mEditMenu"
                             header="Edit"
                             item-clicked="itemClicked">
                        <c1-menu-item header="Cut: move the current selection to the clipboard"></c1-menu-item>
                        <c1-menu-item header="Copy: copy the current selection to the clipboard"></c1-menu-item>
                        <c1-menu-item header="Paste: insert the clipboard content at the cursor position"></c1-menu-item>
                        <c1-menu-item is-separator="true"></c1-menu-item>
                        <c1-menu-item header="Find: search the current document for some text"></c1-menu-item>
                        <c1-menu-item header="Exit: save changes and exit the application"></c1-menu-item>
                    </c1-menu>
                </div>
                <div class="app-input-group">
                    <label>コマンド</label>
                    <c1-menu id="mCmdMenu"
                             header="Change Tax"
                             can-execute-command="canExecute"
                             execute-command="execute">
                        <c1-menu-item header="+ 25%" command-parameter="0.25"></c1-menu-item>
                        <c1-menu-item header="+ 10%" command-parameter="0.10"></c1-menu-item>
                        <c1-menu-item header="+ 5%" command-parameter="0.05"></c1-menu-item>
                        <c1-menu-item header="+ 1%" command-parameter="0.01"></c1-menu-item>
                        <c1-menu-item is-separator="true"></c1-menu-item>
                        <c1-menu-item header="- 1%" command-parameter="-0.01"></c1-menu-item>
                        <c1-menu-item header="- 5%" command-parameter="-0.05"></c1-menu-item>
                        <c1-menu-item header="- 10%" command-parameter="-0.10"></c1-menu-item>
                        <c1-menu-item header="- 25%" command-parameter="-0.25"></c1-menu-item>
                    </c1-menu>
                    <c1-input-number id="mInputNumber"
                                     value="0.07"
                                     step="0.05"
                                     format="p0"
                                     min="0"
                                     max="1">
                    </c1-input-number>
                </div>
            </div>
        </div>
    </div>



</div>