﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Html.C1().Styles()

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Html.C1().Scripts().Basic(b => b.Input().Grid())
</head>
<body>
    <div class="header">
        <div class="container">
            <h1>
                <span class="glyphicon glyphicon-book"></span>
                フォーム送信
            </h1>
            <p>
                このページではフォームでFlexGridを送信する方法を示します。送信されたデータは保存されません。
            </p>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
