﻿@Code
    ViewData("Title") = "バージョン情報"
End Code

<hgroup class="title">
    <h1>@ViewData("Title").</h1>
    <h2>@ViewData("Message")</h2>
</hgroup>

<article>
    <p>
        この領域を使用して追加の情報を提供します。
    </p>

    <p>
        この領域を使用して追加の情報を提供します。
    </p>

    <p>
        この領域を使用して追加の情報を提供します。
    </p>
</article>

<aside>
    <h3>挿入タイトル</h3>
    <p>
        この領域を使用して追加の情報を提供します。
    </p>
    <ul>
        <li>@Html.ActionLink("ホーム", "Index", "Home")</li>
        <li>@Html.ActionLink("バージョン情報", "About", "Home")</li>
        <li>@Html.ActionLink("連絡先", "Contact", "Home")</li>
    </ul>
</aside>