@font-face
{
    font-family: 'Museo900';
    src: url('images/museo/wijmo_900-webfont.eot');
    src: url('images/museo/wijmo_900-webfont.eot?#iefix') format('eot'), url('images/museo/wijmo_900-webfont.woff') format('woff'), url('images/museo/wijmo_900-webfont.ttf') format('truetype'), url('images/museo/wijmo_900-webfont.svg#webfontddPJWh5k') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Museo700Italic';
    src: url('images/museo/wijmo_700italic-webfont.eot');
    src: url('images/museo/wijmo_700italic-webfont.eot?#iefix') format('eot'), url('images/museo/wijmo_700italic-webfont.woff') format('woff'), url('images/museo/wijmo_700italic-webfont.ttf') format('truetype'), url('images/museo/wijmo_700italic-webfont.svg#webfontddPJWh5k') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Museo300';
    src: url('images/museo/wijmo_300-webfont.eot');
    src: url('images/museo/wijmo_300-webfont.eot?#iefix') format('eot'), url('images/museo/wijmo_300-webfont.woff') format('woff'), url('images/museo/wijmo_300-webfont.ttf') format('truetype'), url('images/museo/wijmo_300-webfont.svg#webfontddPJWh5k') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gcicons';
    src: url("./fonts/gcicons.ttf");
    font-weight: normal;
    font-style: normal;
}

[class^="gcicon-"],
[class*=" gcicon-"] {
    font-family: 'gcicons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.logo-container .gcicon-product-c1:before{
    content: "\e962";
}

.logo-container {
    display: inline-block;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 26px;
    color: rgb(61, 61, 61) !important;
}
    .logo-container .gcicon-product-c1{
        font-size: 46px;
        margin-right: 4px;
        vertical-align: middle;
        display: inline-block;
        color: rgb(158, 33, 50);
    }
    .logo-container a {
        text-decoration:none;
    }

.ui-helper-clearfix:before, .ui-helper-clearfix:after
{
    content: "";
    display: table;
}
.ui-helper-clearfix:after
{
    clear: both;
}
.ui-helper-clearfix
{
    zoom: 1;
}
*
{
    padding: 0;
    margin: 0;
}
html, body
{
    background: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
article, aside, section, header, footer
{
    display: block;
}
header
{
    margin-bottom: 1em;
    padding: 1em 0 0;
}
footer .gcicon-logo-gc-horiz{
    font-size: 44px;
}
    footer .gcicon-logo-gc-horiz:before {
        content: "\e900";
        color: #451a62;
    }
    footer span
{
    display:block;
    color: #666666;
    font-size: 11pt;
}

footer .padder *
{
    padding: 0.1em 0;
}

a
{
    text-decoration: none;
}
img
{
    outline: none;
    border: none;
}
.button
{
    background: rgb(0,164,219); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,164,219,1)), color-stop(100%, rgba(1,144,191,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(0,164,219,1) 0%, rgba(1,144,191,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a4db', endColorstr='#0190bf', GradientType=0 ); /* IE6-9 */
    border: solid 1px #00749b;
    display: inline-block;
    border-bottom-width: 3px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #e8eaed;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    padding: 0.4em 1em 0.2em;
    cursor: pointer;
    font-size: 1em;
}

.button:hover
{
    background: rgb(2,148,197); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(2,148,197,1)), color-stop(100%, rgba(1,128,169,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(2,148,197,1) 0%, rgba(1,128,169,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0294c5', endColorstr='#0180a9', GradientType=0 ); /* IE6-9 */
}
.disabled, .disabled:hover
{
    background: #666;
    opacity: 0.25;
    border-color: #555;
    cursor: default;
}
.menu-container a.button-icon
{
    padding: 0.4em 0.6em;
    margin-top: 2px;
}
.button-icon img
{
    position: relative;
    top: 2px;
}
.button span
{
    float: right;
    margin-left: 6px;
    margin-top: 2px;
}
.button img
{
}
section
{
    margin-bottom: 2em;
}
article
{
    background: url(images/widget_bg.png) repeat-y top left;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    border: solid 1px #f1f1f1;
}
.nosidebar article
{
    background: #fff;
}
aside
{
    background: #fff;
    float: left;
    width: 245px;
}
aside p
{
    line-height: 1.5em;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    font-weight: normal;
}
aside h3, .page-title
{
    color: #000000;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-weight: normal;
    margin-bottom: 0.4em;
    font-size: 1.875em;
}
.main-content
{
    width: 853px;
    float: right;
}



.nosidebar .main-content
{
    width: 100%;
    float: none;
}
.nosidebar .main-content .padder
{
    padding: 0;
}
.widget-icons
{
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-top: 1.5em;
}
.favorite-widgets
{
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 0;
}
.widget-icons li
{
    list-style: none;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.widget-icons a
{
    color: #fff;
    color: #fff;
    background: #333;
    width: 107px;
    height: 107px;
    display: block;
    padding: 0.4em;
    font-size: 10px;
    font-family: Georgia, "Times New Roman" , Times, serif;
    -webkit-transition: all 0.222s ease-in-out;
    -moz-transition: all 0.222s ease-in-out;
    -o-transition: all 0.222s ease-in-out;
    -ms-transition: all 0.222s ease-in-out;
    transition: all 0.222s ease-in-out;
}
.widget-icons a:hover
{
    background: #008cba;
    -webkit-transition: all 0.222s ease-in-out;
    -moz-transition: all 0.222s ease-in-out;
    -o-transition: all 0.222s ease-in-out;
    -ms-transition: all 0.222s ease-in-out;
    transition: all 0.222s ease-in-out;
}
.widget-icons img
{
    padding: 1em 1em 0.4em;
    width: 64px;
    height: auto;
    margin: 0 1em;
}
.widget-icons-grid li
{
    margin-bottom: 1em;
    margin-right: 1em;
}
.widget-icons-grid img
{
    width: 48px;
    height: auto;
    margin: 0 1em;
}

.widget-icons-grid a
{
    height: 92px;
    width: 92px;
    font-size: 11px;
}
.wrapper
{
    width: 1100px;
    margin: 0 auto;
}
.branding
{
    margin-bottom: 2em;
}
#button-container
{
    float: right;
}
#button-container .downloadlink
{
    background: rgb(91,46,124); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(91,46,124,1) 0%, rgba(66,32,91,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(91,46,124,1)), color-stop(100%, rgba(66,32,91,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(91,46,124,1) 0%, rgba(66,32,91,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(91,46,124,1) 0%, rgba(66,32,91,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(91,46,124,1) 0%, rgba(66,32,91,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(91,46,124,1) 0%, rgba(66,32,91,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b2e7c', endColorstr='#42205b', GradientType=0 ); /* IE6-9 */
    color: #fff;
    border: solid 1px #270b32;
    width: 234px;
    height: 71px;
    display: block;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: center;
    border-bottom-width: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), inset 1px 1px 0 rgba(255,255,255,0.15);
}
#button-container .downloadlink:hover
{
    background: rgb(107,55,146); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(107,55,146,1) 0%, rgba(87,42,121,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(107,55,146,1)), color-stop(100%, rgba(87,42,121,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(107,55,146,1) 0%, rgba(87,42,121,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(107,55,146,1) 0%, rgba(87,42,121,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(107,55,146,1) 0%, rgba(87,42,121,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(107,55,146,1) 0%, rgba(87,42,121,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b3792', endColorstr='#572a79', GradientType=0 ); /* IE6-9 */
    text-decoration: none;
}
.download-get
{
    display: block;
    font-family: "Museo300" , Georgia, "Times New Roman" , Times, serif;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 43px;
    text-shadow: -1px -1px 1px #41265C;
    text-transform: uppercase;
    color: #fafafa;
}
.download-wijmo
{
    display: block;
    font-family: "Museo900" , Georgia, "Times New Roman" , Times, serif;
    font-size: 29px;
    letter-spacing: 3px;
    line-height: 16px;
    text-shadow: -1px -1px 1px #41265C;
    text-transform: uppercase;
    color: #fafafa;
}
.padder
{
    padding: 1em;
}
.menu-container .padder
{
    padding: 0.4em 0;
    height: 51px;
}
#themeswitcher
{
    width: 107px;
}
.menu-container .wijmo-wijdropdown
{
    float: right;
    margin-right: 0.4em;
    font-size: 1em;
    height: 43px;
    border-bottom-width: 3px;
    margin-top: 2px;
    border-color: #00749B;
    box-shadow: none;
    font-family: Georgia, "Times New Roman" , Times, serif;
}
.menu-container .wijmo-wijdropdown .ui-state-default, .menu-container .wijmo-wijdropdown
{
    background: #7b7b7b;
    border-color: #565555;
    box-shadow: none;
}
.menu-container .wijmo-wijdropdown .ui-state-hover, .menu-container .wijmo-wijdropdown .ui-state-focus, .menu-container .wijmo-wijdropdown .ui-state-active
{
    background: #8c8c8c;
    box-shadow: none;
}
.menu-container .wijmo-wijdropdown div.wijmo-dropdown-trigger
{
    border-left: dotted 1px #545353;
    padding: 0 6px 0 6px;
}
.menu-container .wijmo-wijdropdown .wijmo-dropdown-trigger .ui-icon
{
    background: transparent url(images/icons/16/arrow.png) no-repeat center center;
    margin-top: 14px;
    border: none;
}
.menu-container .wijmo-wijdropdown label.wijmo-dropdown-label
{
    line-height: 36px;
}
.menu-container .wijmo-wijdropdown label.wijmo-dropdown-label
{
    padding: 4px 26px 3px 12px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
.menu-container .wijmo-wijdropdown .wijmo-dropdown
{
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0 5px 20px rgba(0,0,0,0.50);
    margin-top: 3px;
}
.menu-container .wijmo-wijdropdown .wijmo-dropdown .wijmo-dropdown-list
{
    background: none;
}
.menu-container .wijmo-wijdropdown .wijmo-dropdown .wijmo-dropdown-item
{
    border-bottom: dotted 1px #333;
    border-radius: 0;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 0.85em;
    background: none;
    color: #333;
}
.menu-container .wijmo-wijdropdown .wijmo-dropdown .wijmo-dropdown-item:hover
{
    background: none;
    color: #008cba;
    padding-left: 0 !important;
    margin: 0 !important;
    text-shadow: none;
}
.ribbon
{
    background: #733b84;
    width: 853px;
    height: 65px;
    float: right;
    position: relative;
}
.ribbon-right
{
    background: transparent url(images/ribbon-right.png) no-repeat center center;
    position: absolute;
    right: -102px;
    width: 102px;
    height: 58px;
    top: 4px;
}
.ribbon h2
{
    font-family: "Museo900" , Georgia, "Times New Roman" , Times, serif;
    color: #d1c6d6;
    text-shadow: -1px -1px 0 #201f21;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
}
.menu-container
{
    background: #333;
    width: 247px;
    float: left;
    position: relative;
}
.menu-container a
{
    margin-top: 4px;
}
.menu-extender
{
    background: none repeat scroll 0 0 #333333;
    height: 65px;
    position: absolute;
    right: 245px;
    width: 1000%;
}
#colophon
{
    opacity: 0.50;
    margin-bottom: 1em;
}
#colophon p
{
    color: #6d6e71;
    width: 245px;
    float: left;
    font-size: 0.95em;
}
.social
{
    float: right;
}
.sample-title
{
    border-top: 5px solid #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.4em 0 0;
}
.sample-list li
{
    border-bottom: 1px dotted #CFCFCF;
    padding: 0.4em 0;
    list-style: none;
    width: 96%;
}
.sample-list a
{
    color: #029ED1;
}
.sample-list a:hover
{
    color: #007da6;
}
.widget-wrapper
{
	color:#333333;
    margin: 0 auto;
    font-size: 16px;
    min-height: 376px; /*height: 376px;*/
    font-weight: normal;
	font-family: Arial,Helvetica,sans-serif;
}
#ctl00_ctl00_MainContent_WidgetTabs_MainContent_Editor1
{
    font-size: 11px;
}

/* EXPLORE TABS START */
div.explore-tabs
{
    background: none;
    border: none;
    padding: 0;
    font-size: 0.75em;
}
div.explore-tabs ul.ui-explore-tabs-nav
{
    background: none;
    border: none;
    margin: 0 0 0.4em;
    padding: 0;
    text-align: right;
}
div.explore-tabs ul.ui-explore-tabs-nav .explore-tabs-li
{
    /*only take effect on the tabs'li*/
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    float: none;
    display: inline-block;
    text-align: left;
}

div.explore-tabs ul.ui-explore-tabs-nav .explore-tabs-li
{
    float: none;
}
div.explore-tabs ul.ui-explore-tabs-nav .explore-tabs-li a
{
    color: #333;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-weight: normal;
    text-shadow: none;
}
div.explore-tabs ul.ui-explore-tabs-nav .explore-tabs-li a:hover
{
    background: #029ED1;
    color: #fff;
}

div.explore-tabs ul.ui-explore-tabs-nav .ui-explore-tabs-selected a
{
    background: #333;
    color: #fff;
    cursor: default;
}
div.explore-tabs ul.ui-explore-tabs-nav .ui-explore-tabs-selected a:hover
{
    background: #333;
}
/* EXPLORE TABS END */

.widget-description p
{
    font-size: 16px;
}



#ctl00_ctl00_MainContent_WidgetTabs_ctl01 p, #ctl00_ctl00_MainContent_WidgetTabs_ctl01 ul
{
    margin-bottom: 1em;
    color: #404040;
    font-family: Georgia, "Times New Roman" , Times, serif;
}

#ctl00_ctl00_MainContent_WidgetTabs_ctl01 ul
{
    margin-left: 1em;
}

#ctl00_ctl00_MainContent_WidgetTabs_ctl02, #ctl00_ctl00_MainContent_WidgetTabs_ctl01, #ctl00_ctl00_MainContent_WidgetTabs_ctl00, #ui-tabs-2
{
    background: #fff;
    border: solid 1px #d7d7d7;
    border-bottom-width: 3px;
    padding: 1em;
    height: 480px;
    overflow-y: scroll;
}
#ctl00_ctl00_MainContent_WidgetTabs>div.ui-tabs-panel
{
    background: #fff;
    border: solid 1px #d7d7d7;
    border-bottom-width: 3px;
    padding: 1em;
    height: 480px;
    overflow-y: scroll;
    }

#ctl00_ctl00_MainContent_WidgetTabs_tabsCode, #ctl00_ctl00_MainContent_WidgetTabs_tabsCode_tabcs
{
    background: none;
    color: #404040;
    border: none;
}
#ctl00_ctl00_MainContent_WidgetTabs_tabsCode_tabaspx
{
    color: #404040;
}
#sample
{
    overflow: auto;
    height: 376px;
}
#info-tabs
{
    padding: 0;
    margin: 0;
    background: 0;
    border: none;
}
#info-tabs .ui-tabs-panel
{
    height: 326px;
    overflow: auto;
}
#info-tabs li.ui-state-default
{
    background: #ece8e8;
    margin-right: 0.4em;
}
#info-tabs div.ui-tabs-panel
{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
.main-sample-title
{
    display: inline-block;
    position: absolute;
    font-size: 1.5em;
    font-family: "Museo300" , Georgia, "Times New Roman" , Times, serif;
    color: #333;
}
.demo-config-on a
{
    color: #333;
}
.sample-list
{
    /*height: 415px;*/
    min-height: 415px;
    border: none;
    background: none;
    font-size: 1em;
}
.sample-list .wijmo-wijsuperpanel-vbar-buttontop, .sample-list .wijmo-wijsuperpanel-vbar-buttonbottom
{
    display: none;
}
.sample-list .wijmo-wijsuperpanel-vbarcontainer
{
    background: #dcdcdc;
    padding: 0;
    border-radius: 10px;
    width: 8px;
    margin-right: 3px;
}
.sample-list .wijmo-wijsuperpanel-handle
{
    background: #592d7a; /* Old browsers */
    background: -moz-linear-gradient(left, #592d7a 0%, #421e5c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #592d7a), color-stop(100%, #421e5c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #592d7a 0%, #421e5c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #592d7a 0%, #421e5c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #592d7a 0%, #421e5c 100%); /* IE10+ */
    background: linear-gradient(left, #592d7a 0%, #421e5c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#592d7a', endColorstr='#421e5c', GradientType=1 ); /* IE6-9 */
    left: -2px;
    border-radius: 24px;
    border: 0;
    box-shadow: none;
    width: 13px;
}
.sample-list .wijmo-wijsuperpanel-handle .ui-icon
{
    display: none;
}

aside .navigation
{
    height: 500px;
    background: none;
    border: none;
}


aside .navigation a
{
    color: #029ED1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

aside .navigation .demo-config-on a
{
    color: #333;
}

#ctl00_ctl00_MainContent_navigation .wijmo-wijsuperpanel-vbarcontainer .wijmo-wijsuperpanel-handle, .title-bar .wijmo-wijsuperpanel-vbarcontainer .wijmo-wijsuperpanel-handle
{
    background: rgb(91,46,124); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(91,46,124,1) 0%, rgba(66,32,91,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(91,46,124,1)), color-stop(100%, rgba(66,32,91,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(91,46,124,1) 0%, rgba(66,32,91,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(91,46,124,1) 0%, rgba(66,32,91,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(91,46,124,1) 0%, rgba(66,32,91,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(91,46,124,1) 0%, rgba(66,32,91,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b2e7c', endColorstr='#42205b', GradientType=0 ); /* IE6-9 */
    border: none;
    box-shadow: none;
    box-shadow: 0 3px 5px rgba(0,0,0,0.25);
    border-radius: 8px;
    left: -2px;
    width: 12px;
}

#ctl00_ctl00_MainContent_navigation .wijmo-wijsuperpanel-vbarcontainer .wijmo-wijsuperpanel-handle .ui-icon, #ctl00_ctl00_MainContent_navigation .wijmo-wijsuperpanel-vbarcontainer .ui-state-default, #ctl00_ctl00_MainContent_navigation .wijmo-wijsuperpanel-hbarcontainer .ui-state-default, .title-bar .wijmo-wijsuperpanel-hbarcontainer .ui-state-default, .title-bar .wijmo-wijsuperpanel-vbarcontainer .ui-state-default, .title-bar .wijmo-wijsuperpanel-vbarcontainer .wijmo-wijsuperpanel-handle .ui-icon
{
    display: none;
}
#ctl00_ctl00_MainContent_navigation .wijmo-wijsuperpanel-vbarcontainer, div.title-bar .wijmo-wijsuperpanel-vbarcontainer
{
}
div.title-bar .wijmo-dropdown .wijmo-dropdown-list li.wijmo-dropdown-item
{
    padding-left: 0 !important;
    margin: 0 !important;
    text-shadow: none;
}
#ctl00_ctl00_MainContent_navigation .wijmo-wijsuperpanel-statecontainer .wijmo-wijsuperpanel-vbarcontainer, .title-bar .wijmo-wijsuperpanel-statecontainer .wijmo-wijsuperpanel-vbarcontainer
{
    background: #dcdcdc;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
    border-radius: 8px;
    width: 8px;
    margin-right: 6px;
    border: none;
    right: -4px !important;
    padding: 6px 0;
}
.title-bar .wijmo-dropdown span.wijmo-optgroup-header
{
    font-style: normal;
    font-weight: bold;
    border-top: solid 5px #000;
    display: block;
    padding: 0.25em 0;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

div.title-bar .wijmo-dropdown .wijmo-dropdown-list li.wijmo-dropdown-item
{
    padding-left: 0;
}

.title-bar .wijmo-dropdown-items
{
    margin-bottom: 1em;
}


.title-bar .wijmo-wijsuperpanel-vbarcontainer .wijmo-wijsuperpanel-handle
{
    border-radius: 0;
}

.title-bar .wijmo-wijsuperpanel-statecontainer .wijmo-wijsuperpanel-vbarcontainer
{
    background: none;
    box-shadow: none;
}

.title-bar .wijmo-wijdropdown label.wijmo-dropdown-label
{
    color: #fff;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-weight: normal;
    font-size: 14px;
    width: 300px;
    background: none;
}

.widget-wrapper h3
{
    color: inherit;
    font-family: Georgia, "Times New Roman" , Times, serif;
    text-shadow: none;
    margin-bottom: 0.4em;
}
.explore-all a
{
    background: none repeat scroll 0 0 #0193C4;
    font-size: 3em;
    font-weight: normal;
    height: 73px;
    line-height: 73px;
    text-align: left;
    width: 338px;
}

.explore-all img
{
    width: 38px;
    margin: 0;
    padding: 0;
}

fieldset
{
    border: none;
    padding: 1em;
}

fieldset legend
{
    padding: 1em 0;
}

.negative 
{
    background: yellow !important;
    color: red !important;
}