﻿@{
    ClientSettingsModel demoSettingsModel = ViewBag.DemoSettingsModel;
}

@section Styles{
    <style>
        .wj-gauge .wj-tick-text text {
            opacity: 1;
            font-family: Courier;
            font-size: 8pt;
            fill: purple;
        }
    </style>
}

<br />
@(Html.C1().LinearGauge().Id(demoSettingsModel.ControlId)
    .Min(0).Max(10).Value(5).Format("").ShowText(ShowText.All)
    .IsReadOnly(false).Step(0.5).Width(500)
    .ShowTicks(false).ShowTickText(false)
)

@section Description{
    @Html.Raw(Resources.LinearGauge.Editing_Text0)
    <br />
    @Html.Raw(Resources.LinearGauge.Editing_Text1)
    <br />
    @Html.Raw(Resources.LinearGauge.Editing_Text2)
}