﻿@model C1Finance.Models.PortfolioModel
@using C1Finance.Models
@using C1.Web.Mvc.Grid

@{
    ViewBag.Title = "C1ファイナンス";
}
<div class="header">
    <div class="container">
        <br />
                <img src="@Url.Content("~/resources/C1Finance_logo.png")"/>
            <p>
            このアプリケーションはComponentOne for ASP.NET MVCとBootStrapを使用して開発されています。
            株価データは<a href="https://www.quandl.com/">Quandl</a>の無料の株価データベースから取得しています。
        </p>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            ポートフォリオ
        </div>
        @(Html.C1().FlexGrid<PortfolioStatic.PortfolioFGridClass>().Id("PortfolioFGrid").SelectionMode(SelectionMode.Cell)
            .HeadersVisibility(HeadersVisibility.Column)
            .OnClientCellEditEnded("PortfolioFGrid_CellEditEnded")
            .AllowSorting(true).AutoGenerateColumns(false)
            .Bind(bl => 
                bl.Bind(Model.PortfolioListFGrid).OnClientQueryData("collectStockNames")
                .Delete(Url.Action("GridDelete"))
                .Update(Url.Action("GridUpdate"))
             )
            .Columns(bl =>
            {
                bl.Add(cb => cb.Binding("Color").Header("名称").IsReadOnly(true).Width("2*"));
                bl.Add(cb => cb.Binding("Name").Header("").IsReadOnly(true).Width("0").Visible(false));
                bl.Add(cb => cb.Binding("Symbol").Header("コード").IsReadOnly(true).Width("*"));
                bl.Add(cb => cb.Binding("Chart").Header("チャート").Width("70"));
                bl.Add(cb => cb.Binding("LastPrice").Header("現在値").IsReadOnly(true).DataType(DataType.Number).Format("n2").Width("*"));
                bl.Add(cb => cb.Binding("Change").Header("変動率").IsReadOnly(true).DataType(DataType.Number).Format("p2").Width("*"));
                bl.Add(cb => cb.Binding("Shares").Header("保有数").IsReadOnly(false).DataType(DataType.Number).Format("n0").Width("*"));
                bl.Add(cb => cb.Binding("Price").Header("取得価格").IsReadOnly(false).DataType(DataType.Number).Format("n2").Width("*"));
                bl.Add(cb => cb.Binding("Cost").Header("投資額").IsReadOnly(true).DataType(DataType.Number).Format("n0").Width("*"));
                bl.Add(cb => cb.Binding("Value").Header("評価額").IsReadOnly(true).DataType(DataType.Number).Format("n0").Width("*"));
                bl.Add(cb => cb.Binding("Gain").Header("損益").IsReadOnly(true).DataType(DataType.Number).Format("p2").Width("*"));
                bl.Add(cb => cb.Name("Remove").Header("削除").IsReadOnly(true).Align("center"));
            })
            .ItemFormatter("PortfolioFGrid_ItemFormatter")
        )
        <div class="panel-footer">
            ポートフォリオに追加:
            @(Html.C1().AutoComplete().Id("AddAutoComp").Bind(Model.PortfolioListAll).ShowDropDownButton(false)
                .DisplayMemberPath("symbolname").SelectedValuePath("symbol")
                .Placeholder("銘柄またはコードを入力").CssMatch("match")
                .OnClientSelectedIndexChanged("AddAutoComp_SelectedIndexChanged")
            )
            <button id="BtnAddToPortfolio" type="button" class="btn btn-primary"
                    onclick="AddToPortfolio();">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>

    <!-- chart -->
    <div class="panel panel-default">
        <div class="panel-heading">
            チャート
            <div class="btn-group btn-group-xs pull-right">
                <button id="BtnChartView0" type="button" class="btn btn-default" onclick="UpdateChartDuration(0)">年初来</button>
                <button id="BtnChartView1" type="button" class="btn btn-default" onclick="UpdateChartDuration(1)">6か月</button>
                <button id="BtnChartView2" type="button" class="btn btn-default" onclick="UpdateChartDuration(2)">1年</button>
                <button id="BtnChartView3" type="button" class="btn btn-default" onclick="UpdateChartDuration(3)">2年</button>
                <button id="BtnChartView4" type="button" class="btn btn-default" onclick="UpdateChartDuration(4)">3年</button>
                <button id="BtnChartView5" type="button" class="btn btn-default" onclick="UpdateChartDuration(5)">全期間</button>
            </div>
        </div>
        @(Html.C1().FlexChart().Id("PortfolioFChart")
            .BindingX("TimeSlab").ChartType(C1.Web.Mvc.Chart.ChartType.Line)                
            .AxisX(x => x.Bind(Model.PortfolioListFGrid).Format("yyyy/M"))
            .AxisY(y => y.Format("p0").Binding("PriceGrowth")).Legend(C1.Web.Mvc.Chart.Position.None)
            .SelectionMode(C1.Web.Mvc.Chart.SelectionMode.Series)
          )
    </div>

    <script type="text/javascript">
        c1.documentReady(function () {
            if (window["InitialControls"]) {
                window["InitialControls"]();
            }
        });
    </script>
</div>