﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel形式のアプリケーション</title>
    @Html.C1().Styles().Theme(Themes.Office)
    @Styles.Render("~/Content/bootstrap/css/bootstrap.css")
    @Styles.Render("~/Content/css/style")
    @RenderSection("styles", required: false)

    @Html.C1().Scripts().Basic(b => b.Input().Chart()).FlexSheet()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jszip.min.js")
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
