﻿@model ExcelImportExport.Models.FlexGridModel

@{
    ViewBag.Title = "Excelインポート／エクスポート";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- App scripts -->
<script src="@Url.Content("~/Scripts/app.js")" type="text/javascript"></script>

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/Content/c1logo.png")" alt="Component One ASP.NET MVC" />
        <h1>
            Excelインポート／エクスポート
        </h1>
        <p>
            このページでは、FlexGridコントロールによるExcelのインポートおよびエクスポート機能の使用方法を説明します。
        </p>
    </div>
</div>

<div class="container">
    <p>
        FlexGridでExcelファイルをインポート／エクスポートする方法を示します。
    </p>
    <p>
        FlexGridのコンテンツをエクスポートするには、<b>FlexGridXlsxConverter.save</b>メソッドにFlexGridインスタンスを渡します。
        これにより、XLSXファイルが生成されて、ローカルファイルに保存したりサーバーに送信することができます。
    </p>
    <p>
        XLSXファイルからFlexGridにデータを追加するには、<b>FlexGridXlsxConverter.load</b>メソッドにFlexGridインスタンスとXLSXファイルコンテンツを渡します。
    </p>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-inline well well-lg">
                <input type="file" class="form-control" id="importFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <button class="btn btn-default" onclick="importExcel()">インポート</button>
                <br />
                <div class="checkbox">
                    <label>
                        <input id="IncludeHeadersImport" type="checkbox" checked="checked"> 列ヘッダーを含む
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-inline well well-lg">
                <a href="#" class="btn btn-default" id="export" onclick="exportExcel()">エクスポート</a>
                <div class="checkbox">
                    <label>
                        <input id="IncludeHeadersExport" type="checkbox" checked="checked"> 列ヘッダーを含む
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- the flex grid -->
    <div class="row">
        @(Html.C1().FlexGrid().Id("gFlexGrid").AutoGenerateColumns(false).AllowSorting(true)
                    .GroupBy(Model.GroupBy).CssStyle("max-height", "400px").IsReadOnly(true)
            .Bind(bl => bl.DisableServerRead(true).Bind(Model.CountryData)).CssClass("grid")
                    .Columns(bl =>
                    {
                        bl.Add(cb => cb.Binding("Country").Header("Country").Width("*"));
                        bl.Add(cb => cb.Binding("Product").Header("Product").Width("*"));
                        bl.Add(cb => cb.Binding("Color").Header("Color").Width("*"));
                        bl.Add(cb => cb.Binding("Start").Header("Start").Width("*"));
                        bl.Add(cb => cb.Binding("Amount").Header("Amount").Format("n0").Width("*")
                            .Aggregate(C1.Web.Mvc.Grid.Aggregate.Sum));
                    })
        )
    </div>
    <div class="row appCopy">
        <div class="col-md-6 col-xs-12">
            <h2>インポート</h2>
            <p>
                <b>load</b>関数は<b>wijmo.grid.xlsx</b>モジュールで実装され、Excelファイルの内容を入力として受け取り、<b>FlexGridXlsxConverter.load</b>メソッドを使用して解析し、指定されたFlexGridインスタンスを解析データで満たします。
            </p>
            <p>
                <b>importExcel</b>関数は<b>Scripts\app.js</b>ファイルで実装され、選択されたファイルの内容をディスクから読み取り、HTMLページで定義されたFlexGridインスタンスと一緒に<b>FlexGridXlsxConverter.load</b>関数に渡します。
            </p>
        </div>
        <div class="col-md-6 col-xs-12">
            <app-tab>
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#iHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#iJS" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#iCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="iHtml">

&lt;input 
  type="file" 
  class="form-control" 
  id="importFile" 
  accept=
   "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
 /&gt;
&lt;button 
  class="btn btn-default" 
  onclick="importExcel()"&gt;Import&lt;/button&gt;
&lt;div class="checkbox"&gt;
    &lt;label&gt;
        &lt;input type="checkbox" id="IncludeHeadersImport" checked="checked" /&gt; 
            列ヘッダーを含む
    &lt;/label&gt;
&lt;/div&gt;

                        </div>                        
                        <div class="tab-pane pane-content" id="iJS">

var gFlexGrid = null,
    IncludeHeadersImport = null;

$(document).ready(function () {
    gFlexGrid = wijmo.Control.getControl("#gFlexGrid");
    IncludeHeadersImport = document.getElementById('IncludeHeadersImport');
});

// import
function importExcel() {
    if (gFlexGrid) {
        if ($('#importFile')[0].files[0]) {
            wijmo.grid.xlsx.FlexGridXlsxConverter.load(gFlexGrid, $('#importFile')[0].files[0], { includeColumnHeaders: IncludeHeadersImport.checked });
        }
        else {
            alert('Select an Excel file to Import.');
        }
    }
};
                        

                        </div>
                            <div class="tab-pane pane-content" id="iCS">

using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using ExcelImportExport.Models;
using C1.Web.Mvc.FlexGrid;

namespace ExcelImportExport.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            model.GroupBy = new string[] { "Country", "Product", "Color" };
            return View(model);
        }
    }
}

</div>
                        </div>
                </div>
            </app-tab>
        </div>
    </div>
    <div class="row appCopy">
        <div class="col-md-6 col-xs-12">
            <h2>エクスポート</h2>
            <p>
                <b>save</b>関数は<b>wijmo.grid.xlsx</b>モジュールで実装され、FlexGridインスタンスを入力として受け取り、そのデータと書式設定を<b>FlexGridXlsxConverter.save</b>メソッドを使用してExcel形式に変換し、Excelファイルのコンテンツを含むオブジェクトを返します。
            </p>
            <p>
                <b>exportExcel</b>関数は<b>Scripts\app.js</b>ファイルで実装され、このオブジェクトを受け取り、ローカルディスク上のファイルに保存します。
            </p>
        </div>
        <div class="col-md-6 col-xs-12">
            <app-tab>
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#eHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#eJS" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#eCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="eHtml">

&lt;a 
    download="FlexGrid.xlsx" 
    href="" 
    class="btn btn-default" 
    id="export" 
    onclick="exportExcel()"&gt;
    Export&lt;/a&gt;
&lt;div class="checkbox"&gt;
    &lt;label&gt;
        &lt;input 
            type="checkbox" 
            id="IncludeHeadersExport"
            checked="checked" /&gt; 
        列ヘッダーを含む
    &lt;/label&gt;
&lt;/div&gt;

                        </div>                        
                        <div class="tab-pane pane-content" id="eJS">

var gFlexGrid = null,
    IncludeHeadersExport = null;

$(document).ready(function () {
    gFlexGrid = wijmo.Control.getControl("#gFlexGrid");
    IncludeHeadersExport = document.getElementById('IncludeHeadersExport');
});

// export 
function exportExcel() {
    if (gFlexGrid) {
        wijmo.grid.xlsx.FlexGridXlsxConverter.save(gFlexGrid, { includeColumnHeaders: IncludeHeadersExport.checked }, 'FlexGrid.xlsx');
    }
};

</div>
                            <div class="tab-pane pane-content" id="eCS">

using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using ExcelImportExport.Models;
using C1.Web.Mvc.FlexGrid;

namespace ExcelImportExport.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            model.GroupBy = new string[] { "Country", "Product", "Color" };
            return View(model);
        }
    }
}

</div>
                        </div>
                </div>
            </app-tab>
        </div>
    </div>
    <h2>アプリケーションへの追加</h2>
    <p>Excelのインポートまたはエクスポートのサポートをアプリケーションに追加するには、以下の手順に従います。</p>
    <ol>
        <li>
            <b>C1.Web.Mvc</b>の参照をアプリケーションに追加します。
        </li>
        <li>
            Layout.cshtmlページで、次のファイルへの参照を追加します。
            <ul>
                <li>
                    jszip.jsライブラリ（以下のCDNに置かれています）。
                    <br />
                    http://cdnjs.cloudflare.com/ajax/libs/jszip/2.2.1/jszip.min.js
                </li>
                <li>FlexGridのjsとcssの参照: @@Html.C1().Resources(typeof(C1Grid))</li>
            </ul>
        </li>
        <li>
            exportExcel関数（Exportコードの［JS］タブ）からコードを追加します。この関数はエクスポート結果をローカルファイルに保存します。
        </li>
        <li>
            importExcel関数（Importコードの［JS］タブ）からコードを追加します。この関数はディスクからExcelファイルを読み取ります。
        </li>
    </ol>
</div>

    <script type="text/javascript">
        c1.documentReady(function () {
            if (window["InitialControls"]) {
                window["InitialControls"]();
            }
        });
    </script>