@model WebApiExplorer.Models.ControlsClass.Function

<div class="settings-panel-content">
    <div style="float:left;width:100%">
        <div style="float:left"><h4>@Html.Raw(Resources.Report.ReportInstanceRenderPOST_Parameters)</h4></div>
        <div style="float:right">
            <button style="margin-top:3px;padding: 4px;" class="btn btn-primary btn-report-instance" disabled="disabled"
                    onclick="reportInstanceRender('@Model.FunctionName', '@(System.Configuration.ConfigurationManager.AppSettings["WebAPIService"])');">
                @Html.Raw(Resources.Report.ReportInstanceRenderPOST_Render)
            </button>
        </div>
    </div>
    <div>
        <div class="settings-panel report-instance-render">
            <div class="param-item">
                <label class="param-lable parameter"><b>@Html.Raw(Resources.Report.ReportInstanceRenderPOST_Parameter)</b></label>
                <label class="param-lable value"><b>@Html.Raw(Resources.Report.ReportInstanceRenderPOST_Value)</b></label>
                <label class="param-lable description"><b>@Html.Raw(Resources.Report.ReportInstanceRenderPOST_Description)</b></label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Resources.Report.ReportInstanceRenderPOST_ReportFullPath)</label>
                <span class="param-value-group">
                    <input type="text" name="reportFullPath" class="param-value" style="width: 100%; margin-bottom: 10px;" disabled="disabled" value="@(Resources.Report.ReportInstanceRenderPOST_PleaseLoadAReportFirst)" />
                </span>
                <label class="param-lable description">@Html.Raw(Resources.Report.ReportInstanceRenderPOST_ReportFullPathText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Resources.Report.ReportInstanceRenderPOST_InstanceId)</label>
                <span class="param-value-group">
                    <input type="text" name="instanceId" class="param-value" style="width: 100%; margin-bottom: 10px;" disabled="disabled" value="@(Resources.Report.ReportInstanceRenderPOST_PleaseLoadAReportFirst)" />
                </span>
                <label class="param-lable description">@Html.Raw(Resources.Report.ReportInstanceRenderPOST_InstanceIdText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Resources.Report.ReportInstanceRenderPOST_ReportParameters)</label>
                <span class="param-value-group">
                    <textarea name="reportParameters" class="param-value prefix-name" style="width: 100%; height:100px;"></textarea>
                </span>
                <label class="param-lable description">@Html.Raw(Resources.Report.ReportInstanceRenderPOST_ReportParametersText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Resources.Report.ReportInstanceRenderPOST_ReportPageSettings)</label>
                <span class="param-value-group">
                    <textarea name="reportPageSettings" class="param-value" style="width: 100%; height:100px;"></textarea>
                </span>
                <label class="param-lable description">
                    @Html.Raw(Resources.Report.ReportInstanceRenderPOST_ReportPageSettingsText)
                </label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Resources.Report.ReportInstanceRenderPOST_ActionString)</label>
                <span class="param-value-group">
                    <textarea name="actionString" class="param-value" style="width: 100%; height:100px;" disabled="disabled"></textarea>
                </span>
                <label class="param-lable description" style="word-wrap:break-word;">@Html.Raw(Resources.Report.ReportInstanceRenderPOST_ActionStringText)</label>
            </div>
        </div>
    </div>
</div>
<div id="@(Model.FunctionName)result" class="content-panel-result">
    <h4>@Html.Raw(Resources.Report.ReportInstanceRenderPOST_Headers)</h4>
    <div id="@(Model.FunctionName)headers" class="content-panel-result-url">
        <pre>
        </pre>
    </div>
    <h4 class="content-json-data">@Html.Raw(Resources.Report.ReportInstanceRenderPOST_ResponseData)</h4>
    <div id="@(Model.FunctionName)showdata" class="result-content-data" style="height:auto">
        <pre style="max-height:200px">
        </pre>
    </div>
</div>

<script>
    function reportInstanceRender(id, url) {
        var instanceId = $(".report-instance-render .param-value[name=instanceId]").val();
        var reportFullPath = $(".report-instance-render .param-value[name=reportFullPath]").val();
        var reportParameters = $(".report-instance-render .param-value[name=reportParameters]").val();
        var reportPageSettings = $(".report-instance-render .param-value[name=reportPageSettings]").val();
        var actionString = $(".report-instance-render .param-value[name=actionString]").val();
        var fullUrl = url + "api/report/" + reportFullPath + "/$instances/" + instanceId + "/render";
        var optionsString = (reportParameters ? "&" + reportParameters : "") +
                    (reportPageSettings ? "&" + reportPageSettings : "") +
                    (actionString ? "&" + actionString : "");
        optionsString = optionsString.length > 0 ? optionsString.substring(1) : "";

        $("#@(Model.FunctionName)headers pre").text("@(Resources.Report.ReportInstanceRenderPOST_RequestURL)" + fullUrl);
        $("#@(Model.FunctionName)result").show();

        $.ajax({
            type: "POST",
            url: fullUrl,
            data: optionsString,
            cache: false,
            success: function (data) {
                $("#@(Model.FunctionName)showdata pre").text(JSON.stringify(data, null, 4));
                $(".content-json-data").show();
            },
            complete: function (xhr, status) {
                $("#@(Model.FunctionName)headers pre").append("\r\n@(Resources.Report.ReportInstanceRenderPOST_StatusCode)" + xhr.status);
            }
        });
    }
</script>
