﻿<!-- index to test 0 -->
<c1-flex-radar binding-x="Longitude" binding="Latitude1" chart-type="@chartType" stacking="@stacking"
               id="@demoSettingsModel.ControlId" height="400px" width="500px" legend-position="Top">
    <c1-items-source source-collection="Model" />
    <c1-flex-radar-series name="Latitude1" />
    <c1-flex-radar-series name="Latitude2" binding="Latitude2" />
</c1-flex-radar>


<!-- index to test 1 -->
<c1-flex-radar binding="Downloads" binding-x="Country" height="400px" width="500px"
               chart-type="@chartType" stacking="@stacking"
               id="@demoSettingsModel.ControlId" legend-position="Top">
    <c1-items-source source-collection="Model" />
    <c1-flex-radar-series name="Downloads" />
    <c1-flex-radar-series name="Sales" binding="Sales" />
</c1-flex-radar>