﻿<!--index of control :0-->
@(Html.C1().MultiRow<Orders.Order>()
    .Bind(bl => bl.Bind(Model))
    .KeyActionEnter(C1.Web.Mvc.Grid.KeyAction.Cycle).DefaultColumnSize(200)
    .LayoutDefinition(ld =>
    {
        ld.Add().Header("Order").Colspan(2).Cells(cells =>
        {
            cells.Add(cell => cell.Binding("Id").Header("ID").CssClass("id").Width("150"))
            .Add(cell => cell.Binding("Date").Header("Date").Width("150"))
            .Add(cell => cell.Binding("Amount").Header("Amount").Format("c").CssClass("amount"))
            .Add(cell => cell.Binding("ShippedDate").Header("ShippedDate"));
        });
        ld.Add().Header("Customer").Colspan(3).Cells(cells =>
        {
            cells.Add(cell => cell.Binding("Customer.Name").Name("CustomerName").Header("Name").Width("200"))
                .Add(cell => cell.Binding("Customer.Email").Name("CustomerEmail").Header("Email").Colspan(2))
                .Add(cell => cell.Binding("Customer.Address").Name("CustomerAddress").Header("Address"))
                .Add(cell => cell.Binding("Customer.City").Name("CustomerCity").Header("City"))
                .Add(cell => cell.Binding("Customer.State").Name("CustomerState").Header("State"));
        });
        ld.Add().Header("Customer").Colspan(3).Cells(cells =>
        {
            cells.Add(cell => cell.Binding("Customer.Name").Name("CustomerName").Header("Name").Width("200"))
                .Add(cell => cell.Binding("Customer.Email").Name("CustomerEmail").Header("Email").Colspan(2))
                .Add(cell => cell.Binding("Customer.Address").Name("CustomerAddress").Header("Address"))
                .Add(cell => cell.Binding("Customer.City").Name("CustomerCity").Header("City"))
                .Add(cell => cell.Binding("Customer.State").Name("CustomerState").Header("State"));
        });
        ld.Add().Header("Customer").Colspan(3).Cells(cells =>
        {
            cells.Add(cell => cell.Binding("Customer.Name").Name("CustomerName").Header("Name").Width("200"))
                .Add(cell => cell.Binding("Customer.Email").Name("CustomerEmail").Header("Email").Colspan(2))
                .Add(cell => cell.Binding("Customer.Address").Name("CustomerAddress").Header("Address"))
                .Add(cell => cell.Binding("Customer.City").Name("CustomerCity").Header("City"))
                .Add(cell => cell.Binding("Customer.State").Name("CustomerState").Header("State"));
        });
    }))
<!--1-->
@(Html.C1().MultiRow<Supplier>()
        .Id("editMultiRow")
        .LayoutDefinition(ld =>
        {
            ld.Add().Cells(cells =>
            {
                cells.Add(c => c.Binding("SupplierID").IsReadOnly(true).Format("d").Align("center"));
            });
            ld.Add().Colspan(2).Cells(cells =>
            {
                cells.Add(c => c.Binding("CompanyName").Colspan(2))
                .Add(c => c.Binding("ContactName").Width("150"))
                .Add(c => c.Binding("ContactTitle").Width("200"));
            });
            ld.Add().Colspan(3).Cells(cells =>
            {
                cells.Add(c => c.Binding("Country"))
                .Add(c => c.Binding("Region"))
                .Add(c => c.Binding("City"))
                .Add(c => c.Binding("Address").Colspan(3));
            });
        })
        .Bind(
            ib => ib.Bind(Model.Suppliers)
            .Update(Url.Action("MultiRowUpdateSupplier"))
            .Create(Url.Action("MultiRowCreateSupplier"))
            .Delete(Url.Action("MultiRowDeleteSupplier"))
        )
        .AllowAddNew(true)
        .AllowDelete(true)
        .CssClass("multirow")
)
<!--2-->
@(Html.C1().MultiRow<Orders.Order>()
        .Id("groupPanelMultiRow")
        .ShowGroupPanel(s => s
            .MaxGroups(Convert.ToInt32(optionsModel.Options["Max Groups"].CurrentValue))
            .Placeholder(optionsModel.Options["Placeholder"].CurrentValue))
        .Bind(Model)
        .CssClass("multirow")
        .IsReadOnly(true)
        .LayoutDefinition(LayoutDefinitionsBuilders.ThreeLines)
)