﻿@Code
    ViewData("Title") = "連絡先"
End Code

<h2>@ViewData("Title").</h2>
<h3>@ViewData("Message")</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>サポート:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>マーケティング:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
