﻿@charset "utf-8";
/* CSS Document */
body, td, th {
	font-family: Calibri, "Calibri Light";
	font-size: 14px;
	color: #666;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(../images/bgdmain.jpg) top center no-repeat;
}

.msglbl {
    font-family: Calibri, "Calibri Light";
    font-size:small;
    color:red;
}

.Validations {
    font-family: Calibri, "Calibri Light";
    font-size: medium;
    color:red;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
}
#header {
	width: 100%;
	margin-top: 58px;
}

#logo a {
	background: url(../images/logo.png) no-repeat;
	width: 164px;
	height: 9px;
	display: block;
	padding: 0 0 10px 0;
	text-indent: -999px;
}
#loginModule {
	width: 230px;
	padding: 60px 45px;
	height: 250px;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #d9d9d9;
	background-color: rgba(255, 255, 255, 0.9);
	
	margin: 115px 10px 0px 0px;
	float: right;
	z-index: 999;
}
#loginModule select {
	padding: 4px 5px;
	font-size: 11px;
	margin: 0;
	color: #888;
	border: 1px solid #d9d9d9;
	margin-bottom: 8px;
}
#loginModule input[type=text], #loginModule input[type=password] {
	width: 206px;
	height: 18px;
	padding: 6px;
	border: 1px solild #d9d9d9;
	font-size: 12px;
	margin-bottom: 8px;
}

#loginModule input[type=submit] {
	width:80px;
	height:30px;
	margin:10px 0px;
	
}

#news {
	float: left;
	width: 540px;
	margin-top: 280px;
}
#news img {
	margin-bottom: 20px;
}
#news span {
	font-size: 18px;
	color: #333;
	clear: both;
}
#news p {
	margin: 0 0 3px 0;
	line-height: 22px;
}

.newsspan {
	font-size: 18px;
	color: #333;
	clear: both;
}
.newsp {
	margin: 0 0 3px 0;
	line-height: 22px;
}

.viewmore {
	display: block;
	width: 65px;
	font-size: 12px;
	text-align: center;
	background-color: #fff;
	moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #bfbfbf;
	padding: 5px;
	margin: 0 0 20px 0;
	text-decoration: none;
	color: #333;
}
#footer {
	margin-top: 50px;
	padding-top: 10px;
	border-top: 1px solid #CCC;
	width: 100%;
	float: left;
	font-size: 12px;
	color: #888;
}



