﻿@charset "utf-8";

nav {
	text-align: center;
	float: right;
	margin: 0;
	padding: 0;
}
nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}
nav ul li a:after {
	content: url('../images/DD_arrow.png');
	display: inline;
	margin-left: 5px;
}

nav ul li {
	float: left;
}
nav ul li:hover {
/*blank*/
	
}
nav ul li:hover a {
/*blank*/
	
}
nav ul li a {
	display: block;
	padding: 10px 20px;
	color: #11337d;
	text-decoration: none;
	border-right: 1px solid #e5e5e5;
}
nav ul li a:first-child {
	border-left: 1px solid #e5e5e5;
}
nav ul ul {
	background: #ffffff;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	text-align: left;
	border: 1px solid #d9d9d9;
	border-top: 2px solid #d9d9d9;
	min-width: 200px;
	padding-bottom: 10px;
	font-size: 85%;
    z-index:999;
}
nav ul ul li {
	float: none;
	position: relative;
}
nav ul ul li a {
	padding: 5px 20px;
	color: #333;
}

nav ul li select {
    margin-left:20px;
    margin-top:10px;

} 
nav ul ul li a:after {
	content: "";
}
nav ul ul li a:hover {
	background: #f5f5f5;
	color: #333;
}
nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}