﻿@charset "utf-8";
body, td, th {
	font-family: Calibri, "Calibri Light";
	font-size: 16px;
	color: #333;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.fullwidth {
	width: 100%;
	margin: 0 auto;
}
.container {
	margin: 0 auto;
	width: 900px;
	clear:both;
	display:table;
}
#header {
	height: 60px;
	background: url(../images/page_title_bg.jpg) no-repeat center center;
	background-size: cover;
}
#footer {
	margin-top: 20px;
	height: 40px;
	padding: 10px 0px;
	border-top: 1px solid #e5e5e5;
	color: #666666;
	font-size: 80%;
}
#menubar {
	height: 40px;
	background-color: #f5f5f5;
	border-bottom: 3px solid #e4e4e4;
}
#menubar .container h1 {
	margin: 0;
	padding: 0;
	font-size: 200%;
	color: #695ea5;
	display: block;
	float: left;
	font-weight: normal;

}
#logomain {
	padding: 12px 0px;
	float: left;
	display: block;
}
#user {
	padding: 18px 0px;
	float: right;
	display: block;
	color: #FFF;
	font-size: 90%;
}
#user a {
	color: #FFF;
	text-decoration: none;
}
.SearchControl {
	padding: 20px 0px 0px 0px;
}
.maincontent {
	padding: 10px 0px 0px 0px;
	min-height: 200px;
}
.modulecircle {
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;
	height: 90px;
	width: 100px;
	padding: 25px;
	padding-top: 35px;
	color: #FFF;
	text-align: center;
	line-height: 14px;
	margin-left: 20px;
	float: left;
	margin-top: 20px;
}
#createAppointments {
	background: #695ea5;
}
#createAppointments a {
	color: #FFF;
	text-decoration: none;
}
#createAppointments2 {
	background: #695ea5;
}
#createAppointments2 a {
	color: #FFF;
	text-decoration: none;
}
#todaysAppointments {
	background: #46c84f;
}

#todaysAppointments a {
	color: #FFF;
	text-decoration: none;
}

#todaysAppointments span {
	color: #ffffff;
	font-size: 400%;
	font-weight: lighter;
	line-height: 80%;
}
#backtopatient {
	background: #ff9600;
}
#backtopatient a {
	color: #FFF;
	text-decoration: none;
}
.userdetails {
	width: 550px;
	float: left;
}
.userdetails ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	font-size:95%;
}
.userdetails ul li:first-child {
	float: left;
	margin-right: 10px;
}
.userdetails ul li span {
	font-size: 120%;
}

.profilepic {
	width: 170px;
	float: left;
	margin-right:20px;
}
.profilepic ul {
	list-style: none;
	margin: 0;
	padding:0px 20px;
	text-align:center;
}

.profilepic ul li span {
	font-size: 120%;
	font-weight:bold;
}

.profilepic ul li a {
	color:#f38f07;
	text-decoration:none;
}

.editprofile{
	float:left;
	width:670px;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #cccccc;
}

.profilebuttons{
	padding:10px 0px;
	float:right;
	margin-right:40px;
}

.viewholder {
	background: url(../images/viewholder.png) no-repeat;
	height: 35px;
	clear: both;
	padding: 28px 0px 12px 5px;
	margin-bottom: 5px;
}

.myprofileheading {
	padding:5px 0px;
	border-bottom:1px solid #cccccc;
	border-top:1px solid #cccccc;
	color:#333;
	font-size:150%;
	margin-top:20px;
}




























.PageTitle {
    font-family: Calibri, "Calibri Light";
    font-size: 30px;
    color: #333;
}

.AddUpdateTbl 
{
    width:800px;
}

.AddUpdateTbl_Col1
{
    width:30px;
}

.AddUpdateTbl_Col2
{
    width:100px;
}

.AddUpdateTbl_Col4
{
    width:100px;
}

.AddUpdateTbl_Col5
{
    width:100px;
}

.AddUpdateTbl_Col7
{
    width:30px;
}

.msglbl {
    font-family: Calibri, "Calibri Light";
    font-size: medium;
    color:red;
}

.Validations {
    font-family: Calibri, "Calibri Light";
    font-size: medium;
    color:red;
}


#wrap {
   width:280px;
   margin:0 auto;
   padding:20px 10px;
   height:85px;
   border-top:5px solid #333;
}
#wrap a {
  font-size: 0.9em;
  margin:0; padding:0;
  border-bottom:0px;
}

#left_col {
   float:left;
   width:75px;
   text-align:center;
}

#left_col img{
   border:1px solid #333;
}
#right_col {
   float:right;
   width:200px;
}

#right_col strong{
   font-size: 1.6em;
   margin:0; padding:0;
   font-weight:normal !important
}


.FileUploader {
     width:190px;
     height:20px;
    -moz-box-shadow: 1px 1px 1px -1px #bdbdbd;
     -webkit-box-shadow: 1px 1px 1px -1px #bdbdbd;
   box-shadow: 1px 1px 1px -1px #bdbdbd;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
     background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
 background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
 background-color:#ffffff;
 border:1px solid #dcdcdc;
     display:inline-block;
 cursor:pointer;
   color:#666666;
      font-family:arial;
     font-size:15px;
       padding:8px 15px;
 text-decoration:none;

}
.FileUploader:hover {
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
 background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
     background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
     background-color:#f6f6f6;
}
.FileUploader:active {
    position:relative;
   top:1px;
}

.myButton {
    -moz-box-shadow: 1px 1px 1px -1px #bdbdbd;
     -webkit-box-shadow: 1px 1px 1px -1px #bdbdbd;
   box-shadow: 1px 1px 1px -1px #bdbdbd;
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
     background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
 background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
 background-color:#ffffff;
 border:1px solid #dcdcdc;
     display:inline-block;
 cursor:pointer;
   color:#666666;
      font-family:arial;
     font-size:15px;
       padding:8px 15px;
 text-decoration:none;
}
.myButton:hover {
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
 background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
     background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
     background-color:#f6f6f6;
}
.myButton:active {
    position:relative;
   top:1px;
}

.wijmo-wijinput {
    width:215px;
    height:30px;
    border:1px solid #dadada;
}

.txtMultiline {
    width: 212px;    
    border:1px solid #dadada;
    background-color: #f4f4f4;
    border: 1px solid #dadada;
}

.wijmo-wijcombobox-input {
    width:205px !important;
    height:24px !important;
    border:none !important;
}

.wijmo-wijcombobox-wrapper {
    border:none !important;
}

#ContentPlaceHolder1_C1ddlSearchName {
    width:500px !important;
}

.wijmo-wijcombobox {
    border:1px solid #dadada !important;
}

.wijmo-wijgrid tr.wijmo-wijgrid-row td {
    border-right-width: 0px;
    border-right-style: none !important;
    padding: 5px 8px;
}

.ui-widget-content {
    top: 0px;
    left: 1px;
    border-left-style: none !important;
    border-left-color: inherit !important;
    border-left-width: 0px !important;
    border-right-style: none !important;
    border-right-color: inherit !important;
    border-right-width: 0px !important;
}

.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background-color:#f4f4f4 !important;
    }




.H1_DataTable {
    border-collapse: collapse;
}

.H1_DataTable tr td {
    padding: 8px 10px;
    color: #454545;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e8e8e8;
}

.H1_DataTable a {
    text-decoration:none;
    color:#333;
}


#active{
    background:url(../images/current.png) no-repeat right center;
    background-position:95%;
    background-color:#fbfbfb;
}

.H1_DataTable tr td {
    border-left: 0;
    border-right: 0;
    
}


.gridicon li {
    display:inline;
    list-style:none;

}


.wijmo-wijinput, .wijmo-wijtextbox, .wijmo-wijgrid .wijmo-wijinput
{
    background: #ddd!important;
    color: #404040 !important;
    border: solid 1px #e1e1e1 !important;
}