﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Benchmark</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/Content/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#503b75">
    


    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
    <!--C1 -->
    @Html.C1().Styles()
    @Html.C1().Scripts().Basic(b=>b.Grid().Input())
    <!--DevExpress -->
    @Html.DevExpress().GetStyleSheets( 
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        
        // Default theme for some demos
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Default" }
    ) 

    @Html.DevExpress().GetScripts( 
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
        new Script { ExtensionSuite = ExtensionSuite.GridView }
    )
    <!--Telerik -->
    <link href="@Url.Content("~/Content/kendo/2015.2.805/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.805/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.805/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.805/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.805/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2015.2.805/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.805/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.805/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.805/kendo.aspnetmvc.min.js")"></script>

    <!--Infragistics -->
    <link href="~/Content/IgniteUI/infragistics.css" rel="stylesheet" />
    <link href="~/Content/IgniteUI/infragistics.theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/IgniteUI/infragistics.core.js"></script>
    <script src="~/Scripts/IgniteUI/infragistics.lob.js"></script>

    <script src="~/Scripts/app.js"></script>
</head>
<body onload="loadComplete();">


    <div class="header">
        <div class="container">
            <h1>
                <img src="~/Content/stopwatch.png" /> Benchmark</h1>
            <p>
                This application compares the performance of several grid controls.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                @using (Html.BeginForm())
                {
                    <h4>Select a Grid</h4>
                    <p>
                        Once you select a grid, the client and sever loading time appears under the 
                        grid name on the list below.</p>
                    <ul>
                        @Html.Partial("_ControlList", Benchmark.Models.ControlModel.GetControlModel())
                    </ul>
                    <script>renderTiming();</script>
                    <br />
                    @Html.Partial("_SourceSelector", Benchmark.Controllers.HomeController.Count)
                    <br />
                    @Html.Partial("_PagingSelector", Benchmark.Controllers.HomeController.Paging)
                }
            </div>
            <div class="col-md-9">
                <div class ="control-view">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>

