﻿@using Resources;
@model IEnumerable<AccessibilityExtender.Models.Sale>
@{
    ViewBag.Title = "FlexGrid AccessibilityExtender";
}
<p></p>
<p>
    @Html.Raw(Resource.Index_View_P1)
</p>
<p>
    @Html.Raw(Resource.Index_View_P2)
</p>
@Html.Raw(Resource.Index_View_P3)

<div class="input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
    <input type="text" class="form-control" id="filter" placeholder="filter">
</div>
@(Html.C1().FlexGrid()
        .Id("theGrid")
        .SelectionMode(C1.Web.Mvc.Grid.SelectionMode.ListBox)
        .IsReadOnly(true)
        .ShowAlternatingRows(false)
        .Bind(isb => isb.Bind(Model).DisableServerRead(true))
        .OnClientSortedColumn("sortedColumn"))

