﻿@using FilterPanel.Models
@using C1.Web.Mvc.Grid

@model IEnumerable<Sale>
@{
    ViewData["Title"] = "FilterPanel";
}

<div class="container">
    <h1>
        フィルターパネル
    </h1>
    <p>
        このサンプルは、現在アクティブなフィルタを表示する<b>FilterPanel</b>を定義し、ユーザーがクリックしてフィルタを削除できるようにします。
    </p>
</div>
<p>
    フィルタを追加または変更して、グリッドの上にある<b>FilterPanel</b>にフィルタを追加する方法を確認します。
</p>
<p>
   1つまたはすべてのフィルタを削除するには、フィルタマーカーの「x」アイコンをクリックします。
</p>
<div id="filterPanel"></div>
<c1-flex-grid id="grid" auto-generate-columns="false" is-read-only="true"
                  selection-mode="Row" allow-sorting="true">
    <c1-items-source source-collection="Model"></c1-items-source>
    <c1-flex-grid-filter default-filter-type="Both" id="gridFilter"></c1-flex-grid-filter>
    <c1-flex-grid-column binding="ID" width="0.3*"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Active" width="0.3*"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Country" width="*"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Product" width="*"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Start" width="*"></c1-flex-grid-column>
</c1-flex-grid>