﻿<!--index to test 0-->
<c1-flex-sheet class="flexSheet" id="excelIOSheet" selected-sheet-index="0">
    <c1-bound-sheet>
        <c1-items-source source-collection="@Model"></c1-items-source>
    </c1-bound-sheet>
    <c1-unbound-sheet column-count="8" row-count="20" name="Unbound"></c1-unbound-sheet>
</c1-flex-sheet>
<!--1-->
<c1-flex-sheet id="customFuncSheet" class="flexSheet"
               unknown-function="unknownFunction">
    <c1-unbound-sheet row-count="25" column-count="12"></c1-unbound-sheet>
</c1-flex-sheet>
<!--2-->
<c1-flex-sheet class="flexSheet" id="flexSheet"
               load-action-url="@(Url.Action("RemoteLoadXlsx"))"
               save-action-url="@(Url.Action("RemoteSaveFile"))"
               remote-saved="onFileSaved">
</c1-flex-sheet>
<!--3-->
<c1-flex-sheet height="500px" id="flexsheet1">
    <c1-bound-sheet name="b1">
        <c1-items-source source-collection="@((IEnumerable<MvcExplorer.Models.Category>)ViewBag.Sheet_Categories1)"></c1-items-source>
    </c1-bound-sheet>
    <c1-unbound-sheet name="ub1"></c1-unbound-sheet>
    <c1-unbound-sheet name="ub2"></c1-unbound-sheet>
</c1-flex-sheet>