﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- jQuery/Bootstrap -->
    <script src="https://code.jquery.com/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <c1-styles />

    <!-- app scripts and styles -->
    <link href="~/css/app.css" rel="stylesheet" />
    <script src="~/js/finance.js"></script>
    <c1-scripts>
        <c1-basic-scripts bundles="Chart,Input,Grid"></c1-basic-scripts>
    </c1-scripts>
</head>
<body>
    @RenderBody()
    <!-- Footer -->
    <div class="container">
        <a href="https://www.grapecity.co.jp/developer" class="c1logo">
            <img src="@Url.Content("~/footerLogo.png")" />
        </a>
        <p>
            © @DateTime.Now.Year GrapeCity, Inc. All Rights Reserved.<br />
            All product and company names here in may be trademarks of their respective owners.
        </p>
        <a href="http://facebook.com/componentone">
            <img src="@Url.Content("~/icons/32/picons36.png")" alt="facebook" />
        </a>
        <a href="https://twitter.com/GrapeCity_dev" target="_blank">
            <img src="@Url.Content("~/icons/32/picons33.png")" alt="Twitter" />
        </a>
        <br /><br />
    </div>
</body>
</html>
