@section Scripts{
<script src="~/Scripts/wijmo.io/webapiclient.min.js"></script>
<script src="~/Scripts/FlexSheet/excelService.js"></script>
<script>
    ctx.serverUrl = '@(System.Configuration.ConfigurationManager.AppSettings["WebAPIService"])';
</script>
}
<div>
    <div class="copy">
<h3>@Html.Raw(Resources.FlexSheet.ExcelService_Text2)</h3>

<p>@Html.Raw(Resources.FlexSheet.ExcelService_Text0)</p>

        @(Html.C1().FlexSheet().Id("excelServiceSheet").CssClass("flexSheet").Load("~/Content/xlsxFile/example1.xlsx"))

        <div class="panel panel-warning">
            <div class="panel-heading">@Html.Raw(Resources.FlexSheet.ExcelService_Text3)</div>
            <div class="panel-body">
                <div class="row">
                    @(Html.C1().Menu().Id("exportFormat").Header("Export Format: <b>XLSX</b>")
                    .Command("exportFormatChanged").MenuItems(items =>
                      {
                          items.Add("XLSX", "Xlsx");
                          items.Add("XLS", "Xls");
                          items.Add("CSV", "Csv");
                      }))
                    <span>@Html.Raw(Resources.FlexSheet.ExcelService_Text4)</span>
                    <input id="exportName" type="text" class="form-control input-control" value="export" />
                    <button class="btn btn-primary" onclick="exportFlexSheet()">@Html.Raw(Resources.FlexSheet.ExcelService_Text5)</button>
                </div>
                <div class="row">
                    <input type="file" id="fileinput" class="form-control input-control" />
                    <button class="btn btn-primary" onclick="importFlexSheet()">@Html.Raw(Resources.FlexSheet.ExcelService_Text6)</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Summary{
<p>@Html.Raw(Resources.FlexSheet.ExcelService_Text1)</p>

}
