﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - ComponentOne ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Html.C1().Styles()$if$ ($customthemeisset$ == True).Theme("$customtheme$")$endif$

        @Scripts.Render("~/bundles/modernizr")$if$ ($refflexsheet$ == True)
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>$endif$$if$ ($enabledeferredscripts$ != True)
        @Html.C1().Scripts().Basic()$endif$$if$ ($financescript$ == True).Finance()$endif$$if$ ($flexsheetscript$ == True).FlexSheet()$endif$$if$ ($flexviewerscript$ == True).FlexViewer()$endif$$if$ ($olapscript$ == True).Olap()$endif$$if$ ($multirowscript$ == True).MultiRow()$endif$$if$ ($transposedgridscript$ == True).TransposedGrid()$endif$
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("ComponentOne MVC Application", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("ホーム", "Index", "Home")</li>
                            <li>@Html.ActionLink("バージョン情報", "About", "Home")</li>
                            <li>@Html.ActionLink("連絡先", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")$if$ ($enabledeferredscripts$ == True)
        @Html.C1().Scripts()$endif$
        @RenderSection("scripts", required: false)$if$ ($enabledeferredscripts$ == True)
        @Html.C1().DeferredScripts()$endif$
    </body>
</html>
