﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - $safeprojectname$</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <c1-styles $if$ ($customthemeisset$ == True)theme="$customtheme$" $endif$/>
$if$ ($refflexsheet$ == True)
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>$endif$$if$ ($enabledeferredscripts$ != True)
    <c1-scripts>
        <c1-basic-scripts></c1-basic-scripts>$endif$$if$ ($financescript$ == True)
        <c1-finance-scripts></c1-finance-scripts>$endif$$if$ ($flexsheetscript$ == True)
        <c1-flex-sheet-scripts></c1-flex-sheet-scripts>$endif$$if$ ($flexviewerscript$ == True)
        <c1-flex-viewer-scripts></c1-flex-viewer-scripts>$endif$$if$ ($olapscript$ == True)
        <c1-olap-scripts></c1-olap-scripts>$endif$$if$ ($multirowscript$ == True)
        <c1-multi-row-scripts></c1-multi-row-scripts>$endif$$if$ ($transposedgridscript$ == True)
        <c1-transposed-grid-scripts></c1-transposed-grid-scripts>$endif$$if$ ($enabledeferredscripts$ != True)
    </c1-scripts>$endif$
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">$safeprojectname$</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;  $currentyear$ - $safeprojectname$ - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>$if$ ($enabledeferredscripts$ == True)
    <c1-scripts />$endif$
    @RenderSection("Scripts", required: false)$if$ ($enabledeferredscripts$ == True)
    <c1-deferred-scripts />$endif$
</body>
</html>
