﻿body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}

.header {
    background-color: #49b7ff;
    margin-bottom: 14px;
    padding: 12px 0px;
}

/* style for grids */
.gridStyle {
    width: 750px !important;
    height: 450px;
    border: 1px solid #e0e0e0;
}

/* style for charts */
.chartStyle {
    height: 450px;
    border: 1px solid #e0e0e0;
}

/* style for benchmark results */
.result {
    display: block;
    float: right;
    font-weight: bold;
}

.control-view {
    padding-top:10px;
}

.grid {
    height: 400px;
    border: 2px solid #e0e0e0;
}

.client-time-lable {
    border: none;
    background: transparent;
    width:120px;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #777;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.server-time {
    color: #777;
}

.label-default {
    background-color: transparent;
}

.wj-content {
    margin-top:5px;
}

.control-link {
    cursor:pointer;
}