﻿@{
    List<string> cities = ViewBag.Cities;
}

<div>
    <label>@Html.Raw(Resources.ListBox.Index_SelectAnItem)</label>
    <div id="list" style="width:250px;height:200px"></div>
</div>
<p>
    <b>@Html.Raw(Resources.ListBox.Index_SelectedIndex)<span id="lbSelIdx"></span></b>
</p>
<p>
    <b>@Html.Raw(Resources.ListBox.Index_SelectedValue)<span id="lbSelVal"></span></b>
</p>

@section Scripts{
<script>
    // selectedIndexChanged event handler
    function selectedIndexChanged(sender) {

        // set selectedIndex and selectedValue text
        document.getElementById('lbSelIdx').innerHTML = sender.selectedIndex;
        document.getElementById('lbSelVal').innerHTML = sender.selectedValue;
    }
</script>
}

@(Html.C1().ListBox("#list")
    .Bind(cities).SelectedIndex(0)
    .OnClientSelectedIndexChanged("selectedIndexChanged")
)

@section Description{
    @Html.Raw(Resources.ListBox.Index_Text0)
}