<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Knockout Grid</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=960">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Wijmo CSS and script -->
    <link href="http://cdn.wijmo.com/themes/metro/jquery-wijmo.css" rel="stylesheet" title="metro-jqueryui" type="text/css" />
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.css" rel="stylesheet" type="text/css" />

    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.js" type="text/javascript"></script>

    <!-- KnockoutJS for MVVM-->
    <script src="http://cdn.wijmo.com/wijmo/external/knockout-2.2.0.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/interop/knockout.wijmo.<%= pkg.version %>.min.js" type="text/javascript"></script>

    <!-- Local storage-->
    <script src="http://cdn.wijmo.com/external/amplify.core.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/external/amplify.store.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        //Class constructor for grid row. Returns observable properties.
        var product = function (data) {
            return {
                ProductID: ko.observable(data.ProductID),
                ProductName: ko.observable(data.ProductName),
                UnitPrice: ko.observable(data.UnitPrice),
                UnitsInStock: ko.observable(data.UnitsInStock)
            };
        };

        //Create ViewModel
        var viewModel = {
            pageSize: ko.observable(10),
            pageIndex: ko.observable(0),
            sortCommand: ko.observable("ProductID asc"),
            dataRows: ko.observableArray([]),
            totalRows: ko.observable(0),
            sorted: function (e, data) {
                viewModel.sortCommand(data.sortCommand);
            },
            paged: function (e, data) {
                viewModel.pageIndex(data.newPageIndex);
            },
            load: function () {
                //Check to see if this page of data is cached in local storage
                if (amplify.store.sessionStorage(viewModel.getUniqueStorageKey()) != null) {
                    var arr = [];
                    var data = amplify.store.sessionStorage(viewModel.getUniqueStorageKey()).d;
                    var total = amplify.store.sessionStorage("total");
                    $.each(data, function (i) {
                        arr.push(new product(data[i]));
                    });
                    viewModel.totalRows(total);
                    viewModel.dataRows(arr);
                }
                else {
                    $.ajax({
                        url: "http://services.odata.org/V2/Northwind/Northwind.svc/Products",
                        dataType: "jsonp",
                        jsonp: "$callback",
                        data: {
                            $format: "json",
                            $inlinecount: "allpages",
                            $select: "ProductID,ProductName,UnitPrice,UnitsInStock",
                            $orderby: viewModel.sortCommand(),
                            $top: viewModel.pageSize(),
                            $skip: viewModel.pageIndex() * viewModel.pageSize(),
                            "paging[pageIndex]": viewModel.pageIndex(),
                            "paging[pageSize]": viewModel.pageSize()
                        },
                        success: function (result) {
                            var data = result.d.results;
                            var arr = [];

                            $.each(data, function (i) {
                                arr.push(new product(data[i]));
                            });
                            viewModel.totalRows(result.d.__count);
                            viewModel.dataRows(arr);
                            //Store in local storage to use as cached data
                            amplify.store.sessionStorage(viewModel.getUniqueStorageKey(), { d: data });
                            amplify.store.sessionStorage("total", result.d.__count);
                        }
                    });
                }
            },
            getUniqueStorageKey: function () {
                return "size" + viewModel.pageSize() + "sort" + viewModel.sortCommand() + "page" + viewModel.pageIndex();
            }
        };

        //Bind ViewModel and Event Handlers
        $(document).ready(function () {
            ko.applyBindings(viewModel);
            viewModel.load();
            viewModel.sortCommand.subscribe(function (newValue) {
                viewModel.load();
            });
            viewModel.pageIndex.subscribe(function (newValue) {
                viewModel.load();
            });
            viewModel.pageSize.subscribe(function (newValue) {
                viewModel.load();
                $(":wijmo-wijdropdown").wijdropdown("refresh");
            });
        });
    </script>
    <style type="text/css">
        body
        {
            font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
            font-size: 14px;
            background: #000;
        }

        h1
        {
            font-size: 2.4em;
            color: #fff;
            padding: 20px 0 0 6px;
            margin: 0;
        }

        .container
        {
            margin: 0 auto;
            width: 960px;
        }

        .app
        {
            overflow: hidden;
            background: #fff;
            padding: 20px;
            box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
        }

        .toolbar
        {
            text-align: right;
        }

        #dataGrid
        {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Knockout Grid</h1>
        <div class="app">
            <div>
                <div class="toolbar">
                    <label>Display: </label>
                    <select data-bind="value: pageSize, wijdropdown: {}">
                        <option value="5">5</option>
                        <option value="10" selected="selected">10</option>
                        <option value="20">20</option>
                    </select>
                </div>
                <table id="dataGrid" data-bind="
    wijgrid: {
        data: dataRows,
        pageSize: pageSize,
        pageIndex: pageIndex,
        totalRows: totalRows,
        allowPaging: true,
        allowSorting: true,
        sorted: sorted,
        pageIndexChanged: paged,
        columns: [
            { sortDirection: 'ascending', dataType: 'number', dataFormatString: 'n0', headerText: 'ID', width: 60 },
            { headerText: 'Product' },
            { dataType: 'currency', headerText: 'Price', width: 100 },
            { dataType: 'number', dataFormatString: 'n0', headerText: 'Units', width: 100 }]
    }">
                </table>
            </div>
            <p>
                Made with <a href="http://knockoutjs.com">KnockoutJS</a>, <a href="https://www.grapecity.com/en/controls/wijmo/wijmo-3/">Wijmo</a> and <a href="http://www.odata.org">OData</a>
            </p>
        </div>
    </div>
</body>
</html>
