﻿@model FlexGridModel
@{
    ViewBag.Title = "ASP.NET Core C1 FlexGrid Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = Folder.Create(Startup.Environment.ContentRootPath).Children;
}
 
<div class="header">
    <div class="container">
        <a class="logo-container" href="https://www.grapecity.com/en/aspnet-mvc" target="_blank">
            <i class="gcicon-product-c1"></i>
        </a>
        <h1>
            ASP.NET Core C1 FlexGrid 101
        </h1>
        <p>
            This page shows how to get started with ASP.NET Core MVC's C1 FlexGrid controls.
        </p>
    </div>
</div>

<div class="container">
    <div class="sample-page download-link">
        <a href="https://www.grapecity.com/en/download/componentone-studio">Download Free Trial</a>
    </div>
    <!-- Getting Started -->
    <div>
        <h2>Getting Started</h2>
        <p>
            Steps for getting started with the FlexGrid control in MVC applications:
        </p>
        <ol>
            <li>Create a new ASP.NET Core MVC project using the "C1 ASP.NET Core MVC Web Application" template.</li>
            <li>Add controller and corresponding view to the project.</li>
            <li>Initialize the C1 FlexGrid control in view using &lt;c1-flex-grid&gt;&lt;/c1-flex-grid&gt; tag.</li>
            <li>(Optional) Add some CSS to customize the FlexGrid control's appearance.</li>
        </ol>
        <p>
            This will create a FlexGrid with default behavior, which includes
            automatic column generation, column sorting and reordering, editing,
            and clipboard support.
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#gsHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#gsCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#gsCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
<div class="tab-pane active pane-content" id="gsHtml">

&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;!-- this is the grid --&gt;
        &lt;c1-flex-grid id="gsFlexGrid"
                        is-read-only="true"
                        auto-generate-columns="true"
                        allow-sorting="true"&gt;
            &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
        &lt;/c1-flex-grid&gt;
    &lt;/body&gt;
&lt;/html&gt;

</div>
                        <div class="tab-pane pane-content" id="gsCss">

/* set default grid style */
.wj-flexgrid {
    height: 300px;
    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 12px;
}

                        </div>
<div class="tab-pane pane-content" id="gsCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }
    }
}

</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Result (live):</h4> 
                <c1-flex-grid id="gsFlexGrid" 
                              is-read-only="true"
                              auto-generate-columns="true" 
                              allow-sorting="true">
                    <c1-items-source source-collection="@Model.CountryData" ></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>



    <!-- column definitions -->
    <div>
        <h2>Column Definitions</h2>
        <p>
            The Getting Started example did not define any columns, so FlexGrid generated them
            automatically.
        </p>
        <p>
            This example shows how you can define the columns using the FlexGrid's <b>&lt;c1-flex-grid-column&gt;&lt;/c1-flex-grid-column&gt; </b> tag.
        </p>
        <p>
            Specifying the columns allows you to choose which columns to show, and in what order.
            This also gives you control over each column&#39;s Width, Heading, Formatting, Alignment,
            and other properties.
        </p>
        <p>
            In this case, we use star sizing to set the width of the "Country" column. This tells the
            column to stretch to fill the available width of the grid so there is no empty space. On
            the "Amount" column, we set the format property to "n0",  which results in numbers with thousand separators and no decimal digits. On
            the "Discount" column, we set the format property to "p0", which results in numbers with
            percentage and no decimal digits.
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#cdHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#cdCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="cdHtml">

&lt;c1-flex-grid id="cdInitMethod"
    is-read-only="true"
    auto-generate-columns="false"
    allow-sorting="true"&gt;
    &lt;c1-flex-grid-column binding="ID"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="Start" format="MMM d yy"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="End" format="HH:mm"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="Country" width="*"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="Amount" format="n0"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="Amount2"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="Discount" format="p0"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-flex-grid-column binding="Active"&gt;&lt;/c1-flex-grid-column&gt; 
    &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;

</div>
                        <div class="tab-pane pane-content" id="cdCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Result (live):</h4>
                <c1-flex-grid id="cdInitMethod"
                              is-read-only="true"
                              auto-generate-columns="false"
                              allow-sorting="true">
                    <c1-flex-grid-column binding="ID"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="Start" format="MMM d yy"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="End" format="HH:mm"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="Country" width="*"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="Amount" format="n0"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="Amount2"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="Discount" format="p0"></c1-flex-grid-column> 
                    <c1-flex-grid-column binding="Active"></c1-flex-grid-column> 
                    <c1-items-source source-collection="@Model.CountryData"></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>


    <!-- selection modes -->
    <div>
        <h2>Selection Modes</h2>
        <p>
            By default, FlexGrid allows you to select a range of cells with the mouse or keyboard,
            just like Excel. The <b>selection-mode</b> property allows you to change that so that you
            can select a Row, a Range of Rows, Non-Contiguous Rows (like in a List-Box), a Single Cell, a Range of Cells
            or disable selection altogether.
        </p>
        <p>
            This example allows you to pick the <b>selection-mode</b> from a Wijmo ComboBox control.
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#smHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#smJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#smCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="smHtml">

&lt;c1-flex-grid id="smFlexGrid"
    is-read-only="true"
    auto-generate-columns="false"
    allow-sorting="true"&gt;
    &lt;c1-flex-grid-column binding="ID"&gt;&lt;/c1-flex-grid-column&gt;                    
    &lt;c1-flex-grid-column binding="Country" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Amount" format="n0" width="*"&gt;&lt;/c1-flex-grid-column&gt;                    
    &lt;c1-flex-grid-column binding="Discount" format="p0" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Active" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;
&lt;br /&gt;Selection Mode
&lt;c1-combo-box id="smMenu" selected-index="0" selected-index-changed="smMenu_SelectedIndexChanged"&gt;
    &lt;c1-items-source source-collection="@@Model.Settings["SelectionMode"]"&gt;&lt;/c1-items-source&gt;
&lt;/c1-combo-box&gt;

                        </div>
                        <div class="tab-pane pane-content" id="smJs">

var smFlexGrid = smMenu = null;

$(document).ready(function () {
//Selection Modes Modules
    smFlexGrid = wijmo.Control.getControl("#smFlexGrid");
});

//Selection Modes Modules
function smMenu_SelectedIndexChanged(sender){
    if(sender.selectedValue!=null && smFlexGrid!=null){
        smFlexGrid.selectionMode = sender.selectedValue;
    }
}

                        </div>
                        <div class="tab-pane pane-content" id="smCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.Settings = CreateSettings();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }

        private IDictionary<string, object[]> CreateSettings()
        {
            var settings = new Dictionary<string, object[]>
            {
                {"SelectionMode",new object[]{SelectionMode.None.ToString(),SelectionMode.Cell.ToString(),SelectionMode.CellRange.ToString(),SelectionMode.Row.ToString(),SelectionMode.RowRange.ToString(),SelectionMode.ListBox.ToString(),SelectionMode.MultiRange.ToString()}}
            };
            return settings;
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Result (live):</h4>
                <c1-flex-grid id="smFlexGrid"
                              is-read-only="true"
                              auto-generate-columns="false"
                              allow-sorting="true" selection-mode="None">
                    <c1-flex-grid-column binding="ID"></c1-flex-grid-column>                    
                    <c1-flex-grid-column binding="Country" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Amount" format="n0" width="*"></c1-flex-grid-column>                    
                    <c1-flex-grid-column binding="Discount" format="p0" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Active" width="*"></c1-flex-grid-column>
                    <c1-items-source source-collection="@Model.CountryData"></c1-items-source>
                </c1-flex-grid>
                <br />Selection Mode
                <c1-combo-box id="smMenu" selected-index="0" selected-index-changed="smMenu_SelectedIndexChanged">
                    <c1-items-source source-collection="@Model.Settings["SelectionMode"]"></c1-items-source>
                </c1-combo-box>
            </div>
        </div>
    </div>



    <!-- editing -->
    <div>
        <h2>Editing</h2>
        <p>
            FlexGrid has built-in support for fast, in-cell editing like you find in Excel. There is no
            need to add extra columns with Edit buttons that switch between display and edit modes.
        </p>
        <p>
            Users can start editing by typing into any cell. This puts the cell in quick-edit mode.
            In this mode, pressing a cursor key finishes the editing and moves the selection to a different cell.
        </p>
        <p>
            Another way to start editing is by pressing F2 or by clicking a cell twice. This puts the cell in
            full-edit mode. In this mode, pressing a cursor key moves the caret within the cell text.
            To finish editing and move to another cell, the user must press the Enter, Tab, or Escape key.
        </p>
        <p>
            Data is automatically coerced to the proper type when editing finishes. If the user enters invalid
            data, the edit is cancelled and the original data remains in place.
        </p>
        <p>
            You can disable editing at the Grid, Column, or Row levels using the <b>is-read-only</b> property of the
            Grid, Column, or Row objects. In this example, we make the ID and Country columns read-only.
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#eHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#eCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="eHtml">

&lt;c1-flex-grid id="eFlexGrid"                              
    auto-generate-columns="false"
    allow-sorting="true"&gt;
    &lt;c1-flex-grid-column binding="ID" is-read-only="true"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Country" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Amount" format="n0" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Discount" format="p0" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Active" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source read-action-url="@@Url.Action("GridRead")" update-action-url="@@Url.Action("EGridUpdate")"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;

                        </div>
                        <div class="tab-pane pane-content" id="eCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            return View();
        }

        public ActionResult GridRead([C1JsonRequest] CollectionViewRequest&lt;Sale&gt; requestData)
        {
            return this.C1Json(CollectionViewHelper.Read(requestData, FlexGridModel.Source));
        }

        public ActionResult EGridUpdate([C1JsonRequest]CollectionViewEditRequest&lt;Sale&gt; requestData)
        {
            return this.C1Json(CollectionViewHelper.Edit(requestData, sale =&gt;
            {
                string error = string.Empty;
                bool success = true;
                var fSale = FlexGridModel.Source.Find(item =&gt; item.ID == sale.ID);
                fSale.Amount = sale.Amount;
                fSale.Discount = sale.Discount;
                fSale.Active = sale.Active;
                return new CollectionViewItemResult&lt;Sale&gt;
                {
                    Error = error,
                    Success = success,
                    Data = fSale
                };
            }, () =&gt; FlexGridModel.Source));
        }
    }
}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Result (live):</h4>
                <c1-flex-grid id="eFlexGrid"                              
                              auto-generate-columns="false"
                              allow-sorting="true">
                    <c1-flex-grid-column binding="ID" is-read-only="true"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Country" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Amount" format="n0" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Discount" format="p0" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Active" width="*"></c1-flex-grid-column>
                    <c1-items-source read-action-url="@Url.Action("GridRead")" update-action-url="@Url.Action("EGridUpdate")"></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>


    <!-- grouping -->
    <div>
        <h2>
            Grouping
        </h2>
        <p>
            FlexGrid supports grouping through the <b>ICollectionView</b> interface, which is identical to the
            one in .NET. To enable grouping, add one or more <b>GroupDescription</b> objects to the
            <b>CollectionView.groupDescriptions</b> property, and ensure that the grid's <b>show-groups</b> property
            is set to true (the default value).
        </p>
        <p>
            <b>GroupDescription</b> objects are flexible, allowing you to group data based on value or on grouping
            functions. The example below groups dates by year; amounts by range returning three ranges: over 5,000,
            1,000 to 5,000, 500 to 1,000, and under 500; and anything else by value. Use the menu to see the effects of each grouping.
        </p>
        <p>
            Notice that the "Amount" column displays the totals in the group rows. We do this by
            setting the column's <b>aggregate</b> property to "C1.Web.Mvc.Grid.Aggregate.Sum". The aggregate is automatically
            updated when you edit the values in the column.
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#gHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#gJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#gCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="gHtml">

&lt;c1-flex-grid id="gFlexGrid"
    auto-generate-columns="false"
    allow-sorting="true" group-by="Country"&gt;
    &lt;c1-flex-grid-column binding="Country" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Product" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Color" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Start" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Amount" format="n0" aggregate="Sum" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Active" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;
&lt;br /&gt;Group By
&lt;c1-combo-box id="gMenu" selected-index="0" selected-index-changed="gMenu_SelectedIndexChanged"&gt;
    &lt;c1-items-source source-collection="@@Model.Settings["GroupBy"]"&gt;&lt;/c1-items-source&gt;
&lt;/c1-combo-box&gt;

                        </div>
                        <div class="tab-pane pane-content" id="gJs">

//Group By Modules
function gMenu_SelectedIndexChanged(sender) {
    var grid = wijmo.Control.getControl("#gFlexGrid");
    if (sender.selectedValue && grid) {
        var name = sender.selectedValue;
        var groupDescriptions = grid.collectionView.groupDescriptions;
        grid.beginUpdate();
        groupDescriptions.clear();

        if (name.indexOf("Country") > -1) {
            groupDescriptions.push(new wijmo.collections.PropertyGroupDescription("Country"));
        }

        if (name.indexOf("Product") > -1) {
            groupDescriptions.push(new wijmo.collections.PropertyGroupDescription("Product"));
        }

        if (name.indexOf("Color") > -1) {
            groupDescriptions.push(new wijmo.collections.PropertyGroupDescription("Color"));
        }

        if (name.indexOf("Start") > -1) {
            groupDescriptions.push(new wijmo.collections.PropertyGroupDescription("Start", function (item, prop) {
                var value = item[prop];
                return value.getFullYear() + "/" + value.getMonth();
            }));
        }

        if (name.indexOf("Amount") > -1) {
            groupDescriptions.push(new wijmo.collections.PropertyGroupDescription("Amount", function (item, prop) {
                var value = item[prop];
                if (value <= 500) {
                    return "<500";
                }

                if (value > 500 && value <= 1000) {
                    return "500 to 1000";
                }

                if (value > 1000 && value <= 5000) {
                    return "1000 to 5000";
                }

                return "More than 5000";
            }));
        }
        grid.endUpdate();
    }
}

</div>
                        <div class="tab-pane pane-content" id="gCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.Settings = CreateSettings();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }

        private IDictionary<string, object[]> CreateSettings()
        {
            var settings = new Dictionary<string, object[]>
            {                
                {"GroupBy", new object[]{"Country", "Product", "Color","Start","Amount","Country and Product","Product and Color", "None"}}
            };
            return settings;
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Result (live):</h4>
                <c1-flex-grid id="gFlexGrid" 
                              auto-generate-columns="false"
                              allow-sorting="true" group-by="Country">                    
                    <c1-flex-grid-column binding="Country" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Product" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Color" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Start" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Amount" format="n0" aggregate="Sum" width="*"></c1-flex-grid-column>
                    <c1-items-source source-collection="@Model.CountryData"></c1-items-source>
                </c1-flex-grid>
                <br />Group By
                <c1-combo-box id="gMenu" selected-index="0" selected-index-changed="gMenu_SelectedIndexChanged">
                    <c1-items-source source-collection="@Model.Settings["GroupBy"]"></c1-items-source>
                </c1-combo-box>
            </div>
        </div>
    </div>


    <!-- filtering -->
    <div>
        <h2>Filtering</h2>
        <p>
            The FlexGrid supports filtering through the <b>&lt;c1-flex-grid-filter&gt;&lt;/c1-flex-grid-filter&gt; </b> tag. To enable filtering, add the <b>&lt;c1-flex-grid-filter default-filter-type="C1.Web.Mvc.FilterType.Both"&gt;&lt;/c1-flex-grid-filter&gt; </b> tag within &lt;c1-flex-grid&gt;&lt;/c1-flex-grid&gt; tag.
        </p>
        <p>
            In this example, we create a filter for the ID, Country, Product, Color, Start and get the filter value from the input control.
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#fHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#fCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="fHtml">

&lt;c1-flex-grid id="fFlexGrid"
    auto-generate-columns="false"
    is-read-only="true"
    allow-sorting="true"&gt;
    &lt;c1-flex-grid-column binding="ID"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Country"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Product"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Color"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Start" format="MMM d yy"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Discount" format="p0"&gt;&lt;/c1-flex-grid-column&gt;                    
    &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
    &lt;c1-flex-grid-filter default-filter-type="Both"&gt;
        &lt;c1-flex-grid-column-filter column="ID" filter-type="FilterType.Condition"&gt;&lt;/c1-flex-grid-column-filter&gt;
        &lt;c1-flex-grid-column-filter column="Country" filter-type="FilterType.Value"&gt;&lt;/c1-flex-grid-column-filter&gt;
        &lt;c1-flex-grid-column-filter column="Product" filter-type="FilterType.None"&gt;&lt;/c1-flex-grid-column-filter&gt;
        &lt;c1-flex-grid-column-filter column="Color" filter-type="FilterType.Both"&gt;&lt;/c1-flex-grid-column-filter&gt;
        &lt;c1-flex-grid-column-filter column="Start" filter-type="FilterType.Both"&gt;&lt;/c1-flex-grid-column-filter&gt;
    &lt;/c1-flex-grid-filter&gt; 
&lt;/c1-flex-grid&gt;

                        </div>
                        <div class="tab-pane pane-content" id="fCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }
    }
}


                        
</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Result (live):</h4>
                <c1-flex-grid id="fFlexGrid"
                              auto-generate-columns="false"
                              is-read-only="true"
                              allow-sorting="true">
                    <c1-flex-grid-column binding="ID"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Country"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Product"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Color"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Start" format="MMM d yy"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Discount" format="p0"></c1-flex-grid-column>
                    <c1-items-source source-collection="@Model.CountryData"></c1-items-source>
                    <c1-flex-grid-filter default-filter-type="Both">
                        <c1-flex-grid-column-filter column="ID" filter-type="FilterType.Condition"></c1-flex-grid-column-filter>
                        <c1-flex-grid-column-filter column="Country" filter-type="FilterType.Value"></c1-flex-grid-column-filter>
                        <c1-flex-grid-column-filter column="Product" filter-type="FilterType.None"></c1-flex-grid-column-filter>
                        <c1-flex-grid-column-filter column="Color" filter-type="FilterType.Both"></c1-flex-grid-column-filter>
                        <c1-flex-grid-column-filter column="Start" filter-type="FilterType.Both"></c1-flex-grid-column-filter>
                    </c1-flex-grid-filter> 
                </c1-flex-grid>
            </div>
        </div>
    </div>



    <!-- paging -->
    <div>
        <h2>Paging</h2>
        <p>
            The FlexGrid supports paging through the <b>&lt;c1-pager owner="pFlexGrid"&gt;&lt;/c1-pager&gt;</b> tag. 
            To enable paging, set the <b>page-size</b> atrribute of &lt;c1-items-source&gt; to the number
            of items you want on each page, and use Pager control to bind this FlexGrid.
        </p>
        <p>
            In this example, we set <b>PageSize</b> to show 10 items per page. We add Pager control and set <b>owner</b> attribute to the FlexGrid id,
            then we can switch pages.
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#pHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#pCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="pHtml">

&lt;c1-flex-grid id="pFlexGrid"
    auto-generate-columns="false"
    is-read-only="true"
    allow-sorting="true"
    height="100%"&gt;
    &lt;c1-flex-grid-column binding="ID"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Country"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Product"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Color"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Start" format="MMM d yy"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Discount" format="p0"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source source-collection="@@Model.CountryData" page-size="10"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;
&lt;c1-pager owner="pFlexGrid"&gt;&lt;/c1-pager&gt;

                        </div>
                        <div class="tab-pane pane-content" id="pCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }
    }
}


                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Result (live):</h4>
                <c1-flex-grid id="pFlexGrid"
                              auto-generate-columns="false"
                              is-read-only="true"
                              allow-sorting="true"
                              height="100%">
                    <c1-flex-grid-column binding="ID"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Country"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Product"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Color"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Start" format="MMM d yy"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Discount" format="p0"></c1-flex-grid-column>
                    <c1-items-source source-collection="@Model.CountryData" page-size="10"></c1-items-source>
                </c1-flex-grid>
                <c1-pager owner="pFlexGrid"></c1-pager>
            </div>
        </div>
    </div>

    <!-- conditional styling -->
    <div>
        <h2>Conditional Styling</h2>
        <p>
            FlexGrid has an <b>item-formatter</b> property that gives you complete control over
            the contents of the cells.
        </p>
        <p>
            This example uses a JavaScript function to create value ranges that return named
            colors. We then call this function in the FlexGrid's <b>item-formatter</b> and pass the cell's data
            in order to conditionally set the cell's foreground color.
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#csHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#csJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#csCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="csHtml">

&lt;c1-flex-grid id="csFlexGrid"
    auto-generate-columns="false"
    is-read-only="true"
    allow-sorting="true"
    item-formatter="csFlexGrid_ItemFormatter"&gt;
    &lt;c1-flex-grid-column binding="Country"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Product"&gt;&lt;/c1-flex-grid-column&gt;                    
    &lt;c1-flex-grid-column binding="Discount" format="p0"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Amount" format="n0"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;

                        </div>
                        <div class="tab-pane pane-content" id="csJs">

//Conditional styling Modules
function csFlexGrid_ItemFormatter(panel, r, c, cell) {
    if (wijmo.grid.CellType.Cell == panel.cellType && panel.columns[c].binding == '_Color') {
        var cellData = panel.getCellData(r, c);
        cell.style.color = cellData < 0 ? 'red' : cellData < 500 ? 'black' : 'green';
    }
    if (wijmo.grid.CellType.Cell == panel.cellType && panel.columns[c].binding == 'Amount') {
        var cellData = panel.getCellData(r, c);
        cell.style.color = cellData < 0 ? 'red' : cellData < 500 ? 'black' : 'green';
    }
    if (wijmo.grid.CellType.Cell == panel.cellType && panel.columns[c].binding == 'Discount') {
        var cellData = panel.getCellData(r, c);
        cell.style.color = cellData < .1 ? 'red' : cellData < .2 ? 'black' : 'green';
    }
}


                        </div>
                        <div class="tab-pane pane-content" id="csCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }
    }
}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Result (live):</h4>
                <c1-flex-grid id="csFlexGrid"
                              auto-generate-columns="false"
                              is-read-only="true"
                              allow-sorting="true"
                              item-formatter="csFlexGrid_ItemFormatter">
                    <c1-flex-grid-column binding="Country"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Product"></c1-flex-grid-column>                    
                    <c1-flex-grid-column binding="Discount" format="p0"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Amount" format="n0"></c1-flex-grid-column>
                    <c1-items-source source-collection="@Model.CountryData"></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>


    <!-- themes -->
    <div>
        <h2>Themes</h2>
        <p>
            The appearance of the FlexGrid is defined in CSS. In addition to the default theme, we
            include about a dozen professionally designed themes that customize the appearance of
            all Wijmo controls to achieve a consistent, attractive look.
        </p>
        <p>
            You can customize the appearance of the grid using CSS. To do this, copy CSS rules
            from the default theme to a new CSS file and modify the style attributes you want to change.
        </p>
        <p>
            In this example, we add a "custom-flex-grid" class to the grid element by using <strong>class</strong> property and define some
            CSS rules to create a simple "black and white, no borders" theme for any grids that
            have the "custom-flex-grid" class.
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#tCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#tCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="tHtml">

&lt;c1-flex-grid id="tFlexGrid"
    auto-generate-columns="false"
    is-read-only="true"
    allow-sorting="true"
    class="custom-flex-grid"&gt;
    &lt;c1-flex-grid-column binding="Country"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Product"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Discount" format="p0"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Amount" format="n0"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source source-collection="@@Model.CountryData"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;

                        </div>
                        <div class="tab-pane pane-content" id="tCss">

/* create a 'custom-flex-grid' theme for the FlexGrid */
.custom-flex-grid .wj-header.wj-cell {
	color: #fff;
	background-color: #000;
	border-bottom: solid 1px #404040;
	border-right: solid 1px #404040;
	font-weight: bold;
}

.custom-flex-grid .wj-cell {
	background-color: #fff;
	border: none;
}

.custom-flex-grid .wj-alt:not(.wj-state-selected):not(.wj-state-multi-selected) {
	background-color: #fff;
}

.custom-flex-grid .wj-state-selected {
	background: #000;
	color: #fff;
}

.custom-flex-grid .wj-state-multi-selected {
	background: #222;
	color: #fff;
}

                        </div>
                        <div class="tab-pane pane-content" id="tCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;

namespace ASPNetMVCFlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexGridModel model = new FlexGridModel();
            model.CountryData = Sale.GetData(500);
            return View(model);
        }
    }
}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Result (live):</h4>
                <c1-flex-grid id="tFlexGrid"
                              auto-generate-columns="false"
                              is-read-only="true"
                              allow-sorting="true"
                              class="custom-flex-grid">
                    <c1-flex-grid-column binding="Country"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Product"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Discount" format="p0"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Amount" format="n0"></c1-flex-grid-column>
                    <c1-items-source source-collection="@Model.CountryData"></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>

    <!-- trees/hierarchical data -->
    <div>
        <h2>Trees and Hierarchical Data</h2>
        <p>
            In addition to grouping, FlexGrid supports hierarchical data, that is, data with items
            that have lists of subitems. This type of hierarchical structure is very common, and is
            usually displayed in a tree-view control.
        </p>
        <p>
            To use FlexGrid with hierarchical data sources, set the <b>child-items-path</b> property
            to the name of the data element that contains the child elements. The grid automatically
            scans the data and builds the tree for you.
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tvHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#tvCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#tvCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="tvHtml">

@@inject IApplicationEnvironment appEnvironment
@@{
    var list = Folder.Create(appEnvironment.ApplicationBasePath).Children;
}
&lt;c1-flex-grid id="tvFlexGrid"
    auto-generate-columns="false"
    is-read-only="true"
    allow-sorting="true"
    class="custom-flex-grid"
    child-items-path="Children"&gt;
    &lt;c1-flex-grid-column binding="Header" header="Folder/File Name" width="*"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Size" header="Size" width="80" align="center"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source source-collection="@@list"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;

                        </div>
                        <div class="tab-pane pane-content" id="tvCss">

/* create a 'custom-flex-grid' theme for the FlexGrid */
.custom-flex-grid .wj-header.wj-cell {
	color: #fff;
	background-color: #000;
	border-bottom: solid 1px #404040;
	border-right: solid 1px #404040;
	font-weight: bold;
}

.custom-flex-grid .wj-cell {
	background-color: #fff;
	border: none;
}

.custom-flex-grid .wj-alt:not(.wj-state-selected):not(.wj-state-multi-selected) {
	background-color: #fff;
}

.custom-flex-grid .wj-state-selected {
	background: #000;
	color: #fff;
}

.custom-flex-grid .wj-state-multi-selected {
	background: #222;
	color: #fff;
}

</div>
                        <div class="tab-pane pane-content" id="tvCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            return View();
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Result (live):</h4>
                <c1-flex-grid id="tvFlexGrid"
                              auto-generate-columns="false"
                              is-read-only="true"
                              allow-sorting="true"
                              class="custom-flex-grid"
                              child-items-path="Children">
                    <c1-flex-grid-column binding="Header" header="Folder/File Name" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Size" header="Size" width="80" align="center"></c1-flex-grid-column>
                    <c1-items-source source-collection="@list"></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>


    <!-- handling null values -->
    <div>
        <h2>Handling null values</h2>
        <p>
            By default, FlexGrid allows you to enter empty values in columns of type string,
            and will not allow empty/null values in columns of any other type.
        </p>
        <p>
            You can change this behavior using the <b>is-required</b> property on grid columns.
            If you set the <b>is-required</b> property to false, the grid will allow you to
            enter empty values in that column, regardless of type. Conversely, if you set
            the <b>is-required</b> property to true, the grid will not allow empty values
            even in string columns.
        </p>
        <p>
            Setting <b>is-required</b> to null reverts to the default behavior (nulls allowed
            only in string columns).
        </p>
        <p>
            The grid below reverts the default behavior. It sets <b>is-required</b> to false
            for the first column, and to true for all others. You can delete content that
            is not required by entering an empty string or simply by pressing the delete
            key.
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#nvHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#nvCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="nvHtml">

&lt;c1-flex-grid id="nvGrid"
    auto-generate-columns="false"
    allow-sorting="true"&gt;
    &lt;c1-flex-grid-column binding="ID" is-read-only="true" is-required="false"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Country" is-required="false"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Product" is-required="true"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Discount" format="p0" is-required="true"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-flex-grid-column binding="Amount" format="n0" is-required="true"&gt;&lt;/c1-flex-grid-column&gt;
    &lt;c1-items-source read-action-url="@@Url.Action("GridRead")" update-action-url="@@Url.Action("NVGridUpdate")"&gt;&lt;/c1-items-source&gt;
&lt;/c1-flex-grid&gt;

                        </div>
                        <div class="tab-pane pane-content" id="nvCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexGrid101.Models;
using C1.Web.Mvc.Grid;

namespace FlexGrid101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            return View();
        }
    }

    public ActionResult GridRead([C1JsonRequest] CollectionViewRequest&lt;Sale&gt; requestData)
    {
        return this.C1Json(CollectionViewHelper.Read(requestData, FlexGridModel.Source));
    }

    public ActionResult NVGridUpdate([C1JsonRequest]CollectionViewEditRequest&lt;Sale&gt; requestData)
    {
        return this.C1Json(CollectionViewHelper.Edit(requestData, sale =&gt;
        {
            string error = string.Empty;
            bool success = true;
            var fSale = FlexGridModel.Source.Find(item =&gt; item.ID == sale.ID);
            fSale.Country = sale.Country;
            fSale.Product = sale.Product;
            fSale.Amount = sale.Amount;
            fSale.Discount = sale.Discount;
            return new CollectionViewItemResult&lt;Sale&gt;
            {
                Error = error,
                Success = success,
                Data = fSale
            };
        }, () =&gt; FlexGridModel.Source));
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Result (live):</h4>
                <c1-flex-grid id="nvGrid"
                              auto-generate-columns="false"                              
                              allow-sorting="true">
                    <c1-flex-grid-column binding="ID" is-read-only="true" is-required="false"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Country" is-required="false"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Product" is-required="true"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Discount" format="p0" is-required="true"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Amount" format="n0" is-required="true"></c1-flex-grid-column>
                    <c1-items-source read-action-url="@Url.Action("GridRead")" update-action-url="@Url.Action("NVGridUpdate")"></c1-items-source>
                </c1-flex-grid>
            </div>
        </div>
    </div>

</div>