﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/Content/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#503b75">
    
    @Html.C1().Styles()
    @Styles.Render("~/Content/css/site")
    @Scripts.Render("~/bundles/modernizr")
    @Html.C1().Scripts().Olap()
</head>
<body>

    <div class="hide">
        @Html.Partial("_SiteNav", true)
    </div>
    <header>
        <div class="hamburger-nav-btn narrow-screen"><span class="icon-bars"></span></div>
        <a class="logo-container" href="https://www.grapecity.com/en/webapi" target="_blank">
            <i class="gcicon-product-c1"></i>@Html.Raw(Resources.Resource.Layout_ComponentOne)
        </a>
        @if (ViewBag.Email != null)
        {
        <div class="wide-screen user-panel">
            <span class="glyphicon glyphicon-user"></span> <span>@ViewBag.Email (@ViewBag.Role)</span><br />
            <a class="signout-btn" href="javascript:void(0)" onclick="logout()">
                @Html.Raw(Resources.Resource.SiteNav_SignOut)
            </a>
        </div>
        }
        <div class="task-bar">
            <span class="semi-bold">@ViewBag.Title</span>
            @Html.Partial("_SiteNav", false)
        </div>
    </header>
    @RenderBody()
    <footer>
        <a href="http://www.grapecity.com/">
            <i class="gcicon-logo-gc-horiz"></i>
        </a>
        <p>
            © @DateTime.Now.Year @Html.Raw(Resources.Resource.Layout_License1)<br />
            @Html.Raw(Resources.Resource.Layout_License2)
        </p>
        @{
            var url = Request.Url;
            var urlStr = url.OriginalString.Substring(0, url.OriginalString.Length - (url.Query == null ? 0 : url.Query.Length));
        }
        <a href="http://www.facebook.com/sharer.php?u=@urlStr" target="_blank">
            <img src="~/Content/css/images/icons/32/picons36.png" alt="facebook" />
        </a>
        <a href="http://twitter.com/share?text=Have you seen this? C1Studio Web API&url=@urlStr" target="_blank">
            <img src="~/Content/css/images/icons/32/picons33.png" alt="Twitter" />
        </a>
    </footer>
    @Html.C1().Popup().Id("msgPopup").Modal(true).HideTrigger(PopupTrigger.None).Content(
    @<div>
         <div class="modal-body">
             @Html.Raw(Resources.Resource.Layout_Loading)
         </div>
         <div class="modal-footer">
             <button class="btn" onclick="closeMsgPopup()">
                 @Html.Raw(Resources.Resource.Layout_Close)
             </button>
         </div>
    </div>)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    <script>
        var homeUrl = '@Url.Action("Index", "Home")';
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
