﻿body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    padding: 0 0 10px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}

.header {
    background-color: #ff000a;
    margin-bottom: 14px;
    padding: 12px 0;
}

.header h1 {
    font-size: 40px;
    line-height: 1;
    margin: 8px 0 5px 0;
}

.header img {
     float: left;
     margin: 0 10px 5px 0;
}

/*.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}*/

h2 {
    margin: 15px 0 30px -12px;
}

.wj-flexchart {
    border: none;
    font-size: 12px;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    padding: 0px;
    margin: 0px;
}

    .wj-flexchart .wj-plot-area {
        stroke: lightgray;
        stroke-width: 1px;
    }

    .wj-flexchart .wj-axis-y .wj-title {
        font-style: normal;
    }

.marker {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2px;
    font-size: 12px;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    color: darkgray;
    overflow:hidden;
}

.marker-line {
    background-color: transparent;
    border-left: 2px solid #808080;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    pointer-events: none;
    visibility: hidden;
}

.scroller {
    border: 2px solid darkgray;
    position: absolute;
    display: block;
    width: 20px;
    height: 0px;
    visibility: hidden;
}

.scroller-center {
    background: rgba(128, 128, 128, 0.1);
    position: absolute;
    display: block;
    width: 20px;
    height: 0px;
}

@media(max-width: 991px) {
    .header h1 {
        font-size: 22px;
        line-height: 1;
        margin-top: 7px;
        color: #fff;
    }

    h2 {
        font-size: 22px;
        margin: 10px 0 25px 0;
    }

    h4 {
        display: none;
    }
}

@media(max-width: 767px) {
    code {
        white-space: normal;
    }
}

    #chart2 .wj-chart-linemarker-vline {
    margin-top: -99px;
}

#chart3 .wj-chart-linemarker-vline {
    margin-top: -220px;
}