﻿@using Resources;
@{
    ViewBag.Title = "FlexGrid Column Groups";
}

<p>
    @Html.Raw(Resource.Index_View_P1)
</p>
<p>
    @Html.Raw(Resource.Index_View_P2)
</p>
<p>
    @Html.Raw(Resource.Index_View_P3)
</p>

<h3>
    @Resource.SectionTitle_W3C
</h3>
<p>
    @Html.Raw(Resource.Index_View_W3C_P1)
</p>
@(Html.C1().FlexGrid()
        .Id("w3cFlexGrid")
        .IsReadOnly(true).Filterable())

<h3>
    @Resource.SectionTitle_Financial
</h3>
<p>
    @Html.Raw(Resource.Index_View_Financial_P1)
</p>
@(Html.C1().FlexGrid()
        .Id("fnFlexGrid")
        .IsReadOnly(true).Filterable())

