﻿@{
    ViewData["Title"] = "Home Page";
    List<Person.NamedCountry> Countries = ViewBag.Countries;
}

<br />
<div>
    <input type="button" id="btn_save" value="Save Data" onclick="btn_save_click()" />
</div>
<br />

<c1-flex-grid id="flexGrid"
              is-read-only="false"
              auto-generate-columns="false"
              auto-clipboard="true"
              sorting-type="SingleColumn"
              allow-add-new="true"
              allow-delete="true"
              selection-mode="Row"
              height="500px">
    <c1-items-source batch-edit-action-url="@Url.Action("Save")" disable-server-read="true"></c1-items-source>
    <c1-flex-grid-column binding="Id" width="0.4*" is-read-only="true"></c1-flex-grid-column>
    <c1-flex-grid-column binding="First" header="FirstName" width="*" name="FirstName"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Last" header="LastName" width="*" name="LastName"></c1-flex-grid-column>
    <c1-flex-grid-column binding="CountryID" header="Country" width="*" name="Country">
        <c1-data-map display-member-path="Name" selected-value-path="Id" sort-by-display-values="true">
            <c1-items-source source-collection="Countries"></c1-items-source>
        </c1-data-map>
    </c1-flex-grid-column>
    <c1-flex-grid-column binding="Hired" header="Hired" format="d" width="*" name="Hired"></c1-flex-grid-column>
</c1-flex-grid>

@section Scripts{
<script>
    function btn_save_click() {
        var flex = wijmo.Control.getControl("#flexGrid"),
        cv = flex.collectionView;
        cv.commit();
    }

    c1.documentReady(function () {
        $.ajax({
            type: "POST",
            url: '@(Url.Content("~/Home/ReadAction"))',
            dataType: "json",
            success: function (result) {
                var flex = wijmo.Control.getControl("#flexGrid"),
                    cv = flex.collectionView;
                try {
                    cv._isFillingData = true;
                    cv.deferUpdate(function () {
                        cv.sourceCollection.clear();
                        result.forEach(function (item) {
                            item.Hired = new Date(item.Hired);
                            cv.sourceCollection.push(item);
                        });
                    })
                } finally {
                    cv._isFillingData = false;
                }
            },
            error: function (err) {

            }
        });
    });
</script>
}