﻿@using FlexChartAnalytics.Models
@using C1.Web.Mvc.Chart

@model FlexChartAnalytics.Models.FlexChartModal

@{
    ViewBag.Title = "FlexChart for ASP.NET MVC分析";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/Content/images/c1logo.png")" alt="Component One ASP.NET MVC" />
        <h1>
            FlexChart for ASP.NET MVC分析
        </h1>
        <p>
            このページは、ASP.NET MVCのFlexChartコントロールで関数シリーズとトレンドラインを使用する方法を示しています。
        </p>
    </div>
</div>

<div class="container">
    <div class="sample-page download-link">
        <a href="https://www.grapecity.co.jp/developer/download#net">トライアル版</a>
    </div>

    <!-- はじめに -->
    <div>
        <h2>はじめに</h2>
        <p>
            MVCアプリケーションでFlexChart分析機能を使用するための手順。
        </p>
        <ol>
            <li>ComponentOne ASP.NET MVCアプリケーションテンプレートを使用して新しいMVCプロジェクトを作成します。</li>
            <li>コントローラと対応するビューをプロジェクトに追加します。</li>
            <li>Razor構文を使用して、ビューでChartコントロールを初期化します。</li>
            <li>（オプション）1つ以上のデータ系列を作成し、それぞれをFlexChartの系列コレクションに追加します。</li>
            <li>1つまたは複数のトレンドラインまたは関数シリーズを作成し、それぞれをFlexChartのシリーズコレクションに追加します。</li>
            <li>（オプション）FlexChartコントロールの外観をカスタマイズするCSSを追加します。</li>
        </ol>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#gsHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#gsCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#gsCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="gsHtml">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;                                    
                                
    &lt;/head&gt;
    &lt;body&gt;

        @@(Html.C1().FlexChart().Id("gettingStartedChart")
            .Bind("X", Model.MathPoints10)
            .Series(ss =&gt;
            {
                ss.Add(ChartType.Scatter, "Origin").Binding("Y");
                ss.AddTrendLine("Trend Line").Binding("Y").SampleCount(100);
            })
        )

    &lt;/body&gt;
&lt;/html&gt;
                        </div>
                        <div class="tab-pane pane-content" id="gsCss">
.wj-flexchart {
	height: 400px;
	background-color: white;
	box-shadow: 4px 4px 10px 0 rgba(50, 50, 50, 0.75);
	padding: 8px;
	margin-bottom: 12px;
}
                        </div>
                        <div class="tab-pane pane-content" id="gsCS">
using FlexChartAnalytics.Models;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;

namespace FlexChartAnalytics.Controllers
{
    public class HomeController : Controller
    {
        //
        // GET: /Home/

        public ActionResult Index()
        {
            FlexChartModal model = new FlexChartModal();
            model.Settings = CreateIndexSettings();
            model.MathPoints10 = MathPoint.GetMathPointList(10);
            model.MathPoints40 = MathPoint.GetMathPointList(40);
            model.MonthSales = MonthSale.GetData();

            return View(model);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"TrendLineFitType", new object[]{"Linear", "Exponential", "Logarithmic", "Power", "Fourier", "Polynomial", "MinX", "MinY", "MaxX", "MaxY", "AverageX", "AverageY"}},
                {"MovingAverageType", new object[]{"Simple", "Weighted", "Exponential", "Triangular"}},
            };

            return settings;
        }
    }
}
                        </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexChart().Id("gettingStartedChart")
                    .Bind("X", Model.MathPoints10)
                    .Series(ss =>
                    {
                        ss.Add(ChartType.Scatter, "Origin").Binding("Y");
                        ss.AddTrendLine("Trend Line").Binding("Y").SampleCount(100);
                    })
                 )
            </div>
        </div>
    </div>

    <!-- TrendLine -->
    <div>
        <h2>トレンドライン</h2>
        <p>
            TrendLineの<b>fitType</b>プロパティを設定すると、異なる傾向線タイプを使用できます。
        </p>
        <p>
            以下の例では、このプロパティを変更したときの動作を確認できます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tlHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#tlJS" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#tlCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="tlHtml">
@@(Html.C1().FlexChart().Id("trendLineChart")
    .Bind("X", Model.MathPoints10)
    .Series(ss =&gt;
    {
        ss.Add(ChartType.Scatter, "Origin").Binding("Y");
        ss.AddTrendLine("Trend Line").Binding("Y").SampleCount(100);
    })
)

&lt;div class="form-horizontal"&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="col-md-3 control-label"&gt;フィットタイプ&lt;/label&gt;
        &lt;div class="col-md-5"&gt;
            @@(Html.C1().ComboBox().Id("fitTypeMenu").Width("100%").Bind(Model.Settings["TrendLineFitType"])
                .SelectedValue("Linear").OnClientSelectedIndexChanged("fitTypeMenu_SelectedIndexChanged")
            )
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="tlJS">
function fitTypeMenu_SelectedIndexChanged(sender) {
    if (sender.selectedValue) {
        var trendLineChart = wijmo.Control.getControl("#trendLineChart");
        trendLineChart.series[1].fitType = parseInt(sender.selectedIndex);
    }
}
                        </div>
                        <div class="tab-pane pane-content" id="tlCS">
using FlexChartAnalytics.Models;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;

namespace FlexChartAnalytics.Controllers
{
    public class HomeController : Controller
    {
        //
        // GET: /Home/

        public ActionResult Index()
        {
            FlexChartModal model = new FlexChartModal();
            model.Settings = CreateIndexSettings();
            model.MathPoints10 = MathPoint.GetMathPointList(10);
            model.MathPoints40 = MathPoint.GetMathPointList(40);
            model.MonthSales = MonthSale.GetData();

            return View(model);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"TrendLineFitType", new object[]{"Linear", "Exponential", "Logarithmic", "Power", "Fourier", "Polynomial", "MinX", "MinY", "MaxX", "MaxY", "AverageX", "AverageY"}},
                {"MovingAverageType", new object[]{"Simple", "Weighted", "Exponential", "Triangular"}},
            };

            return settings;
        }
    }
}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexChart().Id("trendLineChart")
                    .Bind("X", Model.MathPoints10)
                    .Series(ss =>
                    {
                        ss.Add(ChartType.Scatter, "Origin").Binding("Y");
                        ss.AddTrendLine("Trend Line").Binding("Y").SampleCount(100);
                    })
                 )

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">フィットタイプ</label>
                        <div class="col-md-5">
                            @(Html.C1().ComboBox().Id("fitTypeMenu").Width("100%").Bind(Model.Settings["TrendLineFitType"])
                                .SelectedValue("Linear").OnClientSelectedIndexChanged("fitTypeMenu_SelectedIndexChanged")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MovingAverage -->
    <div>
        <h2>移動平均</h2>
        <p>
            MovingAverageの<b>type</b>プロパティを設定すると、異なる移動平均タイプを使用できます。
        </p>
        <p>
            MovingAverageクラスには、平均値の計算に使用する期間数を設定できる<b>period</b>プロパティがあります。
        </p>
        <p>
            以下の例では、これらのプロパティを変更したときの動作を確認できます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#maHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#maJS" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#maCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="maHtml">
@@(Html.C1().FlexChart().Id("movingAverageChart")
    .Bind("X", Model.MathPoints40)
    .Series(ss =&gt;
    {
        ss.Add(ChartType.Scatter, "Origin").Binding("Y");
        ss.AddMovingAverage("MA").Binding("Y").SampleCount(100);
    })
)

&lt;div class="form-horizontal"&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="col-md-3 control-label"&gt;Type&lt;/label&gt;
        &lt;div class="col-md-5"&gt;
            @@(Html.C1().ComboBox().Id("movingAverageTypeEnum").Width("100%")
                .Bind(Model.Settings["MovingAverageType"]).SelectedValue("Simple")
                .OnClientSelectedIndexChanged("movingAverageTypeMenu_SelectedIndexChanged")
        )
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="form-group"&gt;
        &lt;label class="col-md-3 control-label"&gt;Period&lt;/label&gt;
        &lt;div class="col-md-5"&gt;
            @@(Html.C1().InputNumber().Id("movingAveragePeriodInput").Width("100%")
                .Min(2).Max(29).Step(1).Value(2).Format("n0")
                .OnClientValueChanged("movingAveragePeriodInput_ValueChanged")
            )
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="maJS">
function movingAverageTypeMenu_SelectedIndexChanged(sender) {
    if (sender.selectedValue) {
        var movingAverageChart = wijmo.Control.getControl("#movingAverageChart");
        movingAverageChart.series[1].type = parseInt(sender.selectedIndex);
    }
}

function movingAveragePeriodInput_ValueChanged(sender) {
    var movingAverageChart = wijmo.Control.getControl("#movingAverageChart");
    movingAverageChart.series[1].period = sender.value;
}
                        </div>
                        <div class="tab-pane pane-content" id="maCS">
using FlexChartAnalytics.Models;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;

namespace FlexChartAnalytics.Controllers
{
    public class HomeController : Controller
    {
        //
        // GET: /Home/

        public ActionResult Index()
        {
            FlexChartModal model = new FlexChartModal();
            model.Settings = CreateIndexSettings();
            model.MathPoints10 = MathPoint.GetMathPointList(10);
            model.MathPoints40 = MathPoint.GetMathPointList(40);
            model.MonthSales = MonthSale.GetData();

            return View(model);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"TrendLineFitType", new object[]{"Linear", "Exponential", "Logarithmic", "Power", "Fourier", "Polynomial", "MinX", "MinY", "MaxX", "MaxY", "AverageX", "AverageY"}},
                {"MovingAverageType", new object[]{"Simple", "Weighted", "Exponential", "Triangular"}},
            };

            return settings;
        }
    }
}
                        </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexChart().Id("movingAverageChart")
                    .Bind("X", Model.MathPoints40)
                    .Series(ss =>
                    {
                        ss.Add(ChartType.Scatter, "Origin").Binding("Y");
                        ss.AddMovingAverage("MA").Binding("Y").SampleCount(100);
                    })
                 )

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">タイプ</label>
                        <div class="col-md-5">
                            @(Html.C1().ComboBox().Id("movingAverageTypeEnum").Width("100%")
                                .Bind(Model.Settings["MovingAverageType"]).SelectedValue("Simple")
                                .OnClientSelectedIndexChanged("movingAverageTypeMenu_SelectedIndexChanged")
                        )
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">期間</label>
                        <div class="col-md-5">
                            @(Html.C1().InputNumber().Id("movingAveragePeriodInput").Width("100%")
                                .Min(2).Max(29).Step(1).Value(2).Format("n0")
                                .OnClientValueChanged("movingAveragePeriodInput_ValueChanged")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- YFunctionSeries -->
    <div>
        <h2>Y関数シリーズ</h2>
        <p>
            このビューには、FlexChartのY関数シリーズが表示されます。 
            YFunctionSeriesは、数式y=y(x)で定義された関数をプロットすることができます。 
            関数を指定するには、<b>func</b>プロパティを使用します。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#yfsHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#yfsJS" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#yfsCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="yfsHtml">
@@(Html.C1().FlexChart().Id("yFuncSeriesChart")
    .Series(ss =&gt;
    {
        ss.AddYFunctionSeries("YFunc").Min(-10).Max(10).SampleCount(300)
            .Func("yFuncSeriesFunc");
    })
)
                        </div>
                        <div class="tab-pane pane-content" id="yfsJS">
function yFuncSeriesFunc(value) {
    return Math.sin(4 * value) * Math.cos(3 * value);
}
                        </div>
                        <div class="tab-pane pane-content" id="yfsCS">
using FlexChartAnalytics.Models;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;

namespace FlexChartAnalytics.Controllers
{
    public class HomeController : Controller
    {
        //
        // GET: /Home/

        public ActionResult Index()
        {
            FlexChartModal model = new FlexChartModal();
            model.Settings = CreateIndexSettings();
            model.MathPoints10 = MathPoint.GetMathPointList(10);
            model.MathPoints40 = MathPoint.GetMathPointList(40);
            model.MonthSales = MonthSale.GetData();

            return View(model);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"TrendLineFitType", new object[]{"Linear", "Exponential", "Logarithmic", "Power", "Fourier", "Polynomial", "MinX", "MinY", "MaxX", "MaxY", "AverageX", "AverageY"}},
                {"MovingAverageType", new object[]{"Simple", "Weighted", "Exponential", "Triangular"}},
            };

            return settings;
        }
    }
}
                        </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexChart().Id("yFuncSeriesChart")
                    .Series(ss =>
                    {
                        ss.AddYFunctionSeries("YFunc").Min(-10).Max(10).SampleCount(300)
                            .Func("yFuncSeriesFunc");
                    })
                 )
            </div>
        </div>
    </div>

    <!-- ParametricFunctionSeries -->
    <div>
        <h2>パラメーター関数シリーズ</h2>
        <p>
            ParametricFunctionSeriesは、数式x = x(t)およびy = y(t)を用いてパラメーター関数をプロットすることを可能にします。 
            <b>xFunc</b>および<b>yFunc</b>プロパティを使用して、x座標とy座標の関数を指定します。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#pfsHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#pfsJS" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#pfsCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="pfsHtml">
@@(Html.C1().FlexChart().Id("paramFuncSeriesChart")
    .Series(ss =&gt;
    {
        ss.AddParametricFunctionSeries("ParamFunc").Max(2 * Math.PI).SampleCount(1000)
            .XFunc("paramFuncSeriesXFunc").YFunc("paramFuncSeriesYFunc");
    })
)
                        </div>
                        <div class="tab-pane pane-content" id="pfsJS">
function paramFuncSeriesXFunc(value) {
    return Math.cos(value * 5); 
}

function paramFuncSeriesYFunc(value) {
    return Math.sin(value * 7);
}
                        </div>
                        <div class="tab-pane pane-content" id="pfsCS">
using FlexChartAnalytics.Models;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;

namespace FlexChartAnalytics.Controllers
{
    public class HomeController : Controller
    {
        //
        // GET: /Home/

        public ActionResult Index()
        {
            FlexChartModal model = new FlexChartModal();
            model.Settings = CreateIndexSettings();
            model.MathPoints10 = MathPoint.GetMathPointList(10);
            model.MathPoints40 = MathPoint.GetMathPointList(40);
            model.MonthSales = MonthSale.GetData();

            return View(model);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"TrendLineFitType", new object[]{"Linear", "Exponential", "Logarithmic", "Power", "Fourier", "Polynomial", "MinX", "MinY", "MaxX", "MaxY", "AverageX", "AverageY"}},
                {"MovingAverageType", new object[]{"Simple", "Weighted", "Exponential", "Triangular"}},
            };

            return settings;
        }
    }
}
                        </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexChart().Id("paramFuncSeriesChart")
                    .Series(ss =>
                    {
                        ss.AddParametricFunctionSeries("ParamFunc").Max(2 * Math.PI).SampleCount(1000)
                            .XFunc("paramFuncSeriesXFunc").YFunc("paramFuncSeriesYFunc");
                    })
                 )
            </div>
        </div>
    </div>

    <!-- Waterfall -->
    <div>
        <h2>ウォーターフォール</h2>
        <p>
            Waterfallシリーズは、通常、一連の変更によって開始位置がどのように増減するかを示すために使用されます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#wfHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#wfJS" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#wfCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="wfHtml">
@@(Html.C1().FlexChart().Id("waterfallChart")
    .Bind(Model.MonthSales).BindingX("Name").Binding("Value")
)

&lt;div class="form-group"&gt;
    &lt;div class="col-md-offset-3 col-md-9"&gt;
        &lt;div class="checkbox"&gt;
            &lt;label&gt;
                &lt;input id="relativeData" type="checkbox"> 相対データ
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div>
&lt;div class="form-group"&gt;
    &lt;div class="col-md-offset-3 col-md-9"&gt;
        &lt;div class="checkbox"&gt;
            &lt;label&gt;
                &lt;input id="connectorLines" type="checkbox"&gt; 接続線を表示
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
    &lt;div class="col-md-offset-3 col-md-9"&gt;
        &lt;div class="checkbox"&gt;
            &lt;label&gt;
                &lt;input id="showTotal" type="checkbox"&gt; 合計を表示
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
    &lt;div class="col-md-offset-3 col-md-9"&gt;
        &lt;div class="checkbox"&gt;
            &lt;label&gt;
                &lt;input id="showIntermediateTotal" type="checkbox"&gt; 小計を表示
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="wfJS">
var waterfallChart = wijmo.Control.getControl("#waterfallChart"),
    relativeData = document.getElementById('relativeData'),
    connectorLines = document.getElementById('connectorLines'),
    showTotal = document.getElementById('showTotal'),
    showIntermediateTotal = document.getElementById('showIntermediateTotal');

var waterfall = new wijmo.chart.analytics.Waterfall();
waterfall.relativeData = true;
waterfall.connectorLines = true;
waterfall.showTotal = true;
waterfall.start = 1000;
waterfall.showIntermediateTotal = true;
waterfall.intermediateTotalPositions = [3, 6, 9, 12];
waterfall.intermediateTotalLabels = ['Q1', 'Q2', 'Q3', 'Q4'];
waterfall.name = 'Increase,Decrease,Total';
waterfall.styles = {
    connectorLines: {
        stroke: '#333',
        'stroke-dasharray': '5 5'
    },
    start: {
        fill: '#7dc7ed'
    },
    falling: {
        fill: '#dd2714',
        stroke: '#a52714'
    },
    rising: {
        fill: '#0f9d58',
        stroke: '#0f9d58'
    },
    intermediateTotal: {
        fill: '#7dc7ed'
    },
    total: {
        fill: '#7dc7ed'
    }
};
waterfallChart.series.push(waterfall);

waterfallChart.tooltip.content = function (ht) {
    if (ht) {
        return '&lt;b&gt;' + ht.x + '&lt;/b&gt;&lt;br/&gt;value: ' + ht.y;
    }
}

// relativeData - initialize checkbox properties
relativeData.checked = waterfall.relativeData;
relativeData.addEventListener('change', function () {
    waterfall.relativeData = this.checked;
});

// connectorLines - initialize checkbox properties
connectorLines.checked = waterfall.connectorLines;
connectorLines.addEventListener('change', function () {
    waterfall.connectorLines = this.checked;
});

// showTotal - initialize checkbox properties
showTotal.checked = waterfall.showTotal;
showTotal.addEventListener('change', function () {
    waterfall.showTotal = this.checked;
});

// showIntermediateTotal - initialize checkbox properties
showIntermediateTotal.checked = waterfall.showIntermediateTotal;
showIntermediateTotal.addEventListener('change', function () {
    waterfall.showIntermediateTotal = this.checked;
});
                        </div>
                        <div class="tab-pane pane-content" id="wfCS">
using FlexChartAnalytics.Models;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;

namespace FlexChartAnalytics.Controllers
{
    public class HomeController : Controller
    {
        //
        // GET: /Home/

        public ActionResult Index()
        {
            FlexChartModal model = new FlexChartModal();
            model.Settings = CreateIndexSettings();
            model.MathPoints10 = MathPoint.GetMathPointList(10);
            model.MathPoints40 = MathPoint.GetMathPointList(40);
            model.MonthSales = MonthSale.GetData();

            return View(model);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"TrendLineFitType", new object[]{"Linear", "Exponential", "Logarithmic", "Power", "Fourier", "Polynomial", "MinX", "MinY", "MaxX", "MaxY", "AverageX", "AverageY"}},
                {"MovingAverageType", new object[]{"Simple", "Weighted", "Exponential", "Triangular"}},
            };

            return settings;
        }
    }
}
                        </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexChart().Id("waterfallChart")
                    .Bind(Model.MonthSales).BindingX("Name").Binding("Value")
                 )

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <div class="checkbox">
                            <label>
                                <input id="relativeData" type="checkbox"> 相対データ
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <div class="checkbox">
                            <label>
                                <input id="connectorLines" type="checkbox"> 接続線を表示
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <div class="checkbox">
                            <label>
                                <input id="showTotal" type="checkbox"> 合計を表示
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <div class="checkbox">
                            <label>
                                <input id="showIntermediateTotal" type="checkbox"> 小計を表示
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>