﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    @Styles.Render("~/Content/app.css")
    @Html.C1().Styles()
    @Html.C1().Scripts().Basic(b=>b.Grid())
</head>
<body>
    @RenderBody()
</body>
</html>
