﻿@using C1.Web.Mvc.Grid

@model IEnumerable<Sale>
@{
    ControlOptions optionsModel = ViewBag.DemoOptions;
    ViewBag.DemoSettings = true;
}

<style type="text/css">
    .Red{
        color:red!important;
    }
    .Blue{
        color:blue!important;
    }
    .Yellow{
        color:yellow!important;
    }
    .None{
        color:none;
    }
</style> 

@section Scripts{
<script>
    function collectingQueryData(sender, e) {
        if (e.extraRequestData == null) {
            e.extraRequestData = {};
        }

        @foreach (var menuName in optionsModel.Options.Keys.Select(ControlOptions.ToOptionName))
        {
        <text>
        e.extraRequestData["@(menuName)"] = '@(optionsModel.Options[menuName].CurrentValue)';
        </text>
        }
    }
</script>
}

@(Html.C1().FlexGrid<Sale>()
            .Id("ovFlexGrid")
            .AutoGenerateColumns(false)
            .SortingType((AllowSorting)Enum.Parse(typeof(AllowSorting), optionsModel.Options["Allow Sorting"].CurrentValue))
            .SelectionMode((SelectionMode)Enum.Parse(typeof(SelectionMode), optionsModel.Options["Selection"].CurrentValue))
            .Bind(bl => bl.InitialItemsCount(100).Bind(Model).OnClientQueryData("collectingQueryData"))
            .CssClass("grid")
            .LazyRender(Convert.ToBoolean(optionsModel.Options["Lazy Render"].CurrentValue))
            .CopyHeaders((CopyHeader)Enum.Parse(typeof(CopyHeader), optionsModel.Options["Copy Header"].CurrentValue))
            .BigCheckboxes(Convert.ToBoolean(optionsModel.Options["Big Checkbox"].CurrentValue))
        .Columns(bl =>
        {
            bl.Add(cb => cb.Binding("ID")
            .Visible(string.Compare(optionsModel.Options["Column Visibility"].CurrentValue, "show", true) == 0));
         bl.Add(cb => cb.Binding("Start").Format(optionsModel.Options["Formatting"].CurrentValue == "On" ? "MMM d yy" : ""));
         bl.Add(cb => cb.Binding("End").Format(optionsModel.Options["Formatting"].CurrentValue == "On" ? "HH:mm" : ""));
         bl.Add(cb => cb.Binding("Country").Width(optionsModel.Options["Column Resize"].CurrentValue));
         bl.Add(cb => cb.Binding("Product").CssClassAll(optionsModel.Options["Css Class All"].CurrentValue));
         bl.Add(cb => cb.Binding("Color"));
         bl.Add(cb => cb.Binding("Amount").Format("c"));
         bl.Add(cb => cb.Binding("Amount2").Format("c"));
         bl.Add(cb => cb.Binding("Discount").Format("p0"));
         bl.Add(cb => cb.Binding("Active"));
     })
)
@section Settings{
    @Html.Partial("_OptionsMenu", optionsModel)
}

@section Summary{
    <p>@Html.Raw(Resources.FlexGrid.Index_Text0)</p>
}

@section Description{
    @Html.Raw(Resources.FlexGrid.Index_Text1)
}
