﻿@using C1.Web.Mvc.Grid
@{
    IEnumerable<Sale> groupedFlexGridData = ViewBag.GroupedFlexGridData;
    IEnumerable<Sale> mergedFlexGridData = ViewBag.MergedFlexGridData;
    IList<ITreeItem> treeViewData = ViewBag.TreeViewData;
    ViewBag.DemoDescription = false;
}

@section Styles{
    <style>
        .fixed-top {
            z-index: 999;
            position: fixed;
            top: 0px;
        }
    </style>
}

@section Scripts{
    <script>
        var hasAddFixedStyle, groupedGrid, mergedGrid, treeViewGrid, exportSettings, settingsDiv, settingsDivDfScroll;

        c1.documentReady(function () {
            hasAddFixedStyle = false;
            groupedGrid = wijmo.Control.getControl("#groupingFlexGrid");
            mergedGrid = wijmo.Control.getControl("#mergingFlexGrid");
            treeViewGrid = wijmo.Control.getControl("#treeFlexGrid");
            settingsDiv = document.getElementById("exportSettingsDiv");
            defaultScrollTop = getScrollingTop(settingsDiv);
            exportSettings = {
                exportMode: wijmo.grid.pdf.ExportMode.All,
                orientation: wijmo.pdf.PdfPageOrientation.Portrait,
                scaleMode: wijmo.grid.pdf.ScaleMode.ActualSize
            };

            window.onscroll = function () {
                var documentScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                if (documentScrollTop <= defaultScrollTop && hasAddFixedStyle) {
                    clearFixedStyles(settingsDiv);
                    hasAddFixedStyle = false;
                } else if (documentScrollTop > defaultScrollTop && !hasAddFixedStyle) {
                    addFixedStyles(settingsDiv);
                    hasAddFixedStyle = true;
                }
            };

            window.onresize = function () {
                if (hasAddFixedStyle) {
                    clearFixedStyles(settingsDiv);
                    addFixedStyles(settingsDiv);
                }
            };

            updateHeaders();
        });

        function updateHeaders() {
            var flex = wijmo.Control.getControl("#mergingFlexGrid");
            if (flex) {
                // insert new row if not yet
                if (flex.columnHeaders.rows.length === 1) {
                    flex.columnHeaders.rows.insert(0, new wijmo.grid.Row());
                }
                flex.columnHeaders.rows[0].allowMerging = true;

                // set headings so the cells merge
                for (var i = 0; i < flex.columns.length; i++) {
                    var hdr = 'String';
                    switch (flex.columns[i].binding) {
                        case 'ID':
                        case 'Amount':
                        case 'Discount':
                            hdr = 'Number';
                            break;
                        case 'Active':
                            hdr = 'Boolean';
                            break;
                    }
                    flex.columnHeaders.setCellData(0, i, hdr);
                }
            }
        }

        function clearFixedStyles(obj) {
            obj.style.height = "";
            obj.style.width = "";
            var classes = obj.className.split(/\s+/g);
            classes.splice(classes.indexOf("fixed-top"), 1);
            obj.className = classes.join(" ");
        }

        function addFixedStyles(obj) {
            obj.style.height = settingsDiv.offsetHeight + "px";
            obj.style.width = settingsDiv.offsetWidth + "px";
            obj.className = obj.className + " fixed-top";
        }

        function getScrollingTop(obj) {
            var scrollTop = obj.offsetTop;
            if (obj.offsetParent != null) {
                scrollTop += getScrollingTop(obj.offsetParent);
            }
            return scrollTop;
        }

        function onAllowMergingChanged(menu) {
            var mergingHeader = menu.selectedItem.Header;
            menu.header = "@(Resources.FlexGrid.PDFExport_AllowMerging): <b>" + mergingHeader + "</b>";
            mergedGrid.allowMerging = menu.selectedItem.CommandParameter;
        }

        function exportGroupedGrid() {
            var fontFile = { source: 'https://demo.grapecity.com/wijmo/sample/fonts/ipaexg.ttf', name: 'ipaexg' },
                font = new wijmo.pdf.PdfFont('ipaexg');
            wijmo.grid.pdf.FlexGridPdfConverter.export(groupedGrid, 'FlexGrid.pdf', {
                maxPages: 10,
                exportMode: exportSettings.exportMode,
                scaleMode: exportSettings.scaleMode,
                documentOptions: {
                    pageSettings: {
                        layout: exportSettings.orientation
                    },
                    header: {
                        declarative: {
                            text: '&[Page]\\&[Pages]\theader\t&[Page]\\&[Pages]'
                        }
                    },
                    footer: {
                        declarative: {
                            text: '&[Page]\\&[Pages]\tfooter\t&[Page]\\&[Pages]'
                        }
                    },
                    info: {
                        author: 'C1',
                        title: 'PdfDocument sample',
                        keywords: 'PDF, C1, sample',
                        subject: 'PdfDocument'
                    }
                },
                embeddedFonts: [fontFile],
                styles: {
                    cellStyle: {
                        backgroundColor: '#ffffff',
                        borderColor: '#c6c6c6',
                        font: font
                    },
                    altCellStyle: {
                        backgroundColor: '#f9f9f9'
                    },
                    groupCellStyle: {
                        backgroundColor: '#dddddd'
                    },
                    headerCellStyle: {
                        backgroundColor: '#eaeaea'
                    }
                }
            });
        }

        function exportMergedGrid() {
            var fontFile = { source: 'https://demo.grapecity.com/wijmo/sample/fonts/ipaexg.ttf', name: 'ipaexg' },
                font = new wijmo.pdf.PdfFont('ipaexg');
            wijmo.grid.pdf.FlexGridPdfConverter.export(mergedGrid, 'FlexGrid.pdf', {
                maxPages: 10,
                exportMode: exportSettings.exportMode,
                scaleMode: exportSettings.scaleMode,
                documentOptions: {
                    pageSettings: {
                        layout: exportSettings.orientation
                    },
                    header: {
                        declarative: {
                            text: '&[Page]\\&[Pages]\theader\t&[Page]\\&[Pages]'
                        }
                    },
                    footer: {
                        declarative: {
                            text: '&[Page]\\&[Pages]\tfooter\t&[Page]\\&[Pages]'
                        }
                    },
                    info: {
                        author: 'C1',
                        title: 'PdfDocument sample',
                        keywords: 'PDF, C1, sample',
                        subject: 'PdfDocument'
                    }
                },
                embeddedFonts: [fontFile],
                styles: {
                    cellStyle: {
                        backgroundColor: '#ffffff',
                        borderColor: '#c6c6c6',
                        font: font
                    },
                    altCellStyle: {
                        backgroundColor: '#f9f9f9'
                    },
                    groupCellStyle: {
                        backgroundColor: '#dddddd'
                    },
                    headerCellStyle: {
                        backgroundColor: '#eaeaea'
                    }
                }
            });
        }

        function exportTreeViewGrid() {
            wijmo.grid.pdf.FlexGridPdfConverter.export(treeViewGrid, 'FlexGrid.pdf', {
                maxPages: 10,
                exportMode: exportSettings.exportMode,
                scaleMode: exportSettings.scaleMode,
                embeddedFonts: [{
                    source: '@(Url.Content("~/Content/fonts/fira/FiraSans-Regular.ttf"))',
                    name: 'fira',
                    style: 'normal',
                    weight: 'normal',
                    sansSerif: true
                }, {
                    source: '@(Url.Content("~/Content/fonts/fira/FiraSans-Bold.ttf"))',
                    name: 'fira',
                    style: 'normal',
                    weight: 'bold',
                    sansSerif: true
                }],
                documentOptions: {
                    pageSettings: {
                        layout: exportSettings.orientation
                    },
                    header: {
                        declarative: {
                            text: '&[Page]\\&[Pages]\theader\t&[Page]\\&[Pages]'
                        }
                    },
                    footer: {
                        declarative: {
                            text: '&[Page]\\&[Pages]\tfooter\t&[Page]\\&[Pages]'
                        }
                    },
                    info: {
                        author: 'C1',
                        title: 'PdfDocument sample',
                        keywords: 'PDF, C1, sample',
                        subject: 'PdfDocument'
                    }
                },
                styles: {
                    cellStyle: {
                        backgroundColor: '#ffffff',
                        borderColor: '#c6c6c6',
                        font: {
                            family: 'fira'
                        }
                    },
                    altCellStyle: {
                        backgroundColor: '#f9f9f9'
                    },
                    groupCellStyle: {
                        backgroundColor: '#dddddd'
                    },
                    headerCellStyle: {
                        backgroundColor: '#eaeaea'
                    }
                }
            });
        }

        function setScaleMode(menu) {
            menu.header = "@(Resources.FlexGrid.PDFExport_ScaleMode): <b>" + menu.selectedItem.Header + "</b>";
            exportSettings.scaleMode = wijmo.grid.pdf.ScaleMode[menu.selectedItem.Header];
        }

        function setOrientation(menu) {
            menu.header = "@(Resources.FlexGrid.PDFExport_Orientation): <b>" + menu.selectedItem.Header + "</b>";
            exportSettings.orientation = wijmo.pdf.PdfPageOrientation[menu.selectedItem.Header];
        }

        function setExportMode(menu) {
            menu.header = "@(Resources.FlexGrid.PDFExport_ExportMode): <b>" + menu.selectedItem.Header + "</b>";
            exportSettings.exportMode = wijmo.grid.pdf.ExportMode[menu.selectedItem.Header];
        }
    </script>
}

<div class="copy well">
    <p>@Html.Raw(Resources.FlexGrid.PDFExport_Text0)</p>
    <p>@Html.Raw(Resources.FlexGrid.PDFExport_Text1)</p>
    <ul>
        <li>@Html.Raw(Resources.FlexGrid.PDFExport_Li1)</li>
        <li>@Html.Raw(Resources.FlexGrid.PDFExport_Li2)</li>
        <li>@Html.Raw(Resources.FlexGrid.PDFExport_Li3)</li>
    </ul>
    <p>@Html.Raw(Resources.FlexGrid.PDFExport_Text2)</p>
    <ul>
        <li>@Html.Raw(Resources.FlexGrid.PDFExport_Li4)</li>
        <li>@Html.Raw(Resources.FlexGrid.PDFExport_Li5)</li>
        <li>@Html.Raw(Resources.FlexGrid.PDFExport_Li6)</li>
    </ul>
</div>

<div class="copy well" id="exportSettingsDiv">
    <b>@Html.Raw(Resources.FlexGrid.PDFExport_ExportSettings)</b>
    @(Html.C1().Menu().Header(Resources.FlexGrid.PDFExport_ScaleMode + ": <b>ActualSize</b>").OnClientItemClicked("setScaleMode")
    .MenuItems(items =>
    {
        items.Add("ActualSize");
        items.Add("PageWidth");
        items.Add("SinglePage");
    }))
    @(Html.C1().Menu().Header(Resources.FlexGrid.PDFExport_Orientation + ": <b>Portrait</b>").OnClientItemClicked("setOrientation")
    .MenuItems(items =>
    {
        items.Add("Portrait");
        items.Add("Landscape");
    }))
    @(Html.C1().Menu().Header(Resources.FlexGrid.PDFExport_ExportMode + ": <b>All</b>").OnClientItemClicked("setExportMode")
    .MenuItems(items =>
    {
        items.Add("All");
        items.Add("Selection");
    }))
</div>
<h3>@Html.Raw(Resources.FlexGrid.PDFExport_Title1)</h3>
<p>@Html.Raw(Resources.FlexGrid.PDFExport_Text3)</p>
<button class="btn btn-default" onclick="exportGroupedGrid()">@Html.Raw(Resources.FlexGrid.PDFExport_Export)</button>
<br /><br />
@(Html.C1().FlexGrid<Sale>().Id("groupingFlexGrid")
        .Bind(groupedFlexGridData)
        .SelectionMode(SelectionMode.ListBox)
        .HeadersVisibility(HeadersVisibility.All)
        .ShowGroups(true)
        .GroupBy("Product", "Country", "Amount")
        .CssClass("grid")
        .AllowMerging(AllowMerging.All)
        .AutoGenerateColumns(false)
        .Columns(bl =>
        {
            bl.Add(cb => cb.Binding("ID"));
            bl.Add(cb => cb.Binding("Start").Header("Start Date").Format("d"));
            bl.Add(cb => cb.Binding("End").Header("End Date").Format("d"));
            bl.Add(cb => cb.Binding("Country"));
            bl.Add(cb => cb.Binding("Product"));
            bl.Add(cb => cb.Binding("Amount").Header("Amount22").Format("c").Aggregate(Aggregate.Sum));
            bl.Add(cb => cb.Binding("Color"));
            bl.Add(cb => cb.Binding("Amount2").Header("Pending").Format("c2"));
            bl.Add(cb => cb.Binding("Discount").Format("p1"));
            bl.Add(cb => cb.Binding("Active"));
        })
)
<br />
<br />

<div>
    <h3>@Html.Raw(Resources.FlexGrid.PDFExport_Title2)</h3>
    <p>@Html.Raw(Resources.FlexGrid.PDFExport_Text4)</p>
    @(Html.C1().Menu().Header(Resources.FlexGrid.PDFExport_AllowMerging + ": <b>All</b>")
        .MenuItems(items =>
        {
            items.Add("All", AllowMerging.All);
            items.Add("None", AllowMerging.None);
            items.Add("AllHeaders", AllowMerging.AllHeaders);
            items.Add("Cells", AllowMerging.Cells);
            items.Add("ColumnHeaders", AllowMerging.ColumnHeaders);
            items.Add("RowHeaders", AllowMerging.RowHeaders);
        }).OnClientItemClicked("onAllowMergingChanged")
    )
    <button class="btn btn-default" onclick="exportMergedGrid()">@Html.Raw(Resources.FlexGrid.PDFExport_Export)</button>
    <br /><br />
    @(Html.C1().FlexGrid<Sale>().Id("mergingFlexGrid")
        .AllowDragging(AllowDragging.None)
        .AllowMerging(AllowMerging.All)
        .Bind(mergedFlexGridData)
        .CssClass("grid")
        .AutoGenerateColumns(false)
        .Columns(bl =>
        {
            bl.Add(cb => cb.Binding("ID").Align("right"));
            bl.Add(cb => cb.Binding("Country").AllowMerging(true));
            bl.Add(cb => cb.Binding("Product").AllowMerging(true));
            bl.Add(cb => cb.Binding("Color").AllowMerging(true));
            bl.Add(cb => cb.Binding("Amount").Header("Amount22").Format("n0").Aggregate(Aggregate.Sum).DataType(DataType.Number).Align("right"));
            bl.Add(cb => cb.Binding("Discount").Format("p0").DataType(DataType.Number).Align("right").Aggregate(Aggregate.Avg));
            bl.Add(cb => cb.Binding("Active").AllowMerging(true).DataType(DataType.Boolean).Align("center"));
        })
    )
    <br />
    <br />
    <div>
        <h3>@Html.Raw(Resources.FlexGrid.PDFExport_Title3)</h3>
        <p>@Html.Raw(Resources.FlexGrid.PDFExport_Text5)</p>
        <p>@Html.Raw(Resources.FlexGrid.PDFExport_Text6)</p>
        <p>@Html.Raw(Resources.FlexGrid.PDFExport_Text7)</p>
        <ul>
            <li>@Html.Raw(Resources.FlexGrid.PDFExport_Li1)</li>
            <li>@Html.Raw(Resources.FlexGrid.PDFExport_Li2)</li>
        </ul>
        <button class="btn btn-default" onclick="exportTreeViewGrid()">@Html.Raw(Resources.FlexGrid.PDFExport_Export)</button>
        <br /><br />
        @(Html.C1().FlexGrid().Id("treeFlexGrid")
            .Bind(treeViewData)
            .ChildItemsPath("Children")
            .CssClass("grid custom-flex-grid")
            .AllowResizing(AllowResizing.None)
            .SelectionMode(SelectionMode.ListBox)
            .HeadersVisibility(HeadersVisibility.Column)
            .AutoGenerateColumns(false)
            .Columns(bl =>
            {
                bl.Add(cb => cb.Binding("Header").Width("*"));
                bl.Add(cb => cb.Binding("Size").Width("80"));
            })
        )
    </div>
</div>
