﻿@using Resources;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title@(Resource.Layout_TitleSuffix)</title>
        <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
        <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-32x32.png")" sizes="32x32">
        <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-16x16.png")" sizes="16x16">
        <link rel="manifest" href="@Url.Content("~/Content/favicon/manifest.json")">
        <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#503b75">

        <meta name="viewport" content="width=device-width" />

        <!-- styles -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="@Url.Content(Resource.GcIconsCssPath)" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/app.css")" />
        @Html.C1().Styles()

        <!-- scripts -->
        @Html.C1().Scripts().Basic(b => b.Grid(gbb => gbb.Filter()))
        <script src="~/Scripts/jquery.js"></script>
        <script src="~/Scripts/MultiLevelMenu.js"></script>
        <script src="~/Scripts/ColumnGroupProvider.js"></script>
        <script src="~/Scripts/app.js"></script>
    </head>
    <body>
        <div class="hide">
            @Html.Partial("_SiteNav", true)
        </div>
        <header>
            <div class="hamburger-nav-btn narrow-screen"><span class="icon-bars"></span></div>
            <a class="logo-container" href="@(Resource.Layout_ProductUrl)" target="_blank">
                <i class="gcicon-product-c1"></i>@Resource.Layout_ComponentOne
            </a>
            <div class="task-bar">
                <span class="semi-bold narrow-screen">@Resource.Layout_ShortTitle</span>
                <span class="semi-bold wide-screen">@Resource.Layout_LongTitle</span>
                @Html.Partial("_SiteNav", false)
            </div>
        </header>
        <div class="container">
            @RenderBody()
        </div>
        <footer>
            <a href="@(Resource.Layout_GrapeCityUrl)">
                <i class="gcicon-logo-gc-horiz"></i>
            </a>
            <p>
                © @DateTime.Now.Year @Html.Raw(Resource.Layout_License1)<br />
                @Html.Raw(Resource.Layout_License2)
            </p>
            @{
                var url = Request.Url;
                var urlStr = url.OriginalString.Substring(0, url.OriginalString.Length - (url.Query == null ? 0 : url.Query.Length));
            }
            <a href="http://www.facebook.com/sharer.php?u=@urlStr" target="_blank">
                <img src="~/Content/css/images/icons/32/picons36.png" alt="facebook" />
            </a>
            <a href="http://twitter.com/share?text=@(Resource.Layout_TwitterText)&url=@urlStr" target="_blank">
                <img src="~/Content/css/images/icons/32/picons33.png" alt="Twitter" />
            </a>
        </footer>
    </body>
</html>
