﻿@model FlexChartExport.Models.FlexChartModel

@{
    ViewBag.Title = "画像エクスポート";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/resources/C1MVCIcon_White.png")" alt="Component One ASP.NET MVC" />        
        <h1>
            画像エクスポート
        </h1>
        <p>
            このサンプルでは、FlexChartコントロールを画像にエクスポートする方法を示します。
        </p>
    </div>
</div>

<div class="container">
    <div>

        <input type="text" id="typeMenu" />
        
        <input type="text" id="exportToMenu" />
        

    </div>

    @(Html.C1().FlexChart().Id("FlexChart").Legend(C1.Web.Mvc.Chart.Position.None)
                    .Bind(Model.CountrySalesData).BindingX("Country").Series(sers =>
                    {
                        sers.Add().Binding("Sales").Name("Sales");
                        sers.Add().Binding("Expenses").Name("Expenses");
                        sers.Add().Binding("Downloads").Name("Downloads");
                    })
    )

    <script type="text/javascript">
        c1.documentReady(function () {
            FlexChart = wijmo.Control.getControl("#FlexChart");
        });
    </script>

    @(Html.C1().Menu("#typeMenu").MenuItems(items => 
    {
        for (int i = 0; i < Model.Settings["ChartType"].Length; i++)
        {
            string export = Model.Settings["ChartType"][i] as string;
            items.Add(export, export);
        }
    }).Header("チャートタイプ: <b>Column</b>").OnClientItemClicked("typeMenu_ItemClicked")
        )

    @(Html.C1().Menu("#exportToMenu").MenuItems(items => 
    {
        for (int i = 0; i < Model.Settings["ExportTo"].Length; i++)
        {
            string export = Model.Settings["ExportTo"][i] as string;
            items.Add(export.ToUpper(), export);
        }
    }).Header("エクスポート").OnClientItemClicked("exportToMenu_ItemClicked")
        )

    <div style="font-size:0.75em;font-style:italic">
        ※このサンプルはIE9では実行できません。
    </div>
</div>
