@model IEnumerable<FlexGridData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexGrid.MultiRangeSelection_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.MultiRangeSelection_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.MultiRangeSelection_Text2)
</p>
@Html.C1().FlexGrid().Id("theGrid").ShowAlternatingRows(false).Height(300)