﻿.tabitem, .highlighttabitem
{
        height: 38px;
        cursor: pointer;
}

td.icon
{
        vertical-align: middle;
        text-align: center;
        width: 40px;
}

td.title
{
        text-align: center;
}

td.title, .tabitem
{
        font-size: 11pt;
        font-weight: bold;
        vertical-align: middle;
}

td.highlighttabitem
{
        font-size: 11pt;
        font-weight: bold;
		font-color: #66bc29;
        vertical-align: middle;
}

td.logo
{
        text-align: right;
        width: 100%;
}

body
{
        margin: 0px;    
        font-family: Helvetica, Arial, Verdana, sans-serif;
        font-size: 12pt;
}

field 
{
        border-right: Highlight 1px solid; 
        border-top: Highlight 1px solid; 
        border-left: Highlight 1px solid; 
        border-bottom: Highlight 1px solid;
        font-size: 12px; 
        margin-left: 2px; 
        width: 150px; 
}

td
{
        white-space: nowrap;
        font-size: 12pt;
        vertical-align: middle;
}

table
{
        width: 100%; 
        margin: 0px; 
        padding: 0px;
        border-style: none; 
        border-collapse: collapse; 
}

table#toolbarcontainer
{
        background-repeat: repeat;
        height: 38px;
        table-layout: fixed;
}

form 
{
        padding-right: 0px; 
        padding-left: 0px; 
        padding-bottom: 0px; 
        padding-top: 0px;
        margin: 0px; 
}

body
{
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        width: 100%;
        height: 100%;
}

.stretcher
{
        padding: 0px;
        margin: 0px;
        width: 100%;
}

div.button
{
	white-space: nowrap;
}