/* app css stylesheet */

body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    padding: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}

.header {
    background-color: #ff000a;
    margin-bottom: 14px;
    padding: 12px 0;
}

.header h1 {
    font-size: 40px;
    line-height: 1;
    margin: 8px 0 5px 0;
}

.header img {
        float: left;
        margin: 0 10px 5px 0;
    }

header {
    margin: 0 0 -40px 20px;
}

header a, .labellink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container .desc {
    margin: 5px;
}

.container .wj-flexchart .wj-state-selected {
    stroke-width: 0;
}

.chartcontainer {
    background-color: white;
    border: 1px solid #e4e4e4;
}

.container .wj-flexchart {
    border: 0;
    padding-top: 30px;
}

.hidechart {
    position: absolute;
    left: -9999px;
    top: -9999px;
}


