﻿body {
	background-color: #f8f8f8;
	font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
	padding: 0 0 10px;-ms-overflow-style: scrollbar;
}

body a,
body a:focus,
body a:hover{
	text-decoration: none;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
	font-weight: 300;
}

.container {
	min-width:248px;
}

.container p {
	min-width:358px;
}

.header {
	background-color: #ff000a;
	margin-bottom: 14px;
	padding: 12px 0;
}

	.header h1 {
		font-size: 40px;
		line-height: 1;
		margin-top: 0;
	}


	.header img {
		float: left;
		margin: 0 10px 5px 0;
	}

.wj-flexgrid .wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
	/* Default grid cell color */
	background: #fff;
}

.wj-flexgrid .wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
	/* Alternate grid cell color */
	background: #fff;
}
