﻿@{
    var minTime = DateTime.Parse("07:00");
    var maxTime = DateTime.Parse("19:00");
}

<div>
    <label>@Html.Raw(InputTimeRes.Index_Text0)</label>
    <c1-input-time id="iditInputTime" value="@DateTime.Now" min="@minTime" max="@maxTime"></c1-input-time>
</div>

@section Description{
    @Html.Raw(InputTimeRes.Index_Text1)
}