﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/app.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/explorer.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/site.css")" />
    @Html.C1().Styles()

    <script src="~/Scripts/jquery.js"></script>
    @Html.C1().Scripts().Basic(b => b.Input().Grid(gebb => gebb.Filter()))
    @Scripts.Render("~/Content/js")
</head>
<body>
    <div class="hide">
        @Html.Partial("_SiteNav", true)
    </div>
    <header>
        <div class="hamburger-nav-btn narrow-screen"><span class="icon-bars"></span></div>
        <a href="https://www.grapecity.co.jp/developer/componentone-studio" class="logo-container" target="_blank">
            <img src="~/Content/images/c1icon.png" width="46" height="46" alt="ComponentOne Webサイトに移動" />
            <span class="icon-c1text"></span>
        </a>

        <div class="task-bar">
            <span class="semi-bold narrow-screen">フィルターパネル</span>
            <span class="semi-bold wide-screen">フィルターパネル</span>
            @Html.Partial("_SiteNav", false)
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <a href="https://www.grapecity.co.jp/developer" class="c1logo">
            <img src="~/Content/css/images/grapecityLogo.png" />
        </a>
        <p>
            © @DateTime.Now.Year GrapeCity, Inc. All Rights Reserved.<br />
            All product and company names here in may be trademarks of their respective owners.
        </p>
        @{
            var url = Request.Url;
            var urlStr = url.OriginalString.Substring(0, url.OriginalString.Length - (url.Query == null ? 0 : url.Query.Length));
        }
        <a href="https://www.facebook.com/GrapeCity.dev.JP" target="_blank">
            <img src="~/Content/css/images/icons/32/picons36.png" alt="facebook" />
        </a>
        <a href="https://twitter.com/GrapeCity_dev" target="_blank">
            <img src="~/Content/css/images/icons/32/picons33.png" alt="Twitter" />
        </a>
    </footer>
</body>
</html>
