﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/favicon/safari-pinned-tab.svg")" color="#503b75">



    <environment names="Development,Staging,Production">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- load jquery -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
        <!-- load the Dashboard css -->
        <link href="~/css/myDashboard.css" rel="stylesheet" media="all"/>
        <!-- load the tab css -->
        <link href="~/css/tab.css" rel="stylesheet">
        <!-- load the slider css -->
        @*<link href="~/css/thumbnail-slider.css" rel="stylesheet"/>*@        
        <link href="~/css/bs-carasoul.css" rel="stylesheet" />        
        <!-- load the application css -->
        <link href="~/css/app.css" rel="stylesheet" media="all"/>  
        
        <link rel="stylesheet" type="text/css" href="~/css/print.css" media="print"/>
    </environment>        

    <environment names="Development,Staging,Production">
        
        <!-- load jquery library -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <!-- load jquery ui library -->
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>               
        <!-- load DragDropTouch script -->
        <script src="~/js/vendor/DragDropTouch.js"></script>
        
        <!-- load application js -->        
        <script src="~/js/app.js"></script>
        
       
    </environment> 

    <c1-resources theme="default"></c1-resources>    
</head>
<body onload="documentReadyLoad()">


    <header id="header">
        <ul id="headerMenu">
            <li>
                <img id="imgIconMenu" title="Show Menu" src="~/images/icon_menu.png" onclick="headerMenuShowHide('imgIconMenu', 'headerMenuList');"/><span id="headerText">Dynamic Dashboard</span>
            </li>
            <li>
                <img id="imgScrollMenuShowHide" title="Show menu" src="~/images/icon_menuopen.png" style="float:right;" onclick="scrollMenuShowHide();" />
            </li>
        </ul>
        <ul id="headerMenuList" class="headerMenuListHide">            
            <li onclick="saveSettings();">Save Settings</li>
            @*<li onclick="printDocument();">Print Doc</li>*@
        </ul>

    </header>  
   
    <section id="scrollmenu" class="hide">                
        <div class="carousel slide multi-item-carousel" id="theCarousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-xs-3">
                        <a title="Click to add 'Sales Dashboard'"><img src="~/images/SalesDashboard.png" onclick="addWidget('salesDashboardWidget')" class="img-responsive"></a>
                    </div>
                </div>
                <div class="item">
                    <div class="col-xs-3">                        
                        <a title="Click to add 'kPIs'"><img src="~/images/KPIs.png" onclick="addWidget('kPIsWidget')" class="img-responsive"></a>                        
                    </div>
                </div>
                <div class="item">
                    <div class="col-xs-3">
                        <a title="Click to add 'Cost Budgeting Chart'"><img src="~/images/CostBudgeting.png" onclick="addWidget('costBudgetingChartWidget', 'costBudgetingChart')" class="img-responsive"></a>                        
                    </div>
                </div>
                <div class="item">
                    <div class="col-xs-3">
                        <a title="Click to add 'Quarter Sales'"><img src="~/images/QuarterSales.PNG" onclick="addWidget('monthlySalesChartWidget', 'monthlySalesChart')" class="img-responsive"></a>                        
                    </div>
                </div>
                <div class="item">
                    <div class="col-xs-3">
                        <a title="Click to add 'Countrywise Sales Chart'"><img src="~/images/CountrywiseSale.png" onclick="addWidget('countrywiseSalesChartWidget', 'countrywiseSalesChart')" class="img-responsive"></a>                        
                    </div>
                </div>               

                <div class="item">
                    <div class="col-xs-3">
                        <a title="Click to add 'Profit Chart'"><img src="~/images/ProfitChart.png" onclick="addWidget('monthlyProfitChartWidget', 'monthlyProfitChartWidget')" class="img-responsive"></a>                        
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#theCarousel" data-slide="prev" id="bs-carousel-prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#theCarousel" data-slide="next" id="bs-carousel-next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
    </section>    

    <div class="container">
        <p id="headerDesc" class="headerDesc">
            This demo shows how to create a customized dashboard with C1 ASP.NET Core MVC controls.
        </p>
        
        
        @RenderBody()
        


    </div>
    
    <footer>
        <p>&copy; @System.DateTime.Today.Year.ToString() - DynamicDashboard</p>
    </footer>
</body>
</html>
