﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カスタムセル結合</title>
    <link rel="icon" href="~/Content/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon" />
    <!-- app scripts/styles -->
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/app.css")" rel="stylesheet" />
    @Html.C1().Styles()

    @Html.C1().Scripts().Basic(b => b.Grid())
    <script src="@Url.Content("~/Scripts/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CustomMergeManager.js")" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
