﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Html.C1().Styles()
    @Html.C1().Scripts().Basic(b=>b.Grid())
</head>
<body>
    @RenderBody()
</body>
</html>
