﻿@using Benchmark.Models
@using C1.Web.Mvc.Grid
@model IEnumerable<Sale>
@{
    bool paging = Benchmark.Controllers.HomeController.Paging;
}
<h4>C1 MVC FlexGrid</h4>
<p>
    The grid for ASP.NET MVC is a brand new version of the FlexGrid control, more flexible and powerful than ever.
    This grid allows you to select, edit, sort, group, filter & page data. Additionally this versatile flexgrid lets you format
    data and easily visualize hierarchical data. Performance is a vital attribute of FlexGrid hence the core control stays
    lightweight & fast and for complex features it uses extensions.
</p>
<script>
    startTiming("c1mvcflexgrid");
</script>
@(Html.C1().FlexGrid<Sale>()
    .Id("flexGrid")
    .AutoGenerateColumns(false)
    .AllowSorting(false)
    .Bind(bl => bl.Bind(Model).InitialItemsCount(100))
    .CssClass("grid")
    .IsReadOnly(true)
    .Columns(bl =>
    {
        bl.Add(cb => cb.Binding("ID"));
        bl.Add(cb => cb.Binding("Start").Format("MMM d yy"));
        bl.Add(cb => cb.Binding("End").Format("HH:mm"));
        bl.Add(cb => cb.Binding("Country"));
        bl.Add(cb => cb.Binding("Product"));
        bl.Add(cb => cb.Binding("Color"));
        bl.Add(cb => cb.Binding("Amount").Format("c"));
        bl.Add(cb => cb.Binding("Amount2").Format("c"));
        bl.Add(cb => cb.Binding("Discount").Format("p0"));
        bl.Add(cb => cb.Binding("Active"));
    }).PageSize(paging ? 20 : 0))
@if (paging)
{
    @(Html.C1().Pager().Owner("flexGrid"))
}