﻿@using Benchmark.Models

@model IEnumerable<Sale>

<h4>DevExpress Grid View</h4>
<p>
    The DevExpress ASP.NET MVC Grid View extension is a feature-complete grid with built-in data editors.
</p>
<script>
    startTiming("devexpressgridview");
</script>
@Html.Partial("DevExpressGridViewPartial", Model)
