﻿<hgroup>
    <h1>Error.</h1>
    <h2>An error occurred while processing @((ViewData.Model).ActionName).</h2>
    <h3>@(((ViewData.Model).Exception).Message), this probably because the data transfer to client side is over the limiting value. </h3>
</hgroup>