﻿@{
    int itemCount = ViewBag.ItemCount ?? 5000;
    string paging = (ViewBag.Paging ?? false) ? "enabled" : "disabled";
}
<p>
    To compare the performance of grid controls, this application 
    creates an array with <b>@itemCount</b> data objects and 
    shows the data on the selected grid controls with paging <b>@paging</b>. The application reports how 
    long the binding process took and shows the resulting control.</p>

<p>
    Keep in mind that binding performance is only one of the criteria to use 
    when choosing a control. Performance after the initial binding is also 
    important, and performance may not compensate for missing features.</p>
