﻿@model List<Fruit>

@{
    ViewBag.Title = "複数コントロールの連結";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var settings = (Dictionary<string, object[]>)ViewBag.Settings;
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/images/c1logo.png")" alt="Component One ASP.Net MVC" />
        <h1>
            複数コントロールの連結
        </h1>
        <p>
            このページでは、1つのCollectionViewを複数のコントロールに連結する方法を示します。
        </p>
    </div>
</div>

<div class="container">
    <div class="sample-page download-link">
        <a href="https://www.grapecity.co.jp/developer/download#net">トライアル版</a>
    </div>
    <!-- Getting Started -->
    <div>
        <h2>はじめに</h2>
        <p>
            MVCアプリケーションで複数コントロール連結を開始する際の手順。
        </p>
        <ol>
            <li>@("<c1-items-source>")タグを使用してCollectionViewServiceを作成し、そのidを設定します。</li>
            <li>FlexGridコントロールを作成し、そのItemsSourceIdをCollectionViewServiceのidに設定します。</li>
            <li>FlexChartコントロールを作成し、FlexGridと同じItemsSourceIdを設定します。</li>
        </ol>
        <p>
            これにより、FlexGridとFlexChartが作成され、これらは同じCollectionViewに連結されます。したがって、FlexGridのデータを変更すると、FlexChartでもそのデータは変更されます。
        </p>
        <c1-items-source id="fruitsSales" source-collection="Model" update-action-url="/Home/Update"
                         delete-action-url="/Home/Delete" create-action-url="/Home/Create">
        </c1-items-source>
        <div class="row">
            <div class="col-md-5">
                <h4>FlexGrid :</h4>
                <c1-flex-grid id="flexGrid" is-read-only="false" auto-generate-columns="false"
                              allow-add-new="true" allow-delete="true" items-source-id="fruitsSales" 
                              selection-mode="Row">
                    <c1-flex-grid-column binding="ID" width="*" is-read-only="true"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Name" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="Country" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="MarPrice" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="AprPrice" width="*"></c1-flex-grid-column>
                    <c1-flex-grid-column binding="MayPrice" width="*"></c1-flex-grid-column>
                </c1-flex-grid>
            </div>
            <div class="col-md-7">
                <h4>FlexChart :</h4>
                <c1-flex-chart id="flexChart" items-source-id="fruitsSales" binding-x="Name"
                               selection-mode="Point" header="Fruits Sales">
                    <c1-flex-chart-series binding="MarPrice" name="March"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="AprPrice" name="April"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="MayPrice" name="May"></c1-flex-chart-series>
                </c1-flex-chart>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">チャートタイプ</label>
                        <div class="col-md-4">
                            <c1-combo-box id="typeMenu" text="Column"
                                          selected-index-changed="typeMenu_SelectedIndexChanged">
                                <c1-items-source source-collection="@(settings["ChartType"])"></c1-items-source>
                            </c1-combo-box>
                        </div>
                        <label class="col-md-2 control-label">回転</label>
                        <div class="col-md-4">
                            <c1-combo-box id="rotatedMenu" text="False"
                                          selected-index-changed="rotatedMenu_SelectedIndexChanged">
                                <c1-items-source source-collection="@(settings["Rotated"])"></c1-items-source>
                            </c1-combo-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
