﻿<html ng-app="my-app">
<head>
    <meta charset="utf-8">
    <title>Getting Started with Wijmo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=960">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Wijmo CSS and script -->
    <link href="http://cdn.wijmo.com/themes/metro/jquery-wijmo.css" rel="stylesheet" title="metro-jqueryui" type="text/css" />
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.css" rel="stylesheet" type="text/css" />

    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.js" type="text/javascript"></script>

    <!-- Angular (after jQuery) -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="http://cdn.wijmo.com/interop/angular.wijmo.<%= pkg.version %>.js" type="text/javascript"></script>
    <!--<script src="../../Wijmo/Interop/angular.wijmo.js" type="text/javascript"></script>-->

    <script type="text/javascript">
        // when document loads, create ViewModel, and apply bindings
        //Person class
        function Person(data) {
            this.ID = data.ID;
            this.Company = data.Company;
            this.Name = data.Name;
            this.Sales = data.Sales;
        };

        var app = angular.module("my-app", ["wijmo"]);

        //Create ViewModel
        function ViewModel($scope, $locale) {
            $scope.list = [
                  new Person({ ID: "ANATR", Company: "Ana Trujillo Emparedados y helados", Name: "Ana Trujillo", Sales: 8900 }),
                  new Person({ ID: "ANTON", Company: "Antonio Moreno Taqueria", Name: "Antonio Moreno", Sales: 4500 }),
                  new Person({ ID: "AROUT", Company: "Around the Horn", Name: "Thomas Hardy", Sales: 7600 }),
                  new Person({ ID: "BERGS", Company: "Berglunds snabbkop", Name: "Christina Berglund", Sales: 3200 })
            ];
            $scope.highlightedData = "Hover over a bar in the chart";
            $scope.onMouseOver = function (e, data) {
                $scope.highlightedData = data.data.x[data.index] + ":  " + data.data.y[data.index];
                $scope.$digest();
            };
            $scope.onMouseOut = function (e, data) {
                $scope.highlightedData = "Hover over a bar in the chart";
                $scope.$digest();
            };
        }

    </script>
    <style type="text/css">
        body
        {
            font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
            font-size: 14px;
            background: #000;
        }

        h1
        {
            font-size: 2.4em;
            font-weight: normal;
            color: #fff;
            padding: 20px 0 0 6px;
            margin: 0;
        }

        h2
        {
            font-weight: normal;
        }

        .container
        {
            margin: 0 auto;
            width: 960px;
        }

        .app
        {
            overflow: hidden;
            background: #fff;
            padding: 20px;
            box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
        }

        .toolbar
        {
            text-align: right;
        }

        #dataGrid
        {
            width: 100%;
        }
    </style>
</head>
<body ng-controller="ViewModel">
    <div class="container">
        <h1>Getting Started with Wijmo</h1>
        <div class="app">
            <div>
                <h2>Chart</h2>
                <p class="ui-state-highlight ui-widget ui-widget-content">{{highlightedData}}</p>
                <wij-barchart datasource="list" mouseOver="onMouseOver" mouseOut="onMouseOut">
                    <header text="Sales"></header>
                    <seriesList>
                        <series label="Sales">
                            <data>
                                <x bind="Name" ></x>
                                <y bind="Sales"></y>
                            </data>
                        </series>
                    </seriesList>
                </wij-barchart>
                <h2>Grid</h2>
                <wij-grid id="dataGrid" data="list" allowEditing="true" style="width: 600px;">
                     <columns>
                        <column></column>
                        <column></column>
                        <column></column>
                        <column dataType="number"></column>
                    </columns>
                </wij-grid>
                <h2>Table</h2>
                <table>
                    <tbody id="dataTable">
                        <tr ng-repeat="item in list">
                            <td>{{item.ID}}</td>
                            <td>{{item.Company}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Sales}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>
                Made with <a href="http://angularjs.org">AngularJS</a> and <a href="https://www.grapecity.com/en/controls/wijmo/wijmo-3/">Wijmo</a>
            </p>
        </div>
    </div>
</body>
</html>
