@model WebApiExplorer.Models.ControlsClass.Function

<div class="settings-panel-content">
    <div style="float:left;width:100%">
        <div style="float:left"><h4>@Html.Raw(Resources.Report.ReportParameterGET_Parameters)</h4></div>
        <div style="float:right">
            <button style="margin-top:3px;padding: 4px;" class="btn btn-primary btn-report-parameter"
                    onclick="reportGetParameter('@Model.FunctionName', '@(System.Configuration.ConfigurationManager.AppSettings["WebAPIService"])');">
                @Html.Raw(Resources.Report.ReportParameterGET_GetParameter)
            </button>
        </div>
    </div>
    <div>
        <div class="settings-panel report-parameter">
            <div class="param-item">
                <label class="param-lable parameter"><b>@Html.Raw(Resources.Report.ReportParameterGET_Parameter)</b></label>
                <label class="param-lable value"><b>@Html.Raw(Resources.Report.ReportParameterGET_Value)</b></label>
                <label class="param-lable description"><b>@Html.Raw(Resources.Report.ReportParameterGET_Description)</b></label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Resources.Report.ReportParameterGET_FolderPath)</label>
                <span class="param-value-group">
                    <input type="text" readonly="readonly" name="folderPath" class="param-value" value="ReportsRoot/FlexCommonTasks/FlexCommonTasks.flxr" style="width:100%;margin-bottom:10px;" />
                </span>
                <label class="param-lable description">@Html.Raw(Resources.Report.ReportParameterGET_FolderPathText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Resources.Report.ReportParameterGET_ReportName)</label>
                <span class="param-value-group">
                    <input type="text" readonly="readonly" name="reportName" class="param-value" value="MultiValue DataBound Parameters" style="width:100%;margin-bottom:10px;" />
                </span>
                <label class="param-lable description">@Html.Raw(Resources.Report.ReportParameterGET_ReportNameText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Resources.Report.ReportParameterGET_ParameterName)</label>
                <span class="param-value-group">
                    <input type="text" name="parameterName" class="param-value" value="pCategory" style="width: 100%; margin-bottom: 10px;" />
                </span>
                <label class="param-lable description">@Html.Raw(Resources.Report.ReportParameterGET_ParameterNameText)</label>
            </div>
       </div>
    </div>
</div>
<div id="@(Model.FunctionName)result" class="content-panel-result">
    <h4>@Html.Raw(Resources.Report.ReportParameterGET_Headers)</h4>
    <div id="@(Model.FunctionName)headers" class="content-panel-result-url">
        <pre>
        </pre>
    </div>
    <h4 class="content-json-data">@Html.Raw(Resources.Report.ReportParameterGET_ResponseData)</h4>
    <div id="@(Model.FunctionName)showdata" class="result-content-data" style="height:auto">
        <pre style="max-height:200px">
        </pre>
    </div>
</div>

<script>
    function reportGetParameter(id, url) {
        var folderPath = $(".report-parameter .param-value[name=folderPath]").val();
        var reportName = $(".report-parameter .param-value[name=reportName]").val();
        var parameterName = $(".report-parameter .param-value[name=parameterName]").val();
        var fullUrl = url + "api/report/" + folderPath + "/" + reportName + "/$report/parameters/" + parameterName;

        $("#@(Model.FunctionName)headers pre").text("@(Resources.Report.ReportParameterGET_RequestURL)" + fullUrl);
        $("#@(Model.FunctionName)result").show();

        $.ajax({
            type: "GET",
            url: fullUrl,
            cache: false,
            success: function (data) {
                $("#@(Model.FunctionName)showdata pre").text(JSON.stringify(data, null, 4));
                $(".content-json-data").show();
            },
            complete: function (xhr, status) {
                $("#@(Model.FunctionName)headers pre").append("\r\n@(Resources.Report.ReportParameterGET_StatusCode)" + xhr.status);
            }
        });
    }
</script>
