﻿<!DOCTYPE html>
<html ng-app="waxApp">
<head>
    <meta charset="utf-8">

    <title>AngularJS Directive Gallery</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- jQuery/jQueryUI -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>

    <!-- Angular (after jQuery) -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js" type="text/javascript"></script>

    <!-- Wijmo -->
    <link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" title="metro-jqueryui" type="text/css" />
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.css" rel="stylesheet" type="text/css" />

    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/interop/angular.wijmo.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css"/>

    <!-- app scripts and styles -->
    <script src="scripts/waxApp.js" type="text/javascript"></script>
    <script src="scripts/services/airportService.js" type="text/javascript"></script>
    <script src="scripts/controllers/waxCtrl.js" type="text/javascript"></script>
    <link href="styles/app.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="waxCtrl">
    <div class="container-fluid span10 offset1">

        <div class="row-fluid">
            <h1 class="well" >
                <a href="default.htm">
                    <img src="img/angular_logo.png" alt="logo"/>
                </a>
                AngularJS Directive Gallery
            </h1>
        </div>
        <div class="row-fluid">
            <div class="span3 well">
                <h4>Wijmo</h4>
                <ul>
                    <li><a href="#/wijmo/input"><i class="icon-edit"></i>&nbsp;input</a></li>
                    <li><a href="#/wijmo/commands"><i class="icon-ok"></i>&nbsp;commands</a></li>
                    <li><a href="#/wijmo/layout"><i class="icon-th-large"></i>&nbsp;layout</a></li>
                    <li><a href="#/wijmo/grid"><i class="icon-list-alt"></i>&nbsp;grid</a></li>
                    <li><a href="#/wijmo/gauges"><i class="icon-adjust"></i>&nbsp;gauges</a></li>
                    <li><a href="#/wijmo/charts"><i class="icon-signal"></i>&nbsp;charts</a></li>
                </ul>
            </div>
            <div class="span9">
                <div ng-view></div>
            </div>
        </div>
    </div>
</body>
</html>
