﻿<%@ Page Title="" Language="vb" MasterPageFile="~/Wijmo.Master" AutoEventWireup="true"
    CodeBehind="PlayPause.aspx.vb" Inherits="ControlExplorer.C1LightBox.PlayPause" %>

<%@ Register Assembly="C1.Web.Wijmo.Controls.45" Namespace="C1.Web.Wijmo.Controls.C1LightBox"
    TagPrefix="wijmo" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <wijmo:C1LightBox ID="C1LightBox1" runat="server" Player="Img" ShowTimer="true" CtrlButtons="Play, Stop"
        Loop="false">
        <Items>
            <wijmo:C1LightBoxItem ID="LightBoxItem1" Title="Sport1" Text="スポーツ1" ImageUrl="http://lorempixum.com/120/90/sports/1"
                LinkUrl="http://lorempixum.com/600/400/sports/1" />
            <wijmo:C1LightBoxItem ID="LightBoxItem2" Title="Sport2" Text="スポーツ2" ImageUrl="http://lorempixum.com/120/90/sports/2"
                LinkUrl="http://lorempixum.com/600/400/sports/2" />
            <wijmo:C1LightBoxItem ID="C1LightBoxItem3" Title="Sport3" Text="スポーツ3" ImageUrl="http://lorempixum.com/120/90/sports/3"
                LinkUrl="http://lorempixum.com/600/400/sports/3" />
            <wijmo:C1LightBoxItem ID="C1LightBoxItem4" Title="Sport4" Text="スポーツ4" ImageUrl="http://lorempixum.com/120/90/sports/4"
                LinkUrl="http://lorempixum.com/600/400/sports/4" />
        </Items>
    </wijmo:C1LightBox>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Description" runat="server">
    <p>
        このサンプルでは、C1LightBox にコントロールボタンを表示する方法を紹介します。
    </p>
    <p>
        <b>CtrlButtons</b> プロパティは、C1LightBox のコントロールボタンを表示するかどうかを指定します。
        これはフラグ列挙体型のプロパティで、以下の値をサポートしています。
    </p>
    <ul>
        <li>None - コントロールボタンは表示されません。</li>
        <li>Play - 再生ボタンを表示します。</li>
        <li>Stop - 停止ボタンを表示します。</li>
    </ul>
    <p>
        再生ボタンが押されると、LightBox はページを順番に表示します。
        初期化時に自動的に再生するには、<b>AutoPlay</b> プロパティを True に設定します。
    </p>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ControlOptions" runat="server">
</asp:Content>
