﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.C1().Styles()
    @Styles.Render("~/appcss")
    @Html.C1().Scripts().Basic(b=>b.Input().Grid())
</head>
<body>
    @RenderBody()

</body>
</html>
