<%@ Page Language="C#" MasterPageFile="~/Wijmo.Master" AutoEventWireup="true" CodeBehind="Acroform.aspx.cs" Inherits="ControlExplorer.C1PDF.Acroform" %>

<asp:Content ID="content1" ContentPlaceHolderID="Head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <asp:LinkButton ID="btnexport" Text="Create PDF" OnClick="btnexport_Click" runat="server" Font-Underline="true" />

</asp:Content>

<asp:Content ID="content3" ContentPlaceHolderID="Description" runat="server">
    <p><%= Resources.C1PDF.Acroform_Text0 %></p>
</asp:Content>
