<%@ Page Language="C#" MasterPageFile="~/Wijmo.Master" AutoEventWireup="true" CodeBehind="RichGraphics.aspx.cs" Inherits="ControlExplorer.C1PDF.RichGraphics" %>

<asp:Content ID="content1" ContentPlaceHolderID="Head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <asp:LinkButton ID="btnexport" runat="server" Text="Create PDF" OnClick="btnexport_Click" Font-Underline="true" />
</asp:Content>

<asp:Content ID="content3" ContentPlaceHolderID="Description" runat="server">
    <p><%= Resources.C1PDF.RichGraphics_Text0 %></p>
</asp:Content>
