<%@ Page Language="C#" MasterPageFile="~/Wijmo.Master" AutoEventWireup="true" CodeBehind="TableOfContents.aspx.cs" Inherits="ControlExplorer.C1PDF.TableOfContents" %>

<asp:Content ID="content1" ContentPlaceHolderID="Head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <asp:LinkButton ID="exportbtn" runat="server" Text="Create PDF" OnClick="exportbtn_Click" Font-Underline="true" />

</asp:Content>

<asp:Content ID="content3" ContentPlaceHolderID="Description" runat="server">
    <p><%= Resources.C1PDF.TableOfContents_Text0 %></p>
</asp:Content>
