﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/Content/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#503b75">

    <link href="~/Content/css/bootstrap/css/bootstrap.css" rel="stylesheet" />
    @Styles.Render("~/Content/SyntaxHighlighter/codeHighlight")
    @Html.C1().Styles()
    @Styles.Render("~/Content/css/explorer")


    @Html.C1().Scripts().Basic().Olap()
    @Scripts.Render("~/bundles/explorer")
    @Scripts.Render("~/bundles/SyntaxHighlighter/codeHighlight")
    <script src="~/Scripts/wijmo.io/webapiclient.min.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Head", false)
</head>
<body>
    <div class="hide">
        @Html.Partial("_SiteNav", true)
    </div>

    <header>
        <div class="hamburger-nav-btn narrow-screen"><span class="icon-bars"></span></div>
        <a class="logo-container" href="@(Resources.Resource.Layout_ProductUrl)" target="_blank">
            <i class="gcicon-product-c1"></i>@Html.Raw(Resources.Resource.Layout_ComponentOne)
        </a>
        <div class="task-bar">
            <span class="semi-bold narrow-screen">@Html.Raw(Resources.Resource.Layout_ShortTitle)</span>
            <span class="semi-bold wide-screen">@Html.Raw(Resources.Resource.Layout_LongTitle)</span>
            @Html.Partial("_SiteNav", false)
        </div>
        @Html.Partial("_BreadcrumbNav")
    </header>

    <section class="content controls">
        <div class="page-content">
            @RenderBody()
        </div>
    </section>

    <footer>
        <a href="@Html.Raw(Resources.Resource.Layout_GrapeCityUrl)">
            <i class="gcicon-logo-gc-horiz"></i>
        </a>
        <p>
            © @DateTime.Now.Year @Html.Raw(Resources.Resource.Layout_License1)<br />
            @Html.Raw(Resources.Resource.Layout_License2)
        </p>
        @{
            var url = Request.Url;
            var urlStr = url.OriginalString.Substring(0, url.OriginalString.Length - (url.Query == null ? 0 : url.Query.Length));
        }
        <a href="http://www.facebook.com/sharer.php?u=@urlStr" target="_blank">
            <img src="~/Content/css/images/icons/32/picons36.png" alt="facebook" />
        </a>
        <a href="http://twitter.com/share?text=@(Resources.Resource.Layout_TwitterText)&url=@urlStr" target="_blank">
            <img src="~/Content/css/images/icons/32/picons33.png" alt="Twitter" />
        </a>
    </footer>
</body>
</html>
