﻿<!--index to test 0-->
<c1-flex-pie id="animationChart" header="Sales" binding-name="Country" binding="Count">
    <c1-items-source source-collection="Model"></c1-items-source>
    <c1-flex-pie-datalabel content="{value}"></c1-flex-pie-datalabel>
    <c1-chart-animation id="animation" animation-mode="All" duration="400" easing="Swing"></c1-chart-animation>
</c1-flex-pie>

<!-- index to test 1 -->
<c1-flex-pie id="@demoSettingsModel.ControlId" header="Sales" inner-radius="@innerRadius"
             binding-name="Country" binding="Count">
    <c1-items-source source-collection="Model"></c1-items-source>
    <c1-flex-pie-datalabel content="{value}"></c1-flex-pie-datalabel>
</c1-flex-pie>