﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ComponentOne ASP.NET MVC Project</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/Content/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#503b75">
    


    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/app.css" />
    <link rel="stylesheet" href="~/Content/css/explorer.css" />
    <link rel="stylesheet" href="~/Content/css/site.css" />
    @Html.C1().Styles()
    <!-- scripts -->
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    @Html.C1().Scripts().Basic(Sub(b) b.Input()).FlexViewer()
    <script src="~/Scripts/app.js" type="text/javascript"></script>
    <script src="~/Scripts/MultiLevelMenu.js" type="text/javascript"></script>
</head>
<body>


    <div class="hide">
        @Html.Partial("_SiteNav", True)
    </div>
    <header>
        <div class="hamburger-nav-btn narrow-screen"><span class="icon-bars"></span></div>
        <a class="logo-container" href="https://www.grapecity.com/en/componentone" target="_blank">
            <i class="gcicon-product-c1"></i>ComponentOne
        </a>
        <div class="task-bar">
            <span class="semi-bold narrow-screen">MVC Custom Storage Provider</span>
            <span class="semi-bold wide-screen">ASP.NET MVC Edition Custom Storage Provider</span>
            @Html.Partial("_SiteNav", False)
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <a href="http://www.grapecity.com/">
            <i class="gcicon-logo-gc-horiz"></i>
        </a>
        <p>
            © @DateTime.Now.Year GrapeCity, Inc. All Rights Reserved.<br />
            All product and company names here in may be trademarks of their respective owners.
        </p>
        @Code
            Dim requestUrl = Request.Url
            Dim urlStr = requestUrl.OriginalString.Substring(0, requestUrl.OriginalString.Length - (If(requestUrl.Query Is Nothing, 0, requestUrl.Query.Length)))
        End Code
        <a href="http://www.facebook.com/sharer.php?u=@urlStr" target="_blank">
            <img src="~/Content/css/images/icons/32/picons36.png" alt="facebook" />
        </a>
        <a href="http://twitter.com/share?text=Have you seen this? C1Studio MVC Edition Controls&url=@urlStr" target="_blank">
            <img src="~/Content/css/images/icons/32/picons33.png" alt="Twitter" />
        </a>
    </footer>
</body>
</html>
