﻿@ModelType Boolean
@Code
    Dim screenCss = If(Model, "narrow-screen", "wide-screen")
End Code
<ul class="site-nav @screenCss">
    <li>
        <a href="https://www.grapecity.com/en/aspnet-mvc" target="_blank">About</a>
    </li>
    <li>
        <a href="http://supportone.componentone.com/login" target="_blank">Support</a>
    </li>
    <li>
        <a href="https://www.grapecity.com/en/pricing" target="_blank">Pricing</a>
    </li>
    <li class="bold">
        <a href="https://www.grapecity.com/en/download/componentone-studio" target="_blank">FREE TRIAL</a>
    </li>
</ul>

