﻿@using ReportViewer101.Models

@model ReportViewer101Model

@{
    ViewBag.Title = "ReportViewer入門";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- はじめに -->
    <div>
        <h2>はじめに</h2>
        <p>
            <b>C1.Web.Mvc.FlexViewer</b>アセンブリには、レポートを表示できるReportViewerコントロールが含まれています。
        </p>
        <p>
            ReportViewerコントロールをMVCアプリケーションで使用する手順は以下のとおりです。
        </p>

        <ol>
            <li>ComponentOne for ASP.NET MVCアプリケーションテンプレートを使用して新しいMVCプロジェクトを作成します。</li>
            <li>コントローラと対応するビューをプロジェクトに追加します。</li>
            <li>Razor構文を使用して、ビューの<b>ReportViewer</b>コントロールを初期化します。</li>
            <li>
                （オプション）ReportViewerコントロールの外観をカスタマイズするCSSを追加します。
            </li>
        </ol>

        <p>
            <a target="_blank" href="https://docs.grapecity.com/help/c1/aspnet-mvc/webapi/#ReportServices.html">ComponentOne Web APIレポートサービス</a>は、<a target="_blank" href="https://c1.grapecity.com/help/web/winforms/winforms_flexreport/#C1.Win.FlexReport.4~C1.Win.FlexReport.C1FlexReport.html">C1FlexReport</a>を使用してレポートをレンダリングおよびエクスポートします。詳細は「<a target="_blank" href="https://docs.grapecity.com/help/c1/aspnet-mvc/webapi/#Working%20with%20Reports.html">FlexReports WebAPI の設定</a>」を参照してください。
        </p>
        <p>
            ComponentOne Web APIレポートサービスからFlexReportの内容を表示するには、次の基本プロパティを設定します。
        </p>
        <ol>
            <li>
                <b>serviceUrl:</b> ComponentOne Web APIレポートサービスのURL。
                例: '@Model.ServiceUrl'。
            </li>
            <li>
                <b>filePath:</b> FlexReport定義ファイルへのフルパス。
                例: 'ReportsRoot/Formatting/AlternateBackground.flxr'。
                <p>
                    'ReportsRoot'は、指定されたレポートを検索するためにサーバーに登録されているレポートプロバイダのキーです。
                    <br />
                    'Formatting/AlternateBackground.flxr'は、レポートプロバイダが見つけることができるFlexReport定義ファイルの相対パスです。
                </p>
            </li>
            <li>
                <b>reportName:</b> FlexReport定義ファイルで定義されたレポート名。
                例: 'AlternateBackground'。
            </li>
        </ol>
        <div class="col-md-12">
            <h4>結果（ライブ）:</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                @(Html.C1().ReportViewer()
                    .Id("gsReportViewer")
                    .ServiceUrl(Model.ServiceUrl)
                    .FilePath("ReportsRoot/Formatting/AlternateBackground.flxr")
                    .ReportName("AlternateBackground"))
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#gsHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#gsCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#gsCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                        <li class="active"><a href="#gsClose" role="tab" data-toggle="tab">X</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="gsHtml">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;

    &lt;/head&gt;
    &lt;body&gt;
        @@(Html.C1().ReportViewer()
            .Id("gsReportViewer")
            .ServiceUrl(Model.ServiceUrl)
            .FilePath("ReportsRoot/Formatting/AlternateBackground.flxr")
            .ReportName("AlternateBackground"))
    &lt;/body&gt;
&lt;/html&gt;
</div>
                        <div class="tab-pane pane-content" id="gsCss">
.wj-viewer{
    width: 100%;
    height: 600px;
}
                        </div>
                        <div class="tab-pane pane-content" id="gsCS">
using ReportViewer101.Models;
using System.Collections.Generic;
using System.Web.Mvc;

namespace ReportViewer101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            ReportViewer101Model model = new ReportViewer101Model();
            model.ServiceUrl = "@Model.ServiceUrl";
            return View(model);
        }
    }
}
                        </div>
                        <div class="tab-pane pane-content active" id="gsClose"  style="padding:0px!important;height:0px!important;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


    <!-- SSRSレポート -->
    <div>
        <h2>SSRSレポート</h2>
        <p>
            ReportViewerコントロールは、<a target="_blank" href="https://msdn.microsoft.com/ja-jp/library/ms159106.aspx">SSRS</a>レポートも表示できます。
        </p>
        <p>
            <a target="_blank" href="https://docs.grapecity.com/help/c1/aspnet-mvc/webapi/#ReportServices.html">ComponentOne Web APIレポートサービス</a>では、<a target="_blank" href="https://helpcentral.componentone.com/nethelp/FlexReport/C1.Win.C1Document.4~C1.Win.C1Document.C1SSRSDocumentSource.html">C1SSRSDocumentSource</a>を使用してSSRSサーバーに接続し、SSRSレポートをレンダリングします。
            まず、SSRSサーバーからデータを取り出して、期待されるフォーマット（通常はHTML5 SVG）に変換します。
            詳細は「<a target="_blank" href="https://docs.grapecity.com/help/c1/aspnet-mvc/webapi/#Working%20with%20Reports.html">FlexReports WebAPI の設定</a>」を参照してください。
        </p>
        <p>
            ComponentOne Web APIレポートサービスからSSRSレポートの内容を表示するには、次の基本プロパティを設定します。
        </p>
        <ol>
            <li>
                <b>serviceUrl:</b> ComponentOne Web APIレポートサービスのURL。
                例: '@Model.ServiceUrl'。
            </li>
            <li>
                <b>filePath:</b> サーバー上のSSRSレポートへのフルパス。
                例: 'c1ssrs/AdventureWorks/Company Sales'。
                <p>
                    'c1ssrs'は、指定されたレポートを検索するためにサーバーに登録されているレポートプロバイダのキーです。（'@Model.ServiceUrl'の場合、'c1ssrs'はSSRSサーバー'https://ssrs.componentone.com:8000/ReportServer'にリンクするレポートプロバイダのキーです。）
                    <br />
                    'AdventureWorks/Company Sales'は、SSRSサーバーに配置できるレポートへの完全パスです。
                </p>
            </li>
        </ol>
        <div class="col-md-12">
            <h4>結果（ライブ）:</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                @(Html.C1().ReportViewer()
                    .Id("ssrsReportViewer")
                    .ServiceUrl(Model.ServiceUrl)
                    .FilePath("c1ssrs/AdventureWorks/Company Sales"))
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#cPPHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#cPPCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                        <li class="active"><a href="#cPPClose" role="tab" data-toggle="tab">X</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="cPPHtml">
@@(Html.C1().ReportViewer()
    .Id("ssrsReportViewer")
    .ServiceUrl(Model.ServiceUrl)
    .FilePath("c1ssrs/AdventureWorks/Company Sales"))
                        </div>
                        <div class="tab-pane pane-content" id="cPPCS">
using ReportViewer101.Models;
using System.Collections.Generic;
using System.Web.Mvc;

namespace ReportViewer101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            ReportViewer101Model model = new ReportViewer101Model();
            model.ServiceUrl = "@Model.ServiceUrl";
            return View(model);
        }
    }
}
                        </div>
                        <div class="tab-pane pane-content active" id="cPPClose" style="padding:0px!important;height:0px!important;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- 基本機能 -->
    <div>
        <h2>基本機能</h2>
        <p>
            ReportViewerコントロールには、次の4つの基本プロパティがあり、外観と動作をカスタマイズできます。
        </p>
        <ul>
            <li>
                <b>fullScreen</b>:  ビューワがフルスクリーンモードであるかどうかを示します。
            </li>
            <li>
                <b>selectMouseMode</b>:  ビューパネルでマウスをクリックしてドラッグするとテキストが選択されるかどうかを示します。
            </li>
            <li>
                <b>viewMode</b>:  ドキュメントページを表示する方法を示します。
            </li>
            <li>
                <b>zoomFactor</b>:  ドキュメントページを表示する現在のズーム率を示します。
            </li>
        </ul>
        <p>
            以下の例では、これらのプロパティを変更したときの動作を確認することができます。
        </p>
        <div class="col-md-12">
            <h4>結果（ライブ）:</h4>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @(Html.C1().ReportViewer()
                        .Id("basicReportViewer")
                        .ServiceUrl(Model.ServiceUrl)
                        .FilePath("ReportsRoot/Formatting/AlternateBackground.flxr")
                        .ReportName("AlternateBackground")
                        .ZoomFactor(Model.ZoomFactor))
                </div>
                <br />
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="checkbox">
                                    <label>
                                        <input id="basicContinuousViewMode" type="checkbox" /> 連続ビューモード
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="checkbox">
                                    <label>
                                        <input id="basicSelectMouseMode" type="checkbox" /> マウス選択モード
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    <label>
                                        <input id="basicFullScreen" type="checkbox" /> フルスクリーン
                                    </label>
                                </div>
                            </div>
                            <div class="col-mod-4">
                                <label class="col-md-2 control-label">ズーム率</label>
                                <div class="col-md-2">
                                    @(Html.C1().InputNumber()
                                        .Id("basicZoomFactor")
                                        .Value(Model.ZoomFactor)
                                        .Min(0.05)
                                        .Max(10)
                                        .Step(0.1)
                                        .Format("n2")
                                        .OnClientValueChanged("basicZoomFactor_ValueChanged"))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#rPCHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#rPCJS" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#rPCCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                        <li class="active"><a href="#rPCClose" role="tab" data-toggle="tab">X</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="rPCHtml">
&lt;div class="row"&gt;
    @@(Html.C1().ReportViewer()
        .Id("basicReportViewer")
        .ServiceUrl(Model.ServiceUrl)
        .FilePath("ReportsRoot/Formatting/AlternateBackground.flxr")
        .ReportName("AlternateBackground")
        .ZoomFactor(Model.ZoomFactor))
&lt;/div&gt;
&lt;br /&gt;
&lt;div class="row"&gt;
    &lt;div class="form-horizontal"&gt;
        &lt;div class="form-group"&gt;
            &lt;div class="col-md-3"&gt;
                &lt;div class="checkbox"&gt;
                    &lt;label&gt;
                        &lt;input id="basicContinuousViewMode" type="checkbox" /&gt; 連続ビューモード
                    &lt;/label&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="col-md-3"&gt;
                &lt;div class="checkbox"&gt;
                    &lt;label&gt;
                        &lt;input id="basicSelectMouseMode" type="checkbox" /&gt; マウス選択モード
                    &lt;/label&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="col-md-2"&gt;
                &lt;div class="checkbox"&gt;
                    &lt;label&gt;
                        &lt;input id="basicFullScreen" type="checkbox" /&gt; フルスクリーン
                    &lt;/label&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="col-mod-4"&gt;
                &lt;label class="col-md-2 control-label"&gt;ズーム率&lt;/label&gt;
                &lt;div class="col-md-2"&gt;
                    @@(Html.C1().InputNumber()
                        .Id("basicZoomFactor")
                        .Value(Model.ZoomFactor)
                        .Min(0.05)
                        .Max(10)
                        .Step(0.1)
                        .Format("n2")
                        .OnClientValueChanged("basicZoomFactor_ValueChanged"))
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="rPCJS">
// basic features
var basicReportViewer = null,
    basicFullScreen = null,
    basicSelectMouseMode = null,
    basicZoomFactor = null,
    basicContinuousViewMode = null;

function InitialControls() {
    // basic features
    basicReportViewer = wijmo.Control.getControl('#basicReportViewer');
    basicFullScreen = document.getElementById('basicFullScreen');
    basicSelectMouseMode = document.getElementById('basicSelectMouseMode');
    basicZoomFactor = wijmo.Control.getControl('#basicZoomFactor');
    basicContinuousViewMode = document.getElementById('basicContinuousViewMode');
    // fullScreen
    basicFullScreen.checked = basicReportViewer.fullScreen;
    basicFullScreen.addEventListener('change', function () {
        basicReportViewer.fullScreen = this.checked;
    });

    // selectMouseMode
    basicSelectMouseMode.checked = basicReportViewer.selectMouseMode;
    basicSelectMouseMode.addEventListener('change', function () {
        basicReportViewer.selectMouseMode = this.checked;
    });

    // continousViewMode
    basicContinuousViewMode.checked = basicReportViewer.viewMode == wijmo.viewer.ViewMode.Continuous;
    basicContinuousViewMode.addEventListener('change', function () {
        basicReportViewer.viewMode = this.checked ? wijmo.viewer.ViewMode.Continuous : wijmo.viewer.ViewMode.Single;
    });
};

// basic features
function basicZoomFactor_ValueChanged(sender) {
    if (sender.value < sender.min || sender.value > sender.max) {
        return;
    }
    basicReportViewer.zoomFactor = sender.value;
};
                        </div>
                        <div class="tab-pane pane-content" id="rPCCS">
using ReportViewer101.Models;
using System.Collections.Generic;
using System.Web.Mvc;

namespace ReportViewer101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            ReportViewer101Model model = new ReportViewer101Model();
            model.ServiceUrl = "@Model.ServiceUrl";
            model.ZoomFactor = 1;
            return View(model);
        }
    }
}
                        </div>
                        <div class="tab-pane pane-content active" id="rPCClose" style="padding:0px!important;height:0px!important;">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- レポート名 -->
    <div>
        <h2>レポート名</h2>
        <p>
            <b>filePath</b>および<b>reportName</b>プロパティが変更された場合、ReportViewerはレポートを再表示します。
        </p>
        <div class="col-md-12">
            <h4>結果（ライブ）:</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                @{ 
                    var selReport = Model.ReportNames.FirstOrDefault();
                    var reportPath = selReport.Value;
                    var index = reportPath.LastIndexOf('/');
                    var filePath = reportPath.Substring(0, index);
                    var reportName = reportPath.Substring(index + 1);
                }
                @(Html.C1().ReportViewer()
                    .Id("namesReportViewer")
                    .ServiceUrl(Model.ServiceUrl)
                    .FilePath(filePath)
                    .ReportName(reportName))
                <br />
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">レポートパス</label>
                        <div class="col-md-9">
                            @(Html.C1().ComboBox()
                                .Id("namesReportPath")
                                .Bind(Model.ReportNames)
                                .SelectedValuePath("Value")
                                .DisplayMemberPath("Text")
                                .SelectedIndex(0)
                                .OnClientSelectedIndexChanged("namesReportPath_SelectedIndexChanged"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#vESourceHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#vESourceJS" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#vESourceCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                        <li class="active"><a href="#vESourceClose" role="tab" data-toggle="tab">X</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="vESourceHtml">
&lt;div class="row"&gt;
    &lt;div class="col-md-12"&gt;
        @@{
            var selReport = Model.ReportNames.FirstOrDefault();
            var reportPath = selReport.Value;
            var index = reportPath.LastIndexOf('/');
            var filePath = reportPath.Substring(0, index);
            var reportName = reportPath.Substring(index + 1);
        }
        @@(Html.C1().ReportViewer()
             .Id("namesReportViewer")
             .ServiceUrl(Model.ServiceUrl)
             .FilePath(filePath)
             .ReportName(reportName))
        &lt;br /&gt;
        &lt;div class="form-horizontal"&gt;
            &lt;div class="form-group"&gt;
                &lt;label class="col-md-3 control-label"&gt;レポートパス&lt;/label&gt;
                &lt;div class="col-md-9"&gt;
                    @@(Html.C1().ComboBox()
                        .Id("namesReportPath")
                        .Bind(Model.ReportNames)
                        .SelectedValuePath("Value")
                        .DisplayMemberPath("Text")
                        .SelectedIndex(0)
                        .OnClientSelectedIndexChanged("namesReportPath_SelectedIndexChanged"))
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="vESourceJS">
// report Names
function namesReportPath_SelectedIndexChanged(sender){
    if (!sender.selectedValue)
        return;
    var namesReportViewer = wijmo.Control.getControl('#namesReportViewer');
    var reportPath = sender.selectedValue;
    var index = reportPath.lastIndexOf('/');
    var filePath = reportPath.substr(0, index);
    var reportName = reportPath.substr(index + 1);
    namesReportViewer.filePath = filePath;
    namesReportViewer.reportName = reportName;
};
                        </div>
                        <div class="tab-pane pane-content" id="vESourceCS">
using ReportViewer101.Models;
using System.Collections.Generic;
using System.Web.Mvc;

namespace ReportViewer101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            ReportViewer101Model model = new ReportViewer101Model();
            model.ServiceUrl = "@Model.ServiceUrl";
            model.ReportNames = GetReportNames();
            return View(model);
        }

        private List&lt;Cmblist&gt; GetReportNames()
        {
            List&lt;Cmblist&gt; reportNames = new List&lt;Models.Cmblist&gt;();
            reportNames.Add(new Cmblist("ReportsRoot/Formatting/AlternateBackground.flxr/AlternateBackground", "Alternating Background"));
            reportNames.Add(new Cmblist("ReportsRoot/Controls/AllCharts.flxr/AllCharts", "All Charts"));
            reportNames.Add(new Cmblist("ReportsRoot/Controls/CheckBox.flxr/CheckBox", "Check Box"));
            reportNames.Add(new Cmblist("ReportsRoot/Controls/Shapes.flxr/Shapes", "Shapes"));
            return reportNames;
        }
    }
}
                        </div>
                        <div class="tab-pane pane-content active" id="vESourceClose" style="padding:0px!important;height:0px!important;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- コードでのパラメータの設定 -->
    <div>
        <h2>コードでのパラメータの設定</h2>
        <div class="col-md-12">
            <h4>結果（ライブ）:</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @(Html.C1().ReportViewer()
                        .Id("paramsReportViewer")
                        .ServiceUrl(Model.ServiceUrl)
                        .FilePath("ReportsRoot/FlexCommonTasks/FlexCommonTasks.flxr")
                        .ReportName("MultiValue DataBound Parameters"))
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">レポートパラメータ</label>
                        <div class="col-md-2">
                            @(Html.C1().MultiSelect()
                                .Name("parameters")
                                .Id("paramsMultiselect")
                                .Bind(Model.Parameters)
                                .DisplayMemberPath("Text")
                                .Placeholder("パラメータを選択してください")
                                .OnClientCheckedItemsChanged("parameters_CheckedItemsChanged")
                                .CheckedIndexes(0))
                        </div>
                        <div class="col-md-3">
                            <input class="btn" type="button" value="適用" onclick="applyParameters()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#reportParemetersHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#reportParemetersJS" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#reportParemetersCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                        <li class="active"><a href="#reportParemetersClose" role="tab" data-toggle="tab">X</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="reportParemetersHtml">
&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-md-12&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            @@(Html.C1().ReportViewer()
                 .Id(&quot;paramsReportViewer&quot;)
                 .ServiceUrl(Model.ServiceUrl)
                 .FilePath(&quot;ReportsRoot/FlexCommonTasks/FlexCommonTasks.flxr&quot;)
                 .ReportName(&quot;MultiValue DataBound Parameters&quot;))
        &lt;/div&gt;
        &lt;div class=&quot;form-horizontal&quot;&gt;
            &lt;div class=&quot;form-group&quot;&gt;
                &lt;label class=&quot;col-md-3 control-label&quot;&gt;レポートパラメータ&lt;/label&gt;
                &lt;div class=&quot;col-md-2&quot;&gt;
                    @@(Html.C1().MultiSelect()
                        .Name(&quot;parameters&quot;)
                        .Id(&quot;paramsMultiselect&quot;)
                        .Bind(Model.Parameters)
                        .DisplayMemberPath(&quot;Text&quot;)
                        .Placeholder(&quot;パラメータを選択してください&quot;)
                        .OnClientCheckedItemsChanged(&quot;parameters_CheckedItemsChanged&quot;)
                        .CheckedIndexes(0))
                &lt;/div&gt;
                &lt;div class=&quot;col-md-3&quot;&gt;
                    &lt;input class=&quot;btn&quot; type=&quot;button&quot; value=&quot;Apply&quot; onclick=&quot;applyParameters()&quot; /&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="reportParemetersJS">
// コードでのパラメータの設定
var parameterValues = [1];

function InitialControls() {
    // parameters features
    paramsReportViewer = wijmo.Control.getControl('#paramsReportViewer');
    paramsReportViewer.queryLoadingData.addHandler(function (sender, e) {
        e.data["parameters.pCategory"] = parameterValues;
    }, paramsReportViewer);
};

// parameters
function parameters_CheckedItemsChanged(sender, e) {
    var items = sender.checkedItems;
    parameterValues = [];
    for (var i = 0; i < items.length; i++) {
        parameterValues.push(items[i].Value);
    }
}

function applyParameters() {
    paramsReportViewer.reload();
}
                        </div>
                        <div class="tab-pane pane-content" id="reportParemetersCS">
using ReportViewer101.Models;
using System.Collections.Generic;
using System.Web.Mvc;

namespace ReportViewer101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            ReportViewer101Model model = new ReportViewer101Model();
            model.ServiceUrl = "@Model.ServiceUrl";
            model.Parameters = GetParameters();
            return View(model);
        }

        private List&lt;Cmblist&gt; GetParameters()
        {
            List&lt;Cmblist&gt; parameters = new List&lt;Models.Cmblist&gt;();
            parameters.Add(new Cmblist("1", "Beverages"));
            parameters.Add(new Cmblist("2", "Condiments"));
            parameters.Add(new Cmblist("3", "Confections"));
            parameters.Add(new Cmblist("4", "Dairy Products"));
            parameters.Add(new Cmblist("5", "Grains/Cereals"));
            parameters.Add(new Cmblist("6", "Meat/Poultry"));
            parameters.Add(new Cmblist("7", "Produce"));
            parameters.Add(new Cmblist("8", "Seafood"));
            return parameters;
        }
    }
}
                        </div>
                        <div class="tab-pane pane-content active" id="reportParemetersClose" style="padding:0px!important;height:0px!important;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    c1.documentReady(function () {
        if (window["InitialControls"]) {
            window["InitialControls"]();
        }
    });
</script>