﻿@using MultipleControlsBinding.Models;
@using C1.Web.Mvc;
@model List<Fruit>

@{
    ViewBag.Title = "複数コントロールの連結";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var settings = (Dictionary<string, object[]>)ViewBag.Settings;
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/Content/c1logo.png")" alt="Component One ASP.NET MVC" />
        <h1>
            複数コントロールの連結
        </h1>
        <p>
            このページでは、1つのCollectionViewを複数のコントロールに連結する方法を示します。
        </p>
    </div>
</div>

<div class="container">
    <div class="sample-page download-link">
        <a href="https://www.grapecity.co.jp/developer/download#net">トライアル版</a>
    </div>
    <!-- Getting Started -->
    <div>
        <h2>はじめに</h2>
        <p>
            MVCアプリケーションで複数コントロール連結を開始する際の手順。
        </p>
        <ol>
            <li>CollectionViewServiceを作成し、そのidを設定します。</li>
            <li>FlexGridコントロールを作成し、そのItemsSourceIdをCollectionViewServiceのidに設定します。</li>
            <li>FlexChartコントロールを作成し、FlexGridと同じItemsSourceIdを設定します。</li>
        </ol>
        <p>
            これにより、FlexGridとFlexChartが作成され、これらは同じCollectionViewに連結されます。したがって、FlexGridのデータを変更すると、FlexChartでもそのデータは変更されます。
        </p>
        @(Html.C1().CollectionViewService<Fruit>().Id("fruitsSales")
                                .Bind(Model).Update(Url.Action("Update", "Home"))
                                .Delete(Url.Action("Delete", "Home"))
                                .Create(Url.Action("Create", "Home")))
        <div class="row">
            <div class="col-md-5">
                <h4>FlexGrid :</h4>
                @(Html.C1().FlexGrid<Fruit>().Id("flexGrid")
                        .Columns(cls =>
                        {
                            cls.Add(col => col.Binding("ID").Visible(true).IsReadOnly(true).Width("40"));
                            cls.Add(col => col.Binding("Name").Width("*"));
                            cls.Add(col => col.Binding("Country").Width("*"));
                            cls.Add(col => col.Binding("MarPrice").Width("*"));
                            cls.Add(col => col.Binding("AprPrice").Width("*"));
                            cls.Add(col => col.Binding("MayPrice").Width("*"));
                        })
                    .IsReadOnly(true)
                    .AllowSorting(true)
                    .ItemsSourceId("fruitsSales")
                    .AutoGenerateColumns(false)
                    .IsReadOnly(false)
                    .AllowAddNew(true)
                    .AllowDelete(true)
                    .SelectionMode(C1.Web.Mvc.Grid.SelectionMode.Row)
                )
            </div>
            <div class="col-md-7">
                <h4>FlexChart :</h4>
                @(Html.C1().FlexChart().Id("flexChart").Header("Fruits Sales")
                            .ItemsSourceId("fruitsSales").BindingX("Name").Series(sers =>
                    {
                        sers.Add().Binding("MarPrice").Name("March");
                        sers.Add().Binding("AprPrice").Name("April");
                        sers.Add().Binding("MayPrice").Name("May");
                    }).SelectionMode(C1.Web.Mvc.Chart.SelectionMode.Point)
                )
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">チャートタイプ</label>
                        <div class="col-md-4">
                            @(Html.C1().ComboBox().Id("typeMenu")
                                    .Bind(settings["ChartType"]).Text("Column")
                                    .OnClientSelectedIndexChanged("typeMenu_SelectedIndexChanged")
                            )
                        </div>
                        <label class="col-md-2 control-label">回転</label>
                        <div class="col-md-4">
                            @(Html.C1().ComboBox().Id("rotatedMenu")
                                     .Bind(settings["Rotated"]).Text("False")
                                     .OnClientSelectedIndexChanged("rotatedMenu_SelectedIndexChanged")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
