﻿<!-- index to test 0 -->
<c1-sunburst id="@demoSettingsModel.ControlId" header="Sales" is-animated="false"
             selection-mode="None" selected-item-offset="0" selected-item-position="None"
             binding-name="Year, Quarter, Month" binding="Value">
    <c1-items-source source-collection="Model"></c1-items-source>
    <c1-flex-pie-datalabel content="{name}" position="Center"></c1-flex-pie-datalabel>
</c1-sunburst>


<!-- index to test 1 -->
<c1-sunburst id="@demoSettingsModel.ControlId" header="Sales" inner-radius="@innerRadius"
             binding-name="Year, Quarter, Month" binding="Value">
    <c1-items-source source-collection="Model"></c1-items-source>
    <c1-flex-pie-datalabel content="{name}"></c1-flex-pie-datalabel>
</c1-sunburst>

<!-- index to test 2 -->
<c1-sunburst id="@demoSettingsModel.ControlId" legend-position="None" header="Header" footer="Footer"
             binding-name="Year, Quarter, Month" binding="Value">
    <c1-items-source source-collection="Model"></c1-items-source>
    <c1-flex-pie-datalabel content="{name}" position="Center"></c1-flex-pie-datalabel>
    <c1-flex-chart-title-style c1-property="HeaderStyle" font-family="Arial" />
</c1-sunburst>