﻿<div class="header visible-xs visible-sm">
    <div class="container">
        <h1>FlexSheet</h1>
    </div>
</div>
<div class="header hidden-xs hidden-sm">
    <div class="container">
        <a class="logo-container" href="https://www.grapecity.com/en/aspnet-mvc" target="_blank">
            <i class="gcicon-product-c1"></i>
        </a>
        <h1>FlexSheet</h1>
    </div>
</div>
<div class="container">
    <br /><br />
    <div class="row">
        <div class="col-md-6">
            <h2><a href="@Url.Action("ExcelLike")">Excel-like Application</a></h2>
            <p>Shows the Excel-like sheet. It contains a ribbon, FlexSheet control and status bar.</p>
            <p><a href="@Url.Action("ExcelLike")" class="sampleButton">View Excel-like Application</a></p>
        </div>
        <div class="col-md-6">
            <h2><a href="@Url.Action("StandAlone")">Standalone Sheet</a></h2>
            <p>Shows the standalone FlexSheet Control.</p>
            <p><a href="@Url.Action("StandAlone")" class="sampleButton">View Standalone Sheet</a></p>
        </div>
    </div>
    <footer>
        <a href="http://www.grapecity.com/">
            <i class="gcicon-logo-gc-horiz"></i>
        </a>
        <p>
            © @DateTime.Now.Year GrapeCity, Inc. All Rights Reserved.<br />
            All product and company names here in may be trademarks of their respective owners.
        </p>
        <a href="http://facebook.com/wijmo">
            <img src="~/Content/images/icons/32/picons36.png" alt="facebook" />
        </a>
        <a href="http://twitter.com/wijmo">
            <img src="~/Content/images/icons/32/picons33.png" alt="Twitter" />
        </a>
    </footer>
    <br /><br /><br />
</div>