<html>
<head>
    <title></title>
    <!--Wijmo Theme-->
    <link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css">
    <!--Wijmo Widget CSS-->
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.css" rel="stylesheet" type="text/css">
    <!--RequireJS AMD Loader-->
    <script src="http://cdn.wijmo.com/external/require.js" type="text/javascript"></script>
    <script type="text/javascript">
        var viewModel;

        requirejs.config({
            baseUrl: "../../../amd-js/",
            paths: {
                "jquery": "jquery-<%= pkg.dependencies.jquery %>.min",
                "jquery-ui": "jquery-ui-<%= pkg.dependencies['jquery-ui'] %>.custom.min",
                "jquery.ui": "jquery-ui",
                "jquery.mousewheel": "jquery.mousewheel.min",
                "globalize": "globalize.min"
            }
        });

        require(["wijmo.wijgrid"], function () {
            $("#demo-grid").wijgrid({
                allowSorting: true,
                data: [
					[1, "Malkin", "Pit", 7, 2, 6, 8, 0, 29, "20:10", 2, 2],
					[2, "Talbot", "Pit", 7, 4, 2, 6, 4, 14, "16:35", 0, 0],
					[3, "Zetterberg", "Det", 7, 2, 4, 6, 3, 7, "22:15", 1, 2],
					[4, "Franzen", "Det", 7, 2, 2, 4, -1, 2, "19:27", 1, 1],
					[5, "Rafalski", "Det", 7, 1, 3, 4, 3, 0, "21:44", 1, 0],
					[6, "Letang", "Pit", 7, 1, 3, 4, -2, 0, "19:09", 1, 2],
					[7, "Kennedy", "Pit", 7, 2, 1, 3, 2, 0, "12:50", 0, 0],
					[8, "Ericsson", "Det", 7, 2, 1, 3, 1, 4, "16:04", 0, 0],
					[9, "Staal", "Pit", 7, 2, 1, 3, 0, 2, "18:20", 0, 1, 17],
					[10, "Fedotenko", "Pit", 7, 1, 2, 3, 3, 0, "15:43", 0, 0],
					[11, "Crosby", "Pit", 7, 1, 2, 3, -3, 2, "18:39", 0, 1],
					[12, "Lidstrom", "Det", 7, 0, 3, 3, 4, 0, "1:06", 0, 1],
					[13, "Hudler", "Det", 7, 0, 3, 3, 2, 0, "11:30", 0, 1],
					[14, "Hossa", "Det", 7, 0, 3, 3, 0, 2, "18:37", 0, 0],
					[15, "Abdelkader", "Det", 3, 2, 0, 2, 2, 0, "7:15", 0, 0],
					[16, "Filppula", "Det", 7, 2, 0, 2, -1, 2, "18:40", 0, 0],
					[17, "Stuart", "Det", 7, 2, 0, 2, -3, 2, "22:10", 0, 0],
					[18, "Gonchar", "Pit", 7, 1, 1, 2, 0, 2, "22:42", 1, 1],
					[19, "Kronwall", "Det", 7, 1, 1, 2, 0, 8, "22:01", 1, 1],
					[20, "Helm", "Det", 7, 1, 1, 2, -1, 0, "14:15", 0, 0]
                ],
                columns: [
					{ headerText: "ID", dataType: "number", dataFormatString: "n0" },
					{ headerText: "Skaters" },
					{ headerText: "Tm" },
					{ headerText: "GP", dataType: "number", dataFormatString: "n0" },
					{ headerText: "G", dataType: "number", dataFormatString: "n0" },
					{ headerText: "A", dataType: "number", dataFormatString: "n0" },
					{ headerText: "PTS", dataType: "number", dataFormatString: "n0" },
					{ headerText: "+/-", dataType: "number", dataFormatString: "n0" },
					{ headerText: "PIM", dataType: "number", dataFormatString: "n0" },
					{ headerText: "PPG" },
					{ headerText: "PPA", dataType: "number", dataFormatString: "n0" },
					{ headerText: "SOG", dataType: "number", dataFormatString: "n0" }
                ]
            });
        });
    </script>
</head>
<body>
    <div>
        <table id="demo-grid"></table>
    </div>
</body>
</html>