﻿body {
	background-color: #f8f8f8;
	font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
	padding: 0 0 10px;-ms-overflow-style: scrollbar;
}

body a,
body a:focus,
body a:hover{
	text-decoration: none;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
	font-weight: 300;
}

h2 {
	margin-top: 24px;
	margin-left: -12px;
}

.container {
	min-width:248px;
}

.container p {
	min-width:358px;
}

.header {
	background-color: #ff000a;
	margin-bottom: 14px;
	padding: 12px 0;
}

	.header h1 {
		font-size: 40px;
		line-height: 1;
		margin-top: 0;
	}


	.header img {
		float: left;
		margin: 0 10px 5px 0;
	}

    .download-link {
	background: #00C9C6 url(download.png) no-repeat 16px 10px;
	position: absolute;
	right: 20%;
	width: 250px;
	height: 45px;
	border-radius: 4px;
	top: 148px;
}

.download-link a {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 15pt;
	line-height: 10px;
	padding-left: 50px;
	height: 40px;
	font-family: Calibri;
}

.pane-content {
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: none;
	font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
	font-size: 13px;
	overflow: auto;
	padding: 0 8px;
	white-space: pre;
	max-height: 500px;
}

/* set default grid height and some shadow */
.wj-flexgrid {
	background-color: #fff;
	box-shadow: 4px 4px 10px 0 rgba(50, 50, 50, 0.75);
	height: 300px;
	margin-bottom: 12px;
}

/* create a 'custom-flex-grid' theme for the FlexGrid */
.custom-flex-grid .wj-header.wj-cell {
	color: #fff;
	background-color: #000;
	border-bottom: solid 1px #404040;
	border-right: solid 1px #404040;
	font-weight: bold;
}

.custom-flex-grid .wj-cell {
	background-color: #fff;
	border: none;
}

.custom-flex-grid .wj-alt:not(.wj-state-selected):not(.wj-state-multi-selected) {
	background-color: #fff;
}

.custom-flex-grid .wj-state-selected {
	background: #000;
	color: #fff;
}

.custom-flex-grid .wj-state-multi-selected {
	background: #222;
	color: #fff;
}

.row {
	margin-top: 40px;
	margin-bottom: 25px;
}

@media(max-width: 991px) {
	.header h1 {
		font-size: 22px;
		line-height: 1;
		margin-top: 7px;
		color: #fff;
	}

	h2 {
		font-size: 22px;
		margin: 10px 0 25px 0;
	}

	.wj-flexgrid {
		box-shadow: 2px 2px 8px 0 rgba(50, 50, 50, 0.5);
		margin-bottom: 12px;
	}

	.wj-dropdown {
		margin-bottom: 10px;
		width: 100%;
	}

	.dl-horizontal, 
    .btn-group, 
    .input-group {
		margin-bottom: 10px;
	}
}

@media(max-width: 767px) {
	body {
		font-size: 16px;
	}

	.dl-horizontal dd {
		width: 48%;
		float: right;
	}

	.dl-horizontal dt {
		width: 48%;
		float: left;
		text-align: right;
	}
}
