﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/app.css" />
        <c1-styles />

        <script src="https://code.jquery.com/jquery-2.0.0.min.js" type="text/javascript"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/js/app.js"></script>
        <c1-scripts>
            <c1-basic-scripts bundles="Input,Chart" />
        </c1-scripts>
    </head>
    <body>
            @RenderBody()
    </body>
</html>
