﻿@using C1Finance.Models
@using C1.Web.Mvc.Grid

@{
    ViewBag.Title = "ComponentOne ASP.Net MVC Finance";
}
@{  var link = "https://finance.yahoo.com/q?s=";}
<div class="header">
    <div class="container">
        <br />
                <img src="@Url.Content("~/C1Finance_logo.png")"/>
            <p>
            このアプリケーションはComponentOne for ASP.NET MVCとBootStrapを使用して開発されています。
                株価データは<a href="https://www.quandl.com/">Quandl</a>の無料の株価データベースから取得しています。
        </p>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            ポートフォリオ
        </div>
       
        <c1-flex-grid id="PortfolioFGrid" selection-mode="Cell" headers-visibility="Column" item-formatter="PortfolioFGrid_ItemFormatter"
                       allow-sorting="true" auto-generate-columns="false">
            <c1-flex-grid-column binding="Color" header="Name" is-read-only="true" width="2*">
                <c1-flex-grid-cell-template cell-type="Cells">
                    <span style="background-color:  {{Color}} ;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;{{Name}}</c1-flex-grid-cell-template>
            </c1-flex-grid-column>
            <c1-flex-grid-column binding="Name" header="" is-read-only="true" width="0"></c1-flex-grid-column>
            <c1-flex-grid-column binding="Symbol" header="Symbol" is-read-only="true" width="*">
                <c1-flex-grid-cell-template cell-type="Cells" >
                    <a href="@link {{Symbol}}">{{Symbol}}</a>
                </c1-flex-grid-cell-template>
            </c1-flex-grid-column>
            <c1-flex-grid-column binding="Chart" header="Chart" width="50"></c1-flex-grid-column>
            <c1-flex-grid-column binding="LastPrice" header="Last Price" is-read-only="true" width="*" input-type="DataType.Number" format="n2"></c1-flex-grid-column>
            <c1-flex-grid-column binding="Change" header="Change" is-read-only="true" width="*" format="p2"></c1-flex-grid-column>
            <c1-flex-grid-column binding="Shares" header="Shares" is-read-only="false" width="*" format="n0"></c1-flex-grid-column>
            <c1-flex-grid-column binding="Price" header="Price" is-read-only="false" width="*" format="n2"></c1-flex-grid-column>
            <c1-flex-grid-column binding="Cost" header="Cost" is-read-only="true" width="*" format="n0"></c1-flex-grid-column>
            <c1-flex-grid-column binding="Value" header="Value" is-read-only="true" width="*" format="n0"></c1-flex-grid-column>
            <c1-flex-grid-column binding="Gain" header="Gain" is-read-only="true" width="*" format="p2"></c1-flex-grid-column>
            <c1-flex-grid-column name="Remove" header="Remove" is-read-only="true" align="center" width="*">
              <c1-flex-grid-cell-template >
                  <a href="#" onclick="deleteRow('{{Symbol}}')"><span class="align-center glyphicon glyphicon-remove" style="color:#D14836"></span></a>
              </c1-flex-grid-cell-template>
            </c1-flex-grid-column>
            <c1-items-source read-action-url="@Url.Action("GetPortfolio")" update-action-url="@Url.Action("GridUpdate")" delete-action-url="@Url.Action("GridDelete")" query-data="collectStockNames"></c1-items-source>
        </c1-flex-grid>
        
        <div class="panel-footer">
            ポートフォリオに追加:
            <c1-auto-complete id="AddAutoComp" show-drop-down-button="false" display-member-path="symbolname" selected-value-path="symbol" placeholder="銘柄またはコードを入力"
                              css-match="match" selected-index-changed="AddAutoComp_SelectedIndexChanged">
                <c1-items-source read-action-url="@Url.Action("GetStockNames")"></c1-items-source>
            </c1-auto-complete>
           
            <button id="BtnAddToPortfolio" type="button" class="btn btn-primary"
                    onclick="AddToPortfolio();">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>

    <!-- chart -->
    <div class="panel panel-default">
        <div class="panel-heading">
            チャート
            <div class="btn-group btn-group-xs pull-right">
                <button id="BtnChartView0" type="button" class="btn btn-default" onclick="UpdateChartDuration(0)">年初来</button>
                <button id="BtnChartView1" type="button" class="btn btn-default" onclick="UpdateChartDuration(1)">6か月</button>
                <button id="BtnChartView2" type="button" class="btn btn-default" onclick="UpdateChartDuration(2)">1年</button>
                <button id="BtnChartView3" type="button" class="btn btn-default" onclick="UpdateChartDuration(3)">2年</button>
                <button id="BtnChartView4" type="button" class="btn btn-default" onclick="UpdateChartDuration(4)">3年</button>
                <button id="BtnChartView5" type="button" class="btn btn-default" onclick="UpdateChartDuration(5)">全期間</button>
            </div>
        </div>
        <c1-flex-chart id="PortfolioFChart" binding-x="TimeSlab" chart-type="Line" selection-mode="Series" 
                       legend-position="None">
            <c1-flex-chart-axis c1-property="AxisX" format=""yyyy/M">
                <c1-items-source read-action-url="@Url.Action("GetPortfolio")"></c1-items-source> 
            </c1-flex-chart-axis>
            <c1-flex-chart-axis c1-property="AxisY" binding="PriceGrowth" format="p0" ></c1-flex-chart-axis>
        </c1-flex-chart>
       
    </div>

    <script type="text/javascript">
        c1.mvc.Utils.documentReady(function () {
            if (window["InitialControls"]) {
                window["InitialControls"]();
            }
        });
    </script>
</div>