﻿@{
    List<string> countries = ViewBag.Countries;
}

@section Styles{
<style>
    .highlight {
        background-color: #ff0;
        color: #000;
    }
</style>
}

<div>
    <label>@Html.Raw(Resources.AutoComplete.Index_Text2)</label>
    <p>@Html.Raw(Resources.AutoComplete.Index_Text0)</p>
    @Html.C1().AutoComplete().Bind(countries)
</div>
<div>
    <label>@Html.Raw(Resources.AutoComplete.Index_Text3)</label>
    <p>@Html.Raw(Resources.AutoComplete.Index_Text1)</p>
    @Html.C1().AutoComplete().Bind(countries).CssMatch("highlight")
</div>

@section Description{
    @Html.Raw(Resources.AutoComplete.Index_Text4)
}