﻿/* customize Bootstrap header classes */
.header
{
    background-color: #ff000a;
    padding: 12px 0px;
    margin-bottom: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}

.header h1 {
    font-size: 40px;
    line-height: 1;
    margin: 8px 0 5px 0;
}

.header img {
    float: left;
    margin: 0 10px 5px 0;
}

/* set font for the document */
body {
    font-family: 'Segoe UI', sans-serif;
	padding-bottom: 75px;
}

input[type="file"] {
	height: auto;
	padding: 3px 12px;
}

.form-inline .checkbox {
	padding-left: 15px;
}

.pane-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: white;
    border-color: #dddddd;
    border-image: none;
    border-right: 1px solid #dddddd;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 13px;
    overflow: auto;
    padding: 0 8px;
    white-space: pre;
}

.appCopy {
	margin: 30px 0 40px 0;
}

.appCopy h2 {
	margin-top: 0;
}

@media (min-width: 768px) {
	#importFile {
		width: 240px;
	}
}