@using LearnMvcClient.Models
@model IEnumerable<FlexChartData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexChart.SpecialChartTypes_Title)
</h1>

<p>
    @Html.Raw(Resources.C1FlexChart.SpecialChartTypes_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexChart.SpecialChartTypes_Text2)
</p>
<p>
    @Html.Raw(Resources.C1FlexChart.SpecialChartTypes_Text3)
</p>
<p>
    @Html.Raw(Resources.C1FlexChart.SpecialChartTypes_Text4)
</p>

@(Html.C1().FlexChart<FlexChartData.Sale>().Id("theChart")
    .Bind("Sales", Model)
    .ChartType(C1.Web.Mvc.Chart.ChartType.Bubble)
    .Series(sb=>sb.Add().Binding("Expenses,Downloads"))
    .Legend(C1.Web.Mvc.Chart.Position.None)
    .AxisX(ab=>ab.Title("Sales").Min(0))
    .AxisY(ab => ab.Title("Expenses").Min(0))
)