﻿@charset "utf-8";
/* CSS Document */
/* --- reset & body style --- */
 
body
{
	height:100%;
	font-family:Meiryo, メイリオ, ＭＳ Ｐゴシック, Verdana, Arial;
	font-size:small;
	color:#000000;
	/*background:#f0f0f0;*/	
}

.tabs *{
    border-collapse:collapse;
    font-family:Meiryo, メイリオ, ＭＳ Ｐゴシック, Verdana, Arial ; 
	font-size:small ;
   
}

.title {
    margin:0 0 20px 0;
	padding:20px 10px;
    color: #2383c3;
    font-family:Meiryo, メイリオ, ＭＳ Ｐゴシック, Verdana, Arial;
    font-size:125%;
	font-weight:lighter;
    border-top: 4px solid #2383c3;
	border-bottom:1px solid #E6E6E6;
	background:#f5f5f5;
}

.inputTable
{
	/*width:100%;*/
	border-collapse:collapse;
	margin: 0px;
    padding: 0px;
}

.inputTh {
    font-family:Meiryo, メイリオ, ＭＳ Ｐゴシック, Verdana, Arial;
	padding:3px;
	font-weight:normal;
	text-align:left;
	white-space:nowrap;
	background:#F0F0F0;
	border:1px solid #D2D2D2;
}

.inputTd
{
    padding:3px;
    border : 1px solid #D2D2D2;
}

.myLabel
{
    width: 150px;
	margin:2px;
}


select
{
	font-family: Meiryo, メイリオ, ＭＳ Ｐゴシック, Verdana, Arial;
	width:150px;
	margin:2px;
}


input[type=range]
{
	font-family: Meiryo, メイリオ, ＭＳ Ｐゴシック, Verdana, Arial;
	width:150px;
    height: 25px;
    margin: -15px 2px -35px 2px;
}

.myButton 
{
	font-family: Meiryo, メイリオ, ＭＳ Ｐゴシック, Verdana, Arial !important; 
    padding:2px;
	width:150px;
	margin:2px;
}

.myInput
{
	font-family: Meiryo, メイリオ, ＭＳ Ｐゴシック, Verdana, Arial;
	width:150px;
	margin:2px;
}
.myCheck
{
	font-family: Meiryo, メイリオ, ＭＳ Ｐゴシック, Verdana, Arial;
	margin:2px;
}

.myInput2
{
	font-family: Meiryo, メイリオ, ＭＳ Ｐゴシック, Verdana, Arial;
	width:250px;
	margin:2px;
}

.myTextArea {
    font-family: Meiryo, メイリオ, ＭＳ Ｐゴシック, Verdana, Arial;
	width: 300px;
    height: 80px;
	margin:2px;
}