﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    @Html.C1().Styles()
    @Styles.Render("~/Content/Styles")

    <script src="https://code.jquery.com/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/Lib/canvasToBlob/canvas-toBlob.min.js"></script>
    <script src="~/Content/Lib/blob/Blob.min.js"></script>
    <script src="~/Content/Lib/fileSaver/FileSaver.min.js"></script>
    <script src="~/Content/Lib/canvg/rgbcolor.min.js"></script>
    <script src="~/Content/Lib/canvg/StackBlur.min.js"></script>
    <script src="~/Content/Lib/canvg/canvg.min.js"></script>
    @Scripts.Render("~/Content/External")
    @Html.C1().Scripts().Basic(b=>b.Chart(c=>c.Annotation().LineMarker()).Input())
    @Scripts.Render("~/Content/Scripts")
</head>
<body>
    <div class="header">
        <div class="container">
            <img src="Content/Resources/Logo_WijmoMvc.png" />
            <h1>株価チャート</h1>
            <p>
                このサンプルでは、FlexChartを使用して会社の株価情報を表示して、他の会社の株価を追加して比較することができます。
                株価データは<a href="https://www.quandl.com/">Quandl</a>の無料の株価データベースから取得しています。
            </p>
        </div>
    </div>

    @RenderBody()
</body>
</html>
