﻿@using System.Drawing

<p>
    <img id="image1" src="@Href("~/Content/images/room.png")" />
</p>

@section Scripts{
    <script>
        function changeColor(sender, e) {
            document.getElementById("image1").style.backgroundColor = sender.value;
        }
    </script>
}

<div> 
    <label>@Html.Raw(Resources.InputColor.Index_Text0)</label>
    @Html.C1().InputColor().Value(Color.White).OnClientValueChanged("changeColor").ClickAction(ClickAction.Toggle)
</div>

@section Description{
    @Html.Raw(Resources.InputColor.Index_Text1)
}