﻿@model bool
@{
var screenCss = Model ? "narrow-screen" : "wide-screen";
}
<ul class="site-nav @screenCss">
  <li class="narrow-screen">
    <a href="@Url.Action("Index", "C1Mvc")">@Resources.Resource.Home</a>
  </li>
  <li>
    <a href="@Resources.Resource.LinkAbout" target="_blank">@Resources.Resource.About</a>
  </li>
  <li>
    <a href="@Resources.Resource.LinkSupport" target="_blank">@Resources.Resource.Support</a>
  </li>
  <li>
    <a href="@Resources.Resource.LinkPricing" target="_blank">@Resources.Resource.Pricing</a>
  </li>
  <li class="bold">
    <a href="@Resources.Resource.LinkFreeTrial" target="_blank">@Resources.Resource.FreeTrial</a>
  </li>
</ul>
