﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>行の編集</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        <!-- styles -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="@Url.Content("~/Content/app.css")" />
        @Html.C1().Styles()

        <!-- jQuery and Bootstrap scripts -->
        <script src="https://code.jquery.com/jquery-2.0.0.min.js" type="text/javascript"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>       
        @Html.C1().Scripts().Basic(b => b.Grid())
    </head>
    <body>
        @RenderBody()
    </body>
</html>
