﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - $safeprojectname$</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="~/css/cellStyles.css" />
    <link rel="stylesheet" href="~/css/ribbon.css" />
    <c1-styles $if$ ($customthemeisset$ == True)theme="$customtheme$" $endif$/>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/app/app.js"></script>$if$ ($enabledeferredscripts$ != True)
    <c1-scripts>
        <c1-basic-scripts></c1-basic-scripts>
        <c1-flex-sheet-scripts></c1-flex-sheet-scripts>
    </c1-scripts>$endif$
</head>
<body>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>$if$ ($enabledeferredscripts$ == True)
    <c1-scripts>
        <c1-basic-scripts></c1-basic-scripts>
        <c1-flex-sheet-scripts></c1-flex-sheet-scripts>
    </c1-scripts>$endif$
    @RenderSection("Scripts", required: false)$if$ ($enabledeferredscripts$ == True)
    <c1-deferred-scripts />$endif$
</body>
</html>
