@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="settings-panel-content">
    <div style="float:left;width:100%">
        <div style="float:left"><h4>@Html.Raw(Excel.ExcelSplitGET_Parameters)</h4></div>
        <div style="float:right">
            <button style="margin-top:3px;padding: 4px;" class="btn btn-primary"
                    onclick="splitExcelGet('@Model.FunctionName', '@(Configuration["WebAPIService"])');">
                @Html.Raw(Excel.ExcelSplitGET_SplitExcel)
            </button>
        </div>
    </div>
    <div>
        <div class="settings-panel excel-split">
            <div class="param-item">
                <label class="param-lable parameter"><b>@Html.Raw(Excel.ExcelSplitGET_Parameter)</b></label>
                <label class="param-lable value"><b>@Html.Raw(Excel.ExcelSplitGET_Value)</b></label>
                <label class="param-lable description"><b>@Html.Raw(Excel.ExcelSplitGET_Description)</b></label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Excel.ExcelSplitGET_ExcelPath)</label>
                <span class="param-value-group">
                    <select name="excelPath" class="param-value" style="width: 100%">
                        <option value="ExcelRoot/align.xls" selected="selected">align.xls</option>
                        <option value="ExcelRoot/AllFormats.xls">AllFormats.xls</option>
                        <option value="ExcelRoot/FlexGrid.xlsx">FlexGrid.xlsx</option>
                        <option value="ExcelRoot/GAS.xls">GAS.xls</option>
                        <option value="ExcelRoot/Grouping.xlsx">Grouping.xlsx</option>
                        <option value="ExcelRoot/Hierarchical.xlsx">Hierarchical.xlsx</option>
                        <option value="ExcelRoot/Houston.xlsx">Houston.xlsx</option>
                        <option value="ExcelRoot/Palette.xls">Palette.xls</option>
                        <option value="ExcelRoot/ExcelWithFormula.xls">ExcelWithFormula.xls</option>
                    </select>
                </span>
                <label class="param-lable description">@Html.Raw(Excel.ExcelSplitGET_ExcelPathText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Excel.ExcelSplitGET_OutputPath)</label>
                <input class="param-value value" type="text" name="outputPath" value="ExcelRoot/OutputFiles" />
                <label class="param-lable description">@Html.Raw(Excel.ExcelSplitGET_OutputPathText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Excel.ExcelSplitGET_OutputNames)</label>
                <input class="param-value value" type="text" name="outputNames" value="Sheet1.xlsx,Sheet2.xlsx,Sheet3.xlsx" />
                <label class="param-lable description">@Html.Raw(Excel.ExcelSplitGET_OutputNamesText)</label>
            </div>
        </div>
    </div>
</div>
<div id="@(Model.FunctionName)result" class="content-panel-result">
    <h4>@Html.Raw(Excel.ExcelSplitGET_RequestUrl)</h4>
    <div id="@(Model.FunctionName)url" class="content-panel-result-url">
        <pre>
        </pre>
    </div>
    <h4 class="content-json-data">@Html.Raw(Excel.ExcelSplitGET_ResponseData)</h4>
    <div id="@(Model.FunctionName)showdata" class="result-content-data" style="height:auto">
        <pre style="max-height:200px">
        </pre>
        <span>@Html.Raw(Excel.ExcelSplitGET_ViewFiles)</span><span class="viewfiles"></span>
    </div>
</div>

<script>
    function splitExcelGet(id, url) {
        var excelPath = $(".excel-split .param-value[name=excelPath]").val();
        var outputPath = $(".excel-split .param-value[name=outputPath]").val();
        var outputNames = $(".excel-split .param-value[name=outputNames]").val();

        var params = "";
        if (outputPath) {
            params += "&outputpath=" + outputPath;
        }

        if (outputNames) {
            $.each(outputNames.split(','), function (index, val) {
                if (val) {
                    params += "&outputnames=" + val.trim();
                }
            });
        }

        var fullUrl = url + "api/excel/" + excelPath + "/split" + (params ? "?" + params.substr(1) : "");
        $("#@(Model.FunctionName)url pre").text(fullUrl);

        $.ajax({
            type: "GET",
            url: fullUrl,
            cache: false,
            success: function (data) {
                $("#@(Model.FunctionName)showdata pre").text(JSON.stringify(data, null, 4));
                $("#@(Model.FunctionName)result").show();
                $(".content-json-data").show();

                if (data["success"]) {
                    updateViewFilesLink("#@(Model.FunctionName)showdata span.viewfiles", url, data["data"]);
                }
            }
        });
    }
</script>
