@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="settings-panel-content">
    <div style="float:left;width:100%">
        <div style="float:left"><h4>@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_Text)</h4></div>
        <div style="float:right">
            <button style="margin-top:3px;padding: 4px;" class="btn btn-primary"
                    onclick="generateExcelPost_@(Model.FunctionName)('@Model.FunctionName', '@(Configuration["WebAPIService"] + Model.FunctionUrl.Substring(1))');">
                @Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_GenerateExcel)
            </button>
        </div>
    </div>
    <div>
        <div class="settings-panel">
            <div class="param-item">
                <label class="param-lable parameter"><b>@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_Parameter)</b></label>
                <label class="param-lable value"><b>@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_Value)</b></label>
                <label class="param-lable description"><b>@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_Description)</b></label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_FileName)</label>
                <input class="param-value value" type="text" name="FileName" value="excel" />
                <label class="param-lable description">@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_FileNameText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_Type)</label>
                <select class="param-value value" name="type">
                    <option value="json">json</option>
                    <option selected="selected" value="xlsx">xlsx</option>
                    <option value="xls">xls</option>
                    <option value="csv">csv</option>
                    <option value="xml">xml</option>
                </select>
                <label class="param-lable description">@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_TypeText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_Workbook)</label>
                <textarea id="jsonWorkbook" class="param-value value" wrap="off" name="workbook"></textarea>
                <label class="param-lable description">@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_WorkbookText)</label>
            </div>
        </div>
    </div>
</div>
<div id="@(Model.FunctionName)result" class="content-panel-result content-panel-result-grid">
    <h4>@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_RequestUrl)</h4>
    <div id="@(Model.FunctionName)url" class="content-panel-result-url">
        <pre>
        </pre>
    </div>
    <h4 class="content-json-data">@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_ShowJsonDataByFlexGrid)</h4>
    <div id="@(Model.FunctionName)showdata" class="result-content-data">
    </div>
    <h4 class="content-json-xml">@Html.Raw(Excel.ExcelGeneratingFromWorkbookPOST_ShowXMLData)</h4>
    <pre class="result-content-xml">
    </pre>
</div>

<script>
    var workbookstr = '{\r'+
'    "creator":"tester",\r'+
'    "sheets":[\r'+
'        {\r'+
'            "name":"s1",\r'+
'            "cols":[\r'+
'                {\r'+
'                    "width":200,\r'+
'                    "visible":true\r'+
'                }\r'+
'            ],\r'+
'            "rows":[\r'+
'                {\r'+
'                    "cells":[\r'+
'                        {\r'+
'                            "value":"test"\r'+
'                        }\r'+
'                    ]\r'+
'                }\r'+
'            ]\r'+
'        }\r'+
'    ]\r' +
'}'
    $("#jsonWorkbook").html(workbookstr);
    function generateExcelPost_@(Model.FunctionName)(id, url) {
        formPost(id, url);
        showResult(id, url);
    }
</script>
