@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="settings-panel-content">
    <div style="float:left;width:100%">
        <div style="float:left"><h4>@Html.Raw(Excel.ExcelGeneratingFromXMLGET_Parameters)</h4></div>
        <div style="float:right">
            <button style="margin-top:3px;padding: 4px;" class="btn btn-primary"
                    onclick="generateExcelGet_@(Model.FunctionName)('@Model.FunctionName', '@(Configuration["WebAPIService"] + Model.FunctionUrl.Substring(1))');">
                @Html.Raw(Excel.ExcelGeneratingFromXMLGET_GenerateExcel)
            </button>
        </div>
    </div>
    <div>
        <div class="settings-panel">
            <div class="param-item">
                <label class="param-lable parameter"><b>@Html.Raw(Excel.ExcelGeneratingFromXMLGET_Parameter)</b></label>
                <label class="param-lable value"><b>@Html.Raw(Excel.ExcelGeneratingFromXMLGET_Value)</b></label>
                <label class="param-lable description"><b>@Html.Raw(Excel.ExcelGeneratingFromXMLGET_Description)</b></label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Excel.ExcelGeneratingFromXMLGET_FileName)</label>
                <input class="param-value value" type="text" name="FileName" value="excel" />
                <label class="param-lable description">@Html.Raw(Excel.ExcelGeneratingFromXMLGET_FileNameText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Excel.ExcelGeneratingFromXMLGET_TemplateFileName)</label>
                <select class="param-value value" name="TemplateFileName">
                    <option value=""></option>
                    <option value="ExcelRoot\Templates\XmlDataTemplate.xlsx" selected="selected">XmlDataTemplate.xlsx</option>
                </select>
                <label class="param-lable description">@Html.Raw(Excel.ExcelGeneratingFromXMLGET_TemplateFileNameText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Excel.ExcelGeneratingFromXMLGET_Type)</label>
                <select class="param-value value" name="type">
                    <option value="json">json</option>
                    <option selected="selected" value="xlsx">xlsx</option>
                    <option value="xls">xls</option>
                    <option value="csv">csv</option>
                    <option value="xml">xml</option>
                </select>
                <label class="param-lable description">@Html.Raw(Excel.ExcelGeneratingFromXMLGET_TypeText)</label>
            </div>
            <div class="param-item">
                <label class="param-lable parameter">@Html.Raw(Excel.ExcelGeneratingFromXMLGET_DataFileName)</label>
                <select class="param-value value" name="datafilename">
                    <option value="none" selected="selected">@Html.Raw(Excel.ExcelGeneratingFromXMLGET_DataFileName_None)</option>
                    <option value="ExcelRoot/10rowsdata.xml">10rowsdata.xml</option>
                    <option value="OneDrive/Documents/10rowsdata.xml">OneDrive/Documents/10rowsdata.xml</option>
                </select>
                <label class="param-lable description">
                    @Html.Raw(Excel.ExcelGeneratingFromXMLGET_DataFileNameText)
                </label>
            </div>
        </div>
    </div>
</div>
<div id="@(Model.FunctionName)result" class="content-panel-result content-panel-result-grid">
    <h4>@Html.Raw(Excel.ExcelGeneratingFromXMLGET_RequestUrl)</h4>
    <div id="@(Model.FunctionName)url" class="content-panel-result-url">
        <pre>
        </pre>
    </div>
    <h4 class="content-json-data">@Html.Raw(Excel.ExcelGeneratingFromXMLGET_ShowJsonDataByFlexGrid)</h4>
    <div id="@(Model.FunctionName)showdata" class="result-content-data">
    </div>
    <h4 class="content-json-xml">@Html.Raw(Excel.ExcelGeneratingFromXMLGET_ShowXMLData)</h4>
    <pre class="result-content-xml">
    </pre>
</div>

<script>
    function generateExcelGet_@(Model.FunctionName)(id, url) {
        var fullUrl = showResult(id, url);
        includeColumnHeaders = true;
        formGet(id, fullUrl);
    }
</script>
