.wj-file-manager .wj-treeview .wj-node.wj-state-selected {
  color: inherit;
  background: rgb(19, 123, 163)!important;
}

.fm-context-menu-items .wj-listbox-item:hover {
   color: inherit;
   background-color: rgb(19, 123, 163)!important;
}

.fm-svg svg
{
    fill:#125D72!important;
}

.fm-svg path,
.fm-svg rect
{
    fill:#125D72!important;
}