.wj-file-manager .wj-treeview .wj-node.wj-state-selected {
  color: inherit;
  background: rgb(247, 148, 29)!important;
}

.fm-context-menu-items .wj-listbox-item:hover {
   color: inherit;
   background-color: rgb(247, 148, 29) !important;
}

.fm-svg svg
{
    fill:#4B585F!important;
}

.fm-svg path,
.fm-svg rect
{
    fill:#4B585F!important;
}
