.wj-file-manager .wj-treeview .wj-node.wj-state-selected {
  color: inherit;
  background: rgb(39, 128, 236)!important;
}

.fm-context-menu-items .wj-listbox-item:hover {
   color: inherit;
   background-color: rgb(39, 128, 236)!important;
}


/*.fm-svg svg
{
    fill:#D4D4D4!important;
}

.fm-svg path,
.fm-svg rect
{
    fill:#D4D4D4!important;
}*/