﻿@using Financial.Models
@using C1.Web.Mvc.Grid
@model IEnumerable<Company>
@{ 
    ViewBag.Title = "株価のライブ更新";
}

<script type="text/template" id="template1">
    <div id="{{uid}}">
        <div class="value"></div>
        <div class="chg"></div>
        <div class="glyph"><span></span></div>
        <div class="spark"></div>
    </div>
    <script type="text/javascript">
        formatDynamicCell('{{uid}}', '{{row}}', '{{column}}');
    </script>
</script>

<div class="container">
    <h1>株価情報</h1>
    <p>
        動的に更新される株価情報。
    </p>
</div>
<label>
    カスタムセル
    <input id="customCells" type="checkbox" checked="checked">
</label>
<label>
    自動更新
    <input id="autoUpdate" type="checkbox" checked="checked">
</label>
<label>
    更新間隔 (ms)
    @(Html.C1().ComboBox()
        .Id("updateInterval")
        .Bind((List<object>)ViewBag.Intervals)
        .SelectedValue(100).IsEditable(false)
        .OnClientSelectedIndexChanged("updateInterval_SelectedIndexChanged"))
</label>
<label>
    更新項目数
    @(Html.C1().ComboBox()
        .Id("batchSize")
        .Bind((List<object>)ViewBag.BatchSizes)
        .SelectedValue(5).IsEditable(false)
        .OnClientSelectedIndexChanged("batchSize_SelectedIndexChanged"))
</label>

@(Html.C1().FlexGrid<Company>()
    .Id("theGrid")
    .AutoGenerateColumns(false)
    .Bind(Model)
    .IsReadOnly(true)
    .Columns(columns =>
    {
        columns.Add(column => column.Binding("Name").Header("銘柄").Width("220"));
        columns.Add(column => column.Binding("Bid").Header("買気配").Format("n2").Width("220").CellTemplate(ctb=>ctb.TemplateId("template1")));
        columns.Add(column => column.Binding("Ask").Header("売気配").Format("n2").Width("220").CellTemplate(ctb => ctb.TemplateId("template1")));
        columns.Add(column => column.Binding("LastSale").Header("直近約定値").Format("n2").Width("220").CellTemplate(ctb => ctb.TemplateId("template1")));
        columns.Add(column => column.Binding("BidSize").Header("買数量").Format("n0"));
        columns.Add(column => column.Binding("AskSize").Header("売数量").Format("n0"));
        columns.Add(column => column.Binding("LastSize").Header("直近数量").Format("n0"));
        columns.Add(column => column.Binding("Volume").Header("出来高").Format("n0"));
        columns.Add(column => column.Binding("QuoteTime").Header("提示時刻").Format("hh:mm:ss").Align("center"));
        columns.Add(column => column.Binding("TradeTime").Header("提示時刻").Format("hh:mm:ss").Align("center"));
    })
    .SelectionMode(SelectionMode.Row)
    .SortingType(AllowSorting.None)
    .OnClientFormatItem("formatItem")
    .OnClientUpdatingView("updatingView")
)