﻿<!DOCTYPE html>
<html>
<head>
    <title>Wijmo Data Visualization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!--jQuery References-->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>

    <!--Wijmo Widgets CSS-->
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.css" rel="stylesheet" type="text/css" />

    <!--Wijmo Widgets JavaScript-->
    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.js" type="text/javascript"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style type="text/css">
        .bs-header
        {
            padding: 30px 15px 40px;
        }

        body
        {
            position: relative;
            padding-top: 50px;
        }

        .bs-sidenav
        {
            margin-top: 30px;
            margin-bottom: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-shadow: 0 1px 0 #fff;
            background-color: #f7f5fa;
            border-radius: 5px;
        }

        @media screen and (min-width: 992px)
        {
            .bs-sidenav
            {
                min-width: 200px;
                position: fixed;
                top: 80px;
            }
        }
    </style>
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../" class="navbar-brand">Wijmo Data Visualization</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://gcdocs.azureedge.net/wijmo/3/WijmoUserGuide.html">Documentation</a>
                    </li>
                    <li>
                        <a href="https://www.grapecity.com/en/controls/wijmo/wijmo-3/">Demos</a>
                    </li>
                    <li>
                        <a href="https://www.grapecity.com/en/download/wijmo-enterprise">Download</a>
                    </li>
                    <li>
                        <a href="https://www.grapecity.com/en/pricing">Purchase</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-3">
                <div class="bs-sidebar hidden-print" role="complementary">
                    <ul class="nav bs-sidenav">
                        <li>
                            <a href="#area-chart">Area Chart</a>
                        </li>
                        <li>
                            <a href="#bar-chart">Bar Chart</a>
                        </li>
                        <li>
                            <a href="#column-chart">Column Chart</a>
                        </li>
                        <li>
                            <a href="#line-chart">Line Chart</a>
                        </li>
                        <li>
                            <a href="#pie-chart">Pie Chart</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9" role="main">

                <div class="bs-docs-section">
                    <div class="page-header">
                        <h1 id="area-chart">Area Chart</h1>
                    </div>
                    <div id="wijareachart" style="height: 300px">
                    </div>
                    <p class="lead">
                        This sample demonstrates how to create an area chart using Line Chart by setting type: "area". This is an Area Chart that displays a single series of sales data. 
                    </p>

                    <script id="script3" type="text/javascript">
                        $(document).ready(function () {
                            $("#wijareachart").wijlinechart({
                                type: "area", //Change line chart into area chart
                                textStyle: {
                                    "font-size": "13px",
                                    "font-family": '"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif'
                                },
                                header: {
                                    text: "Monthly Sales Revenue"
                                },
                                axis: {
                                    y: {
                                        text: "USD (thousands)",
                                        textStyle: {
                                            "font-weight": "normal"
                                        },
                                        min: 0, //Minimum value for axis
                                        max: 4000, //Maximum value for axis
                                        autoMin: false, //Tell the chart not to automatically generate minimum value for axis
                                        autoMax: false, //Tell the chart not to automatically generate maximum value for axis
                                        annoFormatString: 'n0', //Format values on axis as number with 0 decimal places. For example, 4.00 would be shown as 4
                                        alignment: "far", //axis text aligned away from xy intersection
                                        labels: { textAlign: "near" } //Axis labels aligned near axis
                                    },
                                    x: {
                                        textStyle: {
                                            "font-weight": "normal"
                                        },
                                        tickMajor: {
                                            position: "outside",//Position tick marks outside of the axis line
                                            style: {
                                                stroke: "#999999"//Make the tick marks match axis line color
                                            }
                                        }
                                    }
                                },
                                showChartLabels: false,
                                hint: {
                                    //Display custom information in tooltip. If not set, the content will default to x and y data display values
                                    content: function () {
                                        //Check if multiple data points are on one axis entry. For example, multiple data entries for a single date. 
                                        if ($.isArray(this)) {
                                            var content = "";
                                            //Multiple entries of data on this point, so we need to loop through them to create the tooltip content.
                                            for (var i = 0; i < this.length; i++) {
                                                content += this[i].lineSeries.label + ': ' + Globalize.format(this[i].y * 1000, 'c0') + '\n';
                                            }
                                            return content;
                                        }
                                        else {
                                            //Only a single data point, so we return a formatted version of it. "/n" is a line break.
                                            return this.data.lineSeries.label + '\n' +
                                                //Format x as Short Month and long year (Jan 2010). Then format y value as calculated currency with no decimal ($1,983,000). 
                                                Globalize.format(this.x, 'MMM yyyy') + ': ' + Globalize.format(this.y * 1000, 'c0');
                                        }
                                    },
                                    contentStyle: {
                                        "font-size": "14px",
                                        "font-family": '"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif'
                                    },
                                    style: {
                                        fill: "#444444"
                                    }
                                },
                                indicator: {
                                    visible: true
                                },
                                data: {
                                    //X axis values as Date objects. We are using a shared x value array for this chart with multiple y value arrays.
                                    x: [
                                        new Date('1/1/2010'),
                                        new Date('2/1/2010'),
                                        new Date('3/1/2010'),
                                        new Date('4/1/2010'),
                                        new Date('5/1/2010'),
                                        new Date('6/1/2010'),
                                        new Date('7/1/2010'),
                                        new Date('8/1/2010'),
                                        new Date('9/1/2010'),
                                        new Date('10/1/2010'),
                                        new Date('11/1/2010'),
                                        new Date('12/1/2010')]
                                },
                                seriesList: [
                                    {
                                        legendEntry: false,
                                        label: "Sales", //Label shown in legend
                                        data: {
                                            //Y axis values for 1st series
                                            y: [
                                                1983,
                                                2343,
                                                2593,
                                                2283,
                                                2574,
                                                2838,
                                                2382,
                                                2634,
                                                2938,
                                                2739,
                                                2983,
                                                3493
                                            ]
                                        }
                                    }
                                ],
                                //Override width of lines for both series. More customization can be done, such as fill, stroke (color) etc.,
                                seriesStyles: [
                                    { fill: "rgb(136,189,230)", stroke: "none" }
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="bs-docs-section">
                    <div class="page-header">
                        <h1 id="bar-chart">Bar Chart</h1>
                    </div>

                    <div id="wijbarchart" style="height: 400px">
                    </div>
                    <p class="lead">This sample demonstrates the Wijmo Bar Chart. This Bar Chart shows data that compares sales for 15 States.</p>

                    <script id="scriptInit" type="text/javascript">
                        $(document).ready(function () {
                            $("#wijbarchart").wijbarchart({
                                textStyle: {
                                    "font-size": "13px",
                                    "font-family": '"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif'
                                },
                                header: {
                                    text: "Sales By State"
                                },
                                clusterWidth: 60, //size of each bar (or group of bars if multiple series are used)
                                marginTop: 5, //Lessen the top markgin
                                marginRight: 60, //Add more right margin to make sure header text aligns with axis text
                                axis: {
                                    y: {
                                        text: "USD (thousands)",
                                        textStyle: {
                                            "font-weight": "normal",
                                            "margin-bottom": 5, //space the axis text away from the axis line
                                        },
                                        min: 0, //Minimum value for axis
                                        max: 8000, //Maximum value for axis
                                        autoMin: false, //Tell the chart not to automatically generate minimum value for axis
                                        autoMax: false, //Tell the chart not to automatically generate maximum value for axis
                                        gridMajor: { visible: false }, //hide gridMajor lines
                                        visible: true, //show line along axis
                                        tickMajor: {
                                            position: "outside", //position tick marks outside of axis line
                                            style: {
                                                stroke: "#999999" //Make the tick marks match axis line color
                                            }
                                        },
                                        annoFormatString: 'n0' //Format values on axis as number with 0 decimal places. For example, 4.00 would be shown as 4
                                    },
                                    x: {
                                        visible: false,
                                        compass: "north", //Position the x axis labels on top of the chart
                                        textStyle: {
                                            "font-weight": "normal"
                                        }
                                    }
                                },
                                showChartLabels: false, //Hide labels on each bar
                                hint: {
                                    content: function () {
                                        return this.x + ': ' + Globalize.format(this.y * 1000, 'c0'); //Display x value and format y value as currency after multiplying by 1000
                                    },
                                    contentStyle: {
                                        "font-size": "14px",
                                        "font-family": '"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif'
                                    },
                                    style: {
                                        fill: "#444444"
                                    }
                                },
                                shadow: false,
                                seriesList: [{
                                    legendEntry: false, //Prevent series from being added to legend
                                    data: {
                                        x: [
                                            "Ohio",
                                            "Florida",
                                            "Arizona",
                                            "Utah",
                                            "Colorado",
                                            "Hawaii",
                                            "Texas",
                                            "Maryland",
                                            "North Carolina",
                                            "Maryland",
                                            "Oregon",
                                            "Washington",
                                            "New York",
                                            "California",
                                            "Pennsylvannia"],
                                        y: [
                                            1800,
                                            2250,
                                            2860,
                                            2880,
                                            2900,
                                            2920,
                                            3070,
                                            3190,
                                            3520,
                                            4100,
                                            4280,
                                            4320,
                                            5680,
                                            7040,
                                            7650]
                                    }
                                }],
                                seriesStyles: [
                                    {
                                        fill: "rgb(136,189,230)", //fill color of bar
                                        stroke: "none" //border color of bar
                                    }
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="bs-docs-section">
                    <div class="page-header">
                        <h1 id="column-chart">Column Chart</h1>
                    </div>

                    <div id="wijcolumnchart" style="height: 400px">
                    </div>
                    <p class="lead">Bar Chart is commonly used as a Column Chart. In order to acheive this, simply set horizontal: false. This is a Column Chart that shows data comparing annual domestic and international sales. </p>

                    <script id="script1" type="text/javascript">
                        $(document).ready(function () {
                            $("#wijcolumnchart").wijbarchart({
                                horizontal: false,
                                shadow: false,
                                textStyle: {
                                    "font-size": "13px",
                                    "font-family": '"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif'
                                },
                                header: {
                                    text: "Monthly Sales Revenue"
                                },
                                axis: {
                                    y: {
                                        text: "USD (thousands)",
                                        textStyle: {
                                            "font-weight": "normal"
                                        },
                                        min: 0, //Minimum value for axis
                                        max: 4000, //Maximum value for axis
                                        autoMin: false, //Tell the chart not to automatically generate minimum value for axis
                                        autoMax: false, //Tell the chart not to automatically generate maximum value for axis
                                        unitMajor: 500, //Set increment of tick major marks
                                        autoMajor: false, //Tell the chart not to automatically generate increment of tick major marks
                                        annoFormatString: 'n0', //Format values on axis as number with 0 decimal places. For example, 4.00 would be shown as 4
                                        alignment: "far", //axis text aligned away from xy intersection
                                        labels: {
                                            textAlign: "near"
                                        }
                                    },
                                    x: {
                                        textStyle: {
                                            "font-weight": "normal"
                                        }
                                    }
                                },
                                showChartLabels: false,
                                hint: {
                                    //Display custom information in tooltip. If not set, the content will default to x and y data display values
                                    content: function () {
                                        //Check if multiple data points are on one axis entry. For example, multiple data entries for a single date. 
                                        if ($.isArray(this)) {
                                            var content = "";
                                            //Multiple entries of data on this point, so we need to loop through them to create the tooltip content.
                                            for (var i = 0; i < this.length; i++) {
                                                content += this[i].label + ': ' + Globalize.format(this[i].y * 1000, 'c0') + '\n';
                                            }
                                            return content;
                                        }
                                        else {
                                            //Only a single data point, so we return a formatted version of it. "/n" is a line break.
                                            return this.data.label + '\n' +
                                                //Format x as Short Month and long year (Jan 2010). Then format y value as calculated currency with no decimal ($1,983,000). 
                                                Globalize.format(this.x, 'MMM yyyy') + ': ' + Globalize.format(this.y * 1000, 'c0');
                                        }
                                    },
                                    contentStyle: {
                                        "font-size": "14px",
                                        "font-family": '"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif'
                                    },
                                    style: {
                                        fill: "#444444"
                                    }
                                },
                                indicator: {
                                    visible: true
                                },
                                legend: {
                                    visible: true,
                                    compass: "north",
                                    orientation: "horizontal"

                                },
                                data: {
                                    //X axis values as Date objects. We are using a shared x value array for this chart with multiple y value arrays.
                                    x: [
                                        new Date('1/1/2010'),
                                        new Date('2/1/2010'),
                                        new Date('3/1/2010'),
                                        new Date('4/1/2010'),
                                        new Date('5/1/2010'),
                                        new Date('6/1/2010'),
                                        new Date('7/1/2010'),
                                        new Date('8/1/2010'),
                                        new Date('9/1/2010'),
                                        new Date('10/1/2010'),
                                        new Date('11/1/2010'),
                                        new Date('12/1/2010')]
                                },
                                seriesList: [
                                    {
                                        label: "Domestic", //Label shown in legend
                                        legendEntry: true,
                                        data: {
                                            //Y axis values for 1st series
                                            y: [
                                                1983,
                                                2343,
                                                2593,
                                                2283,
                                                2574,
                                                2838,
                                                2382,
                                                2634,
                                                2938,
                                                2739,
                                                2983,
                                                3493
                                            ]
                                        }
                                    },
                                    {
                                        label: "International",
                                        legendEntry: true,
                                        data: {
                                            //Y axis values for 2nd series
                                            y: [
                                                574,
                                                636,
                                                673,
                                                593,
                                                644,
                                                679,
                                                593,
                                                139,
                                                599,
                                                583,
                                                602,
                                                690
                                            ]
                                        }
                                    }
                                ],
                                seriesStyles: [
                                    { fill: "rgb(136,189,230)", stroke: "none" },
                                    { fill: "rgb(251,179,88)", stroke: "none" }
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="bs-docs-section">
                    <div class="page-header">
                        <h1 id="line-chart">Line Chart</h1>
                    </div>


                    <div id="wijlinechart" style="height:350px">
                    </div>
                    <p class="lead">
                        This sample demonstrates the Wijmo Line Chart. This is a Line Chart that shows data comparing annual domestic and international sales. 
                    </p>

                    <script id="script2" type="text/javascript">
                        $(document).ready(function () {
                            $("#wijlinechart").wijlinechart({
                                textStyle: {
                                    "font-size": "13px",
                                    "font-family": '"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif'
                                },
                                header: {
                                    text: "Monthly Sales Revenue"
                                },
                                axis: {
                                    y: {
                                        text: "USD (thousands)",
                                        textStyle: {
                                            "font-weight": "normal"
                                        },
                                        min: 0, //Minimum value for axis
                                        max: 4000, //Maximum value for axis
                                        autoMin: false, //Tell the chart not to automatically generate minimum value for axis
                                        autoMax: false, //Tell the chart not to automatically generate maximum value for axis
                                        annoFormatString: 'n0', //Format values on axis as number with 0 decimal places. For example, 4.00 would be shown as 4
                                        alignment: "far", //axis text aligned away from xy intersection
                                        labels: { textAlign: "near" } //Axis labels aligned near axis
                                    },
                                    x: {
                                        textStyle: {
                                            "font-weight": "normal"
                                        },
                                        tickMajor: {
                                            position: "outside",//Position tick marks outside of the axis line
                                            style: {
                                                stroke: "#999999"//Make the tick marks match axis line color
                                            }
                                        }
                                    }
                                },
                                showChartLabels: false,
                                hint: {
                                    //Display custom information in tooltip. If not set, the content will default to x and y data display values
                                    content: function () {
                                        //Check if multiple data points are on one axis entry. For example, multiple data entries for a single date. 
                                        if ($.isArray(this)) {
                                            var content = "";
                                            //Multiple entries of data on this point, so we need to loop through them to create the tooltip content.
                                            for (var i = 0; i < this.length; i++) {
                                                content += this[i].lineSeries.label + ': ' + Globalize.format(this[i].y * 1000, 'c0') + '\n';
                                            }
                                            return content;
                                        }
                                        else {
                                            //Only a single data point, so we return a formatted version of it. "/n" is a line break.
                                            return this.data.lineSeries.label + '\n' +
                                                //Format x as Short Month and long year (Jan 2010). Then format y value as calculated currency with no decimal ($1,983,000). 
                                                Globalize.format(this.x, 'MMM yyyy') + ': ' + Globalize.format(this.y * 1000, 'c0');
                                        }
                                    },
                                    contentStyle: {
                                        "font-size": "14px",
                                        "font-family": '"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif'
                                    },
                                    style: {
                                        fill: "#444444"
                                    }
                                },
                                indicator: {
                                    visible: true
                                },
                                legend: {
                                    visible: true
                                },
                                data: {
                                    //X axis values as Date objects. We are using a shared x value array for this chart with multiple y value arrays.
                                    x: [
                                        new Date('1/1/2010'),
                                        new Date('2/1/2010'),
                                        new Date('3/1/2010'),
                                        new Date('4/1/2010'),
                                        new Date('5/1/2010'),
                                        new Date('6/1/2010'),
                                        new Date('7/1/2010'),
                                        new Date('8/1/2010'),
                                        new Date('9/1/2010'),
                                        new Date('10/1/2010'),
                                        new Date('11/1/2010'),
                                        new Date('12/1/2010')]
                                },
                                seriesList: [
                                    {
                                        label: "Domestic", //Label shown in legend
                                        legendEntry: true,
                                        markers: {
                                            visible: true,
                                            type: "circle"
                                        },
                                        data: {
                                            //Y axis values for 1st series
                                            y: [
                                                1983,
                                                2343,
                                                2593,
                                                2283,
                                                2574,
                                                2838,
                                                2382,
                                                2634,
                                                2938,
                                                2739,
                                                2983,
                                                3493
                                            ]
                                        }
                                    },
                                    {
                                        label: "International",
                                        legendEntry: true,
                                        markers: {
                                            visible: true,
                                            type: "circle"
                                        },
                                        data: {
                                            //Y axis values for 2nd series
                                            y: [
                                                574,
                                                636,
                                                673,
                                                593,
                                                644,
                                                679,
                                                593,
                                                139,
                                                599,
                                                583,
                                                602,
                                                690
                                            ]
                                        }
                                    }
                                ],
                                //Override width of lines for both series. More customization can be done, such as fill, stroke (color) etc.
                                seriesStyles: [
                                    { stroke: "rgb(93,165,218)", "stroke-width": 4 },
                                    { stroke: "rgb(250,164,58)", "stroke-width": 4 }
                                ],
                                //Override width of lines for both series when hovered. 
                                seriesHoverStyles: [
                                    { "stroke-width": 4 },
                                    { "stroke-width": 4 }
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="bs-docs-section">
                    <div class="page-header">
                        <h1 id="pie-chart">Pie Chart</h1>
                    </div>
                    <div id="wijpiechart" style="height:350px">
                    </div>
                    <p class="lead">
                        This sample demonstrates the Wijmo Pie Chart. This is a Pie Chart that shows data comparing sales for different regions. 
                    </p>

                    <script id="script4" type="text/javascript">
                        $(document).ready(function () {
                            $("#wijpiechart").wijpiechart({
                                textStyle: {
                                    "font-size": "13px",
                                    "font-family": '"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif'
                                },
                                header: {
                                    text: "Sales by Region"
                                },
                                legend: { visible: false },
                                showChartLabels: true,
                                labels: {
                                    position: "outside",
                                    connectorStyle: { stroke: "#888888" }
                                },
                                hint: {
                                    contentStyle: {
                                        "font-size": "14px",
                                        "font-family": '"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif'
                                    },
                                    style: {
                                        fill: "#444444"
                                    }
                                },
                                seriesList: [{
                                    label: "Great Lakes",
                                    data: 46.78
                                }, {
                                    label: "North Pacific",
                                    data: 23.18
                                }, {
                                    label: "Mid Atlantic",
                                    data: 10.25
                                }, {
                                    label: "Gulf Coast",
                                    data: 5.41
                                }, {
                                    label: "South West",
                                    data: 3.44
                                }],
                                //Override width of lines for both series. More customization can be done, such as fill, stroke (color) etc.
                                seriesStyles: [
                                    { fill: "rgb(136,189,230)", stroke: "none" },
                                    { fill: "rgb(251,179,88)", stroke: "none" },
                                    { fill: "rgb(144,205,151)", stroke: "none" },
                                    { fill: "rgb(246,170,241)", stroke: "none" },
                                    { fill: "rgb(191,164,84)", stroke: "none" }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
