﻿@model FlexPie101.Models.FlexPieModel

@{
    ViewBag.Title = "FlexPie入門";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/Content/c1logo.png")" alt="Component One ASP.NET MVC" />
        <h1>
            FlexPie入門
        </h1>
        <p>
            このページでは、FlexPieコントロールの使用を開始する方法を説明します。
        </p>
    </div>
</div>

<div class="container">
    <div class="sample-page download-link">
        <a href="https://www.grapecity.co.jp/developer/download#net">トライアル版</a>
    </div>
    <!-- はじめに -->
    <div>
        <h2>はじめに</h2>
        <p>
            MVCアプリケーションでFlexPieコントロールの使用を開始する際の手順。
        </p>
        <ol>
            <li>ComponentOne ASP.NET MVCアプリケーションテンプレートを使用して、新しいMVCプロジェクトを作成します。</li>
            <li>プロジェクトに、コントローラおよび対応するビューを追加します。</li>
            <li>razor構文を使用して、ビューのFlexPieコントロールを初期化します。</li>
            <li>（オプション）CSSを追加して、FlexPieコントロールの外観をカスタマイズします。</li>
        </ol>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#sHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>                        
                        <li><a href="#sCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="sHtml">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        @@Html.C1().Resources(typeof(C1Chart))
    &lt;/head&gt;
    &lt;body&gt;

        @@using C1.Web.Mvc
        &lt;!-- FlexPie --&gt;
        @@(Html.C1().FlexPie().Id("introChart").Header("Products Sale By Country")
            .Bind("Country", "Count", Model.CountryGroupOrderData).DataLabel(dl =&gt; dl.Content("{value}")))

    &lt;/body&gt;
&lt;/html&gt;
                        </div>                        
                        <div class="tab-pane pane-content" id="sCS">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using C1.Web.Mvc;
using C1.Web.Mvc.Chart;
using FlexPie101.Models;

namespace FlexPie101.Controllers
{
    public class HomeController : Controller
    {

        public ActionResult Index()
        {
            FlexPieModel ModelObj = new FlexPieModel();
            ModelObj.CountryGroupOrderData = CustomerOrder.GetCountryGroupOrderData();

            return View(ModelObj);
        }

    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexPie().Id("introChart").Header("Products Sale By Country")
                    .Bind("Country", "Count", Model.CountryGroupOrderData).DataLabel(dl => dl.Content("{value}")))
            </div>
        </div>
    </div>





    <!-- 基本機能 -->
    <div>
        <h2>基本機能</h2>
        <p>
            FlexPieコントロールには、そのレイアウトと外観をカスタマイズするための５つの基本的なプロパティがあります。
        </p>
        <ul>
            <li>
                <b>InnerRadius</b>:  コントロールの内側半径を指定してドーナツチャートをサポートします。
            </li>
            <li>
                <b>Offset</b>:  円グラフセグメントとコントロールの中央とのオフセットを指定します。
            </li>
            <li>
                <b>StartAngle</b>:  ９時の位置から開始し、円グラフセグメントの描画を開始する角度を指定します。
            </li>
            <li>
                <b>Palette</b>:  円グラフセグメントのレンダリング時に使用されるデフォルトの色の配列を指定します。
            </li>
            <li>
                <b>Reversed</b>:  コントロールが円グラフセグメントを時計回り（false）に描画するか反時計回り（true）かを決定します。
            </li>
        </ul>
        <p>
            次の例は、これらのプロパティを変更するとどうなるかを示します。  また、円グラフセグメント上にマウスを移動すると、データポイントに対するツールチップが表示されます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#bfHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#bfJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#bfCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="bfHtml">
                            
@@(Html.C1().FlexPie().Id("basicChart").Header("Products Sale By Country")
    .Bind("Country", "Count", Model.CountryGroupOrderData)
    .DataLabel(dl =&gt; dl.Content("{value}"))
)
&lt;div class="form-horizontal"&gt;
    &lt;div class="form-group"&gt;
    &lt;label class="col-md-3 control-label"&gt;内側半径&lt;/label&gt;
    &lt;div class="col-md-9"&gt;
        @@(Html.C1().InputNumber().Id("basicInnerRadius").Min(0).Max(1).Step(.1)
            .Format("n").OnClientValueChanged("basicInnerRadius_valueChanged")
        )
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
    &lt;label class="col-md-3 control-label"&gt;Offset&lt;/label&gt;
    &lt;div class="col-md-9"&gt;
        @@(Html.C1().InputNumber().Id("basicOffset").Min(0).Max(1).Step(.1)
            .Format("n").OnClientValueChanged("basicOffset_valueChanged")
        )
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
    &lt;label class="col-md-3 control-label"&gt;開始角度&lt;/label&gt;
    &lt;div class="col-md-9"&gt;
        @@(Html.C1().InputNumber().Id("basicStartAngle").Min(-360).Max(360).Step(45)
            .Format("n").OnClientValueChanged("basicStartAngle_valueChanged")
        )
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
    &lt;div class="col-md-offset-3 col-md-9"&gt;
        @@(Html.C1().ComboBox().Id("basicPalette").Bind(Model.Settings["Palette"])
            .Placeholder("Pallete").SelectedValue("standard")
            .OnClientSelectedIndexChanged("basicPalette_SelectedIndexChanged")
        )
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
    &lt;div class="col-md-offset-3 col-md-9"&gt;
        &lt;div class="checkbox"&gt;
            &lt;label&gt;
                &lt;input id="basicReversed" type="checkbox" /&gt; 反転
            &lt;/label&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="bfJs">

$(document).ready(function () {    

    //基本機能 Module
    var basicReversed = document.getElementById('basicReversed');    
    basicReversed.addEventListener('change', function () {

        // determine reversed by checkbox's checked state
        var chart = wijmo.Control.getControl("#basicChart");
        chart.reversed = this.checked;
    });


});

//基本機能 Module
function basicInnerRadius_valueChanged(sender) {
    var chart = wijmo.Control.getControl("#basicChart");
    chart.innerRadius = sender.value;
};

function basicOffset_valueChanged(sender) {
    var chart = wijmo.Control.getControl("#basicChart");
    chart.offset = sender.value;
};

function basicStartAngle_valueChanged(sender) {
    var chart = wijmo.Control.getControl("#basicChart");
    chart.startAngle = sender.value;
};

function basicPalette_SelectedIndexChanged(sender) {
    if (!sender.selectedValue)
        return;
    var chart = wijmo.Control.getControl("#basicChart");
    chart.palette = wijmo.chart.Palettes[sender.selectedValue];
};


                        </div>
                        <div class="tab-pane pane-content" id="bfCS">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using C1.Web.Mvc;
using C1.Web.Mvc.Chart;
using FlexPie101.Models;

namespace FlexPie101.Controllers
{
    public class HomeController : Controller
    {

        public ActionResult Index()
        {
            FlexPieModal ModelObj = new FlexPieModal();
            ModelObj.Settings = CreateSettings();
            ModelObj.CountryGroupOrderData = CustomerOrder.GetCountryGroupOrderData();

            return View(ModelObj);
        }


        private static IDictionary&lt;string, object[]&gt; CreateSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"LegendPosition", new object[]{Position.Top.ToString(), Position.Bottom.ToString(), Position.Left.ToString(), Position.None.ToString(), Position.Right.ToString()}},
                {"SelectedItemPosition", new object[]{Position.Top.ToString(), Position.Bottom.ToString(), Position.Left.ToString(), Position.None.ToString(), Position.Right.ToString()}},
            };

            return settings;
        }
    
    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexPie().Id("basicChart").Header("Products Sale By Country")
                    .Bind("Country", "Count", Model.CountryGroupOrderData)
                    .DataLabel(dl => dl.Content("{value}"))
                    )
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">内側半径</label>
                        <div class="col-md-9">
                            @(Html.C1().InputNumber().Id("basicInnerRadius").Min(0).Max(1).Step(.1)
                                        .Format("n").OnClientValueChanged("basicInnerRadius_valueChanged")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Offset</label>
                        <div class="col-md-9">
                            @(Html.C1().InputNumber().Id("basicOffset").Min(0).Max(1).Step(.1)
                                .Format("n").OnClientValueChanged("basicOffset_valueChanged")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">開始角度</label>
                        <div class="col-md-9">                            
                            @(Html.C1().InputNumber().Id("basicStartAngle").Min(-360).Max(360).Step(45)
                                .Format("n").OnClientValueChanged("basicStartAngle_valueChanged")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Palette</label>
                        <div class="col-md-9">                            
                            @(Html.C1().ComboBox().Id("basicPalette").Bind(Model.Settings["Palette"])
                                .Placeholder("Pallete").SelectedValue("standard")
                                        .OnClientSelectedIndexChanged("basicPalette_SelectedIndexChanged")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="checkbox">
                                <label>
                                    <input id="basicReversed" type="checkbox" /> 反転
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- Legend and Titles -->
    <div>
        <h2>凡例とタイトル</h2>
        <p>
            <b>Legend</b>プロパティを使用して、チャートの凡例の外観をカスタマイズできます。  <b>Header</b>プロパティと<b>Footer</b>プロパティを使用して、FlexPieコントロールにタイトルを追加することもできます。
        </p>
        <p>
            次の例では、FlexPieの<b>Legend</b>プロパティ、<b>Header</b>プロパティ、および<b>Footer</b>プロパティをリアルタイムで変更できます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#ltHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#ltJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#ltCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="ltHtml">

@@(Html.C1().FlexPie().Id("ltChart").Header("Products Sale By Country")
    .Bind("Country", "Count", Model.CountryGroupOrderData)
    .DataLabel(dl =&gt; dl.Content("{value}"))
)
&lt;div class="form-horizontal"&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="col-md-3 control-label"&gt;Header&lt;/label&gt;
        &lt;div class="col-md-9"&gt;
        &lt;input id="ltHeader" type="text" class="form-control" placeholder="Specify the FlexPie's header" /&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
    &lt;label class="col-md-3 control-label"&gt;Footer&lt;/label&gt;
    &lt;div class="col-md-9"&gt;
        &lt;input id="ltFooter" type="text" class="form-control" placeholder="Specify the FlexPie's footer" /&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="form-group"&gt;
    &lt;div class="col-md-offset-3 col-md-9"&gt;
        @@(Html.C1().ComboBox().Id("ltLegPos").Bind(Model.Settings["LegendPosition"])
            .Placeholder("凡例の位置").SelectedValue("Right")
            .OnClientSelectedIndexChanged("ltLegPos_SelectedIndexChanged")
        )
    &lt;/div&gt;
&lt;/div&gt;

                        </div>
                        <div class="tab-pane pane-content" id="ltJs">

$(document).ready(function () {    

    //Legend & Title Module
    var ltchart = wijmo.Control.getControl("#ltChart");
    var ltHeader = document.getElementById('ltHeader');
    var ltFooter = document.getElementById('ltFooter');

    ltHeader.value = ltchart.header = 'Products By Country';
    ltFooter.value = ltchart.footer = '2014, GrapeCity Inc.';

    ltHeader.addEventListener('input', function () {
        ltchart.header = this.value;
    });

    ltFooter.addEventListener('input', function () {
        ltchart.footer = this.value;
    });


});

//Legend & Title Module
function ltLegPos_SelectedIndexChanged(sender) {
    if (!sender.selectedValue)
        return;
    var chart = wijmo.Control.getControl("#ltChart");
    chart.legend.position = sender.selectedValue;
};


                        </div>
                        <div class="tab-pane pane-content" id="ltCS">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using C1.Web.Mvc;
using C1.Web.Mvc.Chart;
using FlexPie101.Models;

namespace FlexPie101.Controllers
{
    public class HomeController : Controller
    {

        public ActionResult Index()
        {
            FlexPieModal ModelObj = new FlexPieModal();
            ModelObj.Settings = CreateSettings();
            ModelObj.CountryGroupOrderData = CustomerOrder.GetCountryGroupOrderData();

            return View(ModelObj);
        }


        private static IDictionary&lt;string, object[]&gt; CreateSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"LegendPosition", new object[]{Position.Top.ToString(), Position.Bottom.ToString(), Position.Left.ToString(), Position.None.ToString(), Position.Right.ToString()}},
                {"SelectedItemPosition", new object[]{Position.Top.ToString(), Position.Bottom.ToString(), Position.Left.ToString(), Position.None.ToString(), Position.Right.ToString()}},
            };

            return settings;
        }
    
    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexPie().Id("ltChart").Header("Products Sale By Country")
                    .Bind("Country", "Count", Model.CountryGroupOrderData)
                    .DataLabel(dl => dl.Content("{value}"))
                )
                <div class="form-horizontal">                
                    <div class="form-group">
                        <label class="col-md-3 control-label">ヘッダー</label>
                        <div class="col-md-9">
                            <input id="ltHeader" type="text" class="form-control" placeholder="Specify the FlexPie's header" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">フッター</label>
                        <div class="col-md-9">
                            <input id="ltFooter" type="text" class="form-control" placeholder="Specify the FlexPie's footer" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">凡例の位置</label>                        
                        <div class="col-md-9">
                    @(Html.C1().ComboBox().Id("ltLegPos").Bind(Model.Settings["LegendPosition"])
                        .Placeholder("凡例の位置").SelectedValue("Right")
                                        .OnClientSelectedIndexChanged("ltLegPos_SelectedIndexChanged")
                    )                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Selection -->
    <div>
        <h2>選択</h2>
        <p>
            FlexPieコントロールを使用すると、円グラフセグメントをクリックまたはタッチしてデータポイントを選択できます。 <b>SelectionMode</b>プロパティを使用して、データポイントによる選択を可能にするか、または何も選択しないか（デフォルト）を指定できます。
        </p>
        <p>
            <b>SelctionMode</b>プロパティを<b>Point</b>に設定すると、ユーザーが円グラフセグメントをクリックしたとき、FlexPieは<b>Selection</b>プロパティを更新し、選択された要素に「wj-state-selected」クラスを適用します。  FlexPieの<b>SelectionMode</b>プロパティを<b>Series</b>または<b>None</b>に設定すると、コントロール内の選択内容が無効になります。
        </p>
        <p>
            FlexPieには、選択内容をカスタマイズするための３つの追加プロパティが用意されています。
        </p>
        <ul>
            <li>
                <b>SelectedItemOffset</b>:  選択された円グラフセグメントとコントロールの中央とのオフセットを指定します。
            </li>
            <li>
                <b>SelectedItemPosition</b>:  選択された円グラフセグメントの位置を指定します。  使用できるオプションは、Top、Bottom、Left、Right、およびNone（デフォルト）です。
            </li>
            <li>
                <b>IsAnimated</b>:  選択内容をアニメーション表示するかどうかを決定します。
            </li>
        </ul>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#selHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#selJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#selCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="selHtml">
@@(Html.C1().FlexPie().Id("selChart").Header("Products Sale By Country")
    .Bind("Country", "Count", Model.CountryGroupOrderData).IsAnimated(true)
    .SelectionMode(C1.Web.Mvc.Chart.SelectionMode.Point)
    .SelectedItemPosition(C1.Web.Mvc.Chart.Position.Top).DataLabel(dl =&gt; dl.Content("{value}"))
)
&lt;div class="form-horizontal"&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="col-md-3 control-label"&gt;選択された項目のオフセット&lt;/label&gt;
        &lt;div class="col-md-9"&gt;
            @@(Html.C1().InputNumber().Id("selItemOffset").Min(0).Max(.5).Step(.1)
                .Format("n").OnClientValueChanged("selItemOffset_valueChanged")
            )
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;div class="col-md-offset-3 col-md-9"&gt;
            @@(Html.C1().ComboBox().Id("selItemPos").Bind(Model.Settings["SelectedItemPosition"])
                .Placeholder("選択された項目の位置").SelectedValue("Top")
                .OnClientSelectedIndexChanged("selItemPos_SelectedIndexChanged")
            )
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;div class="col-md-offset-3 col-md-9"&gt;
            &lt;div class="checkbox"&gt;
                &lt;label&gt;
                    &lt;input id="selAnimated" type="checkbox"&gt; アニメーション表示する
                &lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </div>
                        <div class="tab-pane pane-content" id="selJs">


$(document).ready(function () {    

    //Selection Module
    var selAnimated = document.getElementById('selAnimated');
    selAnimated.checked = true;
    selAnimated.addEventListener('change', function () {

        // determine Is Animated by checkbox's checked state
        var chart = wijmo.Control.getControl("#selChart");
        chart.isAnimated = this.checked;
    });

});

//Selection Module
function selItemOffset_valueChanged(sender) {
    var chart = wijmo.Control.getControl("#selChart");
    chart.selectedItemOffset = sender.value;
};

function selItemPos_SelectedIndexChanged(sender) {
    if (!sender.selectedValue)
        return;
    var chart = wijmo.Control.getControl("#selChart");
    chart.selectedItemPosition = sender.selectedValue;
};

                        </div>
                        <div class="tab-pane pane-content" id="selCS">

using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using C1.Web.Mvc;
using C1.Web.Mvc.Chart;
using FlexPie101.Models;

namespace FlexPie101.Controllers
{
    public class HomeController : Controller
    {

        public ActionResult Index()
        {
            FlexPieModal ModelObj = new FlexPieModal();
            ModelObj.Settings = CreateSettings();
            ModelObj.CountryGroupOrderData = CustomerOrder.GetCountryGroupOrderData();

            return View(ModelObj);
        }


        private static IDictionary&lt;string, object[]&gt; CreateSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"LegendPosition", new object[]{Position.Top.ToString(), Position.Bottom.ToString(), Position.Left.ToString(), Position.None.ToString(), Position.Right.ToString()}},
                {"SelectedItemPosition", new object[]{Position.Top.ToString(), Position.Bottom.ToString(), Position.Left.ToString(), Position.None.ToString(), Position.Right.ToString()}},
            };

            return settings;
        }
    
    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexPie().Id("selChart").Header("Products Sale By Country")
                    .Bind("Country", "Count", Model.CountryGroupOrderData).IsAnimated(true)
                    .SelectionMode(C1.Web.Mvc.Chart.SelectionMode.Point)
                    .SelectedItemPosition(C1.Web.Mvc.Chart.Position.Top).DataLabel(dl => dl.Content("{value}"))
                )
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">選択された項目のオフセット</label>
                        <div class="col-md-8">                            
                            @(Html.C1().InputNumber().Id("selItemOffset").Min(0).Max(.5).Step(.1)
                                        .Format("n").OnClientValueChanged("selItemOffset_valueChanged")
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">選択された項目の位置</label>
                        <div class="col-md-8">
                            @(Html.C1().ComboBox().Id("selItemPos").Bind(Model.Settings["SelectedItemPosition"])
                        .Placeholder("選択された項目の位置").SelectedValue("Top")
                                                .OnClientSelectedIndexChanged("selItemPos_SelectedIndexChanged")
                            )
            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="checkbox">
                                <label>
                                    <input id="selAnimated" type="checkbox"> アニメーション表示する
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Theming -->
    <div>
        <h2>テーマ</h2>
        <p>
            FlexPieコントロールの外観の大部分はCSSで定義されます。 デフォルトのテーマに加えて、プロのデザインによるテーマが組み込まれており、すべてのMVCコントロールの外観を統一感のある魅力的な見た目にカスタマイズできます。
        </p>
        <p>
            CSSを使用してFlexPieコントロールの外観をカスタマイズできます。 これを行うには、CSSルールをデフォルトのテーマから新しいCSSファイルにコピーし、必要に応じてプロパティを変更します。
        </p>
        <p>
            この例では、コントロールに「custom-pie-chart」のCSSクラスを追加し、CSSルールを定義してヘッダー、フッター、および凡例の塗りつぶし、フォントファミリ、およびフォントウェイトを変更しました。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tHtml" role="tab" data-toggle="tab">index.cshtml</a></li>                        
                        <li><a href="#tCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#tCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="tHtml">
    @@(Html.C1().FlexPie().Id("themeChart").Header("Products Sale By Country").CssClass("custom-pie-chart")
        .Bind("Country", "Count", Model.CountryGroupOrderData).IsAnimated(true)
        .SelectionMode(C1.Web.Mvc.Chart.SelectionMode.Point)
        .SelectedItemPosition(C1.Web.Mvc.Chart.Position.Top).DataLabel(dl =&gt; dl.Content("{value}"))
    )
                        </div>
                        <div class="tab-pane pane-content" id="tCss">

    .custom-pie-chart.wj-flexchart .wj-header .wj-title,
    .custom-pie-chart.wj-flexchart .wj-footer .wj-title,
    .custom-pie-chart.wj-flexchart .wj-legend &gt; .wj-label {
        fill: #666;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }

                        </div>
                        <div class="tab-pane pane-content" id="tCS">

using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using C1.Web.Mvc;
using C1.Web.Mvc.Chart;
using FlexPie101.Models;

namespace FlexPie101.Controllers
{
    public class HomeController : Controller
    {

        public ActionResult Index()
        {
            FlexPieModal ModelObj = new FlexPieModal();
            ModelObj.Settings = CreateSettings();
            ModelObj.CountryGroupOrderData = CustomerOrder.GetCountryGroupOrderData();

            return View(ModelObj);
        }


        private static IDictionary&lt;string, object[]&gt; CreateSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"LegendPosition", new object[]{Position.Top.ToString(), Position.Bottom.ToString(), Position.Left.ToString(), Position.None.ToString(), Position.Right.ToString()}},
                {"SelectedItemPosition", new object[]{Position.Top.ToString(), Position.Bottom.ToString(), Position.Left.ToString(), Position.None.ToString(), Position.Right.ToString()}},
            };

            return settings;
        }
    
    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexPie().Id("themeChart").Header("Products Sale By Country").CssClass("custom-pie-chart")
                    .Bind("Country", "Count", Model.CountryGroupOrderData).IsAnimated(true)
                    .SelectionMode(C1.Web.Mvc.Chart.SelectionMode.Point)
                    .SelectedItemPosition(C1.Web.Mvc.Chart.Position.Top).DataLabel(dl => dl.Content("{value}"))
                )
            </div>
        </div>
    </div>


</div>