﻿<!--0-->
<c1-auto-complete display-member-path="Name" selected-value-path="Value">
    <c1-items-source source-collection="@Model">
    </c1-items-source>
</c1-auto-complete>
<!--1-->
<c1-auto-complete max-items="10" css-match="highlight" items-source-action="@Url.Action("TypesInMscorlib")" />
<!--2-->
<c1-auto-complete css-match="highlight">
    <c1-items-source source-collection="@countries" />
</c1-auto-complete>
