﻿<!--index of control :0-->
HTML Tag Helper: @(Html.C1().FlexGrid<Category>()
    .Id("batchEditGrid").AutoGenerateColumns(false)
    .Columns(columns => columns.Add(c => c.Binding("CategoryID").IsReadOnly(true).Format("d")).Add(c => c.Binding("CategoryName")).Add(c => c.Binding("Description").Width("*").MultiLine(true)))
    .Bind(ib => ib.DisableServerRead(true).Bind(Model).BatchEdit(Url.Action("GridBatchEdit")).OnClientQueryComplete("onQueryComplete"))
    .AllowAddNew(true)
    .AllowDelete(true)
    .CssClass("grid")
)

@section Styles{
    <style>
        .queryErrorMessage {
            color: #f00;
        }
    </style>
}
<span id="queryMessage"></span>
TagHelper: 
<!--index to test 8-->
<c1-flex-grid id="ovFlexGrid" auto-generate-columns="false" class="grid" is-read-only="true"
              allow-sorting="@Convert.ToBoolean(optionsModel.Options["Allow Sorting"].CurrentValue == "om")"
              selection-mode="@((SelectionMode)Enum.Parse(typeof(SelectionMode), optionsModel.Options["Selection"].CurrentValue))">
    <c1-flex-grid-column binding="ID"
                         is-visible="@(string.Compare(optionsModel.Options["Column Visibility"].CurrentValue, "show", true) == 0)"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Start"
                         format="@(optionsModel.Options["Formatting"].CurrentValue == "On" ? "MMM d yy" : "")"></c1-flex-grid-column>
    <c1-flex-grid-column binding="End"
                         format="@(optionsModel.Options["Formatting"].CurrentValue == "On" ? "HH:mm" : "")"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Country"
                         width="@optionsModel.Options["Column Resize"].CurrentValue "></c1-flex-grid-column>
    <c1-flex-grid-column binding="Product"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Color"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Amount" format="c"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Amount2" format="c"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Active"></c1-flex-grid-column>
    <c1-items-source initial-items-count="100" wrongatt="here" read-action-url="@Url.Page("FlexGrid", "Bind")" query-data="collectingQueryData"></c1-items-source>
</c1-flex-grid>