﻿<!--0-->
<c1-combo-box display-member-path="Name" selected-value-path="Value" selected-index="0">
    <c1-items-source source-collection="@Model"></c1-items-source>
</c1-combo-box>
<!--1-->
<c1-combo-box display-member-path="Name" selected-value-path="Value">
    <c1-input-item-template>
        <span>
            <span class="palette" style="background-color: {{Name}}"></span>
            <span class="palette-label">{{Name}}</span>
        </span>
    </c1-input-item-template>
    <c1-items-source source-collection="@Model"></c1-items-source>
</c1-combo-box>
<!--2-->
<c1-combo-box selected-index="0" is-editable="false" drop-down-css-class="multi-column">
    <c1-items-source source-collection="Model"></c1-items-source>
</c1-combo-box>

