﻿@section Styles{
    <style>
        .queryErrorMessage {
            color: #f00;
        }
    </style>
}
<span id="queryMessage"></span>
<!--index to test 0-->
<c1-flex-grid id="ovFlexGrid" auto-generate-columns="false" class="grid" is-read-only="true" 
              allow-sorting="@Convert.ToBoolean(optionsModel.Options["Allow Sorting"].CurrentValue == "om")" 
              selection-mode="@((SelectionMode)Enum.Parse(typeof(SelectionMode), optionsModel.Options["Selection"].CurrentValue))">
    <c1-flex-grid-column binding = "ID" 
                         is-visible="@(string.Compare(optionsModel.Options["Column Visibility"].CurrentValue, "show", true) == 0)"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Start"
                         format="@(optionsModel.Options["Formatting"].CurrentValue == "On" ? "MMM d yy" : "")"></c1-flex-grid-column>
    <c1-flex-grid-column binding="End"
                         format="@(optionsModel.Options["Formatting"].CurrentValue == "On" ? "HH:mm" : "")"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Country"
                         width="@optionsModel.Options["Column Resize"].CurrentValue "></c1-flex-grid-column>
    <c1-flex-grid-column binding="Product"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Color"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Amount" format="c"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Amount2" format="c"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Active"></c1-flex-grid-column>
    <c1-items-source initial-items-count="100"wrongatt="here" read-action-url="@Url.Page("FlexGrid", "Bind")" query-data="collectingQueryData"></c1-items-source>
</c1-flex-grid>
<!--1-->
<c1-flex-grid id="inlineEditGrid" is-read-only="true" selection-mode="None"
              auto-generate-columns="false" item-formatter="itemFormatter" style="height:400px"
              scroll-position-changed="scrollPositionChanged" resizing-column="resizingColumn" dragging-column="draggingColumn" sorting-column="sortingColumn">
    <c1-items-source read-action-url="@Url.Action("GridBindCustomer")"
                     update-action-url="@Url.Action("GridUpdateCustomer")"
                     create-action-url="@Url.Action("GridCreateCustomer")"
                     delete-action-url="@Url.Action("GridDeleteCustomer")"></c1-items-source>
    <c1-flex-grid-column binding="CustomerID" width="80" align="right" is-read-only="true"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Country" name="Country"></c1-flex-grid-column>
    <c1-flex-grid-column binding="Address" width="*" name="Address"></c1-flex-grid-column>
    <c1-flex-grid-column name="Buttons" width="170"></c1-flex-grid-column>
</c1-flex-grid>
<!--2  self close-->
<c1-flex-grid id="Customer" auto-generate-columns="false" is-read-only="true" selection-mode="Row">
    <c1-flex-grid-column binding="CustomerID" width="*" />
    <c1-flex-grid-column binding="CompanyName" width="2*" />
    <c1-flex-grid-column binding="Country" width="2*" />
    <c1-flex-grid-column binding="City" width="2*" />
    <c1-items-source source-collection="Model" />
</c1-flex-grid>
<!--3-->
﻿<c1-flex-grid>
    <c1-items-source source-collection="Model"></c1-items-source>
</c1-flex-grid>
@section Description{
    <p>@Html.Raw(FlexGridRes.BatchEditing_Text0)</p>
    <p>@Html.Raw(FlexGridRes.BatchEditing_Text1)</p>
    <p>@Html.Raw(FlexGridRes.BatchEditing_Text2)</p>
    <h4>@Html.Raw(FlexGridRes.BatchEditing_Normal)</h4>
    <p>@Html.Raw(FlexGridRes.BatchEditing_Text3)</p>
    <p>@Html.Raw(FlexGridRes.BatchEditing_Text4)</p>
    <h4>@Html.Raw(FlexGridRes.BatchEditing_Batch)</h4>
    <p>@Html.Raw(FlexGridRes.BatchEditing_Text5)</p>
    <p>@Html.Raw(FlexGridRes.BatchEditing_Text6)</p>
}
<!--4-->
﻿<c1-flex-grid auto-generate-columns="false" height="300px" id="fg">
    <c1-flex-grid-column binding="ProductID"></c1-flex-grid-column>
    <c1-flex-grid-column binding="ProductName"></c1-flex-grid-column>
    <c1-flex-grid-column binding="QuantityPerUnit"></c1-flex-grid-column>
    <c1-flex-grid-group-panel></c1-flex-grid-group-panel>
    <c1-odata-source service-url="https://services.odata.org/Northwind/Northwind.svc" table-name="Products" keys="ProductID"></c1-odata-source>
</c1-flex-grid>