﻿<!--index of control :0-->
@(Html.C1().FlexGrid<Category>()
    .Id("batchEditGrid").AutoGenerateColumns(false)
    .Columns(columns => columns.Add(c => c.Binding("CategoryID").IsReadOnly(true).Format("d")).Add(c => c.Binding("CategoryName")).Add(c => c.Binding("Description").Width("*").MultiLine(true)))
    .Bind(ib => ib.DisableServerRead(true).Bind(Model).BatchEdit(Url.Action("GridBatchEdit")).OnClientQueryComplete("onQueryComplete"))
    .AllowAddNew(true)
    .AllowDelete(true)
    .CssClass("grid")
)
<!--index of control :1-->
@(Html.C1().FlexGrid<InvoiceStockItem>()
        .AutoGenerateColumns(false)
        .AllowDelete(true)
        .AllowAddNew(true)
        .AllowDragging(C1.Web.Mvc.Grid.AllowDragging.Rows)
        .SelectionMode(C1.Web.Mvc.Grid.SelectionMode.Cell)
        .Id("flexGrid")
        .CssClass("grid")
        //.ShowColumnFooters(true)
        .Bind(b => b.Bind(Model.StkList).DisableServerRead(true))
        .Columns(bl =>
        {   
            bl.Add(cb => cb.Binding("StkCode").Header("Stock Code").MaxWidth(160).MinWidth(40).AllowResizing(false).Aggregate(C1.Web.Mvc.Grid.Aggregate.Cnt).CellTemplate(ctb => ctb.EditTemplateId("PopupStock")));
            bl.Add(cb => cb.Binding("StkDesc").Header("Description").Width("*").WordWrap(true).CellTemplate(ctb => ctb.EditTemplateId("multiLine")));
            bl.Add(cb => cb.Binding("StkQty").Header("Qty").Width("80").Format("N3"));
            //bl.Add(cb => cb.Binding("StkQty").Header("Qty").Format("N3").Width("80").Aggregate(C1.Web.Mvc.Grid.Aggregate.Sum));
            bl.Add(cb => cb.Binding("StkUOM").Header("UOM").Width("80").Align("Center"));
            bl.Add(cb => cb.Binding("StkPrice").Format("c").Header("Price").Align("Right"));
            bl.Add(cb => cb.Binding("DiscOrCharges").Header("Disc").Width("70").Align("Right"));
            bl.Add(cb => cb.Binding("StkGstCode").Header("Gst").Width("40").Align("Center"));
            bl.Add(cb => cb.Binding("StkGstPct").Header("%").Width("30").Align("Center"));
            bl.Add(cb => cb.Binding("StkAmtExclGst").Name("Amount").Header("Amount").Format("c").Align("Right").DataType(DataType.Number).Aggregate(C1.Web.Mvc.Grid.Aggregate.Sum).IsReadOnly(true));
            bl.Add(cb => cb.Binding("StkGstAmt").Name("GST Amt").Header("GST Amt").Format("c").Align("Right").DataType(DataType.Number).Aggregate(C1.Web.Mvc.Grid.Aggregate.Sum).IsReadOnly(true));
            bl.Add(cb => cb.Binding("StkAmtPlusGst").Name("GST+Amt").Header("GST+Amt").Format("c").Align("Right").DataType(DataType.Number).Aggregate(C1.Web.Mvc.Grid.Aggregate.Sum).IsReadOnly(true));
        })
        .OnClientCellEditEnded("cellEditEnded")
        .OnClientDraggedRow("RowDragged")
        .OnClientDraggingRow("RowDragging")
        .OnClientSelectionChanged("selectionChanged")
        .OnClientFormatItem("formatItem")
)
<!--index of control :2-->
@(Html.C1().FlexGrid()
    .Height("200px")
    .AutoGenerateColumns(false)
    .IsReadOnly(true)
    .TemplateBind("ItemsSource", "Orders")
    .Columns(columns =>
    {
        columns.Add(column => column.Binding("ShippedDate").Width("*"));
        columns.Add(column => column.Binding("Freight").Width("*").Align("Center"));
        columns.Add(column => column.Binding("ShipVia").Width("*").Align("Center"));
    })
    .ToTemplate()
)

<!-- index = 3-->
@(Html.C1().FlexGrid<Sale>()
    .Id("ovFlexGrid")
    .AutoGenerateColumns(false)
    .AllowSorting(Convert.ToBoolean(optionsModel.Options["Allow Sorting"].CurrentValue))
    .SelectionMode((SelectionMode)Enum.Parse(typeof(SelectionMode), optionsModel.Options["Selection"].CurrentValue))
    .Bind(bl => bl.InitialItemsCount(100).Bind(Model).OnClientQueryData("collectingQueryData"))
    .CssClass("grid")
    .AllowDragging(AllowDragging.Rows)
    //.IsReadOnly(true)
    //.TemplateBind("ItemsSource", "Orders")
    .Columns(bl =>
    {
        bl.Add(cb => cb.Binding("ID")
            .Visible(true));
        bl.Add(cb => cb.Binding("Start").Format(optionsModel.Options["Formatting"].CurrentValue == "On" ? "MMM d yy" : ""));
        bl.Add(cb => cb.Binding("End").Format(optionsModel.Options["Formatting"].CurrentValue == "On" ? "HH:mm" : ""));
        bl.Add(cb => cb.Binding("Country").Width(optionsModel.Options["Column Resize"].CurrentValue));
        bl.Add(cb => cb.Binding("Product"));
        bl.Add(cb => cb.Binding("Color"));
        bl.Add(cb => cb.Binding("Amount").Format("c"));
        bl.Add(cb => cb.Binding("Amount2").Format("c"));
        bl.Add(cb => cb.Binding("Discount").Format("p0"));
        bl.Add(cb => cb.Binding("Active"));
    })
)
<!--4-->
@(Html.C1().FlexGrid<MvcExplorer.Models.Sale>()
    .AllowSorting(false).IsReadOnly(true)
    .Bind(cvsb => cvsb.Bind(Url.Action("Read_Data")).DisableServerRead(true).GetError("flexgrid4_GetError"))
    .Height("800px").Id("flexgrid4"))
<!--5-->
@(Html.C1().FlexGrid<MvcExplorer.Models.Abc>()
    .AllowSorting(false).IsReadOnly(true)
    .Bind(cvsb => cvsb.MoveToPage(1).PageSize(2).Bind((IEnumerable<MvcExplorer.Models.Abc>)ViewBag.Abcs))
    .Height("800px")
    .Id("flexgrid1"))