﻿<!--0-->
<c1-multi-auto-complete display-member-path="Name" selected-indexes="new List<int> { 0, 1 }">
    <c1-items-source source-collection="@Model">
    </c1-items-source>
</c1-multi-auto-complete>
<!--1-->
<c1-multi-auto-complete max-items="10" css-match="highlight" items-source-action="@Url.Action("TypesInMscorlib")" />
<!--2-->
<c1-multi-auto-complete css-match="highlight" max-selected-items="4" selected-indexes="new List<int> { 1 }">
    <c1-items-source source-collection="@Model"></c1-items-source>
</c1-multi-auto-complete>