﻿<p>
  <img id="image1" src="@Href("~/Content/images/room.png")" />
</p>

<div>
    <label>@Html.Raw(InputColorRes.Index_Text0)</label>
    <c1-input-color value="White" value-changed="changeColor" click-action="Toggle"></c1-input-color>
</div>

@section Description{
    @Html.Raw(InputColorRes.Index_Text1)
}

@section Scripts{
    <script>
    function changeColor(sender, e) {
        document.getElementById("image1").style.backgroundColor = sender.value;
    }
    </script>
}