﻿@{
    ViewBag.Title = "ホーム ページ";
    List<Person.NamedCountry> Countries = ViewBag.Countries;
}

<br />
<div>
    <input type="button" id="btn_save" value="Save Data" onclick="btn_save_click()" />
</div>
<br />
@(Html.C1().FlexGrid()
                    .Id("flexGrid")
                    .AutoGenerateColumns(false)
                    .Bind(bi => bi.BatchEdit(Url.Action("Save")).DisableServerRead(true))
                    .IsReadOnly(false)
                    .AutoClipboard(true)
                    .SortingType(C1.Web.Mvc.Grid.AllowSorting.SingleColumn)
                    .AllowAddNew(true)
                    .AllowDelete(true)
                    .SelectionMode(C1.Web.Mvc.Grid.SelectionMode.Row)
                    .Height(500)
                    .Columns(bl =>
                    {
                        bl.Add(cb => cb.Binding("Id").Header("ID").Width("0.4*").IsReadOnly(true));
                        bl.Add(cb => cb.Binding("First").Header("FirstName").Width("*").Name("FirstName"));
                        bl.Add(cb => cb.Binding("Last").Header("LastName").Width("*").Name("LastName"));
                        bl.Add(cb => cb.Binding("CountryID").Header("Country").Width("*").Name("Country")
                        .DataMap(dm => dm.DisplayMemberPath("Name")
                            .SelectedValuePath("Id")
                            .SortByDisplayValues(true)
                            .Bind(Countries)
                        ));
                        bl.Add(cb => cb.Binding("Hired").Header("Hired").Format("d").Width("*").Name("Hired"));
                    })
)

@section scripts{
<script>
    function btn_save_click() {
        var flex = wijmo.Control.getControl("#flexGrid"),
        cv = flex.collectionView;
        cv.commit();
    }

    function parseDate(strDate) {
        var date = strDate.match(/\-?\d+/g);
        return new Date(parseInt(date));
    }

    c1.documentReady(function () {
        $.ajax({
            type: "POST",
            url: '@(Url.Content("~/Home/ReadAction"))',
            dataType: "json",
            success: function (result) {
                var flex = wijmo.Control.getControl("#flexGrid"),
                    cv = flex.collectionView;
                try {
                    cv._isFillingData = true;
                    cv.deferUpdate(function () {
                        cv.sourceCollection.clear();
                        result.forEach(function (item) {
                            item.Hired = parseDate(item.Hired);
                            cv.sourceCollection.push(item);
                        });
                    })
                } finally {
                    cv._isFillingData = false;
                }
            },
            error: function (err) {

            }
        });
    });
</script>
}