﻿@{
    List<string> countries = ViewBag.Countries;
    List<string> cities = ViewBag.Cities;
}

<div>
    <label>@Html.Raw(Resources.ComboBox.Index_NonEditable)</label>
    @(Html.C1().ComboBox().Bind(countries).SelectedIndex(0).IsEditable(false))
</div>
<div>
    <label>@Html.Raw(Resources.ComboBox.Index_Editable)</label>
    @(Html.C1().ComboBox().Bind(cities).SelectedIndex(0).IsEditable(true))
</div>

@section Description{
    @Html.Raw(Resources.ComboBox.Index_Text0)
}