@section Scripts{
<script type="text/javascript" src="~/Scripts/FlexSheet/cellMerging.js"></script>
}

<div>
    <div class="copy">
<h3>@Html.Raw(Resources.FlexSheet.CellMerging_Text2)</h3>

<p>@Html.Raw(Resources.FlexSheet.CellMerging_Text0)</p>

    </div>
    <button type="button" class="btn btn-default" onclick="mergeCells()" id="mergeBtn">@Html.Raw(Resources.FlexSheet.CellMerging_Text3)</button>
    <div>
        @(Html.C1().FlexSheet().CssClass("flexSheet").Id("mergeSheet")
        .AddUnboundSheet("Sheet1", 20, 8))
    </div>
</div>
@section Summary{
<p>@Html.Raw(Resources.FlexSheet.CellMerging_Text1)</p>

}
