@section Scripts{
<script type="text/javascript" src="~/Scripts/FlexSheet/frozenCells.js"></script>
}

<div>
    <div class="copy">
<h3>@Html.Raw(Resources.FlexSheet.FrozenCells_Text2)</h3>

<p>@Html.Raw(Resources.FlexSheet.FrozenCells_Text0)</p>

    </div>
    <button type="button" class="btn btn-default" onclick="freezeCells()" id="frozenBtn">@Html.Raw(Resources.FlexSheet.FrozenCells_Text3)</button>
    <div>
        @(Html.C1().FlexSheet().CssClass("flexSheet").Id("frozenSheet")
        .AddUnboundSheet("Sheet1", 20, 8)
        .OnClientSelectedSheetChanged("updateFrozenState"))
    </div>
</div>
@section Summary{
<p>@Html.Raw(Resources.FlexSheet.FrozenCells_Text1)</p>

}
