<div>
    <div class="copy">
        <h3>@Html.Raw(Resources.FlexSheet.Intro_Text4)</h3>

        <p>@Html.Raw(Resources.FlexSheet.Intro_Text0)</p>

        <div class="collapsed-content collapse">
            <p>@Html.Raw(Resources.FlexSheet.Intro_Text1)</p>

            <dl class="dl-horizontal">
                <dt>@Html.Raw(Resources.FlexSheet.Intro_Text5)</dt>
                <dd>@Html.Raw(Resources.FlexSheet.Intro_Text6)</dd>
                <dt>@Html.Raw(Resources.FlexSheet.Intro_Text7)</dt>
                <dd>
                    @Html.Raw(Resources.FlexSheet.Intro_Text8)
                </dd>
                <dt>@Html.Raw(Resources.FlexSheet.Intro_Text9)</dt>
                <dd>@Html.Raw(Resources.FlexSheet.Intro_Text10)</dd>
                <dt>@Html.Raw(Resources.FlexSheet.Intro_Text11)</dt>
                <dd>@Html.Raw(Resources.FlexSheet.Intro_Text12)</dd>
                <dt>@Html.Raw(Resources.FlexSheet.Intro_Text13)</dt>
                <dd>
                    @Html.Raw(Resources.FlexSheet.Intro_Text14)
                </dd>
                <dt>@Html.Raw(Resources.FlexSheet.Intro_Text15)</dt>
                <dd>@Html.Raw(Resources.FlexSheet.Intro_Text16)</dd>
                <dt>@Html.Raw(Resources.FlexSheet.Intro_Text17)</dt>
                <dd>@Html.Raw(Resources.FlexSheet.Intro_Text18)</dd>
            </dl>
        </div>
        <p>
            <button type="button"
                    data-toggle="collapse"
                    data-target=".collapsed-content, .btn.btn-default.btn-xs.collapse"
                    class="btn btn-default btn-xs collapse in">
                @Html.Raw(Resources.FlexSheet.Intro_Text19)
            </button>
        </p>

    </div>
    <div>
        @(Html.C1().FlexSheet().CssClass("flexSheet")
        .AddUnboundSheet("Sheet1", 25, 12)
        .AddUnboundSheet("Sheet2", 25, 12))
    </div>
</div>
@section Summary{
<p>@Html.Raw(Resources.FlexSheet.Intro_Text3)</p>

}
