﻿<div>
    <div class="copy">
        <h3>
            @Html.Raw(Resources.FlexSheet.ServerLoad_Text3)
        </h3>
        <p>
            @Html.Raw(Resources.FlexSheet.ServerLoad_Text2)
        </p>
        <p>
            @using (Html.BeginForm())
            {
                @(Html.C1().ComboBox().Name("loadType").Bind((string[])ViewBag.loadTypes)
                    .SelectedValue((String)ViewBag.LoadType))
                <button type="submit" class="btn btn-default">@Html.Raw(Resources.FlexSheet.ServerLoad_Text4)</button>
            }
        </p>
    </div>
    <div>
        @(Html.C1().FlexSheet().CssClass("flexSheet").Load(Model))
    </div>
</div>
@section Summary{
    <p>
       @Html.Raw(Resources.FlexSheet.ServerLoad_Text0)
    </p>
}