<h1>
    @Html.Raw(Resources.C1Gauge.StylingFocus_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Gauge.StylingFocus_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Gauge.StylingFocus_Text2)
</p>

@(Html.C1().LinearGauge().Id("linear")
    .Value(50).Max(100)
    .IsReadOnly(false).HasShadow(false).ThumbSize(12)
    .Face(f => f.Thickness(0.25))
    .Pointer(p => p.Thickness(0.25))
)
@(Html.C1().RadialGauge().Id("radial")
    .Value(50).Max(100)
    .IsReadOnly(false).HasShadow(false)
    .ShowText(ShowText.Value).ThumbSize(6)
    .Face(f => f.Thickness(0.05))
    .Pointer(p => p.Thickness(0.05))
)