﻿<!DOCTYPE html>
<html ng-app="gbApp">
<head id="ng-app">
    <meta charset="utf-8">

    <title>Grid Benchmark</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
      <script src="scripts/json2.js" type="text/javascript"></script>
      <script type="text/javascript">
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
      </script>
    <![endif]-->
    <script type="text/javascript">
    </script>
    <!-- jQuery/jQueryUI -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>

    <!-- Angular (after jQuery) -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js" type="text/javascript"></script>

    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />

    <!-- ngGrid -->
    <link rel="stylesheet" type="text/css" href="styles/ng-grid.min.css" />
    <script type="text/javascript" src="scripts/vendor/ng-grid-2.0.7.min.js"></script>

    <!-- slickGrid -->
    <link rel="stylesheet" type="text/css" href="styles/slick.grid.css" />
    <link rel="stylesheet" type="text/css" href="styles/slick-default-theme.css" />
    <script type="text/javascript" src="scripts/vendor/jquery.event.drag.js"></script>
    <script type="text/javascript" src="scripts/vendor/slick.core.js"></script>
    <script type="text/javascript" src="scripts/vendor/slick.editors.js"></script>
    <script type="text/javascript" src="scripts/vendor/slick.grid.js"></script>

    <!-- Wijmo -->
    <link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" type="text/css" rel="stylesheet" />

    <!--Wijmo Widgets CSS-->
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.css" rel="stylesheet" type="text/css" />

    <!--Wijmo Widgets JavaScript-->
    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.<%= pkg.version %>.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.js" type="text/javascript"></script>

    <!--SpreadJS Widgets JavaScript-->
    <script src="http://cdn.wijmo.com/spreadjs/jquery.wijmo.wijspread.all.3.20141.9.min.js" type="text/javascript"></script>

    <!--SpreadJS Widgets CSS-->
    <link href="http://cdn.wijmo.com/spreadjs/jquery.wijmo.wijspread.3.20141.9.css" rel="stylesheet" type="text/css" />

    <!--Wijmo Knockout Integration Library-->
    <script src="http://cdn.wijmo.com/interop/angular.wijmo.<%= pkg.version %>.js" type="text/javascript"></script>


    <!-- custom directives -->
    <script src="scripts/directives/slickDctv.js" type="text/javascript"></script>
    <script src="scripts/directives/wijspreadjsDctv.js" type="text/javascript"></script>

    <!-- app scripts and styles -->
    <script src="scripts/gbApp.js" type="text/javascript"></script>
    <script src="scripts/controllers/gbCtrl.js" type="text/javascript"></script>
    <link href="styles/app.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="gbCtrl">
    <div class="container-fluid span10 offset1">

        <div class="row-fluid">
            <h1 class="well">Grid Benchmark
            </h1>
        </div>
        <div class="row-fluid">
            <div class="span3 well">
                <h4>Select a Grid</h4>
                <p class="text-info">
                    Once you select a grid, the binding time will appear next to the grid name.
                <ul>
                    <li><a href="#/wijgrid">Wijmo Grid</a>  {{benchmark.wijgrid}}</li>
                    <li><a href="#/spreadjs">SpreadJS</a>   {{benchmark.spreadjs}}</li>
                    <li><a href="#/html">Html table</a>     {{benchmark.html}}</li>
                    <li><a href="#/slickgrid">slickGrid</a> {{benchmark.slickgrid}}</li>
                    <li><a href="#/nggrid">ngGrid</a>       {{benchmark.nggrid}}</li>
                </ul>
                    <p>
                        <a href="#/home">Back to home view</a>
                    </p>

                <hr />
                <h4>Set Data Size</h4>
                <label>
                    <input type="radio" name="itemCount" ng-model="itemCount" ng-change="refreshData()" value="5" />5</label>
                <label>
                    <input type="radio" name="itemCount" ng-model="itemCount" ng-change="refreshData()" value="500" checked />500</label>
                <label>
                    <input type="radio" name="itemCount" ng-model="itemCount" ng-change="refreshData()" value="5000" />5,000</label>
                <label>
                    <input type="radio" name="itemCount" ng-model="itemCount" ng-change="refreshData()" value="50000" />50,000</label>

                <!--<hr />
                <h4>Edit First Item</h4>
                <input ng-model="data[0].id"        type="text" class="input-small" />
                <input ng-model="data[0].country"   type="text" class="input-small" />
                <input ng-model="data[0].product"   type="text" class="input-small" />
                <input ng-model="data[0].color"     type="text" class="input-small" />
                <input ng-model="data[0].amount"    type="text" class="input-small" />-->

            </div>
            <div class="span9">
                <div ng-view></div>
            </div>
        </div>
    </div>
</body>
</html>
