﻿@using Benchmark.Models
@model IList<ControlModel>

@{
    foreach(var item in Model)
    {
        string serverControlName = item.DisplayName.Replace(" ","").ToLower() + "server";
        string clientControlName = item.DisplayName.Replace(" ", "").ToLower() + "client";
        <li>
            <a onclick="submit('@Url.Action(item.ControlName, "Home")')" class="control-link">@item.DisplayName</a>
            <div class="timing">
                <div>
                    <span>Client Time: &nbsp;</span>
                    <input type="text" id ="@(clientControlName)" name ="@(clientControlName)" class="client-time-lable" 
                        value="@(Benchmark.TimingModule.controlElapsedClientTime[clientControlName])" readonly="true"/>
                </div>
                <div>
                    <span>Sever Time: &nbsp;</span>
                    <div id="@(serverControlName)" class="server-time label label-default">@(Benchmark.TimingModule.controlElapsedSeverTime[serverControlName])</div>
                </div>
            </div>
        </li>
    }
}