﻿@model int
@{
    ViewBag.Title = "_SourceSelector";
}
<input id="itemCount" name="itemCount" type="hidden" />
    @(Html.C1().Menu().SelectedValue(Model)
    .Header("Item Count:&nbsp;<b>"+Model+ "</b>").MenuItems(items =>
    {
        items.Add("50", 50);
        items.Add("500", 500);
        items.Add("5,000", 5000);
        items.Add("10,000", 10000);
        items.Add("50,000", 50000);
        items.Add("100,000", 100000);
        items.Add("500,000", 500000);
        items.Add("1,000,000", 1000000);
    }).Command("changeItemCount"))