﻿@{
    ViewBag.Title = "カスタムストレージプロバイダー";
}

<div class="container">
    <!-- はじめに -->
    <div>
        <h2>はじめに</h2>
        <p>
            カスタムストレージプロバイダアプリケーションを開始する手順。
        </p>
        <ol>
            <li>ローカルPDFファイルまたはカスタマイズされたPDFドキュメントをストリームとして取得するカスタムストレージを実装します。</li>
            <li>上記のカスタムストレージを提供するカスタムストレージプロバイダを実装します。</li>
            <li>Startupにこのプロバイダを登録します。</li>
            <li>PdfViewerコントロールを作成し、FilePathプロパティを設定します。</li>
        </ol>
        <div class="row">
            PDFファイルを選択:
            <span>
                <select id="pdfFiles">
                    <option value="CustomPdf/DefaultDocument.pdf" selected="selected">DefaultDocument.pdf</option>
                    <option value="CustomPdf/TextFlow.pdf">TextFlow.pdf</option>
                    <option value="CustomPdf/TextPosition.pdf">TextPosition.pdf</option>
                </select>
            </span>
        </div>
        <div class="row">
            @(Html.C1().PdfViewer()
           .Id("PdfViewer")
           .Width("100%")
           .FilePath("CustomPdf/DefaultDocument.pdf"))
        </div>
    </div>
</div>