﻿@{
    var today = DateTime.Now.Date;
    var minDate = new DateTime(today.Year, 1, 1);
    var maxDate = new DateTime(today.Year, 12, 31);
}

@section Scripts{
<script>
    function itemValidator(date) {
        var weekday = date.getDay();
        return weekday != 0 && weekday != 6;
    }
</script>
}

<div>
    <label>@Html.Raw(Resources.InputDateTime.Validation_Text0)</label>
    @Html.C1().InputDateTime().Value(today).ItemValidator("itemValidator")
</div>

@section Description{
    @Html.Raw(Resources.InputDateTime.Validation_Text1)
}