﻿<div class="toolbar">
    <button id="upBtn" class="btn" onclick="folderUp()"><span class="glyphicon glyphicon-arrow-up"></span><span>Up folder</span></button>
    <button id="refreshBtn" class="btn" onclick="folderRefresh()"><span class="glyphicon glyphicon-refresh"></span><span>Refresh</span></button>
    <span class="address">
        <span class="glyphicon glyphicon-folder-open"></span>
        <span>Folder:</span>
        <span id="folder"></span>
    </span>
</div>
<div id="catalogItems" class="catalog-items">
</div>
@section scripts{<script src="~/Scripts/files.js"></script>}