﻿<div class="main-content">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="error"></div>
        Email: <select id="loginEmail" class="form-control"></select><br />
        Password: <input id="loginPassword" type="password" readonly class="form-control" /><br />
        Role: <input id="loginRole" readonly class="form-control" /><br />
        <input type="button" value="Login" onclick="login('@Url.Action("files", "home")')" class="form-control" />
    </div>
    <div class="col-md-4">
        <h4>Welcome!  Please login.</h4>
        <br />
        <p>This sample demonstrates how to control authorization in ComponentOne Report Services.</p>
        <p>Please login this application with pre-registered user.</p>
        <p>
            Every user has be assigned a role. Different role has different permission.
            When the role doesn't have permission to access a folder,
            unauthorized error will occur with http status code 401.
        </p>
    </div>
    <div class="col-md-2"></div>

    <div class="hidden">
        Register<br />
        Email: <input id="registerEmail" /><br />
        Password: <input id="registerPassword" /><br />
        ConfirmPassword: <input id="registerConfirmPassword" /><br />
        <input type="button" value="Register" onclick="register()" />
    </div>
</div>
@section scripts
{
    <script>
        var definedUsers = [
            { email: 'test@test.com', password: 'C1_test', role: 'Admin' },
            { email: 'nancy@test.com', password: 'C1_test', role: 'Sales Representative' },
            { email: 'steven@test.com', password: 'C1_test', role: 'Sales Manager' },
        ];

        $(function () {
            var $loginEmail = $('#loginEmail'),
                $loginPassword = $('#loginPassword'),
                $loginRole = $('#loginRole');
            var update = function (data) {
                $loginPassword.val(data.password);
                $loginRole.val(data.role);
            };

            $loginEmail.on('change', function () {
                var selectedOption = $(this).children('option:selected');
                var data = selectedOption.data('user');
                update(data);
            });

            for (var i = 0, length = definedUsers.length; i < length; i++) {
                var item = definedUsers[i];
                var $option = $('<option>')
                    .val(item.email)
                    .data('user', item)
                    .text(item.email);
                $loginEmail.append($option);
                if (i === 0) {
                    $option.prop('selected', true);
                    update(item);
                }
            }
        });
    </script>
}
