﻿@model FlexChartModel

@{
    ViewBag.Title = "FlexChart入門";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tooTipContent = "<img src='" + @Url.Content("~/images/{x}.png") +  "' /> <b>{seriesName}</b><br />{y}";
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/images/c1logo.png")" alt="Component One ASP.Net MVC" />
        <h1>
            FlexChart入門
        </h1>
        <p>
            このページでは、FlexChartコントロールの使用を開始する方法を説明します。
        </p>
    </div>
</div>

<div class="container">
    <div class="sample-page download-link">
        <a href="https://www.grapecity.co.jp/developer/download#net">トライアル版</a>
    </div>
    <!-- はじめに -->
    <div>
        <h2>はじめに</h2>
        <p>
            MVCアプリケーションでFlexChartコントロールの使用を開始する際の手順。
        </p>
        <ol>
            <li>ComponentOne ASP.NET Core MVC Webアプリケーションテンプレートを使用して、新しいASP.NET Core MVCプロジェクトを作成します。</li>
            <li>プロジェクトに、コントローラおよび対応するビューを追加します。</li>
            <li>&lt;c1-flex-chart&gt;&lt;/c1-flex-chart&gt;タグを使用して、ビューのChartコントロールを初期化します。</li>
            <li>（オプション）CSSを追加して、FlexChartコントロールの外観をカスタマイズします。</li>
        </ol>        
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#gsHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#gsCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#gsCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="gsHtml">

&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;

    &lt;/head&gt;
    &lt;body&gt;

        &lt;!-- this is the FlexChart --&gt;
        &lt;c1-flex-chart id="gettingStartedChart" binding-x="Country"&gt;
            &lt;c1-items-source source-collection="@@Model.CountrySalesData"&gt;&lt;/c1-items-source&gt;
            &lt;c1-flex-chart-series binding="Sales" name="Sales"&gt;&lt;/c1-flex-chart-series&gt;
            &lt;c1-flex-chart-series binding="Expenses" name="Expenses"&gt;&lt;/c1-flex-chart-series&gt;
            &lt;c1-flex-chart-series binding="Downloads" name="Downloads"&gt;&lt;/c1-flex-chart-series&gt;
        &lt;/c1-flex-chart&gt;

    &lt;/body&gt;
&lt;/html&gt;

                        </div>
                        <div class="tab-pane pane-content" id="gsCss">

.wj-flexchart {
    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
    height: 400px;
    margin-bottom: 12px;
    padding: 8px;
}

                        </div>
                        <div class="tab-pane pane-content" id="gsCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexChart101.Models;
using C1.Web.Mvc.Chart;

namespace FlexChart101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexChartModel ModelObj = new FlexChartModel();
            ModelObj.Settings = CreateIndexSettings();
            ModelObj.CountrySalesData = CountryData.GetCountryData();

            return View(ModelObj);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"ChartType", new object[]{"Column", "Bar", "Scatter", "Line", "LineSymbols", "Area", "Spline", "SplineSymbols", "SplineArea"}},
                {"Stacking", new object[]{"None", "Stacked", "Stacked 100%"}},
                {"Rotated", new object[]{false.ToString(), true.ToString()}},
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"GroupWidth", new object[]{"25%", "70%", "100%", "50 pixels"}},
                {"Position",new object[]{Position.None.ToString(),Position.Left.ToString(),Position.Top.ToString(),Position.Right.ToString(),Position.Bottom.ToString()}},
                {"SelectionMode",new object[]{SelectionMode.None.ToString(),SelectionMode.Series.ToString(),SelectionMode.Point.ToString()}}
            };

            return settings;
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-chart id="gettingStartedChart" binding-x="Country">
                    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>
                    <c1-flex-chart-series binding="Sales" name="Sales"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Expenses" name="Expenses"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Downloads" name="Downloads"></c1-flex-chart-series>
                </c1-flex-chart>
            </div>
        </div>
    </div>


    <!-- chart types -->
    <div>
        <h2>チャートタイプ</h2>
        <p>FlexChartコントロールには、チャートタイプをカスタマイズするための３つのプロパティがあります。</p>
        <ol>
            <li>
                <b>chart-type</b>: すべての系列で使用されるデフォルトのチャートタイプを選択します。
                個々の系列では、これをオーバーライドできます。
            </li>
            <li>
                <b>stacking</b>: 系列のプロット方法が個別、積層、合計が100%になる積層のどれであるかを決定します。
            </li>
            <li>
                <b>rotated</b>: X軸とY軸を反転して、Xが縦軸、Yが横軸になるようにします。
            </li>
        </ol>
        <p>次の例は、これらのプロパティを変更するとどうなるかを示します。</p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#ctHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#ctJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#ctCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="ctHtml">

&lt;c1-flex-chart id="chartTypes" binding-x="Country"&gt;
    &lt;c1-items-source source-collection="@@Model.CountrySalesData"&gt;&lt;/c1-items-source&gt;
    &lt;c1-flex-chart-series binding="Sales" name="Sales"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Expenses" name="Expenses"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Downloads" name="Downloads"&gt;&lt;/c1-flex-chart-series&gt;
&lt;/c1-flex-chart&gt;
&lt;div class="form-horizontal"&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="col-md-3 control-label"&gt;Chart Type&lt;/label&gt;
        &lt;div class="col-md-9"&gt;
            &lt;c1-combo-box id="typeMenu" selected-index-changed="typeMenu_SelectedIndexChanged" selected-index="0"&gt;
                &lt;c1-items-source source-collection="@@Model.Settings["ChartType"]"&gt;&lt;/c1-items-source&gt;
            &lt;/c1-combo-box&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="col-md-3 control-label"&gt;Stacking&lt;/label&gt;
        &lt;div class="col-md-9"&gt;
            &lt;c1-combo-box id="stackingMenu" selected-index-changed="stackingMenu_SelectedIndexChanged" selected-index="0"&gt;
                &lt;c1-items-source source-collection="@@Model.Settings["Stacking"]"&gt;&lt;/c1-items-source&gt;
            &lt;/c1-combo-box&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="col-md-3 control-label"&gt;Rotated&lt;/label&gt;
        &lt;div class="col-md-9"&gt;
            &lt;c1-combo-box id="rotatedMenu" selected-index-changed="rotatedMenu_SelectedIndexChanged" selected-index="0"&gt;
                &lt;c1-items-source source-collection="@@Model.Settings["Rotated"]"&gt;&lt;/c1-items-source&gt;
            &lt;/c1-combo-box&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

                        </div>
                        <div class="tab-pane pane-content" id="ctJs">

//Chart Types Module
function typeMenu_SelectedIndexChanged(sender) {
    if(sender.selectedValue){
        var chartTypes = wijmo.Control.getControl("#chartTypes");
        chartTypes.chartType = sender.selectedValue;
    }
}

function stackingMenu_SelectedIndexChanged(sender) {
    if (sender.selectedValue) {
        var chartTypes = MVC.Control.getControl("#chartTypes");
        chartTypes.stacking = parseInt(sender.selectedIndex);//sender.selectedValue;
    }
}

function rotatedMenu_SelectedIndexChanged(sender) {
    if (sender.selectedValue) {
        var chartTypes = MVC.Control.getControl("#chartTypes");
        chartTypes.rotated = sender.selectedValue == 'True' ? true : false;
    }
}

</div>
                        <div class="tab-pane pane-content" id="ctCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexChart101.Models;
using C1.Web.Mvc.Chart;

namespace FlexChart101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexChartModel ModelObj = new FlexChartModel();
            ModelObj.Settings = CreateIndexSettings();
            ModelObj.CountrySalesData = CountryData.GetCountryData();

            return View(ModelObj);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"ChartType", new object[]{"Column", "Bar", "Scatter", "Line", "LineSymbols", "Area", "Spline", "SplineSymbols", "SplineArea"}},
                {"Stacking", new object[]{"None", "Stacked", "Stacked 100%"}},
                {"Rotated", new object[]{false.ToString(), true.ToString()}},
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"GroupWidth", new object[]{"25%", "70%", "100%", "50 pixels"}},
                {"Position",new object[]{Position.None.ToString(),Position.Left.ToString(),Position.Top.ToString(),Position.Right.ToString(),Position.Bottom.ToString()}},
                {"SelectionMode",new object[]{SelectionMode.None.ToString(),SelectionMode.Series.ToString(),SelectionMode.Point.ToString()}}
            };

            return settings;
        }
    }
}

</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-chart id="chartTypes" binding-x="Country">
                    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>
                    <c1-flex-chart-series binding="Sales" name="Sales"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Expenses" name="Expenses"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Downloads" name="Downloads"></c1-flex-chart-series>
                </c1-flex-chart>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">チャートタイプ</label>
                        <div class="col-md-9">
                            <c1-combo-box id="typeMenu" selected-index-changed="typeMenu_SelectedIndexChanged" selected-index="0">
                                <c1-items-source source-collection="@Model.Settings["ChartType"]"></c1-items-source>
                            </c1-combo-box>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">積層</label>
                        <div class="col-md-9">
                            <c1-combo-box id="stackingMenu" selected-index-changed="stackingMenu_SelectedIndexChanged" selected-index="0">
                                <c1-items-source source-collection="@Model.Settings["Stacking"]"></c1-items-source>
                            </c1-combo-box>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">回転</label>
                        <div class="col-md-9">
                            <c1-combo-box id="rotatedMenu" selected-index-changed="rotatedMenu_SelectedIndexChanged" selected-index="0">
                                <c1-items-source source-collection="@Model.Settings["Rotated"]"></c1-items-source>
                            </c1-combo-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- mixed chart types -->
    <div>
        <h2>複合チャートタイプ</h2>
        <p>
            系列自体の<b>chart-type</b>プロパティを設定して、チャート系列ごとに異なるチャートタイプを使用できます。 これは、チャートのデフォルトのチャートタイプをオーバーライドします。
        </p>
        <p>
            次の例では、チャートの<b>chart-type</b>プロパティは<b>C1.Web.Mvc.Chart.ChartType.Column</b>に設定されていますが、<b>Downloads</b>系列がそれをオーバーライドして、<b>C1.Web.Mvc.Chart.ChartType.LineSymbols</b>チャートタイプが使用されます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#mctHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#mctCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="mctHtml">

&lt;c1-flex-chart id="mixedTypesChart" binding-x="Country"&gt;
    &lt;c1-items-source source-collection="@@Model.CountrySalesData"&gt;&lt;/c1-items-source&gt;
    &lt;c1-flex-chart-series binding="Sales" name="Sales"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Expenses" name="Expenses"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Downloads" name="Downloads" chart-type="LineSymbols"&gt;&lt;/c1-flex-chart-series&gt;
&lt;/c1-flex-chart&gt;

                        </div>
                        <div class="tab-pane pane-content" id="mctCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexChart101.Models;
using C1.Web.Mvc.Chart;

namespace FlexChart101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexChartModel ModelObj = new FlexChartModel();
            ModelObj.Settings = CreateIndexSettings();
            ModelObj.CountrySalesData = CountryData.GetCountryData();

            return View(ModelObj);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"ChartType", new object[]{"Column", "Bar", "Scatter", "Line", "LineSymbols", "Area", "Spline", "SplineSymbols", "SplineArea"}},
                {"Stacking", new object[]{"None", "Stacked", "Stacked 100%"}},
                {"Rotated", new object[]{false.ToString(), true.ToString()}},
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"GroupWidth", new object[]{"25%", "70%", "100%", "50 pixels"}},
                {"Position",new object[]{Position.None.ToString(),Position.Left.ToString(),Position.Top.ToString(),Position.Right.ToString(),Position.Bottom.ToString()}},
                {"SelectionMode",new object[]{SelectionMode.None.ToString(),SelectionMode.Series.ToString(),SelectionMode.Point.ToString()}}
            };

            return settings;
        }
    }
}

</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-chart id="mixedTypesChart" binding-x="Country">
                    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>
                    <c1-flex-chart-series binding="Sales" name="Sales"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Expenses" name="Expenses"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Downloads" name="Downloads" chart-type="LineSymbols"></c1-flex-chart-series>
                </c1-flex-chart>
            </div>
        </div>
    </div>



    <!-- legend and titles -->
    <div>
        <h2>凡例とタイトル</h2>
        <p>
            チャートの汎用の外観をカスタマイズするには、<b>legend-position</b>プロパティを使用します。チャートにタイトルを追加するには、<b>header</b>、<b>footer</b>、および&lt;c1-flex-chart-axis&gt;&lt;/c1-flex-chart-axis&gt;タグの<b>title</b>プロパティを使用します。
        </p>
        <p>
            CSSを使用して凡例とタイトルのスタイルを設定できます。 次のCSSタブは、凡例とタイトルの外観のカスタマイズに使用されるルールを示しています。 これらはSVG要素なので、「color」ではなく「fill」などのCSS属性を使用する必要があることに注意してください。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#ltHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#ltJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#ltCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#ltCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="ltHtml">

&lt;c1-flex-chart id="chartLegendAndTitles" binding-x="Country" header="Sample Chart" footer="Copyright (c) ComponentOne">
    &lt;c1-items-source source-collection="@@Model.CountrySalesData"&gt;&lt;/c1-items-source&gt;
    &lt;c1-flex-chart-axis c1-property="AxisX" title="Country"&gt;&lt;/c1-flex-chart-axis&gt;
    &lt;c1-flex-chart-axis c1-property="AxisY" title="Amount"&gt;&lt;/c1-flex-chart-axis&gt;
    &lt;c1-flex-chart-series binding="Sales" name="Sales"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Expenses" name="Expenses"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Downloads" name="Downloads"&gt;&lt;/c1-flex-chart-series&gt;
&lt;/c1-flex-chart&gt;
&lt;dl class="dl-horizontal"&gt;
&lt;dt&gt;Header&lt;/dt&gt;&lt;dd&gt;&lt;input id="headerInput" class="form-control"/&gt;&lt;/dd&gt;
&lt;dt&gt;Footer&lt;/dt&gt;&lt;dd&gt;&lt;input id="footerInput" class="form-control"/&gt;&lt;/dd&gt;
&lt;dt&gt;X軸のタイトル&lt;/dt&gt;&lt;dd&gt;&lt;input id="xTitleInput" class="form-control"/&gt;&lt;/dd&gt;
&lt;dt&gt;Y軸のタイトル&lt;/dt&gt;&lt;dd&gt;&lt;input id="yTitleInput" class="form-control"/&gt;&lt;/dd&gt;
&lt;dt&gt;&lt;/dt&gt;
&lt;dd&gt;
&lt;c1-combo-box id="positionMenu" selected-index="0" selected-index-changed="positionMenu_SelectedIndexChanged"&gt;
    &lt;c1-items-source source-collection="@@Model.Settings["Position"]"&gt;&lt;/c1-items-source&gt;
&lt;/c1-combo-box&gt;
&lt;/dd&gt;
&lt;/dl&gt;

                        </div>
                        <div class="tab-pane pane-content" id="ltJs">

$(document).ready(function () {

    //Legend & Title Module
    var ltchart = MVC.Control.getControl("#chartLegendAndTitles");
    var ltHeader = document.getElementById('headerInput');
    var ltFooter = document.getElementById('footerInput');
    var ltXTitle = document.getElementById('xTitleInput');
    var ltYTitle = document.getElementById('yTitleInput');

    ltHeader.value = 'Sample Chart';
    ltHeader.addEventListener('input', function () {
        ltchart.header = this.value;
    });

    ltFooter.value = 'Copyright (c) ComponentOne';
    ltFooter.addEventListener('input', function () {
        ltchart.footer = this.value;
    });

    ltXTitle.value = 'Country';
    ltXTitle.addEventListener('input', function () {
        ltchart.axisX.title = this.value;
    });

    ltYTitle.value = 'Amount';
    ltYTitle.addEventListener('input', function () {
        ltchart.axisY.title = this.value;
    });

});

//Legend and Title Module
function positionMenu_SelectedIndexChanged(sender) {
    if (sender.selectedValue) {
        var chart = MVC.Control.getControl("#chartLegendAndTitles");
        chart.legend.position = parseInt(sender.selectedIndex);
    }
}


                        </div>
                        <div class="tab-pane pane-content" id="ltCss">

.wj-flexchart .wj-title {
    font-weight: bold;
}
.wj-flexchart .wj-header .wj-title {
    fill: #80044d;
    font-size: 18pt;
}
.wj-flexchart .wj-footer .wj-title {
    fill: #80044d;
}
.wj-flexchart .wj-axis-x .wj-title,
.wj-flexchart .wj-axis-y .wj-title {
    font-style: italic;
}

                        </div>
                        <div class="tab-pane pane-content" id="ltCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexChart101.Models;
using C1.Web.Mvc.Chart;

namespace FlexChart101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexChartModel ModelObj = new FlexChartModel();
            ModelObj.Settings = CreateIndexSettings();
            ModelObj.CountrySalesData = CountryData.GetCountryData();
            return View(ModelObj);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"ChartType", new object[]{"Column", "Bar", "Scatter", "Line", "LineSymbols", "Area", "Spline", "SplineSymbols", "SplineArea"}},
                {"Stacking", new object[]{"None", "Stacked", "Stacked 100%"}},
                {"Rotated", new object[]{false.ToString(), true.ToString()}},
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"GroupWidth", new object[]{"25%", "70%", "100%", "50 pixels"}},
                {"Position",new object[]{Position.None.ToString(),Position.Left.ToString(),Position.Top.ToString(),Position.Right.ToString(),Position.Bottom.ToString()}},
                {"SelectionMode",new object[]{SelectionMode.None.ToString(),SelectionMode.Series.ToString(),SelectionMode.Point.ToString()}}
            };
            return settings;
        }
    }
}

</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-chart id="chartLegendAndTitles" binding-x="Country" header="Sample Chart" footer="Copyright (c) ComponentOne" legend-position="Right">
                    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>
                    <c1-flex-chart-axis c1-property="AxisX" title="Country"></c1-flex-chart-axis>
                    <c1-flex-chart-axis c1-property="AxisY" title="Amount"></c1-flex-chart-axis>
                    <c1-flex-chart-series binding="Sales" name="Sales"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Expenses" name="Expenses"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Downloads" name="Downloads"></c1-flex-chart-series>
                </c1-flex-chart>
                <dl class="dl-horizontal">
                    <dt>ヘッダー</dt>
                    <dd><input id="headerInput" class="form-control" /></dd>
                    <dt>フッター</dt>
                    <dd><input id="footerInput" class="form-control" /></dd>
                    <dt>X軸のタイトル</dt>
                    <dd><input id="xTitleInput" class="form-control" /></dd>
                    <dt>Y軸のタイトル</dt>
                    <dd><input id="yTitleInput" class="form-control" /></dd>
                    <dt>凡例</dt>
                    <dd>
                        <c1-combo-box id="positionMenu" selected-value="@C1.Web.Mvc.Chart.Position.Right.ToString()" selected-index-changed="positionMenu_SelectedIndexChanged">
                            <c1-items-source source-collection="@Model.Settings["Position"]"></c1-items-source>
                        </c1-combo-box>
                    </dd>
                </dl>
            </div>
        </div>
    </div>



    <!-- tooltips -->
    <div>
        <h2>ツールチップ</h2>
        <p>
            FlexChartでは、ツールチップが組み込みでサポートされています。 ユーザーがデータポイントにタッチするか、その上にカーソルを置くと、コントロールはデフォルトでツールチップを表示します。
        </p>
        <p>
            ツールチップの内容はテンプレートを使用して生成されます。このテンプレートは、&lt;c1-flex-chart-tooltip&gt;&lt;/c1-flex-chart-tooltip&gt;タグの次のパラメータを含むことができます。
        </p>
        <ul>
            <li><b>seriesName</b>: チャート要素を含む系列の名前。</li>
            <li><b>pointIndex</b>: 系列内のチャート要素のインデックス。</li>
            <li><b>x</b>: チャート要素の<b>x</b>値。</li>
            <li><b>y</b>: チャート要素の<b>y</b>値。</li>
        </ul>
        <p>
            デフォルトでは、ツールチップテンプレートは<code>&lt;b&gt;{seriesName}&lt;/b&gt;&lt;br/&gt;{x} {y}</code>に設定され、これがどのように機能するかは上記のチャートで確認できます。
            この例では、ツールチップテンプレートを<code>&lt;b&gt;{seriesName}&lt;/b&gt; &lt;img src='/images/{x}.png'/&gt;&lt;br/&gt;{y}</code>に設定し、国名を国旗で置き換えます。
        </p>
        <p>チャートのツールチップを無効にできます。それには、テンプレートを空の文字列に設定します。</p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tooltipHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#tooltipCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="tooltipHtml">
@@{
    var tooTipContent = "&lt;img src='" + @@Url.Content("~/images/{x}.png") +  "' /&gt; &lt;b&gt;{seriesName}&lt;/b&gt;&lt;br /&gt;{y}";
}
&lt;c1-flex-chart id="chartTooltip" binding-x="Country" header="Sample Chart" footer="Copyright (c) ComponentOne"&gt;
    &lt;c1-flex-chart-tooltip is-content-html="true" content="@@tooTipContent"&gt;&lt;/c1-flex-chart-tooltip&gt;
    &lt;c1-items-source source-collection="@@Model.CountrySalesData"&gt;&lt;/c1-items-source&gt;
    &lt;c1-flex-chart-axis c1-property="AxisX" title="Country"&gt;&lt;/c1-flex-chart-axis&gt;
    &lt;c1-flex-chart-axis c1-property="AxisY" title="Amount"&gt;&lt;/c1-flex-chart-axis&gt;
    &lt;c1-flex-chart-series binding="Sales" name="Sales"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Expenses" name="Expenses"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Downloads" name="Downloads"&gt;&lt;/c1-flex-chart-series&gt;
&lt;/c1-flex-chart&gt;

                        </div>
                        <div class="tab-pane pane-content" id="tooltipCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexChart101.Models;
using C1.Web.Mvc.Chart;

namespace FlexChart101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexChartModel ModelObj = new FlexChartModel();
            ModelObj.Settings = CreateIndexSettings();
            ModelObj.CountrySalesData = CountryData.GetCountryData();

            return View(ModelObj);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"ChartType", new object[]{"Column", "Bar", "Scatter", "Line", "LineSymbols", "Area", "Spline", "SplineSymbols", "SplineArea"}},
                {"Stacking", new object[]{"None", "Stacked", "Stacked 100%"}},
                {"Rotated", new object[]{false.ToString(), true.ToString()}},
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"GroupWidth", new object[]{"25%", "70%", "100%", "50 pixels"}},
                {"Position",new object[]{Position.None.ToString(),Position.Left.ToString(),Position.Top.ToString(),Position.Right.ToString(),Position.Bottom.ToString()}},
                {"SelectionMode",new object[]{SelectionMode.None.ToString(),SelectionMode.Series.ToString(),SelectionMode.Point.ToString()}}
            };

            return settings;
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-chart id="chartTooltip" binding-x="Country" header="Sample Chart" footer="Copyright (c) ComponentOne">
                    <c1-flex-chart-tooltip is-content-html="true" content="@tooTipContent"></c1-flex-chart-tooltip>
                    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>
                    <c1-flex-chart-axis c1-property="AxisX" title="Country"></c1-flex-chart-axis>
                    <c1-flex-chart-axis c1-property="AxisY" title="Amount"></c1-flex-chart-axis>
                    <c1-flex-chart-series binding="Sales" name="Sales"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Expenses" name="Expenses"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Downloads" name="Downloads"></c1-flex-chart-series>
                </c1-flex-chart>
            </div>
        </div>
    </div>


    <!-- styling series -->
    <div>
        <h2>系列のスタイル設定</h2>
        <p>
            FlexChartはデフォルトのパレットに基づいて系列ごとにカラーを自動的に選択しますが、これはオーバーライドできます。それには、<b>palette</b>プロパティを設定します。
            しかし、デフォルト設定もオーバーライドできます。それには、任意の系列の<b>style</b>プロパティを、<b>Fill</b>、<b>Stroke</b>、<b>StrokeThickness</b>などのSVGスタイル設定属性を指定するオブジェクトに指定します。
        </p>
        <p>
            &lt;c1-flex-chart-series&gt;&lt;/c1-flex-chart-series&gt;の<b>style</b>プロパティは、MVCコントロール内のすべてのスタイル設定はCSSを使用して行うという原則の例外です。 この例外は、多くのチャートには動的系列があり、事前にスタイル設定を行うのは不可能であるということに基づくものです。 たとえば株式チャートは、アプリケーションの実行中、ユーザーによって選択された系列を表示することがあります。
        </p>
        <p>
            この例のチャートは、<b>style</b>プロパティと<b>symbol-style</b>プロパティを使用して、系列ごとにスタイル属性を選択します。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#seriesStyleHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#seriesStyleCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="seriesStyleHtml">
@@{ 
    SVGStyle s1 = new SVGStyle { Fill = ConsoleColor.Green.ToString(), Stroke = ConsoleColor.DarkGreen.ToString(), StrokeWidth = 1 };
    SVGStyle s2 = new SVGStyle { Fill = ConsoleColor.Red.ToString(), Stroke = ConsoleColor.DarkRed.ToString(), StrokeWidth = 1 };
    SVGStyle s3 = new SVGStyle { Fill = "gold", Stroke = "orange", StrokeWidth = 5 };
    var tooTipContent = "&lt;img src='" + @@Url.Content("~/images/{x}.png") +  "' /&gt; &lt;b&gt;{seriesName}&lt;/b&gt;&lt;br /&gt;{y}";
}
&lt;c1-flex-chart id="chartSeriesStyle" binding-x="Country"&gt;
    &lt;c1-flex-chart-tooltip is-content-html="true" content="@@tooTipContent"&gt;&lt;/c1-flex-chart-tooltip&gt;
    &lt;c1-items-source source-collection="@@Model.CountrySalesData"&gt;&lt;/c1-items-source&gt;
    &lt;c1-flex-chart-axis c1-property="AxisX" title="Country"&gt;&lt;/c1-flex-chart-axis&gt;
    &lt;c1-flex-chart-axis c1-property="AxisY" title="Amount"&gt;&lt;/c1-flex-chart-axis&gt;
    &lt;c1-flex-chart-series binding="Sales" name="Sales" style="s1"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Expenses" name="Expenses" style="s2"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Downloads" name="Downloads" chart-type="LineSymbols" style="s3"&gt;&lt;/c1-flex-chart-series&gt;
&lt;/c1-flex-chart&gt;

                        </div>
                        <div class="tab-pane pane-content" id="seriesStyleCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexChart101.Models;
using C1.Web.Mvc.Chart;

namespace FlexChart101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexChartModel ModelObj = new FlexChartModel();
            ModelObj.Settings = CreateIndexSettings();
            ModelObj.CountrySalesData = CountryData.GetCountryData();

            return View(ModelObj);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"ChartType", new object[]{"Column", "Bar", "Scatter", "Line", "LineSymbols", "Area", "Spline", "SplineSymbols", "SplineArea"}},
                {"Stacking", new object[]{"None", "Stacked", "Stacked 100%"}},
                {"Rotated", new object[]{false.ToString(), true.ToString()}},
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"GroupWidth", new object[]{"25%", "70%", "100%", "50 pixels"}},
                {"Position",new object[]{Position.None.ToString(),Position.Left.ToString(),Position.Top.ToString(),Position.Right.ToString(),Position.Bottom.ToString()}},
                {"SelectionMode",new object[]{SelectionMode.None.ToString(),SelectionMode.Series.ToString(),SelectionMode.Point.ToString()}}
            };

            return settings;
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @{ 
                    SVGStyle s1 = new SVGStyle { Fill = ConsoleColor.Green.ToString(), Stroke = ConsoleColor.DarkGreen.ToString(), StrokeWidth = 1 };
                    SVGStyle s2 = new SVGStyle { Fill = ConsoleColor.Red.ToString(), Stroke = ConsoleColor.DarkRed.ToString(), StrokeWidth = 1 };
                    SVGStyle s3 = new SVGStyle { Fill = "gold", Stroke = "orange", StrokeWidth = 5 };
                }
                <c1-flex-chart id="chartSeriesStyle" binding-x="Country">
                    <c1-flex-chart-tooltip is-content-html="true" content="@tooTipContent"></c1-flex-chart-tooltip>
                    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>
                    <c1-flex-chart-axis c1-property="AxisX" title="Country"></c1-flex-chart-axis>
                    <c1-flex-chart-axis c1-property="AxisY" title="Amount"></c1-flex-chart-axis>
                    <c1-flex-chart-series binding="Sales" name="Sales" style="s1"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Expenses" name="Expenses" style="s2"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Downloads" name="Downloads" chart-type="LineSymbols" style="s3"></c1-flex-chart-series>
                </c1-flex-chart>
            </div>
        </div>
    </div>


    <!-- customizing axes -->
    <div>
        <h2>軸のカスタマイズ</h2>
        <p>
            範囲（最小と最大）、ラベル書式、目盛りマークの間隔、グリッド線など、チャートの軸をカスタマイズするには、軸のプロパティを使用します。
        </p>
        <p>
            &lt;c1-flex-chart-axis&gt;&lt;/c1-flex-chart-axis&gt;タグを使用して軸をカスタマイズします。 <b>Axis</b>クラスにはbooleanプロパティがあり、機能をオンまたはオフにできます（<b>axis-line</b>、<b>major-tick-marks</b>、および<b>major-grid</b>）。
            CSSを使用して、オンにする機能の外観のスタイルを設定できます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#customizeAxesHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#customizeAxesCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="customizeAxesHtml">

@@{ 
    var tooTipContent = "&lt;img src='" + @@Url.Content("~/images/{x}.png") +  "' /&gt; &lt;b&gt;{seriesName}&lt;/b&gt;&lt;br /&gt;{y}";
}
&lt;c1-flex-chart id="chartCustomizeAxes" binding-x="Country"&gt;
    &lt;c1-flex-chart-tooltip is-content-html="true" content="@@tooTipContent"&gt;&lt;/c1-flex-chart-tooltip&gt;
    &lt;c1-items-source source-collection="@@Model.CountrySalesData"&gt;&lt;/c1-items-source&gt;
    &lt;c1-flex-chart-axis c1-property="AxisX" axis-line="true" major-grid="true"&gt;&lt;/c1-flex-chart-axis&gt;
    &lt;c1-flex-chart-axis c1-property="AxisY" format="c0" max="12000000" major-unit="1000000" axis-line="true" major-grid="true"&gt;&lt;/c1-flex-chart-axis&gt;
    &lt;c1-flex-chart-series binding="Sales" name="Sales"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Expenses" name="Expenses"&gt;&lt;/c1-flex-chart-series&gt;                    
&lt;/c1-flex-chart&gt;

                        </div>
                        <div class="tab-pane pane-content" id="customizeAxesCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexChart101.Models;
using C1.Web.Mvc.Chart;

namespace FlexChart101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexChartModel ModelObj = new FlexChartModel();
            ModelObj.Settings = CreateIndexSettings();
            ModelObj.CountrySalesData = CountryData.GetCountryData();

            return View(ModelObj);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"ChartType", new object[]{"Column", "Bar", "Scatter", "Line", "LineSymbols", "Area", "Spline", "SplineSymbols", "SplineArea"}},
                {"Stacking", new object[]{"None", "Stacked", "Stacked 100%"}},
                {"Rotated", new object[]{false.ToString(), true.ToString()}},
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"GroupWidth", new object[]{"25%", "70%", "100%", "50 pixels"}},
                {"Position",new object[]{Position.None.ToString(),Position.Left.ToString(),Position.Top.ToString(),Position.Right.ToString(),Position.Bottom.ToString()}},
                {"SelectionMode",new object[]{SelectionMode.None.ToString(),SelectionMode.Series.ToString(),SelectionMode.Point.ToString()}}
            };

            return settings;
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-chart id="chartCustomizeAxes" binding-x="Country">
                    <c1-flex-chart-tooltip is-content-html="true" content="@tooTipContent"></c1-flex-chart-tooltip>
                    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>
                    <c1-flex-chart-axis c1-property="AxisX" axis-line="true" major-grid="true"></c1-flex-chart-axis>
                    <c1-flex-chart-axis c1-property="AxisY" format="c0" max="12000000" major-unit="1000000" axis-line="true" major-grid="true"></c1-flex-chart-axis>
                    <c1-flex-chart-series binding="Sales" name="Sales"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Expenses" name="Expenses"></c1-flex-chart-series>                    
                </c1-flex-chart>
            </div>
        </div>
    </div>


    <!-- theming -->
    <div>
        <h2>テーマ</h2>
        <p>
            FlexChartの外観はCSSで定義されます。 デフォルトのテーマに加えて、プロのデザインによる12種類ほどのテーマが組み込まれており、すべてのMVCコントロールの外観を統一感のある魅力的な見た目にカスタマイズできます。
        </p>
        <p>
            チャートの外観をカスタマイズするには、スタイル設定する要素を調査し、それらの要素に適用するCSSルールを作成します。
        </p>
        <p>
            たとえば、Webブラウザの開発者ツールでX軸のラベルのDOMを解析すると、それが「wj-label」クラスを持つ要素であること、「wj-axis-x」クラスを持つ要素に含まれていること、その要素は最上位のコントロール要素に含まれていること、その要素は「wj-flexchart」クラスを持つことがわかります。 この例の最初のCSSルールは、この情報を使用してXラベルをカスタマイズします。 ルールセレクタは、親要素が「wj-flexchart」クラス<b>および</b>「custom-flex-chart」クラスを持つ必要があるという追加要件を追加します。 これを使用しない場合は、そのページのすべてのチャートにルールが適用されます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#themeHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#themeCss" role="tab" data-toggle="tab">CSS</a></li>
                        <li><a href="#themeCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="themeHtml">

&lt;c1-flex-chart id="chartTheme" binding-x="Country" class="custom-flex-chart"&gt;
    &lt;c1-items-source source-collection="@@Model.CountrySalesData"&gt;&lt;/c1-items-source&gt;                    
    &lt;c1-flex-chart-series binding="Sales" name="Sales"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Expenses" name="Expenses"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Downloads" name="Downloads"&gt;&lt;/c1-flex-chart-series&gt;
&lt;/c1-flex-chart&gt;

                        </div>
                        <div class="tab-pane pane-content" id="themeCss">

/* custom chart theme */
.custom-flex-chart.wj-flexchart .wj-axis-x .wj-label,
.custom-flex-chart.wj-flexchart .wj-legend .wj-label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.custom-flex-chart.wj-flexchart .wj-legend &gt; rect,
.custom-flex-chart.wj-flexchart .wj-plot-area &gt;  rect {
    fill: #f8f8f8;
    stroke: #c0c0c0;
}

                        </div>
                        <div id="themeCS" class="tab-pane pane-content">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexChart101.Models;
using C1.Web.Mvc.Chart;

namespace FlexChart101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexChartModel ModelObj = new FlexChartModel();
            ModelObj.Settings = CreateIndexSettings();
            ModelObj.CountrySalesData = CountryData.GetCountryData();

            return View(ModelObj);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"ChartType", new object[]{"Column", "Bar", "Scatter", "Line", "LineSymbols", "Area", "Spline", "SplineSymbols", "SplineArea"}},
                {"Stacking", new object[]{"None", "Stacked", "Stacked 100%"}},
                {"Rotated", new object[]{false.ToString(), true.ToString()}},
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"GroupWidth", new object[]{"25%", "70%", "100%", "50 pixels"}},
                {"Position",new object[]{Position.None.ToString(),Position.Left.ToString(),Position.Top.ToString(),Position.Right.ToString(),Position.Bottom.ToString()}},
                {"SelectionMode",new object[]{SelectionMode.None.ToString(),SelectionMode.Series.ToString(),SelectionMode.Point.ToString()}}
            };

            return settings;
        }
    }
}

</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-chart id="chartTheme" binding-x="Country" class="custom-flex-chart">
                    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>                    
                    <c1-flex-chart-series binding="Sales" name="Sales"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Expenses" name="Expenses"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Downloads" name="Downloads"></c1-flex-chart-series>
                </c1-flex-chart>
            </div>
        </div>
    </div>

    <!-- selection modes -->
    <div>
        <h2>選択モード</h2>
        <p>
            FlexChartを使用すると、クリックまたはタッチすることで系列やデータポイントを選択できます。
            <b>selection-mode</b>プロパティを使用して、系列単位で選択するか、データポイント単位で選択するか、または何も選択しないかを指定します（デフォルトでは選択はオフ）。
        </p>
        <p>
            <b>selection-mode</b>プロパティを<b>SelectionMode.Series</b>または<b>SelectionMode.Point</b>に設定すると、ユーザーがマウスをクリックしたとき、FlexChartは<b>Selection</b>プロパティを更新し、選択されたチャート要素に「wj-state-selected」クラスを適用します。
        </p>
        <p>
            例に示すように、<b>Series.collectionView.currentItem</b>プロパティを使用することにより、選択された系列内で現在選択されている項目を取得します。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#selectionModeHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#selectionModeJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#selectionModeCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="selectionModeHtml">

&lt;c1-flex-chart id="chartSelectionMode" binding-x="Country" selection-changed="chartSelectionMode_SelectionChanged"&gt;
    &lt;c1-items-source source-collection="@@Model.CountrySalesData"&gt;&lt;/c1-items-source&gt;
    &lt;c1-flex-chart-series binding="Sales" name="Sales"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Expenses" name="Expenses"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Downloads" name="Downloads"&gt;&lt;/c1-flex-chart-series&gt;
&lt;/c1-flex-chart&gt;
&lt;div class="form-horizontal"&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="col-md-3 control-label"&gt;Selection Mode&lt;/label&gt;
        &lt;div class="col-md-9"&gt;
            &lt;c1-combo-box id="seletionModeMenu" selected-index-changed="seletionModeMenu_SelectedIndexChanged" selected-index="0"&gt;
                &lt;c1-items-source source-collection="@@Model.Settings["SelectionMode"]"&gt;&lt;/c1-items-source&gt;
            &lt;/c1-combo-box&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="col-md-3 control-label"&gt;Chart Type&lt;/label&gt;
        &lt;div class="col-md-9"&gt;
            &lt;c1-combo-box id="chartTypeMenu" selected-index-changed="chartTypeMenu_SelectedIndexChanged" selected-index="0"&gt;
                &lt;c1-items-source source-collection="@@Model.Settings["ChartType"]"&gt;&lt;/c1-items-source&gt;
            &lt;/c1-combo-box&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div id="seriesContainer" style="display:none"&gt;
    &lt;h4&gt;現在の選択&lt;/h4&gt;
    &lt;p&gt;系列： &lt;b id="seriesName"&gt;&lt;/b&gt;&lt;/p&gt;
    &lt;dl id="detailContainer" class="dl-horizontal" style="display:none"&gt;
        &lt;dt&gt;Country&lt;/dt&gt;
        &lt;dd id="seriesCountry"&gt;&lt;/dd&gt;
        &lt;dt&gt;Sales&lt;/dt&gt;
        &lt;dd id="seriesSales"&gt;&lt;/dd&gt;
        &lt;dt&gt;Expenses&lt;/dt&gt;
        &lt;dd id="seriesExpenses"&gt;&lt;/dd&gt;
        &lt;dt&gt;Downloads&lt;/dt&gt;
        &lt;dd id="seriesDownloads"&gt;&lt;/dd&gt;
    &lt;/dl&gt;
&lt;/div&gt;

                        </div>
                        <div class="tab-pane pane-content" id="selectionModeJs">

var chartSelectionMode = typeMenu = selectionModeMenu = seriesContainer = detailContainer = null;

$(document).ready(function () {
    //選択モード Module
    chartSelectionMode = wijmo.Control.getControl('#chartSelectionMode'),
    typeMenu = wijmo.Control.getControl('#chartTypeMenu'),
    selectionModeMenu = wijmo.Control.getControl('#seletionModeMenu'),
    seriesContainer = document.getElementById('seriesContainer'),
    detailContainer = document.getElementById('detailContainer');

    var chartLegendToggle = wijmo.Control.getControl('#chartSelectionMode'),
    cbSales = document.getElementById('cbSales'),
    cbExpenses = document.getElementById('cbExpenses'),
    cbDownloads = document.getElementById('cbDownloads');
});

//選択モード Module
function seletionModeMenu_SelectedIndexChanged(sender) {
    if (sender.selectedValue) {
        //var chart = wijmo.Control.getControl("#chartSelectionMode");
        chartSelectionMode.selectionMode = parseInt(sender.selectedIndex);

        // toggle the series panel's visiblity
        if (sender.selectedIndex === 0 || !chartSelectionMode.selection) {
            if (seriesContainer)
                seriesContainer.style.display = 'none';
        }
        else {
            if (seriesContainer)
            seriesContainer.style.display = 'block';
        }

        // toggle the series panel's visiblity
        if (sender.selectedIndex !== 2 || !chartSelectionMode.selection || !chartSelectionMode.selection.collectionView.currentItem) {
            if (detailContainer)
            detailContainer.style.display = 'none';
        }
        else {
            // update the details
            setSeriesDetail(chartSelectionMode.selection.collectionView.currentItem);
        }

    // update Menu header
    //updateMenuHeader(sender, 'Selection Mode');

    }
}

function chartTypeMenu_SelectedIndexChanged(sender) {
    if (sender.selectedValue) {
        //var chart = wijmo.Control.getControl("#chartSelectionMode");
        chartSelectionMode.chartType = parseInt(sender.selectedIndex);
    }
}

// FlexChartの選択変更時に詳細を更新
function chartSelectionMode_SelectionChanged(sender) {
    //var chartSelectionMode = wijmo.Control.getControl("#chartSelectionMode");
    var currentSelection = sender.selection,
    currentSelectItem;
    if (currentSelection) {
        var seriesContainer = document.getElementById('seriesContainer'),
        selectionModeMenu = document.getElementById('selectionModeMenu');
        seriesContainer.style.display = 'block'; // コンテナを表示

        document.getElementById('seriesName').innerHTML = currentSelection.name;
        currentSelectItem = currentSelection.collectionView.currentItem;

        if (currentSelectItem && selectionModeMenu.selectedValue === '2') {
            setSeriesDetail(currentSelectItem); // 詳細を更新
        }
    }
}

// FlexChartの現在の選択の詳細を表示するヘルパーメソッド
function setSeriesDetail(currentSelectItem) {
    detailContainer.style.display = 'block';
    document.getElementById('seriesCountry').innerHTML = currentSelectItem.Country;
    document.getElementById('seriesSales').innerHTML = wijmo.Globalize.format(currentSelectItem.Sales, 'c2');
    document.getElementById('seriesExpenses').innerHTML = wijmo.Globalize.format(currentSelectItem.Expenses, 'c2');
    document.getElementById('seriesDownloads').innerHTML = wijmo.Globalize.format(currentSelectItem.Downloads, 'n0');
};

                        </div>
                        <div class="tab-pane pane-content" id="selectionModeCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexChart101.Models;
using C1.Web.Mvc.Chart;

namespace FlexChart101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexChartModel ModelObj = new FlexChartModel();
            ModelObj.Settings = CreateIndexSettings();
            ModelObj.CountrySalesData = CountryData.GetCountryData();

            return View(ModelObj);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"ChartType", new object[]{"Column", "Bar", "Scatter", "Line", "LineSymbols", "Area", "Spline", "SplineSymbols", "SplineArea"}},
                {"Stacking", new object[]{"None", "Stacked", "Stacked 100%"}},
                {"Rotated", new object[]{false.ToString(), true.ToString()}},
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"GroupWidth", new object[]{"25%", "70%", "100%", "50 pixels"}},
                {"Position",new object[]{Position.None.ToString(),Position.Left.ToString(),Position.Top.ToString(),Position.Right.ToString(),Position.Bottom.ToString()}},
                {"SelectionMode",new object[]{SelectionMode.None.ToString(),SelectionMode.Series.ToString(),SelectionMode.Point.ToString()}}
            };

            return settings;
        }
    }
}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-chart id="chartSelectionMode" binding-x="Country" selection-changed="chartSelectionMode_SelectionChanged" selection-mode="None">
                    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>
                    <c1-flex-chart-series binding="Sales" name="Sales"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Expenses" name="Expenses"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Downloads" name="Downloads"></c1-flex-chart-series>
                </c1-flex-chart>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">選択モード</label>
                        <div class="col-md-9">
                            <c1-combo-box id="selectionModeMenu" selected-index-changed="selectionModeMenu_SelectedIndexChanged" selected-index="0">
                                <c1-items-source source-collection="@Model.Settings["SelectionMode"]"></c1-items-source>
                            </c1-combo-box>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">チャートタイプ</label>
                        <div class="col-md-9">
                            <c1-combo-box id="chartTypeMenu" selected-index-changed="chartTypeMenu_SelectedIndexChanged" selected-index="0">
                                <c1-items-source source-collection="@Model.Settings["ChartType"]"></c1-items-source>
                            </c1-combo-box>
                        </div>
                    </div>
                </div>

                <div id="seriesContainer" style="display:none">
                    <h4>現在の選択</h4>
                    <p>系列： <b id="seriesName"></b></p>
                    <dl id="detailContainer" class="dl-horizontal" style="display:none">
                        <dt>Country</dt>
                        <dd id="seriesCountry"></dd>
                        <dt>Sales</dt>
                        <dd id="seriesSales"></dd>
                        <dt>Expenses</dt>
                        <dd id="seriesExpenses"></dd>
                        <dt>Downloads</dt>
                        <dd id="seriesDownloads"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>


    <!-- toggle series visibility -->
    <div>
        <h2>系列の表示切り替え</h2>
        <p>
            <b>Series</b>クラスには<b>visibility</b>プロパティがあり、系列をチャート内と凡例内に表示するか、凡例内にのみ表示するか、または完全に非表示にするかを決定できます。
        </p>
        <p>
            この例は、<b>visibility</b>プロパティを使用して系列の表示/非表示を切り替える２つの方法を示しています。
        </p>
        <ol>
            <li>
                凡例エントリをクリックする。<br />
                チャートの<b>option.legendToggle</b>プロパティがtrueに設定されていると、系列の凡例エントリがクリックされたとき、その<b>visibility</b>プロパティが切り替わります。
            </li>
            <li>
                チェックボックスを使用する。<br />
                <b>checked</b>状態が変更されると、各系列の<b>visibility</b>プロパティがその<b>checked</b>状態によって設定されます。
            </li>
        </ol>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#legendToggleHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#legendToggleJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#legendToggleCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content active" id="legendToggleHtml">

&lt;c1-flex-chart id="chartLegendToggle" binding-x="Country" legend-toggle="true" series-visibility-changed="chartLegendToggle_SeriesVisibilityChanged"&gt;
    &lt;c1-items-source source-collection="@@Model.CountrySalesData"&gt;&lt;/c1-items-source&gt;
    &lt;c1-flex-chart-series binding="Sales" name="Sales"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Expenses" name="Expenses"&gt;&lt;/c1-flex-chart-series&gt;
    &lt;c1-flex-chart-series binding="Downloads" name="Downloads"&gt;&lt;/c1-flex-chart-series&gt;
&lt;/c1-flex-chart&gt;
Sales &lt;input id="cbSales" type="checkbox" /&gt;&lt;br /&gt;
Expenses &lt;input id="cbExpenses" type="checkbox" /&gt;&lt;br /&gt;
Downloads &lt;input id="cbDownloads" type="checkbox" /&gt;

                        </div>
                        <div class="tab-pane pane-content" id="legendToggleJs">

$(document).ready(function () {
    //系列の表示切り替え Module

    // loop through custom check boxes
    ['cbSales', 'cbExpenses', 'cbDownloads'].forEach(function (item, index) {
        // update checkbox and toggle FlexChart's series visibility when clicked
        var el = document.getElementById(item);
        el.checked = chartLegendToggle.series[index].visibility === wijmo.chart.SeriesVisibility.Visible;
        el.addEventListener('click', function () {
            if (this.checked) {
                chartLegendToggle.series[index].visibility = wijmo.chart.SeriesVisibility.Visible;
            }
            else {
                chartLegendToggle.series[index].visibility =wijmo.chart.SeriesVisibility.Legend;
            }
        });
    });

});

//系列の表示切り替え Module
function chartLegendToggle_SeriesVisibilityChanged(sender) {
    // loop through chart series
    sender.series.forEach(function (series) {
        var seriesName = series.name,
        checked = series.visibility === wijmo.chart.SeriesVisibility.Visible;

    // update custom checkbox panel
    document.getElementById('cb' + seriesName).checked = checked;
});
}


                        </div>
                        <div class="tab-pane pane-content" id="legendToggleCS">

using System.Collections.Generic;
using Microsoft.AspNetCore.Mvc;
using FlexChart101.Models;
using C1.Web.Mvc.Chart;

namespace FlexChart101.Controllers
{
    public class HomeController : Controller
    {
        public ActionResult Index()
        {
            FlexChartModel ModelObj = new FlexChartModel();
            ModelObj.Settings = CreateIndexSettings();
            ModelObj.CountrySalesData = CountryData.GetCountryData();

            return View(ModelObj);
        }

        private IDictionary&lt;string, object[]&gt; CreateIndexSettings()
        {
            var settings = new Dictionary&lt;string, object[]&gt;
            {
                {"ChartType", new object[]{"Column", "Bar", "Scatter", "Line", "LineSymbols", "Area", "Spline", "SplineSymbols", "SplineArea"}},
                {"Stacking", new object[]{"None", "Stacked", "Stacked 100%"}},
                {"Rotated", new object[]{false.ToString(), true.ToString()}},
                {"Palette", new object[]{"standard", "cocoa", "coral", "dark", "highcontrast", "light", "midnight", "minimal", "modern", "organic", "slate"}},
                {"GroupWidth", new object[]{"25%", "70%", "100%", "50 pixels"}},
                {"Position",new object[]{Position.None.ToString(),Position.Left.ToString(),Position.Top.ToString(),Position.Right.ToString(),Position.Bottom.ToString()}},
                {"SelectionMode",new object[]{SelectionMode.None.ToString(),SelectionMode.Series.ToString(),SelectionMode.Point.ToString()}}
            };

            return settings;
        }
    }
}



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <c1-flex-chart id="chartLegendToggle" binding-x="Country" legend-toggle="true" series-visibility-changed="chartLegendToggle_SeriesVisibilityChanged">
                    <c1-items-source source-collection="@Model.CountrySalesData"></c1-items-source>
                    <c1-flex-chart-series binding="Sales" name="Sales"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Expenses" name="Expenses"></c1-flex-chart-series>
                    <c1-flex-chart-series binding="Downloads" name="Downloads"></c1-flex-chart-series>
                </c1-flex-chart>
                Sales <input id="cbSales" type="checkbox" /><br />
                Expenses <input id="cbExpenses" type="checkbox" /><br />
                Downloads <input id="cbDownloads" type="checkbox" />
            </div>
        </div>
    </div>



</div>