﻿/*Common styles*/
.wj-dl-hidden{
    display:none !important;
    visibility:hidden !important;
}

/* Common */
.wj-dl-unselectable {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

/* Dashboard */
.wj-dashboard {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: auto;
}

.wj-dashboard:focus,
.wj-dashboard *:focus
{
    outline: none;
}

/*The dashboard content container*/
.wj-dl-container {
    position: relative;
    width:100%;
    height:100%;
    display:block;
    z-index: 999;
}

/* The container for the tile when it is maximized.*/
.wj-dl-max-layer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position:absolute;
    width: 100%;
    height:100%;
    overflow: hidden;
    display:block;
    left: 0px;
    top:0px;
}

/*The container for content elements*/
.wj-dl-conts-container{
    position:absolute !important;
    left: -10000px !important;
    top:-10000px !important;
    visibility:hidden !important;
}

/* Tile & Group */
.wj-li-content{
    overflow:auto;
    width: 100%;
    height:100%;
    position:relative;
}
@-moz-document url-prefix() {
    /* Firefox only */
    .wj-split-group .wj-li-content{
        height: auto;  /* Prevent scrollbar when dragging title in split layout*/
    }
}

/* Tile */
.wj-dl-tile {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: default;
    position:relative;
    border-radius:5px;
    border-width:1px;
    border-style: solid;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
    .wj-dl-tile:hover {
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .wj-dashboard.moving .wj-dl-tile{
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .wj-dl-tile.active {
        z-index: 2;
    }

    /*The tile when it is maximized*/
    .wj-dl-tile.maximum {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: 1000;
    }

    /*The moving tile*/
    .wj-dl-tile.moving {
        z-index: 1000;
        position:absolute;
        opacity:0.7;
    }
    /* The tile placeholder when moving or maximizing*/
    .wj-dl-tile.placeholder {
        border-style:dashed;
    }
    .wj-dl-tile > .wj-li-content{
        overflow:hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

/*Tile Header*/
.wj-tile-header {
    padding: 10px 5px 10px 10px;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-radius: 5px 5px 0px 0px;
    position:relative;
    cursor:default;
    line-height:22px;
    /**TFS [348619] IE auto wrap content*/
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
}

    .wj-dl-draggable .wj-tile-draggable .wj-tile-header{
        cursor: move;
    }

    /*The title in the header*/
    .wj-tile-header .title{
        font-size: 12pt;
        font-weight:normal;
        line-height: 1em;
    }

/*Tile Content*/
.wj-tile-content{
    padding:5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow:auto;
    -webkit-box-flex:1;
        -ms-flex:auto;
            flex:auto;
}

.wj-tile-content.wj-width-overflow{
    margin-right:10px;
}

.wj-tile-content.wj-height-overflow{
    margin-bottom:10px;
}

/* The tile menus*/
.wj-dl-btn{
    padding: 0px;
    display:inline-block;
    vertical-align:middle;
}

/* The element for the toolbar.*/
.wj-tile-toolbar{
    position:absolute;
    display:inline-block;
    top:10px;
    /*TFS: 342058*/
    /*right:5px;*/
    visibility:hidden;
}

.wj-tile-header .wj-tile-toolbar{
    bottom:10px;
}

.wj-dl-tile.active .wj-tile-toolbar,
.wj-dl-tile:hover .wj-tile-toolbar{
    visibility:visible;
}

.wj-dashboard.moving .wj-tile-toolbar,
.wj-dl-tile.moving .wj-tile-toolbar{
    visibility:hidden;
}

.wj-tile-toolbar .wj-menu{
    border-width:0px;
    padding:0px;
    background-color:transparent;
}

.wj-tile-toolbar .wj-menu *{
    padding:0px;
    border-width:0px;
}

.wj-tile-toolbar .wj-control .wj-input-group .wj-form-control{
    background-color:transparent;
}

/*SVG Menus*/
.wj-db-opacity08{
    opacity:0.8;
}
.wj-db-opacity02{
    opacity:0.2;
}
.wj-db-opacity05{
    opacity:0.5;
}
.wj-dl-btn{
    font-size: 0px;
}

/*The resize gripper*/
.wj-menu-resize{
    position:absolute;
    bottom:0px;
    /*TFS: 342058*/
    /*right:0px;
    cursor:se-resize;*/
    z-index: 9;
    visibility: hidden;
}
.wj-dl-resizable .wj-tile-resizable .wj-menu-resize {
    visibility: visible;
}

/*The move indicator*/
.wj-menu-move.wj-dl-btn{
    cursor:move;
    position: absolute;
    top: 0px;
}

.wj-menu-move{
    visibility:hidden;
}

.wj-dl-draggable .wj-tile-draggable .wj-menu-move{
    visibility:visible;
}

/*The cues for split layout*/
.rectangle{
    stroke-miterlimit:10;
}

.gap{
    opacity:0.75;
}

/*FlowLayout*/

/* FlowGroup */
.wj-dl-container.wj-dl-flow {
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap : wrap;
    -ms-flex-line-pack :  start;
    align-content: flex-start;
}

.wj-flow-ltr {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction : row;
    flex-direction: row;
}

.wj-flow-rtl {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -ms-flex-direction : row-reverse;
    flex-direction: row-reverse;
}

.wj-flow-ttd {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction : column;
    flex-direction: column;
}

.wj-flow-btu {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -ms-flex-direction : column-reverse;
    flex-direction: column-reverse;
}

/* FlowTile */
.wj-dl-flow .wj-dl-tile {
    margin: 3px;
    /*TFS [351221]*/
    -ms-flex-negative: 0;
        flex-shrink: 0;
}



/*GridLayout*/

/* Tile & Group */
.wj-dl-grid .wj-dl-li{
    position: absolute;
}

/*SplitLayout*/

.wj-dl-split.moving{
    cursor: move !important;
}

/* Tiles & Groups */
.wj-split-item {
    display: table-cell;
    position: relative;
    vertical-align: top;
}

/* Split Group*/
.wj-split-group .wj-dl-tile {
    margin: 3px;
}
.wj-split-group .wj-resizebox {
    display: none;
}

.wj-group-wrapper {
    display: table-row;
}
.wj-split-group>.wj-content-wrapper{
    display:table;
}

/* Tile */

/* Preview tile */
.wj-split-preview-tile {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px dashed red;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
}

/* The tile menus*/
/* .wj-split-group .wj-dl-tile .wj-menu-resize {
    display:none;
} */

/* Splitter */
.wj-splitter{
    position:absolute;
    z-index: 2;
}
.wj-splitter.moving{
    z-index: 10;
    background-color: red;
}
.wj-splitter.hs{
    left: 0;
    bottom: -3px;
    right: 0;
}
.wj-splitter.vs{
    top: 0;
    right: -3px;
    bottom: 0;
}
.wj-splitter.horizontal.moving,
.wj-dl-resizable .horizontal{
    cursor: ns-resize;
    height: 6px;
}
.wj-splitter.vertical.moving,
.wj-dl-resizable .vertical{
    cursor: ew-resize;
    width: 6px;
}

/* Area menu */
.wj-area-menu {
    position: absolute;
    z-index: 11;
    font-size: 0px;
}

.wj-am-container {
    display: table;
}

.wj-am-row {
    display: table-row;
}

.wj-am-row.v .wj-dl-btn{
    display:block;
}

.wj-am-cell {
    display: table-cell;
}


/*Theme*/

/* Dashboard */
.wj-dashboard {
    background-color: #eeeeee;
    height: 768px;
}

/* The tile */
.wj-dl-tile.placeholder {
    border-color: #bbbbbb;
    background-color: #f6f6f6 !important;
}

.wj-dl-tile {
    background-color: white;
    border-color:#cccccc;
}
    .wj-dl-tile.active {
        border-color:#656565;
    }

/*Tile Header*/
    .wj-tile-header {
        border-bottom-color:#cccccc;
        background-color:aliceblue;
    }

/*SVG Menus*/
.wj-dl-btn rect,
.wj-dl-btn path{
    fill:#595959;
}

.wj-dl-btn:hover rect{
    fill:#000000;
}
.wj-dl-btn .wj-svg-btn-info rect{
    fill:#444444;
}

.wj-dl-btn:hover .wj-svg-btn-info rect{
    fill:#000000;
}

/*The cues for split layout*/
.wj-area-menu div > .wj-dl-btn .rectangle {
    fill: none;
    stroke: #595A5A;
}

.wj-area-menu div:not([wj-part=center]) > .wj-dl-btn .rectangle:hover {
    fill: #838383;
    stroke: #000000;
}

.wj-area-menu .wj-dl-btn .light.rectangle{
    stroke:#D7D6D6;
}

.wj-area-menu .wj-dl-btn .arrow{
    stroke: #595A5A;
}

.wj-area-menu .wj-dl-btn .border{
    fill:#B3B3B3;
}

.wj-area-menu .wj-dl-btn .gap{
    fill:#FFFFFF;
}