﻿@{
    var today = DateTime.Now.Date;
    var minDate = new DateTime(today.Year-1, 1, 1);
    var maxDate = new DateTime(today.Year, 12, 31);
    var format = Resources.Calendar.Index_DateFormat;

    ClientSettingsModel settings = ViewBag.DemoSettingsModel;
}

<div>
    <label>@Html.Raw(Resources.Calendar.Index_Text1)</label>
    @(Html.C1().Calendar().Id(settings.ControlId)
        .Value(today).Min(minDate).Max(maxDate).MonthView(true)
        .Width(300).RepeatButtons(true).ShowYearPicker(true)
    )
</div>
<p>
    <b>@Html.Raw(Resources.Calendar.Index_ValidRange) <span>@minDate.ToString(format)</span> @Html.Raw(Resources.Calendar.Index_To) <span>@maxDate.ToString(format)</span></b>
</p>
<p>
    @Html.Raw(Resources.Calendar.Index_RepeatButtons)<br />
    @Html.Raw(Resources.Calendar.Index_ShowYearPicker)
</p>
@section Description{
    @Html.Raw(Resources.Calendar.Index_Text0)
}
