﻿/* customize Bootstrap header classes */
.header
{
    background-color: #ff000a;
    background-position: 0% 0%;
    background-repeat: repeat-x;
    padding: 12px 0px;
    margin-bottom: 14px;
    color: white;
}

.header h1 {
    font-size: 40px;
    color: white;
}
.header a
{
    font-weight: bold;
    color: #ffe44e;
}
    .header img {
        float: left;
        margin: 0 10px 5px 0;
    }

/* set font for the document */
body {
    font-family: 'Segoe UI', sans-serif;
	padding-bottom: 75px;
}

.wj-flexchart {
    margin: 10px 0;
}