@using LearnMvcClient.Models
@model IEnumerable<FlexChartData.Stock>

<h1>
    @Html.Raw(Resources.C1FlexChart.AnnotationsSymbols_Title)
</h1>

<p>
    @Html.Raw(Resources.C1FlexChart.AnnotationsSymbols_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexChart.AnnotationsSymbols_Text2)
</p>

@(Html.C1().FlexChart<FlexChartData.Stock>().Id("theChart")
    .Bind("Date", Model)
    .ChartType(C1.Web.Mvc.Chart.ChartType.Candlestick)
    .Legend(C1.Web.Mvc.Chart.Position.None)
    .Series(sb => sb.Add().Binding("Low,High,Open,Close").Name("Alphabet Inc"))
)