﻿@{
    ViewBag.PageTitle = @Resources.DashboardDemo.ProductsPage_Title;
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Products.js")"></script>
<script type="text/javascript">
    basePath = '@ViewBag.BasePath';

    function requestProducts() {
        if (requestQueue.length) {
            var req = requestQueue.pop();
            req.url = '@Url.Action("GetProducts")';
            sendRequest(req);
        }
    }
</script>

<div class="flex vertical" style="width:100%;height:100%;overflow:hidden;">
    <div class="auto" id="tpProducts">
        <div>
            <a href="#tabs-1">@Resources.DashboardDemo.All_Header</a>
            <div class="products"></div>
        </div>
        <div>
            <a href="#tabs-1">@Resources.DashboardDemo.Sports_Header</a>
            <div class="products"></div>
        </div>
        <div>
            <a href="#tabs-1">@Resources.DashboardDemo.City_Header</a>
            <div class="products"></div>
        </div>
        <div>
            <a href="#tabs-1">@Resources.DashboardDemo.MultiUtility_Header</a>
            <div class="products"></div>
        </div>
        <div>
            <a href="#tabs-1">@Resources.DashboardDemo.NewEntry_Header</a>
            <div class="products"></div>
        </div>
    </div>
    @Html.C1().TabPanel("#tpProducts").OnClientSelectedIndexChanged("selectedIndexChanged")
</div>

