﻿<div id="excelStyle" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">スタイル</h4>
            </div>
            <div class="modal-body">
                <div class="well well-sm">
                    <h4 class="text-primary">良い、悪い、どちらでもない</h4>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" data-dismiss="modal" class="btn btn-default" onmouseover="applyCellStyle('normal')" onclick="applyCellStyle()" onmouseleave="applyCellStyle('', true)">
                                <span>標準</span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" data-dismiss="modal" class="btn btn-default bad-style" onmouseover="applyCellStyle('bad')" onclick="applyCellStyle()" onmouseleave="applyCellStyle('', true)">
                                <span>悪い</span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" data-dismiss="modal" class="btn btn-default good-style" onmouseover="applyCellStyle('good')" onclick="applyCellStyle()" onmouseleave="applyCellStyle('', true)">
                                <span>良い</span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" data-dismiss="modal" class="btn btn-default neutral-style" onmouseover="applyCellStyle('neutral')" onclick="applyCellStyle()" onmouseleave="applyCellStyle('', true)">
                                <span>どちらでもない</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>