﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/Content/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/Content/favicon/safari-pinned-tab.svg")" color="#503b75">



    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    @Html.C1().Styles()
    @Styles.Render("~/Content/Styles/app")

    <script src="https://code.jquery.com/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/Lib/canvasToBlob/canvas-toBlob.min.js"></script>
    <script src="~/Content/Lib/blob/Blob.min.js"></script>
    <script src="~/Content/Lib/fileSaver/FileSaver.min.js"></script>
    <script src="~/Content/Lib/canvg/rgbcolor.min.js"></script>
    <script src="~/Content/Lib/canvg/StackBlur.min.js"></script>
    <script src="~/Content/Lib/canvg/canvg.min.js"></script>
    @Scripts.Render("~/Content/External/external")
    @Html.C1().Scripts().Basic(b=>b.Chart(c=>c.Annotation().LineMarker()).Input())
    @Scripts.Render("~/Content/Scripts/scripts")
</head>
<body>


    <div class="header">
        <div class="container">
            <a class="logo-container" href="https://www.grapecity.com/en/aspnet-mvc" target="_blank">
                <i class="gcicon-product-c1"></i>
            </a>
            <h1>Stock Chart</h1>
            <p>
                This view uses FlexChart to display the company's quote information and can add other company quote to compare.
                The stock prices come from one of <a href="https://www.alphavantage.co/">Alphavantage's</a> free financial databases.
            </p>
        </div>
    </div>

    @RenderBody()
</body>
</html>
