﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.C1().Styles()
    @Styles.Render("~/Content/Styles")

    @Scripts.Render("~/Content/External")
    @Html.C1().Scripts().Basic(b=>b.Chart(c=>c.LineMarker()))
    @Scripts.Render("~/Content/Scripts")
</head>
<body>
    <div class="header">
        <div class="container">
            <img src="Content/Resources/Logo_WijmoMvc.png" />
            <h1>気候チャート</h1>
            <p>
                このサンプルでは、範囲選択とマーカー機能を備える複数のプロット領域を表示します。
            </p>
        </div>
    </div>

    @RenderBody()
</body>
</html>
