﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/css/External/BootStrap")
    @Html.C1().Styles()

    @Scripts.Render("~/script/External/Jquery")
    @Html.C1().Scripts().Basic(b=>b.Chart().Input())
    @Styles.Render("~/css/Styles")
</head>
<body>
        <div class="header ">
        <div class="container">
            <img src="~/Content/images/c1logo.png" />
            <h1>
                グループ化とドリルダウン
            </h1>
            <p>
                このサンプルでは、FlexChartコントロールでデータをグループ化して表示します。
            </p>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>

    <!-- Google analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-208280-14', 'auto');
        ga('send', 'pageview');
    </script>
    
</body>
</html>