﻿.c1-c1reportviewer *, .c1-c1reportviewer *:before, .c1-c1reportviewer *:after {
    -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.c1-c1reportviewer .ui-icon {
	font-size: 12px;
}

.c1-c1reportviewer .ui-icon em {
	display: none;
}

.c1-c1reportviewer
{
/*
fix for
[17016] [C1ReportViewer][IE8/IE9 CompatibilityView] 
        IE has stopped working message box is appeared 
        when restoring C1ReportViewer size by 'FullScreen' button
*/
	overflow: hidden;
}

.c1-c1reportviewer .c1-c1reportviewer-toolbar, .c1-c1reportviewer .c1-c1reportviewer-statusbar{
    display:block;
    text-align:left;
}

.c1-c1reportviewer .c1-c1reportviewer-toolbar select{
    color:#000;
}

.c1-c1reportviewer .c1-c1reportviewer-tabs a{
    outline:none;
}

.c1-c1reportviewer-toolbar .pageindex 
{
	width: 44px;
	text-align: center;
}
.c1-c1reportviewer-toolbar .select_export_format
{
	width:20px;
}

/*
Fixed an issue that in IE compact view, the default ui-button will set the
position: relative to the button, when scroll the search result, the button will
not scroll.
*/

.c1-c1reportviewer-searchtool .searchbutton
{
    position:static;
    }

.c1-c1reportviewer-toolbar .pagecount 
{
	display: inline-block;
	width: 44px;
	text-align: center;	
}
.c1-c1reportviewer-toolbar .zoom
{
	text-align: center;	
	font-size:16px;/*fix for 20922*/
}
.c1-c1reportviewer-toolbar-separator 
{
	width: 10px;
	height: 20px;
	background-color: Red;
	display: inline-block;
}

/* 
.c1-c1reportviewer-toolbar .wijmo-wijcombobox 
{
	display: inline-block;
	top: 10px;
}
.c1-c1reportviewer-toolbar .wijmo-wijcombobox input
{
	width: 120px;
}*/



.c1-c1reportviewer-print-dialog .printoptions label
{
	float: none;
	clear: both;
	display: block;
}

.c1-c1reportviewer-statusbar {

}

.c1-c1reportviewer-statusbar span {
	font-size: 12px;
	line-height: 22px;
	margin-left: 5px;
}

.c1-c1reportviewer-statusbar span.error
{
	color: Red;
}

.wijmo-wijreportviewer-log 
{
	/*
	overflow: auto;
	position: absolute;
	z-index: 999;
	width: 600px;
	height: 300px;    
	background-color: #ffffff;
	color: #000000;
	-moz-opacity:.70; 
	-ms-filter:"alpha(opacity=70)";
	filter:alpha(opacity=70); 
	opacity:.70;    */
}

.wijmo-wijreportviewer-log ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wijmo-wijreportviewer-log ul li {
	margin-top: 0.2em;
	padding: 0.2em;
}

/* common tools panel styles */
.c1-c1reportviewer-tabs
{
	width: 100%;
	height: 100%;
}

.c1-c1reportviewer .c1-c1reportviewer-tabs .ui-tabs-nav li{
    left:0px;
}

.wijmo-wijsplitter-v-panel1 .c1-c1reportviewer-tabs .ui-tabs-nav
{
	width: 50px;
	height: 100%;
    padding:0.2em 0 0.2em 0;
    border-width:1px;
	margin: 0;
}
.c1-c1reportviewer-tabs .wijmo-wijtabs-content
{
	float: left;
	height: 100%;
}
.c1-c1reportviewer-tabs .wijmo-wijtabs-content .ui-tabs-panel
{
	margin: 0;
	padding: 0;
	height: 100%;
}
.c1-c1reportviewer-toolcontent 
{
	display: block;
	overflow: auto;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-left: 4px;
}

/* outline tree */

.c1-c1reportviewer-outlinetool .status
{

}
.c1-c1reportviewer-outlinetool .outlinetree
{
	border: none;
	margin: 0;
	padding: 0;	
}

.c1-c1reportviewer-outlinetool .outlinetree .wijmo-wijtree-list .wijmo-wijtree-item {
	margin: 0 0 0 0px;
}


/* thumbs */
.c1-c1reportviewer-thumbstool .thumbs
{
	text-align: center;
	width: 100%;
	position: relative;
}
.c1-c1reportviewer-thumbstool .thumbs .thumb
{
	display: inline-block;
	overflow: hidden;
	/*width: 120px;
	height: 140px;*/
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid gray;
	margin: 5px;
	position: relative;
}
.c1-c1reportviewer-thumbstool .thumbs .thumb label
{
	position: absolute;
	display: block;
	right: 2px;
	bottom: 2px;
}