﻿.wijmo-c1sitemap{
    padding:8px;
    zoom:1;
    overflow: auto;
}

.wijmo-c1sitemap .wijmo-c1sitemap-list{
	padding:0;
	margin:0;
	list-style-type:none;
}

.wijmo-c1sitemap .wijmo-c1sitemap-node{
    display: inline-block;
    padding: 3px;
    border: 1px solid transparent;
    text-align: center;
}

.wijmo-c1sitemap .wijmo-c1sitemap-link{
    text-decoration: none;
}

.wijmo-c1sitemap .wijmo-c1sitemap-item{
    list-style-type:none;
}

.wijmo-c1sitemap .wijmo-c1sitemap-parent{
   list-style-type:none;
   vertical-align: top;
}

.wijmo-c1sitemap .wijmo-c1sitemap-child{
    margin-left:15px;
}

.wijmo-c1sitemap .wijmo-c1sitemap-flowlist > li{
    display:inline-block;
}

.wijmo-c1sitemap .wijmo-c1sitemap-separator {
    list-style-type: none;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
