﻿.wijspellchecker-dialog
{
    width:100%; height:100%;
	font-family: Arial;
	font-size: 12px;
}

.wijspellchecker-dialog .wijspellchecker-leftcontainer
{
    width:65%; float:left;
}

.wijspellchecker-dialog .wijspellchecker-leftcontainer span,
.wijspellchecker-dialog .wijspellchecker-leftcontainer input,
.wijspellchecker-dialog .wijspellchecker-leftcontainer select
{
    width:100%; margin-top:5px; margin-bottom:5px;
}

.wijspellchecker-dialog .wijspellchecker-rightcontainer
{
    width:30%; float:right;
}

.wijspellchecker-dialog .wijspellchecker-rightcontainer span,
.wijspellchecker-dialog .wijspellchecker-rightcontainer input,
.wijspellchecker-dialog .wijspellchecker-rightcontainer select
{
    width:100%;  margin-top:2px; margin-bottom:2px;
}

.wijmo-wijeditor .wijmo-wijribbon .wijmo-wijribbon-groups .wijmo-wijribbon-reviewwithspelling
{
    width: 12em;
}