﻿@model List<Tuple<string, string>>

@section Scripts{
    <script>
    function setColor(arg) {
        document.getElementById("box").style.background = "linear-gradient(150deg, white -30%, " + arg + ")";
    }
    </script>
}

@section Styles{
<style>
    #box {
        width: 100px;
        height: 100px;
        color: white;
        background: linear-gradient(150deg, white -30%, gray);
        margin: 20px;
        box-shadow: 4px 4px 10px 0px darkgray;
    }
</style>
}

<div id="box"></div>

@(Html.C1().Menu().Bind(Model)
    .Header(Resources.Menu.BindMode_Text0)
    .DisplayMemberPath("Item1")
    .Command("setColor")
    .CommandParameterPath("Item2")
)

@section Description{
    @Html.Raw(Resources.Menu.BindMode_Text1)
}