﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/favicon/safari-pinned-tab.svg")" color="#503b75">



    @Styles.Render("~/css/External/BootStrap")
    @Html.C1().Styles()

    @Scripts.Render("~/script/External/Jquery")
    @Html.C1().Scripts().Basic(b=>b.Chart().Input())
    @Styles.Render("~/css/Styles")
</head>
<body>


    <div class="header ">
        <div class="container">
            <a class="logo-container" href="https://www.grapecity.com/en/aspnet-mvc" target="_blank">
                <i class="gcicon-product-c1"></i>
            </a>
            <h1>
                FlexChart Group & Drill Down
            </h1>
            <p>
                This page shows how to show ASP.Net MVC's FlexChart control with group data.
            </p>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>