﻿@model IEnumerable<Product>

@{
    ControlOptions optionsModel = ViewBag.DemoOptions;
    ViewBag.DemoSettings = true;
}

<div style="overflow: auto">
    <div class="col-md-5">
        <div id="multiSelectList" style="width:100%;max-width:400px;height:530px"></div>
    </div>
    <div class="col-md-7">
        <p>
            <b>Checked Items:</b>
        </p>
        <div style="height:500px; overflow-y:auto; border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee;">
            <ul id="checkedItems" class="col-md-5"></ul>
            <ul id="checkedItems1" class="col-md-5"></ul>
        </div>
    </div>
</div>

@section Scripts{
<script>
    c1.documentReady(function () {
        let multiSelectList = wijmo.Control.getControl("#multiSelectList");
        checkedItemsChanged(multiSelectList);
    })
    // CheckedItemsChanged event handler
    function checkedItemsChanged(sender) {
        let html = '',
            html1 = '',
            items = sender.checkedItems,
            n = items.length;
        if (n > 40) n = n / 2;
        else if (n > 20) n = 20;
        items.forEach(function(item) {
            n--;
            if (n >= 0) {
                html += "<li>" + item.ProductName + "</li>";
            } else {
                html1 += "<li>" + item.ProductName + "</li>";
            }
        });
        document.querySelector('#checkedItems').innerHTML = html;
        document.querySelector('#checkedItems1').innerHTML = html1;
    }
</script>
}

@(Html.C1().MultiSelectListBox("#multiSelectList")
    .Bind(Model)
    .DisplayMemberPath("ProductName")
    .CheckedMemberPath("Discontinued")
    .ShowSelectAllCheckbox(Convert.ToBoolean(optionsModel.Options["Show Select All Checkbox"].CurrentValue))
    .ShowFilterInput(Convert.ToBoolean(optionsModel.Options["Show Filter Input"].CurrentValue))
    .OnClientCheckedItemsChanged("checkedItemsChanged")
)

@section Settings{
    @Html.Partial("_OptionsMenu", optionsModel)
}

@section Summary{
    @Html.Raw(Resources.MultiSelectListBox.Index_Text0)
}

@section Description{
    @Html.Raw(Resources.MultiSelectListBox.Index_Text1)
}