﻿@model C1NWindEntities
@using CollectionView101.Models
@using C1.Web.Mvc

@{
    ViewBag.Title = "CollectionView入門";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="container">
        <img src="@Url.Content("~/Content/c1logo.png")" alt="Component One ASP.NET MVC" />
        <h1>
            CollectionView入門
        </h1>
        <p>
            このページでは、ASP.NET MVCのCollectionViewの使用を開始する方法を説明します。
        </p>
    </div>
</div>

<div class="container">
    <div class="sample-page download-link">
        <a href="https://www.grapecity.co.jp/developer/download#net">トライアル版</a>
    </div>
    <div>
        <h1><b>サーバー側の操作</b></h1>
        <p>
            ComponentOne for ASP.NET MVCのCollectionViewは、ICollectionViewインタフェースを実装してFlexGridなどのデータ連結コントロールにデータを表示するサービスです。
            サーバー側のCollectionViewHelperサービスにより、コレクションは読み込み、編集、フィルタ処理、グループ化、およびソートが可能になります。これは.Net CollectionViewに似ています。 CollectionViewは、ソート要求、ページング要求、フィルタ処理要求をクライアント側で行うように明示的に指定されない限り、これらの操作をサーバー上のデータ連結コントロールによって内部的に処理します。 
            <br/>
            このセクションでは、<b>Create</b>、<b>Read</b>、<b>Update</b>、<b>Delete</b>、およびCRUD操作の<b>BatchEdit</b>アクションを使用する方法について説明します。 
            また、ItemSourceのDisableServerRead機能の例も示します。これは、クライアント側で明示的にアクションを行うために使用されます。
        </p>
    </div>
    <!-- Getting Started -->
    <div>
        <h2>はじめに</h2>
        <p>
            MVCアプリケーションでCollectionViewコントロールの使用を開始する際の手順。
        </p>
        <ol>
            <li>ComponentOne for ASP.NET MVCアプリケーションテンプレートを使用して、新しいMVCプロジェクトを作成します。</li>
            <li>プロジェクトにモデルを追加します。この例では、Entity Frameworkと共にNorthwindデータベースを使用します</li>
            <li>プロジェクトに、コントローラおよび対応するビューを追加します。</li>
            <li>コントローラでRead ActionとCreate Actionを作成します。</li>
            <li>ビューにコントロールを追加してデータを表示します。この例では、FlexGridを使用します。</li>
            <li>FlexGridのBindプロパティを使用してFlexGridを連結し、データを表示します。</li>
            <li>BindプロパティはItemSourceタイプで、Model URLまたはAction URLを取得してデータをフェッチできます。</li>
        </ol>
        <p>
           これにより、AJAX連結を含むFlexGridが作成され、FlexGridのデータは、データをソート、グループ化、フィルタ処理、ページングする機能を備えたCollectionViewに内部的にラップされます。 コントローラのGridReadCategoryアクションはFlexGridのItemSourceのBindプロパティに割り当てられ、データを挿入します。
            この例はFlexGridのItemSourceの<b>Create</b>プロパティを使用して、コントローラのGridCreateCategoryアクションを割り当てています。これにより、<b>CollectionViewHelper</b>の<b>Edit</b>要求を処理することによってソースデータベースにレコードを追加できます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#gsHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li class="active"><a href="#gsCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="gsHtml">

@@(Html.C1().FlexGrid<Category>().Id("fGRCView").AutoGenerateColumns(false).AllowAddNew(true)
    .AllowSorting(true).CssClass("grid")
    .Columns(columns => columns
        .Add(c => c.Binding("CategoryID"))
        .Add(c => c.Binding("CategoryName"))
        .Add(c => c.Binding("Description").Width("*")))
    .Bind(
        ib => ib.Bind(Url.Action("GridReadCategory"))
        .Create(Url.Action("GridCreateCategory"))
        .Update(Url.Action("GridUpdateCategory")))
)

                        </div>
                        <div class="tab-pane active pane-content" id="gsCS">
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using CollectionView101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;
using System.Data.Entity.Validation;
using System.Data.Entity;

namespace CollectionView101.Controllers
{
    public class HomeController : Controller
    {
        private C1NWindEntities db = new C1NWindEntities();

      
        public ActionResult GridReadCategory([C1JsonRequest] CollectionViewRequest<Category> requestData)
        {
            return this.C1Json(CollectionViewHelper.Read(requestData, db.Categories));
        }

        public ActionResult GridCreateCategory([C1JsonRequest]CollectionViewEditRequest<Category> requestData)
        {
            var category = requestData.OperatingItems.First();
            if (category.CategoryName == null)
            {
                category.CategoryName = "";
            }
            return Create(requestData, db.Categories);
        }

        public ActionResult GridUpdateCategory([C1JsonRequest]CollectionViewEditRequest<Category> requestData)
        {
            return Update(requestData, db.Categories);
        }

        private ActionResult Update<T>(CollectionViewEditRequest<T> requestData, DbSet<T> data) where T : class
        {
            return this.C1Json(CollectionViewHelper.Edit<T>(requestData, item =>
            {
                string error = string.Empty;
                bool success = true;
                try
                {
                    db.Entry(item as object).State = EntityState.Modified;
                    db.SaveChanges();
                }
                catch (DbEntityValidationException e)
                {
                    error = string.Join(",", e.EntityValidationErrors.Select(result =>
                    {
                        return string.Join(",", result.ValidationErrors.Select(err => err.ErrorMessage));
                    }));
                    success = false;
                }
                catch (Exception e)
                {
                    error = e.Message;
                    success = false;
                }
                return new CollectionViewItemResult<T>
                {
                    Error = error,
                    Success = success && ModelState.IsValid,
                    Data = item
                };
            }, () => data.ToList<T>()));
        }

        private ActionResult Create<T>(CollectionViewEditRequest<T> requestData, DbSet<T> data) where T : class
        {
            return this.C1Json(CollectionViewHelper.Edit<T>(requestData, item =>
            {
                string error = string.Empty;
                bool success = true;
                try
                {
                    data.Add(item);
                    db.SaveChanges();
                }
                catch (DbEntityValidationException e)
                {
                    error = string.Join(",", e.EntityValidationErrors.Select(result =>
                    {
                        return string.Join(",", result.ValidationErrors.Select(err => err.ErrorMessage));
                    }));
                    success = false;
                }
                catch (Exception e)
                {
                    error = e.Message;
                    success = false;
                }
                return new CollectionViewItemResult<T>
                {
                    Error = error,
                    Success = success && ModelState.IsValid,
                    Data = item
                };
            }, () => data.ToList<T>()));
        }
    }
}
</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexGrid<Category>().Id("fGRCView").AutoGenerateColumns(false).AllowAddNew(true)
                    .AllowSorting(true).CssClass("grid")
                    .Columns(columns => columns
                        .Add(c => c.Binding("CategoryID"))
                        .Add(c => c.Binding("CategoryName"))
                        .Add(c => c.Binding("Description").Width("*")))
                    .Bind(ib => ib.Bind(Url.Action("GridReadCategory"))
                        .Create(Url.Action("GridCreateCategory"))
                        .Update(Url.Action("GridUpdateCategory")))
                )

            </div>
        </div>

    </div>

    <!-- Update -->
    <div>
        <h2>更新</h2>
        <p>
            サーバー側のCollectionViewHelperクラスがEdit要求を定義して更新を処理します。          
        </p>
        <p>
            このサンプルでは、更新アクションの定義方法を示します。このアクションは、<b>CollectionViewHelper</b>の<b>Edit</b>要求を処理することで、ソースデータベース内のレコードを更新可能にします。 FlexGridでは、UpdateアクションはItemSourceのUpdateプロパティに割り当てられます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#upHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li class="active"><a href="#upCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="upHtml">

@@(Html.C1().FlexGrid<Category>().Id("fGUCView").AutoGenerateColumns(false)
    .Columns(columns => columns
        .Add(c => c.Binding("CategoryID").IsReadOnly(true))
        .Add(c => c.Binding("CategoryName"))
        .Add(c => c.Binding("Description").Width("*")))
    .Bind(ib =>
        ib.Bind(Model.Categories)
        .Update(Url.Action("GridUpdateCategory"))
        )
)                        </div>
                        <div class="tab-pane active pane-content" id="upCS">

using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using CollectionView101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;
using System.Data.Entity.Validation;
using System.Data.Entity;

namespace CollectionView101.Controllers
{
    public class HomeController : Controller
    {
        private C1NWindEntities db = new C1NWindEntities();

        public ActionResult GridUpdateCategory([C1JsonRequest]CollectionViewEditRequest<Category> requestData)
        {
            return Update(requestData, db.Categories);
        }

        private ActionResult Update<T>(CollectionViewEditRequest<T> requestData, DbSet<T> data) where T : class
        {
            return this.C1Json(CollectionViewHelper.Edit<T>(requestData, item =>
            {
                string error = string.Empty;
                bool success = true;
                try
                {
                    db.Entry(item as object).State = EntityState.Modified;
                    db.SaveChanges();
                }
                catch (DbEntityValidationException e)
                {
                    error = string.Join(",", e.EntityValidationErrors.Select(result =>
                    {
                        return string.Join(",", result.ValidationErrors.Select(err => err.ErrorMessage));
                    }));
                    success = false;
                }
                catch (Exception e)
                {
                    error = e.Message;
                    success = false;
                }
                return new CollectionViewItemResult<T>
                {
                    Error = error,
                    Success = success && ModelState.IsValid,
                    Data = item
                };
            }, () => data.ToList<T>()));
        }

        // GET: Home
        public ActionResult Index()
        {
            return View(db);
        }

    }
}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexGrid<Category>().Id("fGUCView").AutoGenerateColumns(false)
                .Columns(columns => columns
                    .Add(c => c.Binding("CategoryID").IsReadOnly(true))
                    .Add(c => c.Binding("CategoryName"))
                    .Add(c => c.Binding("Description").Width("*")))
                .Bind(ib => 
                    ib.Bind(Model.Categories)
                    .Update(Url.Action("GridUpdateCategory"))                    
                    )    
                )
            </div>
        </div>
    </div>

    <!-- Delete -->
    <div>
        <h2>削除</h2>
        <p>
            この例では、コントローラ内のアクションを定義してCollectionViewHelperの<b>Edit</b>要求を処理することにより、データベースから列を削除する方法を示します。 FlexGridでは、このアクションはItemSourceの<b>Delete</b>プロパティに割り当てられます。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#delHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li class="active"><a href="#delCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="delHtml">

@@(Html.C1().FlexGrid<Category>().Id("fGDelCView").AutoGenerateColumns(false).IsReadOnly(true)
    .Columns(columns => columns
        .Add(c => c.Binding("CategoryID"))
        .Add(c => c.Binding("CategoryName"))
        .Add(c => c.Binding("Description").Width("*")))
    .AllowDelete(true)
    .Bind(
        ib => ib.Bind(Model.Categories)
        .Delete(Url.Action("GridDeleteCategory"))
    )
)

                        </div>
                        <div class="tab-pane active pane-content" id="delCS">

using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using CollectionView101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;
using System.Data.Entity.Validation;
using System.Data.Entity;

namespace CollectionView101.Controllers
{
    public class HomeController : Controller
    {
        private C1NWindEntities db = new C1NWindEntities();

        public ActionResult GridDeleteCategory([C1JsonRequest]CollectionViewEditRequest<Category> requestData)
        {
            return Delete(requestData, db.Categories, item => item.CategoryID);
        }

        private ActionResult Delete<T>(CollectionViewEditRequest<T> requestData, DbSet<T> data, Func<T, object> getKey) where T : class
        {
            return this.C1Json(CollectionViewHelper.Edit<T>(requestData, item =>
            {
                string error = string.Empty;
                bool success = true;
                try
                {
                    var resultItem = data.Find(getKey(item));
                    data.Remove(resultItem);
                    db.SaveChanges();
                }
                catch (DbEntityValidationException e)
                {
                    error = string.Join(",", e.EntityValidationErrors.Select(result =>
                    {
                        return string.Join(",", result.ValidationErrors.Select(err => err.ErrorMessage));
                    }));
                    success = false;
                }
                catch (Exception e)
                {
                    error = e.Message;
                    success = false;
                }
                return new CollectionViewItemResult<T>
                {
                    Error = error,
                    Success = success && ModelState.IsValid,
                    Data = item
                };
            }, () => data.ToList<T>()));
        }

        // GET: Home
        public ActionResult Index()
        {
            return View(db);
        }
    }
}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                @(Html.C1().FlexGrid<Category>().Id("fGDelCView").AutoGenerateColumns(false)
                    .AllowDelete(true)
                    .Columns(columns => columns
                        .Add(c => c.Binding("CategoryID").IsReadOnly(true))
                        .Add(c => c.Binding("CategoryName").IsReadOnly(true))
                        .Add(c => c.Binding("Description").Width("*").IsReadOnly(true))
                        )                    
                    .Bind(
                        ib => ib.Bind(Model.Categories)        
                        .Delete(Url.Action("GridDeleteCategory"))
                    )
                )
            </div>
        </div>
    </div>

    <!-- BatchEditing -->
    <div>
        <h2>一括編集</h2>
        <p>
            この例では、コントローラ内の一括編集アクションを定義してコレクションビューでデータベースを更新する方法を示します。 BatchEditを使用すると、データベースに対して複数の変更を送信することができます。
            これは、<b>CollectionViewHelper</b>の<b>BatchEdit</b>要求を処理することによって行います。 FlexGridでは、BatchEditアクションはItemsSourceのBatchEditプロパティに割り当てられます。
        </p>
        <p>
            <b>メモ：</b> データ連結コントロールのItemSourceのDisableServerReadプロパティが、BatchEdit実行時に確実にtrueに設定されるようにしてください。 これにより、フィルタ処理操作、ページング操作、ソート操作から更新要求がサーバーに送信されることが停止され、ソースデータベースのデータは自動的に更新されるようになります。 BatchEditingの場合は、これらの操作はクライアント側で行われる必要があります。そうでないと、ユーザーがソート、フィルタ処理、ページングを行うと変更されたデータも送信されることになります。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#beHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#beJS" role="tab" data-toggle="tab">JS</a></li>
                        <li class="active"><a href="#beCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="beHtml">

@@(Html.C1().FlexGrid<Category>().Id("fGBECView").AutoGenerateColumns(false)
    .Columns(columns => columns
        .Add(c => c.Binding("CategoryID"))
        .Add(c => c.Binding("CategoryName"))
        .Add(c => c.Binding("Description").Width("*")))
    .Bind(ib => ib.DisableServerRead(true).Bind(Model.Categories).BatchEdit(Url.Action("GridBatchEdit")))
    .AllowAddNew(true)
    .AllowDelete(true)
    .CssClass("grid")
)

                        </div>
                        <div class="tab-pane pane-content" id="beJS">

//Batch Edit
function batchUpdate() {
    var batchEditGrid = wijmo.Control.getControl('#fGBECView'),
    cv = batchEditGrid.collectionView;
    cv.commit();
};

                            </div>
                            <div class="tab-pane active pane-content" id="beCS">


using CollectionView101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;
using System.Data.Entity.Validation;
using System.Data.Entity;

namespace CollectionView101.Controllers
{
    public class HomeController : Controller
    {
        private C1NWindEntities db = new C1NWindEntities();

        public ActionResult GridBatchEdit([C1JsonRequest]CollectionViewBatchEditRequest<category> requestData)
        {
            return this.C1Json(CollectionViewHelper.BatchEdit(requestData, batchData =>
            {
                var itemresults = new List<collectionviewitemresult<Category>>();
                string error = string.Empty;
                bool success = true;
                try
                {
                    if (batchData.ItemsCreated != null)
                    {
                        batchData.ItemsCreated.ToList().ForEach(st =>
                        {
                            db.Categories.Add(st);
                            itemresults.Add(new CollectionViewItemResult<Category>
                            {
                                Error = "",
                                Success = ModelState.IsValid,
                                Data = st
                            });
                        });
                    }
                    if (batchData.ItemsDeleted != null)
                    {
                        batchData.ItemsDeleted.ToList().ForEach(category =>
                        {
                            var fCategory = db.Categories.Find(category.CategoryID);
                            db.Categories.Remove(fCategory);
                            itemresults.Add(new CollectionViewItemResult<Category>
                            {
                                Error = "",
                                Success = ModelState.IsValid,
                                Data = category
                            });
                        });
                    }
                    if (batchData.ItemsUpdated != null)
                    {
                        batchData.ItemsUpdated.ToList().ForEach(category =>
                        {
                            db.Entry(category).State = EntityState.Modified;
                            itemresults.Add(new CollectionViewItemResult<Category>
                            {
                                Error = "",
                                Success = ModelState.IsValid,
                                Data = category
                            });
                        });
                    }
                    db.SaveChanges();
                }
                catch (DbEntityValidationException e)
                {
                    error = string.Join(",", e.EntityValidationErrors.SelectMany(i => i.ValidationErrors).Select(i => i.ErrorMessage));
                    success = false;
                }
                catch (Exception e)
                {
                    error = e.Message;
                    success = false;
                }

                return new CollectionViewResponse<Category>
                {
                    Error = error,
                    Success = success,
                    OperatedItemResults = itemresults
                };
            }, () => db.Categories.ToList()));
        }

        // GET: Home
        public ActionResult Index()
        {
            return View(db);
        }
    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <input type="button" value="Update" class="btn" onclick="batchUpdate()" />
                @(Html.C1().FlexGrid<Category>().Id("fGBECView").AutoGenerateColumns(false)
                    .Columns(columns => columns
                        .Add(c => c.Binding("CategoryID"))
                        .Add(c => c.Binding("CategoryName"))
                        .Add(c => c.Binding("Description").Width("*")))
                    .Bind(ib => ib.DisableServerRead(true).Bind(Model.Categories).BatchEdit(Url.Action("GridBatchEdit")))
                    .AllowAddNew(true)
                    .AllowDelete(true)
                    .CssClass("grid")
                )
            </div>
        </div>
    </div>

    <!-- Disable Server Reading -->
    <div>
        <h2>サーバー読み取りの無効化</h2>
        <p>
            <b>DisableServerRead</b>プロパティはサーバー側の同期を無効にします。 このプロパティをTrueに設定すると、すべての項目がクライアント側に転送されます。 ソート、ページング、またはフィルタ処理はクライアント側で実行されます。 この場合、スクロールバーをスクロールしたときに、データをロードするために「お待ちください」のようなメッセージは表示されません。 そうでない場合、ソート、ページング、またはフィルタ処理はサーバー側で実行されます。 この場合、「お待ちください」というメッセージが表示されることもあります。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#dsrHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li><a href="#dsrJS" role="tab" data-toggle="tab">JS</a></li>                        
                        <li><a href="#dsrCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active pane-content" id="dsrHtml">

@@(Html.C1().FlexGrid().Id("fGDisableServerView").IsReadOnly(true).AllowSorting(true).AutoGenerateColumns(false)
    .Bind(b => b.DisableServerRead(true).PageSize(10).Bind(Model.Customers)).CssStyle("height","100%")
    .Columns(columns => columns
        .Add(c => c.Binding("CustomerID"))
        .Add(c => c.Binding("CompanyName"))
        .Add(c => c.Binding("ContactName"))
        .Add(c => c.Binding("City"))
        .Add(c => c.Binding("Country"))
        .Add(c => c.Binding("Phone"))
        )
)
@@(Html.C1().Pager().Owner("fGDisableServerView"))

                        </div>
                        <div class="tab-pane pane-content" id="dsrJS">
$(document).ready(function () {
    //Disable Server Reading
    fGDisableServerView = wijmo.Control.getControl('#fGDisableServerView');    
});

//Disable Server Read
var fGDisableServerView = null;

                        </div>
                            <div class="tab-pane pane-content" id="dsrCS">

using CollectionView101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;
using System.Data.Entity.Validation;
using System.Data.Entity;

namespace CollectionView101.Controllers
{
    public class HomeController : Controller
    {
        private C1NWindEntities db = new C1NWindEntities();

        // GET: Home
        public ActionResult Index()
        {
            return View(db);
        }
    }
}

                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <h4>PageSizeを10に設定したFlexGridのページング</h4>
                @(Html.C1().FlexGrid().Id("fGDisableServerView").IsReadOnly(true).AllowSorting(true).AutoGenerateColumns(false)                    
                    .Bind(b=>b.DisableServerRead(true).PageSize(10).Bind(Model.Customers)).CssStyle("height","100%")
                    .Columns(columns => columns
                        .Add(c => c.Binding("CustomerID"))
                        .Add(c => c.Binding("CompanyName"))
                        .Add(c => c.Binding("ContactName"))
                        .Add(c => c.Binding("City"))
                        .Add(c => c.Binding("Country"))
                        .Add(c => c.Binding("Phone"))
                        )
                      )
                @(Html.C1().Pager().Owner("fGDisableServerView"))
            </div>
        </div>
    </div>


    <!-- Client side CollectionView -->
    <div>
        <h1><b>クライアント側の操作</b></h1>
        <p>
           CollectionViewには、強力なクライアントAPIが含まれています。 CollectionViewHelperは、FlexGrid、FlexChart、その他のInputコントロールのようなMVCコントロールに対するデータのソート、フィルタ処理、ページングなどのサーバー側の操作を内部的に行います。 ただし、これらの操作をクライアント側で明示的に行うことは可能です。 
           このセクションでは、クライアント側の操作（現在のレコードの管理、ソート、フィルタ処理、グループ化、および変更追跡）の例を示します。
        </p>
        <p>
            <b>メモ：</b> フィルタ処理、ページング、ソートがクライアント側でのみ使用できるデータで行われる際は、ItemSourceのDisableServerReadプロパティをtrueに設定する必要があることに注意してください。 デフォルト設定はfalseです。デフォルトに設定されていると、ソート、ページング、フィルタ処理はサーバー側で発生します。これは、サーバー上のCollectionViewHelperに送信される内部コールバック要求によって行われ、それによって上記の操作が実行されます。
        </p>
        <p>
            詳細については、<a href="http://wijmo.c1.grapecity.com/5/docs/topic/wijmo.collections.CollectionView.Class.html">クライアントapiドキュメント</a>を参照してください。
        </p>
    </div>
    <!-- current record management -->
    <div>
        <h2>現在のレコードの管理</h2>
        <p>
            インタフェース<b>ICollectionView</b>を実装しているため、<b>CollectionView</b>は現在のレコードを管理できます。
        </p>
        <p>
            この例では、<b>CollectionView</b>クラスから提供されるAPIを介した現在のレコードの管理方法を示します。
        </p>
        <p>
            この場合は、<b>currentPosition</b>プロパティを使用して、コレクション内での現在のレコード位置を取得します。
            また、<b>moveCurrentTo(item)</b>、<b>moveCurrentToFirst()</b>、<b>moveCurrentToLast()</b>、<b>moveCurrentToNext()</b>、<b>moveCurrentToPosition(index)</b>、および<b>moveCurrentToPrevious()</b>メソッドを使用して現在位置を変更します。
            現在位置が変更されると、<b>currentChanging</b>イベントと<b>currentChanged</b>イベントを使用して追跡されます。 <b>currentChanging</b>イベント内の現在の変更はキャンセルできます。
        </p>
        <p>
            メモ：［次に移動］ボタンをクリックすると現在位置を次の位置に移動します。 ［前に移動］をクリックすると、現在位置を次の位置に移動します。 ［4行目で停止］ボタンをクリックすると、現在位置は4行目になった後、変更できなくなります。 ［停止の解除］ボタンをクリックすると、現在位置を自由に変更できるようになります。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#crmHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li class="active"><a href="#crmJs" role="tab" data-toggle="tab">JS</a></li>
                        <li ><a href="#crmCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="crmHtml">

&lt;div class="row-fluid well btn-group"&gt;
    &lt;button class="btn btn-default" id="btnCRMMoveNext"&gt;次に移動&lt;/button&gt;
    &lt;button class="btn btn-default" id="btnCRMMovePre"&gt;前に移動&lt;/button&gt;
    &lt;button class="btn btn-default" id="btnCRMStop4"&gt;4行目で停止&lt;/button&gt;
    &lt;button class="btn btn-default" id="btnCRMReset"&gt;停止の解除&lt;/button&gt;
&lt;/div&gt;
@@(Html.C1().FlexGrid().Id("crmGrid").IsReadOnly(true).SelectionMode(C1.Web.Mvc.Grid.SelectionMode.Row)
    .AutoGenerateColumns(true).Bind(b=>b.DisableServerRead(true).Bind(Model.Customers))
)

                        </div>
                        <div class="tab-pane active pane-content" id="crmJs">
$(document).ready(function () {
    //Current Record Management
    crmGrid = wijmo.Control.getControl('#crmGrid');
    cvCRM = crmGrid.itemsSource; //new wijmo.collections.CollectionView(getData(10)),
    
    // Add the processes for buttons' click
    // move the current to the next one
    document.getElementById('btnCRMMoveNext').addEventListener('click', function () {
        cvCRM.moveCurrentToNext();
    });

    // move the current to the preivous one
    document.getElementById('btnCRMMovePre').addEventListener('click', function () {
        cvCRM.moveCurrentToPrevious();
    });

    // when the current item is the 4th one, forbid changing current.
    document.getElementById('btnCRMStop4').addEventListener('click', function () {
        cvCRM.currentChanging.addHandler(stopCurrentIn4th);
    });

    // restore to be able to change current.
    document.getElementById('btnCRMReset').addEventListener('click', function () {
        cvCRM.currentChanging.removeHandler(stopCurrentIn4th);
    });

    // define the funciton to forbid the current moving.
    function stopCurrentIn4th(sender, e) {
        // when the current is the 4rd item, stop moving.
        if (sender.currentPosition === 3) {
            e.cancel = true;
        }
    };
});

// create collectionview, grid
var crmGrid = null
    , cvCRM = null;

                        </div>
                        <div class="tab-pane pane-content" id="crmCS">

using CollectionView101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;
using System.Data.Entity.Validation;
using System.Data.Entity;

namespace CollectionView101.Controllers
{
    public class HomeController : Controller
    {
        private C1NWindEntities db = new C1NWindEntities();

        // GET: Home
        public ActionResult Index()
        {
            return View(db);
        }
    }
}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <div class="row-fluid well btn-group">
                    <button class="btn btn-default" id="btnCRMMoveNext">次に移動</button>
                    <button class="btn btn-default" id="btnCRMMovePre">前に移動</button>
                    <button class="btn btn-default" id="btnCRMStop4">4行目で停止</button>
                    <button class="btn btn-default" id="btnCRMReset">停止の解除</button>
                </div>
                @(Html.C1().FlexGrid().Id("crmGrid").IsReadOnly(true).SelectionMode(C1.Web.Mvc.Grid.SelectionMode.Row)
                    .AutoGenerateColumns(true).Bind(b=>b.DisableServerRead(true).Bind(Model.Customers))
                )
            </div>
        </div>
    </div>

    <!-- sorting -->
    <div>
        <h2>ソート</h2>
        <p>
            <b>CollectionView</b>クラスは、.NETのものと同じ<b>ICollectionView</b>インタフェースを介してソートをサポートしています。 ソートを有効にするには、1つ以上の<b>sortDescriptions</b>オブジェクトを<b>CollectionView.sortDescriptions</b>プロパティに追加します。 ソート結果は<b>CollectionView.items</b>プロパティから取得できます。
        </p>
        <p>
            <b>SortDescription</b>オブジェクトは柔軟であり、値に基づいて昇順または降順でデータをソートできます。
            次のサンプルでは、最初のリストで選択されたフィールド値に基づいてコレクションをソートすることができます。 また、2番目のリストでソート順を指定することもできます。
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#sHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li class="active"><a href="#sJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#sCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="sHtml">
&lt;div class="row-fluid well row"&gt;
    &lt;div class="col-md-8"&gt;
        &lt;select id="sortingFieldNameList" class="form-control"&gt;
        &lt;/select&gt;
    &lt;/div&gt;
    &lt;div class="col-md-4"&gt;
        &lt;select id="sortingOrderList" class="form-control"&gt;
            &lt;option value="true" selected="selected"&gt;Ascending&lt;/option&gt;
            &lt;option value="false"&gt;Descending&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
&lt;/div&gt;
@@(Html.C1().FlexGrid().Id("sortingGrid").IsReadOnly(true).AllowSorting(false).AutoGenerateColumns(false)
    .Bind(b => b.DisableServerRead(true).Bind(Model.Customers))
    .Columns(columns => columns
        .Add(c => c.Binding("CustomerID"))
        .Add(c => c.Binding("CompanyName"))
        .Add(c => c.Binding("ContactName"))
        .Add(c => c.Binding("City"))
        .Add(c => c.Binding("Country"))
        .Add(c => c.Binding("Phone"))
        )
)
                        </div>
                        <div class="tab-pane active pane-content" id="sJs">

function getNames() {
    return ['CustomerID', 'CompanyName', 'ContactName', 'City', 'Country', 'Phone'];
};

$(document).ready(function () {
    //Sorting
    sortingGrid = wijmo.Control.getControl('#sortingGrid');
    cvSorting = sortingGrid.itemsSource;
    sortingFieldNameList = document.getElementById('sortingFieldNameList');
    sortingOrderList = document.getElementById('sortingOrderList');
    //sortingNames = getNames();
    // initialize the list items for field names and orders.
    sortingFieldNameList.innerHTML += '<option value="" selected="selected">ソートしたいフィールドを選択してください。</option>';
    for (var i = 0; i < sortingNames.length; i++) {
        sortingFieldNameList.innerHTML += '<option value="' + sortingNames[i] + '">' + sortingNames[i] + '</option>';
    }

    // track the list change in order to udpate the sortDescriptions property.
    sortingFieldNameList.addEventListener('change', sortGrid);
    sortingOrderList.addEventListener('change', sortGrid);
});

//Sorting
// create collectionview, grid, the jQuery elements, the field name list.
var cvSorting = null,
    sortingGrid =null,
    sortingFieldNameList = null,
    sortingOrderList = null,
    sortingNames = getNames();

function sortGrid() {
    var fieldName = sortingFieldNameList.value,
        ascending = sortingOrderList.value,
        sd, sdNew;

    if (!fieldName) {
        return;
    }

    ascending = ascending === 'true';
    sd = cvSorting.sortDescriptions;
    sdNew = new wijmo.collections.SortDescription(fieldName, ascending);

    // remove any old sort descriptors and add the new one
    sd.splice(0, sd.length, sdNew);
};
                            
                        </div>
                        <div class="tab-pane pane-content" id="sCS">

using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using CollectionView101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;
using System.Data.Entity.Validation;
using System.Data.Entity;

namespace CollectionView101.Controllers
{
    public class HomeController : Controller
    {
        private C1NWindEntities db = new C1NWindEntities();

        // GET: Home
        public ActionResult Index()
        {
            return View(db);
        }
    }
}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <!-- commands -->
                <div class="row-fluid well row">
                    <div class="col-md-8">
                        <select id="sortingFieldNameList" class="form-control"></select>
                    </div>
                    <div class="col-md-4">
                        <select id="sortingOrderList" class="form-control">
                            <option value="true" selected="selected">昇順</option>
                            <option value="false">降順</option>
                        </select>
                    </div>
                </div>
                @(Html.C1().FlexGrid().Id("sortingGrid").IsReadOnly(true).AllowSorting(false).AutoGenerateColumns(false)
                    .Bind(b => b.DisableServerRead(true).Bind(Model.Customers))
                    .Columns(columns => columns
                        .Add(c => c.Binding("CustomerID"))
                        .Add(c => c.Binding("CompanyName"))
                        .Add(c => c.Binding("ContactName"))
                        .Add(c => c.Binding("City"))
                        .Add(c => c.Binding("Country"))
                        .Add(c => c.Binding("Phone"))
                        )
                )
            </div>
        </div>
    </div>

    <!-- filtering -->
    <div>
        <h2>フィルタ処理</h2>
        <p>
            <b>CollectionView</b>クラスは、.NETのものと同じ<b>ICollectionView</b>インタフェースを介してフィルタ処理をサポートしています。 フィルタ処理を有効にするには、ビューに入れるオブジェクトを決定する関数を<b>CollectionView.filter</b>プロパティに設定します。 クライアント側のFilteringが動作するには、ItemSourceの<strong>DisableServerRead</strong>プロパティがtrueである必要があります。
        </p>
        <p>
            この例では、国に対するフィルタを作成し、入力コントロールからフィルタ値を取得します。 フィルタを入力すると、グリッドはリフレッシュされて、フィルタ処理されたデータがレンダリングされます。
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#fHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li class="active"><a href="#fJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#fCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="fHtml">

&lt;div class="row-fluid well"&gt;
    &lt;input id="filteringInput" type="text" class="form-control app-pad" placeholder="countryフィールドでフィルタリングしたい文字列を入力してください。" /&gt;
&lt;/div&gt;
@@(Html.C1().FlexGrid().Id("filteringGrid").IsReadOnly(true).AllowSorting(false).AutoGenerateColumns(false)
    .Bind(b => b.Bind(Model.Customers).DisableServerRead(true))
    .Columns(columns => columns
        .Add(c => c.Binding("CustomerID"))
        .Add(c => c.Binding("CompanyName"))
        .Add(c => c.Binding("ContactName"))
        .Add(c => c.Binding("City"))
        .Add(c => c.Binding("Country"))
        .Add(c => c.Binding("Phone"))
        )
)

                        </div>
                        <div class="tab-pane active pane-content" id="fJs">

function getFilterNames() {
    return ['ProductID', 'ProductName', 'SupplierID', 'CategoryID', 'QuantityPerUnit', 'UnitPrice', 'UnitsInStock', 'UnitsOnOrder', 'ReorderLevel'];
};

$(document).ready(function () {
    //Filtering
    // create collectionview, grid, filter with timeout, textbox for inputting filter.
    filteringGrid = wijmo.Control.getControl('#filteringGrid');
    cvFiltering = filteringGrid.itemsSource;    
    filteringInput = document.getElementById('filteringInput');
    // apply filter when input
    filteringInput.addEventListener('input', filterGrid);
});

//Filtering
// create collectionview, grid, filter with timeout, textbox for inputting filter.
var cvFiltering = null,
    filteringGrid = null,
    toFilter,
    filteringInput = null;

// define the filter function for the collection view.
function filterFunction(item) {
    var filter = filteringInput.value.toLowerCase();
    if (!filter) {
        return true;
    }

    return item.CustomerID.toLowerCase().indexOf(filter) > -1;
};

// apply filter (applied on a 500 ms timeOut)
function filterGrid() {
    if (toFilter) {
        clearTimeout(toFilter);
    }

    toFilter = setTimeout(function () {
        toFilter = null;
        if (cvFiltering.filter === filterFunction) {
            cvFiltering.refresh();
        }
        else {
            cvFiltering.filter = filterFunction;
        }
    }, 500);
};

                        </div>
                        <div class="tab-pane pane-content" id="fCS">

using System.Web.Mvc;
using CollectionView101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;
using System.Data.Entity.Validation;
using System.Data.Entity;

namespace CollectionView101.Controllers
{
    public class HomeController : Controller
    {
        private C1NWindEntities db = new C1NWindEntities();

        // GET: Home
        public ActionResult Index()
        {
            return View(db);
        }
    }
}

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <div class="row-fluid well">
                    <input id="filteringInput" type="text" class="form-control app-pad" placeholder="countryフィールドでフィルタリングしたい文字列を入力してください。" />
                </div>
                @(Html.C1().FlexGrid().Id("filteringGrid").IsReadOnly(true).AllowSorting(false).AutoGenerateColumns(false)
                    .Bind(b => b.Bind(Model.Customers).DisableServerRead(true))
                    .Columns(columns => columns
                        .Add(c => c.Binding("CustomerID"))
                        .Add(c => c.Binding("CompanyName"))
                        .Add(c => c.Binding("ContactName"))
                        .Add(c => c.Binding("City"))
                        .Add(c => c.Binding("Country"))
                        .Add(c => c.Binding("Phone"))
                        )
                )
            </div>
        </div>
    </div>


    <!-- grouping -->
    <div>
        <h2>グループ化</h2>
        <p>
            <b>CollectionView</b>クラスは、.NETのものと同じ<b>ICollectionView</b>インタフェースを介してグループ化をサポートしています。 グループ化を有効にするには、1つ以上の<b>GroupDescription</b>オブジェクトを<b>CollectionView.groupDescriptions</b>プロパティに追加し、グリッドインスタンス作成時にグリッドの<b>showGroups</b>プロパティを必ずtrueに設定します（デフォルト値はfalse）。
        </p>
        <p>
            <b>GroupDescription</b>オブジェクトは柔軟であり、値またはグループ化関数に基づいてデータをグループ化できます。
        </p>
        <p>
            次の例では、リストから選択するフィールドによってコレクションをグループ化します。
            グリッドには、項目のコンテンツだけでなく、グループ情報（グループ名とグループ内の金額の平均値）も表示されます。
            これらに対するレンダリングコードは、メソッドinitTBody内にあります。 対応するコードスニペットは116行にあります。
        </p>
        <p>
            メモ：リストから1つの項目を選択すると、GroupDescriptionの新しいインスタンスが追加されます。 groupdescriptionが既に存在する場合は、何も起こりません。
            グループ設定を消去するためには、リストの最初の項目を選択します。
        </p>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#gHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li class="active"><a href="#gJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#gCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="gHtml">
                            
&lt;div class="row-fluid well"&gt;
    &lt;select id="groupingFieldNameList" class="form-control"&gt;&lt;/select&gt;
&lt;/div&gt;
@@(Html.C1().FlexGrid().Id("groupingGrid").IsReadOnly(true).AllowSorting(true).AutoGenerateColumns(true)
    .Bind(b => b.DisableServerRead(true).Bind(Model.Products))
)

                        </div>
                        <div class="tab-pane active pane-content" id="gJs">

$(document).ready(function () {
    //Grouping
    // reference collectionview, grid, the select element and the names list.
    groupingGrid = wijmo.Control.getControl('#groupingGrid');
    cvGrouping = groupingGrid.itemsSource;
    groupingFieldNameList = document.getElementById('groupingFieldNameList');    
    groupingFieldNameList.addEventListener('change', groupGrid);
    // initialize the list and listen to the list's change.
    groupingFieldNameList.innerHTML += '<option value="" selected="selected">グループ化したいフィールドを選択してください。</option>';
    for (var i = 0; i < groupingNames.length; i++) {
        groupingFieldNameList.innerHTML += '<option value="' + groupingNames[i] + '">' + groupingNames[i] + '</option>';
    }
});

//Grouping
// create collectionview, grid, the select element and the names list.
var cvGrouping = null,
    groupingGrid = null,
    groupingFieldNameList = null,
    groupingNames = getFilterNames();

// update the group settings.
function groupGrid() {
    var gd,
        fieldName = groupingFieldNameList.value;

    gd = cvGrouping.groupDescriptions;

    if (!fieldName) {
        // clear all the group settings.
        gd.splice(0, gd.length);
        return;
    }

    if (findGroup(fieldName) >= 0) {
        return;
    }

    if (fieldName === 'UnitPrice') {
        // when grouping by amount, use ranges instead of specific values
        gd.push(new wijmo.collections.PropertyGroupDescription(fieldName, function (item, propName) {
            var value = item[propName]; // UnitPrice
            if (value > 100) return 'Large Amounts';
            if (value > 50) return 'Medium Amounts';
            if (value > 0) return 'Small Amounts';
            return 'Negative Amounts';
        }));
    }
    else {
        // group by specific property values
        gd.push(new wijmo.collections.PropertyGroupDescription(fieldName));
    }
};

// check whether the group with the specified property name already exists.
function findGroup(propName) {
    var gd = cvGrouping.groupDescriptions;
    for (var i = 0; i < gd.length; i++) {
        if (gd[i].propertyName === propName) {
            return i;
        }
    }
    return -1;
};

                        </div>
                        <div class="tab-pane pane-content" id="gCS">

using System.Web.Mvc;
using CollectionView101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;
using System.Data.Entity.Validation;
using System.Data.Entity;

namespace CollectionView101.Controllers
{
    public class HomeController : Controller
    {
        private C1NWindEntities db = new C1NWindEntities();

        // GET: Home
        public ActionResult Index()
        {
            return View(db);
        }
    }
}

                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <!-- commands -->
                <div class="row-fluid well">
                    <select id="groupingFieldNameList" class="form-control"></select>
                </div>                
                @(Html.C1().FlexGrid().Id("groupingGrid").IsReadOnly(true).AllowSorting(true).AutoGenerateColumns(true)
                    .Bind(b => b.DisableServerRead(true).Bind(Model.Products))
                )
            </div>
        </div>
    </div>

    <!-- tracking changes -->
    <div>
        <h2>変更の追跡</h2>
        <p>
            <b>CollectionView</b>クラスは、データに加えられた変更を追跡できます。 これは、変更をサーバーに送信する必要がある場合に便利です。 変更追跡をオンにするには、<b>trackChanges</b>プロパティをtrueに設定します。 これを行うと、<b>CollectionView</b>はデータに加えられたすべての変更を追跡して、次の3つの配列で公開します。
        </p>
        <ul>
            <li>
                <b>itemsEdited</b>: このリストには、<b>beginEdit</b>メソッドと<b>commitEdit</b>メソッドを使用して編集された項目が含まれます。
            </li>
            <li>
                <b>itemsAdded</b>: このリストには、<b>addNew</b>メソッドと<b>commitNew</b>メソッドを使用して追加された項目が含まれます。
            </li>
            <li>
                <b>itemsRemoved</b>: このリストには、<b>remove</b>メソッドを使用して削除された項目が含まれます。
            </li>
        </ul>
        <p>
            以下に、<b>FlexGrid</b>を使用してこの機能の例を示します。 グリッドは<b>CollectionView</b>に連結され、<b>trackChanges</b>はtrueに設定されています。
        </p>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#tcHtml" role="tab" data-toggle="tab">Index.cshtml</a></li>
                        <li class="active"><a href="#tcJs" role="tab" data-toggle="tab">JS</a></li>
                        <li><a href="#tcCS" role="tab" data-toggle="tab">HomeController.cs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pane-content" id="tcHtml">
                            
&lt;h5&gt;ここでデータを変更します&lt;/h5&gt;
@@(Html.C1().FlexGrid<Category>().Id("tcMainGrid").AutoGenerateColumns(false)
    .AllowAddNew(true).AllowDelete(true)
    .Columns(columns => columns
        .Add(c => c.Binding("CategoryID"))
        .Add(c => c.Binding("CategoryName"))
        .Add(c => c.Binding("Description").Width("*")))
    .Bind(ib =>
        ib.Bind(Model.Categories).DisableServerRead(true)
        )
)
&lt;h5&gt;ここで変更を確認します&lt;/h5&gt;
&lt;h6&gt;編集された項目:&lt;/h6&gt;
@@(Html.C1().FlexGrid<Category>().Id("tcEditedGrid").AutoGenerateColumns(false)
    .IsReadOnly(true).Height(100)
    .Columns(columns => columns
        .Add(c => c.Binding("CategoryID").IsReadOnly(true))
        .Add(c => c.Binding("CategoryName"))
        .Add(c => c.Binding("Description").Width("*")))
)
&lt;h6&gt;追加された項目:&lt;/h6&gt;
@@(Html.C1().FlexGrid<Category>().Id("tcAddedGrid").AutoGenerateColumns(false)
    .IsReadOnly(true).Height(100)
    .Columns(columns => columns
        .Add(c => c.Binding("CategoryID").IsReadOnly(true))
        .Add(c => c.Binding("CategoryName"))
        .Add(c => c.Binding("Description").Width("*")))
)
&lt;h6&gt;削除された項目:&lt;/h6&gt;
@@(Html.C1().FlexGrid<Category>().Id("tcRemovedGrid").AutoGenerateColumns(false)
    .IsReadOnly(true).Height(100)
    .Columns(columns => columns
        .Add(c => c.Binding("CategoryID").IsReadOnly(true))
        .Add(c => c.Binding("CategoryName"))
        .Add(c => c.Binding("Description").Width("*")))
)

                        </div>
                        <div class="tab-pane active pane-content" id="tcJs">

$(document).ready(function () {
    //Tracking changes
    tcMainGrid = wijmo.Control.getControl('#tcMainGrid');// the flexGrid to edit the data
    tcEditedGrid = wijmo.Control.getControl('#tcEditedGrid'); // the flexGrid to record the edited items
    tcAddedGrid = wijmo.Control.getControl('#tcAddedGrid'); // the flexGrid to record the added items
    tcRemovedGrid = wijmo.Control.getControl('#tcRemovedGrid'); // the flexGrid to record the removed items
    cvTrackingChanges = tcMainGrid.itemsSource;

    tcEditedGrid.itemsSource = cvTrackingChanges.itemsEdited;
    tcAddedGrid.itemsSource = cvTrackingChanges.itemsAdded;
    tcRemovedGrid.itemsSource = cvTrackingChanges.itemsRemoved;

    // track changes of the collectionview
    cvTrackingChanges.trackChanges = true;
});

//Tracking changes
var tcMainGrid = null,
    tcEditedGrid = null,
    tcAddedGrid = null,
    tcRemovedGrid = null,
    cvTrackingChanges = null;



                        </div>
                        <div class="tab-pane pane-content" id="tcCS">

using System.Web.Mvc;
using CollectionView101.Models;
using C1.Web.Mvc.Grid;
using C1.Web.Mvc;
using C1.Web.Mvc.Serialization;
using System.Data.Entity.Validation;
using System.Data.Entity;

namespace CollectionView101.Controllers
{
    public class HomeController : Controller
    {
        private C1NWindEntities db = new C1NWindEntities();

        // GET: Home
        public ActionResult Index()
        {
            return View(db);
        }
    }
}

                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>結果（ライブ）:</h4>
                <h5>ここでデータを変更します</h5>
                @(Html.C1().FlexGrid<Category>().Id("tcMainGrid").AutoGenerateColumns(false)
                .AllowAddNew(true).AllowDelete(true)
                .Columns(columns => columns
                    .Add(c => c.Binding("CategoryID"))
                    .Add(c => c.Binding("CategoryName"))
                    .Add(c => c.Binding("Description").Width("*")))
                .Bind(ib =>
                    ib.Bind(Model.Categories).DisableServerRead(true)
                    )
                )
                <h5>ここで変更を確認します</h5>
                <h6>編集された項目:</h6>
                @(Html.C1().FlexGrid<Category>().Id("tcEditedGrid").AutoGenerateColumns(false)
                .IsReadOnly(true).Height(100)
                .Columns(columns => columns
                    .Add(c => c.Binding("CategoryID").IsReadOnly(true))
                    .Add(c => c.Binding("CategoryName"))
                    .Add(c => c.Binding("Description").Width("*")))
                )
                <h6>追加された項目:</h6>
                @(Html.C1().FlexGrid<Category>().Id("tcAddedGrid").AutoGenerateColumns(false)
                .IsReadOnly(true).Height(100)
                .Columns(columns => columns
                    .Add(c => c.Binding("CategoryID").IsReadOnly(true))
                    .Add(c => c.Binding("CategoryName"))
                    .Add(c => c.Binding("Description").Width("*")))
                )
                <h6>削除された項目:</h6>
                @(Html.C1().FlexGrid<Category>().Id("tcRemovedGrid").AutoGenerateColumns(false)
                .IsReadOnly(true).Height(100)
                .Columns(columns => columns
                    .Add(c => c.Binding("CategoryID").IsReadOnly(true))
                    .Add(c => c.Binding("CategoryName"))
                    .Add(c => c.Binding("Description").Width("*")))
                )
            </div>
        </div>
    </div>

</div>
