﻿@{
	ViewBag.Title = "UISample";
}
<h3>
	This sample demonstrates ReportViewer widget with the Toolbar UI.</h3>

<p>
Change report definition:
<select id="reportSelect">
	<option value="C1ReportXML/CommonTasks.xml|01: Alternating Background (Greenbar report)" selected="selected">
		(C1Report) CommonTasks.xml</option>
	<option value="C1ReportXML/MultiColSubreport.xml|Multi Across">(C1Report) MultiColSubreport.xml</option>
	<option value="C1ReportXML/BarcodeLabels.xml|Product Labels (EAN-13, Label 5096)">(C1Report)
		Product Labels (EAN-13, Label 5096)</option>
	<option value="~/Rdl/Nice2_SpanningGroups.rdl|">(RDL) Nice2_SpanningGroups.rdl
		(with outline)</option>
	<option value="~/Rdl/Nice3_3Reports.rdl|">(RDL) Nice3_3Reports.rdl</option>
	<option value="~/Rdl/Nice4_Big.rdl|">(RDL) Nice4_Big.rdl</option>
	<option value="~/Rdl/ReportParameters01.rdl|">(RDL) ReportParameters01.rdl</option>
	<option value="~/Rdl/ReportParameters03.rdl|">(RDL) ReportParameters03.rdl</option>
</select>
</p>
<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$("#reportSelect").change(function () {
			var arr = $("#reportSelect").val().split("|");
			$("#reportviewersample").c1reportviewer("option", "fileName", arr[0]);
			$("#reportviewersample").c1reportviewer("option", "reportName", arr[1]);
			$("#reportviewersample").c1reportviewer("generate");
		});
	});
</script>

<script language="javascript" type="text/javascript">
	$(document).ready(function () {
		$("#reportviewersample").c1reportviewer({
			reportServiceUrl: "@Url.Content("~/reportService.ashx")",
		    fileName: "C1ReportXML/CommonTasks.xml",
		    reportName: "01: Alternating Background (Greenbar report)",
			zoom: "fit width",
		});
	});
</script>
<div id="reportviewersample" style="width: 800px; height: 600px;">
	<div class="c1-c1reportviewer-toolbar ui-widget-header ui-corner-all">
		<button class="print" title="Print">
			Print</button><span class="exportgroup">
				<button class="export">
				Export</button>
				<button class="select_export_format">
					select export format</button></span>
		<button class="firstpage" title="First page">
						First page</button>
		<button class="previouspage" title="Previous page">
							Previous page</button><span><input type="text" class="pageindex" value="1" />
								/
								<label class="pagecount">
									0</label></span>
		<button class="nextpage" title="Next page">
										Next page</button>
		<button class="lastpage" title="Last page">
											Last page</button>
		<button class="zoomout" title="Zoom out">
												Zoom out</button>
		<button class="zoomin" title="Zoom in">
													Zoom in</button><select class="zoom"><option value="10%">10%</option>
														<option value="25%">25%</option>
														<option value="50%">50%</option>
														<option value="75%">75%</option>
														<option selected="selected" value="100%">100%</option>
														<option value="125%">125%</option>
														<option value="150%">150%</option>
														<option value="200%">200%</option>
														<option value="400%">400%</option>
														<option value="actual size">Actual size</option>
														<option value="fit page">Fit page</option>
														<option value="fit width">Fit width</option>
														<option value="fit height">Fit height</option>
													</select><span><input type="checkbox" id="c1reportviewer_continuousview_0" class="continuousview" /><label
														for="c1reportviewer_continuousview_0">continuous view</label></span><span><input
															type="checkbox" id="c1reportviewer_fullscreenmode_1" class="fullscreenmode" /><label
																for="c1reportviewer_fullscreenmode_1">full screen</label></span></div>
	<div id="ctl15" class="__c1splitter  c1-c1reportviewer-splitter" style="height: 250px;
		width: 400px;">
		<div>
			<div class="c1-c1reportviewer-tabs">
				<ul>
				</ul>
			</div>
		</div>
		<div>
			<div class="wijmo-wijreportviewer-reportpane">
				<center class="wijmo-wijreportviewer-content">
				</center>
			</div>
		</div>
	</div>
	<div class="c1-c1reportviewer-statusbar">
	</div>
</div>
