﻿body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    padding: 0 0 10px;
}

body a,
body a:focus,
body a:hover {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}

h2 {
    margin-top: 24px;
    margin-left: -12px;
}

.container {
    min-width: 248px;
}

    .container p {
        min-width: 358px;
    }

.header {
    background-color: #ff000a;
    margin-bottom: 14px;
    padding: 12px 0;
}

    .header h1 {
        font-size: 40px;
        line-height: 1;
        margin-top: 0;
    }


    .header img {
        float: left;
        margin: 0 10px 5px 0;
    }

.pane-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    font-size: 13px;
    overflow: auto;
    padding: 0 8px;
    white-space: pre;
}

.app-input-group {
    margin: 5px 0 10px;
}

    .app-input-group > label {
        display: block;
    }

.pane-content code {
    background-color: #fff;
    color: #000;
    padding: 0;
}

/* Wijmo Supporting Classes */
.radial-gauge,
.custom-gauge.wj-radialgauge {
    height: 200px;
}

.linear-gauge,
.radial-gauge,
.custom-gauge {
    margin: 7px 0 5px;
}

    /*
 *  Custom CSS class for "Styling" example
 *  Creates orange gauge pointer
 */
.custom-gauge .wj-pointer path{
  fill: #ffa500;
  stroke: #cd853f;
}

.vertical-gauge {
    height: 300px;
    width: 1.2em;
}

.tab-pane {
    max-height:450px;
}

.download-link {
    background: #00C9C6 url(../images/download.png) no-repeat 16px 10px;
    position: absolute;
    right: 20%;
    width: 250px;
    height: 45px;
    border-radius: 4px;
    top: 148px;
}

    .download-link a {
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-size: 15pt;
        line-height: 10px;
        padding-left: 50px;
        height: 40px;
        font-family: Calibri;
    }

@media (max-width: 991px) {
    .header h1 {
        font-size: 22px;
        line-height: 1;
        margin-top: 7px;
        color: #fff;
    }

    h2 {
        font-size: 22px;
        margin: 10px 0 25px 0;
    }

    .wj-dropdown {
        margin-bottom: 10px;
        width: 100%;
    }

    .dl-horizontal,
    .btn-group,
    .input-group {
        margin-bottom: 10px;
    }

    .download-link {
        right: 0;
        float: none;
        background: #00C9C6 url(../images/download.png) no-repeat 6px 3px;
        right: 10%;
        position: relative;
        width: 180px;
        top: 134px;
        height: auto;
        margin-left: -120px;
        z-index: 100;
    }

    .sample-page.download-link {
        position: absolute;
        left: auto;
    }

    .download-link a {
        display: inline-block;
        font-size: 11pt;
        font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
        padding-left: 35px;
        padding-right: 5px;
        line-height: 30px;
        height: 30px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 16px;
    }

    .dl-horizontal dd {
        width: 48%;
        float: right;
    }

    .dl-horizontal dt {
        width: 48%;
        float: left;
        text-align: right;
    }

    .download-link {
        width: 120px;
    }

        .download-link a {
            font-size: 10pt;
            line-height: 14px;
            height: auto;
        }
}

@media (max-width: 367px) {
    .sample-page.download-link {
        width: 38px;
        top: 163px;
    }

        .sample-page.download-link a {
            padding-left: 0;
            padding-right: 0;
            width: 38px;
            height: 30px;
            color: transparent;
        }
}