<html ng-app="wijmo">
<head>
    <meta charset="utf-8">
    <title>Collections</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=960">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Wijmo CSS and script -->
    <link href="http://cdn.wijmo.com/themes/metro/jquery-wijmo.css" rel="stylesheet" title="metro-jqueryui" type="text/css" />
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20173.126.min.css" rel="stylesheet" type="text/css" />

    <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20161.90.min.js" type="text/javascript"></script>
    <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20161.90.min.js" type="text/javascript"></script>

    <!-- #Region "links" -->
    <!-- Angular. This must come after jQuery. -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="http://cdn.wijmo.com/interop/angular.wijmo.3.20161.90.js" type="text/javascript"></script>
    <!-- #End Region -->
    

    <!-- #Region "js" -->
    <script type="text/javascript">
        //Person class
        function Person(data) {
            this.ID = data.ID;
            this.Company = data.Company;
            this.Name = data.Name;
            this.Sales = data.Sales;
        };

        function MyController($scope, $locale) {
            $scope.list = [
                  new Person({ ID: "ANATR", Company: "Ana Trujillo Emparedados y helados", Name: "Ana Trujillo", Sales: 8900 }),
                  new Person({ ID: "ANTON", Company: "Antonio Moreno Taqueria", Name: "Antonio Moreno", Sales: 4500 }),
                  new Person({ ID: "AROUT", Company: "Around the Horn", Name: "Thomas Hardy", Sales: 7600 }),
                  new Person({ ID: "BERGS", Company: "Berglunds snabbkop", Name: "Christina Berglund", Sales: 3200 })
            ];
        }
    </script>
    <!-- #End Region -->

</head>
<body ng-controller="MyController">
    <!-- #Region "markup" -->
    <h2>Chart</h2>
    <wij-barchart dataSource="list">
        <header text="Sales"></header>
        <series-list>
            <series label="Sales">
                <data>
                    <x bind="Name" ></x>
                    <y bind="Sales"></y>
                </data>
            </series>
        </series-list>
    </wij-barchart>
    <h2>Grid</h2>
    <wij-grid id="dataGrid" data="list" allow-editing="true" style="width: 600px;">
         <columns>
            <column></column>
            <column></column>
            <column></column>
            <column data-type="number">
                <cell-template>
                    <wij-slider value="rowData.Sales" max="10000"></wij-slider>
                </cell-template>
            </column>
        </columns>
    </wij-grid>
    <h2>Table</h2>
    <table>
        <tbody id="dataTable">
            <tr ng-repeat="item in list">
                <td>{{item.ID}}</td>
                <td>{{item.Company}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Sales}}</td>
            </tr>
        </tbody>
    </table>
    <!-- #End Region -->
</body>
</html>
