<!DOCTYPE html>
<html ng-app="wijmo">
<head>
<!-- #Region "references" -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>

<!--Theme-->
<link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets CSS-->
<link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20173.126.min.css" rel="stylesheet" type="text/css" />

<!-- Wijmo Scripts -->
<script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20173.126.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20173.126.min.js" type="text/javascript"></script>

<!-- Angular -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="http://cdn.wijmo.com/interop/angular.wijmo.3.20173.126.min.js"></script>
<!-- #End Region -->
<!-- #Region "js" -->
<script>
    function myCtrl($scope) {
        $scope.zoom = 3;
        $scope.center = { x: 121.4, y: 31.2 };
        $scope.source = "bingMapsAerialSource";
    }
</script>
<!-- #End Region -->
</head>
<body ng-controller="myCtrl">
<!-- #Region "markup" -->
center.x:<span>{{center.x}}</span><br/>
center.y:<span>{{center.y}}</span><br/>
zoom:<span>{{zoom}}</span>
<wij-maps zoom="zoom"  center="center" source="source" style="width:680px; height: 400px;">
</wij-maps>
<!-- #End Region -->
</body>
</html>
