@model IEnumerable<FlexGridData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexGrid.CustomEditing_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.CustomEditing_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.CustomEditing_Text2)
</p>
<ul>
    <li>
        @Html.Raw(Resources.C1FlexGrid.CustomEditing_Text3)
    </li>
    <li>
        @Html.Raw(Resources.C1FlexGrid.CustomEditing_Text4)
    </li>
</ul>
<div id="log">
    @Html.Raw(Resources.C1FlexGrid.CustomEditing_Text5)
</div>
@(Html.C1().FlexGrid().Id("theGrid").Height(200)
    .AutoGenerateColumns(false)
    .Bind(Model)
    .Columns(cs =>
    {
        cs.Add().Binding("Id").Header("ID").Width("50").IsReadOnly(true);
        cs.Add().Binding("Country").Header("Country").IsRequired(true);
        cs.Add().Binding("Sales").Header("Sales").Format("n2");
        cs.Add().Binding("Expenses").Header("Expenses").Format("n2");
        cs.Add().Binding("Overdue").Header("Overdue");
    })
)