@model IEnumerable<FlexGridData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexGrid.EventsSelection_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.EventsSelection_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.EventsSelection_Text2)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.EventsSelection_Text3)
</p>
<div id="log">
    @Html.Raw(Resources.C1FlexGrid.EventsSelection_Text4)
</div>
@Html.C1().FlexGrid().Id("theGrid").Bind(Model).GroupBy("Country").Height(220)