﻿@{
    ControlOptions optionsModel = ViewBag.DemoOptions;
    ViewBag.DemoSettings = true;
    List<string> countries = ViewBag.Countries;
}
@section Scripts{
<script>
    var checkedItemsChanged = function (sender, e) {
        var i, result = document.getElementById("result"),
            items = sender.checkedItems;

        if (result) {
            result.innerHTML = "";
        }

        for (i = 0; i < items.length; i++) {
            result.innerHTML += "<span>" + (i + 1) + ". " + items[i] + "<\/span><br>";
        }
    }
</script>
}

<div>
    <label>@Html.Raw(Resources.MultiSelect.Index_Text0)</label>

    @(Html.C1().MultiSelect()
    .Name("countries")
    .Id("multiselect")
    .Bind(countries)
    .Placeholder(Resources.MultiSelect.Index_Placeholder)
    .FilterInputPlaceholder(Resources.MultiSelect.Index_FilterInputPlaceholder)
    .HeaderFormat(Resources.MultiSelect.Index_HeaderFormat)
    .ShowFilterInput(Convert.ToBoolean(optionsModel.Options["Show Filter Input"].CurrentValue))
    .CheckOnFilter(Convert.ToBoolean(optionsModel.Options["Check On Filter"].CurrentValue))
    .OnClientCheckedItemsChanged("checkedItemsChanged")
    )

    <label>@Html.Raw(Resources.MultiSelect.Index_SelectResults)</label>

    <div id="result"></div>
</div>
@section Settings{
    @Html.Partial("_OptionsMenu", optionsModel)
}

@section Description{
    <p>@Html.Raw(Resources.MultiSelect.Index_Text1)</p>
    <p>@Html.Raw(Resources.MultiSelect.Index_Text2)</p>
    <p>@Html.Raw(Resources.MultiSelect.Index_Text3)</p>
}