@model IEnumerable<FlexGridData.Sale>

<h1>
    @Html.Raw(Resources.C1Mvc.CVStableSort_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Mvc.CVStableSort_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.CVStableSort_Text2)
</p>
@(Html.C1().FlexGrid().Id("theGrid").Height(250)
    .Bind(b=>b.Bind(Model).DisableServerRead(true))
)

<p>
    @Html.Raw(Resources.C1Mvc.CVStableSort_Text3)
</p>    