﻿@section Styles{
    <style>
        .popover {
            display: block;
        }
    </style>
}

@(Html.C1().FileManager().Id("FileManager")
  .HostUrl("http://localhost:61712")
  .RootFolder("test1")
  .CloudType(CloudTypes.DropBox)
)

@section Summary{
<p>@Html.Raw(Resources.CloudFileExplorer.Index_Text1)</p>
}

@section Description{
    @Html.Raw(Resources.CloudFileExplorer.Index_Text0)
}