﻿@model Property[]

@{
    ControlOptions optionsModel = ViewBag.DemoOptions;
    ViewBag.DemoSettings = true; 
}

@(Html.C1().TreeView()
    .Bind(Model)
    .DisplayMemberPath("Header")
    .ChildItemsPath("Items")    
    .IsAnimated(Convert.ToBoolean(optionsModel.Options["IsAnimated"].CurrentValue))
    .AutoCollapse(Convert.ToBoolean(optionsModel.Options["AutoCollapse"].CurrentValue))
    .ExpandOnClick(Convert.ToBoolean(optionsModel.Options["ExpandOnClick"].CurrentValue))
    .ExpandOnLoad(Convert.ToBoolean(optionsModel.Options["ExpandOnLoad"].CurrentValue)))

@section Settings{
    @Html.Partial("_OptionsMenu", optionsModel)
}

@section Summary{
    <p>@Html.Raw(Resources.TreeView.Index_Text0)</p>
}

@section Description{
    <p>@Html.Raw(Resources.TreeView.Index_Text1)</p>
    <p>@Html.Raw(Resources.TreeView.Index_Text2)</p>
}