﻿
@(Html.C1().TreeView()
    .Bind(Url.Action("Load"), Url.Action("LazyLoading_LoadAction"))
    .DisplayMemberPath("Name")
    .ChildItemsPath("SubExployees"))

@section Summary{
    <p>@Html.Raw(Resources.TreeView.LazyLoading_Text0)</p>
}

@section Description{
    <p>@Html.Raw(Resources.TreeView.LazyLoading_Text1)</p>
    <p>@Html.Raw(Resources.TreeView.LazyLoading_Text2)</p>
    <p>@Html.Raw(Resources.TreeView.LazyLoading_Text3)</p>
    <p>@Html.Raw(Resources.TreeView.LazyLoading_Text4)</p>
    <p>@Html.Raw(Resources.TreeView.LazyLoading_Text5)</p>
}