﻿.wijmo-wijreportviewer
{

}
.wijmo-wijreportviewer-reportpane
{
    overflow: auto;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: #666666;
}

.wijmo-wijreportviewer-content
{
	padding: 7px 0px 7px 0px;
}


.wijmo-wijreportviewer .C1Page
{
    padding: 0;
    margin: 5px 5px 5px 5px;
    position: relative;
    cursor: text;
    border: 1px solid black;
    background-color: #FFFFFF;    
    display: block; 
    clear: both;
}
.wijmo-wijreportviewer .C1Page.C1NotLoaded
{
	cursor: wait;
}
.wijmo-wijreportviewer .C1Page .C1Image 
{
    width: 100%;
    height: 100%;
}
.wijmo-wijreportviewer-paged .C1Page
{
    display: none;
}

.wijmo-wijreportviewer-paged .C1Page.C1Current
{
    display: block;
    /*display: inline-block;*/    
}

.wijmo-wijreportviewer-reportpane .C1Highlight
{
    position: absolute;
    display: block;
    background-color: #2283ff;
	display:block;	
	opacity: .3;
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	filter: alpha(opacity=30);
}
.wijmo-wijreportviewer-reportpane .C1Hyperlink
{
    position: absolute;
    cursor: pointer;
    display: block;
	opacity: .02;
	-moz-opacity: 0.02;
	-khtml-opacity: 0.02;
	filter: alpha(opacity=2);
	background-color: yellow;
	border-bottom: 1px solid yellow;
	z-index: 10;
}
.wijmo-wijreportviewer-log
{	
	font-size: 12px;
	margin: 0;
	padding:0;
	text-align: left;
}

.wijmo-wijreportviewer-log .error 
{
	color: Red;
	font-weight: bold;
}

.wijmo-wijreportviewer-log .warning
{
	color: blue;
	font-weight: bold;
}

.wijmo-wijreportviewer-log .information
{
	font-weight: normal;
}

.wijmo-wijreportviewer-log .status
{
	font-weight: bold;
}

.wijmo-wijreportviewer-DPI-test 
{
  position: absolute;
  left: -100%;
  top: -100%;
  height: 1in;
  width: 1in;
  visibility:hidden;
}

.wijmo-wijreportviewer-selection-area
{
    position: absolute;
    width: 200px;
    height: 200px;
    left: -220px;
    top:0px;
    -moz-opacity:.0; 
    -ms-filter:"alpha(opacity=0)";
    filter:alpha(opacity=0); 
    opacity:.0;
}

.wijmo-wijreportviewer-paramspane.wijmo-wijexpander
{
	
}
.wijmo-wijreportviewer-paramspane.wijmo-wijexpander .ui-expander-header
{
	height: 20px;
	width: 180px;
	overflow: hidden;
}
.wijmo-wijreportviewer-paramspane.wijmo-wijexpander .ui-expander-header a
{
	margin-top:0px;
	padding-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;	
	font-size: 14px;
	line-height: 18px;
}

.wijmo-wijreportviewer-paramspane.wijmo-wijexpander .ui-expander-content
{	
	border-top: 1px solid #A8A8A8;
}