﻿<!doctype html>
<html lang="en">
<head>
    <title>Wijmo - UI for the web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <!-- SyntaxHighligter does before any requirejs -->
    <link href="css/shCoreDefault.css" rel="stylesheet" type="text/css" />
    <link href="css/shThemeMidnight.css" rel="stylesheet" type="text/css" />
    <script src="js/shCore.js" type="text/javascript"></script>
    <script src="js/shBrushJScript.js" type="text/javascript"></script>
    <script src="js/shBrushXml.js" type="text/javascript"></script>
    <script src="js/shBrushCss.js" type="text/javascript"></script>
    <script type="text/javascript">
        // fixed the issue for highlight issue bellow ie9.  when play animation, it will throw exception.
        if (XRegExp) {
            var xExec = RegExp.prototype.exec;
            RegExp.prototype.exec = function (str) {
                if (str && !str.slice || str === 0)
                    str = String(str);
                return xExec.call(this, str);
            };
        }
    </script>
    <script src="http://cdn.wijmo.com/amd-js/q.js" type="text/javascript"></script>

    <!--Theme-->
    <link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" class="wijmo-stylesheet-wijmo-theme" rel="stylesheet" type="text/css" title="rocket-jqueryui" />
    <!--Wijmo Widgets CSS-->
    <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.<%= pkg.version %>.min.css" rel="stylesheet" type="text/css" />
    <!--Widget Explorer CSS-->
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <script src="js/require.js" type="text/javascript"></script>
    <script src="js/require.wijmo.config.js" type="text/javascript"></script>

    <!--Widget Explorer Scripts-->
    <script src="js/explore.js" type="text/javascript"></script>
    <script src="js/FileSaver.js"></script>
    <script src="js/exportutils.js"></script>
    <script src="js/modernizr-2.5.3.js" type="text/javascript"></script>
</head>
<body>
    <div>
        <div class="wrapper">
            <header>
                <div class="branding ui-helper-clearfix">
                    <h1 id="logo"><a href="/">Wijmo - UI for the web</a></h1>
                    <div id="button-container"><a class="downloadlink" href="https://www.grapecity.com/en/download/wijmo-enterprise"><span class="downloadlink-inner"><span class="download-get">Get</span> <span class="download-wijmo">Wijmo</span> </span></a></div>
                </div>
                <div class="title-bar-container">
                    <div class="title-bar ui-helper-clearfix">
                        <div class="menu-container">
                            <div class="menu-extender"></div>
                            <div class="padder">
                                <span data-bind="'if': mode() != 'widgets'"><a id="WidgetsHerf" class="button" data-bind="    click: setMode.bind($data, 'widgets')">
                                    <img src="images/dots.png"><span style="display: none;">Widgets</span></a> </span><span data-bind="'if': mode() == 'widgets'"><a id="widget-home" class="button button-icon" data-bind="    click: setMode.bind($data, 'home')">
                                        <img src="images/icons/24/home.png"></a> </span><span data-bind="'if': mode() == 'sample'">
                                            <select style="width:150px;" id="themes" data-bind="value: theme, wijdropdown: {}">
                                                <optgroup label="Wijmo">
                                                    <option value="http://cdn.wijmo.com/themes/arctic/jquery-wijmo.css">Arctic</option>
                                                    <option value="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" selected="selected">Aristo</option>
                                                    <option value="http://cdn.wijmo.com/themes/midnight/jquery-wijmo.css">Midnight</option>
                                                    <option value="http://cdn.wijmo.com/themes/metro/jquery-wijmo.css">Metro</option>
                                                    <option value="http://cdn.wijmo.com/themes/metro-dark/jquery-wijmo.css">Metro Dark</option>
                                                    <option value="http://cdn.wijmo.com/themes/rocket/jquery-wijmo.css">Rocket</option>
                                                    <option value="http://cdn.wijmo.com/themes/cobalt/jquery-wijmo.css">Cobalt</option>
                                                    <option value="http://cdn.wijmo.com/themes/sterling/jquery-wijmo.css">Sterling</option>
                                                    <option value="http://cdn.wijmo.com/themes/stafford/jquery-wijmo.css">Stafford</option>
                                                    <option value="http://cdn.wijmo.com/themes/lucid/jquery-wijmo.css">Lucid</option>
                                                </optgroup>
                                                <optgroup label="jQuery UI">
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/black-tie/jquery-ui.css">Black Tie</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/blitzer/jquery-ui.css">Blitzer</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/cupertino/jquery-ui.css">Cupertino</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/dark-hive/jquery-ui.css">Dark Hive</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/dot-luv/jquery-ui.css">Dot Luv</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/eggplant/jquery-ui.css">Eggplant</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/excite-bike/jquery-ui.css">Excite Bike</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/flick/jquery-ui.css">Flick</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/hot-sneaks/jquery-ui.css">Hot Sneaks</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/humanity/jquery-ui.css">Humanity</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/le-frog/jquery-ui.css">Le Frog</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/mint-choc/jquery-ui.css">Mint Chocolate</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/overcast/jquery-ui.css">overcast</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/pepper-grinder/jquery-ui.css">Pepper Grinder</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/redmond/jquery-ui.css">Redmond</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/smoothness/jquery-ui.css">Smoothness</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/south-street/jquery-ui.css">South Street</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/start/jquery-ui.css">Start</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/sunny/jquery-ui.css">Sunny</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/swanky-purse/jquery-ui.css">Swanky Purse</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/trontastic/jquery-ui.css">Trontastic</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/ui-darkness/jquery-ui.css">UI Darkness</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/ui-lightness/jquery-ui.css">UI Lightness</option>
                                                    <option value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/vader/jquery-ui.css">Vader</option>
                                                </optgroup>
                                            </select>
                                        </span>
                            </div>
                        </div>
                        <div class="ribbon">
                            <div class="ribbon-right"></div>
                            <h2 data-bind="text: title">Welcome</h2>
                        </div>
                    </div>
                </div>
            </header>
            <div data-bind="hisShow: { selector: 'section', value: mode() }">
                <section class="sectionhome ui-helper-clearfix intro-container">
                    <div class="column intro">
                        <div class="padder">
                            <h3 class="page-title">Everything You Need to Build a Better Web</h3>
                            <p>Wijmo is a complete kit of over 40 UI widgets with everything from interactive menus to rich charts. If you know jQuery, you know Wijmo. Complete with documentation and professional support, every widget is hand-crafted and includes premium themes. </p>
                        </div>
                    </div>
                    <div class="column feed">
                        <div class="padder">
                            <h3 class="page-title">Articles</h3>
                            <ul>
                                <li><a title="Wijmo Officially Supports AngularJS" href="https://www.grapecity.com/en/blogs/wijmo-officially-supports-angularjs/">Wijmo Officially Supports AngularJS</a> </li>
                                <li><a title="Grid with Knockout ViewModel loading Remote Data" href="https://www.grapecity.com/en/blogs/grid-with-knockout-viewmodel-loading-remote-data/">Grid with Knockout ViewModel loading Remote Data</a> </li>
                                <li><a title="A Smooth Transition to HTML5 Using MVVM" href="https://www.grapecity.com/en/blogs/a-smooth-transition-to-html5-using-mvvm/">A Smooth Transition to HTML5 Using MVVM</a> </li>
                                <li><a title="Wijmo Officially Supports Knockout" href="http://www.grapecity.com/en/blogs/wijmo-officially-supports-knockout/">Wijmo Officially Supports Knockout</a> </li>
                                <li><a title="Chris Bannon interviewed at Fluent" href="http://www.grapecity.com/en/blogs/chris-bannon-interviewed-at-fluent-2012/">Chris Bannon interviewed at Fluent 2012</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column">
                        <div class="padder">
                            <h3 class="page-title">Favorites</h3>
                            <ul id="ul_FavoriteWidgets" class="favorite-widgets widget-icons ui-helper-clearfix" data-bind="foreach: widgetFavorites()">
                                <li data-bind="css:{lastColumn: isLastColumn}"><a data-bind="attr: { href: name }, click: $parent.selectWidget">
                                    <img data-bind="attr: { src: imageUrl }" />
                                    <span data-bind="text: name"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="nosidebar sectionwidgets">
                    <article class="ui-helper-clearfix">
                        <div class="main-content">
                            <div class="padder">
                                <ul id="ul_Widgets" class="widget-icons widget-icons-grid ui-helper-clearfix" data-bind="foreach: widgetList()">
                                    <li><a data-bind="attr: { href: name }, click: $parent.selectWidget">
                                        <img data-bind="attr: { src: imageUrl }" />
                                        <span data-bind="text: name"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </section>
                <section class="sectionsample">
                    <aside data-bind="">
                        <div class="padder">
                            <h4 class="sample-title">Samples</h4>
                            <div role="secondary" class="secondary">
                                <div class="samples" data-bind="wijsuperpanel: { vScroller: { scrollMode: 'scrollbar', scrollBarVisibility: 'auto' } }">
                                    <!-- ko with: currentWidget -->
                                    <ul id="sampleList" class="sample-list" data-bind="foreach: actions">
                                        <li data-bind="attr: { 'class': page == $root.currentPage() ? 'demo-config-on' : '' }"><a data-bind="    attr: { href: page }, click: $root.selectSample"><span data-bind="    text: name"></span></a></li>
                                    </ul>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </aside>
                    <article class="ui-helper-clearfix">
                        <div class="main-content">
                            <div class="padder">
                                <h3 class="main-sample-title" id="sampleTitle" data-bind="text: sampleTitle">Overview</h3>
                                <div id="ctl00_WidgetTabs" data-bind="wijtabs: {}">
                                    <ul id="ctl00_WidgetTabs_ul">
                                        <li><a href="#SampleContainer">Sample</a></li>
                                        <li><a href="#SourceContainer">Source</a></li>
                                        <!-- ko with: currentWidget -->
                                        <li><a id="DocLink" href="#DocContainer" data-bind="attr: { href: documentation }">Docs <span class="ui-icon ui-icon-newwin"></span></a></li>
                                        <!-- /ko -->
                                    </ul>
                                    <div id="SampleContainer" class="SampleContainer">
                                        <div data-bind="html: sample"></div>
                                        <div id="InfoContainer" class="InfoContainer">
                                            <div data-bind="html: info"></div>
                                        </div>
                                    </div>
                                    <div id="SourceContainer" class="SourceContainer">
                                        <div></div>
                                    </div>
                                    <div id="DocContainer" class="DocContainer"></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
            <footer class="ui-helper-clearfix footer" id="colophon">
                <p id="lblcolophon"></p>
                <div class="social">
                    <a href="http://twitter.com/wijmo">
                        <img src="images/icons/32/picons33.png" alt="Twitter" /></a> <a href="http://facebook.com/wijmo">
                            <img src="images/icons/32/picons36.png" alt="Twitter" /></a>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
