﻿body {
	background-color: #f8f8f8;
	font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
	padding: 0 0 10px;-ms-overflow-style: scrollbar;
}

body a,
body a:focus,
body a:hover{
	text-decoration: none;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
	font-weight: 300;
}

.container {
	min-width:248px;
}

.container p {
	min-width:358px;
}

.header {
	background-color: #ff000a;
	margin-bottom: 14px;
	padding: 12px 0;
}

	.header h1 {
		font-size: 40px;
		line-height: 1;
		margin-top: 0;
	}


	.header img {
		float: left;
		margin: 0 10px 5px 0;
	}

#plotSelection {
    background-color:rgba(85, 85, 85, 0.05);
    border:2px dashed #808080;
    position:absolute;
    display:block;
    left:0;
    top:0;
    pointer-events:none;
    visibility: hidden;
}