﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon/favicon-16x16.png")" sizes="16x16">
    <link rel="manifest" href="@Url.Content("~/favicon/manifest.json")">
    <link rel="mask-icon" href="@Url.Content("~/favicon/safari-pinned-tab.svg")" color="#503b75">



    <!-- jQuery/Bootstrap -->
    <script src="https://code.jquery.com/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    @Html.C1().Styles()
    @Html.C1().Scripts().Basic()
    <!-- app scripts and styles -->
    <script src="@Url.Content("~/scripts/finance.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/styles/app.css")" rel="stylesheet" type="text/css" />
</head>
<body>


    @RenderBody()
    <!-- Footer -->
    <div class="container">
        <a href="http://www.grapecity.com/">
            <i class="gcicon-logo-gc-horiz"></i>
        </a>
        <p>
            © @DateTime.Now.Year GrapeCity, Inc. All Rights Reserved.<br />
            All product and company names here in may be trademarks of their respective owners.
        </p>
        <a href="http://facebook.com/wijmo">
            <img src="@Url.Content("~/resources/icons/32/picons36.png")" alt="facebook" />
        </a>
        <a href="http://twitter.com/wijmo">
            <img src="@Url.Content("~/resources/icons/32/picons33.png")" alt="Twitter" />
        </a>
        <br /><br />
    </div>
</body>
</html>
