﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Wijmo.master" AutoEventWireup="true" CodeFile="Preview.aspx.cs" Inherits="Calendar_Preview" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

	<asp:Panel ID="Panel1" runat="server">
	</asp:Panel>

	<wijmo:WijCalendar ID="Calendar1" runat="server" TargetControlID="Panel1" AllowPreview="true" />


</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Description" runat="server">
<p>
WijCalendar allows taking a preview of previous or next month without navigating. 
</p>

<p>
Preview buttons are displayed if the <b>AllowPreview</b> property is set to true. 
</p>

<p>
When the project is loaded, users can preview the next or previous month by hovering over the indicators on either side of the control.
</p>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ControlOptions" runat="server">
</asp:Content>



