﻿@model C1NWindEntities

<div>
    <label>@Html.Raw(Resources.MultiSelect.ComplexType_Text0)</label>

    @(Html.C1().MultiSelect()
    .Bind(Model.Products)
    .Name("products")
    .DisplayMemberPath("ProductName")
    .SelectedValuePath("ProductID")
    .CheckedMemberPath("Discontinued")
    )
</div>
@section Description{
    @Html.Raw(Resources.MultiSelect.ComplexType_Text1)
}
