﻿@{
    List<string> countries = ViewBag.Countries;
}
@section Scripts{
<script>
    var checkedItemsChanged = function (sender, e) {
        var i, result = document.getElementById("result"),
            items = sender.checkedItems;

        result.innerHTML = "";

        for (i = 0; i < items.length; i++) {
            result.innerHTML += "<span>" + (i + 1) + ". " + items[i] + "<\/span><br>";
        }
    }
</script>
}

<div>
    <label>@Html.Raw(Resources.MultiSelect.Index_Text0)</label>

    @(Html.C1().MultiSelect()
    .Name("countries")
    .Id("multiselect")
    .Bind(countries)
    .Placeholder(Resources.MultiSelect.Index_Placeholder)
    .HeaderFormat(Resources.MultiSelect.Index_HeaderFormat)
    .OnClientCheckedItemsChanged("checkedItemsChanged"))

    <label>@Html.Raw(Resources.MultiSelect.Index_SelectResults)</label>

    <div id="result"></div>
</div>

@section Description{
    @Html.Raw(Resources.MultiSelect.Index_Text1)
}