﻿@model IEnumerable<CustomerOrder>
@{
    ViewBag.DemoSettings = true;
    ClientSettingsModel demoSettingsModel = ViewBag.DemoSettingsModel;
}

@(Html.C1().FlexPie<CustomerOrder>().Id(demoSettingsModel.ControlId)
        .InnerRadius(demoSettingsModel.GetFloat("InnerRadius", 0f))
        .Header("Sales").Bind("Country", "Count", Model).DataLabel(dl=>dl.Content("{value}")))
@section Scripts{
<script>
    function convertPalette(value) {
        return wijmo.chart.Palettes[value];
    }
</script>
}
@section Description{
    <p>@Html.Raw(Resources.FlexPie.Index_Text0)</p>
    <p>@Html.Raw(Resources.FlexPie.Index_Text1)</p>
}