﻿body {
	background-color: #f8f8f8;
	font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
	padding: 0 0 10px;-ms-overflow-style: scrollbar;
}

body a,
body a:focus,
body a:hover{
	text-decoration: none;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
	font-weight: 300;
}

.container {
	min-width:248px;
}

.container p {
	min-width:358px;
}

.header {
	background-color: #ff000a;
	margin-bottom: 14px;
	padding: 12px 0;
}

	.header h1 {
		font-size: 40px;
		line-height: 1;
		margin-top: 0;
	}


	.header img {
		float: left;
		margin: 0 10px 5px 0;
	}


.pane-content {
    background-color: white;
    padding: 0px 8px;
    border: 1px solid #dddddd;
    border-top: none;
    white-space: pre;
    overflow: auto;
    font-size: 13px;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

/* set default chart style */
.wj-flexchart {
    height: 400px;
    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
    padding: 8px;
    margin-bottom: 12px;
}
    .wj-flexchart .wj-title {
        font-weight: bold;
    }
    .wj-flexchart .wj-header .wj-title {
        font-size: 18pt;
        fill: #80044d;
    }
    .wj-flexchart .wj-footer .wj-title {
        fill: #80044d;
    }
    .wj-flexchart .wj-axis-x .wj-title,
    .wj-flexchart .wj-axis-y .wj-title {
        font-style: italic;
    }

/* some extra spacing between the items */
.row {
    margin-top: 40px;
    margin-bottom: 25px;
}

/* responsive layout */
@media(min-width: 992px) {
    .collapse.app-lg-visible {
        display: block;
    }

    .btn.collapse {
        display: none !important;
    }
}

@media(max-width: 991px) {
    .header h1 {
        font-size: 22px;
        line-height: 1;
        margin-top: 7px;
        color: #fff;
    }

    h2 {
        font-size: 22px;
        margin: 10px 0 25px 0;
    }

    h4 {
        display: none;
    }

    .wj-flexchart {
        box-shadow: 2px 2px 8px 0 rgba(50, 50, 50, 0.5);
        margin-bottom: 15px;
    }

    .tabbable {
        margin-bottom: 20px;
    }

    .wj-dropdown {
        width: 100%;
        margin-bottom: 10px;
    }

    .dl-horizontal, .btn-group, .input-group {
        margin-bottom: 10px;
    }

    .btn[data-target] {
        width: 100%;
        margin-bottom: 20px;
    }

    .row {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

@media(max-width: 767px) {
    code {
        white-space: normal;
    }
}

.wj-flexchart .wjanno-editable-layer .wjanno-container {
    fill: #eee;
    stroke: #666;
    stroke-width: 1;
}

.wj-flexchart .wjanno-editable-layer .wjanno-dc-icon .wjanno-container {
    fill: #eee;
}

.wj-flexchart .wjanno-editable-layer .wjanno-icon-selected .wjanno-container {
    fill: #89E;
}

.no-selection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.wj-flexchart {
    padding-bottom: 25px;
}
/****  Axis Scrollbar Css *****/
.wj-flexchart .wj-axis-scrollbar-container {
    position: relative;
}

.wj-flexchart .wj-axis-scrollbar-container .wj-chart-rangeslider {
    border: 1px solid #EAEAEA;    
    background-color: #EAEAEA;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.wj-flexchart .wj-axis-scrollbar-container .wj-chart-hrangeslider {
    height: 20px;
}

.wj-flexchart .wj-axis-scrollbar-container .wj-chart-vrangeslider {
    width: 20px;
}

